---
title: "51st FIG AG World Championships Liverpool"
year: 2022
startdate: 2022-10-29
enddate: 2022-11-06
country: "GBR"
category: "worlds"
layout: results
---

{% include resultsheader.html title="51st FIG Artistic Gymnastics World Championships<br>Liverpool (GBR)<br>2022 Oct 29 - Nov 6" %}
 
<img src="images/logo.png" alt="Event logo">

<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Artur Davtyan (ARM)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Zou Jingyuan (CHN)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Brody Malone (USA)</li>
	</ul>
	<br>
	<a href="documents/mag/magvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/mag/magpbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/mag/maghbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Watanabe Hazuki (JPN)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Jessica Gadirova (GBR)</li>
	</ul>
	<br>
	<a href="documents/wag/wagbbfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wag/wagfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>

<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Giarnni Regini-Moran (GBR)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Rhys McClenaghan (IRL)</li>
		<li><b>Rings</b> 🥇Gold - Adem Asil (TUR)</li>
	</ul>
	<br>
	<a href="documents/mag/magfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/mag/magphfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/mag/magsrfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>

<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Jade Carey (USA)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Wei Xiaoyuan (CHN)</li>
	</ul>
	<br>
	<a href="documents/wag/wagvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wag/wagubfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>

<h2 class="wom">Apparatus Finals Start Lists</h2>
<a href="documents/efstartlist1.pdf" target="_blank" class="pdf">Apparatus Finals Start List Day 1</a>
<a href="documents/efstartlist2.pdf" target="_blank" class="pdf">Apparatus Finals Start List Day 2</a>
<p>Zhang Boheng (CHN) withdrew from the floor final and was replaced by Benjamin Osberger (FRA). Jessica Gadirova (GBR) withdrew from the vault final and was replaced by Lihie Raz (ISR).</p>
<p>Flavia Saraiva (BRA) and Alice D'Amato (ITA) withdrew from the floor final and were replaced by Shoko Miyata (JPN) and Martina Maggio (ITA).</p>


<h2 class="men">All-Around Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - Hashimoto Daiki (JPN)</li>
	<li>🥈Silver - Zhang Boheng (CHN)</li>
	<li>🥉Bronze - Tanigawa Wataru (JPN)</li>
</ul>
<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/mag/aastartlist2.pdf" target="_blank" class="pdf">Start List (Updated)</a>
<a href="documents/mag/aastartlist.pdf" target="_blank" class="pdf">Start List</a>
<p>Adem Asil (TUR) withdrew from the final and was replaced by Nestor Abad (ESP). Ryu Sunghyun (KOR) withdrew from the final and was replaced by Krisztofer Meszaros (HUN).</p>

<h2 class="wom">All-Around Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - Rebeca Andrade (BRA)</li>
	<li>🥈Silver - Shilese Jones (USA)</li>
	<li>🥉Bronze - Jessica Gadirova (GBR)</li>
</ul>
<a href="documents/wag/aafinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/wag/aastartlist2.pdf" target="_blank" class="pdf">Start List (Updated)</a>
<a href="documents/wag/aastartlist.pdf" target="_blank" class="pdf">Start List</a>
<p>Flavia Saraiva (BRA) withdrew from the final and was replaced by Maellyse Brassart (BEL). Tang Xijing withdrew from the final and was replaced by Karina Schoenmaier (GER). Melanie De Jesus Dos Santos withdrew from the final and was replaced by Aline Friess (FRA).</p>

<h2 class="men">Team Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - China</li>
	<li>🥈Silver - Japan</li>
	<li>🥉Bronze - Great Britain</li>
</ul>
<a href="documents/mag/teamfinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/mag/teamfinalstartlist.pdf" target="_blank" class="pdf">Start List</a>

<h2 class="wom">Team Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - United States of America</li>
	<li>🥈Silver - Great Britain</li>
	<li>🥉Bronze - Canada</li>
</ul>
<a href="documents/wag/teamfinal.pdf" target="_blank" class="pdf">Results</a>
<a href="documents/wag/teamfinalstartlist.pdf" target="_blank" class="pdf">Start List</a>
	
<h2 class="men">Qualification Men</h2>
<a href="documents/mag/qteam.pdf" target="_blank" class="pdf">Team Qualification</a>
<a href="documents/mag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a><br>
<a href="documents/mag/q1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>
<a href="documents/mag/q2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification</a>
<a href="documents/mag/q3sr.pdf" target="_blank" class="pdf">Rings Qualification</a>
<a href="documents/mag/q4vt.pdf" target="_blank" class="pdf">Vault Qualification</a>
<a href="documents/mag/q5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification</a>
<a href="documents/mag/q6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification</a>

<h2 class="wom">Qualification Women</h2>
<a href="documents/wag/qteam.pdf" target="_blank" class="pdf">Team Qualification</a>
<a href="documents/wag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a><br>
<a href="documents/wag/q1vt.pdf" target="_blank" class="pdf">Vault Qualification</a>
<a href="documents/wag/q2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification</a>
<a href="documents/wag/q3bb.pdf" target="_blank" class="pdf">Beam Qualification</a>
<a href="documents/wag/q4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>

<h2 class="men">Event documents</h2>
<a href="documents/nominativereg.pdf" target="_blank" class="pdf">Nominative Registration</a>
<a href="documents/wag/slwag.pdf" target="_blank" class="pdf">WAG Start List for Qualification</a>
<a href="documents/mag/slmag.pdf" target="_blank" class="pdf">MAG Start List for Qualification</a>

<h2 class="wom">Schedule</h2>
<p>Times are local to the competition in Liverpool (British Standard Time).</p>
<table class="schedule-table" cellpadding="2">
	<tr><th colspan=4>Saturday October 29</th></tr>
	<tr><td>19:55 - 22:50</td>
		<td><b>WAG Qualification Sub 1-2</b><br>
			Subdivision 1: BEL, USA, AS1, AS2<br>
			Subdivision 2: ROU, ESP, AA7, AA12</td>
	</tr>
	<tr><th colspan=4>Sunday October 30</th></tr>
	<tr><td>09:15 - 15:35</td>
		<td><b>WAG Qualification Sub 3-6</b><br>
			Subdivision 3: KOR, UKR, AA1, AA14<br>
			Subdivision 4: SWE, AUS, HUN, AA9<br>		
			Subdivision 5: CAN, CHN, AA5, AA10<br>			
			Subdivision 6: MEX, FRA, AA2, AA13</td>
	</tr>
	<tr><td>16:45 - 23:05</td>
		<td><b>WAG Qualification Sub 7-10</b><br>
			Subdivision 7: FIN, NED, JPN, AA8<br>
			Subdivision 8: ARG, BRA, GER, AA4<br>		
			Subdivision 9: ITA, TPE, EGY, AA3<br>
			Subdivision 10: GBR, AUT AA6, AA11
	</tr>
	<tr><th colspan=4>Monday October 31</th></tr>
	<tr><td>09:15 - 17:45</td>
		<td><b>MAG Qualification Sub 1-4</b><br>
			Subdivision 1: AUT, USA, CAN, SUI, AA5, AA8<br>
			Subdivision 2: KAZ, KOR, GBR, CHN, AA2, AA6<br>			
			Subdivision 3: ESP, JPN, UKR, ROU, AA3, AA10<br>			
			Subdivision 4: NED, ITA, COL, BRA, AS1, AS2</td>
	</tr>
	<tr><td>18:45 - 22:55</td>
		<td><b>MAG Qualification Sub 5-6</b><br>
			Subdivision 5: TUR, EGY, GER, TPE, AA6, AA7<br>
			Subdivision 6: BEL, AUS, FRA, HUN, AA1, AA4</td>
	</tr>
	<tr><th colspan=4>Tuesday November 1</th></tr>
	<tr><td>18:15 - 21:05</td>
		<td><b>WAG Team Final</b></td>
	</tr>
	<tr><th colspan=4>Wednesday November 2</th></tr>
	<tr><td>17:25 - 20:50</td>
		<td><b>MAG Team Final</b></td>
	</tr>
	<tr><th colspan=4>Thursday November 3</th></tr>
	<tr><td>18:30 - 21:15</td>
		<td><b>WAG Individual AA Final</b></td>
	</tr>
	<tr><th colspan=4>Friday November 4</th></tr>
	<tr><td>17:45 - 21:10</td>
		<td><b>MAG Individual AA Final</b></td>
	</tr>
	<tr><th colspan=4>Saturday November 5</th></tr>
	<tr><td>13:15 - 18:10</td>
		<td><b>Apparatus Finals (Day 1)</b><br>MAG Floor Exercise<br>WAG Vault<br>MAG Pommel Horse<br>WAG Uneven Bars<br>MAG Rings</td>
	</tr>
	<tr><th colspan=4>Sunday November 6</th></tr>
	<tr><td>13:15 - 18:10</td>
		<td><b>Apparatus Finals (Day 2)</b><br>MAG Vault<br>WAG Balance Beam<br>MAG Parallel Bars<br>WAG Floor Exercise<br>MAG Horizontal Bar</td>
	</tr>
</table>