---
title: "RD761 International Team Cup 2016 Houston, TX"
year: 2016
startdate: 2016-01-15
enddate: 2016-01-18
country: "USA"
category: "rd761"
layout: results
redirect_from: /2016/usa/rd761.html
---

{% include resultsheader.html title="RD761 International Team Cup 2016<br>Houston, TX (USA)<br>2016 Jan 15-18" %}

<img src="images/merrell.png" alt="RD761 International Team Cup 2016 Houston, TX (USA) 2016 Jan 15-18">
<h2 class="men">Results</h2>
	<a href="documents/magintteams.pdf" target="_blank" class="pdf">Men International Teams</a>
	<a href="documents/magintaa.pdf" target="_blank" class="pdf">Men International All Around</a>
	<a href="documents/magint1fx.pdf" target="_blank" class="pdf">Men International Floor Exercise</a>
	<a href="documents/magint2ph.pdf" target="_blank" class="pdf">Men International Pommel Horse</a>
	<a href="documents/magint3sr.pdf" target="_blank" class="pdf">Men International Rings</a>
	<a href="documents/magint4vt.pdf" target="_blank" class="pdf">Men International Vault</a>
	<a href="documents/magint5pb.pdf" target="_blank" class="pdf">Men International Parallel Bars</a>
	<a href="documents/magint6hb.pdf" target="_blank" class="pdf">Men International Horizontal Bar</a>
<h2 class="men">Information</h2>
	<div style="padding: 10px;">
<b>Disciplines, categories and age:</b><br>
<ul>
<li>Men&rsquo;s Artistic Gymnastics - Junior 14-17 years old</li>
</ul>
</div>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday Jan 15</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">17:00</td>
		<td style="width:460px; vertical-align:top;">Team &amp; AA Competition</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday Jan 16</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">17:00</td>
		<td style="width:460px; vertical-align:top;">Event Finals</td></tr>
</table>
<h2 class="wom">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>

<br><img src="images/poster.jpg" alt="RD761 International Team Cup 2016 Houston, TX (USA) 2016 Jan 15-18">


