---
title: "44th Turnier der Meister Cottbus"
year: 2019
startdate: 2019-11-21
enddate: 2019-11-24
country: "GER"
category: "turnier-der-meister"
layout: results
---
	
{% include resultsheader.html title="44th Turnier der Meister<br>Cottbus (GER)<br>2019 Nov 21-24" %}

<img src="images/logo.jpg" alt="event logo">
<!-- MAG AF 2 -->
<h2 class="men">Men Apparatus Final Day 2</h2>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<!-- WAG Q -->
<h2 class="wom">Women Apparatus Final Day 2</h2>	
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<!-- MAG AF 1 -->
<h2 class="men">Men Apparatus Final Day 1</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Final Men</a>
<!-- WAG AF 1 -->
<h2 class="wom">Women Apparatus Final Day 1</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
