---
title: "2016 Hopes Championships"
year: 2016
startdate: 2016-06-03
country: "USA"
category: "hopes-championships"
layout: results
---

{% include resultsheader.html title="2016 Hopes Championships<br>Hartford, CT (USA)<br>2016 June 3" %}

<h2 class="wom">Results Hopes</h2>
	<a href="documents/hopes1011.pdf" target="_blank" class="pdf">Hopes 10-11</a>
	<a href="documents/hopes1213.pdf" target="_blank" class="pdf">Hopes 12-13</a><br>

	<a href="documents/hopessl.pdf" target="_blank" class="pdf">Hopes Championships Start List</a></td></tr>
<h2 class="men">Schedule</h2>
	<table class="waa" cellpadding="6">
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday June 3</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">2:30 pm<br>7:00 pm</td>
			<td style="width:460px; vertical-align:top;">Women&rsquo;s Hopes Championships<br>Senior. Men&rsquo;s P&G Gymnastics Championships – Day 1</td></tr>
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday June 4</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">1:00 pm<br>7:00 pm</td>
			<td style="width:460px; vertical-align:top;">Junior Women&rsquo;s Secret U.S. Classic<br>Senior Women&rsquo;s Secret U.S. Classic</td></tr>
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday June 5</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">1:00 pm</td>
			<td style="width:460px; vertical-align:top;">Senior Men&rsquo;s P&G Gymnastics Championships – Final Day</td></tr>
	</table><br>
&nbsp; &nbsp; All times are Eastern and subject to change<br>