---
title: "2019 Stuttgart World Cup EnBW DTB-Pokal"
year: 2019
startdate: 2019-03-15
enddate: 2019-03-17
country: "GER"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="EnBW DTB-Pokal<br>2019 Stuttgart World Cup (GER)<br>2019 March 15-17" %}

<img src="images/logo.png" alt="Stuttgart world cup logo">

<h2 class="wom">World Cup Women</h2>

	<ul class="podium-list">
		<li>🥇Gold - Simone Biles (USA)</li>
		<li>🥈Silver - Anne-Marie Padurariu (CAN)</li>
		<li>🥉Bronze - Elisabeth Seitz (GER)</li>
	</ul>
	<br>
	<a href="documents/wagaa.pdf" target="_blank" class="pdf">World Cup Women Results</a>

<h2 class="men">World Cup Men</h2>

	<ul class="podium-list">
		<li>🥇Gold - Artur Dalaloyan (RUS)</li>
		<li>🥈Silver - Sun Wei (CHN)</li>
		<li>🥉Bronze - Petro Pakhniuk (UKR)</li>
	</ul>
	<br>
	<a href="documents/magaa.pdf" target="_blank" class="pdf">World Cup Men Results</a>

<h2 class="wom">Team Challenge Women</h2>

	<ul class="podium-list">
		<li>🥇Gold - Brazil</li>
		<li>🥈Silver - Russia</li>
		<li>🥉Bronze - Netherlands</li>
	</ul>
	<br>

	<a href="documents/wagteam.pdf" target="_blank" class="pdf">Team Challenge Women Results</a>
	<a href="documents/wagteamaa.pdf" target="_blank" class="pdf">Team Challenge Women Qualification - Individual Ranking</a>
	<a href="documents/wagteamqual.pdf" target="_blank" class="pdf">Team Challenge Women Qualification</a>

<h2 class="men">Team Challenge Men</h2>

	<ul class="podium-list">
		<li>🥇Gold - Russia</li>
		<li>🥈Silver - Germany 1</li>
		<li>🥉Bronze - Japan</li>
	</ul>
	<br>

	<a href="documents/magteam.pdf" target="_blank" class="pdf">Team Challenge Men Results</a>
	<a href="documents/magteamaa.pdf" target="_blank" class="pdf">Team Challenge Men Qualification - Individual Ranking</a>
	<a href="documents/magteamqual.pdf" target="_blank" class="pdf">Team Challenge Men Qualification</a>

