---
title: "2020 Baku World Cup &amp; AGF Trophy"
year: 2020
startdate: 2020-03-12
enddate: 2020-03-15
country: "AZE"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="FIG World Cup<br>2020 AGF Trophy<br>Baku (AZE) 2020 March 12-15" %}

<img src="images/logo.jpg" alt="Baku world cup poster">

<h2 class="men">Finals</h2>
	The finals of the 2020 Baku World cup were cancelled due to COVID-19. 


<h2 class="wom">Qualifications</h2>
	<a href="documents/qualday1.pdf" target="_blank" class="pdf">Qualifications Day 1 - Men's Floor, Parallel Bars and Rings and Women's Vault and Bars</a>
	<a href="documents/qualday2.pdf" target="_blank" class="pdf">Qualifications Day 2 - Men's Vault, Pommel Horse and Horizontal Bar and Women's Beam and Floor</a>


<h2 class="men">Start Lists</h2>

	<a href="documents/efstartlist.pdf" target="_blank" class="pdf">Finals Start List</a>
	<a href="documents/startlist_updated.pdf" target="_blank" class="pdf">Start List - updated 13/03/2020</a>
	<a href="documents/startlist.pdf" target="_blank" class="pdf">Start List</a>
