BODY {
	background: url("bgm.jpg") repeat fixed;
	font-size : 14px;
	width: 800px;
	}

LI {
	font-size: 12px;
	vertical-align: middle;
	list-style: disc;
	color: Blue;
	font-weight: normal;
}

SUP { color: Blue; }	 

TABLE.maa {
	text-indent: 3px;
	background: #99FFFF;
	border: medium double Navy;
	}

TABLE.resf {
	background: #99FFFF;
	border: medium double Navy;
	}

CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
	}		

TH {
	color: #000080; 
	text-align: center;
	font-size : 14px;
	font-weight : bold
	 }

TD {
	padding: 2px 2px 0px 2px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: Black;
	}

.men{ font-size: 16px;
	color: Blue;
	font-weight: bold;
	 }	

.wom{
	font-size: 16px;
	color: Red;
	font-weight: bold;
	}	

.tra{
	font-size: 16px;
	color: Green;
	font-weight: bold;
	}	

.rhy{
	font-size: 16px;
	color: Fuchsia;
	font-weight: bold;
	}		

.nadpis {
 	text-align: center;
	font-weight: bold; 
	}

