BODY {
	background: url("bgtramp.jpg") repeat fixed;
	font-size : 12px;
	width: 800px;
	}

#nav a {
	display: list-item;
	font-size: 10px;
	font-weight: normal;
	color: #000080;
	text-decoration: none;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0.2em 0.2em 0.1em 0.1em;
	background: #ccccff;
	width: 100%;
}

#nav a:hover {
	color: Fuchsia;
	background: Aqua;
	width: 100%;
	}		 

#nav2 a {
	font-weight: normal;
	color: Navy;
	}	 

h1 {
	color: Green;
	margin: 0px 0px 10px 5px;
}		

h2 {
	color: Green;
	margin: 0px 0px 10px 5px;
}		

h3 {
	color: Green;
	font-size: 14px;
	margin: 10px 0px 5px 5px;
}		

h4 {
	color: Blue;
	font-size: 12px;
	font-weight: bold;
	margin: 2px 0px 2px 5px;
}		

LI {
	font-size: 10px;
	color: Blue; }

.sep { background-color: #fffafa;
	width: 100%;
	text-align: right;
	}	 

.resf { background: #99FFFF;

	border: medium double Navy; }

CAPTION {
	background: #E6E6FA 100%;
	}		

TH {
	color: #000000;
	text-align: center;
	font-weight: normal;
}

.maa { 
	border: 1px solid Navy; }
.waa { 
	border: 1px solid Navy; }

TD {
	padding: 1px 1px 1px 1px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: Black;
}

TD.top {	vertical-align: top;	}

