BODY {
	background: url("../bg00.gif") repeat fixed;

	width: 800px;
	}

#nav a {
	display: list-item;
	font-size: 10px;
	font-weight: normal;
	color: #000080;
	text-decoration: none;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0.2em 0.2em 0.1em 0.1em;
	background: #ccccff;
	width: 100%;
}
#nav a:hover {
	color: Fuchsia;
	background: Aqua;
	width: 100%;
	}		 
#nav2 a {
	font-weight: normal;
	color: Navy;
	}
		 
h1 {
	color: Blue;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 4px 5px;
	}		
h2 {
	color: Blue;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 2px 5px;
	}		
h3 {
	color: Red;
	font-size: 12px;
	font-weight: bold;
	margin: 2px 0px 2px 5px;
}		
h4 {
	color: Blue;
	font-size: 12px;
	font-weight: bold;
	margin: 2px 0px 2px 5px;
}		
LI {
	font-size: 10px;
	vertical-align: middle;
	list-style: disc;
	color: Blue;
	font-weight: normal;
}
.sep { background-color: #fffafa;
	width: 100%;
	text-align: right;
	}

SUP { color: Blue; }	 
.maa { text-indent: 3px;
	background: #ffffff;
	border: 1px solid Navy; }
.waa { text-indent: 3px;
	background: #ffffff;
	border: 1px solid Navy; }
.resf { background: #99FFFF;
	border: medium double Navy; }
CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
	}		
TH {
	color: #000000;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
}

TD {
	padding: 1px 1px 1px 1px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: Black;
}
TD.top {	vertical-align: top;	}
