---
title: "2021 Australian Championships"
year: 2021
startdate: 2021-05-21
enddate: 2021-05-23
country: "AUS"
layout: results
---

{% include resultsheader.html title="2021 Australian Championships<br>Gold Coast Sports and Leisure Centre (AUS)<br>May 21-23" %}

<h2 class="wom">Results Women</h2>
	<a href="documents/wag_aa.pdf" target="_blank" class="pdf">Results WAG All-Around</a>
	<a href="documents/wag_team.pdf" target="_blank" class="pdf">Results WAG Teams</a>
	<a href="documents/wag_vt.pdf" target="_blank" class="pdf">Results WAG Vault Final</a>
	<a href="documents/wag_ub.pdf" target="_blank" class="pdf">Results WAG Uneven Bars Final</a>
	<a href="documents/wag_bb.pdf" target="_blank" class="pdf">Results WAG Balance Beam Final</a>
	<a href="documents/wag_fx.pdf" target="_blank" class="pdf">Results WAG Floor Exercise Final</a>

<h2 class="men">Results Men</h2>
    <a href="documents/mag_aa.pdf" target="_blank" class="pdf">Results MAG All-Around</a>
    <a href="documents/mag_team.pdf" target="_blank" class="pdf">Results MAG Teams</a>
    <a href="documents/mag_fx.pdf" target="_blank" class="pdf">Results MAG Floor Exercise Final</a>
    <a href="documents/mag_ph.pdf" target="_blank" class="pdf">Results MAG Pommel Horse Final</a>
    <a href="documents/mag_sr.pdf" target="_blank" class="pdf">Results MAG Still Rings Final</a>
    <a href="documents/mag_vt.pdf" target="_blank" class="pdf">Results MAG Vault Final</a>
    <a href="documents/mag_pb.pdf" target="_blank" class="pdf">Results MAG Parallel Bars Final</a>
    <a href="documents/mag_hb.pdf" target="_blank" class="pdf">Results MAG Horizontal Bar Final</a>