---
title: "2021 U.S. National Championships"
year: 2021
startdate: 2021-06-03
enddate: 2021-06-06
country: "USA"
category: "usa-nationals"
layout: results
---

{% include resultsheader.html title="2021 U.S. National Championships<br>Fort Worth, Texas (USA)<br>June 3-6" %}

<img src="images/logo.png" alt="2021 US Championships logo">

<h2 class="wom">Results Women Senior Day 2</h2>
	<a href="documents/wagsenaa.pdf" target="_blank" class="pdf">Results Women Senior All-Around</a><ul class="podium-list">
		<li>🥇Gold - Simone Biles</li>
		<li>🥈Silver - Sunisa Lee</li>
		<li>🥉Bronze - Jordan Chiles</li>
	</ul>
	<br>
	<a href="documents/wagsenaf.pdf" target="_blank" class="pdf">Results Women Senior Events</a>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Simone Biles</li>
		<li><b>Uneven Bars</b> 🥇Gold - Sunisa Lee</li>
		<li><b>Beam</b> 🥇Gold - Simone Biles</li>
		<li><b>Floor Exercise</b> 🥇Gold - Simone Biles</li>
	</ul>
<h2 class="men">Results Men Senior Day 2</h2>
	<a href="documents/magsenaa.pdf" target="_blank" class="pdf">Results Men Senior All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Brody Malone</li>
		<li>🥈Silver - Yul Moldauer</li>
		<li>🥉Bronze - Sam Mikulak</li>
	</ul>
	<br>
	<a href="documents/magsenaf.pdf" target="_blank" class="pdf">Results Men Senior Events</a>
		<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Eddie Penev</li>
		<li><b>Pommel Horse</b> 🥇Gold - Stephen Nedoroscik</li>
		<li><b>Rings</b> 🥇Gold - Alex Diab</li>
		<li><b>Vault</b> 🥇Gold - Brody Malone</li>
		<li><b>Parallel Bars</b> 🥇Gold - Yul Moldauer</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Sam Mikulak</li>
	</ul>
<h2 class="wom">Results Women Junior Day 2</h2>
	<a href="documents/wagjunaa.pdf" target="_blank" class="pdf">Results Women Junior All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Katelyn Jong</li>
		<li>🥈Silver - Madray Johnson</li>
		<li>🥉Bronze - Kaliya Lincoln</li>
	</ul>
	<br>
	<a href="documents/wagjunaf.pdf" target="_blank" class="pdf">Results Women Junior Events</a>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Kailin Chio</li>
		<li><b>Uneven Bars</b> 🥇Gold - Katelyn Jong</li>
		<li><b>Beam</b> 🥇Gold - Joscelyn Roberson</li>
		<li><b>Floor Exercise</b> 🥇Gold - Kaliya Lincoln</li>
	</ul>
<h2 class="men">Results Men Junior Day 2</h2>
	<a href="documents/mag1718aa.pdf" target="_blank" class="pdf">Results Men 17-18 All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Fred Richard</li>
		<li>🥈Silver - Toby Liang</li>
		<li>🥉Bronze - Joseph Pepe</li>
	</ul>
	<br>
	<a href="documents/mag1516aa.pdf" target="_blank" class="pdf">Results Men 15-16 All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Vahe Petrosyan</li>
		<li>🥈Silver - Kai Uemura</li>
		<li>🥉Bronze - Alexandru Nitache</li>
	</ul>
	<br>
	<a href="documents/mag1718af.pdf" target="_blank" class="pdf">Results Men 17-18 Events</a>	
	<a href="documents/mag1516af.pdf" target="_blank" class="pdf">Results Men 15-16 Events</a>	
<h2 class="wom">Results Women Senior Day 1</h2>
	<a href="documents/wagsend1.pdf" target="_blank" class="pdf">Results Women Senior Day 1</a>
<h2 class="wom">Results Women Junior Day 1</h2>
	<a href="documents/wagjund1.pdf" target="_blank" class="pdf">Results Women Junior Day 1</a>
<h2 class="men">Results Men Senior Day 1</h2>
	<a href="documents/magsend1.pdf" target="_blank" class="pdf">Results Men Senior Day 1</a>
<h2 class="men">Results Men Junior Day 1</h2>
<a href="documents/mag1718d1.pdf" target="_blank" class="pdf">Results Men 17-18 Day 1</a>
<a href="documents/mag1516d1.pdf" target="_blank" class="pdf">Results Men 15-16 Day 1</a>