---
title: "Games of the 30th Olympiad, London"
year: 2012
startdate: 2012-07-27
enddate: 2012-08-12
country: "GBR"
category: "olympics"
layout: results
redirect_from: 
- /olympics/2012/london.html
- /olympics/2012/artisticgymnastics.html
---

{% include resultsheader.html title="Games of the XXX Olympiad<br>London (GBR) July 27 - August 12, 2012" %}

<img src="/assets/images/logos/lg2012og.jpg">

<h2 class="men">Full Results</h2>
<ul>
	<li><a href="/results/2012/olympics/women.html">Women's Artistic Gymnastics</a></li>
	<li><a href="/results/2012/olympics/men.html">Men's Artistic Gymnastics</a></li>
	<li><a href="/results/2012/olympics/rhythmic.html">Rhythmic Gymnastics</a></li>
	<li><a href="/results/2012/olympics/tramp.html">Trampoline</a></li>
	<br>
	<li><a href="/results/2012/olympics/menquals.html">Men's Artistic Gymnastics - Qualifications</a></li>		
	<li><a href="/results/2012/olympics/womenquals.html">Women's Artistic Gymnastics - Qualifications</a></li>	
	<br>
	<li><a href="/results/2012/olympics/ogqualified.html">London 2012 Olympic Qualification</a>
</ul>

<h2 class="wom">Women's Artistic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Gabrielle Douglas (USA)</li>
	<li>🥈Silver - Victoria Komova (RUS)</li>
	<li>🥉Bronze - Aliya Mustafina (RUS)</li>
</ul>

<h3 class="left">Team Final</h3>
<ul class="podium-list">
	<li>🥇Gold - United Stated</li>
	<li>🥈Silver - Russia</li>
	<li>🥉Bronze - Romania</li>
</ul>

<h3 class="left">Apparatus Finals</h3>
<ul class="podium-list">
	<li><b>Vault</b> 🥇Gold - Sandra Izbasa (ROU)</li>
	<li><b>Uneven Bars</b> 🥇Gold - Aliya Mustafina (RUS)</li>
	<li><b>Beam</b> 🥇Gold - Deng Linlin (CHN)</li>
	<li><b>Floor Exercise</b> 🥇Gold - Alexandra Raisman (USA)</li>
</ul>

<h2 class="men">Men's Artistic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Kohei Uchimura (JPN)</li>
	<li>🥈Silver - Marcel Nguyen (GER)</li>
	<li>🥉Bronze - Danell Leyva (USA)</li>
</ul>

<h3 class="left">Team Final</h3>
<ul class="podium-list">
	<li>🥇Gold - China</li>
	<li>🥈Silver - Japan</li>
	<li>🥉Bronze - Great Britain</li>
</ul>

<h3 class="left">Apparatus Finals</h3>
<ul class="podium-list">
	<li><b>Floor Exercise</b> 🥇Gold - Zou Kai (CHN)</li>
	<li><b>Pommel Horse</b> 🥇Gold - Krisztian Berki (HUN)</li>
	<li><b>Rings</b> 🥇Gold - Arthur Zanetti (BRA)</li>
	<li><b>Vault</b> 🥇Gold - Yang Hak Seon (KOR)</li>
	<li><b>Parallel Bars</b> 🥇Gold - Feng Zhe (CHN)</li>
	<li><b>Horizontal Bar</b> 🥇Gold - Epke Zonderland (NED)</li>
</ul>

<h2 class="wom">Rhythmic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Evgeniya Kanaeva (RUS)</li>
	<li>🥈Silver - Daria Dmitrieva (RUS)</li>
	<li>🥉Bronze - Liubou Charkashyna (BLR)</li>
</ul>

<h3 class="left">Group Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Russia</li>
	<li>🥈Silver - Belarus</li>
	<li>🥉Bronze - Italy</li>
</ul>


<h2 class="wom">Trampoline - Summary</h2>

<h3 class="left">Women Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Rosannagh MacLennan (CAN)</li>
	<li>🥈Silver - Huang Shanshan (CHN)</li>
	<li>🥉Bronze - He Wenna (CHN)</li>
</ul>

<h3 class="left">Men Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Dong Dong (CHN)</li>
	<li>🥈Silver - Dmitry Ushakov (RUS)</li>
	<li>🥉Bronze - Lu Chunlong (CHN)</li>
</ul>

<h2 class="wom">Information</h2>

<a href="documents/ga_results_book.pdf" target="_blank" class="pdf">Artistic Gymnastics Results Book</a>
<a href="documents/gr_results_book.pdf" target="_blank" class="pdf">Rhythmic Gymnastics Results Book</a>
<a href="documents/tra_results_book.pdf" target="_blank" class="pdf">Trampoline Results Book</a>
<br>
<a href="documents/qualsystem.pdf" target="_blank" class="pdf">Qualification System</a>
<a href="documents/qualsystemfinal.pdf" target="_blank" class="pdf">Qualification System - Final</a>
<a href="documents/tiebreak.pdf" target="_blank" class="pdf">Tie Breaking Rules</a>

