---
title: "London 2012 Olympics Rhythmic Gymnastics"
year: 2012
startdate: 2012-07-27
enddate: 2012-08-12
country: "GBR"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /olympics/2012/rhythmicgymnastics.html
- /olympics/2012/rg/fg.html
- /olympics/2012/rg/fi.html
- /olympics/2012/rg/qg.html
- /olympics/2012/rg/qi.html
---
	
{% include resultsheader.html title="Games of the 30th Olympiad<br>London (GBR) July 27 - August 12, 2012<br>Rhythmic Gymnastics" %}

<a href="/results/2012/olympics/index.html"><img src="/assets/images/logos/lg2012og.jpg"></a>

<h2 class="wom">Groups Final - Sunday August 12</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr class="wom"><th colspan=4>Team</th>
	<th width="120">5 Balls</th><th width="120">3 Ribbons 2 Hoops</th><th width="120">Total</th></tr>
<tr class="one"><td  width="40" align="center" valign="top">1</td><td width="150" valign="top">Russia</td><td width="50" valign="top" align="center">RUS</td>
	<td width="50" valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.550<br>9.700<br>9.450<br>28.700 (1)<br><br></td>
	<td valign="top" align="center">9.650<br>9.600<br>9.050<br>28.300 (1)<br><br></td>
	<td valign="top" align="center">57.000</td></tr>
<tr class="two"><td align="center" valign="top">2</td><td width="150" valign="top">Belarus</td><td width="50" valign="top" align="center">BLR</td>
	<td width="50" valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.350<br>9.425<br>9.050<br>27.825 (4)<br><br></td>
	<td valign="top" align="center">9.325<br>9.400<br>8.950<br>27.675 (2)<br><br></td>
	<td valign="top" align="center">55.500</td></tr>
<tr class="one"><td  width="40" align="center" valign="top">3</td><td width="150" valign="top">Italy</td><td width="50" valign="top" align="center">ITA</td>
	<td width="50" valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.375<br>9.600<br>9.150<br>28.125 (2)<br><br></td>
	<td valign="top" align="center">9.325<br>9.400<br>8.800<br>27.325 (4)<br>0.20</td>
	<td valign="top" align="center">55.450</td></tr>
<tr class="two"><td align="center" valign="top">4</td><td width="150" valign="top">Spain</td><td width="50" valign="top" align="center">ESP</td>
	<td width="50" valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.050<br>9.350<br>9.000<br>27.400 (5)<br><br></td>
	<td valign="top" align="center">9.200<br>9.350<br>9.000<br>27.550 (3)<br><br></td>
	<td valign="top" align="center">54.950</td></tr>
<tr class="one"><td  width="40" align="center" valign="top">5</td><td width="150" valign="top">Ukraine</td><td width="50" valign="top" align="center">UKR</td>
	<td width="50" valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.050<br>9.250<br>8.900<br>27.200 (6)<br><br></td>
	<td valign="top" align="center">9.275<br>9.200<br>8.700<br>27.175 (5)<br><br></td>
	<td valign="top" align="center">54.375</td></tr>
<tr class="two"><td align="center" valign="top">6</td><td width="150" valign="top">Bulgaria</td><td width="50" valign="top" align="center">BUL</td>
	<td width="50" valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.400<br>9.450<br>9.100<br>27.950 (3)<br><br></td>
	<td valign="top" align="center">9.075<br>9.200<br>8.150<br>26.425 (8)<br><br></td>
	<td valign="top" align="center">54.375</td></tr>
<tr class="one"><td  width="40" align="center" valign="top">7</td><td width="150" valign="top">Japan</td><td width="50" valign="top" align="center">JPN</td>
	<td width="50" valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.100<br>9.100<br>8.800<br>27.000 (7)<br><br></td>
	<td valign="top" align="center">9.200<br>9.100<br>8.800<br>27.100 (6)<br><br></td>
	<td valign="top" align="center">54.100</td></tr>
<tr class="two"><td align="center" valign="top">8</td><td width="150" valign="top">Israel</td><td width="50" valign="top" align="center">ISR</td>
	<td width="50" valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.825<br>9.100<br>8.800<br>26.725 (8)<br><br></td>
	<td valign="top" align="center">8.950<br>9.000<br>8.725<br>26.675 (7)<br><br></td>
	<td valign="top" align="center">53.400</td></tr>
</table>
</div>

<a href="documents/rg/groupsfinal.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Individual All-Around Final</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr class="wom"><th colspan=4>Gymnast</th>
	<th width="70">Hoop</th><th width="70">Ball</th><th width="70">Clubs</th><th width="70">Ribbon</th><th width="80">Total</th></tr>
<tr class="one"><td align="center" valign="top">1 </td><td width="150" valign="top">KANAEVA Evgeniya</td><td width="50" valign="top" align="center"> RUS</td>
	<td width="50" valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.900 <br>9.800<br>9.650<br>29.350 (1)<br><br></td>
	<td valign="top" align="center">9.750 <br>9.800<br>9.650<br>29.200 (1)<br><br></td>
	<td valign="top" align="center">9.850 <br>9.900<br>9.700<br>29.450 (1)<br><br></td>
	<td valign="top" align="center">9.400 <br>9.800<br>9.700<br>28.900 (2)<br><br></td>
	<td valign="top" align="center">116.900</td></tr>
<tr class="two"><td  width="30" align="center" valign="top">2 </td><td valign="top">DMITRIEVA Daria</td><td valign="top" align="center"> RUS</td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.050 <br>9.700<br>9.600<br>28.300 (2)<br>0.05</td>
	<td valign="top" align="center">8.900 <br>9.800<br>9.650<br>28.350 (2)<br><br></td>
	<td valign="top" align="center">9.425 <br>9.750<br>9.625<br>28.750 (2)<br>0.05</td>
	<td valign="top" align="center">9.600 <br>9.800<br>9.700<br>29.100 (1)<br><br></td>
	<td valign="top" align="center">114.500</td></tr>
<tr class="one"><td align="center" valign="top">3 </td><td valign="top">CHARKASHYNA Liubou</td><td valign="top" align="center"> BLR</td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.200 <br>9.550<br>9.350<br>28.100 (3)<br><br></td>
	<td valign="top" align="center">9.150 <br>9.550<br>9.300<br>28.000 (4)<br><br></td>
	<td valign="top" align="center">8.800 <br>9.500<br>9.275<br>27.525 (6)<br>0.05</td>
	<td valign="top" align="center">9.125 <br>9.600<br>9.350<br>28.075 (5)<br><br></td>
	<td valign="top" align="center">111.700</td></tr>
<tr class="two"><td  width="30" align="center" valign="top">4 </td><td valign="top">GARAYEVA Aliya</td><td valign="top" align="center"> AZE</td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.100 <br>9.450<br>9.375<br>27.925 (6)<br><br></td>
	<td valign="top" align="center">8.925 <br>9.500<br>9.400<br>27.825 (5)<br><br></td>
	<td valign="top" align="center">9.025 <br>9.350<br>9.200<br>27.575 (4)<br><br></td>
	<td valign="top" align="center">9.250 <br>9.500<br>9.500<br>28.250 (4)<br><br></td>
	<td valign="top" align="center">111.575</td></tr>
<tr class="one"><td align="center" valign="top">5 </td><td valign="top">SON Yeon Jae</td><td valign="top" align="center"> KOR</td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.200 <br>9.500<br>9.350<br>28.050 (4)<br><br></td>
	<td valign="top" align="center">9.350 <br>9.525<br>9.450<br>28.325 (3)<br><br></td>
	<td valign="top" align="center">8.750 <br>9.150<br>8.850<br>26.750 (9)<br><br></td>
	<td valign="top" align="center">9.450 <br>9.550<br>9.350<br>28.350 (3)<br><br></td>
	<td valign="top" align="center">111.475</td></tr>
<tr class="two"><td  width="30" align="center" valign="top">6 </td><td valign="top">MAKSYMENKO Alina</td><td valign="top" align="center"> UKR</td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.050 <br>9.600<br>9.300<br>27.950 (5)<br><br></td>
	<td valign="top" align="center">8.775 <br>9.300<br>8.600<br>26.675 (10)<br><br></td>
	<td valign="top" align="center">8.850 <br>9.500<br>9.200<br>27.550 (5)<br><br></td>
	<td valign="top" align="center">8.800 <br>9.450<br>9.200<br>27.450 (7)<br><br></td>
	<td valign="top" align="center">109.625</td></tr>
<tr class="one"><td align="center" valign="top">7 </td><td valign="top">RIVKIN Neta</td><td valign="top" align="center"> ISR</td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.850 <br>9.350<br>9.150<br>27.350 (9)<br><br></td>
	<td valign="top" align="center">8.400 <br>9.300<br>9.200<br>26.850 (9)<br>0.05</td>
	<td valign="top" align="center">9.350<br>9.150<br>9.300<br>27.800 (3)<br><br></td>
	<td valign="top" align="center">8.550 <br>9.300<br>9.150<br>27.000 (9)<br><br></td>
	<td valign="top" align="center">109.000</td></tr>
<tr class="two"><td  width="30" align="center" valign="top">8 </td><td valign="top">MITEVA Silviya</td><td valign="top" align="center"> BUL</td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.700 <br>9.500<br>9.250<br>27.450 (8)<br><br></td>
	<td valign="top" align="center">8.800 <br>9.400<br>8.950<br>27.100 (7)<br>0.05</td>
	<td valign="top" align="center">8.650 <br>9.300<br>8.800<br>26.750 (9)<br><br></td>
	<td valign="top" align="center">8.850 <br>9.500<br>9.300<br>27.650 (6)<br><br></td>
	<td valign="top" align="center">108.950</td></tr>
<tr class="one"><td align="center" valign="top">9 </td><td valign="top">MITROSZ Joanna</td><td valign="top" align="center"> POL</td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.175 <br>9.200<br>9.100<br>27.475 (7)<br><br></td>
	<td valign="top" align="center">8.950 <br>9.100<br>9.100<br>27.150 (6)<br><br></td>
	<td valign="top" align="center">8.850 <br>9.000<br>9.000<br>26.850 (8)<br><br></td>
	<td valign="top" align="center">9.075 <br>9.150<br>9.200<br>27.425 (8)<br><br></td>
	<td valign="top" align="center">108.900</td></tr>
<tr class="two"><td  width="30" align="center" valign="top">10 </td><td valign="top">RIZATDINOVA Ganna</td><td valign="top" align="center"> UKR</td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.650 <br>9.200<br>8.950<br>26.750 (10)<br>0.05</td>
	<td valign="top" align="center">8.650 <br>9.350<br>9.150<br>27.050 (8)<br>0.10</td>
	<td valign="top" align="center">8.700 <br>9.300<br>9.100<br>27.100 (7)<br><br></td>
	<td valign="top" align="center">8.300 <br>9.300<br>8.950<br>26.500 (10)<br>0.05</td>
	<td valign="top" align="center">107.400</td></tr>
</table>
</div>

<a href="documents/rg/aafinal.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Group All-Around Qualification 2012 Aug 9-10</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr class="wom"><th colspan=4>Team</th>
	<th width="120">5 Balls</th><th width="120">3 Ribbons 2 Hoops</th><th width="120">Total</th></tr>
<tr class="one"><td  width="40" align="center" valign="top">1</td><td width="150" valign="top">Russia</td><td width="50" valign="top" align="center">RUS</td>
	<td width="50" valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.400<br>9.625<br>9.350<br>28.375 (1)</td>
	<td valign="top" align="center">9.350<br>9.550<br>9.100<br>28.000 (1)<br><br></td>
	<td valign="top" align="center">56.375 Q</td></tr>
<tr class="two"><td align="center" valign="top">2</td><td valign="top">Italy</td><td valign="top" align="center">ITA</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.400<br>9.500<br>9.200<br>28.100 (2)</td>
	<td valign="top" align="center">9.100<br>9.500<br>9.100<br>27.700 (2)<br><br></td>
	<td valign="top" align="center">54.750 Q</td></tr>
<tr class="one"><td  width="30" align="center" valign="top">3</td><td valign="top">Belarus</td><td valign="top" align="center">BLR</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.350<br>9.400<br>9.150<br>27.900 (3)</td>
	<td valign="top" align="center">9.050<br>9.200<br>8.600<br>26.850 (6)<br><br></td>
	<td valign="top" align="center">54.750 Q</td></tr>
<tr class="two"><td align="center" valign="top">4</td><td valign="top">Bulgaria</td><td valign="top" align="center">BUL</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.800<br>9.450<br>9.000<br>27.250 (4)</td>
	<td valign="top" align="center">9.075<br>9.450<br>8.850<br>27.375 (4)<br><br></td>
	<td valign="top" align="center">54.625 Q</td></tr>
<tr class="one"><td  width="30" align="center" valign="top">5</td><td valign="top">Spain</td><td valign="top" align="center">ESP</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.850<br>9.350<br>8.950<br>27.150 (5)</td>
	<td valign="top" align="center">9.300<br>9.300<br>8.800<br>27.400 (3)<br><br></td>
	<td valign="top" align="center">54.550 Q</td></tr>
<tr class="two"><td align="center" valign="top">6</td><td valign="top">Ukraine</td><td valign="top" align="center">UKR</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.000<br>9.200<br>8.850<br>27.050 (6)</td>
	<td valign="top" align="center">9.100<br>9.250<br>8.750<br>27.100 (5)<br><br></td>
	<td valign="top" align="center">54.150 Q</td></tr>
<tr class="one"><td align="center" valign="top">7</td><td valign="top">Israel</td><td valign="top" align="center">ISR</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.800<br>9.000<br>8.700<br>26.500 (8)</td>
	<td valign="top" align="center">8.900<br>9.000<br>8.700<br>26.600 (7)<br><br></td>
	<td valign="top" align="center">53.100 Q</td></tr>
<tr class="two"><td  width="30" align="center" valign="top">8</td><td valign="top">Japan</td><td valign="top" align="center">JPN</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.775<br>9.050<br>8.900<br>26.725 (7)</td>
	<td valign="top" align="center">9.000<br>9.050<br>8.650<br>26.300 (8)<br><br></td>
	<td valign="top" align="center">53.025 Q</td></tr>
<tr class="one"><td  width="30" align="center" valign="top">9</td><td valign="top">Greece</td><td valign="top" align="center">GRE</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.425<br>8.800<br>8.650<br>25.875 (9)</td>
	<td valign="top" align="center">8.650<br>8.900<br>8.450<br>26.000 (9)<br><br></td>
	<td valign="top" align="center">51.875 R</td></tr>
<tr class="two"><td align="center" valign="top">10</td><td valign="top">Germany</td><td valign="top" align="center">GER</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">7.450<br>8.700<br>8.350<br>24.500 (10)</td>
	<td valign="top" align="center">8.400<br>8.750<br>8.050<br>25.150 (10)<br>0.05</td>
	<td valign="top" align="center">24.500</td></tr>
<tr class="one"><td align="center" valign="top">11</td><td valign="top">Canada</td><td valign="top" align="center">CAN</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.150<br>8.325<br>7.575<br>24.050 (12)</td>
	<td valign="top" align="center">8.000<br>8.250<br>7.725<br>23.975 (11)<br><br></td>
	<td valign="top" align="center">48.025</td></tr>
<tr class="two"><td  width="30" align="center" valign="top">12</td><td valign="top">Great Britain</td><td valign="top" align="center">GBR</td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">7.800<br>8.350<br>8.000<br>24.150 (11)</td>
	<td valign="top" align="center">7.650<br>8.250<br>8.000<br>23.850 (12)<br><br></td>
	<td valign="top" align="center">48.000</td></tr>
</table>
</div>

<a href="documents/rg/qualgroups.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Results Qualification Individual 2012 Aug 9-10</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr class="wom"><th colspan=4>Gymnast</th>
	<th width="60">Hoop</th><th width="60">Ball</th><th width="60">Clubs</th><th width="60">Ribbon</th><th width="80">Total</th></tr>
<tr class="one"><td align="center" valign="top">1</td><td valign="top">KANAEVA Evgeniya </td><td valign="top" align="center">RUS </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.500 <br>9.500<br>9.100<br>28.100 (2)<br><br></td>
	<td valign="top" align="center">9.900 <br>9.900<br>9.725<br>29.525 (1)<br><br></td>
	<td valign="top" align="center">9.475<br>9.800<br>9.700<br>28.975 (1)<br><br></td>
	<td valign="top" align="center">9.800<br>9.850<br>9.750<br>29.400 (1)<br><br></td>
	<td valign="top" align="center">116.000 Q</td></tr>
<tr class="two"><td  width="30" align="center" valign="top">2</td><td valign="top" width="150">DMITRIEVA Daria </td><td width="50" valign="top" align="center">RUS </td>
	<td valign="top" align="center" width="50">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.750<br>9.700<br>9.600<br>29.000 (1)<br>0.05</td>
	<td valign="top" align="center">9.500 <br>9.700<br>9.600<br>28.800 (2)<br><br></td>
	<td valign="top" align="center">9.150<br>9.450<br>9.200<br>27.800 (3)<br><br></td>
	<td valign="top" align="center">9.575<br>9.700<br>9.650<br>28.925 (2)<br><br></td>
	<td valign="top" align="center">114.525 Q</td></tr>
<tr class="one"><td align="center" valign="top">3</td><td valign="top">GARAYEVA Aliya </td><td valign="top" align="center">AZE </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.100 <br>9.400<br>9.050<br>27.450 (7)<br>0.10</td>
	<td valign="top" align="center">9.400 <br>9.600<br>9.350<br>28.350 (4)<br><br></td>
	<td valign="top" align="center">9.075<br>9.475<br>9.300<br>27.850 (2)<br><br></td>
	<td valign="top" align="center">9.350<br>9.500<br>9.350<br>28.200 (3)<br><br></td>
	<td align="center">111.850 Q</td></tr>
<tr class="two"><td align="center" valign="top">4</td><td valign="top">MITEVA Silviya </td><td valign="top" align="center">BUL </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.000 <br>9.400<br>9.300<br>27.700 (5)<br><br></td>
	<td valign="top" align="center">9.000 <br>9.500<br>9.300<br>27.800 (7)<br><br></td>
	<td valign="top" align="center">8.725<br>9.450<br>9.150<br>27.325 (11)<br><br></td>
	<td valign="top" align="center">9.300<br>9.500<br>9.300<br>28.100 (4)<br><br></td>
	<td valign="top" align="center">110.925 Q</td></tr>
<tr class="one"><td align="center" valign="top">5</td><td valign="top">CHARKASHYNA Liubou </td><td valign="top" align="center">BLR </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.300 <br>9.500<br>9.250<br>28.050 (4)<br><br></td>
	<td valign="top" align="center">9.550 <br>9.550<br>9.300<br>28.400 (3)<br><br></td>
	<td valign="top" align="center">9.050<br>9.400<br>9.000<br>27.450 (10)<br><br></td>
	<td valign="top" align="center">8.400<br>9.400<br>8.950<br>26.550 (14)<br>0.20</td>
	<td valign="top" align="center">110.450 Q</td></tr>
<tr class="two"><td align="center" valign="top">6</td><td valign="top">SON Yeon Jae </td><td valign="top" align="center">KOR </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.500 <br>9.350<br>9.225<br>28.075 (3)<br><br></td>
	<td valign="top" align="center">9.275 <br>9.400<br>9.150<br>27.825 (6)<br><br></td>
	<td valign="top" align="center">8.300<br>9.200<br>8.900<br>26.350 (18)<br>0.05</td>
	<td valign="top" align="center">9.350<br>9.450<br>9.250<br>28.050 (5)<br><br></td>
	<td valign="top" align="center">110.300 Q</td></tr>
<tr class="one"><td align="center" valign="top">7</td><td valign="top">MAKSYMENKO Alina </td><td valign="top" align="center">UKR </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.050 <br>9.300<br>8.950<br>27.300 (11)<br><br></td>
	<td valign="top" align="center">9.425 <br>9.400<br>9.300<br>28.125 (5)<br><br></td>
	<td valign="top" align="center">9.100<br>9.450<br>9.250<br>27.800 (3)<br><br></td>
	<td valign="top" align="center">8.700<br>9.200<br>8.900<br>26.800 (12)<br><br></td>
	<td valign="top" align="center">110.025 Q</td></tr>
<tr class="two"><td align="center" valign="top">8</td><td valign="top">MITROSZ Joanna </td><td valign="top" align="center">POL </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.025 <br>9.200<br>9.200<br>27.425 (9)<br><br></td>
	<td valign="top" align="center">8.950 <br>9.150<br>9.150<br>27.250 (8)<br><br></td>
	<td valign="top" align="center">9.125<br>9.200<br>9.300<br>27.625 (6)<br><br></td>
	<td valign="top" align="center">9.000<br>9.250<br>9.200<br>27.450 (7)<br><br></td>
	<td valign="top" align="center">109.750 Q</td></tr>
<tr class="one"><td align="center" valign="top">9</td><td valign="top">RIVKIN Neta </td><td valign="top" align="center">ISR </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.800 <br>9.400<br>9.250<br>27.450 (7)<br><br></td>
	<td valign="top" align="center">8.650 <br>9.200<br>8.800<br>26.200 (18)<br>0.45</td>
	<td valign="top" align="center">8.925<br>9.300<br>9.300<br>27.525 (9)<br><br></td>
	<td valign="top" align="center">9.225<br>9.250<br>9.300<br>27.725 (6)<br>0.05</td>
	<td valign="top" align="center">108.900 Q</td></tr>
<tr class="two"><td align="center" valign="top">10</td><td valign="top">RIZATDINOVA Ganna </td><td valign="top" align="center">UKR </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.050 <br>9.200<br>9.100<br>27.350 (10)<br><br></td>
	<td valign="top" align="center">8.700 <br>9.200<br>9.000<br>26.800 (10)<br>0.10</td>
	<td valign="top" align="center">9.100<br>9.450<br>9.200<br>27.750 (5)<br><br></td>
	<td valign="top" align="center">8.700<br>9.250<br>9.050<br>26.950 (10)<br>0.05</td>
	<td valign="top" align="center">108.850 Q</td></tr>
<tr class="one"><td align="center" valign="top">11</td><td valign="top">DENG Senyue </td><td valign="top" align="center">CHN </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.000 <br>9.200<br>8.950<br>27.150 (13)<br><br></td>
	<td valign="top" align="center">8.550 <br>9.300<br>8.950<br>26.800 (10)<br><br></td>
	<td valign="top" align="center">9.175<br>9.300<br>9.100<br>27.575 (8)<br><br></td>
	<td valign="top" align="center">9.050<br>9.200<br>9.050<br>27.300 (9)<br><br></td>
	<td valign="top" align="center">108.825 R</td></tr>
<tr class="two"><td align="center" valign="top">12</td><td valign="top">STANIOUTA Melitina </td><td valign="top" align="center">BLR </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">9.100 <br>9.250<br>9.150<br>27.500 (6)<br><br></td>
	<td valign="top" align="center">8.500 <br>9.150<br>9.050<br>26.700 (12)<br><br></td>
	<td valign="top" align="center">9.100<br>9.300<br>9.200<br>27.600 (7)<br><br></td>
	<td valign="top" align="center">8.875<br>9.100<br>8.900<br>26.875 (11)<br><br></td>
	<td valign="top" align="center">108.675 R</td></tr>
<tr class="one"><td align="center" valign="top">13</td><td valign="top">LEDOUX Delphine </td><td valign="top" align="center">FRA </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.800 <br>9.200<br>9.100<br>27.100 (14)<br><br></td>
	<td valign="top" align="center">8.850 <br>9.200<br>9.100<br>27.150 (9)<br><br></td>
	<td valign="top" align="center">8.700<br>9.400<br>9.150<br>27.250 (13)<br><br></td>
	<td valign="top" align="center">8.375<br>9.300<br>9.000<br>26.675 (13)<br><br></td>
	<td valign="top" align="center">108.175 R</td></tr>
<tr class="two"><td align="center" valign="top">14</td><td valign="top">RODRIGUEZ Carolina </td><td valign="top" align="center">ESP </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.900 <br>9.150<br>8.850<br>26.900 (15)<br><br></td>
	<td valign="top" align="center">8.675 <br>9.150<br>8.800<br>26.625 (14)<br><br></td>
	<td valign="top" align="center">8.925<br>9.250<br>9.000<br>27.175 (14)<br><br></td>
	<td valign="top" align="center">8.425<br>9.075<br>8.600<br>26.100 (17)<br><br></td>
	<td valign="top" align="center">106.800 R</td></tr>
<tr class="one"><td align="center" valign="top">15</td><td valign="top">ALYABYEVA Anna </td><td valign="top" align="center">KAZ </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.750 <br>9.300<br>9.200<br>27.200 (12)<br>0.05</td>
	<td valign="top" align="center">8.325 <br>9.300<br>8.950<br>26.575 (15)<br><br></td>
	<td valign="top" align="center">7.400<br>9.050<br>8.800<br>25.250 (19)<br><br></td>
	<td valign="top" align="center">9.050<br>9.200<br>9.150<br>27.400 (8)<br><br></td>
	<td valign="top" align="center">106.425</td></tr>
<tr class="two"><td align="center" valign="top">16</td><td valign="top">CANTALUPPI Julieta </td><td valign="top" align="center">ITA </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.050 <br>8.800<br>8.350<br>25.200 (19)<br><br></td>
	<td valign="top" align="center">8.875 <br>8.950<br>8.850<br>26.675 (13)<br><br></td>
	<td valign="top" align="center">8.900<br>9.050<br>8.900<br>26.850 (15)<br><br></td>
	<td valign="top" align="center">8.700<br>9.100<br>8.750<br>26.550 (14)<br><br></td>
	<td valign="top" align="center">105.275</td></tr>
<tr class="one"><td align="center" valign="top">17</td><td valign="top">BEREZKO-MARGGRANDER Jana </td><td valign="top" align="center">GER </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.375 <br>8.975<br>8.950<br>26.300 (16)<br><br></td>
	<td valign="top" align="center">8.425 <br>9.100<br>9.050<br>26.575 (15)<br><br></td>
	<td valign="top" align="center">9.025<br>9.200<br>9.100<br>27.325 (11)<br><br></td>
	<td valign="top" align="center">8.200<br>8.800<br>8.300<br>24.900 (20)<br>0.40</td>
	<td valign="top" align="center">52.875</td></tr>
<tr class="two"><td align="center" valign="top">18</td><td valign="top">WEBER Caroline </td><td valign="top" align="center">AUT </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.375 <br>8.750<br>8.800<br>25.925 (18)<br><br></td>
	<td valign="top" align="center">8.450 <br>8.800<br>8.700<br>25.950 (19)<br><br></td>
	<td valign="top" align="center">8.725<br>9.100<br>8.900<br>26.725 (16)<br><br></td>
	<td valign="top" align="center">8.500<br>9.000<br>8.850<br>26.350 (16)<br><br></td>
	<td valign="top" align="center">104.950</td></tr>
<tr class="one"><td align="center" valign="top">19</td><td valign="top">TRIKOMITI Chrystalleni </td><td valign="top" align="center">CYP </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">8.550 <br>8.900<br>8.850<br>26.250 (17)<br>0.05</td>
	<td valign="top" align="center">8.500 <br>8.900<br>8.850<br>26.250 (17)<br><br></td>
	<td valign="top" align="center">8.600<br>8.950<br>8.875<br>26.375 (17)<br>0.05</td>
	<td valign="top" align="center">8.150<br>8.900<br>8.800<br>25.800 (18)0.05</td>
	<td valign="top" align="center">104.675</td></tr>
<tr class="two"><td align="center" valign="top">20</td><td valign="top">TROFIMOVA Ulyana </td><td valign="top" align="center">UZB </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">7.300 <br>8.950<br>8.400<br>24.650 (20)<br><br></td>
	<td valign="top" align="center">7.350 <br>8.825<br>8.450<br>24.625 (20)<br><br></td>
	<td valign="top" align="center">6.975<br>8.400<br>8.000<br>23.275 (23)<br>0.10</td>
	<td valign="top" align="center">7.300<br>8.900<br>8.600<br>24.800 (21)<br><br></td>
	<td valign="top" align="center">97.350</td></tr>
<tr class="one"><td align="center" valign="top">21</td><td valign="top">ZETLIN Julie </td><td valign="top" align="center">USA </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">7.400 <br>8.250<br>8.100<br>23.750 (24)<br><br></td>
	<td valign="top" align="center">7.900 <br>8.400<br>8.150<br>24.450 (22)<br><br></td>
	<td valign="top" align="center">8.075<br>8.400<br>7.800<br>24.225 (21)<br>0.05</td>
	<td valign="top" align="center">7.400<br>8.500<br>8.350<br>24.250 (22)<br><br></td>
	<td valign="top" align="center">96.675</td></tr>
<tr class="two"><td align="center" valign="top">22</td><td valign="top">MURRAY Janine </td><td valign="top" align="center">AUS </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">7.750 <br>8.300<br>8.300<br>24.350 (21)<br><br></td>
	<td valign="top" align="center">7.275 <br>8.150<br>7.675<br>23.100 (24)<br><br></td>
	<td valign="top" align="center">7.525<br>8.350<br>8.000<br>23.875 (22)<br><br></td>
	<td valign="top" align="center">8.150<br>8.500<br>8.350<br>25.000 (19)<br><br></td>
	<td valign="top" align="center">96.325</td></tr>
<tr class="one"><td align="center" valign="top">23</td><td valign="top">ROSTOM Yasmine Mohmed </td><td valign="top" align="center">EGY </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">7.625 <br>8.350<br>8.150<br>23.925 (23)<br>0.20</td>
	<td valign="top" align="center">6.875 <br>8.500<br>8.400<br>23.775 (23)<br><br></td>
	<td valign="top" align="center">8.050<br>8.500<br>8.500<br>25.050 (20)<br><br></td>
	<td valign="top" align="center">7.500<br>8.250<br>7.750<br>23.500 (24)<br><br></td>
	<td valign="top" align="center">96.250</td></tr>
<tr class="two"><td align="center" valign="top">24</td><td valign="top">JONES Francesca </td><td valign="top" align="center">GBR </td>
	<td valign="top" align="center">D<br>A<br>E<br>Score<br>Pen</td>
	<td valign="top" align="center">7.400 <br>8.450<br>8.350<br>24.200 (22)<br><br></td>
	<td valign="top" align="center">7.600 <br>8.550<br>8.400<br>24.550 (21)<br><br></td>
	<td valign="top" align="center">6.625<br>8.200<br>7.650<br>21.975 (24)<br>0.50</td>
	<td valign="top" align="center">7.100<br>8.500<br>8.300<br>23.900 (23)<br><br></td>
	<td valign="top" align="center">94.625</td></tr>
</table>
</div>

<a href="documents/rg/qualind.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Information</h2>
<a href="documents/rg/qualifiers.pdf" target="_blank" class="pdf">Rhythmic Gymnastics 2012 Olympic Qualifiers</a>
<a href="documents/rg/draw.pdf" target="_blank" class="pdf">Rhythmic Gymnastics Draw of Lots Competition C I</a>
<a href="documents/rg/participants.pdf" target="_blank" class="pdf">Rhythmic Gymnastics Participants</a>
