---
title: "London 2012 Olympics Trampoline"
year: 2012
startdate: 2012-07-27
enddate: 2012-08-12
country: "GBR"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /olympics/2012/trampoline.html
- /olympics/2012/tr/mf.html
- /olympics/2012/tr/mq.html
- /olympics/2012/tr/wf.html
- /olympics/2012/tr/wq.html
---
	
{% include resultsheader.html title="Games of the 30th Olympiad<br>London (GBR) July 27 - August 12, 2012<br>Trampoline" %}

<a href="/results/2012/olympics/index.html"><img src="/assets/images/logos/lg2012og.jpg"></a>

<h2 class="men">Trampoline Men Final Results</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>D Score</th><th>E Score</th><th>T Score</th><th>Pen</th><th>Total</th></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>
<tr class="one"><td width="30" align="center">1</td><td width="200">DONG Dong</td><td width="80" align="center">CHN</td><td width="80" align="center">17.800</td><td width="80" align="center">27.100</td><td width="80" align="center">18.090</td><td width="80" align="center"></td><td width="80" align="center">62.990</td></tr>
<tr class="two"><td width="30" align="center">2</td><td width="200">USHAKOV Dmitry</td><td width="80" align="center">RUS</td><td width="80" align="center">17.100</td><td width="80" align="center">26.524</td><td width="80" align="center">18.145</td><td width="80" align="center"></td><td width="80" align="center">61.769</td></tr>
<tr class="one"><td width="30" align="center">3</td><td width="200">LU Chunlong</td><td width="80" align="center">CHN</td><td width="80" align="center">17.100</td><td width="80" align="center">25.849</td><td width="80" align="center">18.370</td><td width="80" align="center"></td><td width="80" align="center">61.319</td></tr>
<tr class="two"><td width="30" align="center">4</td><td width="200">ITO Masaki</td><td width="80" align="center">JPN</td><td width="80" align="center">16.600</td><td width="80" align="center">26.300</td><td width="80" align="center">17.995</td><td width="80" align="center"></td><td width="80" align="center">60.895</td></tr>
<tr class="one"><td width="30" align="center">5</td><td width="200">UEYAMA Yasuhiro</td><td width="80" align="center">JPN</td><td width="80" align="center">16.600</td><td width="80" align="center">25.875</td><td width="80" align="center">17.765</td><td width="80" align="center"></td><td width="80" align="center">60.240</td></tr>
<tr class="two"><td width="30" align="center">6</td><td width="200">FEDORENKO Nikita</td><td width="80" align="center">RUS</td><td width="80" align="center">17.300</td><td width="80" align="center">23.900</td><td width="80" align="center">17.905</td><td width="80" align="center"></td><td width="80" align="center">59.105</td></tr>
<tr class="one"><td width="30" align="center">7</td><td width="200">PENNES Gregoire</td><td width="80" align="center">FRA</td><td width="80" align="center">17.100</td><td width="80" align="center">24.500</td><td width="80" align="center">17.205</td><td width="80" align="center"></td><td width="80" align="center">58.805</td></tr>
<tr class="two"><td width="30" align="center">8</td><td width="200">BURNETT Jason</td><td width="80" align="center">CAN</td><td width="80" align="center">2.200</td><td width="80" align="center">2.600</td><td width="80" align="center">1.915</td><td width="80" align="center"></td><td width="80" align="center">6.715</td></tr>
</table>
</div>

<a href="documents/tr/menfinal.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Trampoline Women Final Results</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>D Score</th><th>E Score</th><th>T Score</th><th>Pen</th><th>Total</th></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>
<tr class="one"><td width="30" align="center">1</td><td width="200">MACLENNAN Rosannagh</td><td width="80" align="center">CAN</td><td width="80" align="center">15.400</td><td width="80" align="center">25.600</td><td width="80" align="center">16.305</td><td width="80" align="center"></td><td width="80" align="center">57.305</td></tr>
<tr class="two"><td width="30" align="center">2</td><td width="200">HUANG Shanshan</td><td width="80" align="center">CHN</td><td width="80" align="center">15.000</td><td width="80" align="center">25.400</td><td width="80" align="center">16.330</td><td width="80" align="center"></td><td width="80" align="center">56.730</td></tr>
<tr class="one"><td width="30" align="center">3</td><td width="200">HE Wenna</td><td width="80" align="center">CHN</td><td width="80" align="center">14.800</td><td width="80" align="center">24.800</td><td width="80" align="center">16.350</td><td width="80" align="center"></td><td width="80" align="center">55.950</td></tr>
<tr class="two"><td width="30" align="center">4</td><td width="200">COCKBURN Karen</td><td width="80" align="center">CAN</td><td width="80" align="center">14.800</td><td width="80" align="center">25.000</td><td width="80" align="center">16.060</td><td width="80" align="center"></td><td width="80" align="center">55.860</td></tr>
<tr class="one"><td width="30" align="center">5</td><td width="200">PIATRENIA Tatsiana</td><td width="80" align="center">BLR</td><td width="80" align="center">14.400</td><td width="80" align="center">25.200</td><td width="80" align="center">16.070</td><td width="80" align="center"></td><td width="80" align="center">55.670</td></tr>
<tr class="two"><td width="30" align="center">6</td><td width="200">VINSANT Savannah</td><td width="80" align="center">USA</td><td width="80" align="center">14.500</td><td width="80" align="center">24.400</td><td width="80" align="center">16.065</td><td width="80" align="center"></td><td width="80" align="center">54.965</td></tr>
<tr class="one"><td width="30" align="center">7</td><td width="200">GOLOVINA Luba</td><td width="80" align="center">GEO</td><td width="80" align="center">14.400</td><td width="80" align="center">23.100</td><td width="80" align="center">15.425</td><td width="80" align="center"></td><td width="80" align="center">52.925</td></tr>
<tr class="two"><td width="30" align="center">8</td><td width="200">VORONINA Victoria</td><td width="80" align="center">RUS</td><td width="80" align="center">6.100</td><td width="80" align="center">9.200</td><td width="80" align="center">6.615</td><td width="80" align="center"></td><td width="80" align="center">21.915</td></tr>
</table>
</div>

<a href="documents/tr/womfinal.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Trampoline Men Qualification Results</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>Routine</th><th>D Score</th><th>E Score</th><th>T Score</th><th>Pen</th><th>Routine</th><th>Total</th></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">1</td><td rowspan="2" width="170">DONG Dong</td><td rowspan="2" width="30" align="center">CHN</td><td width="30" align="center">1st</td><td width="60" align="center">3.400</td><td width="60" align="center">29.200</td><td width="60" align="center">18.560</td><td width="30" align="center"></td><td width="80" align="center">51.160 (1)</td><td rowspan="2" width="80" align="center">112.895 Q</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">17.100</td><td width="60" align="center">26.700</td><td width="60" align="center">17.935</td><td width="30" align="center"></td><td width="80" align="center">61.735 (2)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">2</td><td rowspan="2" width="170">USHAKOV Dmitry</td><td rowspan="2" width="30" align="center">RUS</td><td width="30" align="center">1st</td><td width="60" align="center">3.300</td><td width="60" align="center">28.800</td><td width="60" align="center">18.605</td><td width="30" align="center"></td><td width="80" align="center">50.705 (3)</td><td rowspan="2" width="80" align="center">112.605 Q</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">17.100</td><td width="60" align="center">26.800</td><td width="60" align="center">18.000</td><td width="30" align="center"></td><td width="80" align="center">61.900 (1)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">3</td><td rowspan="2" width="170">LU Chunlong</td><td rowspan="2" width="30" align="center">CHN</td><td width="30" align="center">1st</td><td width="60" align="center">3.400</td><td width="60" align="center">28.524</td><td width="60" align="center">19.140</td><td width="30" align="center"></td><td width="80" align="center">51.064 (2)</td><td rowspan="2" width="80" align="center">112.299 Q</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">17.100</td><td width="60" align="center">26.200</td><td width="60" align="center">17.935</td><td width="30" align="center"></td><td width="80" align="center">61.235 (3)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">4</td><td rowspan="2" width="170">ITO Masaki</td><td rowspan="2" width="30" align="center">JPN</td><td width="30" align="center">1st</td><td width="60" align="center">3.100</td><td width="60" align="center">28.700</td><td width="60" align="center">18.190</td><td width="30" align="center"></td><td width="80" align="center">49.990 (4)</td><td rowspan="2" width="80" align="center">109.810 Q</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">16.600</td><td width="60" align="center">25.500</td><td width="60" align="center">17.720</td><td width="30" align="center"></td><td width="80" align="center">59.820 (5)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">5</td><td rowspan="2" width="170">UEYAMA Yasuhiro</td><td rowspan="2" width="30" align="center">JPN</td><td width="30" align="center">1st</td><td width="60" align="center">3.500</td><td width="60" align="center">27.774</td><td width="60" align="center">18.280</td><td width="30" align="center"></td><td width="80" align="center">49.554 (8)</td><td rowspan="2" width="80" align="center">109.809 Q</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">16.600</td><td width="60" align="center">26.000</td><td width="60" align="center">17.655</td><td width="30" align="center"></td><td width="80" align="center">60.255 (4)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">6</td><td rowspan="2" width="170">BURNETT Jason</td><td rowspan="2" width="30" align="center">CAN</td><td width="30" align="center">1st</td><td width="60" align="center">3.500</td><td width="60" align="center">28.000</td><td width="60" align="center">18.170</td><td width="30" align="center"></td><td width="80" align="center">49.670 (7)</td><td rowspan="2" width="80" align="center">109.065 Q</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">17.600</td><td width="60" align="center">24.300</td><td width="60" align="center">17.495</td><td width="30" align="center"></td><td width="80" align="center">59.395 (6)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">7</td><td rowspan="2" width="170">PENNES Gregoire</td><td rowspan="2" width="30" align="center">FRA</td><td width="30" align="center">1st</td><td width="60" align="center">3.300</td><td width="60" align="center">28.100</td><td width="60" align="center">18.370</td><td width="30" align="center"></td><td width="80" align="center">49.770 (6)</td><td rowspan="2" width="80" align="center">107.539 Q</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">17.100</td><td width="60" align="center">23.449</td><td width="60" align="center">17.220</td><td width="30" align="center"></td><td width="80" align="center">57.769 (7)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">8</td><td rowspan="2" width="170">FEDORENKO Nikita</td><td rowspan="2" width="30" align="center">RUS</td><td width="30" align="center">1st</td><td width="60" align="center">3.300</td><td width="60" align="center">28.300</td><td width="60" align="center">18.265</td><td width="30" align="center"></td><td width="80" align="center">49.865 (5)</td><td rowspan="2" width="80" align="center">107.070 Q</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">17.300</td><td width="60" align="center">22.700</td><td width="60" align="center">17.205</td><td width="30" align="center"></td><td width="80" align="center">57.205 (9)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">9</td><td rowspan="2" width="170">STEHLIK Henrik</td><td rowspan="2" width="30" align="center">GER</td><td width="30" align="center">1st</td><td width="60" align="center">3.100</td><td width="60" align="center">27.600</td><td width="60" align="center">17.735</td><td width="30" align="center"></td><td width="80" align="center">48.435 (14)</td><td rowspan="2" width="80" align="center">106.065 R1</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">15.800</td><td width="60" align="center">25.300</td><td width="60" align="center">16.530</td><td width="30" align="center"></td><td width="80" align="center">57.630 (8)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">10</td><td rowspan="2" width="170">JENSEN Peter</td><td rowspan="2" width="30" align="center">DEN</td><td width="30" align="center">1st</td><td width="60" align="center">3.100</td><td width="60" align="center">27.200</td><td width="60" align="center">18.615</td><td width="30" align="center"></td><td width="80" align="center">48.915 (11)</td><td rowspan="2" width="80" align="center">104.695 R2</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">16.400</td><td width="60" align="center">22.500</td><td width="60" align="center">16.880</td><td width="30" align="center"></td><td width="80" align="center">55.780 (12)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">11</td><td rowspan="2" width="170">CANNONE Flavio</td><td rowspan="2" width="30" align="center">ITA</td><td width="30" align="center">1st</td><td width="60" align="center">3.200</td><td width="60" align="center">26.100</td><td width="60" align="center">18.150</td><td width="30" align="center"></td><td width="80" align="center">47.450 (16)</td><td rowspan="2" width="80" align="center">104.170</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">16.000</td><td width="60" align="center">23.000</td><td width="60" align="center">17.720</td><td width="30" align="center"></td><td width="80" align="center">56.720 (10)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">12</td><td rowspan="2" width="170">MODZEL Viachaslau</td><td rowspan="2" width="30" align="center">BLR</td><td width="30" align="center">1st</td><td width="60" align="center">3.200</td><td width="60" align="center">26.600</td><td width="60" align="center">17.900</td><td width="30" align="center"></td><td width="80" align="center">47.700 (15)</td><td rowspan="2" width="80" align="center">103.880</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">16.200</td><td width="60" align="center">23.200</td><td width="60" align="center">16.780</td><td width="30" align="center"></td><td width="80" align="center">56.180 (11)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">13</td><td rowspan="2" width="170">GAUDRY Blake</td><td rowspan="2" width="30" align="center">AUS</td><td width="30" align="center">1st</td><td width="60" align="center">4.000</td><td width="60" align="center">26.400</td><td width="60" align="center">18.860</td><td width="30" align="center"></td><td width="80" align="center">49.260 (9)</td><td rowspan="2" width="80" align="center">84.255</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">9.600</td><td width="60" align="center">14.500</td><td width="60" align="center">10.895</td><td width="30" align="center"></td><td width="80" align="center">34.995 (13)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">14</td><td rowspan="2" width="170">NIKITIN Yuriy</td><td rowspan="2" width="30" align="center">UKR</td><td width="30" align="center">1st</td><td width="60" align="center">2.700</td><td width="60" align="center">28.100</td><td width="60" align="center">18.135</td><td width="30" align="center"></td><td width="80" align="center">48.935 (10)</td><td rowspan="2" width="80" align="center">79.100</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">8.600</td><td width="60" align="center">12.600</td><td width="60" align="center">8.965</td><td width="30" align="center"></td><td width="80" align="center">30.165 (14)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">15</td><td rowspan="2" width="170">GANCHINHO Diogo</td><td rowspan="2" width="30" align="center">POR</td><td width="30" align="center">1st</td><td width="60" align="center">3.300</td><td width="60" align="center">26.900</td><td width="60" align="center">18.600</td><td width="30" align="center"></td><td width="80" align="center">48.800 (13)</td><td rowspan="2" width="80" align="center">61.440</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">4.000</td><td width="60" align="center">4.800</td><td width="60" align="center">3.840</td><td width="30" align="center"></td><td width="80" align="center">12.640 (15)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">16</td><td rowspan="2" width="170">GLUCKSTEIN Steven</td><td rowspan="2" width="30" align="center">USA</td><td width="30" align="center">1st</td><td width="60" align="center">2.900</td><td width="60" align="center">28.200</td><td width="60" align="center">17.755</td><td width="30" align="center"></td><td width="80" align="center">48.855 (12)</td><td rowspan="2" width="80" align="center">61.020</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">4.100</td><td width="60" align="center">4.500</td><td width="60" align="center">3.565</td><td width="30" align="center"></td><td width="80" align="center">12.165 (16)
</table>
</div>

<a href="documents/tr/menqual.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Trampoline Women Qualification Results</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>Routine</th><th>D Score</th><th>E Score</th><th>T Score</th><th>Pen</th><th>Routine</th><th>Total</th></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">1</td><td rowspan="2" width="170">HE Wenna</td><td rowspan="2" width="30" align="center">CHN</td><td width="30" align="center">1st</td><td width="60" align="center">2.500</td><td width="60" align="center">29.000</td><td width="60" align="center">17.360</td><td width="30" align="center"></td><td width="80" align="center">48.860 (1)</td><td rowspan="2" width="80" align="center">105.500 Q</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">14.400</td><td width="60" align="center">26.100</td><td width="60" align="center">16.140</td><td width="30" align="center"></td><td width="80" align="center">56.640 (1)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">2</td><td rowspan="2" width="170">HUANG Shanshan</td><td rowspan="2" width="30" align="center">CHN</td><td width="30" align="center">1st</td><td width="60" align="center">2.700</td><td width="60" align="center">28.324</td><td width="60" align="center">17.475</td><td width="30" align="center"></td><td width="80" align="center">48.499 (3)</td><td rowspan="2" width="80" align="center">104.759 Q</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">15.000</td><td width="60" align="center">25.000</td><td width="60" align="center">16.260</td><td width="30" align="center"></td><td width="80" align="center">56.260 (2)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">3</td><td rowspan="2" width="170">PIATRENIA Tatsiana</td><td rowspan="2" width="30" align="center">BLR</td><td width="30" align="center">1st</td><td width="60" align="center">3.100</td><td width="60" align="center">28.300</td><td width="60" align="center">17.385</td><td width="30" align="center"></td><td width="80" align="center">48.785 (2)</td><td rowspan="2" width="80" align="center">104.755 Q</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">14.400</td><td width="60" align="center">25.300</td><td width="60" align="center">16.270</td><td width="30" align="center"></td><td width="80" align="center">55.970 (5)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">4</td><td rowspan="2" width="170">MACLENNAN Rosannagh</td><td rowspan="2" width="30" align="center">CAN</td><td width="30" align="center">1st</td><td width="60" align="center">2.900</td><td width="60" align="center">28.200</td><td width="60" align="center">17.130</td><td width="30" align="center"></td><td width="80" align="center">48.230 (4)</td><td rowspan="2" width="80" align="center">104.450 Q</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">15.000</td><td width="60" align="center">25.100</td><td width="60" align="center">16.120</td><td width="30" align="center"></td><td width="80" align="center">56.220 (3)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">5</td><td rowspan="2" width="170">COCKBURN Karen</td><td rowspan="2" width="30" align="center">CAN</td><td width="30" align="center">1st</td><td width="60" align="center">2.500</td><td width="60" align="center">28.200</td><td width="60" align="center">17.200</td><td width="30" align="center"></td><td width="80" align="center">47.900 (5)</td><td rowspan="2" width="80" align="center">103.945 Q</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">14.800</td><td width="60" align="center">25.200</td><td width="60" align="center">16.045</td><td width="30" align="center"></td><td width="80" align="center">56.045 (4)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">6</td><td rowspan="2" width="170">GOLOVINA Luba</td><td rowspan="2" width="30" align="center"> GEO</td><td width="30" align="center">1st</td><td width="60" align="center">2.900</td><td width="60" align="center">27.600</td><td width="60" align="center">17.305</td><td width="30" align="center"></td><td width="80" align="center">47.805 (6)</td><td rowspan="2" width="80" align="center">101.740 Q</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">12.900</td><td width="60" align="center">25.000</td><td width="60" align="center">16.035</td><td width="30" align="center"></td><td width="80" align="center">53.935 (8)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">7</td><td rowspan="2" width="170">VINSANT Savannah</td><td rowspan="2" width="30" align="center">USA</td><td width="30" align="center">1st</td><td width="60" align="center">2.900</td><td width="60" align="center">26.800</td><td width="60" align="center">16.700</td><td width="30" align="center"></td><td width="80" align="center">46.400 (11)</td><td rowspan="2" width="80" align="center">101.355 Q</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">14.500</td><td width="60" align="center">24.400</td><td width="60" align="center">16.055</td><td width="30" align="center"></td><td width="80" align="center">54.955 (6)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">8</td><td rowspan="2" width="170">VORONINA Victoria</td><td rowspan="2" width="30" align="center">RUS</td><td width="30" align="center">1st</td><td width="60" align="center">2.700</td><td width="60" align="center">27.400</td><td width="60" align="center">17.050</td><td width="30" align="center"></td><td width="80" align="center">47.150 (9)</td><td rowspan="2" width="80" align="center">100.995 Q</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">14.400</td><td width="60" align="center">23.300</td><td width="60" align="center">16.145</td><td width="30" align="center"></td><td width="80" align="center">53.845 (9)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">9</td><td rowspan="2" width="170">DRISCOLL Katherine</td><td rowspan="2" width="30" align="center">GBR</td><td width="30" align="center">1st</td><td width="60" align="center">2.700</td><td width="60" align="center">26.900</td><td width="60" align="center">16.735</td><td width="30" align="center"></td><td width="80" align="center">46.335 (12)</td><td rowspan="2" width="80" align="center">100.985 R1</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">14.200</td><td width="60" align="center">24.200</td><td width="60" align="center">16.250</td><td width="30" align="center"></td><td width="80" align="center">54.650 (7)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">10</td><td rowspan="2" width="170">DOGONADZE Anna</td><td rowspan="2" width="30" align="center">GER</td><td width="30" align="center">1st</td><td width="60" align="center">2.700</td><td width="60" align="center">27.600</td><td width="60" align="center">16.240</td><td width="30" align="center"></td><td width="80" align="center">46.540 (10)</td><td rowspan="2" width="80" align="center">100.370 R2</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">13.700</td><td width="60" align="center">24.500</td><td width="60" align="center">15.630</td><td width="30" align="center"></td><td width="80" align="center">53.830 (10)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">11</td><td rowspan="2" width="170">RENTE Ana</td><td rowspan="2" width="30" align="center">POR</td><td width="30" align="center">1st</td><td width="60" align="center">3.100</td><td width="60" align="center">27.200</td><td width="60" align="center">16.965</td><td width="30" align="center"></td><td width="80" align="center">47.265 (7)</td><td rowspan="2" width="80" align="center">100.275</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">14.400</td><td width="60" align="center">22.800</td><td width="60" align="center">15.810</td><td width="30" align="center"></td><td width="80" align="center">53.010 (11)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">12</td><td rowspan="2" width="170">KHILKO Ekaterina</td><td rowspan="2" width="30" align="center">UZB</td><td width="30" align="center">1st</td><td width="60" align="center">2.900</td><td width="60" align="center">27.400</td><td width="60" align="center">16.940</td><td width="30" align="center"></td><td width="80" align="center">47.240 (8)</td><td rowspan="2" width="80" align="center">99.290</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">14.600</td><td width="60" align="center">21.800</td><td width="60" align="center">15.650</td><td width="30" align="center"></td><td width="80" align="center">52.050 (13)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">13</td><td rowspan="2" width="170">LENDERS Andrea</td><td rowspan="2" width="30" align="center">NED</td><td width="30" align="center">1st</td><td width="60" align="center">3.300</td><td width="60" align="center">26.200</td><td width="60" align="center">16.770</td><td width="30" align="center"></td><td width="80" align="center">46.270 (13)</td><td rowspan="2" width="80" align="center">98.115</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">14.000</td><td width="60" align="center">22.600</td><td width="60" align="center">15.245</td><td width="30" align="center"></td><td width="80" align="center">51.845 (14)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">14</td><td rowspan="2" width="170">KISHI Ayano</td><td rowspan="2" width="30" align="center">JPN</td><td width="30" align="center">1st</td><td width="60" align="center">2.700</td><td width="60" align="center">26.700</td><td width="60" align="center">16.345</td><td width="30" align="center"></td><td width="80" align="center">45.745 (14)</td><td rowspan="2" width="80" align="center">97.985</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">12.700</td><td width="60" align="center">24.100</td><td width="60" align="center">15.440</td><td width="30" align="center"></td><td width="80" align="center">52.240 (12)</td></tr>
<tr class="one"><td rowspan="2" width="30" align="center">15</td><td rowspan="2" width="170">FRYDRYCHOVA Zita</td><td rowspan="2" width="30" align="center">CZE</td><td width="30" align="center">1st</td><td width="60" align="center">2.900</td><td width="60" align="center">24.900</td><td width="60" align="center">16.545</td><td width="30" align="center"></td><td width="80" align="center">44.345 (15)</td><td rowspan="2" width="80" align="center">76.560</td></tr>
	<tr class="one"><td width="30" align="center">2nd</td><td width="60" align="center">8.600</td><td width="60" align="center">14.100</td><td width="60" align="center">9.515</td><td width="30" align="center"></td><td width="80" align="center">32.215 (15)</td></tr>
<tr class="two"><td rowspan="2" width="30" align="center">16</td><td rowspan="2" width="170">KYIKO Maryna</td><td rowspan="2" width="30" align="center">UKR</td><td width="30" align="center">1st</td><td width="60" align="center">1.300</td><td width="60" align="center">25.500</td><td width="60" align="center">15.140</td><td width="30" align="center"></td><td width="80" align="center">41.940 (16)</td><td rowspan="2" width="80" align="center">73.460</td></tr>
	<tr class="two"><td width="30" align="center">2nd</td><td width="60" align="center">9.000</td><td width="60" align="center">13.100</td><td width="60" align="center">9.420</td><td width="30" align="center"></td><td width="80" align="center">31.520 (16)</td></tr>
</table>
</div>

<a href="documents/tr/womqual.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Start Lists</h2>
	<a href="documents/tr/slmenq.pdf" target="_blank" class="pdf">Start List Qualification Trampoline Men</a>
	<a href="documents/tr/slwomq.pdf" target="_blank" class="pdf">Start List Qualification Trampoline Women</a>

<h2 class="men">Participants</h2>
	<a href="documents/tr/participants.pdf" target="_blank" class="pdf">Trampoline Participants</a>

<h2 class="wom">Information</h2>
	<a href="documents/tr/qualifiers.pdf" target="_blank" class="pdf">Trampoline 2012 Olympic Qualifiers</a>
	<a href="documents/tr/draw.pdf" target="_blank" class="pdf">Trampoline Draw of Lots Competition C I</a>
