---
title: "43rd Internationaler Leverkusen Cup Leverkusen"
year: 2018
startdate: 2018-10-06
country: "GER"
category: "leverkusen-cup"
layout: results
redirect_from: /2018/eu/ger/leverkusen-cup.html
---
	
{% include resultsheader.html title="43rd Internationaler Leverkusen Cup<br>Leverkusen (GER)<br>2018 Oct 6" %}

<img src="images/logo.jpg" alt="43rd Internationaler Leverkusen Cup Leverkusen (GER) 2018 Oct 6">
<!--Teams-->
<h2 class="wom">Teams Women</h2>
	<img src="images/teams.jpg" alt="43rd Internationaler Leverkusen Cup Leverkusen (GER) 2018 Oct 6">
	<br>
	<a href="documents/teams.pdf" target="_blank" class="pdf">Results Teams Women</a>
<!--AA-->
<h2 class="wom">All-Around Women</h2>
	<img src="images/aa.jpg" alt="43rd Internationaler Leverkusen Cup Leverkusen (GER) 2018 Oct 6">
	<br>
	<a href="documents/aa.pdf" target="_blank" class="pdf">Results All-Around Women</a>
<!--AF-->
<h2 class="wom">Apparatus Finals Women</h2>
	<a href="documents/af1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/af2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/af3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/af4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
