---
title: "9th World Challenge Cup 2016 Doha"
year: 2016
startdate: 2016-03-24
enddate: 2016-03-26
country: "QAT"
category: "world-challenge-cup"
layout: results
redirect_from: /2016/as/qat/world-challenge-cup-doha.html
---

{% include resultsheader.html title="9th World Challenge Cup 2016<br>Aspire Academy Dome<br>Doha (QAT)<br>2016 March 24-26" %}

<img src="images/logo.png" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26">
<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<img src="images/magaf4vt.jpg" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26"><br>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Results Vault Final Men</a><br>
	<div style="padding-left:15px;">
	1 HUANG Mingqi CHN 15.200<br>
	2 REMKES Christopher AUS 14.950<br>
	3 HYPOLITO Diego BRA 14.900<br>
	</div><br><br>
	<img src="images/magaf5pb.jpg" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26"><br>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Results Parallel Bars Final Men</a><br>
	<div style="padding-left:15px;">
	1 STEPKO Oleg AZE 15.825<br>
	2 LARDUET Manrique CUB 15.775<br>
	3 PHAM Phuoc Hung VIE 15.350<br>
	</div><br><br>
	<img src="images/magaf6hb.jpg" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26"><br>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Results Horizontal Bar Final Men</a><br>
	<div style="padding-left:15px;">
	1 MAENO Fuya JPN 15.175<br>
	2 WATSON Ashley GBR 15.050<br>
	3 MOZNIK Marijo CRO 14.850<br>
	</div><br><br>
<h2 class="wom">Results Apparatus Finals Women Day 2</h2>
	<img src="images/wagaf3bb.jpg" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26"><br>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Results Beam Final Women</a><br>
	<div style="padding-left:15px;">
	1 PONOR Catalina ROU 14.650<br>
	2 LEE DE ARAUJO Thauany BRA 14.150<br>
	3 MARTINS Filipa POR 13.900<br>
	</div><br><br>
	<img src="images/wagaf4fx.jpg" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26"><br>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Results Floor Exercise Final Women</a><br>
	<div style="padding-left:15px;">
	1 STEINGRUBER Giulia SUI 14.700<br>
	2 BULIMAR Diana Laura ROU 14.125<br>
	3 KOVACS Zsofia HUN 13.925<br>
	</div><br><br>
<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<img src="images/magaf1fx.jpg" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26"><br>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Results Floor Exercise Final Men</a><br>
	<div style="padding-left:15px;">
	1 HYPOLITO Diego BRA 15.175<br>
	2 KLAVORA Rok SLO 15.000<br>
	3 OLDHAM Sam GBR 14.925<br>
	</div><br><br>
	<img src="images/magaf2ph.jpg" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26"><br>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Results Pommel Horse Final Men</a><br>
	<div style="padding-left:15px;">
	1 MERDINYAN Harutyun ARM 15.675<br>
	2 SELIGMAN Robert CRO 15.300<br>
	3 STEPKO Oleg AZE 15.000<br>
	3 BERTONCELJ Saso SLO 15.000<br>
	</div><br><br>
	<img src="images/magaf3sr.jpg" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26"><br>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Results Rings Final Men</a><br>
	<div style="padding-left:15px;">
	1 PETROUNIAS Eleftherios GRE 15.875<br>
	2 DAVTYAN Vahagn ARM 15.800<br>
	3 TOVMASYAN Artur ARM 15.775<br>
	</div><br><br>
<h2 class="wom">Results Apparatus Finals Women</h2>
	<img src="images/wagaf1vt.jpg" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26"><br>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Results Vault Final Women</a><br>
	<div style="padding-left:15px;">
	1 STEINGRUBER Giulia SUI 14.712<br>
	2 BELAK Teja SLO 14.337<br>
	3 KYSSELEF Tjasa SLO 14.087<br>
	</div><br><br>
	<img src="images/wagaf2ub.jpg" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26"><br>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Results Uneven Bars Final Women</a><br>
	<div style="padding-left:15px;">
	1 ADLERTEG Jonna SWE 14.925<br>
	2 ANDRADE Rebeca BRA 14.250<br>
	3 MARTINS Filipa POR 13.625<br>
	</div><br><br>
<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Results Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Results Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Results Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Results Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Results Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Results Horizontal Bar Qualification Men</a>
<h2 class="wom">Results Qualification Women</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Results Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Results Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Results Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Results Floor Exercise Qualification Women</a>
<h2 class="men">Start List Qualification Men</h2>
	<a href="documents/slmagq1fx.pdf" target="_blank" class="pdf">Start List Floor Exercise Qualification Men</a>
	<a href="documents/slmagq2ph.pdf" target="_blank" class="pdf">Start List Pommel Horse Qualification Men</a>
	<a href="documents/slmagq3sr.pdf" target="_blank" class="pdf">Start List Rings Qualification Men</a>
	<a href="documents/slmagq4vt.pdf" target="_blank" class="pdf">Start List Vault Qualification Men</a>
	<a href="documents/slmagq5pb.pdf" target="_blank" class="pdf">Start List Parallel Bars Qualification Men</a>
	<a href="documents/slmagq6hb.pdf" target="_blank" class="pdf">Start List Horizontal Bar Qualification Men</a>
<h2 class="wom">Start List Qualification Women</h2>
	<a href="documents/slwagq1vt.pdf" target="_blank" class="pdf">Start List Qualification Vault Women</a>
	<a href="documents/slwagq2ub.pdf" target="_blank" class="pdf">Start List Qualification Uneven Bars Women</a>
	<a href="documents/slwagq3bb.pdf" target="_blank" class="pdf">Start List Qualification Beam Women</a>
	<a href="documents/slwagq4fx.pdf" target="_blank" class="pdf">Start List Floor Qualification Exercise Women</a>
<h2 class="men">Information</h2>
<p>
<b>Disciplines, categories and age:</b><br>
</p>
<ul>
<li>Men&rsquo;s Artistic Gymnastics - Senior 18 years and older</li>
<li>Women&rsquo;s Artistic Gymnastics - Senior 16 years and older</li>
</ul>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Tuesday March 22</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Arrival of the delegations</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday March 23</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Podium Training<br>Orientation Meeting<br>Judges&rsquo; Instructions</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday March 24</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">14:30-16:45<br><br>17:30-19:45</td>
		<td style="width:460px; vertical-align:top;">Qualifications MAG: FX, PH, SR<br>Qualifications WAG: VT, UB<br>
													Qualifications MAG: VT, PB, HB<br>Qualifications WAG: BB, FX</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday March 25</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">17:00-20:00</td>
		<td style="width:460px; vertical-align:top;">Apparatus Finals MAG: FX, PH, SR<br>Apparatus Finals WAG: VT, UB</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday March 26</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">16:30-19:30</td>
		<td style="width:460px; vertical-align:top;">Apparatus Finals MAG: VT, PB, HB<br>Apparatus Finals WAG: BB, FX</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday March 27</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure of the delegations</td></tr>
</table>
<h2 class="wom">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>

<br><img src="images/aspire.png" alt="9th World Challenge Cup 2016 Doha (QAT) 2016 March 24-26">
	

<p>Pictures courtesy of <a href="http://www.dohagym.com/" target="_blank">dohagym.com</a></p>