---
title: "Games of the 28th Olympiad, Athens"
year: 2004
startdate: 2004-08-13
enddate: 2004-08-29
country: "GRE"
category: "olympics"
layout: results
---

{% include resultsheader.html title="Games of the XXVIII Olympiad<br>Athens (GRE) August 13-29, 2004" %}

<img src="/assets/images/logos/lg2004og.jpg">

<h2 class="men">Full Results</h2>
<ul>
	<li><a href="/results/2004/olympics/women.html">Women's Artistic Gymnastics</a></li>
	<li><a href="/results/2004/olympics/men.html">Men's Artistic Gymnastics</a></li>
	<li><a href="/results/2004/olympics/rhythmic.html">Rhythmic Gymnastics</a></li>
	<li><a href="/results/2004/olympics/tramp.html">Trampoline</a></li>
	<br>
	<li><a href="/results/2004/olympics/menqualteams.html">Men's Artistic Gymnastics - Team Qualifications</a></li>
	<li><a href="/results/2004/olympics/menqualaa.html">Men's Artistic Gymnastics - All Around Qualifications</a></li>		
	<li><a href="/results/2004/olympics/menqualapparatus.html">Men's Artistic Gymnastics - Apparatus Qualifications</a></li>		
	<li><a href="/results/2004/olympics/womenqualteams.html">Women's Artistic Gymnastics - Team Qualifications</a></li>	
	<li><a href="/results/2004/olympics/womenqualaa.html">Women's Artistic Gymnastics - All Around Qualifications</a></li>	
	<li><a href="/results/2004/olympics/womenqualapparatus.html">Women's Artistic Gymnastics - Apparatus Qualifications</a></li>	
</ul>

<h2 class="wom">Women's Artistic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Carly Patterson (USA)</li>
	<li>🥈Silver - Svetlana Khorkina (RUS)</li>
	<li>🥉Bronze - Zhang Nan (CHN)</li>
</ul>

<h3 class="left">Team Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Romania</li>
	<li>🥈Silver - United States</li>
	<li>🥉Bronze - Russia</li>
</ul>

<h3 class="left">Apparatus Finals</h3>
<ul class="podium-list">
	<li><b>Vault</b> 🥇Gold - Monica Rosu (ROU)</li>
	<li><b>Uneven Bars</b> 🥇Gold - Emilie Le Pennec (FRA)</li>
	<li><b>Beam</b> 🥇Gold - Catalina Ponor (ROU)</li>
	<li><b>Floor Exercise</b> 🥇Gold - Catalina Ponor (ROU)</li>
</ul>

<h2 class="men">Men's Artistic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Paul Hamm (USA)</li>
	<li>🥈Silver - Kim Dae Eun (KOR)</li>
	<li>🥉Bronze - Yang Tae Young (KOR)</li>
</ul>

<h3 class="left">Team Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Japan</li>
	<li>🥈Silver - United States</li>
	<li>🥉Bronze - Romania</li>
</ul>

<h3 class="left">Apparatus Finals</h3>
<ul class="podium-list">
	<li><b>Floor Exercise</b> 🥇Gold - Kyle Shewfelt (CAN)</li>
	<li><b>Pommel Horse</b> 🥇Gold - Teng Haibin (CHN)</li>
	<li><b>Rings</b> 🥇Gold - Dimosthenis Tampakos (GRE)</li>
	<li><b>Vault</b> 🥇Gold - Gervasio Deferr (ESP)</li>
	<li><b>Parallel Bars</b> 🥇Gold - Valeri Goncharov (UKR)</li>
	<li><b>Horizontal Bar</b> 🥇Gold - Igor Cassina (ITA)</li>
</ul>

<h2 class="wom">Rhythmic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Alina Kabaeva (RUS)</li>
	<li>🥈Silver - Irina Tchachina (RUS)</li>
	<li>🥉Bronze - Anna Bessonova (UKR)</li>
</ul>

<h3 class="left">Group Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Russia</li>
	<li>🥈Silver - Italy</li>
	<li>🥉Bronze - Bulgaria</li>
</ul>


<h2 class="wom">Trampoline - Summary</h2>

<h3 class="left">Women Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Anna Dogonadze (GER)</li>
	<li>🥈Silver - Karen Cockburn (CAN)</li>
	<li>🥉Bronze - Huang Shanshan (CHN)</li>
</ul>

<h3 class="left">Men Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Yuri Nikitin (UKR)</li>
	<li>🥈Silver - Alexander Moskalenko (RUS)</li>
	<li>🥉Bronze - Henrik Stehlik (GER)</li>
</ul>

<h2 class="wom">2004 Olympic Games Schedule - Gymnastics Artistic</h2>

<table width=100% cellpadding=2 cellspacing=0 border=0>
<div class="table-scroll" tabindex="-1">
<tr><th>Date</th><th>Session</th><th>Start</th><th>End</th><th>Event</th></tr>

<tr><td rowspan=3 valign=top>Sat Aug 14</td><td>GA01</td><td>12:30</td><td>14:43</td><td>Men's Qualification</td></tr>

<tr><td>GA02</td><td>16:30</td><td>18:43</td><td>Men's Qualification</td></tr>

<tr><td>GA03</td><td>20:30</td><td>22:43</td><td>Men's Qualification</td></tr>

<tr><td rowspan=4 valign=top>Sun Aug 15</td><td>GA04</td><td>10:00</td><td>11:35</td><td>Women's Qualification</td></tr>

<tr><td>GA05</td><td>13:30</td><td>15:05</td><td>Women's Qualification</td></tr>

<tr><td>GA06</td><td>17:00</td><td>18:15</td><td>Women's Qualification</td></tr>

<tr><td>GA07</td><td>21:00</td><td>22:15</td><td>Women's Qualification</td></tr>

<tr><td>Mon Aug 16</td><td>GA08</td><td>20:30</td><td>23:33</td><td>Men's Team Final</td></tr>

<tr><td>Tue Aug 17</td><td>GA09</td><td>21:00</td><td>23:25</td><td>Women's Team Final</td></tr>

<tr><td>Wed Aug 18</td><td>GA10</td><td>20:30</td><td>23:01</td><td>Men's Individual All-Around Final</td></tr>

<tr><td>Thu Aug 19</td><td>GA11</td><td>21:00</td><td>22:45</td><td>Women's Individual All-Around Final</td></tr>



<tr><td rowspan=5 valign=top>Sun Aug 22</td><td rowspan=5 valign=top>GA12</td><td>20:00</td><td>20:20</td><td>Men's Floor Exercise Final</td></tr>

<tr><td>20:35</td><td>20:53</td><td>Women's Vault Final</td></tr>

<tr><td>21:08</td><td>21:28</td><td>Men's Pommel Horse Final</td></tr>

<tr><td>21:43</td><td>21:59</td><td>Women's Uneven Bars Final</td></tr>

<tr><td>22:14</td><td>22:34</td><td>Men's Rings Final</td></tr>



<tr><td rowspan=5 valign=top>Mon Aug 23</td><td rowspan=5 valign=top>GA13</td><td>20:00</td><td>20:20</td><td>Men's Vault Final</td></tr>

<tr><td>20:35</td><td>20:55</td><td>Women's Beam Final</td></tr>

<tr><td>21:10</td><td>21:30</td><td>Men's Parallel Bars Final</td></tr>

<tr><td>21:45</td><td>22:05</td><td>Women's Floor Exercise Final</td></tr>

<tr><td>22:20</td><td>22:40</td><td>Men's Horizontal Bar Final</td></tr>



<tr><td>Tue Aug 24</td><td>GA14</td><td>12:00</td><td>14:00</td><td>Gymnastics Gala</td></tr>

</table>
</div>

