---
title: "Athens 2004 Olympics Men's Artistic Gymnastics"
year: 2004
startdate: 2004-08-13
enddate: 2004-08-29
country: "GRE"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2004/o2004m.html
- /olympics/2004/magfinals.html
---
	
{% include resultsheader.html title="Games of the 28th Olympiad<br>Men's Artistic Gymnastics<br>Athens (GRE) August 13-29, 2004<br>Finals Men" %}

<a href="/results/2004/olympics/index.html"><img src="/assets/images/logos/lg2004og.jpg"></a>

<a href="documents/mag/startorder.pdf" target="_blank" class="pdf">Start Order</a>
<!-- TEAMS -->
<h2 class="men">2004 Olympics Men's Team Final - 2004 August 16</h2>

<a href="documents/mag/teamsfinal.pdf" target="_blank" class="pdf">Official Results - Men's Team Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="5%" align="right">
	<col width="15%">
	<col width="10%" align="center">
	<colgroup span=7 width="10%" align="center">
<tr class="men">
	<th colspan=2>Team</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>Japan</td><td>28.311<sup> 3</sup></td><td>29.075<sup> 3</sup></td><td>29.124<sup> 1</sup></td><td>28.837<sup> 2</sup></td><td>29.012<sup> 3</sup></td><td>29.462<sup> 1</sup> </td><td>173.821</td></tr>
<tr class="two"><td>2</td><td>United States</td><td>29.137<sup> 1</sup></td><td>29.050<sup> 4</sup></td><td>28.237<sup> 7</sup></td><td>28.599<sup> 4</sup></td><td>29.274<sup> 1</sup></td><td>28.636<sup> 5</sup> </td><td>172.933</td></tr>
<tr class="one"><td>3</td><td>Romania</td><td>28.724<sup> 2</sup></td><td>29.249<sup> 2</sup></td><td>28.962<sup> 6</sup></td><td>29.025<sup> 1</sup></td><td>28.462<sup> 5</sup></td><td>27.962<sup> 8</sup> </td><td>172.384</td></tr>
<tr class="two"><td>4</td><td>Korea</td><td>28.137<sup> 4</sup></td><td>28.637<sup> 5</sup></td><td>29.099<sup> 2</sup></td><td>28.562<sup> 5</sup></td><td>28.737<sup> 4</sup></td><td>28.675<sup> 4</sup> </td><td>171.847</td></tr>
<tr class="one"><td>5</td><td>China</td><td>27.311<sup> 7</sup></td><td>29.299<sup> 1</sup></td><td>29.011<sup> 5</sup></td><td>28.825<sup> 3</sup></td><td>28.274<sup> 7</sup></td><td>28.537<sup> 7</sup> </td><td>171.257</td></tr>
<tr class="two"><td>6</td><td>Russia</td><td>27.362<sup> 6</sup></td><td>27.661<sup> 7</sup></td><td>29.050<sup> 4</sup></td><td>28.324<sup> 7</sup></td><td>28.412<sup> 6</sup></td><td>28.999<sup> 2</sup> </td><td>169.808</td></tr>
<tr class="one"><td>7</td><td>Ukraine</td><td>27.661<sup> 5</sup></td><td>26.049<sup> 8</sup></td><td>29.062<sup> 3</sup></td><td>27.849<sup> 8</sup></td><td>29.061<sup> 2</sup></td><td>28.562<sup> 6</sup> </td><td>168.244</td></tr>
<tr class="two"><td>8</td><td>Germany</td><td>26.512<sup> 8</sup></td><td>27.762<sup> 6</sup></td><td>28.024<sup> 8</sup></td><td>28.362<sup> 6</sup></td><td>28.012<sup> 8</sup></td><td>28.700<sup> 3</sup> </td><td>167.372</td></tr>
</table>
</div>

<!-- MEN AA -->
<h2 class="men">2004 Olympics Men's All-Around Final - 2004 August 18</h2>

<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Official Results - Men's All Around Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="4%" align="right">
	<col width="30%">
	<col width="10%" align="center">
	<colgroup span=7 width="8%" align="center">
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>HAMM Paul</td><td>USA</td><td>9.725</td><td>9.700</td><td>9.587</td><td>9.137</td><td>9.837</td><td>9.837</td><td>57.823</td></tr>
<tr class="two"><td>2</td><td>KIM Dae Eun</td><td>KOR</td><td>9.650</td><td>9.537</td><td>9.712</td><td>9.412</td><td>9.775</td><td>9.725</td><td>57.811</td></tr>
<tr class="one"><td>3</td><td>YANG Tae Young</td><td>KOR</td><td>9.512</td><td>9.650</td><td>9.725</td><td>9.700</td><td>9.712</td><td>9.475</td><td>57.774</td></tr>
<tr class="two"><td>4</td><td>SUCIU Ioan Silviu</td><td>ROM</td><td>9.650</td><td>9.737</td><td>9.550</td><td>9.737</td><td>9.312</td><td>9.662</td><td>57.648</td></tr>
<tr class="one"><td>5</td><td>MARTINEZ Rafael</td><td>ESP</td><td>9.500</td><td>9.687</td><td>9.575</td><td>9.612</td><td>9.700</td><td>9.475</td><td>57.549</td></tr>
<tr class="two"><td>6</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>9.062</td><td>9.737</td><td>9.762</td><td>9.625</td><td>9.637</td><td>9.662</td><td>57.485</td></tr>
<tr class="one"><td>7</td><td>YANG Wei</td><td>CHN</td><td>9.600</td><td>9.725</td><td>9.737</td><td>9.512</td><td>9.800</td><td>8.987</td><td>57.361</td></tr>
<tr class="two"><td>8</td><td>DRAGULESCU Marian</td><td>ROM</td><td>9.612</td><td>9.525</td><td>9.562</td><td>9.850</td><td>9.437</td><td>9.337</td><td>57.323</td></tr>
<tr class="one"><td>9</td><td>McCLURE Brett</td><td>USA</td><td>9.412</td><td>9.712</td><td>9.162</td><td>9.625</td><td>9.725</td><td>9.612</td><td>57.248</td></tr>
<tr class="two"><td>10</td><td>ZOZULIA Roman</td><td>UKR</td><td>9.525</td><td>9.412</td><td>9.575</td><td>9.500</td><td>9.762</td><td>9.225</td><td>56.999</td></tr>
<tr class="one"><td>11</td><td>YONEDA Isao</td><td>JPN</td><td>9.650</td><td>9.575</td><td>9.337</td><td>9.700</td><td>9.612</td><td>9.025</td><td>56.899</td></tr>
<tr class="two"><td>12</td><td>GREBENKOV Georgi</td><td>RUS</td><td>9.587</td><td>9.125</td><td>9.662</td><td>9.437</td><td>9.650</td><td>9.362</td><td>56.823</td></tr>
<tr class="one"><td>13</td><td>BONDARENKO Alexei</td><td>RUS</td><td>9.600</td><td>9.150</td><td>9.600</td><td>9.400</td><td>9.450</td><td>9.600</td><td>56.800</td></tr>
<tr class="two"><td>14</td><td>YERIMBETOV Yernar</td><td>KAZ</td><td>9.312</td><td>8.962</td><td>9.537</td><td>9.625</td><td>9.225</td><td>9.737</td><td>56.398</td></tr>
<tr class="one"><td>15</td><td>VARGAS Luis</td><td>PUR</td><td>8.337</td><td>9.612</td><td>9.500</td><td>9.462</td><td>9.562</td><td>9.662</td><td>56.135</td></tr>
<tr class="two"><td>16</td><td>MYEZYENTSEV Ruslan</td><td>UKR</td><td>9.512</td><td>8.975</td><td>9.387</td><td>9.437</td><td>9.637</td><td>9.112</td><td>56.060</td></tr>
<tr class="one"><td>17</td><td>CARANOBE Benoit</td><td>FRA</td><td>9.112</td><td>9.400</td><td>9.575</td><td>9.187</td><td>9.087</td><td>9.612</td><td>55.973</td></tr>
<tr class="two"><td>18</td><td>VIHROVS Igors</td><td>LAT</td><td>9.687</td><td>8.862</td><td>9.187</td><td>9.700</td><td>9.000</td><td>9.437</td><td>55.873</td></tr>
<tr class="one"><td>19</td><td>GOFMAN Pavel</td><td>ISR</td><td>9.100</td><td>9.262</td><td>9.425</td><td>9.112</td><td>9.725</td><td>9.062</td><td>55.686</td></tr>
<tr class="two"><td>20</td><td>LOPEZ RIOS Eric</td><td>CUB</td><td>9.137</td><td>8.600</td><td>9.500</td><td>9.700</td><td>9.675</td><td>8.837</td><td>55.449</td></tr>
<tr class="one"><td>21</td><td>PFEIFER Sergei</td><td>GER</td><td>9.312</td><td>9.025</td><td>9.587</td><td>9.087</td><td>9.162</td><td>9.212</td><td>55.385</td></tr>
<tr class="two"><td>22</td><td>GIORGADZE Ilia</td><td>GEO</td><td>8.737</td><td>9.587</td><td>9.487</td><td>9.337</td><td>9.662</td><td>8.462</td><td>55.272</td></tr>
<tr class="one"><td>23</td><td>HAMBUECHEN Fabian</td><td>GER</td><td>9.475</td><td>8.287</td><td>8.512</td><td>9.412</td><td>9.387</td><td>9.750</td><td>54.823</td></tr>
<tr class="two"><td>24</td><td>SCHWEIZER Andreas</td><td>SUI</td><td>8.450</td><td>9.062</td><td>9.675</td><td>9.225</td><td>9.450</td><td>8.750</td><td>54.612</td></tr>
</table>
</div>

<!--FX-->
<h2 class="men">2004 Olympics Floor Exercise Final Men - 2004 August 22</h2>

<a href="documents/mag/ef1fx.pdf" target="_blank" class="pdf">Official Results - Men's Floor Exercise Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="3%" align="right">
	<col width="27%">
	<colgroup span=10 width="7%" align="center">
<tr class="men">
	<th colspan=3>Gymnast</th><th>SV</td><th>J1<br>CHN</th><th>J2<br>LAT</th><th>J3<br>POR</th>
	<th>J4<br>PRK</th><th>J5<br>HUN</th><th>J6<br>ISR</th><th>Pen</th><th>Total</td></tr>
<tr class="one"><td>1</td><td>SHEWFELT Kyle</td><td>CAN</td><td>10.00</td><td>9.85</td><td>9.80</td><td>9.75</td><td>9.80</td><td>9.80</td><td>9.75</td><td>-</td><td>9.787</td></tr>
<tr class="two"><td>2</td><td>DRAGULESCU Marian</td><td>ROM</td><td>10.00</td><td>9.70</td><td>9.80</td><td>9.85</td><td>9.75</td><td>9.80</td><td>9.80</td><td>-</td><td>9.787</td></tr>
<tr class="one"><td>3</td><td>JOVTCHEV Jordan</td><td>BUL</td><td>10.00</td><td>9.80</td><td>9.80</td><td>9.70</td><td>9.85</td><td>9.70</td><td>9.75</td><td>-</td><td>9.775</td></tr>
<tr class="two"><td>4</td><td>DEFERR Gervasio</td><td>ESP</td><td>10.00</td><td>9.80</td><td>9.70</td><td>9.80</td><td>9.65</td><td>9.70</td><td>9.65</td><td>-</td><td>9.712</td></tr>
<tr class="one"><td>5</td><td>HAMM Paul</td><td>USA</td><td>10.00</td><td>9.70</td><td>9.80</td><td>9.70</td><td>9.65</td><td>9.70</td><td>9.75</td><td>-</td><td>9.712</td></tr>
<tr class="two"><td>6</td><td>NAKANO Daisuke</td><td>JPN</td><td>10.00</td><td>9.70</td><td>9.75</td><td>9.70</td><td>9.70</td><td>9.75</td><td>9.55</td><td>-</td><td>9.712</td></tr>
<tr class="one"><td>7</td><td>YONEDA Isao</td><td>JPN</td><td>10.00</td><td>9.65</td><td>9.70</td><td>9.65</td><td>9.75</td><td>9.65</td><td>9.65</td><td>-</td><td>9.662</td></tr>
<tr class="two"><td>8</td><td>HAMM Morgan</td><td>USA</td><td>10.00</td><td>9.70</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.75</td><td>9.75</td><td>0.10</td><td>9.650</td></tr>
</table>
</div>

<!--PH-->
<h2 class="men">2004 Olympics Pommel Horse Final Men - 2004 August 22</h2>

<a href="documents/mag/ef2ph.pdf" target="_blank" class="pdf">Official Results - Men's Pommel Horse Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="3%" align="right">
	<col width="27%">
	<colgroup span=10 width="7%" align="center">
<tr class="men"><th colspan=3>Gymnast</th><th>SV</th><th>J1<br>UKR</th><th>J2<br>BUL</th><th>J3<br>GRE</th>
	<th>J4<br>KOR</th><th>J5<br>GEO</th><th>J6<br>FRA</th><th>Pen</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>TENG Haibin</td><td>CHN</td><td>10.00</td><td>9.85</td><td>9.90</td><td>9.85</td><td>9.80</td><td>9.80</td><td>9.85</td><td>-</td><td>9.837</td></tr>
<tr class="two"><td>2</td><td>URZICA Marius Daniel</td><td>ROM</td><td>10.00</td><td>9.85</td><td>9.85</td><td>9.85</td><td>9.80</td><td>9.80</td><td>9.80</td><td>-</td><td>9.825</td></tr>
<tr class="one"><td>3</td><td>KASHIMA Takehiro</td><td>JPN</td><td>10.00</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.80</td><td>9.80</td><td>9.80</td><td>-</td><td>9.787</td></tr>
<tr class="two"><td>4</td><td>HUANG Xu</td><td>CHN</td><td>10.00</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.80</td><td>9.80</td><td>9.75</td><td>-</td><td>9.775</td></tr>
<tr class="one"><td>5</td><td>CANO Victor</td><td>ESP</td><td>10.00</td><td>9.80</td><td>9.80</td><td>9.80</td><td>9.70</td><td>9.65</td><td>9.75</td><td>-</td><td>9.762</td></tr>
<tr class="two"><td>6</td><td>HAMM Paul</td><td>USA</td><td>10.00</td><td>9.75</td><td>9.75</td><td>9.75</td><td>9.65</td><td>9.70</td><td>9.75</td><td>-</td><td>9.737</td></tr>
<tr class="one"><td>7</td><td>ALEXANDERSSON Runar</td><td>ISL</td><td>10.00</td><td>9.65</td><td>9.75</td><td>9.75</td><td>9.70</td><td>9.70</td><td>9.75</td><td>-</td><td>9.725</td></tr>
<tr class="two"><td>8</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>9.80</td><td>9.00</td><td>9.05</td><td>9.10</td><td>9.10</td><td>9.10</td><td>9.00</td><td>-</td><td>9.062</td></tr>
</table>
</div>

<!--SR-->
<h2 class="men">2004 Olympics Rings Final Men - 2004 August 22</h2>

<a href="documents/mag/ef3sr.pdf" target="_blank" class="pdf">Official Results - Men's Rings Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="3%" align="right">
	<col width="27%">
	<colgroup span=10 width="7%" align="center">
<tr class="men"><th colspan=3>Gymnast</th><th>SV</th><th>J1<br>USA</th><th>J2<br>KAZ</th><th>J3<br>AUS</th>
	<th>J4<br>ESP</th><th>J5<br>BRA</th><th>J6<br>CHN</th><th>Pen</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>TAMPAKOS Dimosthenis</td><td>GRE</td><td>10.00</td><td>9.85</td><td>9.90</td><td>9.90</td><td>9.85</td><td>9.75</td><td>9.85</td><td>-</td><td>9.862</td></tr>
<tr class="two"><td>2</td><td>JOVTCHEV Jordan</td><td>BUL</td><td>10.00</td><td>9.85</td><td>9.90</td><td>9.80</td><td>9.85</td><td>9.85</td><td>9.85</td><td>-</td><td>9.850</td></tr>
<tr class="one"><td>3</td><td>CHECHI Yuri</td><td>ITA</td><td>10.00</td><td>9.80</td><td>9.80</td><td>9.85</td><td>9.85</td><td>9.80</td><td>9.80</td><td>-</td><td>9.812</td></tr>
<tr class="two"><td>4</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>10.00</td><td>9.80</td><td>9.80</td><td>9.85</td><td>9.80</td><td>9.80</td><td>9.75</td><td>-</td><td>9.800</td></tr>
<tr class="one"><td>5</td><td>MORANDI Matteo</td><td>ITA</td><td>10.00</td><td>9.80</td><td>9.80</td><td>9.75</td><td>9.80</td><td>9.80</td><td>9.80</td><td>-</td><td>9.800</td></tr>
<tr class="two"><td>5</td><td>BENY Pierre Yves</td><td>FRA</td><td>10.00</td><td>9.80</td><td>9.80</td><td>9.80</td><td>9.75</td><td>9.80</td><td>9.80</td><td>-</td><td>9.800</td></tr>
<tr class="one"><td>7</td><td>SAFOSHKIN Alexander</td><td>RUS</td><td>10.00</td><td>9.75</td><td>9.85</td><td>9.75</td><td>9.75</td><td>9.70</td><td>9.75</td><td>-</td><td>9.750</td></tr>
<tr class="two"><td>8</td><td>SCHWEIZER Andreas</td><td>SUI</td><td>10.00</td><td>9.70</td><td>9.75</td><td>9.75</td><td>9.75</td><td>9.75</td><td>9.70</td><td>-</td><td>9.737</td></tr>
</table>
</div>

<!--VT-->
<h2 class="men">2004 Olympics Vault Final Men - 2004 August 23</h2>

<a href="documents/mag/ef4vt.pdf" target="_blank" class="pdf">Official Results - Men's Vault Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="3%" align="right">
	<col width="25%">
	<colgroup span=12 width="6%" align="center">
<tr class="men"><th colspan=3>Gymnast</th><th>Vt</td><th>SV</td><th>J1<br>SUI</th><th>J2<br>JPN</th>
	<th>J3<br>VEN</th><th>J4<br>ITA</th><th>J5<br>POR</th><th>J6<br>PUR</th><th>Pen</td><th>AVG</td><th>Total</td></tr>
<tr class="one"><td rowspan="2" valign="top">1</td><td rowspan="2" valign="top">DEFERR Gervasio</td><td rowspan="2" valign="top">ESP</td>
	<td>1</td><td>9.90</td><td>9.65</td><td>9.65</td><td>9.75</td><td>9.70</td><td>9.70</td><td>9.70</td><td>-</td><td>9.687</td>
	<td rowspan="2" valign="bottom">9.737</td></tr> 
	<tr class="one"><td>2</td><td>9.90</td><td>9.70</td><td>9.75</td><td>9.80</td><td>9.80</td><td>9.80</td><td>9.80</td><td>-</td><td>9.787</td></tr>
<tr class="two"><td rowspan="2" valign="top">2</td><td rowspan="2" valign="top">SAPRONENKO Evgeni</td><td rowspan="2" valign="top">LAT</td>
	<td>1</td><td>10.0</td><td>9.70</td><td>9.75</td><td>9.65</td><td>9.70</td><td>9.75</td><td>9.70</td><td>-</td><td>9.712</td>
	<td rowspan="2" valign="bottom">9.706</td></tr>
	<tr class="two"><td>2</td><td>10.0</td><td>9.70</td><td>9.75</td><td>9.70</td><td>9.70</td><td>9.70</td><td>9.70</td><td>-</td><td>9.700</td></tr>
<tr class="one"><td rowspan="2" valign="top">3</td><td rowspan="2" valign="top">DRAGULESCU Marian</td><td rowspan="2" valign="top">ROM</td>
	<td>1</td><td>10.0</td><td>9.90</td><td>9.90</td><td>9.90</td><td>9.95</td><td>9.90</td><td>9.85</td><td>-</td><td>9.900</td>
	<td rowspan="2" valign="bottom">9.612</td></tr> 
	<tr class="one"><td>2</td><td>10.0</td><td>9.00</td><td>9.10</td><td>9.50</td><td>9.25</td><td>9.50</td><td>9.45</td><td>-</td><td>9.325</td></tr>
<tr class="two"><td rowspan="2" valign="top">4</td><td rowspan="2" valign="top">SHEWFELT Kyle</td><td rowspan="2" valign="top">CAN</td>
	<td>1</td><td>9.90</td><td>9.65</td><td>9.70</td><td>9.70</td><td>9.75</td><td>9.65</td><td>9.70</td><td>-</td><td>9.687</td>
	<td rowspan="2" valign="bottom">9.599</td></tr> 
	<tr class="two"><td>2</td><td>9.90</td><td>9.50</td><td>9.45</td><td>9.55</td><td>9.55</td><td>9.45</td><td>9.55</td><td>-</td><td>9.512</td></tr>
<tr class="one"><td rowspan="2" valign="top">5</td><td rowspan="2" valign="top">YANEV Filip</td><td rowspan="2" valign="top">BUL</td>
	<td>1</td><td>9.90</td><td>9.65</td><td>9.60</td><td>9.65</td><td>9.60</td><td>9.55</td><td>9.65</td><td>-</td><td>9.625</td>
	<td rowspan="2" valign="bottom">9.581</td></tr>
	<tr class="one"><td>2</td><td>9.90</td><td>9.55</td><td>9.55</td><td>9.55</td><td>9.50</td><td>9.55</td><td>9.50</td><td>-</td><td>9.537</td></tr>
<tr class="two"><td rowspan="2" valign="top">6</td><td rowspan="2" valign="top">GAL Robert</td><td rowspan="2" valign="top">HUN</td>
	<td>1</td><td>9.90</td><td>9.50</td><td>9.65</td><td>9.40</td><td>9.50</td><td>9.55</td><td>9.55</td><td>-</td><td>9.525</td>
	<td rowspan="2" valign="bottom">9.537</td></tr>
	<tr class="two"><td>2</td><td>9.90</td><td>9.55</td><td>9.55</td><td>9.55</td><td>9.60</td><td>9.50</td><td>9.55</td><td>-</td><td>9.550</td></tr>
<tr class="one"><td rowspan="2" valign="top">7</td><td rowspan="2" valign="top">LI Xiaopeng</td><td rowspan="2" valign="top">CHN</td>
	<td>1</td><td>9.90</td><td>8.90</td><td>9.15</td><td>9.10</td><td>9.00</td><td>9.10</td><td>9.10</td><td>-</td><td>9.075</td>
	<td rowspan="2" valign="bottom">9.368</td></tr>
	<tr class="one"><td>2</td><td>9.90</td><td>9.65</td><td>9.70</td><td>9.65</td><td>9.70</td><td>9.65</td><td>9.65</td><td>-</td><td>9.662</td></tr>
<tr class="two"><td rowspan="2" valign="top">8</td><td rowspan="2" valign="top">BONDARENKO Alexei</td><td rowspan="2" valign="top">RUS</td>
	<td>1</td><td>10.0</td><td>9.00</td><td>9.20</td><td>9.35</td><td>9.00</td><td>9.00</td><td>9.20</td><td>-</td><td>9.100</td>
	<td rowspan="2" valign="bottom">4.550</td></tr>
	<tr class="two"><td>2</td><td>10.0</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>-</td><td>0.000</td></tr>
</table>
</div>

<!--PB-->
<h2 class="men">2004 Olympics Parallel Bars Final Men - 2004 August 23</h2>

<a href="documents/mag/ef5pb.pdf" target="_blank" class="pdf">Official Results - Men's Parallel Bars Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="3%" align="right">
	<col width="27%">
	<colgroup span=10 width="7%" align="center">
<tr class="men"><th colspan=3>Gymnast</th><th>SV</td><th>J1<br>CAN</th><th>J2<br>BRA</th><th>J3<br>GEO</th>
	<th>J4<br>CUB</th><th>J5<br>BUL</th><th>J6<br>ROM</th><th>Pen</td><th>Total</td></tr>
<tr class="one"><td>1</td><td>GONCHAROV Valeri</td><td>UKR</td>
	<td>10.00</td><td>9.80</td><td>9.75</td><td>9.80</td><td>9.70</td><td>9.80</td><td>9.85</td><td>-</td><td>9.787</td></tr>
<tr class="two"><td>2</td><td>TOMITA Hiroyuki</td><td>JPN</td>
	<td>10.00</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.80</td><td>9.75</td><td>9.80</td><td>-</td><td>9.775</td></tr>
<tr class="one"><td>3</td><td>LI Xiaopeng</td><td>CHN</td>
	<td>10.00</td><td>9.80</td><td>9.80</td><td>9.70</td><td>9.80</td><td>9.75</td><td>9.65</td><td></td><td>9.762</td></tr>
<tr class="two"><td>4</td><td>IVANKOV Ivan</td><td>BLR</td>
	<td>10.00</td><td>9.75</td><td>9.85</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.75</td><td>-</td><td>9.762</td></tr>
<tr class="one"><td>5</td><td>NAKANO Daisuke</td><td>JPN</td>
	<td>10.00</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.80</td><td>9.75</td><td>9.75</td><td>-</td><td>9.762</td></tr>
<tr class="two"><td>6</td><td>CUCHERAT Yann</td><td>FRA</td>
	<td>10.00</td><td>9.75</td><td>9.80</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.75</td><td>-</td><td>9.762</td></tr>
<tr class="one"><td>7</td><td>HAMM Paul</td><td>USA</td>
	<td>10.00</td><td>9.85</td><td>9.80</td><td>9.70</td><td>9.70</td><td>9.70</td><td>9.75</td><td>-</td><td>9.737</td></tr>
<tr class="two"><td>8</td><td>YERIMBETOV Yernar</td><td>KAZ</td>
	<td>10.00</td><td>9.55</td><td>9.70</td><td>9.80</td><td>9.70</td><td>9.80</td><td>9.75</td><td>-</td><td>9.737</td></tr>
</table>
</div>

<!--HB-->
<h2 class="men">2004 Olympics Horizontal Bar Final Men - 2004 August 23</h2>

<a href="documents/mag/ef6hb.pdf" target="_blank" class="pdf">Official Results - Men's Horizontal Bar Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="3%" align="right">
	<col width="27%">
	<colgroup span=10 width="7%" align="center">
<tr class="men"><th colspan=3>Gymnast</th><th>SV</td><th>J1<br>BRA</th><th>J2<br>MAS</th><th>J3<br>ROM</th>
	<th>J4<br>ISL</th><th>J5<br>CAN</th><th>J6<br>CUB</th><th>Pen</td><th>Total</td></tr>
<tr class="one"><td>1</td><td>CASSINA Igor</td><td>ITA</td>
	<td>10.00</td><td>9.85</td><td>9.70</td><td>9.85</td><td>9.85</td><td>9.70</td><td>9.85</td><td></td><td>9.812</td></tr>
<tr class="two"><td>2</td><td>HAMM Paul</td><td>USA</td>
	<td>10.00</td><td>9.85</td><td>9.80</td><td>9.80</td><td>9.85</td><td>9.80</td><td>9.80</td><td>-</td><td>9.812</td></tr>
<tr class="one"><td>3</td><td>YONEDA Isao</td><td>JPN</td>
	<td>10.00</td><td>9.75</td><td>9.85</td><td>9.80</td><td>9.80</td><td>9.80</td><td>9.75</td><td></td><td>9.787</td></tr>
<tr class="two"><td>4</td><td>HAMM Morgan</td><td>USA</td>
	<td>10.00</td><td>9.80</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.80</td><td>9.80</td><td>-</td><td>9.787</td></tr>
<tr class="one"><td>5</td><td>NEMOV Alexei</td><td>RUS</td>
	<td>10.00</td><td>9.80</td><td>9.75</td><td>9.75</td><td>9.80</td><td>9.75</td><td>9.70</td><td>-</td><td>9.762</td></tr>
<tr class="two"><td>6</td><td>XIAO Qin</td><td>CHN</td>
	<td>10.00</td><td>9.70</td><td>9.75</td><td>9.65</td><td>9.75</td><td>9.75</td><td>9.75</td><td>-</td><td>9.737</td></tr>
<tr class="one"><td>7</td><td>HAMBUECHEN Fabian</td><td>GER</td>
	<td>10.00</td><td>9.70</td><td>9.75</td><td>9.70</td><td>9.65</td><td>9.70</td><td>9.70</td><td>-</td><td>9.700</td></tr>
<tr class="two"><td>8</td><td>GONCHAROV Valeri</td><td>UKR</td>
	<td>9.60</td><td>8.85</td><td>8.90</td><td>8.90</td><td>8.90</td><td>8.90</td><td>8.80</td><td>-</td><td>8.887</td></tr>
<tr class="one"><td>9</td><td>NAKANO Daisuke</td><td>JPN</td>
	<td>9.80</td><td>8.70</td><td>9.00</td><td>8.70</td><td>8.60</td><td>8.80</td><td>8.80</td><td>-</td><td>8.750</td></tr>
<tr class="two"><td>10</td><td>YANG Tae Young</td><td>KOR</td>
	<td>9.80</td><td>8.60</td><td>8.90</td><td>8.60</td><td>8.70</td><td>8.50</td><td>8.80</td><td>-</td><td>8.675</td></tr>
</table></div>

