---
title: "Athens 2004 Olympics Men's All Around Qualifications"
year: 2004
startdate: 2004-08-13
enddate: 2004-08-29
country: "GRE"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2004/o2004mq.html
- /olympics/2004/magqaa.html
---
	
{% include resultsheader.html title="Games of the 28th Olympiad<br>Athens (GRE) August 13-29, 2004<br>Men's Artistic Gymnastics<br>All Around Qualifications" %}

<a href="/results/2004/olympics/index.html"><img src="/assets/images/logos/lg2004og.jpg"></a>

<a href="documents/mag/qaa.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/mag/startorder.pdf" target="_blank" class="pdf">Start Order</a>
<!--1-->
<h2 class="men">All Around Qualification Men, Ranks 1-40 - 2004 August 14</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="40" align="center">
	<colgroup span=1 width="200">
	<colgroup span=8 align="center" width=65>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td align="center">1</td><td>HAMM Paul</td><td align="center">USA</td><td align="center">9.725</td><td align="center">9.737</td><td align="center">9.512</td><td align="center">9.575</td><td align="center">9.762</td><td align="center">9.750</td><td align="center">58.061 Q</td></tr>
<tr class="two"><td align="center">2</td><td>YANG Tae Young</td><td align="center">KOR</td><td align="center">9.700</td><td align="center">9.625</td><td align="center">9.625</td><td align="center">9.650</td><td align="center">9.587</td><td align="center">9.737</td><td align="center">57.924 Q</td></tr>
<tr class="one"><td align="center">3</td><td>TOMITA Hiroyuki</td><td align="center">JPN</td><td align="center">8.987</td><td align="center">9.750</td><td align="center">9.750</td><td align="center">9.650</td><td align="center">9.787</td><td align="center">9.725</td><td align="center">57.649 Q</td></tr>
<tr class="two"><td align="center">4</td><td>DRAGULESCU Marian</td><td align="center">ROM</td><td align="center">9.762</td><td align="center">9.325</td><td align="center">9.475</td><td align="center">9.762</td><td align="center">9.562</td><td align="center">9.550</td><td align="center">57.436 Q</td></tr>
<tr class="one"><td align="center">5</td><td>YERIMBETOV Yernar</td><td align="center">KAZ</td><td align="center">9.687</td><td align="center">9.675</td><td align="center">9.300</td><td align="center">9.537</td><td align="center">9.725</td><td align="center">9.500</td><td align="center">57.424 Q</td></tr>
<tr class="two"><td align="center">6</td><td>SUCIU Ioan Silviu</td><td align="center">ROM</td><td align="center">9.650</td><td align="center">9.712</td><td align="center">9.487</td><td align="center">9.637</td><td align="center">9.500</td><td align="center">9.412</td><td align="center">57.398 Q</td></tr>
<tr class="one"><td align="center">7</td><td>YANG Wei</td><td align="center">CHN</td><td align="center">9.412</td><td align="center">9.525</td><td align="center">9.712</td><td align="center">9.550</td><td align="center">9.625</td><td align="center">9.550</td><td align="center">57.374 Q</td></tr>
<tr class="two"><td align="center">8</td><td>ZOZULIA Roman</td><td align="center">UKR</td><td align="center">9.487</td><td align="center">9.562</td><td align="center">9.725</td><td align="center">9.337</td><td align="center">9.712</td><td align="center">9.450</td><td align="center">57.273 Q</td></tr>
<tr class="one"><td align="center">9</td><td>BONDARENKO Alexei</td><td align="center">RUS</td><td align="center">9.662</td><td align="center">8.650</td><td align="center">9.662</td><td align="center">9.825</td><td align="center">9.537</td><td align="center">9.600</td><td align="center">56.936 Q</td></tr>
<tr class="two"><td align="center">10</td><td>YONEDA Isao</td><td align="center">JPN</td><td align="center">9.725</td><td align="center">8.450</td><td align="center">9.625</td><td align="center">9.637</td><td align="center">9.687</td><td align="center">9.800</td><td align="center">56.924 Q</td></tr>
<tr class="one"><td align="center">11</td><td>KIM Dae Eun</td><td align="center">KOR</td><td align="center">9.437</td><td align="center">9.537</td><td align="center">9.700</td><td align="center">9.600</td><td align="center">9.075</td><td align="center">9.462</td><td align="center">56.811 Q</td></tr>
<tr class="two"><td align="center">12</td><td>GOFMAN Pavel</td><td align="center">ISR</td><td align="center">9.437</td><td align="center">9.475</td><td align="center">9.462</td><td align="center">9.375</td><td align="center">9.612</td><td align="center">9.362</td><td align="center">56.723 Q</td></tr>
<tr class="one"><td align="center">13</td><td>MYEZYENTSEV Ruslan</td><td align="center">UKR</td><td align="center">9.650</td><td align="center">9.425</td><td align="center">9.687</td><td align="center">9.475</td><td align="center">9.437</td><td align="center">9.037</td><td align="center">56.711 Q</td></tr>
<tr class="two"><td align="center">14</td><td>MARTINEZ Rafael</td><td align="center">ESP</td><td align="center">9.562</td><td align="center">8.962</td><td align="center">9.675</td><td align="center">9.412</td><td align="center">9.325</td><td align="center">9.700</td><td align="center">56.636 Q</td></tr>
<tr class="one"><td align="center">15</td><td>CARANOBE Benoit</td><td align="center">FRA</td><td align="center">9.287</td><td align="center">9.162</td><td align="center">9.587</td><td align="center">9.612</td><td align="center">9.450</td><td align="center">9.537</td><td align="center">56.635 Q</td></tr>
<tr class="two"><td align="center">16</td><td>VARGAS Luis</td><td align="center">PUR</td><td align="center">9.037</td><td align="center">9.675</td><td align="center">9.500</td><td align="center">9.425</td><td align="center">9.325</td><td align="center">9.625</td><td align="center">56.587 Q</td></tr>
<tr class="one"><td align="center">17</td><td>VIHROVS Igors</td><td align="center">LAT</td><td align="center">9.662</td><td align="center">9.462</td><td align="center">9.225</td><td align="center">9.425</td><td align="center">9.287</td><td align="center">9.362</td><td align="center">56.423 Q</td></tr>
<tr class="two"><td align="center">18</td><td>LOPEZ RIOS Eric</td><td align="center">CUB</td><td align="center">9.062</td><td align="center">9.500</td><td align="center">9.637</td><td align="center">9.400</td><td align="center">9.687</td><td align="center">9.112</td><td align="center">56.398 Q</td></tr>
<tr class="one"><td align="center">19</td><td>MCCLURE Brett</td><td align="center">USA</td><td align="center">9.437</td><td align="center">9.000</td><td align="center">9.037</td><td align="center">9.512</td><td align="center">9.675</td><td align="center">9.662</td><td align="center">56.323 Q</td></tr>
<tr class="two"><td align="center">20</td><td>GREBENKOV Georgi</td><td align="center">RUS</td><td align="center">9.562</td><td align="center">8.300</td><td align="center">9.712</td><td align="center">9.400</td><td align="center">9.687</td><td align="center">9.487</td><td align="center">56.148 Q</td></tr>
<tr class="one"><td align="center">21</td><td>HAMBUECHEN Fabian</td><td align="center">GER</td><td align="center">9.637</td><td align="center">9.075</td><td align="center">8.537</td><td align="center">9.475</td><td align="center">9.600</td><td align="center">9.737</td><td align="center">56.061 Q</td></tr>
<tr class="two"><td align="center">22</td><td>GIORGADZE Ilia</td><td align="center">GEO</td><td align="center">9.437</td><td align="center">9.100</td><td align="center">9.450</td><td align="center">9.350</td><td align="center">9.600</td><td align="center">9.075</td><td align="center">56.012 Q</td></tr>
<tr class="one"><td align="center">23</td><td>PFEIFER Sergei</td><td align="center">GER</td><td align="center">9.400</td><td align="center">9.575</td><td align="center">9.587</td><td align="center">9.150</td><td align="center">9.150</td><td align="center">9.125</td><td align="center">55.987 Q</td></tr>
<tr class="two"><td align="center">24</td><td>KWIATKOWSKI Sven</td><td align="center">GER</td><td align="center">9.362</td><td align="center">9.087</td><td align="center">9.075</td><td align="center">9.462</td><td align="center">9.362</td><td align="center">9.487</td><td align="center">55.835</td></tr>
<tr class="one"><td align="center">25</td><td>POTRA Dan Nicolae</td><td align="center">ROM</td><td align="center">9.537</td><td align="center">9.300</td><td align="center">9.500</td><td align="center">9.362</td><td align="center">9.550</td><td align="center">8.500</td><td align="center">55.749</td></tr>
<tr class="two"><td align="center">26</td><td>DEVIATOVSKI Maxim</td><td align="center">RUS</td><td align="center">8.950</td><td align="center">9.237</td><td align="center">9.675</td><td align="center">8.975</td><td align="center">9.462</td><td align="center">9.312</td><td align="center">55.611</td></tr>
<tr class="one"><td align="center">27</td><td>SCHWEIZER Andreas</td><td align="center">SUI</td><td align="center">8.787</td><td align="center">9.200</td><td align="center">9.737</td><td align="center">9.100</td><td align="center">9.387</td><td align="center">9.225</td><td align="center">55.436 Q</td></tr>
<tr class="two"><td align="center">28</td><td>DRIGGS SANTOS Abel</td><td align="center">CUB</td><td align="center">8.875</td><td align="center">9.600</td><td align="center">9.550</td><td align="center">9.012</td><td align="center">9.425</td><td align="center">8.812</td><td align="center">55.274 R</td></tr>
<tr class="one"><td align="center">29</td><td>WONG Adam</td><td align="center">CAN</td><td align="center">9.325</td><td align="center">9.237</td><td align="center">9.112</td><td align="center">9.137</td><td align="center">9.262</td><td align="center">9.087</td><td align="center">55.160 R</td></tr>
<tr class="two"><td align="center">30</td><td>BARRENECHEA A.</td><td align="center"> ESP</td><td align="center">9.412</td><td align="center">8.912</td><td align="center">9.362</td><td align="center">9.162</td><td align="center">8.975</td><td align="center">9.275</td><td align="center">55.098 R</td></tr>
<tr class="one"><td align="center">31</td><td>GOLDING Grant</td><td align="center">CAN</td><td align="center">9.512</td><td align="center">9.262</td><td align="center">9.650</td><td align="center">9.125</td><td align="center">8.962</td><td align="center">8.500</td><td align="center">55.011 R</td></tr>
<tr class="two"><td align="center">32</td><td>GIRALDO Jorge Hugo</td><td align="center">COL</td><td align="center">9.137</td><td align="center">8.437</td><td align="center">9.237</td><td align="center">9.412</td><td align="center">9.437</td><td align="center">9.337</td><td align="center">54.997</td></tr>
<tr class="one"><td align="center">33</td><td>RODRIGUES Mosiah</td><td align="center">BRA</td><td align="center">9.075</td><td align="center">9.600</td><td align="center">8.600</td><td align="center">9.262</td><td align="center">8.800</td><td align="center">9.562</td><td align="center">54.899</td></tr>
<tr class="two"><td align="center">34</td><td>CASSINA Igor</td><td align="center">ITA</td><td align="center">8.650</td><td align="center">9.600</td><td align="center">9.162</td><td align="center">8.987</td><td align="center">8.675</td><td align="center">9.775</td><td align="center">54.849</td></tr>
<tr class="one"><td align="center">35</td><td>ALEXANDERSSON Runar</td><td align="center">ISL</td><td align="center">8.700</td><td align="center">9.737</td><td align="center">9.162</td><td align="center">8.887</td><td align="center">9.312</td><td align="center">9.000</td><td align="center">54.798</td></tr>
<tr class="two"><td align="center">36</td><td>MARAS Vlasios</td><td align="center">GRE</td><td align="center">8.950</td><td align="center">8.650</td><td align="center">8.775</td><td align="center">9.512</td><td align="center">9.087</td><td align="center">9.725</td><td align="center">54.699</td></tr>
<tr class="one"><td align="center">37</td><td>COMBARROS Oriol</td><td align="center">ESP</td><td align="center">9.325</td><td align="center">9.650</td><td align="center">9.625</td><td align="center">9.375</td><td align="center">8.637</td><td align="center">8.050</td><td align="center">54.662</td></tr>
<tr class="two"><td align="center">38</td><td>NG Shu Wai</td><td align="center">MAS</td><td align="center">9.300</td><td align="center">9.250</td><td align="center">9.162</td><td align="center">9.412</td><td align="center">8.300</td><td align="center">9.225</td><td align="center">54.649</td></tr>
<tr class="one"><td align="center">39</td><td>KARBANENKO Dimitri</td><td align="center">FRA</td><td align="center">9.612</td><td align="center">8.375</td><td align="center">9.012</td><td align="center">9.475</td><td align="center">8.550</td><td align="center">9.537</td><td align="center">54.561</td></tr>
<tr class="two"><td align="center">40</td><td>CANO Victor</td><td align="center">ESP</td><td align="center">9.150</td><td align="center">9.750</td><td align="center">9.575</td><td align="center">9.087</td><td align="center">8.475</td><td align="center">7.950</td><td align="center">53.987</td></tr>
</table>
</div>

<!--041-->
<h2 class="men">All Around Qualification, Rank 041 - 080 - 2004 August 14</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="40" align="center">
	<colgroup span=1 width="200">
	<colgroup span=8 align="center" width=65>
<tr class="men">
	<th colspan=3>2004 Olympics Artistic Gymnastics<br>All-Around Qualification Men</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td align="center">41</td><td>MORANDI Matteo</td><td align="center">ITA</td><td align="center">8.962</td><td align="center">8.750</td><td align="center">9.775</td><td align="center">9.412</td><td align="center">8.375</td><td align="center">8.700</td><td align="center">53.974</td></tr>
<tr class="two"><td align="center">42</td><td>SAVENKOV Denis</td><td align="center">BLR</td><td align="center">9.512</td><td align="center">8.800</td><td align="center">9.637</td><td align="center">9.500</td><td align="center">8.875</td><td align="center">7.300</td><td align="center">53.624</td></tr>
<tr class="one"><td align="center">43</td><td>BEZUGO Filipe</td><td align="center">POR</td><td align="center">8.987</td><td align="center">8.525</td><td align="center">8.962</td><td align="center">8.925</td><td align="center">8.262</td><td align="center">9.262</td><td align="center">52.923</td></tr>
<tr class="two"><td align="center">44</td><td>POZZO Enrico</td><td align="center">ITA</td><td align="center">9.450</td><td align="center">8.787</td><td align="center">7.850</td><td align="center">9.325</td><td align="center">9.100</td><td align="center">8.300</td><td align="center">52.812</td></tr>
<tr class="one"><td align="center">45</td><td>JELTKOV Alexander</td><td align="center">CAN</td><td align="center">9.175</td><td align="center">7.600</td><td align="center">8.562</td><td align="center">8.900</td><td align="center">8.787</td><td align="center">9.625</td><td align="center">52.649</td></tr>
<tr class="two"><td align="center">46</td><td>YANEV Filip</td><td align="center">BUL</td><td align="center">9.012</td><td align="center">8.300</td><td align="center">8.137</td><td align="center">9.625</td><td align="center">8.375</td><td align="center">9.137</td><td align="center">52.586</td></tr>
<tr class="one"><td align="center">47</td><td>BOUALLEGUE Wajdi</td><td align="center">TUN</td><td align="center">9.112</td><td align="center">8.950</td><td align="center">8.562</td><td align="center">9.025</td><td align="center">8.350</td><td align="center">8.512</td><td align="center">52.511</td></tr>
<tr class="two"><td align="center">48</td><td>TSUKAHARA Naoya</td><td align="center">JPN</td><td align="center">9.725</td><td align="center">9.687</td><td align="center">9.700</td><td align="center">9.425</td><td align="center">9.650</td><td align="center"></td><td align="center">48.187</td></tr>
<tr class="one"><td align="center">49</td><td>KASHIMA Takehiro</td><td align="center">JPN</td><td align="center">9.150</td><td align="center">9.812</td><td align="center"></td><td align="center">9.625</td><td align="center">9.475</td><td align="center">9.737</td><td align="center">47.799</td></tr>
<tr class="two"><td align="center">50</td><td>YOUNG Guard</td><td align="center">USA</td><td align="center">9.700</td><td align="center">9.212</td><td align="center">9.612</td><td align="center">9.450</td><td align="center">9.637</td><td align="center"></td><td align="center">47.611</td></tr>
<tr class="one"><td align="center">51</td><td>XING Aowei</td><td align="center">CHN</td><td align="center">9.637</td><td align="center">9.650</td><td align="center">8.925</td><td align="center">9.600</td><td align="center"></td><td align="center">9.687</td><td align="center">47.499</td></tr>
<tr class="two"><td align="center">52</td><td>SELARIU Razvan Dorin</td><td align="center">ROM</td><td align="center">9.625</td><td align="center"></td><td align="center">9.700</td><td align="center">9.500</td><td align="center">9.150</td><td align="center">9.512</td><td align="center">47.487</td></tr>
<tr class="one"><td align="center">53</td><td>WILSON Blaine</td><td align="center">USA</td><td align="center">9.700</td><td align="center"></td><td align="center">9.625</td><td align="center">9.512</td><td align="center">9.687</td><td align="center">8.862</td><td align="center">47.386</td></tr>
<tr class="two"><td align="center">54</td><td>JUCKEL Robert</td><td align="center">GER</td><td align="center">9.175</td><td align="center">9.425</td><td align="center">9.550</td><td align="center">9.237</td><td align="center"></td><td align="center">9.687</td><td align="center">47.074</td></tr>
<tr class="one"><td align="center">55</td><td>XIAO Qin</td><td align="center">CHN</td><td align="center">9.125</td><td align="center">9.337</td><td align="center"></td><td align="center">9.237</td><td align="center">9.525</td><td align="center">9.750</td><td align="center">46.974</td></tr>
<tr class="two"><td align="center">56</td><td>KUVAKIN Vadym</td><td align="center">UKR</td><td align="center">9.475</td><td align="center">9.337</td><td align="center">9.600</td><td align="center">9.500</td><td align="center">8.912</td><td align="center"></td><td align="center">46.824</td></tr>
<tr class="one"><td align="center">57</td><td>MAREE Florent</td><td align="center">FRA</td><td align="center">9.212</td><td align="center"></td><td align="center">9.387</td><td align="center">9.375</td><td align="center">9.150</td><td align="center">9.687</td><td align="center">46.811</td></tr>
<tr class="two"><td align="center">58</td><td>KIKUCHI David</td><td align="center">CAN</td><td align="center">8.825</td><td align="center">9.412</td><td align="center">9.500</td><td align="center"></td><td align="center">9.625</td><td align="center">9.075</td><td align="center">46.437</td></tr>
<tr class="one"><td align="center">59</td><td>KIM Seung Il</td><td align="center">KOR</td><td align="center">8.775</td><td align="center">8.800</td><td align="center"></td><td align="center">9.437</td><td align="center">9.612</td><td align="center">9.700</td><td align="center">46.324</td></tr>
<tr class="two"><td align="center">60</td><td>MOUNARD Johan</td><td align="center">FRA</td><td align="center">8.525</td><td align="center">9.050</td><td align="center"></td><td align="center">9.187</td><td align="center">9.725</td><td align="center">9.637</td><td align="center">46.124</td></tr>
<tr class="one"><td align="center">61</td><td>GOLOTSUTSKOV Anton</td><td align="center">RUS</td><td align="center">9.462</td><td align="center">9.487</td><td align="center">9.625</td><td align="center">9.762</td><td align="center">7.737</td><td align="center"></td><td align="center">46.073</td></tr>
<tr class="two"><td align="center">62</td><td>BUSNARI Alberto</td><td align="center">ITA</td><td align="center">8.812</td><td align="center">9.637</td><td align="center"></td><td align="center">8.762</td><td align="center">8.987</td><td align="center">9.337</td><td align="center">45.535</td></tr>
<tr class="one"><td align="center">63</td><td>MYKAYLICHENKO Andrei</td><td align="center">UKR</td><td align="center">9.337</td><td align="center">8.650</td><td align="center"></td><td align="center">9.550</td><td align="center">9.575</td><td align="center">8.300</td><td align="center">45.412</td></tr>
<tr class="two"><td align="center">64</td><td>TENG Haibin</td><td align="center">CHN</td><td align="center">9.350</td><td align="center">9.800</td><td align="center"></td><td align="center">9.487</td><td align="center">6.775</td><td align="center">9.687</td><td align="center">45.099</td></tr>
<tr class="one"><td align="center">65</td><td>IVANKOV Ivan</td><td align="center">BLR</td><td align="center"></td><td align="center">9.675</td><td align="center">9.700</td><td align="center"></td><td align="center">9.762</td><td align="center">9.700</td><td align="center">38.837</td></tr>
<tr class="two"><td align="center">66</td><td>HUANG Xu</td><td align="center">CHN</td><td align="center"></td><td align="center">9.737</td><td align="center">9.712</td><td align="center"></td><td align="center">9.675</td><td align="center">9.637</td><td align="center">38.761</td></tr>
<tr class="one"><td align="center">67</td><td>HAMM Morgan</td><td align="center">USA</td><td align="center">9.725</td><td align="center">9.700</td><td align="center"></td><td align="center">9.500</td><td align="center"></td><td align="center">9.737</td><td align="center">38.662</td></tr>
<tr class="two"><td align="center">68</td><td>MIZUTORI Hisashi</td><td align="center">JPN</td><td align="center"></td><td align="center">9.450</td><td align="center">9.650</td><td align="center">9.500</td><td align="center"></td><td align="center">9.737</td><td align="center">38.337</td></tr>
<tr class="one"><td align="center">69</td><td>NAKANO Daisuke</td><td align="center">JPN</td><td align="center">9.725</td><td align="center"></td><td align="center">9.012</td><td align="center"></td><td align="center">9.800</td><td align="center">9.775</td><td align="center">38.312</td></tr>
<tr class="two"><td align="center">70</td><td>KIM Dong Hwa</td><td align="center">KOR</td><td align="center"></td><td align="center">9.462</td><td align="center">9.700</td><td align="center">9.325</td><td align="center"></td><td align="center">9.525</td><td align="center">38.012</td></tr>
<tr class="one"><td align="center">71</td><td>LEE Sun Sung</td><td align="center">KOR</td><td align="center"></td><td align="center">9.137</td><td align="center">9.625</td><td align="center"></td><td align="center">9.425</td><td align="center">9.712</td><td align="center">37.899</td></tr>
<tr class="two"><td align="center">72</td><td>CUCHERAT Yann</td><td align="center">FRA</td><td align="center"></td><td align="center">9.512</td><td align="center">8.912</td><td align="center"></td><td align="center">9.750</td><td align="center">9.700</td><td align="center">37.874</td></tr>
<tr class="one"><td align="center">73</td><td>GATSON Jason</td><td align="center">USA</td><td align="center"></td><td align="center">9.225</td><td align="center">9.525</td><td align="center"></td><td align="center">9.712</td><td align="center">9.337</td><td align="center">37.799</td></tr>
<tr class="two"><td align="center">74</td><td>BOGONOSYUK Evgeni</td><td align="center">UKR</td><td align="center">9.500</td><td align="center"></td><td align="center">9.437</td><td align="center">8.962</td><td align="center"></td><td align="center">9.525</td><td align="center">37.424</td></tr>
<tr class="one"><td align="center">75</td><td>BENY Pierre Yves</td><td align="center">FRA</td><td align="center">8.837</td><td align="center">9.475</td><td align="center">9.750</td><td align="center">9.250</td><td align="center"></td><td align="center"></td><td align="center">37.312</td></tr>
<tr class="two"><td align="center">76</td><td>CHO Seong Min</td><td align="center">KOR</td><td align="center">8.600</td><td align="center"></td><td align="center">9.612</td><td align="center">9.412</td><td align="center">9.650</td><td align="center"></td><td align="center">37.274</td></tr>
<tr class="one"><td align="center">77</td><td>FAHRIG Matthias</td><td align="center">GER</td><td align="center">9.475</td><td align="center"></td><td align="center"></td><td align="center">9.000</td><td align="center">9.212</td><td align="center">9.562</td><td align="center">37.249</td></tr>
<tr class="two"><td align="center">78</td><td>SHEWFELT Kyle</td><td align="center">CAN</td><td align="center">9.737</td><td align="center"></td><td align="center">8.112</td><td align="center">9.687</td><td align="center"></td><td align="center">9.212</td><td align="center">36.748</td></tr>
<tr class="one"><td align="center">79</td><td>ANGIOLETTI Matteo</td><td align="center">ITA</td><td align="center">8.812</td><td align="center"></td><td align="center">9.675</td><td align="center">9.662</td><td align="center"></td><td align="center">8.212</td><td align="center">36.361</td></tr>
<tr class="two"><td align="center">80</td><td>URZICA Marius Daniel</td><td align="center">ROM</td><td align="center"></td><td align="center">9.812</td><td align="center"></td><td align="center"></td><td align="center">9.700</td><td align="center">9.675</td><td align="center">29.187</td></tr>
</table>
</div>

<!--081-->
<h2 class="men">All Around Qualification, Rank 081 - 98 - 004 August 14</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="40" align="center">
	<colgroup span=1 width="200">
	<colgroup span=8 align="center" width=65>
<tr class="men">
	<th colspan=3>2004 Olympics Artistic Gymnastics<br>All-Around Qualification Men</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td align="center">81</td><td>GONCHAROV Valeri</td><td align="center">UKR</td><td align="center"></td><td align="center">9.425</td><td align="center"></td><td align="center"></td><td align="center">9.737</td><td align="center">9.737</td><td align="center">28.899</td></tr>
<tr class="two"><td align="center">82</td><td>NEMOV Alexei</td><td align="center">RUS</td><td align="center"></td><td align="center">9.450</td><td align="center"></td><td align="center"></td><td align="center">9.700</td><td align="center">9.737</td><td align="center">28.887</td></tr>
<tr class="one"><td align="center">83</td><td>ANDERGASSEN Thomas</td><td align="center">GER</td><td align="center"></td><td align="center">9.712</td><td align="center">9.587</td><td align="center"></td><td align="center">9.537</td><td align="center"></td><td align="center">28.836</td></tr>
<tr class="two"><td align="center">84</td><td>LI Xiaopeng</td><td align="center">CHN</td><td align="center"></td><td align="center"></td><td align="center">9.112</td><td align="center">9.800</td><td align="center">9.787</td><td align="center"></td><td align="center">28.699</td></tr>
<tr class="one"><td align="center">85</td><td>CHECHI Yuri</td><td align="center">ITA</td><td align="center"></td><td align="center">9.150</td><td align="center">9.762</td><td align="center"></td><td align="center">9.587</td><td align="center"></td><td align="center">28.499</td></tr>
<tr class="two"><td align="center">86</td><td>RIZZO Philippe</td><td align="center">AUS</td><td align="center"></td><td align="center">8.700</td><td align="center"></td><td align="center"></td><td align="center">9.700</td><td align="center">8.950</td><td align="center">27.350</td></tr>
<tr class="one"><td align="center">87</td><td>CARBALLO Jesus</td><td align="center">ESP</td><td align="center"></td><td align="center">9.175</td><td align="center"></td><td align="center"></td><td align="center">9.187</td><td align="center">8.737</td><td align="center">27.099</td></tr>
<tr class="two"><td align="center">88</td><td>SCHAERER Christoph</td><td align="center">SUI</td><td align="center"></td><td align="center">8.650</td><td align="center"></td><td align="center"></td><td align="center">8.737</td><td align="center">9.650</td><td align="center">27.037</td></tr>
<tr class="one"><td align="center">89</td><td>IKEDA Ken</td><td align="center">CAN</td><td align="center"></td><td align="center">8.900</td><td align="center"></td><td align="center">8.937</td><td align="center">8.687</td><td align="center"></td><td align="center">26.524</td></tr>
<tr class="two"><td align="center">90</td><td>JOVTCHEV Jordan</td><td align="center">BUL</td><td align="center">9.700</td><td align="center"></td><td align="center">9.812</td><td align="center"></td><td align="center"></td><td align="center"></td><td align="center">19.512</td></tr>
<tr class="one"><td align="center">91</td><td>DEFERR Gervasio</td><td align="center">ESP</td><td align="center">9.750</td><td align="center"></td><td align="center"></td><td align="center">9.637</td><td align="center"></td><td align="center"></td><td align="center">19.387</td></tr>
<tr class="two"><td align="center">92</td><td>SAPRONENKO Evgeni</td><td align="center">LAT</td><td align="center">9.637</td><td align="center"></td><td align="center"></td><td align="center">9.650</td><td align="center"></td><td align="center"></td><td align="center">19.287</td></tr>
<tr class="one"><td align="center">93</td><td>POPESCU Ilie Daniel</td><td align="center">ROM</td><td align="center"></td><td align="center">9.625</td><td align="center">9.562</td><td align="center"></td><td align="center"></td><td align="center"></td><td align="center">19.187</td></tr>
<tr class="two"><td align="center">94</td><td>GAL Robert</td><td align="center">HUN</td><td align="center">9.587</td><td align="center"></td><td align="center"></td><td align="center">9.550</td><td align="center"></td><td align="center"></td><td align="center">19.137</td></tr>
<tr class="one"><td align="center">95</td><td>SAFOSHKIN Alexander</td><td align="center">RUS</td><td align="center"></td><td align="center"></td><td align="center">9.750</td><td align="center">9.212</td><td align="center"></td><td align="center"></td><td align="center">18.962</td></tr>
<tr class="two"><td align="center">96</td><td>RI Jong Song</td><td align="center">PRK</td><td align="center">9.675</td><td align="center"></td><td align="center"></td><td align="center">9.162</td><td align="center"></td><td align="center"></td><td align="center">18.837</td></tr>
<tr class="one"><td align="center">97</td><td>KIM Hyon Il</td><td align="center">PRK</td><td align="center"></td><td align="center">9.112</td><td align="center"></td><td align="center"></td><td align="center">9.537</td><td align="center"></td><td align="center">18.649</td></tr>
<tr class="two"><td align="center">98</td><td>TAMPAKOS Dimosthenis</td><td align="center">GRE</td><td align="center"></td><td align="center"></td><td align="center">9.850</td><td align="center"></td><td align="center"></td><td align="center"></td><td align="center">9.850</td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>
</table>
</div>

