---
title: "Athens 2004 Olympics Men's Team Qualifications"
year: 2004
startdate: 2004-08-13
enddate: 2004-08-29
country: "GRE"
category: "olympics"
layout: results
homepage: false
redirect_from: /olympics/2004/magqteams.html
---
	
{% include resultsheader.html title="Games of the 28th Olympiad<br>Athens (GRE) August 13-29, 2004<br>Men's Artistic Gymnastics<br>Team Qualifications" %}

<a href="/results/2004/olympics/index.html"><img src="/assets/images/logos/lg2004og.jpg"></a>

<a href="documents/mag/qteams.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/mag/startorder.pdf" target="_blank" class="pdf">Start Order</a>

<!-- Q 1 -->
<h2 class="men">Qualification Men's Teams, Ranks 1-4 - 2004 August 14</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="4%" align="right">
	<col width="24%">
	<colgroup span=8 width="9%" align="center">
<tr class="men"><th colspan=2>Team</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td>1</td><td>Japan</td>
	<td>38.325 <sup>3</sup></td><td>38.699 <sup>2</sup></td><td>38.725 <sup>2</sup></td>
	<td><u>38.412</u> <sup>2</sup></td><td>38.924 <sup>1</sup></td><td>39.049 <sup>1</sup></td><td>232.134 <sup>Q</sup></td></tr>
<tr class="one"><td>3</td><td>&nbsp; TOMITA Hiroyuki</td>
	<td><i>8.987</i></td><td>9.750</td><td>9.750</td><td>9.650</td><td>9.787</td><td><i>9.725</i></td><td>57.649</td></tr>
<tr class="two"><td>10</td><td>&nbsp; YONEDA Isao</td>
	<td>9.725</td><td><i>8.450</i></td><td>9.625</td><td>9.637</td><td>9.687</td><td>9.800</td><td>56.924</td></tr>
<tr class="one"><td>48</td><td>&nbsp; TSUKAHARA Naoya</td>
	<td>9.725</td><td>9.687</td><td>9.700</td><td><i>9.425</i></td><td>9.650</td><td><td>48.187</td></tr>
<tr class="two"><td>49</td><td>&nbsp; KASHIMA Takehiro</td>
	<td>9.150</td><td>9.812</td><td><td>9.625</td><td><i>9.475</i></td><td>9.737</td><td>47.799</td></tr>
<tr class="one"><td>68</td><td>&nbsp; MIZUTORI Hisashi</td>
	</td><td><td>9.450</td><td>9.650</td><td>9.500</td><td><td>9.737</td><td>38.337</td></tr>
<tr class="two"><td>69</td><td>&nbsp; NAKANO Daisuke</td>
	<td>9.725</td><td><td><i>9.012</i></td><td><td>9.800</td><td>9.775</td><td>38.312</td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>

<tr class="team"><td>2</td><td>United States</td>
	<td>38.850 <sup>1</sup></td><td>37.874 <sup>4</sup></td><td>38.274 <sup>6</sup></td>
	<td>38.099 <sup>5</sup></td><td><u>38.836</u> <sup>2</sup></td><td>38.486 <sup>5</sup></td><td>230.419 <sup>Q</sup></td></tr>
<tr class="one"><td>1</td><td>&nbsp; HAMM Paul</td>
	<td>9.725</td><td>9.737</td><td>9.512</td><td>9.575</td><td>9.762</td><td>9.750</td><td>58.061</td></tr>
<tr class="two"><td>19</td><td>&nbsp; McCLURE Brett</td>
	<td><i>9.437</i></td><td><i>9.000</i></td><td><i>9.037</i></td><td>9.512</td><td>9.675</td><td>9.662</td><td>56.323</td></tr>
<tr class="one"><td>50</td><td>&nbsp; YOUNG Guard</td>
	<td>9.700</td><td>9.212</td><td>9.612</td><td><i>9.450</i></td><td><i>9.637</i></td><td></td><td>47.611</td></tr>
<tr class="two"><td>53</td><td>&nbsp; WILSON Blaine</td>
	<td>9.700</td><td></td><td>9.625</td><td>9.512</td><td>9.687</td><td><i>8.862</i></td><td>47.386</td></tr>
<tr class="one"><td>67</td><td>&nbsp; HAMM Morgan</td>
	<td>9.725</td><td>9.700</td><td><td>9.500</td><td><td>9.737</td><td>38.662</td></tr>
<tr class="two"><td>73</td><td>&nbsp; GATSON Jason</td>
	</td><td><td>9.225</td><td>9.525</td><td></td><td>9.712</td><td>9.337</td><td>37.799</td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>
	
<tr class="team"><td>3</td><td>Romania</td>
	<td>38.574 <sup>2</sup></td><td><u>38.474</u> <sup>3</sup></td><td>38.249 <sup>7</sup></td>
	<td>38.261 <sup>3</sup></td><td>38.312 <sup>6</sup></td><td>38.149 <sup>7</sup></td><td>230.019 <sup>Q</sup></td></tr>
<tr class="one"><td>4</td><td>&nbsp; DRAGULESCU Marian</td>
	<td>9.762</td><td>9.325</td><td><i>9.475</i></td><td>9.762</td><td>9.562</td><td>9.550</td><td>57.436</td></tr>
<tr class="two"><td>6</td><td>&nbsp; SUCIU Ioan Silviu</td><td>9.650</td>
	<td>9.712</td><td>9.487</td><td>9.637</td><td>9.500</td><td>9.412</td><td>57.398</td></tr>
<tr class="one"><td>25</td><td>&nbsp; POTRA Dan Nicolae</td>
	<td>9.537</td><td><i>9.300</i></td><td>9.500</td><td>9.362</td><td>9.550</td><td><i>8.500</i></td><td>55.749</td></tr>
<tr class="two"><td>52</td><td>&nbsp; SELARIU Razvan Dorin</td>
	<td>9.625</td><td><td>9.700</td><td>9.500</td><td><i>9.150</i></td><td>9.512</td><td>47.487</td></tr>
<tr class="one"><td>80</td><td>&nbsp; URZICA Marius Daniel</td>
	</td><td><td>9.812</td><td></td><td><td>9.700</td><td>9.675</td><td>29.187</td></tr>
<tr class="two"><td>93</td><td>&nbsp; POPESCU Ilie Daniel</td>
	</td><td><td>9.625</td><td>9.562</td><td></td><td></td><td><td>19.187</td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>

<tr class="team"><td>4</td><td>China</td>
	<td>37.524 <sup>9</sup></td><td>38.712 <sup>1</sup></td><td>37.461 <sup>11</sup></td>
	<td>38.437 <sup>1</sup></td><td><u>38.612</u> <sup>3</sup></td><td>38.761 <sup>2</sup></td><td>229.507<sup>Q</sup></td></tr>
<tr class="one"><td>7</td><td>&nbsp; YANG Wei</td>
	<td>9.412</td><td>9.525</td><td>9.712</td><td>9.550</td><td>9.625</td><td><i>9.550</i></td><td>57.374</td></tr>
<tr class="two"><td>51</td><td>&nbsp; XING Aowei</td>
	<td>9.637</td><td>9.650</td><td>8.925</td><td>9.600</td><td><td>9.687</td><td>47.499</td></tr>
<tr class="one"><td>55</td><td>&nbsp; XIAO Qin</td>
	<td>9.125</td><td><i>9.337</i></td><td><td><i>9.237</i></td><td>9.525</td><td>9.750</td><td>46.974</td></tr>
<tr class="two"><td>64</td><td>&nbsp; TENG Haibin</td>
	<td>9.350</td><td>9.800</td><td><td>9.487</td><td><i>6.775</i></td><td>9.687</td><td>45.099</td></tr>
<tr class="one"><td>66</td><td>&nbsp; HUANG Xu</td>
	</td><td><td>9.737</td><td>9.712</td><td><td>9.675</td><td>9.637</td><td>38.761</td></tr>
<tr class="two"><td>84</td><td>&nbsp; LI Xiaopeng</td>
	</td><td></td><td><td>9.112</td><td>9.800</td><td>9.787</td><td><td>28.699</td></tr>
</table>
</div>
	
<!-- Q5 -->
<h2 class="men">Qualification Men's Teams, Ranks 5-8 - 2004 August 14</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="4%" align="right">
	<col width="24%">
	<colgroup span=8 width="9%" align="center">
<tr class="men"><th colspan=2>Team</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td>5</td><td>Ukraine</td>
	<td>38.112 <sup>4</sup></td><td>37.749 <sup>7</sup></td><td>38.449 <sup>4</sup></td>
	<td>37.862 <sup>7</sup></td><td>38.461 <sup>4</sup></td><td><u>37.749</u><sup>9</sup></td><td>228.382<sup>Q</sup></td></tr>
<tr class="one"><td>8</td><td>&nbsp; ZOZULIA Roman</td>
	<td>9.487</td><td>9.562</td><td>9.725</td><td>9.337</td><td>9.712</td><td>9.450</td><td>57.273</td></tr>
<tr class="two"><td>13</td><td>&nbsp; MYEZYENTSEV Ruslan</td>
	<td>9.650</td><td>9.425</td><td>9.687</td><td>9.475</td><td>9.437</td><td>9.037</td><td>56.711</td></tr>
<tr class="one"><td>56</td><td>&nbsp; KUVAKIN Vadym</td>
	<td>9.475</td><td>9.337</td><td>9.600</td><td>9.500</td><td><i>8.912</i></td><td></td><td>46.824</td></tr>
<tr class="two"><td>63</td><td>&nbsp; MYKAYLICHENKO Andrei</td>
	<td><i>9.337</i></td><td><i>8.650</i></td><td><td>9.550</td><td>9.575</td><td><i>8.300</i></td><td>45.412</td></tr>
<tr class="one"><td>74</td><td>&nbsp; BOGONOSYUK Evgeni</td>
	<td>9.500</td><td><td>9.437</td><td><i>8.962</i></td><td><td>9.525</td><td>37.424</td></tr>
<tr class="two"><td>81</td><td>&nbsp; GONCHAROV Valeri</td>
	</td><td><td>9.425</td><td></td><td><td>9.737</td><td>9.737</td><td>28.899</td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>

<tr class="team"><td>6</td><td>Russia</td>
	<td><u>37.636</u> <sup>8</sup></td><td>36.824 <sup>11</sup></td><td>38.799 <sup>1</sup></td>
	<td>38.199 <sup>4</sup></td><td>38.386 <sup>5</sup></td><td>38.136 <sup>8</sup></td><td>227.980<sup>Q</sup></td></tr>
<tr class="one"><td>9</td><td>&nbsp; BONDARENKO Alexei</td>
	<td>9.662</td><td>8.650</td><td>9.662</td><td>9.825</td><td>9.537</td><td>9.600</td><td>56.936</td></tr>
<tr class="two"><td>20</td><td>&nbsp; GREBENKOV Georgi</td>
	<td>9.562</td><td><i>8.300</i></td><td>9.712</td><td>9.400</td><td>9.687</td><td>9.487</td><td>56.148</td></tr>
<tr class="one"><td>26</td><td>&nbsp; DEVIATOVSKI Maxim</td>
	<td>8.950</td><td>9.237</td><td>9.675</td><td><i>8.975</i></td><td>9.462</td><td>9.312</td><td>55.611</td></tr>
<tr class="two"><td>61</td><td>&nbsp; GOLOTSUTSKOV Anton</td>
	<td>9.462</td><td>9.487</td><td><i>9.625</i></td><td>9.762</td><td><i>7.737</i></td><td><td>46.073</td></tr>
<tr class="one"><td>82</td><td>&nbsp; NEMOV Alexei</td>
	</td><td><td>9.450</td><td></td><td><td>9.700</td><td>9.737</td><td>28.887</td></tr>
<tr class="two"><td>95</td><td>&nbsp; SAFOSHKIN Alexander</td>
	</td><td></td><td><td>9.750</td><td>9.212</td><td></td><td><td>18.962</td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>

<tr class="team"><td>7</td><td>Korea</td>
	<td><u>36.512</u> <sup>11</sup></td><td>37.761 <sup>6</sup></td><td>38.650 <sup>3</sup></td>
	<td>38.099 <sup>5</sup></td><td>38.274 <sup>7</sup></td><td>38.674 <sup>3</sup></td><td>227.970<sup>Q</sup></td></tr>
<tr class="one"><td>2</td><td>&nbsp; YANG Tae Young</td>
	<td>9.700</td><td>9.625</td><td>9.625</td><td>9.650</td><td>9.587</td><td>9.737</td><td>57.924</td></tr>
<tr class="two"><td>11</td><td>&nbsp; KIM Dae Eun</td>
	<td>9.437</td><td>9.537</td><td>9.700</td><td>9.600</td><td><i>9.075</i></td><td><i>9.462</i></td><td>56.811</td></tr>
<tr class="one"><td>59</td><td>&nbsp; KIM Seung Il</td>
	<td>8.775</td><td><i>8.800</i></td><td><td>9.437</td><td>9.612</td><td>9.700</td><td>46.324</td></tr>
<tr class="two"><td>70</td><td>&nbsp; KIM Dong Hwa</td>
	</td><td><td>9.462</td><td>9.700</td><td><i>9.325</i></td><td><td>9.525</td><td>38.012</td></tr>
<tr class="one"><td>71</td><td>&nbsp; LEE Sun Sung</td>
	</td><td><td>9.137</td><td>9.625</td><td><td>9.425</td><td>9.712</td><td>37.899</td></tr>
<tr class="two"><td>76</td><td>&nbsp; CHO Seong Min</td>
	<td>8.600</td><td><td><i>9.612</i></td><td>9.412</td><td>9.650</td><td><td>37.274</td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>

<tr class="team"><td>8</td><td>Germany</td>
	<td>37.874 <sup>6</sup></td><td><u>37.799</u> <sup>5</sup></td><td>37.799 <sup>9</sup></td>
	<td>37.324 <sup>11</sup></td><td>37.711 <sup>9</sup></td><td>38.473 <sup>6</sup></td><td>226.980 <sup>Q</sup></td>
<tr class="one"><td>21</td><td>&nbsp; HAMBUECHEN Fabian</td>
	<td>9.637</td><td><i>9.075</i></td><td><i>8.537</i></td><td>9.475</td><td>9.600</td><td>9.737</td><td>56.061</td></tr>
<tr class="two"><td>23</td><td>&nbsp; PFEIFER Sergei</td>
	<td>9.400</td><td>9.575</td><td>9.587</td><td>9.150</td><td><i>9.150</i></td><td><i>9.125</i></td><td>55.987</td></tr>
<tr class="one"><td>24</td><td>&nbsp; KWIATKOWSKI Sven</td>
	<td>9.362</td><td>9.087</td><td>9.075</td><td>9.462</td><td>9.362</td><td>9.487</td><td>55.835</td></tr>
<tr class="two"><td>54</td><td>&nbsp; JUCKEL Robert</td>
	<td><i>9.175</i></td><td>9.425</td><td>9.550</td><td>9.237</td><td><td>9.687</td><td>47.074</td></tr>
<tr class="one"><td>77</td><td>&nbsp; FAHRIG Matthias</td>
	<td>9.475</td><td></td><td><td><i>9.000</i></td><td>9.212</td><td>9.562</td><td>37.249</td></tr>
<tr class="two"><td>83</td><td>&nbsp; ANDERGASSEN Thomas</td>
	</td><td><td>9.712</td><td>9.587</td><td><td>9.537</td><td><td>28.836</td></tr>
</table>
</div>

<!-- Q9 -->
<h2 class="men">Qualification Men's Teams, Ranks 9-12 - 2004 August 14</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa" width=800>
	<col width="4%" align="right">
	<col width="24%">
	<colgroup span=8 width="9%" align="center">
<tr class="men"><th colspan=2>Team</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td>9</td><td>France</td>
	<td><u>36.948</u> <sup>10</sup></td><td>37.199 <sup>9</sup></td><td>37.736 <sup>10</sup></td>
	<td>37.712 <sup>8</sup></td><td>38.075 <sup>8</sup></td><td>38.561 <sup>4</sup></td><td>226.231</td></tr>
<tr class="one"><td>15</td><td>&nbsp; CARANOBE Benoit</td><td>9.287</td><td>9.162</td><td>9.587</td><td>9.612</td>
	<td>9.450</td><td><i>9.537</i></td><td>56.635</td></tr>
<tr class="two"><td>39</td><td>&nbsp; KARBANENKO Dimitri</td><td>9.612</td><td><i>8.375</i></td><td>9.012</td>
	<td>9.475</td><td><i>8.550</i></td><td>9.537</td><td>54.561</td></tr>
<tr class="one"><td>57</td><td>&nbsp; MAREE Florent</td><td>9.212</td><td><td>9.387</td><td>9.375</td>
	<td>9.150</td><td>9.687</td><td>46.811</td></tr>
<tr class="two"><td>60</td><td>&nbsp; MOUNARD Johan</td><td><i>8.525</i></td><td>9.050</td><td>
	<td><i>9.187</i></td><td>9.725</td><td>9.637</td><td>46.124</td></tr>
<tr class="one"><td>72</td><td>&nbsp; CUCHERAT Yann</td><td><td>9.512</td><td><i>8.912</i></td><td>
	<td>9.750</td><td>9.700</td><td>37.874</td></tr>
<tr class="two"><td>75</td><td>&nbsp; BENY Pierre Yves</td><td>8.837</td><td>9.475</td><td>9.750</td><td>9.250</td>
	</td><td></td><td><td>37.312</td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>

<tr class="team"><td>10</td><td>Spain</td><td>38.049 <sup>5</sup></td><td>37.537 <sup>8</sup></td>
	<td>38.237 <sup>8</sup></td><td>37.586 <sup>9</sup></td><td>36.124 <sup>12</sup></td><td>35.762 <sup>12</sup></td><td>223.295</td></tr>
<tr class="one"><td>14</td><td>&nbsp; MARTINEZ Rafael</td><td>9.562</td><td>8.962</td><td>9.675</td><td>9.412</td>
	<td>9.325</td><td>9.700</td><td>56.636</td></tr>
<tr class="two"><td>30</td><td>&nbsp; BARRENECHEA Alejandro</td><td><i>9.412</i></td><td>8.912</td><td>9.362</td>
	<td>9.162</td><td>8.975</td><td>9.275</td><td>55.098</td></tr>
<tr class="one"><td>37</td><td>&nbsp; COMBARROS Oriol</td><td>9.325</td><td>9.650</td><td>9.625</td><td>9.375</td>
	<td>8.637</td><td>8.050</td><td>54.662</td></tr>
<tr class="two"><td>40</td><td>&nbsp; CANO Victor</td><td><i>9.150</i></td><td>9.750</td><td>9.575</td>
	<td><i>9.087</i></td><td><i>8.475</i></td><td><i>7.950</i></td><td>53.987</td></tr>
<tr class="one"><td>87</td><td>&nbsp; CARBALLO Jesus</td><td><td>9.175</td><td></td><td><td>9.187</td>
	<td>8.737</td><td>27.099</td></tr>
<tr class="two"><td>91</td><td>&nbsp; DEFERR Gervasio</td><td>9.750</td><td></td><td><td>9.637</td><td>
	</td><td><td>19.387</td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>

<tr class="team"><td>11</td><td>Canada</td><td>37.749 <sup>7</sup></td><td>36.811 <sup>12</sup></td>
	<td>36.824	<sup>12</sup></td><td>36.886 <sup>12</sup></td><td>36.636 <sup>10</sup></td><td>36.999 <sup>10</sup></td><td>221.905</td></tr>
<tr class="one"><td>29</td><td>&nbsp; WONG Adam</td><td>9.325</td><td>9.237</td><td>9.112</td><td>9.137</td>
	<td>9.262</td><td>9.087</td><td>55.160</td></tr>
<tr class="two"><td>31</td><td>&nbsp; GOLDING Grant</td><td>9.512</td><td>9.262</td><td>9.650</td><td>9.125</td>
	<td>8.962</td><td><i>8.500</i></td><td>55.011</td></tr>
<tr class="one"><td>45</td><td>&nbsp; JELTKOV Alexander</td><td>9.175</td><td><i>7.600</i></td><td>8.562</td>
	<td><i>8.900</i></td><td>8.787</td><td>9.625</td><td>52.649</td></tr>
<tr class="two"><td>58</td><td>&nbsp; KIKUCHI David</td><td><i>8.825</i></td><td>9.412</td><td>9.500</td><td>
	<td>9.625</td><td>9.075</td><td>46.437</td></tr>
<tr class="one"><td>78</td><td>&nbsp; SHEWFELT Kyle</td><td>9.737</td><td><td><i>8.112</i></td><td>9.687</td>
	</td><td><td>9.212</td><td>36.748</td></tr>
<tr class="two"><td>89</td><td>&nbsp; IKEDA Ken</td><td><td>8.900</td><td><td>8.937</td>
	<td><i>8.687</i></td><td><td>26.524</td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>

<tr class="team"><td>12</td><td>Italy</td><td>36.036 <sup>12</sup></td><td>37.174 <sup>10</sup></td>
	<td>38.374 <sup>5</sup></td><td>37.386 <sup>10</sup></td><td>36.349 <sup>11</sup></td><td>36.112 <sup>11</sup></td><td>221.431</td></tr>
<tr class="one"><td>34</td><td>&nbsp; CASSINA Igor</td><td><i>8.650</i></td><td>9.600</td><td>9.162</td><td>8.987</td>
	<td>8.675</td><td>9.775</td><td>54.849</td></tr>
<tr class="two"><td>41</td><td>&nbsp; MORANDI Matteo</td><td>8.962</td><td><i>8.750</i></td><td>9.775</td>
	<td>9.412</td><td>8.375</td><td>8.700</td><td>53.974</td></tr>
<tr class="one"><td>44</td><td>&nbsp; POZZO Enrico</td><td>9.450</td><td>8.787</td><td>7.850</td><td>9.325</td>
	<td>9.100</td><td>8.300</td><td>52.812</td></tr>
<tr class="two"><td>62</td><td>&nbsp; BUSNARI Alberto</td><td>8.812</td><td>9.637</td><td><td><i>8.762</i></td>
	<td>8.987</td><td>9.337</td><td>45.535</td></tr>
<tr class="one"><td>79</td><td>&nbsp; ANGIOLETTI Matteo</td><td>8.812</td><td><td>9.675</td><td>9.662</td>
	</td><td><td><i>8.212</i></td><td>36.361</td></tr>
<tr class="two"><td>85</td><td>&nbsp; CHECHI Yuri</td><td><td>9.150</td><td>9.762	</td><td><td>9.587	</td><td><td>28.499</td></tr>
</table>
</div>
