---
title: "Athens 2004 Olympics Rhythmic Gymnastics"
year: 2004
startdate: 2004-08-13
enddate: 2004-08-29
country: "GRE"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2004/o2004rh.html
- /olympics/2004/rg.html
---
	
{% include resultsheader.html title="Games of the 28th Olympiad<br>Athens (GRE) August 13-29, 2004<br>Rhythmic Gymnastics" %}

<a href="/results/2004/olympics/index.html"><img src="/assets/images/logos/lg2004og.jpg"></a>

<!-- AA FIN -->
<h2 class="wom">2004 Olympics - Rhythmic All-Around Final - 2004 August 29</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="25%">
	<col width="5%" align="center">
	<colgroup span=1 width="10%" align="right">
	<colgroup span=5 width="10%" align="center">
<tr class="wom">
	<th colspan=4>Gymnast</th>
	<th>Hoop</th><th>Ball</th><th>Clubs</th><th>Ribbon</th><th>Total</th></tr>
<tr class="one" style="vertical-align: top;"><td>1</td><td>KABAEVA Alina</td><td>RUS</td>
	<td>TV<br>AV<br>EX<br>Score</td>
	<td>8.700<br>9.000<br>9.100<br>26.800 <sup>&nbsp;  2</sup></td>
	<td>8.600<br>9.500<br>9.250<br>27.350 <sup>&nbsp;  1</sup></td>
	<td>8.700<br>9.200<br>9.300<br>27.150 <sup>&nbsp;  1</sup></td>
	<td>8.700<br>9.300<br>9.100<br>27.100 <sup>&nbsp;  1</sup> </td>
	<td>108.400</td></tr>
<tr class="two" style="vertical-align: top;"><td>2</td><td>TCHACHINA Irina</td><td>RUS</td>
	<td>TV<br>AV<br>EX<br>Score</td>
	<td>8.600<br>9.300<br>9.200<br>27.100 <sup>&nbsp;  1</sup></td>
	<td>8.500<br>9.400<br>9.200<br>27.100 <sup>&nbsp;  2</sup></td>
	<td>8.500<br>9.100<br>9.275<br>26.825 <sup>&nbsp;  3</sup></td>
	<td>8.500<br>9.100<br>8.800<br>26.300 <sup>&nbsp;  3</sup></td>
	<td>107.325</td></tr>
<tr class="one" style="vertical-align: top;"><td>3</td><td>BESSONOVA Anna</td><td>UKR</td>
	<td>TV<br>AV<br>EX<br>Score</td>
	<td>8.500<br>8.900<br>9.100<br>26.500 <sup>&nbsp;  3</sup></td>
	<td>8.400<br>9.000<br>9.125<br>26.525 <sup>&nbsp;  4</sup></td>
	<td>8.700<br>9.100<br>9.150<br>26.950 <sup>&nbsp;  2</sup></td>
	<td>8.500<br>9.100<br>9.125<br>26.725 <sup>&nbsp;  2</sup></td>
	<td>106.700</td></tr>
<tr class="two" style="vertical-align: top;"><td>4</td><td>YUSSUPOVA Aliya</td><td>KAZ</td>
	<td>TV<br>AV<br>EX<br>Score</td>
	<td>8.100<br>8.900<br>8.500<br>25.500 <sup>&nbsp;  4</sup></td>
	<td>8.300<br>9.200<br>9.100<br>26.600 <sup>&nbsp;  3</sup></td>
	<td>8.200<br>9.200<br>8.925<br>26.325 <sup>&nbsp;  5</sup></td>
	<td>8.000<br>8.800<br>8.900<br>25.550 <sup>&nbsp;  5</sup></td>
	<td>103.975</td></tr>
<tr class="one" style="vertical-align: top;"><td>5</td><td>GODUNKO Natalia</td><td>UKR
	<td>TV<br>AV<br>EX<br>Score</td>
	<td>8.200<br>8.800<br>8.500<br>25.500 <sup>&nbsp;  4</sup></td>
	<td>8.100<br>8.800<br>8.900<br>25.800 <sup>&nbsp;  5</sup></td>
	<td>8.300<br>9.200<br>8.875<br>26.375 <sup>&nbsp;  4</sup></td>
	<td>8.200<br>9.000<br>8.925<br>26.125 <sup>&nbsp;  4</sup></td>
	<td>103.800</td></tr>
<tr class="two" style="vertical-align: top;"><td>6</td><td>PEYCHEVA Simona</td><td>BUL</td>
	<td>TV<br>AV<br>EX<br>Score</td>
	<td>7.800<br>8.900<br>8.725<br>25.375 <sup>&nbsp;  6</sup></td>
	<td>8.100<br>8.800<br>8.775<br>25.675 <sup>&nbsp;  6</sup></td>
	<td>7.800<br>9.000<br>8.800<br>25.600 <sup>&nbsp;  6</sup></td>
	<td>7.700<br>8.400<br>8.400<br>24.400 <sup>&nbsp;  8</sup></td>
	<td>101.050</td></tr>
<tr class="one" style="vertical-align: top;"><td>7</td><td>ZHUKOVA Inna</td><td>BLR</td>
	<td>TV<br>AV<br>EX<br>Score</td>
	<td>7.600<br>8.600<br>8.800<br>25.000 <sup>&nbsp;  8</sup></td>
	<td>7.600<br>9.000<br>8.700<br>25.300 <sup>&nbsp;  7</sup></td>
	<td>7.700<br>8.650<br>8.850<br>25.200 <sup>&nbsp;  7</sup></td>
	<td>7.900<br>8.500<br>8.675<br>25.075 <sup>&nbsp;  6</sup></td>
	<td>100.575</td></tr>
<tr class="two" style="vertical-align: top;"><td>8</td><td>CID Almudena</td><td>ESP</td>
	<td>TV<br>AV<br>EX<br>Score</td>
	<td>7.300<br>9.100<br>8.725<br>25.125 <sup>&nbsp;  7</sup></td>
	<td>7.100<br>9.000<br>8.900<br>25.000 <sup>&nbsp;  8</sup></td>
	<td>7.000<br>9.100<br>8.800<br>24.900 <sup>&nbsp;  8</sup></td>
	<td>6.800<br>8.100<br>8.525<br>23.425 <sup>&nbsp;  10</sup></td>
	<td>98.450</td></tr>
<tr class="one" style="vertical-align: top;"><td>9</td><td>ANDRIOLA Eleni</td><td>GRE</td>
	<td>TV<br>AV<br>EX<br>Score</td>
	<td>7.400<br>8.800<br>8.325<br>24.475 <sup>&nbsp;  10</sup></td>
	<td>7.600<br>8.600<br>8.600<br>24.800 <sup>&nbsp;  10</sup></td>
	<td>7.000<br>8.500<br>8.200<br>23.500 <sup>&nbsp;  10</sup></td>
	<td>7.400<br>8.800<br>8.625<br>24.825 <sup>&nbsp;  7</sup></td>
	<td>97.600</td></tr>
<tr class="two" style="vertical-align: top;"><td>10</td><td>RUDALOVA Svetlana</td><td>BLR</td>
	<td>TV<br>AV<br>EX<br>Score</td>
	<td>7.400<br>8.600<br>8.700<br>24.700 <sup>&nbsp;  9</sup></td>
	<td>7.600<br>8.600<br>8.800<br>25.000 <sup>&nbsp;  8</sup></td>
	<td>7.200<br>8.600<br>8.325<br>24.125 <sup>&nbsp;  9</sup></td>
	<td>7.400<br>7.500<br>8.550<br>23.450 <sup>&nbsp;  9</sup></td>
	<td>97.275</td></tr>
<tr bgcolor="#000000"><td colspan=9></td></tr>
<tr><td colspan=9 align=left>TV = Technical Value &nbsp;&nbsp;&nbsp; AV = Artistic Value &nbsp;&nbsp;&nbsp; EX = Execution</td></tr>
</table>
</div>

<!-- GROUP FIN -->
<h2 class="wom">2004 Olympics - Rhythmic Groups Final - 2004 August 28</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="15%">
	<col width="5%" align="center">
	<colgroup span=1 width="15%" align="right">
	<colgroup span=3 width="20%" align="center">
<tr class="wom"><th colspan=4>Team</th>
	<th>5 Ribbons</th><th>3 Hoops/2 Balls</th><th>Total</th></tr>
<tr class="one" style="vertical-align: top;"><td>1</td><td>Russia</td><td>RUS</td>
	<td>TV - AV - EX<br>Score</td>
	<td>8.100 + 9.200 + 8.000<br>25.300<sup>&nbsp;1</sup></td>
	<td>8.200 + 9.300 + 8.300<br>25.800<sup>&nbsp; 1</sup></td>
	<td>51.100</td></tr>
<tr class="two" style="vertical-align: top;"><td>2</td><td>Italy</td><td>ITA</td>
	<td>TV - AV - EX<br>Score</td>
	<td>7.600 + 8.650 + 7.900<br>24.150<sup>&nbsp; 2</sup></td>
	<td>7.700 + 9.300 + 8.300<br>25.300<sup>&nbsp; 2</sup></td>
	<td>49.450</td></tr>
<tr class="one" style="vertical-align: top;"><td>3</td><td>Bulgaria</td><td>BUL</td>
	<td>TV - AV - EX<br>Score</td>
	<td>7.600 + 8.700 + 7.100<br>23.400<sup>&nbsp; 4</sup></td>
	<td>7.700 + 9.300 + 8.200<br>25.200<sup>&nbsp; 3</sup></td>
	<td>48.600</td></tr>
<tr class="two" style="vertical-align: top;"><td>4</td><td>Belarus</td><td>BLR</td>
	<td>TV - AV - EX<br>Score</td>
	<td>7.400 + 8.900 + 7.300<br>23.500<sup>&nbsp; 3</sup></td>
	<td>7.700 + 8.800 + 8.000<br>24.500<sup>&nbsp; 4</sup></td>
	<td>48.000</td></tr>
<tr class="one" style="vertical-align: top;"><td>5</td><td>Greece</td><td>GRE</td>
	<td>TV - AV - EX<br>Score</td>
	<td>7.600 + 8.400 + 6.600<br>22.600<sup>&nbsp; 6</sup></td>
	<td>7.700 + 8.400 + 7.825<br>23.925<sup>&nbsp; 5</sup></td>
	<td>46.525</td></tr>
<tr class="two" style="vertical-align: top;"><td>6</td><td>China</td><td>CHN</td>
	<td>TV - AV - EX<br>Score</td>
	<td>7.400 + 8.400 + 7.500<br>23.100<sup>&nbsp; 5</sup></td>
	<td>7.200 + 8.400 + 7.800<br>23.400<sup>&nbsp; 6</sup></td>
	<td>46.500</td></tr>
<tr class="one" style="vertical-align: top;"><td>7</td><td>Spain</td><td>ESP</td>
	<td>TV - AV - EX<br>Score</td>
	<td>7.000 + 8.400 + 7.000<br>22.400<sup>&nbsp; 7</sup></td>
	<td>6.800 + 8.500 + 7.700<br>22.950<sup>&nbsp; 7</sup></td>
	<td>45.350</td></tr>
<tr class="two" style="vertical-align: top;"><td>8</td><td>Brazil</td><td>BRA</td>
	<td>TV - AV - EX<br>Score</td>
	<td>7.200 + 8.400 + 6.400<br>21.900<sup>&nbsp; 8</sup></td>
	<td>7.000 + 8.700 + 7.000<br>22.500<sup>&nbsp; 8</sup></td>
	<td>44.400</td></tr>
<tr bgcolor="#000000"><td colspan=7></td></tr>
<tr><td colspan=7 align=left>TV = Technical Value &nbsp;&nbsp;&nbsp; AV = Artistic Value &nbsp;&nbsp;&nbsp; EX = Execution</td></tr>
</table><p>
</div>

<!--IND QUAL-->
<h2 class="men">2004 Olympics - Rhythmic All-Around Qualification - 2004 August 27</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="25%">
	<col width="5%" align="center">
	<colgroup span=1 width="10%" align="right">
	<colgroup span=5 width="10%" align="center">
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>Hoop</th><th>Ball</th><th>Ckubs</th><th>Ribbon</th><th>Total</th></tr>
<tr class="one" style="vertical-align: top;"><td>1</td><td>KABAEVA Alina</td><td>RUS</td><td>26.050 <sup>&nbsp; 2</sup></td><td>27.250 <sup>&nbsp; 1</sup></td><td>26.475 <sup>&nbsp; 2</sup></td><td>26.100 <sup>&nbsp; 2</sup></td><td>105.875 Q</td></tr>
<tr class="two" style="vertical-align: top;"><td>2</td><td>TCHACHINA Irina</td><td>RUS</td><td>26.450 <sup>&nbsp; 1</sup></td><td>26.700 <sup>&nbsp; 3</sup></td><td>25.800 <sup>&nbsp; 4</sup></td><td>26.725 <sup>&nbsp; 1</sup></td><td>105.675 Q</td></tr>
<tr class="one" style="vertical-align: top;"><td>3</td><td>BESSONOVA Anna</td><td>UKR</td><td>25.900 <sup>&nbsp; 4</sup></td><td>26.750 <sup>&nbsp; 2</sup></td><td>26.750 <sup>&nbsp; 1</sup></td><td>25.325 <sup>&nbsp; 3</sup></td><td>104.725 Q</td></tr>
<tr class="two" style="vertical-align: top;"><td>4</td><td>GODUNKO Natalia</td><td>UKR</td><td>25.975 <sup>&nbsp; 3</sup></td><td>25.900 <sup>&nbsp; 5</sup></td><td>26.075 <sup>&nbsp; 3</sup></td><td>24.800 <sup>&nbsp; 5</sup></td><td>102.750 Q</td></tr>
<tr class="one" style="vertical-align: top;"><td>5</td><td>YUSSUPOVA Aliya</td><td>KAZ</td><td>25.800 <sup>&nbsp; 5</sup></td><td>26.150 <sup>&nbsp; 4</sup></td><td>25.725 <sup>&nbsp; 5</sup></td><td>23.825 <sup>&nbsp; 8</sup></td><td>101.500 Q</td></tr>
<tr class="two" style="vertical-align: top;"><td>6</td><td>ANDRIOLA Eleni</td><td>GRE</td><td>24.850 <sup>&nbsp; 9</sup></td><td>25.350 <sup>&nbsp; 6</sup></td><td>24.500 <sup>&nbsp; 9</sup></td><td>24.900 <sup>&nbsp; 4</sup></td><td>99.600 Q</td></tr>
<tr class="one" style="vertical-align: top;"><td>7</td><td>PEYCHEVA Simona</td><td>BUL</td><td>25.475 <sup>&nbsp; 6</sup></td><td>24.800 <sup>&nbsp; 8</sup></td><td>24.700 <sup>&nbsp; 7</sup></td><td>23.725 <sup>&nbsp; 9</sup></td><td>98.700 Q</td></tr>
<tr class="two" style="vertical-align: top;"><td>8</td><td>ZHUKOVA Inna</td><td>BLR</td><td>24.575 <sup>&nbsp; 10</sup></td><td>24.200 <sup>&nbsp; 12</sup></td><td>25.100 <sup>&nbsp; 6</sup></td><td>24.700 <sup>&nbsp; 6</sup></td><td>98.575 Q</td></tr>
<tr class="one" style="vertical-align: top;"><td>9</td><td>CID Almudena</td><td>ESP</td><td>24.975 <sup>&nbsp; 7</sup></td><td>24.900 <sup>&nbsp; 7</sup></td><td>24.700 <sup>&nbsp; 7</sup></td><td>23.150 <sup>&nbsp; 12</sup></td><td>97.725 Q</td></tr>
<tr class="two" style="vertical-align: top;"><td>10</td><td>RUDALOVA Svetlana</td><td>BLR</td><td>23.925 <sup>&nbsp; 12</sup></td><td>24.600 <sup>&nbsp; 9</sup></td><td>24.350 <sup>&nbsp; 10</sup></td><td>23.050 <sup>&nbsp; 13</sup></td><td>95.925 Q</td></tr>
<tr class="one" style="vertical-align: top;"><td>11</td><td>PALLIDOU Theodora</td><td>GRE</td><td>24.150 <sup>&nbsp; 11</sup></td><td>24.475 <sup>&nbsp; 10</sup></td><td>23.200 <sup>&nbsp; 14</sup></td><td>23.400 <sup>&nbsp; 10</sup></td><td>95.225 R</td></tr>
<tr class="two" style="vertical-align: top;"><td>12</td><td>PAISIEVA Elizabeth</td><td>BUL</td><td>24.975 <sup>&nbsp; 7</sup></td><td>21.975 <sup>&nbsp; 20</sup></td><td>23.850 <sup>&nbsp; 11</sup></td><td>23.975 <sup>&nbsp; 7</sup></td><td>94.775 R</td></tr>
<tr class="one" style="vertical-align: top;"><td>13</td><td>ZACCHILLI Laura</td><td>ITA</td><td>23.925 <sup>&nbsp; 12</sup></td><td>24.225 <sup>&nbsp; 11</sup></td><td>23.250 <sup>&nbsp; 13</sup></td><td>22.700 <sup>&nbsp; 14</sup></td><td>94.100</td></tr>
<tr class="two" style="vertical-align: top;"><td>14</td><td>GURBANOVA Anna</td><td>AZE</td><td>22.775 <sup>&nbsp; 15</sup></td><td>23.525 <sup>&nbsp; 13</sup></td><td>22.800 <sup>&nbsp; 17</sup></td><td>23.200 <sup>&nbsp; 11</sup></td><td>92.300</td></tr>
<tr class="one" style="vertical-align: top;"><td>15</td><td>SANDERS Mary</td><td>USA</td><td>21.250 <sup>&nbsp; 19</sup></td><td>23.250 <sup>&nbsp; 14</sup></td><td>23.400 <sup>&nbsp; 12</sup></td><td>22.100 <sup>&nbsp; 16</sup></td><td>90.000</td></tr>
<tr class="two" style="vertical-align: top;"><td>16</td><td>PISETSKY Katerina</td><td>ISR</td><td>22.675 <sup>&nbsp; 16</sup></td><td>22.750 <sup>&nbsp; 17</sup></td><td>23.100 <sup>&nbsp; 15</sup></td><td>21.425 <sup>&nbsp; 18</sup></td><td>89.950</td></tr>
<tr class="one" style="vertical-align: top;"><td>17</td><td>ZHONG Ling</td><td>CHN</td><td>20.875 <sup>&nbsp; 20</sup></td><td>22.400<sup>&nbsp; 19</sup></td><td>22.950 <sup>&nbsp; 16</sup></td><td>22.400 <sup>&nbsp; 15</sup></td><td>88.625</td></tr>
<tr class="two" style="vertical-align: top;"><td>18</td><td>MURATA Yukari</td><td>JPN</td><td>21.775 <sup>&nbsp; 18</sup></td><td>22.425 <sup>&nbsp; 18</sup></td><td>22.400 <sup>&nbsp; 18</sup></td><td>21.550 <sup>&nbsp; 17</sup></td><td>88.150</td></tr>
<tr class="one" style="vertical-align: top;"><td>19</td><td>INGILDEEVA Lisa</td><td>GER</td><td>22.825 <sup>&nbsp; 14</sup></td><td>22.900 <sup>&nbsp; 15</sup></td><td>22.150 <sup>&nbsp; 19</sup></td><td>19.650 <sup>&nbsp; 21</sup></td><td>87.525</td></tr>
<tr class="two" style="vertical-align: top;"><td>20</td><td>CERVENKOVA Dominika</td><td>CZE</td><td>22.350 <sup>&nbsp; 17</sup></td><td>22.900 <sup>&nbsp; 15</sup></td><td>18.300 <sup>&nbsp; 24</sup></td><td>21.200 <sup>&nbsp; 20</sup></td><td>84.750</td></tr>
<tr class="one" style="vertical-align: top;"><td>21</td><td>MCKIBBIN Hannah</td><td>GBR</td><td>20.675 <sup>&nbsp; 21</sup></td><td>20.800 <sup>&nbsp; 21</sup></td><td>19.600 <sup>&nbsp; 20</sup></td><td>21.225 <sup>&nbsp; 19</sup></td><td>82.300</td></tr>
<tr class="two" style="vertical-align: top;"><td>22</td><td>SANDLER Stephanie</td><td>RSA</td><td>18.550 <sup>&nbsp; 23</sup></td><td>18.525 <sup>&nbsp; 24</sup></td><td>19.100 <sup>&nbsp; 22</sup></td><td>17.100 <sup>&nbsp; 22</sup></td><td>73.275</td></tr>
<tr class="one" style="vertical-align: top;"><td>23</td><td>BLACKMORE Penelope</td><td>AUS</td><td>19.575 <sup>&nbsp; 22</sup></td><td>19.325 <sup>&nbsp; 22</sup></td><td>19.600 <sup>&nbsp; 20</sup></td><td>14.550 <sup>&nbsp; 24</sup></td><td>73.050</td></tr>
<tr class="two" style="vertical-align: top;"><td>24</td><td>MONTEIRO Wania</td><td>CPV</td><td>18.050 <sup>&nbsp; 24</sup></td><td>18.550 <sup>&nbsp; 23</sup></td><td>18.400 <sup>&nbsp; 23</sup></td><td>16.900 <sup>&nbsp; 23</sup></td><td>71.900</td></tr>
<tr bgcolor="#000000"><td colspan=9></td></tr>
<tr><td colspan=9 align=left>TV = Technical Value &nbsp;&nbsp;&nbsp; AV = Artistic Value &nbsp;&nbsp;&nbsp; EX = Execution &nbsp;&nbsp;&nbsp; 
	R = Reserve &nbsp;&nbsp;&nbsp; Q = Qualified for Final</td></tr>
</table>
</div>

<!-- GROUPS QUAL -->
<h2 class="men">2004 Olympics - Rhythmic Groups Qualification - 2004 August 26</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="15%">
	<col width="5%" align="center">
	<colgroup span=1 width="15%" align="right">
	<colgroup span=3 width="20%" align="center">
<tr class="wom"><th colspan=4>Team</th>
	<th>5 Ribbons</th><th>3 Hoops/2 Balls</th><th>Total</th></tr>
<tr class="one" style="vertical-align: top;"><td>1</td><td>Russia</td><td>RUS</td>
	<td>TV + AV + EX<br>Score</td>
	<td>8.200 + 9.100 + 7.500<br>24.700 <sup>&nbsp; 1</sup> </td>
	<td>8.000 + 9.100 + 8.075<br>25.175 <sup>&nbsp; 2</sup> </td><td>49.875 Q</td></tr>
<tr class="two" style="vertical-align: top;"><td>2</td><td>Italy</td><td>ITA</td>
	<td>TV + AV + EX<br>Score</td>
	<td>7.300 + 8.400 + 7.250<br>22.850 <sup>&nbsp; 3</sup> </td>
	<td>7.900 + 9.200 + 8.225<br>25.325 <sup>&nbsp; 1</sup> </td><td>48.175 Q</td></tr>
<tr class="one" style="vertical-align: top;"><td>3</td><td>Bulgaria</td><td>BUL</td>
	<td>TV + AV + EX<br>Score</td>
	<td>7.600 + 7.500 + 7.200<br>22.300 <sup>&nbsp; 6</sup> </td>
	<td>7.800 + 9.000 + 7.800<br>24.600 <sup>&nbsp; 3</sup> </td><td>46.900 Q</td></tr>
<tr class="two" style="vertical-align: top;"><td>4</td><td>Greece</td><td>GRE</td>
	<td>TV + AV + EX<br>Score</td>
	<td>7.700 + 8.300 + 6.800<br>22.700 <sup>&nbsp; 4</sup> </td>
	<td>7.400 + 8.800 + 7.500<br>23.700 <sup>&nbsp; 5</sup> </td><td>46.400 Q</td></tr>
<tr class="one" style="vertical-align: top;"><td>5</td><td>China</td><td>CHN</td>
	<td>TV + AV + EX<br>Score</td>
	<td>7.400 + 8.200 + 7.000<br>22.300 <sup>&nbsp; 5</sup> </td>
	<td>7.200 + 8.600 + 8.000<br>23.800 <sup>&nbsp; 4</sup> </td><td>46.100 Q</td></tr>
<tr class="two" style="vertical-align: top;"><td>6</td><td>Belarus</td><td>BLR</td>
	<td>TV + AV + EX<br>Score</td>
	<td>7.400 + 8.600 + 7.200<br>23.200 <sup>&nbsp; 2</sup> </td>
	<td>7.200 + 8.400 + 6.900<br>22.500 <sup>&nbsp; 9</sup> </td><td>45.700 Q</td></tr>
<tr class="one" style="vertical-align: top;"><td>7</td><td>Brazil</td><td>BRA</td>
	<td>TV + AV + EX<br>Score</td>
	<td>7.000 + 8.200 + 6.250<br>21.450 <sup>&nbsp; 7</sup> </td>
	<td>7.000 + 8.800 + 7.700<br>23.500 <sup>&nbsp; 6</sup> </td><td>44.950 Q</td></tr>
<tr class="two" style="vertical-align: top;"><td>8</td><td>Spain</td><td>ESP</td>
	<td>TV + AV + EX<br>Score</td>
	<td>7.000 + 7.400 + 6.800<br>21.200 <sup>&nbsp; 8</sup> </td>
	<td>7.100 + 8.400 + 7.900<br>23.400 <sup>&nbsp; 7</sup> </td><td>44.600 Q</td></tr>
<tr class="one" style="vertical-align: top;"><td>9</td><td>Ukraine</td><td>UKR</td>
	<td>TV + AV + EX<br>Score</td>
	<td>6.300 + 7.300 + 5.750<br>19.350 <sup>&nbsp; 10</sup> </td>
	<td>7.100 + 8.900 + 6.800<br>22.800 <sup>&nbsp; 8</sup> </td><td>42.150 R</td></tr>
<tr class="two" style="vertical-align: top;"><td>10</td><td>Poland</td><td>POL</td>
	<td>TV + AV + EX<br>Score</td>
	<td>6.300 + 7.900 + 6.625<br>20.725 <sup>&nbsp; 9</sup> </td>
	<td>6.200 + 8.100 + 6.950<br>21.050 <sup>&nbsp; 10</sup> </td><td>41.775 R</td></tr>
<tr bgcolor="#000000"><td colspan=7></td></tr>
<tr><td colspan=7 align=left>TV = Technical Value &nbsp;&nbsp;&nbsp; AV = Artistic Value &nbsp;&nbsp;&nbsp; EX = Execution &nbsp;&nbsp;&nbsp; 
	R = Reserve &nbsp;&nbsp;&nbsp; Q = Qualified for Final</td></tr>
</table>
</div>

