---
title: "Athens 2004 Olympics Trampoline"
year: 2004
startdate: 2004-08-13
enddate: 2004-08-29
country: "GRE"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2004/o2004tramp.html
- /olympics/2004/tra.html
---
	
{% include resultsheader.html title="Games of the 28th Olympiad<br>Athens (GRE) August 13-29, 2004<br>Trampoline" %}

<a href="/results/2004/olympics/index.html"><img src="/assets/images/logos/lg2004og.jpg"></a>

<!-- MEN F -->
<h2 class="men">2004 Olympics Trampoline Men Finals - 2004 August 21</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="5%" align="right">
	<col width="30%">
	<col width="9%" align="center">
	<colgroup span=7 width="8%" align="center">
<tr class="men"><th colspan=3>Gymnast</th>
	<th>J1<br>GRE</th><th>J2<br>ESP</th><th>J3<br>SWE</th><th>J4<br>CZE</th><th>J5<br>BRA</th><th>Diff</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>NIKITIN Yuri</td><td>UKR</td><td>8.3</td><td>8.6</td><td>8.5</td><td>8.4</td><td>8.4</td><td>16.2</td><td>41.50</td></tr>
<tr class="two"><td>2</td><td>MOSKALENKO Alexander</td><td>RUS</td><td>8.2</td><td>8.5</td><td>8.4</td><td>8.4</td><td>8.2</td><td>16.2</td><td>41.20</td></tr>
<tr class="one"><td>3</td><td>STEHLIK Henrik</td><td>GER</td><td>8.2</td><td>8.5</td><td>8.4</td><td>8.4</td><td>8.4</td><td>15.6</td><td>40.80</td></tr>
<tr class="two"><td>4</td><td>POLYARUSH Dimitri</td><td>BLR</td><td>8.0</td><td>7.9</td><td>8.1</td><td>8.1</td><td>8.2</td><td>16.0</td><td>40.20</td></tr>
<tr class="one"><td>5</td><td>RUSAKOV Alexander</td><td>RUS</td><td>8.0</td><td>8.1</td><td>7.9</td><td>7.8</td><td>7.9</td><td>16.4</td><td>40.20</td></tr>
<tr class="two"><td>6</td><td>MERINO Nuno</td><td>POR</td><td>8.1</td><td>7.9</td><td>7.9</td><td>7.7</td><td>8.1</td><td>16.2</td><td>40.10</td></tr>
<tr class="one"><td>7</td><td>SMITH Gary</td><td>GBR</td><td>8.1</td><td>7.9</td><td>8.0</td><td>7.8</td><td>8.2</td><td>16.0</td><td>40.00</td></tr>
<tr class="two"><td>8</td><td>MARTIN David</td><td>FRA</td><td>8.1</td><td>8.0</td><td>8.0</td><td>8.1</td><td>7.8</td><td>15.8</td><td>39.90</td></tr>
</table>
</div>


<!-- Wom Fin -->
<h2 class="wom">2004 Olympics Trampoline Women Finals - 2004 August 20</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="30%">
	<col width="9%" align="center">
	<colgroup span=7 width="8%" align="center">
<tr class="wom"><th colspan=3>Gymnast</th>
	<th>J1<br>GRE</th><th>J2<br>ESP</th><th>J3<br>BRA</th><th>J4<br>SWE</th><th>J5<br>CZE</th><th>Diff</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>DOGONADZE Anna</td><td>GER</td><td>8.3</td><td>8.4</td><td>8.5</td><td>8.6</td><td>8.5</td><td>14.2</td><td>39.60</td></tr>
<tr class="two"><td>2</td><td>COCKBURN Karen</td><td>CAN</td><td>8.0</td><td>8.2</td><td>8.2</td><td>8.3</td><td>8.2</td><td>14.6</td><td>39.20</td></tr>
<tr class="one"><td>3</td><td>HUANG Shanshan</td><td>CHN</td><td>8.2</td><td>8.3</td><td>8.4</td><td>8.4</td><td>8.3</td><td>14.0</td><td>39.00</td></tr>
<tr class="two"><td>4</td><td>CHERNOVA Natalia</td><td>RUS</td><td>8.0</td><td>8.2</td><td>8.1</td><td>8.3</td><td>8.3</td><td>14.0</td><td>38.60</td></tr>
<tr class="one"><td>5</td><td>MOVCHAN Olena</td><td>UKR</td><td>8.1</td><td>8.2</td><td>8.3</td><td>8.3</td><td>8.1</td><td>13.0</td><td>37.60</td></tr>
<tr class="two"><td>6</td><td>ROSS-McMANUS Heather</td><td>CAN</td><td>7.9</td><td>7.6</td><td>7.7</td><td>7.7</td><td>7.6</td><td>14.4</td><td>37.40</td></tr>
<tr class="one"><td>7</td><td>HIROTA Haruka</td><td>JPN</td><td>7.8</td><td>8.2</td><td>8.1</td><td>8.1</td><td>8.4</td><td>12.8</td><td>37.20</td></tr>
<tr class="two"><td>8</td><td>LENDERS Andrea</td><td>NED</td><td>5.7</td><td>5.6</td><td>5.4</td><td>5.6</td><td>5.5</td><td>7.6</td><td>24.30</td></tr>
</table>
</div>

<!-- MEN Q -->
<h2 class="men">2004 Olympics Trampoline Men Qualification - 2004 August 21</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<col width="5%" align="right">
	<col width="27%">
	<colgroup span=2 width="5%" align="center">
	<colgroup span=8 width="6%" align="center">
	<colgroup span=1 width="10%" align="center">
<tr class="men"><th colspan=4>Gymnast</th>
	<th>J1<br>GRE</th><th>J2<br>ESP</th><th>J3<br>BRA</th><th>J4<br>SWE</th><th>J5<br>CZE</th><th>Diff</th><th colspan=2>Routine</th>
	<th>Total</th></tr>
<tr class="one"><td rowspan="2" valign="top">1</td><td rowspan="2" valign="top">STEHLIK Henrik</td><td rowspan="2" valign="top">GER</td>
	<td>1</td><td>9.3</td><td>9.4</td><td>9.4</td><td>9.4</td><td>9.3</td><td></td><td>28.10</td><td>=2</td><td rowspan="2" valign="bottom">69.10</td></tr>
	 <tr class="one"><td>2</td><td>8.3</td><td>8.5</td><td>8.5</td><td>8.5</td><td>8.4</td><td>15.6</td><td>41.00</td><td>2</td></tr>
<tr class="two"><td rowspan="2" valign="top">2</td><td rowspan="2" valign="top">NIKITIN Yuri</td><td rowspan="2" valign="top">UKR</td>
	<td>1</td><td>9.3</td><td>9.2</td><td>9.2</td><td>9.2</td><td>9.0</td><td></td><td>27.60</td><td>5</td><td rowspan="2" valign="bottom">69.00</td></tr>
	<tr class="two"><td>2</td><td>8.3</td><td>8.4</td><td>8.6</td><td>8.5</td><td>8.2</td><td>16.2</td><td>41.40</td><td>1</td></tr>
<tr class="one"><td rowspan="2" valign="top">3</td><td rowspan="2" valign="top">RUSAKOV Alexander</td><td rowspan="2" valign="top">RUS</td>
	<td>1</td><td>9.3</td><td>9.4</td><td>9.4</td><td>9.4</td><td>9.2</td><td></td><td>28.10</td><td>=2</td><td rowspan="2" valign="bottom">69.00</td></tr>
	 <tr class="one"><td>2</td><td>8.2</td><td>8.2</td><td>8.3</td><td>8.2</td><td>8.4</td><td>16.2</td><td>40.90</td><td>3</td></tr>
<tr class="two"><td rowspan="2" valign="top">4</td><td rowspan="2" valign="top">MOSKALENKO Alexander</td><td rowspan="2" valign="top">RUS</td>
	<td>1</td><td>9.3</td><td>9.4</td><td>9.5</td><td>9.5</td><td>9.4</td><td></td><td>28.30</td><td>1</td><td rowspan="2" valign="bottom">68.90</td></tr>
	<tr class="two"><td>2</td><td>8.2</td><td>8.1</td><td>8.3</td><td>8.1</td><td>8.3</td><td>16.0</td><td>40.60</td><td>5</td></tr>
<tr class="one"><td rowspan="2" valign="top">5</td><td rowspan="2" valign="top">POLYARUSH Dimitri</td><td rowspan="2" valign="top">BLR</td>
	<td>1</td><td>9.1</td><td>8.9</td><td>9.2</td><td>9.2</td><td>9.2</td><td></td><td>27.50</td><td>6</td><td rowspan="2" valign="bottom">67.80</td></tr>
	 <tr class="one"><td>2</td><td>8.3</td><td>8.4</td><td>8.3</td><td>8.1</td><td>8.0</td><td>15.6</td><td>40.30</td><td>6</td></tr>
<tr class="two"><td rowspan="2" valign="top">6</td><td rowspan="2" valign="top">MARTIN David</td><td rowspan="2" valign="top">FRA</td>
	<td>1</td><td>8.8</td><td>8.8</td><td>8.9</td><td>9.0</td><td>9.1</td><td></td><td>26.70</td><td>=11</td><td rowspan="2" valign="bottom">67.40</td></tr>
	<tr class="two"><td>2</td><td>8.1</td><td>8.3</td><td>8.3</td><td>8.4</td><td>8.3</td><td>15.8</td><td>40.70</td><td>4</td></tr>
<tr class="one"><td rowspan="2" valign="top">7</td><td rowspan="2" valign="top">SMITH Gary</td><td rowspan="2" valign="top">GBR</td>
	<td>1</td><td>9.1</td><td>9.1</td><td>9.1</td><td>8.9</td><td>9.0</td><td></td><td>27.20</td><td>=8</td><td rowspan="2" valign="bottom">67.20</td></tr>
	 <tr class="one"><td>2</td><td>8.1</td><td>8.2</td><td>8.1</td><td>7.9</td><td>8.0</td><td>15.8</td><td>40.00</td><td>8</td></tr>
<tr class="two"><td rowspan="2" valign="top">8</td><td rowspan="2" valign="top">MERINO Nuno</td><td rowspan="2" valign="top">POR</td>
	<td>1</td><td>9.1</td><td>8.7</td><td>8.8</td><td>9.0</td><td>8.9</td><td></td><td>26.70</td><td>=11</td><td rowspan="2" valign="bottom">66.90</td></tr>
	<tr class="two"><td>2</td><td>8.0</td><td>8.0</td><td>8.0</td><td>7.5</td><td>8.2</td><td>16.2</td><td>40.20</td><td>7</td></tr>
<tr class="one"><td rowspan="2" valign="top">9</td><td rowspan="2" valign="top">MARTIN Ludovic</td><td rowspan="2" valign="top">SUI</td>
	<td>1</td><td>9.0</td><td>9.1</td><td>9.0</td><td>9.1</td><td>9.2</td><td></td><td>27.20</td><td>=8</td><td rowspan="2" valign="bottom">66.80</td></tr>
	 <tr class="one"><td>2</td><td>7.9</td><td>7.9</td><td>7.9</td><td>8.0</td><td>8.2</td><td>15.8</td><td>39.60</td><td>9</td></tr>
<tr class="two"><td rowspan="2" valign="top">10</td><td rowspan="2" valign="top">MU Yong-Feng</td><td rowspan="2" valign="top">CHN</td>
	<td>1</td><td>8.7</td><td>8.5</td><td>8.8</td><td>8.8</td><td>8.8</td><td></td><td>26.30</td><td>15</td><td rowspan="2" valign="bottom">65.20</td></tr>
	<tr class="two"><td>2</td><td>8.0</td><td>8.0</td><td>7.8</td><td>7.7</td><td>7.7</td><td>15.4</td><td>38.90</td><td>10</td></tr>
<tr class="one"><td rowspan="2" valign="top">11</td><td rowspan="2" valign="top">TURGEON Mathieu</td><td rowspan="2" valign="top">CAN</td>
	<td>1</td><td>8.8</td><td>8.7</td><td>8.8</td><td>9.1</td><td>9.0</td><td></td><td>26.60</td><td>13</td><td rowspan="2" valign="bottom">63.40</td></tr>
	 <tr class="one"><td>2</td><td>6.8</td><td>6.9</td><td>6.8</td><td>6.9</td><td>7.1</td><td>16.2</td><td>36.80</td><td>11</td></tr>
<tr class="two"><td rowspan="2" valign="top">12</td><td rowspan="2" valign="top">PELIVANIDIS Michail</td><td rowspan="2" valign="top">GRE</td>
	<td>1</td><td>8.9</td><td>8.4</td><td>8.4</td><td>8.7</td><td>8.8</td><td></td><td>25.90</td><td>16</td><td rowspan="2" valign="bottom">62.60</td></tr>
	<tr class="two"><td>2</td><td>7.3</td><td>7.3</td><td>7.2</td><td>7.4</td><td>7.0</td><td>14.9</td><td>36.70</td><td>12</td></tr>
<tr class="one"><td rowspan="2" valign="top">13</td><td rowspan="2" valign="top">CANNONE Flavio</td><td rowspan="2" valign="top">ITA</td>
	<td>1</td><td>9.4</td><td>9.1</td><td>9.1</td><td>9.1</td><td>8.9</td><td></td><td>27.30</td><td>7</td><td rowspan="2" valign="bottom">57.60</td></tr>
	 <tr class="one"><td>2</td><td>6.3</td><td>6.4</td><td>6.3</td><td>6.5</td><td>6.2</td><td>11.3	</td><td>30.30</td><td>13</td></tr>
<tr class="two"><td rowspan="2" valign="top">14</td><td rowspan="2" valign="top">KAZAK Nikolai</td><td rowspan="2" valign="top">BLR</td>
	<td>1</td><td>9.4</td><td>9.1</td><td>9.2</td><td>9.4</td><td>9.4</td><td></td><td>28.00</td><td>4</td><td rowspan="2" valign="bottom">52.80</td></tr>
	<tr class="two"><td>2</td><td>4.7</td><td>4.5</td><td>4.6</td><td>4.3</td><td>4.4</td><td>11.3</td><td>24.80</td><td>14</td></tr>
<tr class="one"><td rowspan="2" valign="top">15</td><td rowspan="2" valign="top">VILLAFUERTE Alan</td><td rowspan="2" valign="top">NED</td>
	<td>1</td><td>9.0</td><td>8.8</td><td>9.0</td><td>9.2</td><td>9.0</td><td></td><td>27.00</td><td>10</td><td rowspan="2" valign="bottom">44.90</td></tr>
	 <tr class="one"><td>2</td><td>3.1</td><td>3.2</td><td>3.2</td><td>3.0</td><td>3.5</td><td>8.4</td><td>17.90</td><td>15</td></tr>
<tr class="two"><td rowspan="2" valign="top">16</td><td rowspan="2" valign="top">JENSEN Peter</td><td rowspan="2" valign="top">DEN</td>
	<td>1</td><td>8.7</td><td>8.8</td><td>8.8</td><td>8.9</td><td>8.9</td><td></td><td>26.50</td><td>14</td><td rowspan="2" valign="bottom">32.70</td></tr>
	<tr class="two"><td>2</td><td>0.9</td><td>0.9</td><td>0.9</td><td>0.9</td><td>0.8</td><td>3.5</td><td>6.20</td><td>16</td></tr>
</table>
</div>


<!--W Q-->
<h2 class="wom">2004 Olympics Trampoline Women Qualification - 2004 August 20</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<col width="5%" align="right">
	<col width="27%">
	<colgroup span=2 width="5%" align="center">
	<colgroup span=8 width="6%" align="center">
	<colgroup span=1 width="10%" align="center">
<tr class="wom"><th colspan=4>Gymnast</th>
	<th>J1<br>GRE</th><th>J2<br>ESP</th><th>J3<br>BRA</th><th>J4<br>SWE</th><th>J5<br>CZE</th><th>Diff</th><th colspan=2>Routine</th><th>Total</th></tr>
<tr class="one"><td rowspan="2" valign="top">1</td><td rowspan="2" valign="top">CHERNOVA Natalia</td><td rowspan="2" valign="top">RUS</td>
	<td>1</td><td>9.3</td><td>9.3</td><td>9.5</td><td>9.5</td><td>9.3</td><td></td><td>28.10</td><td>1</td><td rowspan="2" valign="bottom">66.80 Q</td></tr>
	 <tr class="one"><td>2</td><td>7.9</td><td>8.3</td><td>8.1</td><td>8.4</td><td>8.3</td><td>14.0</td><td>38.70</td><td>3</td></tr>
<tr class="two"><td rowspan="2" valign="top">2</td><td rowspan="2" valign="top">DOGONADZE Anna</td><td rowspan="2" valign="top">GER</td>
	<td>1</td><td>9.0</td><td>9.1</td><td>9.0</td><td>9.3</td><td>9.2</td><td></td><td>27.30</td><td>6</td><td rowspan="2" valign="bottom">66.70 Q</td></tr>
	<tr class="two"><td>2</td><td>8.3</td><td>8.4</td><td>8.4</td><td>8.5</td><td>8.4</td><td>14.2</td><td>39.40</td><td>1</td></tr>
<tr class="one"><td rowspan="2" valign="top">3</td><td rowspan="2" valign="top">MOVCHAN Olena</td><td rowspan="2" valign="top">UKR</td>
	<td>1</td><td>9.0</td><td>9.2</td><td>9.2</td><td>9.4</td><td>9.4</td><td></td><td>27.80</td><td>2</td><td rowspan="2" valign="bottom">65.80 Q</td></tr>
	<tr class="one"><td>2</td><td>8.0</td><td>7.8</td><td>8.2</td><td>8.1</td><td>7.6</td><td>14.1</td><td>38.00</td><td>5</td></tr>
<tr class="two"><td rowspan="2" valign="top">4</td><td rowspan="2" valign="top">HUANG Shanshan</td><td rowspan="2" valign="top">CHN</td>
	<td>1</td><td>8.9</td><td>8.7</td><td>8.8</td><td>8.7</td><td>8.9</td><td></td><td>26.40</td><td>13</td><td rowspan="2" valign="bottom">65.40 Q</td></tr>
	<tr class="two"><td>2</td><td>8.2</td><td>8.6</td><td>8.3</td><td>8.4</td><td>8.3</td><td>14.0</td><td>39.00</td><td>2</td></tr>
<tr class="one"><td rowspan="2" valign="top">5</td><td rowspan="2" valign="top">COCKBURN Karen</td><td rowspan="2" valign="top">CAN</td>
	<td>1</td><td>8.9</td><td>9.0</td><td>8.7</td><td>9.1</td><td>9.1</td><td></td><td>27.00</td><td>8</td><td rowspan="2" valign="bottom">65.10 Q</td></tr>
	<tr class="one"><td>2</td><td>8.2</td><td>8.1</td><td>7.7</td><td>8.1</td><td>7.7</td><td>14.2</td><td>38.10</td><td>4</td></tr>
<tr class="two"><td rowspan="2" valign="top">6</td><td rowspan="2" valign="top">ROSS-McMANUS Heather</td><td rowspan="2" valign="top">CAN</td>
	<td>1</td><td>9.2</td><td>9.1</td><td>8.4</td><td>8.8</td><td>8.9</td><td></td><td>26.80</td><td>=11</td><td rowspan="2" valign="bottom">63.80 Q</td></tr>
	<tr class="two"><td>2</td><td>7.8</td><td>7.5</td><td>7.3</td><td>7.8</td><td>7.7</td><td>14.0</td><td>37.00</td><td>6</td></tr>
<tr class="one"><td rowspan="2" valign="top">7</td><td rowspan="2" valign="top">HIROTA Haruka</td><td rowspan="2" valign="top">JPN</td>
	<td>1</td><td>8.7</td><td>8.9</td><td>9.1</td><td>9.0</td><td>9.0</td><td></td><td>26.90</td><td>=9</td><td rowspan="2" valign="bottom">63.00 Q</td></tr>
	<tr class="one"><td>2</td><td>7.7</td><td>7.8</td><td>7.6</td><td>7.9</td><td>7.8</td><td>12.8</td><td>36.10</td><td>8</td></tr>
<tr class="two"><td rowspan="2" valign="top">8</td><td rowspan="2" valign="top">LENDERS Andrea</td><td rowspan="2" valign="top">NED</td>
	<td>1</td><td>9.1</td><td>9.2</td><td>9.0</td><td>9.1</td><td>9.2</td><td></td><td>27.40</td><td>5</td><td rowspan="2" valign="bottom">62.70 Q</td></tr>
	<tr class="two"><td>2</td><td>7.5</td><td>7.7</td><td>7.5</td><td>7.6</td><td>7.4</td><td>12.7</td><td>35.30</td><td>10</td></tr>
<tr class="one"><td rowspan="2" valign="top">9</td><td rowspan="2" valign="top">KHOPERIA Rusudan</td><td rowspan="2" valign="top">GEO</td>
	<td>1</td><td>8.6</td><td>8.8</td><td>8.5</td><td>8.9</td><td>9.0</td><td></td><td>26.30</td><td>14</td><td rowspan="2" valign="bottom">62.50 R</td></tr>
	<tr class="one"><td>2</td><td>7.7</td><td>7.3</td><td>7.8</td><td>7.4</td><td>7.3</td><td>13.8</td><td>36.20</td><td>7</td></tr>
<tr class="two"><td rowspan="2" valign="top">10</td><td rowspan="2" valign="top">PROKESOVA Katarina</td><td rowspan="2" valign="top">SVK</td>
	<td>1</td><td>8.8</td><td>8.4</td><td>8.6</td><td>8.6</td><td>8.7</td><td></td><td>25.90</td><td>15</td><td rowspan="2" valign="bottom">61.90 R</td></tr>
	<tr class="two"><td>2</td><td>7.6</td><td>7.6</td><td>7.6</td><td>7.7</td><td>7.3</td><td>13.2</td><td>36.00</td><td>9</td></tr>
<tr class="one"><td rowspan="2" valign="top">11</td><td rowspan="2" valign="top">KHILKO Ekaterina</td><td rowspan="2" valign="top">UZB</td>
	<td>1</td><td>8.6</td><td>8.7</td><td>9.2</td><td>9.1</td><td>9.0</td><td></td><td>26.80</td><td>=11</td><td rowspan="2" valign="bottom">61.60</td></tr>
	<tr class="one"><td>2</td><td>7.3</td><td>7.2</td><td>7.1</td><td>7.3</td><td>7.2</td><td>13.1</td><td>34.80</td><td>11</td></tr>
<tr class="two"><td rowspan="2" valign="top">12</td><td rowspan="2" valign="top">LAWTON Kirsten</td><td rowspan="2" valign="top">GBR</td>
	<td>1</td><td>9.0</td><td>9.1</td><td>9.3</td><td>9.2</td><td>9.3</td><td></td><td>27.60</td><td>=3</td><td rowspan="2" valign="bottom">60.20</td></tr>
	<tr class="two"><td>2</td><td>6.9</td><td>7.0</td><td>6.8</td><td>6.9</td><td>7.0</td><td>11.8</td><td>32.60</td><td>13</td></tr>
<tr class="one"><td rowspan="2" valign="top">13</td><td rowspan="2" valign="top">DALY Lesley</td><td rowspan="2" valign="top">AUS</td>
	<td>1</td><td>8.5</td><td>8.4</td><td>8.9</td><td>8.8</td><td>8.5</td><td></td><td>25.80</td><td>16</td><td rowspan="2" valign="bottom">58.90</td></tr>
	<tr class="one"><td>2</td><td>6.7</td><td>6.8</td><td>6.7</td><td>6.7</td><td>6.7</td><td>13.0</td><td>33.10</td><td>12</td></tr>
<tr class="two"><td rowspan="2" valign="top">14</td><td rowspan="2" valign="top">PARILLA Jennifer</td><td rowspan="2" valign="top">USA</td>
	<td>1</td><td>9.0</td><td>9.1</td><td>8.7</td><td>9.0</td><td>8.9</td><td></td><td>26.90</td><td>=9</td><td rowspan="2" valign="bottom">52.70</td></tr>
	<tr class="two"><td>2</td><td>5.2</td><td>4.8</td><td>5.3</td><td>5.1</td><td>4.8</td><td>10.7</td><td>25.80</td><td>14</td></tr>
<tr class="one"><td rowspan="2" valign="top">15</td><td rowspan="2" valign="top">KARAVAEVA Irina</td><td rowspan="2" valign="top">RUS</td>
	<td>1</td><td>9.2</td><td>8.9</td><td>8.9</td><td>9.0</td><td>9.3</td><td></td><td>27.10</td><td>7</td><td rowspan="2" valign="bottom">39.90</td></tr>
	<tr class="one"><td>2</td><td>2.2</td><td>2.2</td><td>2.2</td><td>2.4</td><td>2.2</td><td>6.2</td><td>12.80</td><td>15</td></tr>
<tr class="two"><td rowspan="2" valign="top">16</td><td rowspan="2" valign="top">PETRENIA Tatiana</td><td rowspan="2" valign="top">BLR</td>
	<td>1</td><td>9.2</td><td>9.2</td><td>9.1</td><td>9.2</td><td>9.3</td><td></td><td>27.60</td><td>=3</td><td rowspan="2" valign="bottom">32.90</td></tr>
	<tr class="two"><td>2</td><td>0.6</td><td>0.6</td><td>0.7</td><td>0.7</td><td>0.6</td><td>3.4</td><td>5.30</td><td>16</td></tr>
</table></div>

