---
title: "Athens 2004 Olympics Women's Team Qualifications"
year: 2004
startdate: 2004-08-13
enddate: 2004-08-29
country: "GRE"
category: "olympics"
layout: results
homepage: false
redirect_from: /olympics/2004/wagqteams.html
---
	
{% include resultsheader.html title="Games of the 28th Olympiad<br>Athens (GRE) August 13-29, 2004<br>Women's Artistic Gymnastics<br>Team Qualifications" %}

<a href="/results/2004/olympics/index.html"><img src="/assets/images/logos/lg2004og.jpg"></a>

<a href="documents/wag/qteams.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/wag/startorder.pdf" target="_blank" class="pdf">Start Order</a>
<!--01-->
<h2 class="wom">Team Qualification Women - 2004 Aug 15</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="30" align="center">
	<colgroup span=1 width="200">
	<colgroup span=6 align="center" width="80">
<tr class="wom">
	<th colspan=3>Team</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="team"><td>1</td><td>Romania</td><td>ROM</td><td>37.925  <sup>1</sup></td><td>37.750  <sup>6</sup></td><td>38.599  <sup>1</sup></td><td>38.162  <sup>1</sup></td><td>152.436	Q</td></tr>
<tr class="one"><td>2</td><td>SOFRONIE Nicoleta Daniela</td><td>ROM</td><td>9.425</td><td>9.625</td><td><i>9.487</i></td><td>9.525</td><td>38.062</td></tr>
<tr class="two"><td>3</td><td>BAN Oana</td><td>ROM</td><td>9.325</td><td>9.425</td><td>9.625</td><td>9.600</td><td>37.975</td></tr>
<tr class="one"><td>64</td><td>PONOR Catalina</td><td>ROM</td><td>9.500</td><td><td>9.775</td><td>9.687</td><td>28.962</td></tr>
<tr class="two"><td>66</td><td>ROSU Monica</td><td>ROM</td><td>9.675</td><td>9.375</td><td><td>9.350</td><td>28.400</td></tr>
<tr class="one"><td>68</td><td>EREMIA Alexandra Georgiana</td><td>ROM</td><td><td><i>9.287</i></td><td>9.687</td><td>9.150</td><td>28.124</td></tr>
<tr class="two"><td>69</td><td>STROESCU Silvia</td><td>ROM</td><td><i>9.225</i></td><td>9.325</td><td>9.512</td><td><td>28.062</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
<tr class="team"><td>2</td><td>United States</td><td>USA</td><td>37.599  <sup>3</sup></td><td>38.437  <sup>2</sup></td><td>38.137  <sup>2</sup></td><td>37.675  <sup>3</sup></td><td>151.848	Q</td></tr>
<tr class="one"><td>1</td><td>PATTERSON Carly</td><td>USA</td><td>9.512</td><td>9.600</td><td>9.725</td><td>9.500</td><td>38.337</td></tr>
<tr class="two"><td>4</td><td>KUPETS Courtney</td><td>USA</td><td>9.350</td><td>9.637</td><td>9.550</td><td>9.400</td><td>37.937</td></tr>
<tr class="one"><td>8</td><td>BHARDWAJ Mohini</td><td>USA</td><td>9.337</td><td><i>9.487</i></td><td>9.350</td><td>9.525</td><td>37.699</td></tr>
<tr class="two"><td>13</td><td>McCOOL Courtney</td><td>USA</td><td>9.350</td><td>9.575</td><td><i>9.112</i></td><td>9.250</td><td>37.287</td></tr>
<tr class="one"><td>67</td><td>HUMPHREY Terin</td><td>USA</td><td><td>9.625</td><td>9.512</td><td><i>9.225</i></td><td>28.362</td></tr>
<tr class="two"><td>94</td><td>HATCH Annia</td><td>USA</td><td>9.387</td><td></td><td></td><td><td>9.387</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
<tr class="team"><td>3</td><td>China</td><td>CHN</td><td>37.199  <sup>6</sup></td><td>38.500  <sup>1</sup></td><td>37.849  <sup>3</sup></td><td>37.537	 <sup>6</sup></td><td>151.085	Q</td></tr>
<tr class="one"><td>6</td><td>ZHANG Nan</td><td>CHN</td><td>9.287</td><td>9.525</td><td>9.550</td><td>9.437</td><td>37.799</td></tr>
<tr class="two"><td>9</td><td>WANG Tiantian</td><td>CHN</td><td>9.400</td><td><i>9.512</i></td><td>9.262</td><td>9.475</td><td>37.649</td></tr>
<tr class="one"><td>65</td><td>LI Ya</td><td>CHN</td><td>9.137</td><td>9.675</td><td>9.600</td><td><td>28.412</td></tr>
<tr class="two"><td>70</td><td>FAN Ye</td><td>CHN</td><td><td>9.600</td><td>9.437</td><td>8.975</td><td>28.012</td></tr>
<tr class="one"><td>72</td><td>CHENG Fei</td><td>CHN</td><td>9.375</td><td><td><i>8.925</i></td><td>9.650</td><td>27.950</td></tr>
<tr class="two"><td>78</td><td>LIN Li</td><td>CHN</td><td><i>8.937</i></td><td>9.700</td><td><td><i>8.600</i></td><td>27.237</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
<tr class="team"><td>4</td><td>Russia</td><td>RUS</td><td>37.786	 <sup>2</sup></td><td>37.612  <sup>7</sup></td><td>37.298  <sup>4</sup></td><td>36.724  <sup>9</sup></td><td>149.420	Q</td></tr>
<tr class="one"><td>5</td><td>KHORKINA Svetlana</td><td>RUS</td><td>9.512</td><td>9.750</td><td>9.137</td><td>9.437</td><td>37.836</td></tr>
<tr class="two"><td>7</td><td>PAVLOVA Anna</td><td>RUS</td><td>9.437</td><td>9.237</td><td>9.637</td><td>9.400</td><td>37.711</td></tr>
<tr class="one"><td>20</td><td>ZAMOLODCHIKOVA Elena</td><td>RUS</td><td>9.462</td><td>9.150</td><td>9.062</td><td>9.200</td><td>36.874</td></tr>
<tr class="two"><td>35</td><td>ZIGANCHINA Natalia</td><td>RUS</td><td>9.375</td><td><i>9.087</i></td><td><i>8.962</i></td><td>8.687</td><td>36.111</td></tr>
<tr class="one"><td>85</td><td>EZHOVA Liudmila</td><td>RUS</td><td><td>9.475</td><td>9.462</td><td><td>18.937</td></tr>
<tr class="two"><td>92</td><td>KRIOUTCHKOVA Maria</td><td>RUS</td><td><i>9.200</i></td><td></td><td><td><i>7.975</i></td><td>17.175</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
</table>
</div>

<!--05-->
<h2 class="wom">Team Qualification Women - 2004 Aug 15</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="30" align="center">
	<colgroup span=1 width="200">
	<colgroup span=6 align="center" width="80">
<tr class="wom">
	<th colspan=3>Team</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="team"><td>5</td><td>Ukraine</td><td>UKR</td><td>37.461  <sup>4</sup></td><td>36.699  <sup>11</sup></td><td>36.874	 <sup>6</sup></td><td>37.874  <sup>2</sup></td><td>148.908	Q</td></tr>
<tr class="one"><td>10</td><td>KOZICH Alina</td><td>UKR</td><td>9.387</td><td>9.237</td><td>9.300</td><td>9.562</td><td>37.486</td></tr>
<tr class="one"><td>15</td><td>YAROTSKA Irina</td><td>UKR</td><td>9.262</td><td>9.037</td><td>9.475</td><td>9.375</td><td>37.149</td></tr>
<tr class="one"><td>21</td><td>KVASHA Alona</td><td>UKR</td><td>9.412</td><td>8.850</td><td>8.987</td><td>9.462</td><td>36.711</td></tr>
<tr class="one"><td>49</td><td>AKHUNU Mirabella</td><td>UKR</td><td><i>9.237</i></td><td><i>8.187</i></td><td><i>8.350</i></td><td>9.475</td><td>35.249</td></tr>
<tr class="one"><td>86</td><td>KRASNYNSKA Irina</td><td>UKR</td><td><td>9.575</td><td>9.112</td><td><td>18.687</td></tr>
<tr class="one"><td>88</td><td>SHERBATYKH Olga</td><td>UKR</td><td>9.400</td><td></td><td><td><i>9.087</i></td><td>18.487</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
<tr class="team"><td>6</td><td>France</td><td>FRA</td><td>37.262  <sup>5</sup></td><td>38.049  <sup>3</sup></td><td>36.424  <sup>7</sup></td><td>37.024  <sup>7</sup></td><td>148.759 Q</td></tr>
<tr class="two"><td>11</td><td>EBAUVE Marine</td><td>FRA</td><td>9.150</td><td>9.500</td><td>9.425</td><td>9.362</td><td>37.437</td></tr>
<tr class="two"><td>12</td><td>LEPENNEC Emilie</td><td>FRA</td><td>9.325</td><td>9.662</td><td>8.900</td><td>9.425</td><td>37.312</td></tr>
<tr class="two"><td>39</td><td>CHAOUCH Soraya</td><td>FRA</td><td><i>9.125</i></td><td>9.550</td><td>8.962</td><td><i>8.200</i></td><td>35.837</td></tr>
<tr class="two"><td>76</td><td>SEVERINO Isabelle</td><td>FRA</td><td>9.337</td><td><i>9.137</i></td><td><td>9.175</td><td>27.649</td></tr>
<tr class="two"><td>79</td><td>CHACON Coralie</td><td>FRA</td><td>9.450</td><td><td><i>8.650</i></td><td>9.062</td><td>27.162</td></tr>
<tr class="two"><td>89</td><td>SCHMUTZ Camille</td><td>FRA</td><td><td>9.337</td><td>9.137</td><td><td>18.474</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
<tr class="team"><td>7</td><td>Spain</td><td>ESP</td><td>36.899  <sup>9</sup></td><td>37.925  <sup>4</sup></td><td>35.486  <sup>11</sup></td><td>37.611  <sup>4</sup></td><td>147.921 Q</td></tr>
<tr class="one"><td>18</td><td>GOMEZ Elena</td><td>ESP</td><td>9.212</td><td>9.525</td><td>8.737</td><td>9.500</td><td>36.974</td></tr>
<tr class="one"><td>37</td><td>MORENO Patricia</td><td>ESP</td><td>9.162</td><td>9.375</td><td><i>7.850</i></td><td>9.587</td><td>35.974</td></tr>
<tr class="one"><td>71</td><td>GENER Tania</td><td>ESP</td><td>9.300</td><td>9.575</td><td><td>9.112</td><td>27.987</td></tr>
<tr class="one"><td>75</td><td>MESALLES Monica</td><td>ESP</td><td>9.225</td><td><td>9.037</td><td>9.412</td><td>27.674</td></tr>
<tr class="one"><td>82</td><td>CAMPOS Laura</td><td>ESP</td><td><i>8.725</i></td><td><i>9.262</i></td><td>8.225</td><td><td>26.212</td></tr>
<tr class="one"><td>84</td><td>MORO Sara</td><td>ESP</td><td><td>9.450</td><td>9.487</td><td><td>18.937</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
<tr class="team"><td>8</td><td>Australia</td><td>AUS</td><td>36.574  <sup>12</sup></td><td>37.461  <sup>8</sup></td><td>36.948  <sup>5</sup></td><td>36.436  <sup>11</sup></td><td>147.419	Q</td></tr>
<tr class="two"><td>17</td><td>SLATER Allana</td><td>AUS</td><td>9.212</td><td><i>8.875</i></td><td>9.587</td><td>9.337</td><td>37.011</td></tr>
<tr class="two"><td>25</td><td>RUSSO Monette</td><td>AUS</td><td>9.050</td><td>9.437</td><td>8.887</td><td>9.062</td><td>36.436</td></tr>
<tr class="two"><td>31</td><td>MOORHOUSE Stephanie</td><td>AUS</td><td><i>8.875</i></td><td>9.337</td><td>9.162</td><td>8.850</td><td>36.224</td></tr>
<tr class="two"><td>73</td><td>MUNRO Melissa</td><td>AUS</td><td>9.225</td><td><td>9.312</td><td>9.187</td><td>27.724</td></tr>
<tr class="two"><td>80</td><td>NGUYEN Karen</td><td>AUS</td><td>9.087</td><td>9.300</td><td><td><i>8.725</i></td><td>27.112</td></tr>
<tr class="two"><td>90</td><td>SKINNER Lisa</td><td>AUS</td><td><td>9.387</td><td><i>8.700</i></td><td><td>18.087</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
</table>
</div>

<h2 class="wom">Team Qualification Women - 2004 Aug 15</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="30" align="center">
	<colgroup span=1 width="200">
	<colgroup span=6 align="center" width="80">
<tr class="wom">
	<th colspan=3>Team</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="team"><td>9</td><td>Brazil</td><td>BRA</td><td>36.924  <sup>8</sup></td><td>37.162  <sup>9</sup></td><td>36.261  <sup>8</sup></td><td>36.998  <sup>8</sup></td><td>147.345</td></tr>
<tr class="one"><td>16</td><td>HYPOLITO Daniele</td><td>BRA</td><td><i>8.987</i></td><td>9.575</td><td>9.337</td><td>9.187</td><td>37.086</td></tr>
<tr class="one"><td>26</td><td>COMIN Camila</td><td>BRA</td><td>9.200</td><td>9.412</td><td>8.662</td><td>9.137</td><td>36.411</td></tr>
<tr class="one"><td>27</td><td>RODRIGUES Ana Paula</td><td>BRA</td><td>9.087</td><td>9.375</td><td>8.887</td><td>9.037</td><td>36.386</td></tr>
<tr class="one"><td>34</td><td>SOUZA Lais</td><td>BRA</td><td>9.387</td><td><i>8.762</i></td><td>9.375</td><td><i>8.675</i></td><td>36.199</td></tr>
<tr class="one"><td>74</td><td>dos SANTOS Daiane</td><td>BRA</td><td>9.250</td><td>8.800</td><td><td>9.637</td><td>27.687</td></tr>
<tr class="one"><td>98</td><td>MOLINARI Caroline</td><td>BRA</td><td></td><td><td><i>7.512</i></td><td><td>7.512</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
<tr class="team"><td>10</td><td>Canada</td><td>CAN</td><td>36.749  <sup>10</sup></td><td>36.912  <sup>10</sup></td><td>35.675  <sup>10</sup></td><td>37.611  <sup>4</sup></td><td>146.947</td></tr>
<tr class="two"><td>14</td><td>RICHARDSON Kate</td><td>CAN</td><td>9.212</td><td>9.275</td><td>9.175</td><td>9.562</td><td>37.224</td></tr>
<tr class="two"><td>22</td><td>BANVILLE Melanie</td><td>CAN</td><td>9.200</td><td>9.062</td><td>9.025</td><td>9.362</td><td>36.649</td></tr>
<tr class="two"><td>38</td><td>PLANTE Amelie</td><td>CAN</td><td><i>9.112</i></td><td>9.475</td><td><i>8.075</i></td><td>9.287</td><td>35.949</td></tr>
<tr class="two"><td>40</td><td>PURNELL Heather Mary</td><td>CAN</td><td>9.200</td><td><i>8.712</i></td><td>8.500</td><td>9.400</td><td>35.812</td></tr>
<tr class="two"><td>81</td><td>STONE Kylie</td><td>CAN</td><td>9.137</td><td><td>8.975</td><td><i>8.912</i></td><td>27.024</td></tr>
<tr class="two"><td>95</td><td>MACKIE Gael</td><td>CAN</td><td><td>9.100</td><td></td><td><td>9.100</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
<tr class="team"><td>11</td><td>Great Britain</td><td>GBR</td><td>36.724 <sup>11</sup></td><td>36.449 <sup>12</sup></td><td>35.937 <sup>9</sup></td><td>36.687 <sup>10</sup></td><td>145.797</td></tr>
<tr class="one"><td>19</td><td>TWEDDLE Elizabeth</td><td>GBR</td><td><i>9.012</i></td><td>9.575</td><td>9.025</td><td>9.300</td><td>36.912</td></tr>
<tr class="one"><td>28</td><td>LENNON Katy</td><td>GBR</td><td>9.237</td><td>8.850</td><td>9.025</td><td>9.125</td><td>36.237</td></tr>
<tr class="one"><td>44</td><td>HOBBS Vanessa</td><td>GBR</td><td>9.237</td><td><i>8.437</i></td><td>8.937</td><td>9.087</td><td>35.698</td></tr>
<tr class="one"><td>53</td><td>WILLIS Nicola</td><td>GBR</td><td>9.025</td><td>8.937</td><td><i>7.625</i></td><td>9.175</td><td>34.762</td></tr>
<tr class="one"><td>77</td><td>FENNELL Cherrelle</td><td>GBR</td><td>9.225</td><td>9.087</td><td><td><i>9.012</i></td><td>27.324</td></tr>
<tr class="one"><td>96</td><td>LINE Elizabeth</td><td>GBR</td><td></td><td><td>8.950</td><td><td>8.950</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
<tr class="team"><td>12</td><td>Korea D.P.R.</td><td>PRK</td><td>37.037 <sup>7</sup></td><td>37.812 <sup>5</sup></td><td>34.286 <sup>12</sup></td><td>35.237 <sup>12</sup></td><td>144.372</td></tr>
<tr class="two"><td>23</td><td>PYON Kwang Sun</td><td>PRK</td><td>9.200</td><td>9.600</td><td>9.062</td><td>8.650</td><td>36.512</td></tr>
<tr class="two"><td>36</td><td>KIM Un Jong</td><td>PRK</td><td>9.125</td><td>9.475</td><td>8.412</td><td>9.050</td><td>36.062</td></tr>
<tr class="two"><td>50</td><td>HONG Su Jong</td><td>PRK</td><td>9.075</td><td>9.200</td><td>8.212</td><td><i>8.475</i></td><td>34.962</td></tr>
<tr class="two"><td>52</td><td>RI Hae Yon</td><td>PRK</td><td><i>8.762</i></td><td><i>8.862</i></td><td>8.600</td><td><i>8.687</i></td><td>34.911</td></tr>
<tr class="two"><td>87</td><td>KANG Yun Mi</td><td>PRK</td><td>9.637</td><td></td><td><td>8.850</td><td>18.487</td></tr>
<tr class="two"><td>91</td><td>HAN Jong Ok</td><td>PRK</td><td><td>9.537</td><td><i>8.000</i></td><td><td>17.537</td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan=8></td></tr>
</table>
</div>
