---
title: "13th FIG World Challenge Cup Koper"
year: 2017
startdate: 2017-05-12
enddate: 2017-05-14
country: "SLO"
category: "world-challenge-cup"
layout: results
redirect_from: /2017/eu/slo/world-challenge-cup-koper.html
---

{% include resultsheader.html title="13th FIG World Challenge Cup<br>Koper (SLO)<br>2017 May 12-14" %}

<img src="images/logo.jpg" alt="13th FIG World Challenge Cup Koper (SLO) 2017 May 12-14">
<h2 class="men">Apparatus Finals Men Day 2</h2>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horisontal Bar Final Men</a>
<h2 class="wom">Apparatus Finals Women Day 2</h2>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<h2 class="men">Apparatus Finals Men Day 1</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Final Men</a>
<h2 class="wom">Apparatus Finals Women Day 1</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
<h2 class="men">Qualification Men</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<!--WAG Qual-->
<h2 class="wom">Women Qualification</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>

<br><img src="images/bonifika2.jpg" alt="13th FIG World Challenge Cup Koper (SLO) 2017 May 12-14">