---
title: "2019 European Men's and Women's Artistic Gymnastics Championships Szczecin"
year: 2019
startdate: 2019-04-14
enddate: 2019-04-10
country: "POL"
category: "euros"
layout: results
---

{% include resultsheader.html title="2019 European Men&rsquo;s and Women&rsquo;s Artistic Gymnastics Championships<br>Szczecin (POL)<br>2019 April 10-14" %}

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<img src="images/wagbb.jpg" alt="women's beam podium"><br>
	<img src="images/wagfx.jpg" alt="women's floor exercise podium"><br>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Alica Kinsella (GBR)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Melanie De Jesus Dos Santos (FRA)</li>
	</ul>
	<br>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>
<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<img src="images/magvt.jpg" alt="men's vault podium"><br>
	<img src="images/magpb.jpg" alt="men's parallel bars podium"><br>
	<img src="images/maghb.jpg" alt="men's high bar podium"><br>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Denis Abliazin (RUS)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Nikita Nagornyy (RUS)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Epke Zonderland (NED)</li>
	</ul>
	<br>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>
<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<img src="images/wagvt.jpg" alt="women's vault podium"><br>
	<img src="images/wagub.jpg" alt="women's bars podium"><br>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Maria Paseka (RUS)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Anastasiia Iliankova (RUS)</li>
	</ul>
	<br>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>
<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<img src="images/magfx.jpg" alt="men's floor podium"><br>
	<img src="images/magph.jpg" alt="men's pommel horse podium"><br>
	<img src="images/magsr.jpg" alt="men's rings podium"><br>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Artur Dalaloyan (RUS)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Max Whitlock (GBR)</li>
		<li><b>Rings</b> 🥇Gold - Denis Abliazin (RUS)</li>
	</ul>
	<br>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>
<h2 class="wom">Results All-Around Final Women</h2>
	<img src="images/wagaa.jpg" alt="All-around women's podium"><br>
	<ul class="podium-list">
		<li>🥇Gold - Melanie De Jesus Dos Santos (FRA)</li>
		<li>🥈Silver - Elissa Downie (GBR)</li>
		<li>🥉Bronze - Angelina Melnikova (RUS)</li>
	</ul>
	<br>
	<a href="documents/wagaaf.pdf" target="_blank" class="pdf">Results All-Around Final Women</a>
<h2 class="men">Results All-Around Final Men</h2>
	<img src="images/magaa.jpg" alt="All-around men's podium"><br>
	<ul class="podium-list">
		<li>🥇Gold - Nikita Nagornyy (RUS)</li>
		<li>🥈Silver - Artur Dalaloyan (RUS)</li>
		<li>🥉Bronze - Marios Georgiou (CYP)</li>
	</ul>
	<br>
	<a href="documents/magaaf.pdf" target="_blank" class="pdf">Results All-Around Final Men</a>
<h2 class="wom">Results Qualification Women</h2>
	<a href="documents/wagqaa.pdf" target="_blank" class="pdf">All Around Qualification Women</a>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magqaa.pdf" target="_blank" class="pdf">All-Around Qualification Men</a>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
