---
title: "7th European Men's and Women's Artistic Gymnastics Championships Cluj Napoca"
year: 2017
startdate: 2017-04-19
enddate: 2017-04-23
country: "ROU"
category: "euros"
layout: results
redirect_from: /euro/2017/european-championships.html
---

{% include resultsheader.html title="7th European Men&rsquo;s and Women&rsquo;s Artistic Gymnastics Championships<br>Cluj Napoca (ROU)<br>2017 April 19-23" %}

<img src="images/logo2.jpg" alt="7th European Men&rsquo;s and Women&rsquo;s Artistic Gymnastics Championships Cluj Napoca (ROU) 2017 April 19-23">
<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>
<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>
<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>
<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>
<h2 class="wom">Results All-Around Final Women</h2>
	<img src="images/wagaa.jpg" alt="All-around women's podium"><br>
	<a href="documents/wagaaf.pdf" target="_blank" class="pdf">Results All-Around Final Women</a>
<h2 class="men">Results All-Around Final Men</h2>
	<img src="images/magaa.jpg" alt="All-around men's podium"><br>
	<a href="documents/magaaf.pdf" target="_blank" class="pdf">Results All-Around Final Men</a>
<h2 class="wom">Result Qualification Women</h2>
	<a href="documents/wagqaa.pdf" target="_blank" class="pdf">All Around Qualification Women</a>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magqaa.pdf" target="_blank" class="pdf">All-Around Qualification Men</a>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<h2 class="men">Information Men</h2>
	<a href="documents/magqdraw.pdf" target="_blank" class="pdf">Drawing of Lots Men Qualification</a>
	<a href="documents/magafdraw.pdf" target="_blank" class="pdf">Drawing of Lots Men Apparatus Finals</a>
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
<h2 class="wom">Information Women</h2>
	<a href="documents/wagqdraw.pdf" target="_blank" class="pdf">Drawing of Lots Women Qualification</a>
	<a href="documents/wagafdraw.pdf" target="_blank" class="pdf">Drawing of Lots Women Apparatus Finals</a>
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
<br>
<img src="images/polivalenta.jpg" alt="7th European Men&rsquo;s and Women&rsquo;s Artistic Gymnastics Championships Cluj Napoca (ROU) 2017 April 19-23">
<br>
<img src="images/polivalenta2.jpg" alt="7th European Men&rsquo;s and Women&rsquo;s Artistic Gymnastics Championships Cluj Napoca (ROU) 2017 April 19-23">
