---
title: "Nordic Championship 2016 Reykjavik"
year: 2016
startdate: 2016-05-07
enddate: 2016-05-08
country: "ISL"
category: "nordic-championships"
layout: results
redirect_from: /2016/eu/isl/nordic-championship-2016.html
---

{% include resultsheader.html title="Nordic Championship 2016<br>Nordurlandamot i ahaldafimleikum<br> Reykjavik (ISL)<br> 2016 May 7-8" %}

<img src="images/logo.jpg" alt="Nordic Championship 2016 Reykjavik (ISL) 2016 May 7-8">
<h2 class="men">Results Men All-Around</h2>
	<a href="documents/magsenaa.pdf" target="_blank" class="pdf">All-Around Men Senior</a>
	<a href="documents/magjunaa.pdf" target="_blank" class="pdf">All-Around Men Junior</a>
<h2 class="wom">Results Women All-Around</h2>
	<a href="documents/wagsenaa.pdf" target="_blank" class="pdf">All-Around Women Senior</a>
	<a href="documents/wagjunaa.pdf" target="_blank" class="pdf">All-Around Women Junior</a>
<h2 class="men">Results Senior Men Event Finals</h2>
	<img src="documents/magsen/af1fx.jpg" alt="Senior Men Floor Final"><br>
	<img src="documents/magsen/af2ph.jpg" alt="Senior Men Pommel Final"><br>
	<img src="documents/magsen/af3sr.jpg" alt="Senior Men Vault Final"><br>
	<img src="documents/magsen/af4vt.jpg" alt="Senior Men Rings Final"><br>
	<img src="documents/magsen/af5pb.jpg" alt="Senior Men Parallel Bars Final"><br>
	<img src="documents/magsen/af6hb.jpg" alt="Senior Men Horizontal Bar Final"><br>

<h2 class="men">Results Junior Men Event Finals</h2>
	<a href="documents/magjun/af.pdf" target="_blank" class="pdf">Event Finals Men Junior</a>
	<img src="documents/magjun/af1fx.jpg" alt="Junior Men Floor Final"><br>
	<img src="documents/magjun/af2ph.jpg" alt="Junior Men Pommel Final"><br>
	<img src="documents/magjun/af3sr.jpg" alt="Junior Men Vault Final"><br>
	<img src="documents/magjun/af4vt.jpg" alt="Junior Men Rings Final"><br>
	<img src="documents/magjun/af5pb.jpg" alt="Junior Men Parallel Bars Final"><br>
	<img src="documents/magjun/af6hb.jpg" alt="Junior Men Horizontal Bar Final"><br>

<br>
<img src="images/logo3.jpg" alt="Nordic Championship 2016 Reykjavik (ISL) 2016 May 7-8">