---
title: "2016 U.S. Women's Olympic Trials San Jose, CA"
year: 2016
startdate: 2016-07-08
enddate: 2016-07-10
country: "USA"
category: "olympic-trials"
layout: results
redirect_from: /2016/usa/olympic-team-trials-women.html
---

{% include resultsheader.html title="2016 U.S. Women's Olympic Trials<br>San Jose, CA (USA)<br>2016 July 8-10" %}

<img src="images/wagtrials.jpg" alt="2016 Women&rsquo;s Olympic Trials San Jose, CA (USA) 2016 July 8-10">
<h2 class="wom">Day 2</h2>

<img src="images/wagteam.jpg" alt="US Olympic Team Artistic Gymnastics Women">
<br>
<div style="padding-left:16px;">
	<b>2016 U.S. Women&rsquo;s Olympic Gymnastics Team</b><br>
	<ul>
	<li>Simone Biles</li>
	<li>Aly Raisman</li>
	<li>Gabby Douglas</li>
	<li>Laurie Hernandez</li>
	<li>Madison Kocian</li>
	</ul>
	<b>The alternates</b><br>
	<ul>
	<li>MyKayla Skinner</li>
	<li>Ragan Smith</li>
	<li>Ashton Locklear</li>
	</ul>
</div>	
	<a href="documents/wagday2.pdf" target="_blank" class="pdf">Results All-Around</a>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Results Vault</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Results Uneven Bars</a>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Results Beam</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Results Floor Exercise</a><br>
	<a href="documents/wagday2sl.pdf" target="_blank" class="pdf">Start List Day 2</a>
<h2 class="wom">Results Day 1</h2>
	<a href="documents/wagday1.pdf" target="_blank" class="pdf">Results Day 1</a>
	<br>
<img src="images/sapcenter.jpg" alt="2016 Women&rsquo;s Olympic Trials San Jose, CA (USA) 2016 July 8-10">