---
title: "Tokyo Olympic Games 2020 Qualification"
country: "JPN"
layout: results
year: 2020
homepage: false
---

{% include resultsheader.html title="Tokyo Olympic Games 2020 Qualification" %}
 
<img src="logo.png" width="300px" alt="Tokyo 2020 Logo">

<p>There are a number of different ways for artistic gymnasts to qualify for the 2020 Olympics Games in Tokyo, Japan. Countries may qualify a team of 4 athletes, and up to 2 additional individual places, or up to 7 individual places are available without a team.</p> 
<p>Here we will break down the different ways, and as those places are decided we will update the page with who has qualified.</p>

<h2 class="men">Official FIG Documents</h2>

<a href="documents/mag-qual-2021.pdf" target="_blank" class="pdf">MAG Olympic Qualifiers - Updated June 2021</a>
<a href="documents/wag-qual-2021.pdf" target="_blank" class="pdf">WAG Olympic Qualifiers - Updated June 2021</a>
<a href="documents/rg-qual.pdf" target="_blank" class="pdf">Rhythmic Gymnastics Olympic Qualifiers - Updated June 2021</a>
<a href="documents/trampoline-qual.pdf" target="_blank" class="pdf">Trampoline Gymnastics Olympic Qualifiers - Updated June 2021</a>
<br>
<a href="documents/fig-qual-updated.pdf" target="_blank" class="pdf">2020 Olympic Qualification System - March 2021 Update</a>
<a href="documents/fig-qual-2020.pdf" target="_blank" class="pdf">2020 Olympic Qualification System</a>
<a href="documents/fig-qual-faq.pdf" target="_blank" class="pdf">2020 Olympic Qualification FAQs</a>
<a href="documents/fig-tiebreaking.pdf" target="_blank" class="pdf">2020 Olympic Qualification Tiebreaking Rules</a>
<br>
<a href="documents/qualifiers-after-2019-wag.pdf" target="_blank" class="pdf">WAG Olympic Qualifiers after 2019 Worlds</a>
<a href="documents/qualifiers-after-2019-mag.pdf" target="_blank" class="pdf">MAG Olympic Qualifiers after 2019 Worlds</a>
<br>
<a href="documents/2020wagapparatusqual6of8.pdf" target="_blank" class="pdf">WAG Apparatus Standings after 6 of 8 competitions</a>
<a href="documents/2020magapparatusqual6of8.pdf" target="_blank" class="pdf">MAG Apparatus Standings after 6 of 8 competitions</a>


<h2 class="wom">Criteria 1: 2018 World Championships – Team Final</h2>

<p>The top 3 teams in the team final at the 2018 World Championships qualify a four person team place for the Olympics.</p>

<p>The teams that qualified were:</p>

<h3 class="left">Men</h3>
<ul>
    <li>China</li>
    <li>Russia</li>
    <li>Japan</li>
</ul>

<h3 class="left">Women</h3>
<ul>
    <li>USA</li>
    <li>Russia</li>
    <li>China</li>
</ul>

<h2 class="wom">Criteria 2: 2019 World Championships – Team Qualification</h2>

<p>The highest ranked 9 teams from the 2019 World Championships qualification round, not including the 3 teams already qualified from the 2018 World Championships, each qualify a four person team place for the Olympics. 
</p>

<p>The teams that qualified were:</p>

<h3 class="left">Men</h3>
<ul>
    <li>Ukraine</li>
    <li>Great Britain</li>
    <li>Switzerland</li>
    <li>USA</li>
    <li>Chinese Taipei</li>
    <li>Republic of Korea</li>
    <li>Brazil</li>
    <li>Spain</li>
    <li>Germany</li>
</ul>

<h3 class="left">Women</h3>
<ul>
    <li>France</li>
    <li>Canada</li>
    <li>Netherlands</li>
    <li>Great Britain</li>
    <li>Italy</li>
    <li>Germany</li>
    <li>Belgium</li>
    <li>Japan</li>
    <li>Spain</li>
</ul>

<h2 class="men">Criteria 3: 2019 World Championships – All-Around Qualification Athletes</h2>

<p>Based on the qualification results from the 2018 World Championships, the top 12 men and 20 women in the all-around standings who are NOT from a country that have already qualified a team place are awarded an individual qualification place.</p>

<p>This is limited to one athlete per country, and is allocated to the athlete by name and not to their country.</p>

<p>Any unused places from Criteria 4 are then given to the next highest ranked all-around qualifiers.</p>

<p>You can see the list of gymnasts who qualified from Criteria 3 in the 'Olympic Qualifiers after 2019 Worlds' documents above.</p>

<h2 class="wom">Criteria 4: 2019 World Championships – Individual Apparatus Final Athletes</h2>

<p>If an athlete qualifies to an Apparatus Final at the 2019 World Championships, is NOT part of a team that has already qualified a team place, and has NOT qualified through the all-around rankings in Criteria 3, they are eligible to compete for an Olympic Qualification place in the Apparatus Final.
</p>

<p>The top 3 ranked gymnasts from the results of the Apparatus Final who meet the eligibility criteria just mentioned qualify a place for the Olympics. This place is allocated to the athlete by name and not to their country. Up to 3 athletes per country may qualify in this way - see the tie breaking rules document for more information. 
</p>

<p>Any unused places from Criteria 4 are then given to the next highest ranked all-around qualifiers (as per Criteria 3).</p>

<p>Note: At the Olympic Games these athletes may participate in Qualifications at all apparatus.</p>

<p>The athletes who qualified were:</p>
    
<h3 class="left">Men</h3>
<ul>
    <li><b>Floor:</b> Artem Dolgopyat (ISR)</li>
    <li><b>Pommel Horse:</b> Rhys McClenaghan (IRL), Cyril Tommasone (FRA)</li>
    <li><b>Rings:</b> Ibrahim Colak (TUR), Marco Lodadio (ITA), Samir Ait Said (FRA)</li>
    <li><b>Vault:</b> Marian Dragulescu (ROU), Le Thanh Tung (VIE), Shek Wai Hung (HKG)</li>
    <li><b>Parallel Bars:</b> Ahmet Onder (TUR)</li>
    <li><b>Horizontal Bar:</b> Tin Srbic (CRO), Tyson Bull (AUS)</li>
</ul>

<h3 class="left">Women</h3>
<ul>
    <li><b>Vault:</b> Yeo Seojeong (KOR)</li>
</ul>

<h2 class="men">Criteria 5: 2018/2019 and 2019/2020 Individual Apparatus World Cup Series</h2>

<p>Eight Individual Apparatus World Cup competitions will be held between November 2018 and March 2020, with the three highest results per athlete per apparatus being taken into consideration.</p>

<p>All countries may send up to two athletes per apparatus to these competitions.</p>

<p>Athletes who competed for their team when their team gained a team qualfication place, either at 2018 or 2019 World Championships, or athletes who already qualified themselves a spot individually through Criteria 3 or 4, may take part but are not eligible to earn an additional place for their team.</p>

<p>The top ranked gymnast on each apparatus after the series concludes qualifies a place for the Olympics. This place is allocated to the athlete by name and not to their country.</p>

<p>Only one athlete per country may qualify through this criteria - see the tie breaking rules for more information.</p>

<p>Note: At the Olympic Games these athletes may participate in Qualifications at all apparatus, but may not compete as part of a team.</p>

<p>The athletes who qualified were:</p>

<h3 class="left">Men</h3>
<ul>
    <li><b>Floor:</b> Rayderley Zapata (ESP)</li>
    <li><b>Pommel Horse:</b> Kameyama Kohei (JPN)</li>
    <li><b>Rings:</b> Eleftherios Petrounias (GRE)</li>
    <li><b>Vault:</b> Shin Jeahwan (KOR)</li>
    <li><b>Parallel Bars:</b> You Hao (CHN)</li>
    <li><b>Horizontal Bar:</b> Epke Zonderland (NED)</li>
</ul>

<h3 class="left">Women</h3>
<ul>
    <li><b>Vault:</b> Jade Carey (USA)</li>
    <li><b>Uneven Bars:</b> Fan Yilin (CHN)</li>
    <li><b>Balance Beam:</b> Urara Ashikawa (JPN)</li>
    <li><b>Floor:</b> Vanessa Ferrari (ITA)</li>
</ul>
<br>

<a href="documents/2020wagapparatusqual6of8.pdf" target="_blank" class="pdf">WAG Apparatus Standings after 6 of 8 competitions</a>
<a href="documents/2020magapparatusqual6of8.pdf" target="_blank" class="pdf">MAG Apparatus Standings after 6 of 8 competitions</a>

<h2 class="wom">Criteria 6: 2020 Individual All-Around World Cup Series</h2>

<p>The 12 highest ranked teams of the 2019 World Championships will be invited to take part in the 2020 All-Around World Cup Series. One athlete per country will take part in each competition, and the athletes can be different for each competition. No athletes are excluded from taking part based on any previous criteria.</p>
 
<p>At the end of the series, the highest ranked 3 countries (3 for men and 3 for women) will qualify a place for the Olympics - this is for the country, not for any particular athlete who took part.</p>

<p>Whichever athlete the country decides to send to use this place my participate in all apparatus in the 2020 Qualification round, but may not compete as part of the team.</p>

<p>Countries invited to the All-Around World Cup Series:</p>

<ul>
    <li><b>Men:</b> CHN, RUS, JPN, URK, GBR, SUI, USA, TPE, KOR, BRA, ESP, GER</li>
    <li><b>Women:</b> USA, RUS, CHN, FRA, CAN, NED, GBR, ITA, GER, BEL, JPN, ESP</li>
</ul>

<p><span style="color: #DE3163; font-weight: bold">The All-Around World Cup series had to be cancelled due to COVID-19 concerns. These places were therefore reallocated to countries based on the team qualification at the 2019 World Championships:</span></p>

<p>Qualified places from Criteria 6:</p>

<ul>
    <li><b>Men:</b> CHN, RUS, JPN</li>
    <li><b>Women:</b> USA, RUS, CHN</li>
</ul>

<h2 class="men">Criteria 7: 2020 Continental Championships</h2>

<p>Any country that has already qualified a team place, plus two additional individual places through Criteria 5 and 6, may take part but is not eligible to earn an additional place at the Continental Championships.</p>

<p>Any athlete that competed for their team when the team gained a qualification place may take part but is not eligible to earn a place.</p>

<p>Based on the results of the All-Around Final, countries may gain extra individual places for the Olympics. These are given to the country, not to the specific athlete who earned the place. There are two places available to be earned at all of the Continental Championships except for the Oceania Continental Championships, which has one place available.</p>

<h3 class="left">European Championsips</h3>
<ul>
    <li>Men: Adem Asil (TUR), Russia (non-nominative, earned by Aleksandr Kartsev)</li>
    <li>Women: Larisa Iordache (ROM), Russia (non-nominative, earned by Viktoria Listunova)</li>
</ul>

<h3 class="left">Pan American Championsips</h3>
<ul>
    <li>Men: Brazil (non-nominative, earned by Diogo Soares), USA (non-nominative, earned by Paul Juda)</li>
    <li>Women: Rebeca Andrade (BRA), Luciana Alvarado (CRC)</li>
</ul>

<h3 class="left">African Championsips</h3>
<ul>
    <li>Men: Omar Mohamed (EGY), Uche Eke (NGR)</li>
    <li>Women: Zeina Ibrahim (EGY), Naveen Daries (RSA)</li>
</ul>

<h3 class="left">Oceania Championsips</h3>
<ul>
    <li>Men: Mikhail Koudinov (NZL)</li>
    <li>Women: Emily Whitehead (AUS)</li>
</ul>

<p>The Asian Championships were cancelled and places were awarded to the next eligible all-arounders from Asia from the 2019 World Championship qualifications.</p>

<h2 class="wom">Host Country and Tripartite Places</h2>

<p>The host country, Japan, is guaranteed one male athlete and one female athlete, if not qualified through any other Criteria. As Japan qualified a team for both men and women, this place is reallocated to the next highest eligible all-arounder from the 2019 World Championships qualifications.</p>

<p>The International Olympic Committee Tripartite Commission may invite up to one male and one female gymnast to compete at the Olympics, based on choosing countries who have typically sent small delegations to the Olympics. If these places are not used, they will be reallocated to the next highest eligible all-arounder from the 2019 World Championships qualifications.</p>

<p>For MAG, the Tripartite place was given to Matvei Petrov of Albania.</p>


