---
title: "Games of the 31st Olympiad, Rio De Janeiro"
year: 2016
startdate: 2016-08-06
enddate: 2016-08-21
country: "BRA"
category: "olympics"
layout: results
redirect_from: /olympics/2016/rio.html
---

{% include resultsheader.html title="Games of the XXXI Olympiad<br>Rio De Janero 2016 Aug 6-21<br>Artistic Gymnastics Men and Women<br>Rhythmic Gymnastics<br>Trampoline" %}

<img src="images/olympicsrio.jpg" alt="olympic logo">
<h2 class="men">Apparatus Finals Day 3</h2>
<img src="images/mag/af6hb2.jpg" alt="Horizontal Bar Final Men Rio Olympics"><br>
	<a href="documents/mag/af6hb.pdf" target="_blank" class="pdf">Results Horizontal Bar Final Men</a><br>
<img src="images/wag/af4fx2.jpg" alt="Floor Exercise Final Women Rio Olympics"><br>
	<a href="documents/wag/af4fx.pdf" target="_blank" class="pdf">Results Floor Exercise Final Women</a><br>
<img src="images/mag/af5pb2.jpg" alt="Parallel Bars Final Men Rio Olympics"><br>
	<a href="documents/mag/af5pb.pdf" target="_blank" class="pdf">Results Parallel Bars Final Men</a>
<h2 class="wom">Apparatus Finals Day 2</h2>
<img src="images/wag/af3bb.jpg" alt="Beam Final Women Rio Olympics"><br>
	<a href="documents/wag/af3bb.pdf" target="_blank" class="pdf">Results Beam Final Women</a><br>
<img src="images/mag/af4vt2.jpg" alt="Vault Final MenRio Olympics"><br>
	<a href="documents/mag/af4vt.pdf" target="_blank" class="pdf">Results Vault Final Men</a><br>
<img src="images/mag/af3sr.jpg" alt="Rings Final Men Rio Olympics"><br>
	<a href="documents/mag/af3sr.pdf" target="_blank" class="pdf">Results Rings Final Men</a>
<h2 class="men">Apparatus Finals Day 1</h2>
<img src="images/wag/af2ub.jpg" alt="Uneven Bars Final Women"><br>
	<a href="documents/wag/af2ub.pdf" target="_blank" class="pdf">Results Uneven Bars Final Women</a><br>
<img src="images/mag/af2ph.jpg" alt="Pommel Horse Final Men"><br>
	<a href="documents/mag/af2ph.pdf" target="_blank" class="pdf">Results Pommel Horse Final Men</a><br>
<img src="images/wag/af1vt.jpg" alt="Vault Final Women"><br>
	<a href="documents/wag/af1vt.pdf" target="_blank" class="pdf">Results Vault Final Women</a><br>
<img src="images/mag/af1fx.jpg" alt="Floor Exercise Final Men"><br>
	<a href="documents/mag/af1fx.pdf" target="_blank" class="pdf">Results Floor Exercise Final Men</a>
<h2 class="wom">All-Around Final Women</h2>
<img src="images/wag/aafm.jpg" alt="All-Around Final Women Rio Olympics"><br>
	<a href="documents/wag/aafinal.pdf" target="_blank" class="pdf">Results All-Around Final Women</a>
<div class="table-scroll" tabindex="-1">
<table style="width:98%; text-align:center;">
<tr><td style="font-weight:bold; text-align:center;" colspan="4"><br>All-Around Final Women<br><br></th></tr>
<tr class="one"><td style="text-align:center;">1</td><td style="text-align:left;">Biles Simone</td><td style="text-align:center;">USA</td><td style="text-align:center;">15.866</td><td style="text-align:center;">14.966</td><td style="text-align:center;">15.433</td><td style="text-align:center;">15.933</td><td style="text-align:center;">62.198</td></tr>
<tr><td style="text-align:center;">2</td><td style="text-align:left;">Raisman Alexandra</td><td style="text-align:center;">USA</td><td style="text-align:center;">15.633</td><td style="text-align:center;">14.166</td><td style="text-align:center;">14.866</td><td style="text-align:center;">15.433</td><td style="text-align:center;">60.098</td></tr>
<tr class="one"><td style="text-align:center;">3</td><td style="text-align:left;">Mustafina Aliya</td><td style="text-align:center;">RUS</td><td style="text-align:center;">15.200</td><td style="text-align:center;">15.666</td><td style="text-align:center;">13.866</td><td style="text-align:center;">13.933</td><td style="text-align:center;">58.665</td></tr>
<tr><td style="text-align:center;">4</td><td style="text-align:left;">Shang Chunsong</td><td style="text-align:center;">CHN</td><td style="text-align:center;">13.883</td><td style="text-align:center;">15.233</td><td style="text-align:center;">14.833</td><td style="text-align:center;">14.600</td><td style="text-align:center;">58.549</td></tr>
<tr class="one"><td style="text-align:center;">5</td><td style="text-align:left;">Black Elsabeth</td><td style="text-align:center;">CAN</td><td style="text-align:center;">14.866</td><td style="text-align:center;">14.500</td><td style="text-align:center;">14.566</td><td style="text-align:center;">14.366</td><td style="text-align:center;">58.298</td></tr>
<tr><td style="text-align:center;">6</td><td style="text-align:left;">Wang Yan</td><td style="text-align:center;">CHN</td><td style="text-align:center;">14.733</td><td style="text-align:center;">13.733</td><td style="text-align:center;">14.666</td><td style="text-align:center;">14.900</td><td style="text-align:center;">58.032</td></tr>
<tr class="one"><td style="text-align:center;">7</td><td style="text-align:left;">Lopez Arocha Jessica Brizeida</td><td style="text-align:center;">VEN</td><td style="text-align:center;">14.833</td><td style="text-align:center;">15.100</td><td style="text-align:center;">13.800</td><td style="text-align:center;">14.233</td><td style="text-align:center;">57.966</td></tr>
<tr><td style="text-align:center;">8</td><td style="text-align:left;">Teramoto Asuka</td><td style="text-align:center;">JPN</td><td style="text-align:center;">15.100</td><td style="text-align:center;">14.566</td><td style="text-align:center;">14.266</td><td style="text-align:center;">14.033</td><td style="text-align:center;">57.965</td></tr>
<tr class="one"><td style="text-align:center;">9</td><td style="text-align:left;">Thorsdottir Eythora</td><td style="text-align:center;">NED</td><td style="text-align:center;">14.833</td><td style="text-align:center;">14.200</td><td style="text-align:center;">14.066</td><td style="text-align:center;">14.533</td><td style="text-align:center;">57.632</td></tr>
<tr><td style="text-align:center;">10</td><td style="text-align:left;">Steingruber Giulia</td><td style="text-align:center;">SUI</td><td style="text-align:center;">15.366</td><td style="text-align:center;">13.800</td><td style="text-align:center;">13.666</td><td style="text-align:center;">14.733</td><td style="text-align:center;">57.565</td></tr>
<tr class="one"><td style="text-align:center;">11</td><td style="text-align:left;">Andrade Rebeca</td><td style="text-align:center;">BRA</td><td style="text-align:center;">15.566</td><td style="text-align:center;">14.033</td><td style="text-align:center;">13.600</td><td style="text-align:center;">13.766</td><td style="text-align:center;">56.965</td></tr>
<tr><td style="text-align:center;">12</td><td style="text-align:left;">Ferlito Carlotta</td><td style="text-align:center;">ITA</td><td style="text-align:center;">14.733</td><td style="text-align:center;">14.100</td><td style="text-align:center;">14.000</td><td style="text-align:center;">14.125</td><td style="text-align:center;">56.958</td></tr>
<tr class="one"><td style="text-align:center;">13</td><td style="text-align:left;">Downie Elissa</td><td style="text-align:center;">GBR</td><td style="text-align:center;">15.100</td><td style="text-align:center;">13.783</td><td style="text-align:center;">13.700</td><td style="text-align:center;">14.300</td><td style="text-align:center;">56.883</td></tr>
<tr><td style="text-align:center;">14</td><td style="text-align:left;">Murakami Mai</td><td style="text-align:center;">JPN</td><td style="text-align:center;">14.866</td><td style="text-align:center;">13.766</td><td style="text-align:center;">13.900</td><td style="text-align:center;">14.133</td><td style="text-align:center;">56.665</td></tr>
<tr class="one"><td style="text-align:center;">15</td><td style="text-align:left;">Brevet Marine</td><td style="text-align:center;">FRA</td><td style="text-align:center;">14.166</td><td style="text-align:center;">14.300</td><td style="text-align:center;">14.133</td><td style="text-align:center;">14.000</td><td style="text-align:center;">56.599</td></tr>
<tr><td style="text-align:center;">16</td><td style="text-align:left;">Ferrari Vanessa</td><td style="text-align:center;">ITA</td><td style="text-align:center;">14.633</td><td style="text-align:center;">14.033</td><td style="text-align:center;">13.800</td><td style="text-align:center;">14.075</td><td style="text-align:center;">56.541</td></tr>
<tr class="one"><td style="text-align:center;">17</td><td style="text-align:left;">Seitz Elisabeth</td><td style="text-align:center;">GER</td><td style="text-align:center;">14.100</td><td style="text-align:center;">15.233</td><td style="text-align:center;">13.200</td><td style="text-align:center;">13.833</td><td style="text-align:center;">56.366</td></tr>
<tr><td style="text-align:center;">18</td><td style="text-align:left;">Onyshko Isabela</td><td style="text-align:center;">CAN</td><td style="text-align:center;">13.933</td><td style="text-align:center;">14.166</td><td style="text-align:center;">14.366</td><td style="text-align:center;">13.900</td><td style="text-align:center;">56.365</td></tr>
<tr class="one"><td style="text-align:center;">19</td><td style="text-align:left;">Derwael Nina</td><td style="text-align:center;">BEL</td><td style="text-align:center;">13.966</td><td style="text-align:center;">15.300</td><td style="text-align:center;">13.300</td><td style="text-align:center;">13.733</td><td style="text-align:center;">56.299</td></tr>
<tr><td style="text-align:center;">20</td><td style="text-align:left;">Wevers Lieke</td><td style="text-align:center;">NED</td><td style="text-align:center;">14.066</td><td style="text-align:center;">14.600</td><td style="text-align:center;">13.066</td><td style="text-align:center;">14.133</td><td style="text-align:center;">55.865</td></tr>
<tr class="one"><td style="text-align:center;">21</td><td style="text-align:left;">Vanhille Louise</td><td style="text-align:center;">FRA</td><td style="text-align:center;">14.000</td><td style="text-align:center;">14.233</td><td style="text-align:center;">13.200</td><td style="text-align:center;">13.233</td><td style="text-align:center;">54.666</td></tr>
<tr><td style="text-align:center;">22</td><td style="text-align:left;">Tutkhalian Seda</td><td style="text-align:center;">RUS</td><td style="text-align:center;">14.866</td><td style="text-align:center;">15.033</td><td style="text-align:center;">13.800</td><td style="text-align:center;">10.966</td><td style="text-align:center;">54.665</td></tr>
<tr class="one"><td style="text-align:center;">23</td><td style="text-align:left;">Scheder Sophie</td><td style="text-align:center;">GER</td><td style="text-align:center;">14.033</td><td style="text-align:center;">13.950</td><td style="text-align:center;">12.666</td><td style="text-align:center;">13.258</td><td style="text-align:center;">53.907</td></tr>
</table>
</div>
	<br>
	<a href="documents/wag/aafinalsl.pdf" target="_blank" class="pdf">Start List All-Around Final Women</a>
<h2 class="men">All-Around Final Men</h2>
<img src="images/mag/aaf2.jpg" alt="All-Around Final Men Rio Olympics"><br>
	<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Results All-Around Final Men</a>
	<a href="documents/mag/aafinalsl.pdf" target="_blank" class="pdf">Start List All-Around Final Men</a>
<h2 class="wom">Teams Final Women</h2>
<img src="images/wag/usteam2.jpg" alt="Team USA Olympic champions women"><br>
	<a href="documents/wag/teamsfinal.pdf" target="_blank" class="pdf">Results Teams Final Women</a>
	<a href="documents/wag/teamsfinalmedalists.pdf" target="_blank" class="pdf">Medalists Teams Final Women</a>
<h2 class="men">Teams Final Men</h2>
	<a href="documents/mag/teamsfinal.pdf" target="_blank" class="pdf">Results Teams Final Men</a>
	<a href="documents/mag/teamsmedalists.pdf" target="_blank" class="pdf">Medalists Teams Final Men</a>
<h2 class="wom">Qualification Women</h2>
	<a href="documents/wag/qual.pdf" target="_blank" class="pdf">Qualification Team and Individuals Women</a>
	<a href="documents/wag/qteams.pdf" target="_blank" class="pdf">Qualification Teams</a>
	<a href="documents/wag/qaa.pdf" target="_blank" class="pdf">Qualification All-Around Women</a><br>
	<a href="documents/wag/q1vt2.pdf" target="_blank" class="pdf">Qualification 2 Vaults Women</a>
	<a href="documents/wag/q2ub.pdf" target="_blank" class="pdf">Qualification Uneven Bars Women</a>
	<a href="documents/wag/q3bb.pdf" target="_blank" class="pdf">Qualification Beam Women</a>
	<a href="documents/wag/q4fx.pdf" target="_blank" class="pdf">Qualification Floor Exercise Women</a><br>
	<a href="documents/wag/qualsl.pdf" target="_blank" class="pdf">Start List Qualification Artistic Gymnastics Women</a>
<h2 class="men">Qualification Men</h2>
	<a href="documents/mag/qteams2.pdf" target="_blank" class="pdf">Qualification Team and Individuals Men</a>
	<a href="documents/mag/qteams.pdf" target="_blank" class="pdf">Qualification Teams</a>
	<a href="documents/mag/qaa.pdf" target="_blank" class="pdf">Qualification All-Around Men</a><br>
	<a href="documents/mag/q1fx.pdf" target="_blank" class="pdf">Qualification Floor Exercise Men</a>
	<a href="documents/mag/q2ph.pdf" target="_blank" class="pdf">Qualification Pommel Horse Men</a>
	<a href="documents/mag/q3sr.pdf" target="_blank" class="pdf">Qualification Rings Men</a>
	<a href="documents/mag/q4vt.pdf" target="_blank" class="pdf">Qualification Vault Men</a>
	<a href="documents/mag/q5pb.pdf" target="_blank" class="pdf">Qualification Parallel Bars Men</a>
	<a href="documents/mag/q6hb.pdf" target="_blank" class="pdf">Qualification Horizontal Bar Men</a><br>
	<a href="documents/mag/qualsl.pdf" target="_blank" class="pdf">Start List Qualification Men</a>
<h2 class="men">Entry List by NOC</h2>
	<a href="documents/mag/entriesnoc.pdf" target="_blank" class="pdf">Artistic Gymnastics Men</a>
	<a href="documents/wag/entriesnoc.pdf" target="_blank" class="pdf">Artistic Gymnastics Women</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday August 3</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">10:30-13:00<br>14:30-17:00<br>18:30-21:00</td>
		<td style="width:460px; vertical-align:top;">
		MAG Podium Training Subdivision 1<br>
		MAG Podium Training Subdivision 2<br>
		MAG Podium Training Subdivision 3</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday August 4</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">09:45-11:15<br>11:30-13:00<br>14:30-16:00<br>17:30-19:00<br>20:30-22:00</td>
		<td style="width:460px; vertical-align:top;">
		WAG Podium Training Subdivision 1<br>
		WAG Podium Training Subdivision 2<br>
		WAG Podium Training Subdivision 3<br>
		WAG Podium Training Subdivision 4<br>
		WAG Podium Training Subdivision 5</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday August 5</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;"></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday August 6</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">10:30-13:00<br>14:30-17:00<br>18:30-21:00</td>
		<td style="width:460px; vertical-align:top;">
		MAG Qualification Subdivision 1<br>
		MAG Qualification Subdivision 2<br>
		MAG Qualification Subdivision 3</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday August 7</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">09:45-11:15<br>11:30-13:00<br>14:30-16:00<br>17:30-19:00<br>20:30-22:00</td>
		<td style="width:460px; vertical-align:top;">
		WAG Qualification Subdivision 1<br>
		WAG Qualification Subdivision 2<br>
		WAG Qualification Subdivision 3<br>
		WAG Qualification Subdivision 4<br>
		WAG Qualification Subdivision 5</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday August 8</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">16:00-18:40<br>18:45-19:00</td>
		<td style="width:460px; vertical-align:top;">MAG Team Final<br>Awards Ceremony</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Tuesday August 9</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">16:00-17:55<br>18:00-18:15</td>
		<td style="width:460px; vertical-align:top;">WAG Team Final<br>Awards Ceremony</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday August 10</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">16:00-18:30<br>18:35-18:45</td>
		<td style="width:460px; vertical-align:top;">MAG Individual All-Around Final<br>Award Ceremony</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday August 11</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">16:00-17:55<br>18:00-18:10</td>
		<td style="width:460px; vertical-align:top;">WAG Individual All-Around Final<br>Award Ceremony</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday August 12</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">14:00-14:40<br>14:45-15:25<br>15:35-16:00<br>16:05-16:15</td>
		<td style="width:460px; vertical-align:top;">
		TRA Women&rsquo;s Qualification 1st Routine<br>
		TRA Women&rsquo;s Qualification 2nd Routine<br>
		TRA Women&rsquo;s Final<br>TRA Women&rsquo;s Award Ceremony</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday August 13</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">14:00-14:40<br>14:45-15:25<br>15:35-16:00<br>16:05-16:15</td>
		<td style="width:460px; vertical-align:top;">
		TRA Men&rsquo;s Qualification 1st Routine<br>
		TRA Men&rsquo;s Qualification 2nd Routine<br>
		TRA Men&rsquo;s Final<br>TRA Men&rsquo;s Award Ceremony</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday August 14</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">14:00-14:30<br>14;45-15:15<br>15:30-16:00<br>16:15-16:45</td>
		<td style="width:460px; vertical-align:top;">
		MAG Floor Exercise Final<br>WAG Vault Final<br>
		MAG Pommel Horse Final<br>WAG Uneven Bars Final</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday August 15</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">14:00-14:30<br>14:45-15:15<br>15:30-16:00</td>
		<td style="width:460px; vertical-align:top;">MAG Rings Final<br>WAG Beam Final<br>MAG Vault Final</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Tuesday August 16</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">14:00-14:30<br>14:45-15:15<br>15:30-16:00</td>
		<td style="width:460px; vertical-align:top;">MAG Parallel Bars Final<br>WAG Floor Exercise Final<br>MAG Horizontal Bar Final</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday August 17</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">13:00-15:30</td>
		<td style="width:460px; vertical-align:top;">Artistic Gymnastics Gala</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday August 18</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;"></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday August 19</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">10:20-11:50<br>12:15-13:15<br>14:50-16:05<br>16:20-17:45</td>
		<td style="width:460px; vertical-align:top;">
		RG Individual All-Around Qualification Rotation 1<br>
		RG Individual All-Around Qualification Rotation 2<br>
		RG Individual All-Around Qualification Rotation 3<br>
		RG Individual All-Around Qualification Rotation 4</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday August 20</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">
		10:00-11:10<br>12:40-13:50<br>15:20-15:52<br>15:53-16:25<br>16:26-16:58<br>16:59-17:31<br>17:35-17:50</td>
		<td style="width:460px; vertical-align:top;">
		RG Group All-Around Qualification - Rotation 1<br>
		RG Group All-Around Qualification - Rotation 2<br>
		RG Individual All-Around Final Rotation 1<br>
		RG Individual All-Around Final Rotation 2<br>
		RG Individual All-Around Final Rotation 3<br>
		RG Individual All-Around Final Rotation 4<br>
		RG Individual All-Around Award Ceremony</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday August 21</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">11:00-11:40<br>11:50-12:30<br>12:35-12:45</td>
		<td style="width:460px; vertical-align:top;">
		RG Group All-Around Final Rotation 1<br>
		RG Group All-Around Final Rotation 2<br>
		RG Group All-Around Award Ceremony</td></tr>
</table>
<h2 class="wom">Drawing of lots</h2>
	<a href="documents/mag/drawc1.pdf" target="_blank" class="pdf">Artistic Gymnastics Men</a>
	<a href="documents/wag/drawc1.pdf" target="_blank" class="pdf">Artistic Gymnastics Women</a>
	<a href="documents/rg/draw.pdf" target="_blank" class="pdf">Rhythmics Gymnastics</a>
	<a href="documents/tra/draw.pdf" target="_blank" class="pdf">Trampoline</a>
<h2 class="men">Final List of 2016 Olympic Qualifiers</h2>
	<a href="documents/mag/qualifiers.pdf" target="_blank" class="pdf">Artistic Gymnastics Men</a>
	<a href="documents/wag/qualifiers.pdf" target="_blank" class="pdf">Artistic Gymnastics Women</a>
	<a href="documents/rg/qualifiers.pdf" target="_blank" class="pdf">Rhythmic Gymnastics</a>
	<a href="documents/tra/qualifiers.pdf" target="_blank" class="pdf">Trampoline Gymnastics</a>
<h2 class="men">MAG Qualified to Rio Olympics</h2>
	<img src="images/mag/qual2016.png"alt="MAG Qualified to Rio Olympics" />
<h2 class="wom">WAG Qualified to Rio Olympics</h2>
	<img src="images/wag/qual2016.png" alt="WAG Qualified to Rio Olympics" />


