---
title: "World Challenge Cup 2016 Sao Paulo"
year: 2016
startdate: 2016-05-20
enddate: 2016-05-22
country: "BRA"
category: "world-challenge-cup"
layout: results
redirect_from: /2016/am/bra/challenge-cup-sao-paulo.html
---

{% include resultsheader.html title="World Challenge Cup 2016<br>Sao Paulo (BRA)<br>2016 May 20 - 22" %}

<img src="images/logo.png" alt="World Challenge Cup 2016 Sao Paulo (BRA) 2016 May 20 - 22">
<h2 class="men">Apparatus Final Men</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Final Men</a>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<h2 class="wom">Apparatus Final Women</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor ExerciseFinal Women</a><br>
	<a href="documents/afsl.pdf" target="_blank" class="pdf">Apparatus Final Start Lists</a>
<br>
<img src="images/hala2.jpg" alt="World Challenge Cup 2016 Sao Paulo (BRA) 2016 May 20 - 22">
<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<h2 class="wom">Results Qualification Women</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<h2 class="men">Participants</h2>
<!--Part table-->
<table style="width:100%;">
<tr><td style="width:50%; vertical-align:top; font-size:16px;"><b>Germany MAG</b><br>Andreas Bretschneider<br>Lukas Dauser<br><br></td>
<td style="width:50%; vertical-align:top; font-size:16px;"><b>Germany WAG</b><br>Kim Ngan Bui<br>Michelle Timm<br><br></td></tr>
<tr><td style="width:50%; vertical-align:top; font-size:16px;"><b>Argentina MAG</b><br>Andres Alejandro Arean<br>Daniel Villafane<br>Federico Molinari<br>Franco Gutierrez<br>Nicolas Cordoba<br>Osvaldo Martinez Erazun<br><br></td>
<td style="width:50%; vertical-align:top; font-size:16px;"><b>Argentina WAG</b><br>Ailen Valente<br>Esperanza Fernandez<br>Maria Stoffel<br><br></td></tr>
<tr><td style="width:50%; vertical-align:top; font-size:16px;"><b>Brazil MAG</b><br>Arthur Nory Mariano<br>Arthur Zanetti<br>Caio Souza<br>Diego Hypolito<br>Francisco Barretto Junior<br>Sergio Sasaki<br>Henrique Medina<br>Pericles Silva<br><br></td>
<td style="width:50%; vertical-align:top; font-size:16px;"><b>Brazil WAG</b><br>Carolyne Pedro<br>Daniele Hypolito<br>Jade Barbosa<br>Rebeca Andrade<br>Lorrane Oliveira<br>Thauany Araujo<br><br></td></tr>
<tr><td style="width:50%; vertical-align:top; font-size:16px;"><b>Chile MAG</b><br>Christian Bruno Cecidet<br>Daniel Basilio<br>Joel Alvarez<br>Tomas Gonzalez<br><br></td>
<td style="width:50%; vertical-align:top; font-size:16px;"><b>Chile WAG</b><br>Camila Francesca Vilches Arancibia<br>Melany Cabrera<br>Simona Castro<br><br></td></tr>
<tr><td style="width:50%; vertical-align:top; font-size:16px;"><b>Colombia MAG</b><br>Jossimar Orlando Calvo Moreno<br><br></td>
<td style="width:50%; vertical-align:top; font-size:16px;"><b>Colombia WAG</b><br>Catalina Elena Escobar Gomez <br>Julian Camilo Gomez Marin<br><br></td></tr>
<tr><td style="width:50%; vertical-align:top; font-size:16px;"><b>Finland MAG</b><br></td>
<td style="width:50%; vertical-align:top; font-size:16px;"><b>Finland WAG</b><br>Annika Urvikko<br><br></td></tr>
<tr><td style="width:50%; vertical-align:top; font-size:16px;"><b>Japan MAG</b><br>Fuya Maeno<br>Hiroki Ishikawa<br>Jumpei Oka<br>Kaito Imabayashi<br><br></td>
<td style="width:50%; vertical-align:top; font-size:16px;"><b>Brazil WAG</b><br>Sae Miyakawa<br><br></td></tr>
<tr><td style="width:50%; vertical-align:top; font-size:16px;"><b>Venezuela MAG</b><br></td>
<td style="width:50%; vertical-align:top; font-size:16px;"><b>Venezuela WAG</b><br>Jessica Lopez<br><br></td></tr>
</table>	
<!--Part table End-->
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday May 20</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">14:00-18:00</td>
		<td style="width:460px; vertical-align:top;">Qualification MAG &amp; WAG</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday May 21</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">14:00-18:00</td>
		<td style="width:460px; vertical-align:top;">Apparatus Final MAG &amp; WAG</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday May 22</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">9:00-13:00</td>
		<td style="width:460px; vertical-align:top;">Apparatus Final MAG &amp; WAG</td></tr>
</table>
<h2 class="wom">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>