---
title: "Glasgow FIG World Cup Emirates Arena Glasgow"
year: 2016
startdate: 2016-03-12
country: "GBR"
category: "world-cup"
layout: results
redirect_from: /2016/eu/gbr/world-cup-glasgow.html
---

{% include resultsheader.html title="Glasgow FIG World Cup<br>Emirates Arena Glasgow (GBR)<br>2016 March 12" %}

<img src="images/logo.jpg" alt="Glasgow FIG World Cup logo">
<h2 class="men">Results Men</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa" align="center">
<tr class="men"><th colspan="3">All-Around</th>
	<td><img src="/assets/images/icons/1fx50x50.gif" width=50 height=50 alt="floor exercise" align="center"></td>
	<td><img src="/assets/images/icons/2ph50x50.gif" width=50 height=50 alt="pommel horse" align="center"></td>
	<td><img src="/assets/images/icons/3sr50x50.gif" width=50 height=50 alt="rings" align="center"></td>
	<td><img src="/assets/images/icons/4vt50x50.gif" width=50 height=50 alt="vault" align="center"></td>
	<td><img src="/assets/images/icons/5pb50x50.gif" width=50 height=50 alt="parallel bars" align="center"></td>
	<td><img src="/assets/images/icons/6hb50x50.gif" width=50 height=50 alt="horizontal bar" align="center"></td>
	<th>Total</th></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan="10"></td></tr>

<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">1</td><td style="width:200px; vertical-align:top;">WHITLOCK Max</td>
	<td style="width:30px; text-align:center; vertical-align:top;">GBR</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.700<br>8.433<br>15.033</td>
	<td style="width:50px; text-align:center; vertical-align:top;">7.200<br>8.300<br>15.500</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.800<br>8.533<br>14.333</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.000<br>9.133<br>15.133</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.400<br>8.100<br>14.500</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.700<br>8.100<br>14.800</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>89.299</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">2</td><td style="width:200px; vertical-align:top;">MARIANO Arthur</td>
	<td style="width:30px; text-align:center; vertical-align:top;">BRA</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.500<br>8.466<br>14.966</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.100<br>8.200<br>14.300</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.900<br>7.866<br>13.766</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.600<br>9.300<br>14.900</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.900<br>7.633<br>13.533</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.800<br>8.333<br>15.133</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>86.598</b></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">3</td><td style="width:200px; vertical-align:top;">PURVIS Daniel</td>
	<td style="width:30px; text-align:center; vertical-align:top;">GBR</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.200<br>8.366<br>14.566</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.900<br>7.300<br>13.800</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.100<br>8.300<br>14.400</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.600<br>9.133<br>14.633</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.700<br>8.466<br>15.166</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.900<br>8.600<br>14.500</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>86.465</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">4</td><td style="width:200px; vertical-align:top;">MODI Akash</td>
	<td style="width:30px; text-align:center; vertical-align:top;">USA</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.400<br>7.900<br>14.300</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.100<br>6.866<br>12.966</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.500<br>8.633<br>14.133</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.600<br>9.000<br>14.600</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.600<br>8.566<br>15.166</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.400<br>8.133<br>14.533</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>85.698</b></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">5</td><td style="width:200px; vertical-align:top;">YAMAMOTO M</td>
	<td style="width:30px; text-align:center; vertical-align:top;">JPN</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.000<br>8.633<br>14.633</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.400<br>7.466<br>13.866</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.500<br>8.100<br>14.600</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.600<br>9.166<br>14.766</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.700<br>7.966<br>14.666</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.400<br>6.766<br>13.166</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>85.697</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">6</td><td style="width:200px; vertical-align:top;">David BELYAVSKIY</td>
	<td style="width:30px; text-align:center; vertical-align:top;">RUS</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.100<br>8.366<br>14.466</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.200<br>6.733<br>12.933</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.800<br>8.533<br>14.333</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.000<br>8.333<br>14.333</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.700<br>8.066<br>14.766</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.400<br>8.233<br>14.633</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>85.464</b></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">7</td><td style="width:200px; vertical-align:top;">BAUMANN Christian</td>
	<td style="width:30px; text-align:center; vertical-align:top;">SUI</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.800<br>8.066<br>13.866</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.900<br>7.900<br>13.800</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.500<br>9.033<br>14.533</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.200<br>9.133<br>14.333</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.400<br>8.600<br>15.000</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.100<br>6.400<br>12.500</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>84.032</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">8</td><td style="width:200px; vertical-align:top;">CEN Yu</td>
	<td style="width:30px; text-align:center; vertical-align:top;">CHN</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.500<br>8.033<br>14.433</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.700<br>7.133<br>12.833</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.300<br>8.433<br>14.733</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.000<br>9.366<br>15.366</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.700<br>7.900<br>14.300</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.100<br>6.400<br>12.600</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>83.932</b></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">9</td><td style="width:200px; vertical-align:top;">LEE Junho</td>
	<td style="width:30px; text-align:center; vertical-align:top;">KOR</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.100<br>8.466<br>13.966</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.700<br>7.133<br>12.833</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.400<br>8.100<br>13.500</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.200<br>8.833<br>14.033</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.800<br>7.800<br>13.600</td>
	<td style="width:50px; text-align:center; vertical-align:top;">4.900<br>7.600<br>12.500</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>80.432</b></td></tr>
<tr bgcolor="#000000"><td colspan=10 style="height:1px; padding:0px;"></td></tr>	
</table> 
</div>
	<a href="documents/magaa.pdf" target="_blank" class="pdf">Official Results Men</a>
<h2 class="wom">Results Women</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" align="center">
<tr class="wom"><th colspan=3>All-Around</th>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/4vt50x50.gif" width=50 height=50 alt="vault"></td>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/2ub50x50.gif" width=50 height=50 alt="uneven bars"></td>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/3bb50x50.gif" width=50 height=50 alt="beam"></td>
	<td style="width:60px; text-align:center;"><img src="/assets/images/icons/1fx50x50.gif" width=50 height=50 alt="floor exercise"></td>
	<th style="width:80px; text-align:center;">Total</th></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">1</td><td style="width:200px; vertical-align:top;">SKINNER MyKayla</td>
	<td style="width:30px; text-align:center; vertical-align:top;">USA</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.300<br>9.266<br>15.566</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.100<br>8.200<br>14.300</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.600<br>7.900<br>13.500</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.200<br>7.833<br>13.633</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>56.999</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">2</td><td style="width:200px; vertical-align:top;">SEITZ Elisabeth</td>
	<td style="width:30px; text-align:center; vertical-align:top;">GER</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.000<br>8.933<br>13.933</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.600<br>8.200<br>14.800</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.500<br>8.266<br>13.766</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.300<br>7.933<br>13.233</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>55.732</b></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">3</td><td style="width:200px; vertical-align:top;">FRAGAPANE Claudia</td>
	<td style="width:30px; text-align:center; vertical-align:top;">GBR</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.800<br>8.666<br>14.466</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.900<br>6.600<br>12.500</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.500<br>7.566<br>14.066</td>
	<td style="width:50px; text-align:center; vertical-align:top;">6.200<br>8.166<br>14.366</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>55.398</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">4</td><td style="width:200px; vertical-align:top;">TERAMOTO Asuka</td>
	<td style="width:30px; text-align:center; vertical-align:top;">JPN</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.400<br>8.833<br>14.233</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.900<br>8.033<br>13.933</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.900<br>7.666<br>13.566</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.300<br>7.733<br>13.033</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>54.765</b></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">5</td><td style="width:200px; vertical-align:top;">MARIANI Enus</td>
	<td style="width:30px; text-align:center; vertical-align:top;">ITA</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.000<br>8.933<br>13.933</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.800<br>7.866<br>13.666</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.400<br>8.000<br>13.400</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.400<br>8.133<br>13.433</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>54.432</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">6</td><td style="width:200px; vertical-align:top;">COPIAK Madison</td>
	<td style="width:30px; text-align:center; vertical-align:top;">CAN</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.300<br>8.900<br>14.200</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.700<br>7.600<br>13.300</td>
	<td style="width:50px; text-align:center; vertical-align:top;">4.900<br>8.000<br>12.900</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.100<br>7.733<br>12.833</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>53.233</b></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">7</td><td style="width:200px; vertical-align:top;">VAN POL Vera</td>
	<td style="width:30px; text-align:center; vertical-align:top;">NED</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.000<br>8.833<br>13.833</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.800<br>6.900<br>12.700</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.400<br>6.966<br>12.366</td>
	<td style="width:50px; text-align:center; vertical-align:top;">5.000<br>7.566<br>12.566</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><br><br><b>51.465</b></td></tr>
<tr bgcolor="#000000"><td colspan=8 style="height:1px; padding:0px;"></td></tr>
</table> 
</div>
	<a href="documents/wagaa.pdf" target="_blank" class="pdf">Official Results Women</a>
<br>
<img src="images/emirates2.jpg" alt="Emirates Arena Glasgow">
<h2 class="men">Information</h2>
	<div style="padding: 16px;">
		<b>Disciplines, categories and age:</b><br>
		<ul>
			<li>Men&rsquo;s Artistic Gymnastics - Senior 18 years and older</li>
			<li>Women&rsquo;s Artistic Gymnastics - Senior 16 years and older</li>
		</ul>
<!--Part table-->
<table style="width:100%;">
<tr><td colspan="2" style="vertical-align:top; font-size:16px; text-align:center;"><b>The 2016 Glasgow World Cup line-up</b></td></tr>
<tr>
<td style="width:100%; vertical-align:top; font-size:16px;">
<b>Women</b><br>
<ul>
<li>Maegan Chant, Canada<br>Team silver with Canada at the 2015 Pan American Games</li>
<li>Claudia Fragapane, Great Britain<br>2015 World bronze medalist with Team GB and 2014 four-time Commonwealth gold medalist</li>
<li>Enus Mariani, Italy<br>2012 Junior European Champion</li>
<li>Asuka Teramoto, Japan<br>2015 Japanese national champion and 9th all-around at the 2015 World Championships</li>
<li>Lieke Wevers, Netherlands<br>2015 European Games beam gold medalist</li>
<li>Mykayla Skinner, USA<br>2014 World Champion with team USA and vault bronze medalist</li>
<li>Maria Kharenkova , Russia<br>2014 World bronze medalist with team Russia and 2014 European beam champion</li>
<li>Yufen Xie, China<br>2014 World silver medalist with Team China</li>
<li>Kelly Simm, Great Britain<br>2015 World Championships team bronze</li>
</ul>
</td>
</tr>
<tr>
<td style="width:100%; vertical-align:top; font-size:16px;">
<b>Men</b><br>
<ul>
<li>Arthur Nory Oyakawa Mariano,Brazil<br>All-around 12th at the 2015 World Championships &amp; team silver at the 2015 Pan American Games</li>
<li>Max Whitlock, Great Britain<br>2015 World pommel horse champion and 2012 Olympic double bronze medalist</li>
<li>Daniel Purvis, Great Britain<br>2015 World team silver medalist and 2012 Olympic team bronze medalist</li>
<li>Yu Cen, China<br>2015 World Universiade vault champion</li>
<li>Masayoshi Yamamoto, Japan<br></li>
<li>David Belyavskiy , Russia<br>2013 European all-around champion and 2015 silver medalist</li>
<li>Christian Baumann, Switzerland<br>2015 European Championships parallel bars silver</li>
<li>Marvin Kimble, USA<br>2015 Pan American Games team and pommel horse champion</li>
<li>Junho Lee, Korea<br>2015 World University Games team silver medalist</li>
</ul>
</td>
</tr>
</table>	
</div>

<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday March 10</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Arrival Day<br>Orientation Meeting</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday March 11</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday March 12</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>13:00-16:30</td>
		<td style="width:460px; vertical-align:top;">Judges Instruction<br>Competition</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday March 13</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure Day</td></tr>
</table>
<h2 class="wom">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
	<a href="documents/qualifiers.pdf" target="_blank" class="pdf">2016 FIG Artistic Gymnastics All-around World Cup series qualifiers</a><br>
<img src="images/emirates.jpg" alt="Glasgow FIG World Cup Emirates Arena Glasgow (GBR) 2016 March 12">
	