---
title: "Beijing 2008 Olympics Men's Artistic Gymnastics"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2008/o2008m.html
- /olympics/2008/magteams.html
- /olympics/2008/magaa.html
- /olympics/2008/magef.html
---
	
{% include resultsheader.html title="Games of the 29th Olympiad<br>Men's Artistic Gymnastics<br>Beijing (CHN) August 8-24, 2008<br>Finals Men" %}

<a href="/results/2008/olympics/index.html"><img src="/assets/images/logos/lg2008og.jpg"></a>

<h2 class="men">Men's Teams Final - Aug 12 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="200">
	<col width="40" align="center">
	<colgroup span=6 align="center" width=60>
	<colgroup align="center" width=70>
<tr class="men">
	<th colspan=3>Team</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>China</td><td>CHN</td><td>45.925</td><td>46.025</td><td>48.875</td><td>49.325</td><td>49.025</td><td>46.950</td><td>286.125</td></tr>
<tr class="two"><td>2</td><td>Japan</td><td>JPN</td><td>45.975</td><td>45.575</td><td>46.900</td><td>46.750</td><td>47.075</td><td>46.600</td><td>278.875</td></tr>
<tr class="one"><td>3</td><td>United States</td><td>USA</td><td>45.400</td><td>41.875</td><td>46.375</td><td>48.225</td><td>47.050</td><td>46.925</td><td>275.850</td></tr>
<tr class="two"><td>4</td><td>Germany</td><td>GER</td><td>46.225</td><td>44.650</td><td>45.650</td><td>47.000</td><td>45.425</td><td>45.650</td><td>274.600</td></tr>
<tr class="one"><td>5</td><td>Korea</td><td>KOR</td><td>46.350</td><td>43.050</td><td>45.500</td><td>47.225</td><td>47.225</td><td>45.025</td><td>274.375</td></tr>
<tr class="two"><td>6</td><td>Russian Fed.</td><td>RUS</td><td>46.050</td><td>42.875</td><td>45.950</td><td>48.150</td><td>47.300</td><td>43.975</td><td>274.300</td></tr>
<tr class="one"><td>7</td><td>Romania</td><td>ROU</td><td>46.250</td><td>43.525</td><td>46.375</td><td>49.300</td><td>45.225</td><td>43.500</td><td>274.175</td></tr>
<tr class="two"><td>8</td><td>France</td><td>FRA</td><td>44.625</td><td>42.925</td><td>45.300</td><td>48.400</td><td>46.575</td><td>45.050</td><td>272.875</td></tr>
</table>
</div>

<a href="documents/beijing2008magt.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">All Around Final Men - Aug 14 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="30" align="right">
	<col width="250">
	<col width="50" align="center">
	<colgroup span=6 align="center" width=60>
	<colgroup align="center" width=80>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>YANG Wei</td><td>CHN</td><td><u>15.250</u></td><td>15.275</td><td>16.625</td><td>16.550</td><td>16.100</td><td>14.775</td><td>94.575</td></tr>
<tr class="two"><td>2</td><td>UCHIMURA Kohei</td><td>JPN</td><td><u>15.825</u></td><td>13.275</td><td>15.200</td><td>16.300</td><td>15.975</td><td>15.400</td><td>91.975</td></tr>
<tr class="one"><td>3</td><td>CARANOBE Benoit</td><td>FRA</td><td>15.350</td><td><u>14.875</u></td><td>15.175</td><td>16.600</td><td>15.050</td><td>14.875</td><td>91.925</td></tr>
<tr class="two"><td>4</td><td>TOMITA Hirouki</td><td>JPN</td><td><u>15.100</u></td><td>15.425</td><td>13.850</td><td>15.700</td><td>16.000</td><td>15.675</td><td>91.750</td></tr>
<tr class="one"><td>5</td><td>KHOROKHORDIN Sergey</td><td>RUS</td><td><u>15.150</u></td><td>15.100</td><td>15.400</td><td>15.300</td><td>15.700</td><td>15.050</td><td>91.700</td></tr>
<tr class="two"><td>6</td><td>DEVYATOVSKIY Maxim</td><td>RUS</td><td>15.225</td><td>15.200</td><td><u>15.625</u></td><td>15.225</td><td>15.325</td><td>15.100</td><td>91.700</td></tr>
<tr class="one"><td>7</td><td>HAMBUECHEN Fabian</td><td>GER</td><td><u>15.625</u></td><td>14.375</td><td>15.025</td><td>15.975</td><td>15.275</td><td>15.400</td><td>91.675</td></tr>
<tr class="two"><td>8</td><td>YANG Taeyoung</td><td>KOR</td><td>15.225</td><td>14.300</td><td><u>14.900</u></td><td>16.075</td><td>16.350</td><td>14.750</td><td>91.600</td></tr>
<tr class="one"><td>9</td><td>HORTON Jonathan</td><td>USA</td><td>15.600</td><td><u>13.675</u></td><td>15.575</td><td>16.100</td><td>15.275</td><td>15.350</td><td>91.575</td></tr>
<tr class="two"><td>10</td><td>MARTINEZ Rafael</td><td>ESP</td><td>15.450</td><td><u>15.000</u></td><td>14.375</td><td>15.575</td><td>15.525</td><td>15.575</td><td>91.500</td></tr>
<tr class="one"><td>11</td><td>KIM Daeeun</td><td>KOR</td><td><u>15.225</u></td><td>13.650</td><td>15.400</td><td>15.625</td><td>16.000</td><td>14.875</td><td>90.775</td></tr>
<tr class="two"><td>12</td><td>ARTEMEV Alexander</td><td>USA</td><td>14.625</td><td>15.525</td><td><u>14.275</u></td><td>15.975</td><td>15.200</td><td>15.075</td><td>90.675</td></tr>
<tr class="one"><td>13</td><td>BOY Philipp</td><td>GER</td><td>15.075</td><td>14.875</td><td>14.825</td><td><u>15.400</u></td><td>15.050</td><td>15.450</td><td>90.675</td></tr>
<tr class="two"><td>14</td><td>RIVERA RIVERA Luis</td><td>PUR</td><td>15.250</td><td><u>15.025</u></td><td>15.225</td><td>16.025</td><td>14.375</td><td>14.275</td><td>90.175</td></tr>
<tr class="one"><td>15</td><td>WONG Adam</td><td>CAN</td><td>14.325</td><td>14.550</td><td>15.050</td><td><u>15.700</u></td><td>15.350</td><td>14.825</td><td>89.800</td></tr>
<tr class="two"><td>16</td><td>FOKIN Anton</td><td>UZB</td><td>14.525</td><td>15.150</td><td>14.700</td><td><u>15.575</u></td><td>16.125</td><td>13.675</td><td>89.750</td></tr>
<tr class="one"><td>17</td><td>GAFUIK Nathan</td><td>CAN</td><td>15.325</td><td>13.475</td><td><u>14.375</u></td><td>16.175</td><td>15.275</td><td>15.000</td><td>89.625</td></tr>
<tr class="two"><td>18</td><td>KOCZI Flavius</td><td>ROU</td><td>14.900</td><td>15.425</td><td><u>14.550</u></td><td>16.450</td><td>13.525</td><td>14.725</td><td>89.575</td></tr>
<tr class="one"><td>19</td><td>POZZO Enrico</td><td>ITA</td><td>15.250</td><td>14.625</td><td>13.850</td><td><u>15.600</u></td><td>14.600</td><td>15.450</td><td>89.375</td></tr>
<tr class="two"><td>20</td><td>KEATINGS Daniel</td><td>GBR</td><td>14.850</td><td>15.700</td><td>14.000</td><td><u>15.800</u></td><td>14.425</td><td>14.225</td><td>89.000</td></tr>
<tr class="one"><td>21</td><td>BOUHAIL Thomas</td><td>FRA</td><td>15.200</td><td>13.400</td><td>13.650</td><td><u>15.850</u></td><td>14.425</td><td>14.475</td><td>87.000</td></tr>
<tr class="two"><td>22</td><td>FUENTES BUSTAMANTE Jose Luis</td><td>VEN</td><td>14.175</td><td>13.650</td><td><u>13.900</u></td><td>15.250</td><td>15.175</td><td>14.150</td><td>86.300</td></tr>
<tr class="one"><td>23</td><td>SAVITSKI Dmitry</td><td>BLR</td><td>13.725</td><td><u>13.750</u></td><td>15.300</td><td>15.900</td><td>13.400</td><td>10.100</td><td>82.175</td></tr>
<tr class="two"><td>24</td><td>CHEN Yibing</td><td>CHN</td><td></td><td><u>13.750</u></td><td>16.650</td><td>15.900</td><td>14.950</td><td>12.975</td><td>74.225</td></tr>
<tr bgcolor="#000000"><td colspan=10></td></tr>
<tr class="svk"><td colspan=10 align=left>Underlined scores indicate starting apparatus</td></tr>
</table>
</div>

<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/mag/aafinaldetail.pdf" target="_blank" class="pdf">Official Results - Detailed</a>

<h2 class="men">Floor Exercise Final Men - 2008 Aug 17</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="30" align="center" valign=top>
	<col width="200" valign=top>
	<colgroup span=8 align="center" width=40>
	<colgroup span=3 align="center" width=60>
<tr class="men"><th colspan=3>Gymnast</th>
	<th>A</th><th>B1</th><th>B2</th><th>B3</th><th>B4</th><th>B5</th><th>B6</th><th>B</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td>1</td><td>ZOU Kai</td><td>CHN</td><td>6.70</td><td>9.30</td><td>9.40</td><td>9.40</td><td>9.50</td><td>9.30</td><td>9.30</td><td>9.350</td><td></td><td>16.050</td></tr>
<tr class="two"><td>2</td><td>DEFERR Gervasio</td><td>ESP</td><td>6.50</td><td>9.40</td><td>9.30</td><td>9.00</td><td>9.30</td><td>9.20</td><td>9.30</td><td>9.275</td><td></td><td>15.775</td></tr>
<tr class="one"><td>3</td><td>GOLOTSUTSKOV Anton</td><td>RUS</td><td>6.50</td><td>9.30</td><td>9.20</td><td>9.10</td><td>9.30</td><td>9.00</td><td>9.40</td><td>9.225</td><td></td><td>15.725</td></tr>
<tr class="two"><td>4</td><td>HAMBUECHEN Fabian</td><td>GER</td><td>6.50</td><td>9.20</td><td>9.30</td><td>9.20</td><td>9.00</td><td>9.10</td><td>9.10</td><td>9.150</td><td></td><td>15.650</td></tr>
<tr class="one"><td>5</td><td>UCHIMURA Kohei</td><td>JPN</td><td>6.30</td><td>9.10</td><td>9.40</td><td>9.40</td><td>9.20</td><td>9.30</td><td>9.20</td><td>9.275</td><td></td><td>15.575</td></tr>
<tr class="two"><td>6</td><td>HYPOLITO Diego</td><td>BRA</td><td>6.70</td><td>8.40</td><td>8.50</td><td>8.40</td><td>8.50</td><td>8.80</td><td>8.60</td><td>8.500</td><td></td><td>15.200</td></tr>
<tr class="one"><td>7</td><td>DRAGULESCU Marian</td><td>ROU</td><td>6.50</td><td>8.10</td><td>8.50</td><td>8.50</td><td>8.20</td><td>8.60</td><td>8.20</td><td>8.350</td><td></td><td>14.850</td></tr>
<tr class="two"><td>8</td><td>SHATILOV Alexandr</td><td>ISR</td><td>6.60</td><td>8.10</td><td>7.80</td><td>7.80</td><td>8.10</td><td>7.90</td><td>7.90</td><td>7.925</td><td>0.40</td><td>14.125</td></tr>
<tr bgcolor="#000000"><td colspan=13></td></tr>
<tr><td colspan=6 align=left>
<strong>Judges Assignments</strong><br>
A1 ZUNICH Andreja Alex United States<br> 
A2 LAZZARICH Diego Italy <br>
B1 NASR Mohamed Elarabe Egypt<br> 
B2 TOMBS Andrew Great Britain <br>
B3 KODRIC Severin Slovenia<br>
B4 BERNARD Joseph Louis Luxembourg<br>
</td><td colspan=7 align=left valign=top><br>
B5 SAGRERAS Alejandro Hugo Argentina<br>
B6 KURTEV Zdravko Zdravkov Bulgaria<br>
Timer 1 LIU Shiling China<br>
Line 1 YU Yongxiang China<br>
Line 2 HUANG Jian China</td></tr>
</table>
</div>

<a href="documents/mag/ef1fx.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Pommel Horse Final Men - 2008 Aug 17</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="30" align="center" valign=top>
	<col width="200" valign=top>
	<colgroup span=8 align="center" width=40>
	<colgroup span=3 align="center" width=60>
<tr class="men"><th colspan=3>Gymnast</th>
	<th>A</th><th>B1</th><th>B2</th><th>B3</th><th>B4</th><th>B5</th><th>B6</th><th>B</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td>1</td><td>XIAO Qin</td><td>CHN</td><td>6.40</td><td>9.40</td><td>9.20</td><td>9.50</td><td>9.60</td><td>9.50</td><td>9.50</td><td>9.475</td><td></td><td>15.875</td></tr>
<tr class="two"><td>2</td><td>UDE Filip</td><td>CRO</td><td>6.40</td><td>9.30</td><td>9.30</td><td>9.40</td><td>9.20</td><td>9.30</td><td>9.40</td><td>9.325</td><td></td><td>15.725</td></tr>
<tr class="one"><td>3</td><td>SMITH Louis</td><td>GBR</td><td>6.70</td><td>9.00</td><td>9.20</td><td>9.00</td><td>9.10</td><td>9.00</td><td>8.70</td><td>9.025</td><td></td><td>15.725</td></tr>
<tr class="two"><td>4</td><td>Wei YANG</td><td>CHN</td><td>6.20</td><td>9.20</td><td>9.40</td><td>9.20</td><td>9.10</td><td>9.30</td><td>9.30</td><td>9.250</td><td></td><td>15.450</td></tr>
<tr class="one"><td>5</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>6.10</td><td>9.30</td><td>9.40</td><td>9.30</td><td>9.30</td><td>9.20</td><td>9.20</td><td>9.275</td><td></td><td>15.375</td></tr>
<tr class="two"><td>6</td><td>KIM Jihoon</td><td>KOR</td><td>6.10</td><td>9.20</td><td>9.10</td><td>9.00</td><td>9.00</td><td>9.10</td><td>9.10</td><td>9.075</td><td></td><td>15.175</td></tr>
<tr class="one"><td>7</td><td>ARTEMEV Alexander</td><td>USA</td><td>6.30</td><td>8.70</td><td>8.70</td><td>8.70</td><td>8.70</td><td>8.60</td><td>8.60</td><td>8.675</td><td></td><td>14.975</td></tr>
<tr class="two"><td>8</td><td>FUENTES BUSTAMANTE Jose Luis</td><td>VEN</td><td>6.30</td><td>8.80</td><td>8.50</td><td>8.20</td><td>8.20</td><td>8.40</td><td>8.30</td><td>8.350</td><td></td><td>14.650</td></tr> 
<tr bgcolor="#000000"><td colspan=13></td></tr>
<tr><td colspan=6 align=left><strong>Judges Assignments</strong><br>
A1 TAKEUCHI Teruaki Japan<br>
A2 CARRILES GARCIA Pablo Spain<br>
B1 KOCIAN Vilem Czech Republic<br>
B2 CORREDOR SEGURA Jaime Eduardo Colombia
</td><td colspan=7 align=left valign=top><br>
B3 PELC Zbigniew Juliusz Poland<br>
B4 GRECU Danut Romania<br>
B5 STRUPLER Andreas Switzerland<br>
B6 BLANQUINO Jean-Francois Jacky France
</table>
</div>

<a href="documents/mag/ef2ph.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Rings Final Men - 2008 Aug 18</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="30" align="center" valign=top>
	<col width="200" valign=top>
	<colgroup span=8 align="center" width=40>
	<colgroup span=3 align="center" width=60>
<tr class="men"><th colspan=3>Gymnast</th>
	<th>A</th><th>B1</th><th>B2</th><th>B3</th><th>B4</th><th>B5</th><th>B6</th><th>B</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td>1</td><td>CHEN Yibing</td><td>CHN</td><td>7.30</td><td>9.30</td><td>9.40</td><td>9.50</td><td>9.30</td><td>9.20</td><td>9.20</td><td>9.300</td><td></td><td>16.600</td></tr>
<tr class="two"><td>2</td><td>YANG Wei</td><td>CHN</td><td>7.50</td><td>9.10</td><td>9.00</td><td>8.90</td><td>9.00</td><td>8.80</td><td>8.70</td><td>8.925</td><td></td><td>16.425</td></tr>
<tr class="one"><td>3</td><td>VOROBIOV Oleksandr</td><td>UKR</td><td>7.20</td><td>9.10</td><td>9.20</td><td>9.30</td><td>9.20</td><td>9.00</td><td>9.00</td><td>9.125</td><td></td><td>16.325</td></tr>
<tr class="two"><td>4</td><td>COPPOLINO Andrea</td><td>ITA</td><td>7.10</td><td>9.20</td><td>9.00</td><td>9.30</td><td>9.10</td><td>9.10</td><td>9.10</td><td>9.125</td><td></td><td>16.225</td></tr>
<tr class="one"><td>5</td><td>PINHEIRO RODRIGUES Danny</td><td>FRA</td><td>7.50</td><td>8.80</td><td>8.90</td><td>8.70</td><td>8.60</td><td>8.40</td><td>8.80</td><td>8.725</td><td></td><td>16.225</td></tr>
<tr class="two"><td>6</td><td>MORANDI Matteo</td><td>ITA</td><td>7.10</td><td>9.20</td><td>9.10</td><td>9.10</td><td>9.00</td><td>9.30</td><td>8.90</td><td>9.100</td><td></td><td>16.200</td></tr>
<tr class="one"><td>7</td><td>STANESCU Robert</td><td>ROU</td><td>7.00</td><td>8.90</td><td>9.10</td><td>8.80</td><td>8.90</td><td>8.70</td><td>8.60</td><td>8.825</td><td></td><td>15.825</td></tr>
<tr class="two"><td>8</td><td>IOVTCHEV Iordan</td><td>BUL</td><td>6.80</td><td>9.00</td><td>8.80</td><td>9.00</td><td>8.50</td><td>8.50</td><td>8.60</td><td>8.725</td><td></td><td>15.525</td></tr>
<tr bgcolor="#000000"><td colspan=13></td></tr>
<tr><td colspan=6 align=left><strong>Judges Assignments</strong><br>
A1 LI Jing China<br>
A2 FEDARAU Andrey Belarus<br>
B1 NASSAR Roberto Gomes Brazil<br>
B2 NAM Seungku Korea
</td><td colspan=7 align=left valign=top><br>
B3 COUSSEMENT Alain Mathias Belgium<br>
B4 FETZER Bernd Jorg Germany<br>
B5 DIAZ LOZA Roberto Javier Spain<br>
B6 KENDALL Stephen Paul New Zealand 
</table>
</div>

<a href="documents/mag/ef3sr.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Vault Final Men - 2008 Aug 18</h2>
<div class="table-scroll" tabindex="-1">
	<table class="maa">
	<col width="20" align="right" valign=top>
	<col width="190" valign=top>
	<col width="30" align="center">
	<col width="20" align="center">
<tr class="men"><th colspan=3>Gymnast</th>
	<th>VT</th><th>A</th><th>B</th><th>Pen</th><th>Vault</th><th>Total</th></tr>
<tr class="one"><td rowspan=2>1</td><td rowspan=2>BLANIK Leszek</td><td rowspan=2>POL</td>
	<td>1</td><td>7.00</td><td>9.600</td><td></td><td>16.600</td>
	<td rowspan=2>16.537</td></tr>
	<tr class="one"><td>2</td><td>7.00</td><td>9.475</td><td></td><td>16.475</td></tr>
<tr class="two"><td rowspan=2>2</td><td rowspan=2>BOUHAIL Thomas</td><td rowspan=2>FRA</td>	
	<td>1</td><td>7.00</td><td>9.575</td><td></td><td>16.575</td>
	<td rowspan=2>16.537</td></tr>
	<tr class="two"><td>2</td><td>7.00</td><td>9.500</td><td></td><td>16.500</td></tr>
<tr class="one"><td rowspan=2>3</td><td rowspan=2>GOLOTSUTSKOV Anton</td><td rowspan=2>RUS</td>	
	<td>1</td><td>7.00</td><td>9.500</td><td></td><td>16.500</td>
	<td rowspan=2>16.475</td></tr>
	<tr class="one"><td>2</td><td>7.00</td><td>9.450</td><td></td><td>16.450</td></tr>
<tr class="two"><td rowspan=2>4</td><td rowspan=2>DRAGULESCU Marian</td><td rowspan=2>ROU</td>	
	<td>1</td><td>7.00</td><td>9.800</td><td></td><td>16.800</td>
	<td rowspan=2>16.225</td></tr>
	<tr class="two"><td>2</td><td>7.20</td><td>8.750</td><td>0.3</td><td>15.650</td></tr>
<tr class="one"><td rowspan=2>5</td><td rowspan=2>CARANOBE Benoit</td><td rowspan=2>FRA</td>	
	<td>1</td><td>7.00</td><td>9.375</td><td>0.1</td><td>16.275</td>
	<td rowspan=2>16.062</td></tr>
	<tr class="one"><td>2</td><td>7.00</td><td>8.950</td><td>0.1</td><td>15.850</td></tr>
<tr class="two"><td rowspan=2>6</td><td rowspan=2>KASPEROVICH Dmitry</td><td rowspan=2>BLR</td>	
	<td>1</td><td>7.00</td><td>9.300</td><td></td><td>16.300</td>
	<td rowspan=2>16.050</td></tr>
	<tr class="two"><td>2</td><td>7.00</td><td>8.900</td><td>0.1</td><td>15.800</td></tr>
<tr class="one"><td rowspan=2>7</td><td rowspan=2>KOCZI Flavius</td><td rowspan=2>ROU</td>	
	<td>1</td><td>7.00</td><td>8.800</td><td>0.3</td><td>15.500</td>
	<td rowspan=2>15.925</td></tr>
	<tr class="one"><td>2</td><td>7.00</td><td>9.350</td><td></td><td>16.350</td></tr>
<tr class="two"><td rowspan=2>8</td><td rowspan=2>BOTELLA Isaac</td><td rowspan=2>ESP</td>	
	<td>1</td><td>6.60</td><td>9.475</td><td></td><td>16.075</td>
	<td rowspan=2>15.737</td></tr>
	<tr class="two"><td>2</td><td>6.60</td><td>9.100</td><td>0.3</td><td>15.400</td></tr>
<tr bgcolor="#000000"><td colspan=15></td></tr>
<tr><td colspan=7 align=left><strong>Judges Assignments</strong><br>
A1 GRABOWECKY Christopher John Canada<br>
A2 KOROLEV Yury Russian Fed.<br>
B1 GOTO Yoichi Japan<br>
B2 BERCZI Istvan Ferenc Hungary<br>
B3 TRAVERSO Fulvio Italy 
</td><td colspan=8 align=left valign=top><br>
B4 VUKOJA Mario Croatia<br>
B5 WEY Gwo-Fong Chinese Taipei<br>
B6 PAN Chenfei China<br>
Line 1 YANG Xiaojing China 
</table>
</div>

<a href="documents/mag/ef4vt.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Parallel Bars Final Men - 2008 Aug 19</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="30" align="center" valign=top>
	<col width="200" valign=top>
	<colgroup span=8 align="center" width=40>
	<colgroup span=3 align="center" width=60>
<tr class="men"><th colspan=3>Gymnast</th>
	<th>A</th><th>B1</th><th>B2</th><th>B3</th><th>B4</th><th>B5</th><th>B6</th><th>B</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td>1</td><td>LI Xiaopeng</td><td>CHN</td><td>6.90</td><td>9.50</td><td>9.70</td><td>9.60</td><td>9.50</td><td>9.50</td><td>9.60</td><td>9.550</td><td></td><td>16.450</td></tr>
<tr class="two"><td>2</td><td>YOO Wonchul</td><td>KOR</td><td>7.00</td><td>9.10</td><td>9.30</td><td>9.30</td><td>9.40</td><td>9.10</td><td>9.30</td><td>9.250</td><td></td><td>16.250</td></tr>
<tr class="one"><td>3</td><td>FOKIN Anton</td><td>UZB</td><td>6.80</td><td>9.40</td><td>9.30</td><td>9.50</td><td>9.40</td><td>9.40</td><td>9.40</td><td>9.400</td><td></td><td>16.200</td></tr>
<tr class="two"><td>4</td><td>HAMBUECHEN Fabian</td><td>GER</td><td>6.90</td><td>9.30</td><td>9.10</td><td>9.10</td><td>8.80</td><td>9.00</td><td>9.10</td><td>9.075</td><td></td><td>15.975</td></tr>
<tr class="one"><td>5</td><td>PETKOVSEK Mitja</td><td>SLO</td><td>6.80</td><td>9.00</td><td>9.00</td><td>8.90</td><td>8.90</td><td>8.90</td><td>8.90</td><td>8.925</td><td></td><td>15.725</td></tr>
<tr class="two"><td>6</td><td>HUANG Xu</td><td>CHN</td><td>7.00</td><td>8.50</td><td>8.90</td><td>8.90</td><td>8.70</td><td>8.70</td><td>8.40</td><td>8.700</td><td></td><td>15.700</td></tr>
<tr class="one"><td>7</td><td>YANG Taeyoung</td><td>KOR</td><td>7.00</td><td>8.60</td><td>8.90</td><td>8.50</td><td>8.80</td><td>8.60</td><td>8.60</td><td>8.650</td><td></td><td>15.650</td></tr>
<tr class="two"><td>8</td><td>KRYUKOV Nikolay</td><td>RUS</td><td>6.70</td><td>8.70</td><td>8.50</td><td>8.40</td><td>8.50</td><td>8.40</td><td>8.10</td><td>8.450</td><td></td><td>15.150</td></tr>
<tr bgcolor="#000000"><td colspan=13></td></tr>
<tr><td colspan=6 align=left><strong>Judges Assignments</strong><br>
A1 APOLZAN Mircea Dumitru Romania<br>
A2 MACCHIA Alain France<br>
B1 TOTH Josef Austria<br>
B2 THOMSON Jeffrey Willard Canada<br>
B3 HADJI Mohamed Smail Algeria 
</td><td colspan=7 align=left valign=top><br>
B4 KARASIK Feliks Belarus<br>
B5 BONET VALENTIN Raul A Puerto Rico<br>
B6 REIMERING Vincent Harold Netherlands<br>
Timer 1 HUANG Long China 
</table>
</div>

<a href="documents/mag/ef5pb.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Horizontal Bar Final Men - 2008 Aug 19</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="30" align="center" valign=top>
	<col width="200" valign=top>
	<colgroup span=8 align="center" width=40>
	<colgroup span=3 align="center" width=60>
<tr class="men"><th colspan=3>Gymnast</th>
	<th>A</th><th>B1</th><th>B2</th><th>B3</th><th>B4</th><th>B5</th><th>B6</th><th>B</th><th>Pen</th><th>Score</th></tr>
<tr class="one"><td>1</td><td>ZOU Kai</td><td>CHN</td><td>7.20</td><td>8.80</td><td>9.20</td><td>8.70</td><td>9.10</td><td>9.00</td><td>9.10</td><td>9.000</td><td></td><td>16.200</td></tr>
<tr class="two"><td>2</td><td>HORTON Jonathan</td><td>USA</td><td>6.90</td><td>9.10</td><td>9.30</td><td>9.30</td><td>9.30</td><td>9.20</td><td>9.30</td><td>9.275</td><td></td><td>16.175</td></tr>
<tr class="one"><td>3</td><td>HAMBUECHEN Fabian</td><td>GER</td><td>6.80</td><td>9.00</td><td>9.10</td><td>9.00</td><td>9.20</td><td>9.00</td><td>9.30</td><td>9.075</td><td></td><td>15.875</td></tr>
<tr class="two"><td>4</td><td>CASSINA Igor</td><td>ITA</td><td>6.60</td><td>9.00</td><td>8.90</td><td>9.00</td><td>9.20</td><td>9.10</td><td>9.20</td><td>9.075</td><td></td><td>15.675</td></tr>
<tr class="one"><td>5</td><td>NAKASE Takuya</td><td>JPN</td><td>6.60</td><td>8.90</td><td>9.00</td><td>8.80</td><td>8.90</td><td>8.80</td><td>8.70</td><td>8.850</td><td></td><td>15.450</td></tr>
<tr class="two"><td>6</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>6.60</td><td>8.80</td><td>8.70</td><td>8.20</td><td>8.60</td><td>8.60</td><td>8.60</td><td>8.625</td><td></td><td>15.225</td></tr>
<tr class="one"><td>7</td><td>ZONDERLAND Epke</td><td>NED</td><td>6.50</td><td>8.60</td><td>8.60</td><td>8.30</td><td>8.50</td><td>8.60</td><td>8.00</td><td>8.500</td><td></td><td>15.000</td></tr>
<tr class="two"><td>8</td><td>CUCHERAT Yann</td><td>FRA</td><td>6.50</td><td>8.50</td><td>8.50</td><td>8.30</td><td>8.10</td><td>8.40</td><td>7.80</td><td>8.325</td><td></td><td>14.825</td></tr>
<tr bgcolor="#000000"><td colspan=13></td></tr>
<tr><td colspan=6 align=left><strong>Judges Assignments</strong><br>
A1 ALBRECHT Gerhard Holger Germany<br>
A2 KIM Dae Won Korea<br>
B1 ALFOSOV Valery Russian Fed.<br>
B2 PROVIAS Nikolaos Greece 
</td><td colspan=7 align=left valign=top><br>
B3 KUKSENKOV Yuliy Ukraine<br>
B4 BRICKNER Rafael Shalom Israel<br>
B5 MORA LOAIZA Juan Manuel Venezuela<br>
B6 WOLFE Daren Bruce Australia 
</table>
</div>

<a href="documents/mag/ef6hb.pdf" target="_blank" class="pdf">Official Results</a>
