---
title: "Beijing 2008 Olympics Men's All Around Qualifications"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
homepage: false
redirect_from: /olympics/2008/magaaqual.html
---
	
{% include resultsheader.html title="Games of the 29th Olympiad<br>Men's Artistic Gymnastics<br>Beijing (CHN) August 8-24, 2008<br>All Around Qualifications" %}

<a href="/results/2008/olympics/index.html"><img src="/assets/images/logos/lg2008og.jpg"></a>

<h2 class="men">All-Around Qualification Men - Aug 09 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="200">
	<col width="40" align="center">
	<colgroup span=6 align="center" width=60>
	<colgroup align="center" width=70>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>YANG Wei</td><td>CHN</td><td>15.400</td><td>15.425</td><td>16.225</td><td>16.550</td><td>15.350</td><td>14.925</td><td>93.875 Q</td></tr>
<tr class="two"><td>2</td><td>HAMBUECHEN Fabian</td><td>GER</td><td>15.800</td><td>13.100</td><td>14.975</td><td>16.300</td><td>16.050</td><td>16.200</td><td>92.425 Q</td></tr>
<tr class="one"><td>3</td><td>KIM Daeeun</td><td>KOR</td><td>15.500</td><td>14.725</td><td>15.450</td><td>16.050</td><td>16.050</td><td>14.625</td><td>92.400 Q</td></tr>
<tr class="two"><td>4</td><td>UCHIMURA Kohei</td><td>JPN</td><td>15.725</td><td>14.100</td><td>14.675</td><td>16.200</td><td>16.025</td><td>15.325</td><td>92.050 Q</td></tr>
<tr class="one"><td>5</td><td>SAKAMOTO Koki</td><td>JPN</td><td>14.950</td><td>14.925</td><td>15.525</td><td>16.200</td><td>15.625</td><td>14.725</td><td>91.950 Q</td></tr>
<tr class="two"><td>6</td><td>TOMITA Hiroyuki</td><td>JPN</td><td>15.175</td><td>15.175</td><td>15.025</td><td>15.200</td><td>15.775</td><td>15.550</td><td>91.900</td></tr>
<tr class="one"><td>7</td><td>KHOROKHORDIN Sergey</td><td>RUS</td><td>14.975</td><td>14.800</td><td>15.075</td><td>15.725</td><td>15.875</td><td>15.350</td><td>91.800 Q</td></tr>
<tr class="two"><td>8</td><td>HORTON Jonathan</td><td>USA</td><td>15.350</td><td>13.925</td><td>15.325</td><td>15.950</td><td>15.525</td><td>15.575</td><td>91.650 Q</td></tr>
<tr class="one"><td>9</td><td>CHEN Yibing</td><td>CHN</td><td>14.725</td><td>14.475</td><td>16.525</td><td>16.275</td><td>15.075</td><td>14.525</td><td>91.600 Q</td></tr>
<tr class="two"><td>10</td><td>CARANOBE Benoit</td><td>FRA</td><td>15.125</td><td>14.250</td><td>15.100</td><td>16.500</td><td>15.275</td><td>14.675</td><td>90.925 Q</td></tr>
<tr class="one"><td>11</td><td>MARTINEZ Rafael</td><td>ESP</td><td>15.550</td><td>14.800</td><td>14.325</td><td>15.750</td><td>15.100</td><td>15.275</td><td>90.800 Q</td></tr>
<tr class="two"><td>12</td><td>SAVITSKI Dmitry</td><td>BLR</td><td>14.375</td><td>14.525</td><td>15.175</td><td>16.300</td><td>15.700</td><td>14.575</td><td>90.650 Q</td></tr>
<tr class="one"><td>13</td><td>RIVERA RIVERA Luis</td><td>PUR</td><td>15.125</td><td>14.750</td><td>15.250</td><td>16.225</td><td>14.575</td><td>14.675</td><td>90.600 Q</td></tr>
<tr class="two"><td>14</td><td>DEVYATOVSKIY Maxim</td><td>RUS</td><td> 15.300</td><td>13.300</td><td>15.375</td><td>15.825</td><td>15.425</td><td>15.125</td><td>90.350 Q</td></tr>
<tr class="one"><td>15</td><td>FUENTES BUSTAMANTE Jose Luis</td><td>VEN</td><td>14.150</td><td>15.525</td><td>14.850</td><td>15.675</td><td>15.375</td><td>14.750</td><td>90.325 Q</td></tr>
<tr class="two"><td>16</td><td>KOCZI Flavius</td><td>ROU</td><td>15.125</td><td>14.400</td><td>13.950</td><td>16.600</td><td>15.075</td><td>15.025</td><td>90.175 Q</td></tr>
<tr class="one"><td>17</td><td>RYAZANOV Yury</td><td>RUS</td><td>14.600</td><td>14.450</td><td>15.100</td><td>15.550</td><td>15.625</td><td>14.800</td><td>90.125</td></tr>
<tr class="two"><td>18</td><td>KIM Soomyun</td><td>KOR</td><td>15.575</td><td>13.800</td><td>14.175</td><td>16.025</td><td>15.350</td><td>14.975</td><td>89.900 Q</td></tr>
<tr class="one"><td>19</td><td>ARTEMEV Alexander</td><td>USA</td><td>14.875</td><td>15.250</td><td>13.675</td><td>15.825</td><td>15.175</td><td>14.925</td><td>89.725 Q</td></tr>
<tr class="two"><td>20</td><td>GAFUIK Nathan</td><td>CAN</td><td>15.225</td><td>13.800</td><td>14.250</td><td>16.175</td><td>15.450</td><td>14.825</td><td>89.725 Q</td></tr>
<tr class="one"><td>21</td><td>BOY Philipp</td><td>GER</td><td>14.450</td><td>14.675</td><td>14.650</td><td>16.200</td><td>15.125</td><td>14.375</td><td>89.475 Q</td></tr>
<tr class="two"><td>22</td><td>YANG Taeyoung</td><td>KOR</td><td>13.850</td><td>15.000</td><td>14.875</td><td>16.000</td><td>16.100</td><td>13.475</td><td>89.300</td></tr>
<tr class="one"><td>23</td><td>FOKIN Anton</td><td>UZB</td><td>14.325</td><td>14.725</td><td>14.825</td><td>15.625</td><td>16.150</td><td>13.625</td><td>89.275 Q</td></tr>
<tr class="two"><td>24</td><td>WONG Adam</td><td>CAN</td><td>14.900</td><td>14.375</td><td>14.500</td><td>15.650</td><td>15.125</td><td>14.575</td><td>89.125 Q</td></tr>
<tr class="one"><td>25</td><td>KEATINGS Daniel</td><td>GBR</td><td>14.900</td><td>15.175</td><td>13.775</td><td>15.625</td><td>14.900</td><td>14.575</td><td>88.950 Q</td></tr>
<tr class="two"><td>26</td><td>POZZO Enrico</td><td>Italy</td><td>14.800</td><td>14.325</td><td>14.250</td><td>15.700</td><td>14.750</td><td>14.850</td><td>88.675 Q</td></tr>
<tr class="one"><td>27</td><td>BOUHAIL Thomas</td><td>FRA</td><td>15.125</td><td>13.850</td><td>13.700</td><td>16.625</td><td>14.675</td><td>14.575</td><td>88.550 Q</td></tr>
<tr class="two"><td>28</td><td>KARBANENKO Dimitri</td><td>FRA</td><td>14.050</td><td>13.700</td><td>13.675</td><td>16.125</td><td>15.500</td><td>15.450</td><td>88.500</td></tr>
<tr class="one"><td>29</td><td>SHATILOV Alexandr</td><td>ISR</td><td>15.600</td><td>13.825</td><td>14.075</td><td>15.575</td><td>14.500</td><td>14.225</td><td>87.800 R</td></tr>
<tr class="two"><td>30</td><td>SABOT Hamilton</td><td>FRA</td><td>14.575</td><td>14.025</td><td>14.375</td><td>15.400</td><td>15.400</td><td>13.975</td><td>87.750</td></tr>
<tr class="one"><td>31</td><td>MORANDI Matteo</td><td>Italy</td><td>14.175</td><td>13.700</td><td>16.025</td><td>16.100</td><td>13.725</td><td>13.850</td><td>87.575 R</td></tr>
<tr class="two"><td>32</td><td>POPESCU Daniel</td><td>ROU</td><td>14.575</td><td>14.500</td><td>13.975</td><td>16.400</td><td>14.525</td><td>13.325</td><td>87.300 R</td></tr>
<tr class="one"><td>33</td><td>SAVENKOV Denis</td><td>BLR</td><td>14.525</td><td>13.525</td><td>13.750</td><td>15.675</td><td>14.800</td><td>14.750</td><td>87.025 R</td></tr>
<tr class="two"><td>34</td><td>KIM Seungil</td><td>KOR</td><td>14.975</td><td>14.550</td><td>14.325</td><td>15.650</td><td>15.325</td><td>12.175</td><td>87.000</td></tr>
<tr class="one"><td>35</td><td>CAPELLI Claudio</td><td>SUI</td><td>13.600</td><td>14.475</td><td>14.375</td><td>15.325</td><td>14.100</td><td>14.675</td><td>86.550</td></tr>
<tr class="two"><td>36</td><td>BUCUR Adrian</td><td>ROU</td><td>14.725</td><td>12.525</td><td>14.950</td><td>15.700</td><td>14.825</td><td>13.750</td><td>86.475</td></tr>
<tr class="one"><td>37</td><td>PALGEN Sascha</td><td>LUX</td><td>15.200</td><td>13.000</td><td>14.325</td><td>15.725</td><td>14.225</td><td>13.600</td><td>86.075</td></tr>
<tr class="two"><td>38</td><td>SELARIU Razvan</td><td>ROU</td><td>15.400</td><td>14.075</td><td>15.175</td><td>12.900</td><td>14.950</td><td>13.475</td><td>85.975</td></tr>
<tr class="one"><td>39</td><td>SIMPSON Sam</td><td>AUS</td><td>14.550</td><td>14.000</td><td>13.800</td><td>15.600</td><td>14.200</td><td>13.475</td><td>85.625</td></tr>
<tr class="two"><td>40</td><td>MUNOZ Sergio</td><td>ESP</td><td>14.575</td><td>12.700</td><td>15.150</td><td>16.100</td><td>13.675</td><td>13.300</td><td>85.500</td></tr>
<tr class="one"><td>41</td><td>SMITH Louis</td><td>GBR</td><td>13.700</td><td>15.325</td><td>13.325</td><td>15.375</td><td>13.425</td><td>14.175</td><td>85.325</td></tr>
<tr class="two"><td>42</td><td>GIRALDO Jorge Hugo</td><td>COL</td><td>14.200</td><td>13.350</td><td>13.950</td><td>15.150</td><td>14.025</td><td>13.975</td><td>84.650</td></tr>
<tr class="one"><td>43</td><td>Van DAMME Koen</td><td>BEL</td><td>12.575</td><td>14.200</td><td>14.325</td><td>14.450</td><td>14.600</td><td>14.475</td><td>84.625</td></tr>
<tr class="two"><td>44</td><td>SROUR Mohamed</td><td>EGY</td><td>13.450</td><td>13.250</td><td>12.675</td><td>15.325</td><td>12.375</td><td>14.125</td><td>81.200</td></tr>
<tr class="one"><td>45</td><td>LI Xiaopeng</td><td>CHN</td><td>15.100</td><td></td><td>14.800</td><td>16.775</td><td>16.425</td><td>15.400</td><td>78.500</td></tr>
<tr class="two"><td>46</td><td>XIAO Qin</td><td>CHN</td><td>14.375</td><td>16.000</td><td></td><td>15.725</td><td>15.450</td><td>15.150</td><td>76.700</td></tr>
<tr class="one"><td>47</td><td>KASPEROVICH Dmitry</td><td>BLR</td><td>14.675</td><td></td><td>15.275</td><td>16.500</td><td>15.525</td><td>14.250</td><td>76.225</td></tr>
<tr class="two"><td>48</td><td>NAKASE Takuya</td><td>JPN</td><td>15.500</td><td>14.075</td><td>15.275</td><td></td><td>15.725</td><td>15.450</td><td>76.025</td></tr>
<tr class="one"><td>49</td><td>NGUYEN Marcel</td><td>GER</td><td>15.425</td><td></td><td>14.850</td><td>16.225</td><td>14.875</td><td>14.450</td><td>75.825</td></tr>
<tr class="two"><td>50</td><td>HAGERTY Joey</td><td>USA</td><td>15.275</td><td>13.925</td><td></td><td>15.700</td><td>15.350</td><td>15.400</td><td>75.650</td></tr>
<tr class="one"><td>51</td><td>SPRING Justin</td><td>USA</td><td>14.400</td><td></td><td>14.175</td><td>15.900</td><td>15.800</td><td>15.375</td><td>75.650</td></tr>
<tr class="two"><td>52</td><td>BHAVSAR Raj</td><td>USA</td><td>14.175</td><td>14.050</td><td>15.325</td><td>16.175</td><td>15.625</td><td></td><td>75.350</td></tr>
<tr class="one"><td>53</td><td>SPIRIDONOV Evgenij</td><td>GER</td><td>15.025</td><td>14.475</td><td></td><td>15.650</td><td>15.450</td><td>14.400</td><td>75.000</td></tr>
<tr class="two"><td>54</td><td>KIKUCHI David</td><td>CAN</td><td></td><td>14.175</td><td>15.200</td><td>15.575</td><td>15.150</td><td>14.200</td><td>74.300</td></tr>
<tr class="one"><td>55</td><td>SAN MIGUEL Ivan</td><td>ESP</td><td></td><td>13.775</td><td>15.200</td><td>16.050</td><td>14.375</td><td>14.525</td><td>73.925</td></tr>
<tr class="two"><td>56</td><td>JUCKEL Robert</td><td>GER</td><td>14.850</td><td>14.850</td><td>14.425</td><td>15.050</td><td></td><td>14.750</td><td>73.925</td></tr>
<tr class="one"><td>57</td><td>GOLOTSUTSKOV Anton</td><td>RUS</td><td>15.600</td><td>12.325</td><td>15.075</td><td>16.550</td><td></td><td>14.300</td><td>73.850</td></tr>
<tr class="two"><td>58</td><td>CARBALLO Manuel</td><td>ESP</td><td>14.650</td><td>14.475</td><td>14.900</td><td></td><td>15.275</td><td>13.025</td><td>72.325</td></tr>
<tr class="one"><td>59</td><td>COPPOLINO Andrea</td><td>ITA</td><td>14.025</td><td>12.925</td><td>15.975</td><td>14.825</td><td>13.675</td><td></td><td>71.425</td></tr>
<tr class="two"><td>60</td><td>KRYUKOV Nikolay</td><td>RUS</td><td></td><td>14.850</td><td></td><td>16.200</td><td>16.175</td><td>15.050</td><td>62.275</td></tr>
<tr class="one"><td>61</td><td>KASHIMA Takehiro</td><td>JPN</td><td></td><td>14.425</td><td></td><td>15.975</td><td>15.550</td><td>15.150</td><td>61.100</td></tr>
<tr class="two"><td>62</td><td>KIM Jihoon</td><td>KOR</td><td>14.975</td><td>15.175</td><td></td><td>15.650</td><td></td><td>14.525</td><td>60.325</td></tr>
<tr class="one"><td>63</td><td>SHEWFELT Kyle</td><td>CAN</td><td>15.525</td><td></td><td>13.925</td><td>16.350</td><td></td><td>14.250</td><td>60.050</td></tr>
<tr class="two"><td>64</td><td>ANGIOLETTI Matteo</td><td>ITA</td><td>14.250</td><td></td><td>15.625</td><td>16.500</td><td></td><td>13.575</td><td>59.950</td></tr>
<tr class="one"><td>65</td><td>GOLDING Grant</td><td>CAN</td><td>14.850</td><td>14.125</td><td>15.275</td><td></td><td>15.450</td><td></td><td>59.700</td></tr>
<tr class="two"><td>66</td><td>BOTELLA Isaac</td><td>ESP</td><td>14.975</td><td>13.600</td><td>14.900</td><td>16.050</td><td></td><td></td><td>59.525</td></tr>
<tr class="one"><td>67</td><td>DEFERR Gervasio</td><td>ESP</td><td>15.825</td><td></td><td></td><td>15.075</td><td>14.600</td><td>13.725</td><td>59.225</td></tr>
<tr class="two"><td>68</td><td>TSAREVICH Aleksandr</td><td>BLR</td><td>14.300</td><td>14.450</td><td></td><td></td><td>15.175</td><td>14.850</td><td>58.775</td></tr>
<tr class="one"><td>69</td><td>BUSNARI Alberto</td><td>ITA</td><td>13.525</td><td>15.125</td><td></td><td></td><td>14.625</td><td>14.375</td><td>57.650</td></tr>
<tr class="two"><td>70</td><td>KOZLOV Igor</td><td>BLR</td><td>14.025</td><td>12.675</td><td>14.925</td><td>15.275</td><td>0.000</td><td></td><td>56.900</td></tr>
<tr class="one"><td>71</td><td>DRAGULESCU Marian</td><td>ROU</td><td>15.925</td><td></td><td></td><td>16.625</td><td></td><td>14.800</td><td>47.350</td></tr>
<tr class="two"><td>72</td><td>ZOU Kai</td><td>CHN</td><td>15.700</td><td></td><td></td><td>15.700</td><td></td><td>15.600</td><td>47.000</td></tr>
<tr class="one"><td>73</td><td>HUANG Xu</td><td>CHN</td><td></td><td>15.300</td><td>15.300</td><td></td><td>16.075</td><td></td><td>46.675</td></tr>
<tr class="two"><td>74</td><td>O'NEILL Brandon</td><td>CAN</td><td>3.450</td><td>12.475</td><td></td><td>15.150</td><td>14.900</td><td>0.000</td><td>45.975</td></tr>
<tr class="one"><td>75</td><td>ANDERGASSEN Thomas</td><td>GER</td><td></td><td>14.900</td><td>15.525</td><td></td><td>14.675</td><td></td><td>45.100</td></tr>
<tr class="two"><td>76</td><td>TAN Kai Wen</td><td>USA</td><td></td><td>14.100</td><td>15.725</td><td></td><td></td><td>14.425</td><td>44.250</td></tr>
<tr class="one"><td>77</td><td>CASSINA Igor</td><td>ITA</td><td></td><td>13.800</td><td></td><td>0.000</td><td>14.125</td><td>16.000</td><td>43.925</td></tr>
<tr class="two"><td>78</td><td>STANESCU Robert</td><td>ROU</td><td></td><td>12.925</td><td>15.750</td><td></td><td>15.200</td><td></td><td>43.875</td></tr>
<tr class="one"><td>79</td><td>PLUZHNIKOV Konstantin</td><td>RUS</td><td>14.450</td><td></td><td>14.275</td><td></td><td>14.950</td><td></td><td>43.675</td></tr>
<tr class="two"><td>80</td><td>PINHEIRO RODRIGUES Danny</td><td>FRA</td><td>14.200</td><td>13.400</td><td>15.800</td><td></td><td></td><td></td><td>43.400</td></tr>
<tr class="one"><td>81</td><td>AL-HARAZI Nashwan</td><td>YEM</td><td>13.250</td><td>12.525</td><td></td><td>15.400</td><td></td><td></td><td>41.175</td></tr>
<tr class="two"><td>82</td><td>GAL Robert</td><td>HUN</td><td>13.425</td><td>13.225</td><td></td><td></td><td>12.900</td><td></td><td>39.550</td></tr>
<tr class="one"><td>83</td><td>HYPOLITO Diego</td><td>BRA</td><td>15.950</td><td></td><td></td><td>16.100</td><td></td><td></td><td>32.050</td></tr>
<tr class="two"><td>84</td><td>CUCHERAT Yann</td><td>FRA</td><td></td><td></td><td></td><td></td><td>16.000</td><td>15.850</td><td>31.850</td></tr>
<tr class="one"><td>85</td><td>YOO Wonchul</td><td>KOR</td><td></td><td></td><td>15.575</td><td></td><td>16.150</td><td></td><td>31.725</td></tr>
<tr class="two"><td>86</td><td>OKIGUCHI Makoto</td><td>JPN</td><td>15.275</td><td></td><td></td><td>15.750</td><td></td><td></td><td>31.025</td></tr>
<tr class="one"><td>87</td><td>UDE Filip</td><td>CRO</td><td>14.775</td><td>15.475</td><td></td><td></td><td></td><td></td><td>30.250</td></tr>
<tr class="two"><td>88</td><td>MARAS Vlasios</td><td>GRE</td><td></td><td></td><td></td><td>15.925</td><td></td><td>13.975</td><td>29.900</td></tr>
<tr class="one"><td>89</td><td>GONCHAROV Valeriy</td><td>UKR</td><td></td><td></td><td></td><td></td><td>16.000</td><td>13.850</td><td>29.850</td></tr>
<tr class="two"><td>90</td><td>GIORGADZE Ilia</td><td>GEO</td><td>14.625</td><td></td><td></td><td></td><td>15.150</td><td></td><td>29.775</td></tr>
<tr class="one"><td>91</td><td>SCHARER Christoph</td><td>SUI</td><td></td><td>13.150</td><td></td><td></td><td></td><td>15.350</td><td>28.500</td></tr>
<tr class="two"><td>92</td><td>IGNATOVICH Aleksei</td><td>BLR</td><td></td><td>15.075</td><td>0.000</td><td>0.000</td><td></td><td>13.000</td><td>28.075</td></tr>
<tr class="one"><td>93</td><td>KONECNY Martin</td><td>CZE</td><td></td><td>13.650</td><td></td><td></td><td></td><td>13.125</td><td>26.775</td></tr>
<tr class="two"><td>94</td><td>BLANIK Leszek</td><td>POL</td><td></td><td></td><td></td><td>16.700</td><td></td><td></td><td>16.700</td></tr>
<tr class="one"><td>95</td><td>IOVTCHEV Iordan</td><td>BUL</td><td></td><td></td><td>16.275</td><td></td><td></td><td></td><td>16.275</td></tr>
<tr class="two"><td>96</td><td>VOROBIOV Oleksandr</td><td>UKR</td><td></td><td></td><td>16.250</td><td></td><td></td><td></td><td>16.250</td></tr>
<tr class="one"><td>97</td><td>PETKOVSEK Mitja</td><td>SLO</td><td></td><td></td><td></td><td></td><td>16.125</td><td></td><td>16.125</td></tr>
<tr class="two"><td>98</td><td>ZONDERLAND Epke</td><td>NED</td><td></td><td></td><td></td><td></td><td></td><td>15.750</td><td>15.750</td></tr>
</table>
</div>

<a href="documents/beijing2008magaaq.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/magqstartlist.pdf" target="_blank" class="pdf">Start List</a>
