---
title: "Beijing 2008 Olympics Men's Team Qualifications"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
homepage: false
redirect_from: /olympics/2008/magteamsqual.html
---
	
{% include resultsheader.html title="Games of the 29th Olympiad<br>Men's Artistic Gymnastics<br>Beijing (CHN) August 8-24, 2008<br>Team Qualifications" %}

<a href="/results/2008/olympics/index.html"><img src="/assets/images/logos/lg2008og.jpg"></a>

<h2 class="men">Teams Qualification Men - 2008 Aug 9</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="40" align="center">
	<col width="180">
	<col width="40" align="center">
	<colgroup span=7 align="center" width=70>
<tr class="men">
	<th colspan=3>Team</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>China</td><td>CHN</td><td>60.925 (6)</td><td>61.200 (1)</td><td>62.850 (1)</td><td>65.325 (1)</td><td>63.300 (2)</td><td>61.075 (3)</td><td>374.675  Q</td></tr>
<tr class="two"><td>2</td><td>Japan</td><td>JPN</td><td>61.675 (1)</td><td>58.625 (4)</td><td>60.500 (5)</td><td>64.125 (6)</td><td>63.150 (3)</td><td>61.475 (1)</td><td>369.550  Q</td></tr>
<tr class="one"><td>3</td><td>Russian Fed.</td><td>RUS</td><td>60.475 (8)</td><td>57.400 (6)</td><td>60.625 (3)</td><td>64.300 (5)</td><td>63.100 (4)</td><td>60.325 (5)</td><td>366.225  Q</td></tr>
<tr class="two"><td>4</td><td>Korea</td><td>KOR</td><td>61.025 (4)</td><td>59.450 (2)</td><td>60.225 (6)</td><td>63.725 (11)</td><td>63.650 (1)</td><td>57.600 (10)</td><td>365.675  Q</td></tr>
<tr class="one"><td>5</td><td>Germany</td><td>GER</td><td>61.100 (3)</td><td>58.900 (3)</td><td>60.000 (8)</td><td>64.375 (4)</td><td>61.500 (7)</td><td>59.800 (6)</td><td>365.675  Q</td></tr>
<tr class="two"><td>6</td><td>United States</td><td>USA</td><td>59.900 (9)</td><td>57.325 (7)</td><td>60.550 (4)</td><td>63.850 (8)</td><td>62.300 (5)</td><td>61.275 (2)</td><td>365.200  Q</td></tr>
<tr class="one"><td>7</td><td>France</td><td>FRA</td><td>59.025 (10)</td><td>55.825 (12)</td><td>58.975 (12)</td><td>64.650 (3)</td><td>62.175 (6)</td><td>60.550 (4)</td><td>361.200  Q</td></tr>
<tr class="two"><td>8</td><td>Romania</td><td>ROU</td><td>61.175 (2)</td><td>55.900 (11)</td><td>59.850 (9)</td><td>65.325 (1)</td><td>60.050 (10)</td><td>57.050 (11)</td><td>359.350  Q</td></tr>
<tr class="one"><td>9</td><td>Canada</td><td>CAN</td><td>60.500 (7)</td><td>56.475 (10)</td><td>59.225 (10)</td><td>63.750 (9)</td><td>61.175 (9)</td><td>57.850 (9)</td><td>358.975</td></tr>
<tr class="two"><td>10</td><td>Belarus</td><td>BLR</td><td>57.875 (11)</td><td>57.575 (5)</td><td>59.125 (11)</td><td>63.750 (9)</td><td>61.200 (8)</td><td>58.425 (8)</td><td>357.950</td></tr>
<tr class="one"><td>11</td><td>Spain</td><td>ESP</td><td>61.000 (5)</td><td>56.650 (9)</td><td>60.150 (7)</td><td>63.950 (7)</td><td>59.350 (11)</td><td>56.825 (12)</td><td>357.925</td></tr>
<tr class="two"><td>12</td><td>Italy</td><td>ITA</td><td>57.250 (12)</td><td>56.950 (8)</td><td>61.875 (2)</td><td>63.125 (12)</td><td>57.225 (12)</td><td>59.075 (7)</td><td>355.500</td></tr>
</table>

<a href="documents/mag/teamsqual.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/mag/teamsqualdetail.pdf" target="_blank" class="pdf">Official Results - Detailed</a>

