---
title: "Beijing 2008 Olympics Rhythmic Gymnastics"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2008/olympics2008rg.html
- /2008/olympics2008rgq.html
- /2008/olympics2008rgg.html
- /2008/olympics2008rggq.html
---
	
{% include resultsheader.html title="Games of the 29th Olympiad<br>Beijing (CHN) August 8-24, 2008<br>Rhythmic Gymnastics" %}

<a href="/results/2008/olympics/index.html"><img src="/assets/images/logos/lg2008og.jpg"></a>

<h2 class="wom">Rhythmic Gymnastics - All Around Final - Aug 23 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="25" align="right" valign=top>
	<col width="150" valign=top>
	<colgroup span=13 align="center" width="45" valign=top>
<tr class="wom"><th colspan=4>Gymnast</th>
	<th colspan=2>Rope</th><th colspan=2>Hoop</th><th colspan=2>Clubs</th><th colspan=2>Ribbon</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>KANAEVA Evgeniya</td><td>RUS</td><td>D<br>A<br>E</td><td>9.300<br>9.400<br>9.500</td><td>18.850 (1)</td>
	<td>9.200<br>9.500<br>9.500</td><td>18.850 (1)</td><td>9.400<br>9.500<br>9.500</td><td>18.950 (1)</td>
	<td>9.300<br>9.500<br>9.500</td><td>18.850 (1)<br>0.05</td><td> 75.500</td></tr>
<tr class="two"><td>2</td><td>ZHUKOVA Inna</td><td>BLR</td><td>D<br>A<br>E</td><td>9.000<br>9.050<br>9.100</td><td>18.125 (3)</td>
	<td>8.800<br>9.150<br>9.150</td><td>18.125 (3)</td><td>8.600<br>9.000<br>9.050</td><td>17.850 (3)</td>
	<td>8.300<br>9.150<br>9.100</td><td>17.825 (4)</td><td>71.925</td></tr>
<tr class="one"><td>3</td><td>BESSONOVA Anna</td><td>UKR</td><td> D<br>A<br>E</td><td>8.900<br>9.350<br>8.850</td><td>17.975 (4)</td>
	<td>8.200<br>9.250<br>9.050</td><td>17.775 (5)</td><td>8.200<br>9.500<br>9.050</td><td>17.900 (2)</td>
	<td>8.700<br>9.450<br>9.150</td><td>18.225 (2)</td><td>71.875</td></tr>
<tr class="two"><td>4</td><td>KAPRANOVA Olga</td><td>RUS</td><td>D<br>A<br>E</td><td>9.100<br>9.100<br>9.200</td><td>18.200 (2)<br>0.10</td>
	<td> 9.000<br>9.400<br>9.300</td><td>18.500 (2)</td><td>8.100<br>8.800<br>8.500</td><td>16.950 (8)</td>
	<td>8.300<br>9.200<br>9.300</td><td>18.050 (3)</td><td>71.700</td></tr>
<tr class="one"><td>5</td><td>YUSSUPOVA Aliya</td><td>KAZ</td><td>D<br>A<br>E</td><td>8.800<br>8.950<br>8.950</td><td>17.825 (5)</td>
	<td>8.300<br>8.950<br>9.000</td><td>17.625 (6)</td><td>8.200<br>9.000<br>9.050</td><td>17.650 (4)</td>
	<td>7.200<br>8.700<br>8.750</td><td>16.700 (7)</td><td>69.800</td></tr>
<tr class="two"><td>6</td><td>GARAYEVA Aliya</td><td>AZE</td><td>D<br>A<br>E</td><td>9.000<br>8.800<br>8.850</td><td>17.750 (6)</td>
	<td>9.000<br>8.950<br>9.100</td><td>18.075 (4)</td><td>7.800<br>8.850<br>8.900</td><td>17.225 (6)</td>
	<td>7.000<br>8.750<br>8.750</td><td>16.625 (8)</td><td>69.675</td></tr>
<tr class="one"><td>7</td><td>GODUNKO Natalia</td><td>UKR</td><td> D<br>A<br>E</td><td>8.300<br>8.800<br>8.350</td><td>16.700 (8)<br>0.20</td>
	<td> 8.700<br>8.800<br>8.750</td><td>17.500 (7)</td><td>8.500<br>8.950<br>8.800</td><td>17.525 (5)</td>
	<td>8.000<br>8.850<br>8.700</td><td>17.125 (5)</td><td>68.850</td></tr>
<tr class="two"><td>8</td><td>CID Almudena</td><td>ESP</td><td>D<br>A<br>E</td><td>8.000<br>8.800 8.600</td><td>17.000 (7)</td>
	<td>8.000<br>8.800<br>8.600</td><td>17.000 (9)</td><td>8.100<br>8.900<br>8.650</td><td>17.150 (7)</td>
	<td>7.800<br>8.800<br>8.650</td><td>16.950 (6)</td><td>68.100</td></tr>
<tr class="one"><td>9</td><td>RISENZON Irina</td><td>ISR</td><td>D<br>A<br>E</td><td>7.350<br>8.550<br>8.450</td><td>16.350 (9)<br>0.05</td>
	<td>7.900<br>8.750<br>8.700</td><td>17.025 (8)</td><td>8.100<br>8.600<br>8.500</td><td>16.850 (9)</td>
	<td>7.000<br>8.700<br>8.700</td><td>16.550 (9)</td><td>66.775</td></tr>
<tr class="two"><td>10</td><td>PEYCHEVA Simona</td><td>BUL</td><td> D<br>A<br>E</td><td>8.200<br>8.150<br>8.000</td><td>15.975 (10)<br>0.20</td>
	<td> 8.000<br>8.750<br>8.650</td><td>16.975 (10)<br>0.05</td><td> 8.400<br>8.750<br>8.200</td><td>16.775 (10)</td>
	<td>7.300<br>8.200<br>8.000</td><td>15.750 (10)</td><td>65.475</td></tr>
</table>
</div>

<a href="documents/beijing2008rg.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Rhythmic Gymnastics - Groups Final - Aug 24 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="25" align="right" valign=top>
	<col width="150" valign=top>
	<colgroup span=2 width="40" align=center valign=top>
	<colgroup span=5 align="center" width="85" valign=top>
<tr class="wom"><th colspan=4>Team</th>
	<th colspan=2>5 ropes</th><th colspan=2>3 hoops + 2 clubs</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>Russian Federation</td><td>RUS</td><td> D<br>A<br>E</td><td>8.600<br>9.200<br>8.850</td><td>17.750 (1)</td>
	<td>8.600<br>9.400<br>8.800</td><td>17.800 (1)</td><td>35.550</td></tr>
<tr class="two"><td>2</td><td>China</td><td>CHN</td><td>D<br>A<br>E</td><td>8.900<br>9.250<br>8.500</td><td>17.575 (3)</td>
	<td>8.900<br>9.200<br>8.600</td><td>17.650 (2)</td><td>35.225</td></tr>
<tr class="one"><td>3</td><td>Belarus</td><td>BLR</td><td>D<br>A<br>E</td><td>9.000<br>9.250<br>8.500</td><td>17.625 (2)</td>
	<td>8.800<br>9.250<br>8.450</td><td>17.275 (4)<br>0.20</td><td> 34.900</td></tr>
<tr class="two"><td>4</td><td>Italy</td><td>ITA</td><td>D<br>A<br>E</td><td>8.300<br>9.100<br>8.300</td><td>17.000 (4)</td>
	<td>8.700<br>9.150<br>8.500</td><td>17.425 (3)</td><td>34.425</td></tr>
<tr class="one"><td>5</td><td>Bulgaria</td><td>BUL</td><td>D<br>A<br>E</td><td>8.500<br>9.000<br>8.200</td><td>16.750 (5)<br>0.20</td>
	<td>8.300<br>9.000<br>8.350</td><td>16.800 (5)<br>0.20</td><td>33.550</td></tr>
<tr class="two"><td>6</td><td>Israel</td><td>ISR</td><td>D<br>A<br>E</td><td>7.300<br>8.700<br>8.100</td><td>16.050 (7)<br>0.05</td>
	<td>7.400<br>8.700<br>8.000</td><td>16.050 (6)</td><td>32.100</td></tr>
<tr class="one"><td>7</td><td>Azerbaijan</td><td>AZE</td><td>D<br>A<br>E</td><td>7.500<br>8.350<br>8.150</td><td>16.075 (6)</td>
	<td>7.200<br>8.300<br>7.800</td><td>15.500 (7)<br>0.05</td><td>31.575</td></tr>
<tr class="two"><td>8</td><td>Ukraine</td><td>UKR</td><td>D<br>A<br>E</td><td>8.200<br>8.350<br>7.700</td><td>15.975 (8)</td>
	<td>7.700<br>8.450<br>7.450</td><td>15.125 (8)<br>0.40</td><td>31.100</td></tr>
</table>
</div>

<a href="documents/beijing2008rgg.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Rhythmic Gymnastics - All Around Qualification - Aug 21-22 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="25" align="right" valign=top>
	<col width="150" valign=top>
	<colgroup span=13 align="center" width="45" valign=top>
<tr class="wom"><th colspan=4>Gymnast</th>
	<th colspan=2>Rope</th><th colspan=2>Hoop</th><th colspan=2>Clubs</th><th colspan=2>Ribbon</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>KANAEVA Evgeniya</td><td>RUS</td><td> D<br>A<br>E</td><td>9.300<br>8.900<br>8.750</td><td>17.850 (4)</td><td>9.500<br>9.300<br>9.300</td><td>18.700 (1)</td>
	<td>9.400<br>9.400<br>9.300</td><td>18.700 (1)</td><td>9.700<br>9.350<br>9.350</td><td>18.825 (1)<br>0.05</td><td>74.075 Q</td></tr>
<tr class="two"><td>2</td><td>KAPRANOVA Olga</td><td>RUS</td><td> D<br>A<br>E</td><td>9.300<br>9.200<br>9.100</td><td>18.350 (1)</td><td>9.400<br>9.250<br>9.150</td><td>18.475 (2)</td>
	<td>9.200<br>9.200<br>9.000</td><td>18.200 (2)</td><td>8.900<br>9.050<br>8.950</td><td>17.875 (3)</td><td>72.900 Q</td></tr>
<tr class="one"><td>3</td><td>BESSONOVA Anna</td><td>UKR</td><td>D<br>A<br>E</td><td>8.800<br>9.200<br>9.000</td><td>17.950 (2)<br>0.05</td><td>9.200<br>9.300<br>9.200</td><td>18.450 (3)</td>
	<td>8.800<br>9.300<br>9.050</td><td>18.100 (3)</td><td>9.100<br>9.350<br>9.100</td><td>18.325 (2)</td><td>72.825 Q</td></tr>
<tr class="two"><td>4</td><td>ZHUKOVA Inna</td><td>BLR</td><td>D<br>A<br>E</td><td>8.900<br>9.000<br>8.900</td><td>17.850 (4)</td><td>9.300<br>9.250<br>9.100</td><td>18.375 (4)</td>
	<td>8.600<br>8.800<br>8.600</td><td>17.300 (7)</td><td>8.200<br>8.850<br>8.900</td><td>17.425 (4)</td><td>70.950 Q</td></tr>
<tr class="one"><td>5</td><td>YUSSUPOVA Aliya</td><td>KAZ</td><td>D<br>A<br>E</td><td>8.800<br>8.650<br>8.850</td><td>17.575 (6)</td><td>8.900<br>8.900<br>9.000</td><td>17.900 (5)</td>
	<td>8.200<br>8.950<br>9.000</td><td>17.575 (6)</td><td>7.200<br>8.700<br>8.800</td><td>16.750 (10)</td><td>69.800 Q</td></tr>
<tr class="two"><td>6</td><td>GODUNKO Natalia</td><td>UKR</td><td>D<br>A<br>E</td><td>8.800<br>8.800<br>8.700</td><td>17.500 (7)</td><td>8.500<br>8.850<br>8.700</td><td>17.375 (6)</td>
	<td>9.000<br>8.900<br>8.700</td><td>17.650 (4)</td><td>8.200<br>8.750<br>8.400</td><td>16.875 (5)</td><td>69.400 Q</td></tr>
<tr class="one"><td>7</td><td>GARAYEVA Aliya</td><td>AZE</td><td>D<br>A<br>E</td><td>9.200<br>8.950<br>8.800</td><td>17.875 (3)</td><td>8.500<br>8.400<br>8.400</td><td>16.850 (9)</td>
	<td>8.300<br>8.950<br>9.000</td><td>17.625 (5)</td><td>8.000<br>8.700<br>8.550</td><td>16.850 (7)<br>0.05</td><td>69.200 Q</td></tr>
<tr class="two"><td>8</td><td>RISENZON Irina</td><td>ISR</td><td>D<br>A<br>E</td><td>7.900<br>8.700<br>8.550</td><td>16.800 (9)<br>0.05</td><td>7.900<br>8.800<br>8.750</td><td>17.100 (8)</td>
	<td>8.100<br>8.750<br>8.700</td><td>17.125 (8)</td><td>7.900<br>8.650<br>8.550</td><td>16.825 (9)</td><td>67.850 Q</td></tr>
<tr class="one"><td>9</td><td>PEYCHEVA Simona</td><td>BUL</td><td>D<br>A<br>E</td><td>8.400<br>8.700<br>8.350</td><td>16.900 (8)</td><td>8.500<br>8.750<br>8.600</td><td>17.125 (7)<br>0.10</td>
	<td>7.800<br>8.650<br>8.250</td><td>16.475 (12)</td><td>7.750<br>8.700<br>8.500</td><td>16.675 (12)<br>0.05</td><td>61.175 Q</td></tr>
<tr class="two"><td>10</td><td>CID Almudena</td><td>ESP</td><td>D<br>A<br>E</td><td>7.900<br>8.650<br>8.400</td><td>16.675 (11)</td><td>7.900<br>8.700<br>8.500</td><td>16.800 (11)</td>
	<td>7.600<br>8.800<br>8.400</td><td>16.750 (9)</td><td>8.000<br>8.700<br>8.400</td><td>16.750 (10)</td><td>66.825 Q</td></tr>
<tr class="one"><td>11</td><td>GIMATOVA Dinara</td><td>AZE</td><td>D<br>A<br>E</td><td>7.300<br>8.450<br>8.400</td><td>16.275 (15)</td><td>7.900<br>8.650<br>8.600</td><td>16.775 (12)<br>0.10</td>
	<td>7.600<br>8.600<br>8.550</td><td>16.600 (9)</td><td>8.500<br>8.450<br>8.450</td><td>16.875 (5)<br>0.05</td><td>66.525 R</td></tr>
<tr class="two"><td>12</td><td>SHIN Sooji</td><td>KOR</td><td>D<br>A<br>E</td><td>7.900<br>8.050<br>8.350</td><td>16.325 (14)</td><td>7.800<br>8.350<br>8.300</td><td>16.375 (16)</td>
	<td>8.100<br>8.300<br>8.400</td><td>16.600 (9)</td><td>8.700<br>8.200<br>8.400</td><td>16.850 (7)</td><td>66.150 R</td></tr>
<tr class="one"><td>13</td><td>LI Hongyang</td><td>CHN</td><td>D<br>A<br>E</td><td>8.200<br>8.150<br>8.250</td><td>16.425 (13)</td><td>8.100<br>8.250<br>8.500</td><td>16.675 (13)</td>
	<td>7.600<br>8.350<br>8.400</td><td>16.375 (14)</td><td>7.800<br>8.350<br>8.400</td><td>16.475 (13)</td><td>65.950</td></tr>
<tr class="two"><td>14</td><td>RIVKIN Neta</td><td>ISR</td><td>D<br>A<br>E</td><td>8.200<br>8.200<br>8.300</td><td>16.500 (12)</td><td>8.200<br>8.450<br>8.500</td><td>16.825 (10)</td>
	<td>7.500<br>8.400<br>8.500</td><td>16.450 (13)</td><td>7.400<br>8.000<br>8.400</td><td>16.100 (15)</td><td>65.875</td></tr>
<tr class="one"><td>15</td><td>CHERKASHINA Lyubov</td><td>BLR</td><td>D<br>A<br>E</td><td>8.000<br>8.600<br>8.400</td><td>16.700 (10)</td><td>7.600<br>8.250<br>8.050</td><td>15.975 (19)</td>
	<td>7.300<br>8.550<br>8.450</td><td>16.375 (14)</td><td>7.500<br>8.050<br>8.050</td><td>15.825 (18)</td><td>64.875</td></tr>
<tr class="two"><td>16</td><td>MITROSZ Joanna</td><td>POL</td><td>D<br>A<br>E</td><td>7.800<br>8.200<br>8.000</td><td>15.950 (17)<br>0.05</td><td>7.700<br>8.300<br>8.300</td><td>16.250 (17)<br>0.05</td>
	<td>7.400<br>8.350<br>8.200</td><td>16.025 (19)<br>0.05</td><td>7.900<br>8.300<br>7.950</td><td>16.000 (16)<br>0.05</td><td>64.225</td></tr>
<tr class="one"><td>17</td><td>WEBER Caroline</td><td>AUT</td><td>D<br>A<br>E</td><td>7.100<br>8.350<br>8.150</td><td>15.875 (18)</td><td>7.100<br>8.350<br>8.400</td><td>16.125 (18)</td>
	<td>7.500<br>8.400<br>8.300</td><td>16.250 (16)</td><td>6.900<br>8.450<br>8.250</td><td>15.925 (17)</td><td>64.175</td></tr>
<tr class="two"><td>18</td><td>ORLANDO Alexandra</td><td>CAN</td><td>D<br>A<br>E</td><td>7.200<br>8.250<br>8.200</td><td>15.675 (19)<br>0.25</td><td>7.800<br>8.400<br>8.450</td><td>16.550 (14)</td>
	<td>7.100<br>8.250<br>8.500</td><td>16.175 (18)</td><td>7.000<br>7.950<br>7.750</td><td>15.225 (20)</td><td>63.625</td></tr>
<tr class="one"><td>19</td><td>PAISIEVA Elizabeth</td><td>BUL</td><td>D<br>A<br>E</td><td>7.900<br>8.250<br>8.100</td><td>16.175 (16)</td><td>7.900<br>8.500<br>8.200</td><td>16.400 (15)</td>
	<td>7.600<br>8.400<br>8.200</td><td>16.200 (17)</td><td>6.700<br>7.550<br>7.400</td><td>14.525 (22)</td><td>63.300</td></tr>
<tr class="two"><td>20</td><td>KIKKAS Irina</td><td>EST</td><td>D<br>A<br>E</td><td>6.700<br>8.300<br>8.150</td><td>15.650 (20)</td><td>7.100<br>7.950<br>7.900</td><td>15.225 (21)<br>0.20</td>
	<td>7.800<br>8.000<br>7.800</td><td>15.700 (20)</td><td>7.800<br>8.400<br>8.100</td><td>16.200 (14)</td><td>62.775</td></tr>
<tr class="one"><td>21</td><td>ANDRIOLA Eleni</td><td>GRE</td><td>D<br>A<br>E</td><td>7.600<br>7.500<br>7.900</td><td>15.450 (21)</td><td>7.000<br>7.800<br>7.750</td><td>14.750 (22)<br>0.40</td>
	<td>5.500<br>7.900<br>7.400</td><td>14.100 (22)</td><td>6.900<br>7.500<br>8.200</td><td>15.400 (19)</td><td>59.700</td></tr>
<tr class="two"><td>22</td><td>JOHNSTON Naazmi</td><td>AUS</td><td>D<br>A<br>E</td><td>5.400<br>7.750<br>7.500</td><td>14.075 (22)</td><td>7.300<br>7.700<br>7.800</td><td>15.300 (20)</td>
	<td>6.400<br>7.650<br>7.800</td><td>14.825 (21)</td><td>7.100<br>7.700<br>7.400</td><td>14.800 (21)</td><td>59.000</td></tr>
<tr class="one"><td>23</td><td>RICHARD Odette</td><td>RSA</td><td>D<br>A<br>E</td><td>6.700<br>7.250<br>7.000</td><td>13.975 (23)</td><td>7.000<br>7.200<br>7.050</td><td>13.950 (23)<br>0.20</td>
	<td>5.500<br>7.300<br>7.400</td><td>13.800 (23)</td><td>6.400<br>7.350<br>6.900</td><td>13.775 (23)</td><td>55.500</td></tr>
<tr class="two"><td>24</td><td>MONTEIRO Wania</td><td>CPV</td><td>D<br>A<br>E</td><td>5.200<br>6.850<br>6.350</td><td>12.275 (24)<br>0.10</td><td>5.600<br>6.950<br>6.800</td><td>13.025 (24)<br>0.05</td>
	<td>4.900<br>6.850<br>6.650</td><td>12.325 (24)<br>0.20</td><td>4.100<br>6.750<br>6.200</td><td>11.425 (24)<br>0.20</td><td>49.050</td></tr>
</table>
</div>

<a href="documents/beijing2008rgq.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Rhythmic Gymnastics - Groups Qualification - Aug 21-22 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa">
	<col width="25" align="right" valign=top>
	<col width="150" valign=top>
	<colgroup span=2 width="40" align=center valign=top>
	<colgroup span=5 align="center" width="85" valign=top>
<tr class="wom"><th colspan=4>Team</th>
	<th colspan=2>5 ropes</th><th colspan=2>3 hoops + 2 clubs</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>Belarus</td><td>BLR</td><td>D<br>A<br>E</td><td>9.100<br>9.150<br>8.400</td><td>17.525 (1)</td>
	<td>8.300<br>9.250<br>8.650</td><td>17.425 (2)</td><td>34.950 Q</td></tr>
<tr class="two"><td>2</td><td>Russian Federation</td><td>RUS</td><td>D<br>A<br>E</td><td>8.800<br>9.200<br>8.200</td><td>17.000 (4)<br>0.20</td>
	<td>8.700<br>9.300<br>8.700</td><td>17.700 (1)</td><td>34.700 Q</td></tr>
<tr class="one"><td>3</td><td>China</td><td>CHN</td><td>D<br>A<br>E</td><td>8.700<br>9.100<br>8.400</td><td>17.300 (2)</td>
	<td>8.500<br>9.150<br>8.400</td><td>17.225 (4)</td><td>34.525 Q</td></tr>
<tr class="two"><td>3</td><td>Italy</td><td>ITA</td><td>D<br>A<br>E</td><td>8.500<br>9.100<br>8.350</td><td>17.150 (3)</td>
	<td>8.800<br>9.250<br>8.350</td><td>17.375 (3)</td><td>34.525 Q</td></tr>
<tr class="one"><td>5</td><td>Bulgaria</td><td>BUL</td><td>D<br>A<br>E</td><td>8.600<br>8.850<br>8.100</td><td>16.825 (5)</td>
	<td>8.300<br>8.850<br>8.300</td><td>16.875 (5)</td><td>33.700 Q</td></tr>
<tr class="two"><td>6</td><td>Ukraine</td><td>UKR</td><td>D<br>A<br>E</td><td>7.800<br>8.400<br>7.700</td><td>15.800 (6)</td>
	<td>7.900<br>8.450<br>7.650</td><td>15.825 (8)</td><td>31.625 Q</td></tr>
<tr class="one"><td>7</td><td>Israel</td><td>ISR</td><td>D<br>A<br>E</td><td>7.700<br>8.300<br>7.300</td><td>15.300 (11)</td>
	<td>7.500<br>8.550<br>8.200</td><td>16.225 (6)</td><td>31.525 Q</td></tr>
<tr class="two"><td>8</td><td>Azerbaijan</td><td>AZE</td><td>D<br>A<br>E</td><td>7.600<br>8.350<br>7.600</td><td>15.575 (8)</td>
	<td>7.500<br>8.450<br>7.900</td><td>15.875 (7)</td><td>31.450 Q</td></tr>
<tr class="one"><td>9</td><td>Greece</td><td>GRE</td><td>D<br>A<br>E</td><td>7.300<br>8.000<br>7.750</td><td>15.400 (10)</td>
	<td>7.250<br>8.350<br>7.800</td><td>15.600 (9)</td><td>31.000 R</td></tr>
<tr class="two"><td>10</td><td>Japan</td><td>JPN</td><td>D<br>A<br>E</td><td>7.500<br>8.250<br>7.550</td><td>15.425 (9)</td>
	<td>8.200<br>8.050<br>7.500</td><td>15.425 (10)<br>0.20</td><td>30.850 R</td></tr>
<tr class="one"><td>11</td><td>Spain</td><td>ESP</td><td>D<br>A<br>E</td><td>7.500<br>8.550<br>7.700</td><td>15.725 (7)</td>
	<td>7.650<br>8.400<br>6.750</td><td>14.375 (11)<br>0.40</td><td>30.100</td></tr>
<tr class="two"><td>12</td><td>Brazil</td><td>BRA</td><td>D<br>A<br>E</td><td>7.300<br>8.000<br>7.250</td><td>14.900 (12)</td>
	<td>6.550<br>7.900<br>7.000</td><td>14.225 (12)</td><td>29.125</td></tr>
</table>
</div>

<a href="documents/beijing2008rggq.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Information</h2>
<a href="documents/rgparticipants.pdf" target="_blank" class="pdf">Nominative Registration</a>
