---
title: "Beijing 2008 Olympics Trampoline"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2008/olympics2008tram.html
- /2008/olympics2008traw.html
- /2008/olympics2008tramq.html
- /2008/olympics2008trawq.html
---
	
{% include resultsheader.html title="Games of the 29th Olympiad<br>Beijing (CHN) August 8-24, 2008<br>Trampoline" %}

<a href="/results/2008/olympics/index.html"><img src="/assets/images/logos/lg2008og.jpg"></a>

<h2 class="men">Trampoline Men Final - Aug 19 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="210">
	<col width="40" align="center">
	<colgroup span=6 width="58" align="center">
	<colgroup span=1 width="70" align="center">
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>Diff</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>LU Chunlong</td><td>CHN</td><td>8.3</td><td>8.2</td><td>8.1</td><td>8.3</td><td>8.3</td><td>16.2</td><td>41.00</td></tr>
<tr class="two"><td>2</td><td>BURNETT Jason</td><td>CAN</td><td>7.9</td><td>8.0</td><td>7.9</td><td>8.0</td><td>8.1</td><td>16.8</td><td>40.70</td></tr>
<tr class="one"><td>3</td><td>DONG Dong</td><td>CHN</td><td>8.2</td><td>8.2</td><td>8.0</td><td>8.0</td><td>8.3</td><td>16.2</td><td>40.60</td></tr>
<tr class="one"><td>4</td><td>SOTOMURA Tetsuya</td><td>JPN</td><td>8.0</td><td>8.1</td><td>8.1</td><td>8.0</td><td>8.1</td><td>15.6</td><td>39.80</td></tr>
<tr class="two"><td>5</td><td>NIKITIN Yuriy</td><td>UKR</td><td>7.8</td><td>7.9</td><td>8.0</td><td>7.9</td><td>7.8</td><td>16.2</td><td>39.80</td></tr>
<tr class="two"><td>6</td><td>USHAKOV Dmitry</td><td>RUS</td><td>7.7</td><td>7.6</td><td>8.0</td><td>7.4</td><td>7.5</td><td>16.0</td><td>38.80</td></tr>
<tr class="one"><td>7</td><td>RUSAKOV Alexander</td><td>RUS</td><td>7.5</td><td>7.5</td><td>7.2</td><td>7.3</td><td>7.7</td><td>16.2</td><td>38.50</td></tr>
<tr class="two"><td>8</td><td>KAZAK Mikalai</td><td>BLR</td><td>7.1</td><td>7.2</td><td>7.4</td><td>7.6</td><td>7.5</td><td>16.0</td><td>38.10</td></tr>
</table>
</div>

<a href="documents/beijing2008tram.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Trampoline Women Final - Aug 18 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="210">
	<col width="40" align="center">
	<colgroup span=6 width="58" align="center">
	<colgroup span=1 width="70" align="center">
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>Diff</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>HE Wenna</td><td>CHN</td><td>7.8</td><td>7.6</td><td>7.8</td><td>7.9</td><td>7.7</td><td>14.5</td><td>37.80</td></tr>
<tr class="two"><td>2</td><td>COCKBURN Karen</td><td>CAN</td><td>7.5</td><td>7.3</td><td>7.6</td><td>7.5</td><td>7.6</td><td>14.4</td><td>37.00</td></tr>
<tr class="one"><td>3</td><td>KHILKO Ekaterina</td><td>UZB</td><td>7.5</td><td>7.6</td><td>7.4</td><td>7.5</td><td>7.5</td><td>14.4</td><td>36.90</td></tr>
<tr class="two"><td>4</td><td>MOVCHAN Olena</td><td>UKR</td><td>7.7</td><td>7.6</td><td>7.7</td><td>7.3</td><td>7.4</td><td>13.9</td><td> 36.60</td></tr>
<tr class="one"><td>5</td><td>KARAVAEVA Irina</td><td>RUS</td><td>7.1</td><td>7.1</td><td>7.2</td><td>7.2</td><td>7.4</td><td>14.7</td><td>36.20</td></tr>
<tr class="two"><td>6</td><td>GOLOVINA Luba</td><td>GEO</td><td>7.4</td><td>7.5</td><td>7.7</td><td>7.6</td><td>7.7</td><td>13.3</td><td>36.10</td></tr>
<tr class="one"><td>7</td><td>MACLENNAN Rosannagh</td><td>CAN</td><td>7.0</td><td>6.7</td><td>6.8</td><td>7.3</td><td>7.3</td><td>14.4</td><td>35.50</td></tr>
<tr class="two"><td>8</td><td>DOGONADZE Anna</td><td>GER</td><td>3.6</td><td>3.5</td><td>3.6</td><td>4.0</td><td>3.5</td><td>8.2</td><td>18.9</td></tr>
</table>
</div>

<a href="documents/beijing2008traw.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="men">Trampoline Men Qualification - Aug 16 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="150">
	<col width="40" align="center">
	<col width="10" align="center">
	<colgroup span=7 width="45" align="center">
	<colgroup span=1 width="60" align="center">
	<colgroup span=1 width="10" align="center">
	<colgroup span=1 width="60" align="center">
<tr class="men">
	<th colspan=4>Gymnast</th>
	<th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>Diff</th><th>Pen</th><th colspan=2>Routine</th><th>Total</th></tr>
<tr class="one"><td rowspan="2">1</td><td rowspan="2">LU Chunlong</td><td rowspan="2">CHN</td><td>1</td><td>9.3</td><td>9.6</td><td>9.5</td><td>9.4</td><td>9.6</td><td>2.7</td><td></td><td>31.20</td><td>1</td><td rowspan="2">72.40 Q</td></tr>
	 <tr class="one"><td>2</td><td>8.3</td><td>8.4</td><td>8.4</td><td>8.2</td><td>8.3</td><td>16.2</td><td></td><td>41.20</td><td>1t</td></tr>
<tr class="two"><td rowspan="2">2</td><td rowspan="2">DONG Dong</td><td rowspan="2">CHN</td><td>1</td><td>9.3</td><td>9.4</td><td>9.3</td><td>9.4</td><td>9.5</td><td>2.9</td><td></td><td>31.00</td><td>2</td><td rowspan="2">71.70 Q</td></tr>
	 <tr class="two"><td>2</td><td>8.2</td><td>8.5</td><td>8.2</td><td>7.9</td><td>8.1</td><td>16.2</td><td></td><td>40.70</td><td>3t</td></tr>
<tr class="one"><td rowspan="2">3</td><td rowspan="2">USHAKOV Dmitry</td><td rowspan="2">RUS</td><td>1</td><td>9.2</td><td>9.1</td><td>9.1</td><td>9.2</td><td>9.3</td><td>3.3</td><td></td><td>30.80</td><td>4</td><td rowspan="2">71.50 Q</td></tr>
	 <tr class="one"><td>2</td><td>8.0</td><td>8.5</td><td>8.1</td><td>8.3</td><td>8.3</td><td>16.0</td><td></td><td>40.70</td><td>3t</td></tr>
<tr class="two"><td rowspan="2">4</td><td rowspan="2">NIKITIN Yuriy</td><td rowspan="2">UKR</td><td>1</td><td>9.4</td><td>9.2</td><td>9.3</td><td>9.0</td><td>9.4</td><td>2.7</td><td></td><td>30.60</td><td>5</td><td rowspan="2">70.70 Q</td></tr>
	 <tr class="two"><td>2</td><td>7.9</td><td>8.2</td><td>8.1</td><td>7.7</td><td>7.9</td><td>16.2</td><td></td><td>40.10</td><td>6</td></tr>
<tr class="one"><td rowspan="2">5</td><td rowspan="2">SOTOMURA Tetsuya</td><td rowspan="2">JPN</td><td>1</td><td>8.8</td><td>8.9</td><td>9.0</td><td>8.8</td><td>8.8</td><td>3.1</td><td></td><td>29.60</td><td>12</td><td rowspan="2">70.30 Q</td></tr>
	 <tr class="one"><td>2</td><td>8.3</td><td>8.7</td><td>8.6</td><td>7.8</td><td>8.2</td><td>15.6</td><td></td><td>40.70</td><td>3t</td></tr>
<tr class="two"><td rowspan="2">6</td><td rowspan="2">RUSAKOV Alexander</td><td rowspan="2">RUS</td><td>1</td><td>8.9</td><td>8.7</td><td>8.7</td><td>8.9</td><td>8.8</td><td>3.5</td><td></td><td>29.90</td><td>9</td><td rowspan="2">69.90 Q</td></tr>
	 <tr class="two"><td>2</td><td>8.1</td><td>7.9</td><td>7.9</td><td>8.0</td><td>7.9</td><td>16.2</td><td></td><td>40.00</td><td>7</td></tr>
<tr class="one"><td rowspan="2">7</td><td rowspan="2">BURNETT Jason</td><td rowspan="2">CAN</td><td>1</td><td>8.3</td><td>8.1</td><td>8.7</td><td>8.6</td><td>8.3</td><td>3.3</td><td></td><td>28.50</td><td>14</td><td rowspan="2">69.70 Q</td></tr>
	 <tr class="one"><td>2</td><td>7.7</td><td>8.4</td><td>8.2</td><td>8.3</td><td>8.1</td><td>16.6</td><td></td><td>41.20</td><td>1t</td></tr>
<tr class="two"><td rowspan="2">8</td><td rowspan="2">KAZAK Mikalai</td><td rowspan="2">BLR</td><td>1</td><td>9.0</td><td>9.2</td><td>9.1</td><td>9.1</td><td>9.3</td><td>2.9</td><td></td><td>30.30</td><td>7</td><td rowspan="2">69.70 Q</td></tr>
	 <tr class="two"><td>2</td><td>8.0</td><td>7.9</td><td>7.8</td><td>7.7</td><td>7.5</td><td>16.0</td><td></td><td>39.40</td><td>8</td></tr>
<tr class="one"><td rowspan="2">9</td><td rowspan="2">UEYAMA Yasuhiro</td><td rowspan="2">JPN</td><td>1</td><td>9.0</td><td>9.2</td><td>9.2</td><td>8.9</td><td>9.0</td><td>2.7</td><td></td><td>29.90</td><td>9</td><td rowspan="2">69.20 R</td></tr>
	 <tr class="one"><td>2</td><td>7.9</td><td>8.3</td><td>8.0</td><td>7.5</td><td>7.9</td><td>15.5</td><td></td><td>39.30</td><td>9t</td></tr>
<tr class="two"><td rowspan="2">10</td><td rowspan="2">JENSEN Peter</td><td rowspan="2">DEN</td><td>1</td><td>9.1</td><td>9.1</td><td>9.0</td><td>9.0</td><td>9.1</td><td>3.3</td><td></td><td>30.50</td><td>6</td><td rowspan="2">69.20 R</td></tr>
	 <tr class="two"><td>2</td><td>7.7</td><td>7.8</td><td>7.7</td><td>7.3</td><td>7.5</td><td>15.8</td><td></td><td>38.70</td><td>12t</td></tr>
<tr class="one"><td rowspan="2">11</td><td rowspan="2">GANCHINHO Diogo</td><td rowspan="2">POR</td><td>1</td><td>9.0</td><td>9.0</td><td>8.9</td><td>9.2</td><td>8.9</td><td>2.9</td><td></td><td>29.80</td><td>11</td><td rowspan="2">69.10</td></tr>
	 <tr class="one"><td>2</td><td>7.9</td><td>7.7</td><td>7.8</td><td>8.1</td><td>8.0</td><td>15.6</td><td></td><td>39.30</td><td>9t</td></tr>
<tr class="two"><td rowspan="2">12</td><td rowspan="2">PENNES Gregoire</td><td rowspan="2">FRA</td><td>1</td><td>8.6</td><td>9.0</td><td>9.1</td><td>9.0</td><td>9.1</td><td>2.9</td><td></td><td>30.00</td><td>8</td><td rowspan="2">68.70</td></tr>
	 <tr class="two"><td>2</td><td>7.5</td><td>7.5</td><td>7.6</td><td>7.3</td><td>7.6</td><td>16.1</td><td></td><td>38.70</td><td>12t</td></tr>
<tr class="one"><td rowspan="2">13</td><td rowspan="2">WILDEN Ben</td><td rowspan="2">AUS</td><td>1</td><td>7.9</td><td>8.6</td><td>8.2</td><td>8.4</td><td>8.6</td><td>2.9</td><td></td><td>28.10</td><td>16</td><td rowspan="2">67.10</td></tr>
	 <tr class="one"><td>2</td><td>7.6</td><td>7.9</td><td>7.8</td><td>7.6</td><td>7.6</td><td>16.0</td><td></td><td>39.00</td><td>11</td></tr>
<tr class="two"><td rowspan="2">14</td><td rowspan="2">CANNONE Flavio</td><td rowspan="2">ITA</td><td>1</td><td>8.7</td><td>8.4</td><td>8.5</td><td>8.7</td><td>9.0</td><td>3.1</td><td></td><td>29.00</td><td>13</td><td rowspan="2">66.50</td></tr>
	 <tr class="two"><td>2</td><td>7.5</td><td>7.5</td><td>7.1</td><td>7.2</td><td>7.3</td><td>15.5</td><td></td><td>37.50</td><td>14</td></tr>
<tr class="one"><td rowspan="2">15</td><td rowspan="2">ESTRADA Chris</td><td rowspan="2">USA</td><td>1</td><td>8.5</td><td>8.4</td><td>8.5</td><td>7.9</td><td>8.6</td><td>3.1</td><td></td><td>28.50</td><td>14</td><td rowspan="2">65.90</td></tr>
	 <tr class="one"><td>2</td><td>7.1</td><td>7.4</td><td>7.4</td><td>7.3</td><td>7.1</td><td>15.6</td><td></td><td>37.40</td><td>15</td></tr>
<tr class="two"><td rowspan="2">16</td><td rowspan="2">STEHLIK Henrik</td><td rowspan="2">GER</td><td>1</td><td>9.3</td><td>9.2</td><td>9.3</td><td>9.2</td><td>9.3</td><td>3.1</td><td></td><td>30.90</td><td>3</td><td rowspan="2">64.60</td></tr>
	 <tr class="two"><td>2</td><td>6.7</td><td>6.6</td><td>6.5</td><td>6.9</td><td>6.6</td><td>13.8</td><td></td><td>33.70</td><td>16</td></tr>
</table>
</div>

<a href="documents/beijing2008tramq.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Trampoline Women Qualification - Aug 16 2008</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="150">
	<col width="40" align="center">
	<col width="10" align="center">
	<colgroup span=7 width="45" align="center">
	<colgroup span=1 width="60" align="center">
	<colgroup span=1 width="10" align="center">
	<colgroup span=1 width="60" align="center">
<tr class="men">
	<th colspan=4>Gymnast</th>
	<th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>Diff</th><th>Pen</th><th colspan=2>Routine</th><th>Total</th></tr>
<tr class="one"><td rowspan="2">1</td><td rowspan="2">HE Wenna</td><td rowspan="2">CHN</td><td>1</td><td>9.2</td><td>9.3</td><td>9.1</td><td>9.2</td><td>9.2</td><td>2.5</td><td></td><td>30.10</td><td>1</td><td rowspan="2">67.20  Q</td></tr>
	 <tr class="one"><td>2</td><td>7.7</td><td>7.6</td><td>7.4</td><td>7.9</td><td>7.7</td><td>14.1</td><td></td><td>37.10</td><td>1</td></tr>
<tr class="two"><td rowspan="2">2</td><td rowspan="2">KARAVAEVA Irina</td><td rowspan="2">RUS</td><td>1</td><td>9.2</td><td>9.2</td><td>8.9</td><td>9.1</td><td>8.9</td><td>2.5</td><td></td><td>29.70</td><td>4t</td><td rowspan="2">66.40  Q</td></tr>
	 <tr class="two"><td>2</td><td>7.4</td><td>7.5</td><td>7.3</td><td>7.3</td><td>7.2</td><td>14.7</td><td></td><td>36.70</td><td>3t</td></tr>
<tr class="one"><td rowspan="2">3</td><td rowspan="2">MACLENNAN Rosannagh</td><td rowspan="2">CAN</td><td>1</td><td>9.2</td><td>9.1</td><td>8.9</td><td>8.7</td><td>8.8</td><td>3.1</td><td></td><td>29.90</td><td>3</td><td rowspan="2">66.00  Q</td></tr>
	 <tr class="one"><td>2</td><td>7.4</td><td>7.4</td><td>7.3</td><td>7.6</td><td>7.3</td><td>14.0</td><td></td><td>36.10</td><td>6</td></tr>
<tr class="two"><td rowspan="2">4</td><td rowspan="2">COCKBURN Karen</td><td rowspan="2">CAN</td><td>1</td><td>8.6</td><td>8.5</td><td>8.4</td><td>8.5</td><td>8.2</td><td>3.2</td><td></td><td>28.60</td><td>10t</td><td rowspan="2">65.60  Q</td></tr>
	 <tr class="two"><td>2</td><td>7.8</td><td>7.8</td><td>7.6</td><td>7.6</td><td>7.5</td><td>14.0</td><td></td><td>37.00</td><td>2</td></tr>
<tr class="one"><td rowspan="2">5</td><td rowspan="2">GOLOVINA Luba</td><td rowspan="2">GEO</td><td>1</td><td>8.7</td><td>8.7</td><td>8.8</td><td>8.3</td><td>8.4</td><td>2.9</td><td></td><td>28.70</td><td>9</td><td rowspan="2">64.90  Q</td></tr>
	 <tr class="one"><td>2</td><td>7.5</td><td>7.6</td><td>7.2</td><td>7.6</td><td>7.7</td><td>13.5</td><td></td><td>36.20</td><td>5</td></tr>
<tr class="two"><td rowspan="2">6</td><td rowspan="2">MOVCHAN Olena</td><td rowspan="2">UKR</td><td>1</td><td>8.6</td><td>8.5</td><td>8.9</td><td>8.0</td><td>8.3</td><td>2.7</td><td></td><td>28.10</td><td>13</td><td rowspan="2">64.80  Q</td></tr>
	 <tr class="two"><td>2</td><td>7.6</td><td>7.5</td><td>7.4</td><td>7.7</td><td>7.9</td><td>13.9</td><td></td><td>36.70</td><td>3t</td></tr>
<tr class="one"><td rowspan="2">7</td><td rowspan="2">DOGONADZE Anna</td><td rowspan="2">GER</td><td>1</td><td>9.0</td><td>9.0</td><td>9.0</td><td>8.8</td><td>9.0</td><td>2.7</td><td></td><td>29.70</td><td>4t</td><td rowspan="2">64.30  Q</td></tr>
	 <tr class="one"><td>2</td><td>7.1</td><td>7.0</td><td>7.0</td><td>7.3</td><td>7.1</td><td>13.4</td><td></td><td>34.60</td><td>9</td></tr>
<tr class="two"><td rowspan="2">8</td><td rowspan="2">KHILKO Ekaterina</td><td rowspan="2">UZB</td><td>1</td><td>8.7</td><td>8.8</td><td>8.6</td><td>8.8</td><td>8.7</td><td>2.9</td><td></td><td>29.10</td><td>6t</td><td rowspan="2">63.90  Q</td></tr>
	 <tr class="two"><td>2</td><td>6.9</td><td>6.7</td><td>6.9</td><td>6.8</td><td>6.6</td><td>14.4</td><td></td><td>34.80</td><td>8</td></tr>
<tr class="one"><td rowspan="2">9</td><td rowspan="2">PIATRENIA Tatsiana</td><td rowspan="2">BLR</td><td>1</td><td>8.5</td><td>8.5</td><td>8.5</td><td>8.5</td><td>8.5</td><td>3.1</td><td></td><td>28.60</td><td>10t</td><td rowspan="2">63.80  R</td></tr>
	 <tr class="one"><td>2</td><td>6.9</td><td>7.0</td><td>7.1</td><td>7.2</td><td>6.9</td><td>14.2</td><td></td><td>35.20</td><td>7</td></tr>
<tr class="two"><td rowspan="2">10</td><td rowspan="2">WRIGHT Claire</td><td rowspan="2">GBR</td><td>1</td><td>8.9</td><td>8.8</td><td>8.8</td><td>8.6</td><td>8.3</td><td>2.9</td><td></td><td>29.10</td><td>6t</td><td rowspan="2">63.10  R</td></tr>
	 <tr class="two"><td>2</td><td>6.5</td><td>6.6</td><td>6.7</td><td>7.0</td><td>6.7</td><td>14.0</td><td></td><td>34.00</td><td>11t</td></tr>
<tr class="one"><td rowspan="2">11</td><td rowspan="2">CHERNOVA Natalia</td><td rowspan="2">RUS</td><td>1</td><td>8.8</td><td>8.8</td><td>8.8</td><td>8.7</td><td>8.6</td><td>2.7</td><td></td><td>29.00</td><td>8</td><td rowspan="2">63.00</td></tr>
	 <tr class="one"><td>2</td><td>7.1</td><td>7.0</td><td>7.3</td><td>7.3</td><td>7.2</td><td>12.4</td><td></td><td>34.00</td><td>11t</td></tr>
<tr class="two"><td rowspan="2">12</td><td rowspan="2">HIROTA Haruka</td><td rowspan="2">JPN</td><td>1</td><td>8.6</td><td>8.7</td><td>8.5</td><td>8.8</td><td>8.5</td><td>2.7</td><td></td><td>28.50</td><td>12</td><td rowspan="2">62.60</td></tr>
	 <tr class="two"><td>2</td><td>7.6</td><td>7.6</td><td>7.2</td><td>7.2</td><td>7.2</td><td>12.1</td><td></td><td>34.10</td><td>10</td></tr>
<tr class="one"><td rowspan="2">13</td><td rowspan="2">BLANCHARD Erin</td><td rowspan="2">USA</td><td>1</td><td>8.2</td><td>8.3</td><td>8.2</td><td>8.0</td><td>7.9</td><td>2.7</td><td></td><td>27.10</td><td>14t</td><td rowspan="2">60.90</td></tr>
	 <tr class="one"><td>2</td><td>6.5</td><td>6.5</td><td>6.7</td><td>6.9</td><td>6.9</td><td>13.7</td><td></td><td>33.80</td><td>13</td></tr>
<tr class="two"><td rowspan="2">14</td><td rowspan="2">HUANG Shanshan</td><td rowspan="2">CHN</td><td>1</td><td>9.1</td><td>9.2</td><td>8.9</td><td>9.1</td><td>9.1</td><td>2.7</td><td></td><td>30.00</td><td>2</td><td rowspan="2">59.00</td></tr>
	 <tr class="two"><td>2</td><td>5.8</td><td>5.7</td><td>5.6</td><td>5.7</td><td>5.8</td><td>11.8</td><td></td><td>29.00</td><td>15</td></tr>
<tr class="one"><td rowspan="2">15</td><td rowspan="2">POPKIN Lenka</td><td rowspan="2">CZE</td><td>1</td><td>7.7</td><td>7.8</td><td>7.7</td><td>7.3</td><td>7.5</td><td>2.9</td><td></td><td>25.80</td><td>16</td><td rowspan="2">57.60</td></tr>
	 <tr class="one"><td>2</td><td>6.8</td><td>6.8</td><td>6.8</td><td>6.8</td><td>6.5</td><td>11.4</td><td></td><td>31.80</td><td>14</td></tr>
<tr class="two"><td rowspan="2">16</td><td rowspan="2">RENTE Ana</td><td rowspan="2">POR</td><td>1</td><td>8.2</td><td>8.1</td><td>8.1</td><td>8.0</td><td>7.9</td><td>2.9</td><td></td><td>27.10</td><td>14t</td><td rowspan="2">31.60</td></tr>
	 <tr class="two"><td>2</td><td>0.4</td><td>0.5</td><td>0.6</td><td>0.5</td><td>0.5</td><td>3.0</td><td></td><td>4.50</td><td>16</td></tr>
</table>
</div>

<a href="documents/beijing2008trawq.pdf" target="_blank" class="pdf">Official Results</a>
