---
title: "Beijing 2008 Olympics Women's All Around Qualifications"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
homepage: false
redirect_from: /olympics/2008/wagaaqual.html
---
	
{% include resultsheader.html title="Games of the 29th Olympiad<br>Women's Artistic Gymnastics<br>Beijing (CHN) August 8-24, 2008<br>All Around Qualifications" %}

<a href="/results/2008/olympics/index.html"><img src="/assets/images/logos/lg2008og.jpg"></a>

<h2 class="wom">All Around Qualification Women - Aug 10 2008</h2>
<div class="table-scroll" tabindex="-1">	
<table class="waa">
	<col width="30" align="right">
	<col width="230">
	<col width="50" align="center">
	<colgroup span=5 align="center" width="78">
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>JOHNSON Shawn</td><td>USA</td><td>16.000</td><td>15.325</td><td>15.975</td><td>15.425</td><td>62.725 Q</td></tr>
<tr class="two"><td>2</td><td>LIUKIN Nastia</td><td>USA</td><td>15.100</td><td>15.950</td><td>15.975</td><td>15.350</td><td>62.375 Q</td></tr>
<tr class="one"><td>3</td><td>YANG Yilin</td><td>CHN</td><td>15.200</td><td>16.650</td><td>15.500</td><td>15.000</td><td>62.350 Q</td></tr>
<tr class="two"><td>4</td><td>SEMENOVA Ksenia</td><td>RUS</td><td>14.750</td><td>16.475</td><td>15.775</td><td>14.475</td><td>61.475 Q</td></tr>
<tr class="one"><td>5</td><td>PAVLOVA Anna</td><td>RUS</td><td>15.350</td><td>14.600</td><td>15.825</td><td>15.125</td><td>60.900 Q</td></tr>
<tr class="two"><td>6</td><td>AFANASYEVA Ksenia</td><td>RUS</td><td>15.175</td><td>14.825</td><td>15.775</td><td>15.025</td><td>60.800</td></tr>
<tr class="one"><td>7</td><td>JIANG Yuyuan</td><td>CHN</td><td>14.775</td><td>15.550</td><td>15.250</td><td>15.050</td><td>60.625 Q</td></tr>
<tr class="two"><td>8</td><td>NISTOR Steliana</td><td>ROU</td><td>14.900</td><td>15.975</td><td>15.075</td><td>14.550</td><td>60.500 Q</td></tr>
<tr class="one"><td>9</td><td>DENG Linlin</td><td>CHN</td><td>15.225</td><td>14.725</td><td>15.550</td><td>14.950</td><td>60.450</td></tr>
<tr class="two"><td>10</td><td>KRAMARENKO Ekaterina</td><td>RUS</td><td>15.150</td><td>15.500</td><td>14.625</td><td>15.150</td><td>60.425</td></tr>
<tr class="one"><td>11</td><td>SLOAN Bridget</td><td>USA</td><td>15.275</td><td>14.800</td><td>15.500</td><td>14.850</td><td>60.425</td></tr>
<tr class="two"><td>12</td><td>BARBOSA Jade</td><td>BRA</td><td>15.100</td><td>14.800</td><td>14.700</td><td>14.900</td><td>59.500 Q</td></tr>
<tr class="one"><td>13</td><td>IZBASA Sandra</td><td>ROU</td><td>15.100</td><td>13.575</td><td>15.225</td><td>15.475</td><td>59.375 Q</td></tr>
<tr class="two"><td>14</td><td>CHUSOVITINA Oksana</td><td>GER</td><td>15.800</td><td>14.725</td><td>14.400</td><td>14.450</td><td>59.375 Q</td></tr>
<tr class="one"><td>15</td><td>MORGAN Shona</td><td>AUS</td><td>14.700</td><td>14.500</td><td>15.350</td><td>14.525</td><td>59.075 Q</td></tr>
<tr class="two"><td>16</td><td>TAMIRJAN Anamaria</td><td>ROU</td><td>15.025</td><td>14.275</td><td>15.200</td><td>14.500</td><td>59.000</td></tr>
<tr class="one"><td>17</td><td>TSURUMI Koko</td><td>JPN</td><td>14.200</td><td>15.025</td><td>15.425</td><td>14.325</td><td>58.975 Q</td></tr>
<tr class="two"><td>18</td><td>BONORA Georgia</td><td>AUS</td><td>14.850</td><td>14.500</td><td>15.025</td><td>14.525</td><td>58.900 Q</td></tr>
<tr class="one"><td>19</td><td>HOPFNER-HIBBS Elyse</td><td>CAN</td><td>14.675</td><td>14.975</td><td>15.125</td><td>13.875</td><td>58.650 Q</td></tr>
<tr class="two"><td>20</td><td>PETIT Marine</td><td>FRA</td><td>14.850</td><td>14.325</td><td>14.800</td><td>14.375</td><td>58.350 Q</td></tr>
<tr class="one"><td>21</td><td>FERRARI Vanessa</td><td>ITA</td><td>14.825</td><td>14.050</td><td>14.775</td><td>14.650</td><td>58.300 Q</td></tr>
<tr class="two"><td>22</td><td>DUGAIN Laetitia</td><td>FRA</td><td>14.350</td><td>14.625</td><td>14.975</td><td>14.325</td><td>58.275 Q</td></tr>
<tr class="one"><td>23</td><td>PAROLARI Lia</td><td>ITA</td><td>14.075</td><td>14.375</td><td>15.175</td><td>14.575</td><td>58.200 Q</td></tr>
<tr class="two"><td>24</td><td>DOWNIE Becky</td><td>GBR</td><td>15.050</td><td>14.650</td><td>14.225</td><td>14.150</td><td>58.075 Q</td></tr>
<tr class="one"><td>25</td><td>KASLIN Ariella</td><td>SUI</td><td>15.225</td><td>14.300</td><td>14.650</td><td>13.875</td><td>58.050 Q</td></tr>
<tr class="two"><td>26</td><td>PALESOVA Kristyna</td><td>CZE</td><td>14.325</td><td>15.100</td><td>15.075</td><td>13.300</td><td>57.800 Q</td></tr>
<tr class="one"><td>27</td><td>OSHIMA Kyoko</td><td>JPN</td><td>14.700</td><td>14.450</td><td>14.300</td><td>14.175</td><td>57.625 Q</td></tr>
<tr class="two"><td>28</td><td>SILVA Ana</td><td>BRA</td><td>14.750</td><td>14.550</td><td>13.475</td><td>14.800</td><td>57.575 Q</td></tr>
<tr class="one"><td>29</td><td>MOREL Pauline</td><td>FRA</td><td>14.275</td><td>14.800</td><td>13.750</td><td>14.625</td><td>57.450</td></tr>
<tr class="two"><td>30</td><td>BRENNAN Ashleigh</td><td>AUS</td><td>14.775</td><td>13.700</td><td>14.150</td><td>14.625</td><td>57.250</td></tr>
<tr class="one"><td>31</td><td>MYS Gaelle</td><td>BEL</td><td>14.050</td><td>14.175</td><td>14.800</td><td>14.125</td><td>57.150 Q</td></tr>
<tr class="two"><td>32</td><td>HARMES Suzanne</td><td>NED</td><td>14.825</td><td>13.825</td><td>13.825</td><td>14.600</td><td>57.075 R</td></tr>
<tr class="one"><td>33</td><td>CAIRNS Imogen</td><td>GBR</td><td>14.850</td><td>13.475</td><td>14.175</td><td>14.550</td><td>57.050 R</td></tr>
<tr class="two"><td>34</td><td>GIOVANNINI Carlotta</td><td>ITA</td><td>15.100</td><td>14.475</td><td>13.900</td><td>13.575</td><td>57.050</td></tr>
<tr class="one"><td>35</td><td>BENOLLI Francesca</td><td>ITA</td><td>15.075</td><td>14.475</td><td>13.850</td><td>13.600</td><td>57.000</td></tr>
<tr class="two"><td>36</td><td>FRANCO Ethiene</td><td>BRA</td><td>14.175</td><td>14.100</td><td>14.400</td><td>14.275</td><td>56.950</td></tr>
<tr class="one"><td>37</td><td>HOLENKOVA Valentyna</td><td>UKR</td><td>13.975</td><td>14.375</td><td>14.275</td><td>14.125</td><td>56.750 R</td></tr>
<tr class="two"><td>38</td><td>DAMIANOVA Nansy</td><td>CAN</td><td>14.700</td><td>13.650</td><td>14.250</td><td>14.100</td><td>56.700 R</td></tr>
<tr class="one"><td>39</td><td>BISMPIKOU Stefani</td><td>GRE</td><td>14.225</td><td>14.350</td><td>14.475</td><td>13.575</td><td>56.625</td></tr>
<tr class="two"><td>40</td><td>ABEL Katja</td><td>GER</td><td>14.250</td><td>14.650</td><td>14.075</td><td>13.475</td><td>56.450</td></tr>
<tr class="one"><td>41</td><td>HONG Un Jong</td><td>PRK</td><td>15.650</td><td>14.100</td><td>12.825</td><td>13.850</td><td>56.425</td></tr>
<tr class="two"><td>42</td><td>KING Marissa</td><td>GBR</td><td>14.875</td><td>13.475</td><td>14.325</td><td>13.750</td><td>56.425</td></tr>
<tr class="one"><td>43</td><td>LOPEZ AROCHA Jessica Brizeida</td><td>VEN</td><td>14.375</td><td>13.800</td><td>14.050</td><td>13.950</td><td>56.175</td></tr>
<tr class="two"><td>44</td><td>JOURA Daria</td><td>AUS</td><td>15.100</td><td>15.125</td><td>12.475</td><td>13.450</td><td>56.150</td></tr>
<tr class="one"><td>45</td><td>KOZICH Alina</td><td>UKR</td><td>14.975</td><td>13.625</td><td>15.175</td><td>12.000</td><td>55.775</td></tr>
<tr class="two"><td>46</td><td>PIHAN Marta</td><td>POL</td><td>13.625</td><td>14.375</td><td>13.525</td><td>14.125</td><td>55.650</td></tr>
<tr class="one"><td>47</td><td>DE SIMONE Lenika</td><td>ESP</td><td>14.100</td><td>13.550</td><td>14.100</td><td>13.850</td><td>55.600</td></tr>
<tr class="two"><td>48</td><td>MARACHKOUSKAYA Anastasia</td><td>BLR</td><td>15.275</td><td>12.200</td><td>13.600</td><td>14.025</td><td>55.100</td></tr>
<tr class="one"><td>49</td><td>CAMPOS Laura</td><td>ESP</td><td>14.200</td><td>13.075</td><td>13.975</td><td>13.775</td><td>55.025</td></tr>
<tr class="two"><td>50</td><td>UEMURA Miki</td><td>JPN</td><td>14.475</td><td>12.775</td><td>14.575</td><td>12.875</td><td>54.700</td></tr>
<tr class="one"><td>51</td><td>BIJAK Daria</td><td>GER</td><td>14.175</td><td>14.650</td><td>11.150</td><td>14.475</td><td>54.450</td></tr>
<tr class="two"><td>52</td><td>BOCZOGO Dorina</td><td>HUN</td><td>13.375</td><td>13.200</td><td>13.950</td><td>13.925</td><td>54.450</td></tr>
<tr class="one"><td>53</td><td>SANCHEZ Nathalia</td><td>COL</td><td>14.150</td><td>13.175</td><td>13.825</td><td>13.000</td><td>54.150</td></tr>
<tr class="two"><td>54</td><td>ZANEVSKAJA Jelena</td><td>LTU</td><td>13.875</td><td>13.350</td><td>13.375</td><td>13.350</td><td>53.950</td></tr>
<tr class="one"><td>55</td><td>HINDERMANN Marie-Sophie</td><td>GER</td><td>14.925</td><td>13.125</td><td>13.425</td><td>12.400</td><td>53.875</td></tr>
<tr class="two"><td>56</td><td>CANTU MATA Maricela</td><td>MEX</td><td>14.175</td><td>12.625</td><td>12.700</td><td>14.025</td><td>53.525</td></tr>
<tr class="one"><td>57</td><td>ERCEG Tina</td><td>CRO</td><td>13.650</td><td>11.825</td><td>14.075</td><td>13.700</td><td>53.250</td></tr>
<tr class="two"><td>58</td><td>JO Hyunjoo</td><td>KOR</td><td>14.125</td><td>11.875</td><td>13.400</td><td>13.375</td><td>52.775</td></tr>
<tr class="one"><td>59</td><td>DO Thi Ngan Thuong</td><td>VIE</td><td>13.400</td><td>12.575</td><td>14.225</td><td>11.900</td><td>52.100</td></tr>
<tr class="two"><td>60</td><td>GALIULINA Luiza</td><td>UZB</td><td>12.225</td><td>13.300</td><td>14.175</td><td>12.375</td><td>52.075</td></tr>
<tr class="one"><td>61</td><td>TANKOUCHEVA Nikolina</td><td>BUL</td><td>13.850</td><td>12.700</td><td>12.075</td><td>12.850</td><td>51.475</td></tr>
<tr class="two"><td>62</td><td>EL ZEINY Sherine</td><td>EGY</td><td>13.750</td><td>10.600</td><td>13.000</td><td>12.650</td><td>50.000</td></tr>
<tr class="one"><td>63</td><td>CHENG Fei</td><td>CHN</td><td>16.150</td><td></td><td>15.875</td><td>15.750</td><td>47.775</td></tr>
<tr class="two"><td>64</td><td>SACRAMONE Alicia</td><td>USA</td><td>15.850</td><td></td><td>15.950</td><td>14.425</td><td>46.225</td></tr>
<tr class="one"><td>65</td><td>LINDOR Katheleen</td><td>FRA</td><td>14.900</td><td>14.700</td><td>14.575</td><td></td><td>44.175</td></tr>
<tr class="two"><td>66</td><td>KLYUKINA Svetlana</td><td>RUS</td><td>15.175</td><td>14.975</td><td></td><td>13.950</td><td>44.100</td></tr>
<tr class="one"><td>67</td><td>DRAGOI Gabriela</td><td>ROU</td><td></td><td>14.225</td><td>15.450</td><td>14.250</td><td>43.925</td></tr>
<tr class="two"><td>68</td><td>SHINTAKE Yuko</td><td>JPN</td><td>14.675</td><td></td><td>15.050</td><td>14.175</td><td>43.900</td></tr>
<tr class="one"><td>69</td><td>MITCHELL Lauren</td><td>AUS</td><td>14.725</td><td></td><td>14.100</td><td>14.650</td><td>43.475</td></tr>
<tr class="two"><td>70</td><td>KRASNIANSKA Iryna</td><td>UKR</td><td>14.200</td><td>14.250</td><td>15.025</td><td></td><td>43.475</td></tr>
<tr class="one"><td>71</td><td>BELLEMARE Rose-Eliandre</td><td>FRA</td><td>14.725</td><td>14.400</td><td></td><td>14.225</td><td>43.350</td></tr>
<tr class="two"><td>72</td><td>ACATRINEI Andreea</td><td>ROU</td><td>14.350</td><td></td><td>14.175</td><td>14.775</td><td>43.300</td></tr>
<tr class="one"><td>73</td><td>WING Rebecca</td><td>GBR</td><td>14.550</td><td>14.100</td><td>14.575</td><td></td><td>43.225</td></tr>
<tr class="two"><td>74</td><td>SOUZA Lais</td><td>BRA</td><td>14.800</td><td>14.775</td><td>13.575</td><td></td><td>43.150</td></tr>
<tr class="one"><td>75</td><td>PROSKURINA Maryna</td><td>UKR</td><td>14.850</td><td></td><td>14.625</td><td>13.675</td><td>43.150</td></tr>
<tr class="two"><td>76</td><td>HYPOLITO Daniele</td><td>BRA</td><td></td><td>14.300</td><td>14.000</td><td>14.250</td><td>42.550</td></tr>
<tr class="one"><td>77</td><td>MINOBE Yu</td><td>JPN</td><td>14.050</td><td>14.525</td><td></td><td>13.825</td><td>42.400</td></tr>
<tr class="two"><td>78</td><td>WHELAN Hannah</td><td>GBR</td><td>13.500</td><td></td><td>14.325</td><td>14.125</td><td>41.950</td></tr>
<tr class="one"><td>79</td><td>MOEBIUS Joeline</td><td>GER</td><td>13.675</td><td></td><td>13.925</td><td>14.275</td><td>41.875</td></tr>
<tr class="two"><td>80</td><td>HE Kexin</td><td>CHN</td><td>15.250</td><td>15.725</td><td></td><td></td><td>30.975</td></tr>
<tr class="one"><td>81</td><td>TWEDDLE Beth</td><td>GBR</td><td></td><td>15.650</td><td></td><td>14.950</td><td>30.600</td></tr>
<tr class="two"><td>82</td><td>ZGOBA Dariya</td><td>UKR</td><td></td><td>15.675</td><td>14.875</td><td></td><td>30.550</td></tr>
<tr class="one"><td>83</td><td>LI Shanshan</td><td>CHN</td><td></td><td></td><td>16.125</td><td>14.200</td><td>30.325</td></tr>
<tr class="two"><td>84</td><td>SANTOS Daiane</td><td>BRA</td><td>14.800</td><td></td><td></td><td>15.275</td><td>30.075</td></tr>
<tr class="one"><td>85</td><td>KURODA Mayu</td><td>JPN</td><td></td><td>14.725</td><td>14.850</td><td></td><td>29.575</td></tr>
<tr class="two"><td>86</td><td>KOVAL Anastasiia</td><td>UKR</td><td></td><td>16.325</td><td></td><td>13.000</td><td>29.325</td></tr>
<tr class="one"><td>87</td><td>CHA Yong Hwa</td><td>PRK</td><td>13.750</td><td>15.175</td><td></td><td></td><td>28.925</td></tr>
<tr class="two"><td>88</td><td>DEBAUVE Marine</td><td>FRA</td><td></td><td></td><td>14.625</td><td>14.100</td><td>28.725</td></tr>
<tr class="one"><td>89</td><td>GRIGORE Andreea</td><td>ROU</td><td>14.700</td><td>13.975</td><td></td><td></td><td>28.675</td></tr>
<tr class="two"><td>90</td><td>BERGAMELLI Monica</td><td>ITA</td><td>13.900</td><td></td><td>14.350</td><td></td><td>28.250</td></tr>
<tr class="one"><td>91</td><td>SAJN Adela</td><td>SLO</td><td></td><td></td><td>14.100</td><td>13.700</td><td>27.800</td></tr>
<tr class="two"><td>92</td><td>MACRI' Federica</td><td>ITA</td><td></td><td>13.550</td><td></td><td>13.800</td><td>27.350</td></tr>
<tr class="one"><td>93</td><td>KOVACOVA Ivana</td><td>SVK</td><td></td><td>12.500</td><td>12.350</td><td></td><td>24.850</td></tr>
<tr class="two"><td>94</td><td>BRINKER Anja</td><td>GER</td><td></td><td>15.125</td><td></td><td></td><td>15.125</td></tr>
<tr class="one"><td>95</td><td>MEMMEL Chellsie</td><td>USA</td><td></td><td>15.050</td><td></td><td></td><td>15.050</td></tr>
<tr class="two"><td>96</td><td>VIVIAN Olivia</td><td>AUS</td><td></td><td>14.925</td><td></td><td></td><td>14.925</td></tr>
<tr class="one"><td>97</td><td>PESZEK Samantha</td><td>USA</td><td></td><td>14.800</td><td></td><td></td><td>14.800</td></tr>
<tr class="two"><td>98</td><td>GREBENKOVA Lyudmila</td><td>RUS</td><td></td><td></td><td>14.600</td><td></td><td>14.600</td></tr>
</table>
</div>

<a href="documents/wag/aaqual.pdf" target="_blank" class="pdf">Official Results</a>
<a href="documents/wag/aaqualdetail.pdf" target="_blank" class="pdf">Detailed Results</a>
