---
title: "Beijing 2008 Olympics Women's Apparatus Qualifications"
year: 2008
startdate: 2008-08-08
enddate: 2008-08-24
country: "CHN"
category: "olympics"
layout: results
homepage: false
redirect_from: /olympics/2008/wageventsqual.html
---
	
{% include resultsheader.html title="Games of the 29th Olympiad<br>Women's Artistic Gymnastics<br>Beijing (CHN) August 8-24, 2008<br>Apparatus Qualifications" %}

<a href="/results/2008/olympics/index.html"><img src="/assets/images/logos/lg2008og.jpg"></a>

<h2 class="wom">Women’s Vault Qualification - 2008 Aug 10</h2>
<div class="table-scroll" tabindex="-1">	
<table class="waa">
	<colgroup span=1 width=25 align="center">
	<colgroup span=1 width=250>
	<colgroup span=6 width=72 align="center">
<tr class="wom"><th colspan=8>Gymnast</th></th></tr>
<tr class="wom"><th colspan=3>Two Vaults Qualification</th><th>A</th><th>B</th><th>Pen</th><th>Score</td><th>Final</th></tr>
<tr class="one"><td>1</td><td>CHENG Fei</td><td>CHN</td><td> 6.500</td><td>9.650</td><td></td><td>16.150</td><td>15.912 Q</td></tr>
<tr class="two"><td>2</td><td>HONG Un Jong</td><td>PRK</td><td> 6.500</td><td>9.150</td><td></td><td>15.650</td><td>15.725 Q</td></tr>
<tr class="one"><td>3</td><td>SACRAMONE Alicia</td><td>USA</td><td> 6.300</td><td>9.550</td><td></td><td>15.850</td><td>15.625 Q</td></tr>
<tr class="two"><td>4</td><td>CHUSOVITINA Oksana</td><td>GER</td><td> 6.300</td><td>9.500</td><td></td><td>15.800</td><td>15.525 Q</td></tr>
<tr class="one"><td>5</td><td>PAVLOVA Anna</td><td>RUS</td><td> 5.800</td><td>9.550</td><td></td><td>15.350</td><td>15.275 Q</td></tr>
<tr class="two"><td>6</td><td>GIOVANNINI Carlotta</td><td>ITA</td><td> 5.800</td><td>9.300</td><td></td><td>15.100</td><td>15.137 Q</td></tr>
<tr class="one"><td>7</td><td>BARBOSA Jade</td><td>BRA</td><td> 5.800</td><td>9.400</td><td>0.100</td><td>15.100</td><td>15.050 Q</td></tr>
<tr class="two"><td>8</td><td>KASLIN Ariella</td><td>SUI</td><td> 6.300</td><td>8.925</td><td></td><td>15.225</td><td>14.975 Q</td></tr>
<tr class="one"><td>9</td><td>MARACHKOUSKAYA Anastasia</td><td>BLR</td><td> 5.800</td><td>9.475</td><td></td><td>15.275</td><td>14.787 R</td></tr>
<tr class="two"><td>10</td><td>DAMIANOVA Nansy</td><td>CAN</td><td> 5.500</td><td>9.200</td><td></td><td>14.700</td><td>14.062 R</td></tr>
<tr class="one"><td>11</td><td>CANTU MATA Maricela</td><td>MEX</td><td> 5.000</td><td>9.175</td><td></td><td>14.175</td><td>13.925 R</td></tr>
<tr class="two"><td>12</td><td>BOCZOGO Dorina</td><td>HUN</td><td>5.000</td><td>8.375</td><td></td><td>13.375</td><td>13.912</td></tr>
<tr class="one"><td>13</td><td>ZANEVSKAJA Jelena</td><td>LTU</td><td>4.800</td><td>9.075</td><td></td><td>13.875</td><td>13.687</td></tr>
<tr class="two"><td>14</td><td>ERCEG Tina</td><td>CRO</td><td>4.800</td><td>8.850</td><td></td><td>13.650</td><td>13.587</td></tr>
<tr class="one"><td>15</td><td>DO Thi Ngan Thuong</td><td>VIE</td><td>4.600</td><td>8.800</td><td></td><td>13.400</td><td>13.262</td></tr>
</table>
</div>

<a href="documents/wag/q1vt.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Women’s Uneven Bars Qualification - 2008 Aug 10</h2>
<div class="table-scroll" tabindex="-1">	
<table class="waa">
	<colgroup span=1 width=30 align="center">
	<colgroup span=1 width=250>
	<colgroup span=5 width=85 align="center">
<tr class="wom"><th colspan=3>Gymnast</th><th>A</th><th>B</th><th>Pen</th><th>Score</td></tr>
<tr class="one"><td>1</td><td>YANG Yilin</td><td>CHN</td><td>7.700</td><td>8.950</td><td></td><td>16.650 Q</td></tr>
<tr class="two"><td>2</td><td>SEMENOVA Ksenia</td><td>RUS</td><td>7.400</td><td>9.075</td><td></td><td>16.475 Q</td></tr>
<tr class="one"><td>3</td><td>KOVAL Anastasiia</td><td>UKR</td><td>7.300</td><td>9.025</td><td></td><td>16.325 Q</td></tr>
<tr class="two"><td>4</td><td>NISTOR Steliana</td><td>ROU</td><td>7.300</td><td>8.675</td><td></td><td>15.975 Q</td></tr>
<tr class="one"><td>5</td><td>LIUKIN Nastia</td><td>USA</td><td>7.700</td><td>8.250</td><td></td><td>15.950 Q</td></tr>
<tr class="two"><td>6</td><td>HE Kexin</td><td>CHN</td><td>7.500</td><td>8.225</td><td></td><td>15.725 Q</td></tr>
<tr class="one"><td>7</td><td>ZGOBA Dariya</td><td>UKR</td><td>6.900</td><td>8.875</td><td>0.100</td><td>15.675 Q</td></tr>
<tr class="two"><td>8</td><td>TWEDDLE Beth</td><td>GBR</td><td>7.600</td><td>8.050</td><td></td><td>15.650 Q</td></tr>
<tr class="one"><td>9</td><td>JIANG Yuyuan</td><td>CHN</td><td>7.000</td><td>8.550</td><td></td><td>15.550</td></tr>
<tr class="two"><td>10</td><td>KRAMARENKO Ekaterina</td><td>RUS</td><td>6.600</td><td>8.900</td><td></td><td>15.500 R</td></tr>
<tr class="one"><td>11</td><td>JOHNSON Shawn</td><td>USA</td><td>6.300</td><td>9.025</td><td></td><td>15.325 R</td></tr>
<tr class="two"><td>12</td><td>CHA Yong Hwa</td><td>PRK</td><td>7.200</td><td>7.975</td><td></td><td>15.175 R</td></tr>
<tr class="one"><td>13</td><td>JOURA Daria</td><td>AUS</td><td>6.200</td><td>8.925</td><td></td><td>15.125</td></tr>
<tr class="two"><td>14</td><td>BRINKER Anja</td><td>GER</td><td>7.100</td><td>8.025</td><td></td><td>15.125</td></tr>
<tr class="one"><td>15</td><td>PALESOVA Kristyna</td><td>CZE</td><td>6.600</td><td>8.500</td><td></td><td>15.100</td></tr>
<tr class="two"><td>16</td><td>MEMMEL Chellsie</td><td>USA</td><td>7.000</td><td>8.050</td><td></td><td>15.050</td></tr>
<tr class="one"><td>17</td><td>TSURUMI Koko</td><td>JPN</td><td>6.600</td><td>8.425</td><td></td><td>15.025</td></tr>
<tr class="two"><td>18</td><td>KLYUKINA Svetlana</td><td>RUS</td><td>6.200</td><td>8.775</td><td></td><td>14.975</td></tr>
<tr class="one"><td>19</td><td>HOPFNER-HIBBS Elyse</td><td>CAN</td><td>6.800</td><td>8.175</td><td></td><td>14.975</td></tr>
<tr class="two"><td>20</td><td>VIVIAN Olivia</td><td>AUS</td><td>6.600</td><td>8.325</td><td></td><td>14.925</td></tr>
<tr class="one"><td>21</td><td>AFANASYEVA Ksenia</td><td>RUS</td><td>6.100</td><td>8.725</td><td></td><td>14.825</td></tr>
<tr class="two"><td>22</td><td>BARBOSA Jade</td><td>BRA</td><td>6.000</td><td>8.800</td><td></td><td>14.800</td></tr>
<tr class="one"><td>23</td><td>PESZEK Samantha</td><td>USA</td><td>6.100</td><td>8.700</td><td></td><td>14.800</td></tr>
<tr class="two"><td>24</td><td>MOREL Pauline</td><td>FRA</td><td>6.200</td><td>8.600</td><td></td><td>14.800</td></tr>
<tr class="one"><td>25</td><td>SLOAN Bridget</td><td>USA</td><td>6.700</td><td>8.100</td><td></td><td>14.800</td></tr>
<tr class="two"><td>26</td><td>SOUZA Lais</td><td>BRA</td><td>6.500</td><td>8.275</td><td></td><td>14.775</td></tr>
<tr class="one"><td>27</td><td>CHUSOVITINA Oksana</td><td>GER</td><td>6.200</td><td>8.525</td><td></td><td>14.725</td></tr>
<tr class="two"><td>28</td><td>KURODA Mayu</td><td>JPN</td><td>6.400</td><td>8.325</td><td></td><td>14.725</td></tr>
<tr class="one"><td>29</td><td>DENG Linlin</td><td>CHN</td><td>6.600</td><td>8.125</td><td></td><td>14.725</td></tr>
<tr class="two"><td>30</td><td>LINDOR Katheleen</td><td>FRA</td><td>6.100</td><td>8.600</td><td></td><td>14.700</td></tr>
<tr class="one"><td>31</td><td>BIJAK Daria</td><td>GER</td><td>6.200</td><td>8.450</td><td></td><td>14.650</td></tr>
<tr class="two"><td>32</td><td>ABEL Katja</td><td>GER</td><td>6.300</td><td>8.350</td><td></td><td>14.650</td></tr>
<tr class="one"><td>33</td><td>DOWNIE Becky</td><td>GBR</td><td>6.500</td><td>8.150</td><td></td><td>14.650</td></tr>
<tr class="two"><td>34</td><td>DUGAIN Laetitia</td><td>FRA</td><td>6.000</td><td>8.625</td><td></td><td>14.625</td></tr>
<tr class="one"><td>35</td><td>PAVLOVA Anna</td><td>RUS</td><td>5.700</td><td>8.900</td><td></td><td>14.600</td></tr>
<tr class="two"><td>36</td><td>SILVA Ana</td><td>BRA</td><td>6.700</td><td>7.850</td><td></td><td>14.550</td></tr>
<tr class="one"><td>37</td><td>MINOBE Yu</td><td>JPN</td><td>6.200</td><td>8.325</td><td></td><td>14.525</td></tr>
<tr class="two"><td>38</td><td>BONORA Georgia</td><td>AUS</td><td>5.900</td><td>8.600</td><td></td><td>14.500</td></tr>
<tr class="one"><td>39</td><td>MORGAN Shona</td><td>AUS</td><td>6.000</td><td>8.500</td><td></td><td>14.500</td></tr>
<tr class="two"><td>40</td><td>BENOLLI FRAsca</td><td>ITA</td><td>6.100</td><td>8.375</td><td></td><td>14.475</td></tr>
<tr class="one"><td>41</td><td>GIOVANNINI Carlotta</td><td>ITA</td><td>6.200</td><td>8.275</td><td></td><td>14.475</td></tr>
<tr class="two"><td>42</td><td>OSHIMA Kyoko</td><td>JPN</td><td>6.000</td><td>8.450</td><td></td><td>14.450</td></tr>
<tr class="one"><td>43</td><td>BELLEMARE Rose-Eliandre</td><td>FRA</td><td>5.700</td><td>8.700</td><td></td><td>14.400</td></tr>
<tr class="two"><td>44</td><td>PIHAN Marta</td><td>POL</td><td>6.100</td><td>8.275</td><td></td><td>14.375</td></tr>
<tr class="one"><td>45</td><td>PAROLARI Lia</td><td>ITA</td><td>6.500</td><td>7.875</td><td></td><td>14.375</td></tr>
<tr class="two"><td>46</td><td>HOLENKOVA Valentyna</td><td>UKR</td><td>6.600</td><td>7.775</td><td></td><td>14.375</td></tr>
<tr class="one"><td>47</td><td>BISMPIKOU Stefani</td><td>Greece</td><td>6.200</td><td>8.150</td><td></td><td>14.350</td></tr>
<tr class="two"><td>48</td><td>PETIT Marine</td><td>FRA</td><td>5.800</td><td>8.525</td><td></td><td>14.325</td></tr>
<tr class="one"><td>49</td><td>KASLIN Ariella</td><td>SUI</td><td>5.800</td><td>8.500</td><td></td><td>14.300</td></tr>
<tr class="two"><td>50</td><td>HYPOLITO Daniele</td><td>BRA</td><td>6.400</td><td>8.000</td><td>0.100</td><td>14.300</td></tr>
<tr class="one"><td>51</td><td>TAMIRJAN Anamaria</td><td>ROU</td><td>6.000</td><td>8.275</td><td></td><td>14.275</td></tr>
<tr class="two"><td>52</td><td>KRASNIANSKA Iryna</td><td>UKR</td><td>6.400</td><td>7.850</td><td></td><td>14.250</td></tr>
<tr class="one"><td>53</td><td>DRAGOI Gabriela</td><td>ROU</td><td>6.100</td><td>8.125</td><td></td><td>14.225</td></tr>
<tr class="two"><td>54</td><td>MYS Gaelle</td><td>BEL</td><td>5.800</td><td>8.375</td><td></td><td>14.175</td></tr>
<tr class="one"><td>55</td><td>FRANCO Ethiene</td><td>BRA</td><td>5.700</td><td>8.400</td><td></td><td>14.100</td></tr>
<tr class="two"><td>56</td><td>WING Rebecca</td><td>GBR</td><td>6.100</td><td>8.300</td><td>0.300</td><td>14.100</td></tr>
<tr class="one"><td>57</td><td>HONG Un Jong</td><td>PRK</td><td>6.000</td><td>8.100</td><td></td><td>14.100</td></tr>
<tr class="two"><td>58</td><td>FERRARI Vanessa</td><td>ITA</td><td>6.700</td><td>7.350</td><td></td><td>14.050</td></tr>
<tr class="one"><td>59</td><td>GRIGORE Andreea</td><td>ROU</td><td>5.800</td><td>8.175</td><td></td><td>13.975</td></tr>
<tr class="two"><td>60</td><td>HARMES Suzanne</td><td>NED</td><td>6.000</td><td>7.925</td><td>0.100</td><td>13.825</td></tr>
<tr class="one"><td>61</td><td>LOPEZ AROCHA Jessica Brizeida</td><td>VEN</td><td>5.800</td><td>8.000</td><td></td><td>13.800</td></tr>
<tr class="two"><td>62</td><td>BRENNAN Ashleigh</td><td>AUS</td><td>6.100</td><td>7.900</td><td>0.300</td><td>13.700</td></tr>
<tr class="one"><td>63</td><td>DAMIANOVA Nansy</td><td>CAN</td><td>6.000</td><td>7.650</td><td></td><td>13.650</td></tr>
<tr class="two"><td>64</td><td>KOZICH Alina</td><td>UKR</td><td>5.900</td><td>7.825</td><td>0.100</td><td>13.625</td></tr>
<tr class="one"><td>65</td><td>IZBASA Sandra</td><td>ROU</td><td>5.400</td><td>8.175</td><td></td><td>13.575</td></tr>
<tr class="two"><td>66</td><td>MACRI' Federica</td><td>ITA</td><td>5.200</td><td>8.350</td><td></td><td>13.550</td></tr>
<tr class="one"><td>67</td><td>DE SIMONE Lenika</td><td>ESP</td><td>6.100</td><td>7.450</td><td></td><td>13.550</td></tr>
<tr class="two"><td>68</td><td>CAIRNS Imogen</td><td>GBR</td><td>5.500</td><td>8.275</td><td>0.300</td><td>13.475</td></tr>
<tr class="one"><td>69</td><td>KING Marissa</td><td>GBR</td><td>5.300</td><td>8.175</td><td></td><td>13.475</td></tr>
<tr class="two"><td>70</td><td>ZANEVSKAJA Jelena</td><td>LTU</td><td>5.600</td><td>7.750</td><td></td><td>13.350</td></tr>
<tr class="one"><td>71</td><td>GALIULINA Luiza</td><td>UZB</td><td>5.400</td><td>8.000</td><td>0.100</td><td>13.300</td></tr>
<tr class="two"><td>72</td><td>BOCZOGO Dorina</td><td>HUN</td><td>5.800</td><td>7.400</td><td></td><td>13.200</td></tr>
<tr class="one"><td>73</td><td>SANCHEZ Nathalia</td><td>COL</td><td>5.500</td><td>7.675</td><td></td><td>13.175</td></tr>
<tr class="two"><td>74</td><td>HINDERMANN Marie-Sophie</td><td>GER</td><td>6.900</td><td>6.225</td><td></td><td>13.125</td></tr>
<tr class="one"><td>75</td><td>CAMPOS Laura</td><td>ESP</td><td>5.600</td><td>7.475</td><td></td><td>13.075</td></tr>
<tr class="two"><td>76</td><td>UEMURA Miki</td><td>JPN</td><td>5.900</td><td>6.875</td><td></td><td>12.775</td></tr>
<tr class="one"><td>77</td><td>TANKOUCHEVA Nikolina</td><td>BUL</td><td>4.800</td><td>8.200</td><td>0.300</td><td>12.700</td></tr>
<tr class="two"><td>78</td><td>CANTU MATA Maricela</td><td>MEX</td><td>5.700</td><td>6.925</td><td></td><td>12.625</td></tr>
<tr class="one"><td>79</td><td>DO Thi Ngan Thuong</td><td>VIE</td><td>5.200</td><td>7.775</td><td>0.400</td><td>12.575</td></tr>
<tr class="two"><td>80</td><td>KOVACOVA Ivana</td><td>SVK</td><td>5.800</td><td>6.700</td><td></td><td>12.500</td></tr>
<tr class="one"><td>81</td><td>MARACHKOUSKAYA Anastasia</td><td>BLR</td><td>4.400</td><td>7.800</td><td></td><td>12.200</td></tr>
<tr class="two"><td>82</td><td>JO Hyunjoo</td><td>KOR</td><td>5.600</td><td>6.275</td><td></td><td>11.875</td></tr>
<tr class="one"><td>83</td><td>ERCEG Tina</td><td>CRO</td><td>6.100</td><td>5.825</td><td>0.100</td><td>11.825</td></tr>
<tr class="two"><td>84</td><td>EL ZEINY Sherine <td>EGY</td><td>4.300</td><td>6.600</td><td>0.300</td><td>10.600</td></tr>
</table>
</div>

<a href="documents/wag/q2ub.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Women’s Balance Beam Qualification - 2008 Aug 10</h2>
<div class="table-scroll" tabindex="-1">	
<table class="waa">
	<colgroup span=1 width=30 align="center">
	<colgroup span=1 width=250>
	<colgroup span=5 width=85 align="center">
<tr class="wom"><th colspan=3>Gymnast</th><th>A</th><th>B</th><th>Pen</th><th>Score</td></tr>
<tr class="one"><td>1</td><td>LI Shanshan</td><td>CHN</td><td>7.000</td><td>9.125</td><td></td><td>16.125 Q</td></tr>
<tr class="two"><td>2</td><td>LIUKIN Nastia</td><td>USA</td><td>6.600</td><td>9.375</td><td></td><td>15.975 Q</td></tr>
<tr class="one"><td>3</td><td>JOHNSON Shawn</td><td>USA</td><td>6.900</td><td>9.075</td><td></td><td>15.975 Q</td></tr>
<tr class="two"><td>4</td><td>SACRAMONE</td><td>Alicia</td><td>USA 6.</td><td>800 9.</td><td></td><td>150  15.950</td></tr>
<tr class="one"><td>5</td><td>CHENG Fei CHN 6.</td><td>700</td><td>9.275</td><td>0.100</td><td></td><td>15.875 Q</td></tr>
<tr class="two"><td>6</td><td>PAVLOVA Anna</td><td>RUS</td><td>6.700</td><td>9.125</td><td></td><td>15.825 Q</td></tr>
<tr class="one"><td>7</td><td>AFANASYEVA Ksenia</td><td>RUS</td><td>6.600</td><td>9.175</td><td></td><td>15.775 Q</td></tr>
<tr class="two"><td>8</td><td>SEMENOVA Ksenia</td><td>RUS</td><td>6.600</td><td>9.175</td><td></td><td>15.775</td></tr>
<tr class="one"><td>9</td><td>DENG Linlin</td><td>CHN</td><td>6.900</td><td>8.650</td><td></td><td>15.550</td></tr>
<tr class="two"><td>10</td><td>SLOAN Bridget</td><td>USA</td><td>6.500</td><td>9.000</td><td></td><td>15.500</td></tr>
<tr class="one"><td>11</td><td>YANG Yilin</td><td>CHN</td><td>6.500</td><td>9.000</td><td></td><td>15.500</td></tr>
<tr class="two"><td>12</td><td>DRAGOI Gabriela</td><td>ROU</td><td>6.500</td><td>8.950</td><td></td><td>15.450 Q</td></tr>
<tr class="one"><td>13</td><td>TSURUMI Koko</td><td>JPN</td><td>6.500</td><td>8.925</td><td></td><td>15.425 Q</td></tr>
<tr class="two"><td>14</td><td>MORGAN Shona</td><td>AUS</td><td>6.500</td><td>8.850</td><td></td><td>15.350 R</td></tr>
<tr class="one"><td>15</td><td>JIANG Yuyuan</td><td>CHN</td><td>6.400</td><td>8.850</td><td></td><td>15.250</td></tr>
<tr class="two"><td>16</td><td>IZBASA Sandra</td><td>ROU</td><td>6.500</td><td>8.725</td><td></td><td>15.225 R</td></tr>
<tr class="one"><td>17</td><td>TAMIRJAN Anamaria</td><td>ROU</td><td>6.400</td><td>8.800</td><td></td><td>15.200</td></tr>
<tr class="two"><td>18</td><td>PAROLARI Lia</td><td>ITA</td><td>6.200</td><td>8.975</td><td></td><td>15.175 R</td></tr>
<tr class="one"><td>19</td><td>KOZICH Alina</td><td>UKR</td><td>6.600</td><td>8.575</td><td></td><td>15.175</td></tr>
<tr class="two"><td>20</td><td>HOPFNER-HIBBS Elyse</td><td>CAN</td><td>6.200</td><td>8.925</td><td></td><td>15.125</td></tr>
<tr class="one"><td>21</td><td>PALESOVA Kristyna</td><td>CZE</td><td>6.400</td><td>8.675</td><td></td><td>15.075</td></tr>
<tr class="two"><td>22</td><td>NISTOR Steliana</td><td>ROU</td><td>6.700</td><td>8.375</td><td></td><td>15.075</td></tr>
<tr class="one"><td>23</td><td>SHINTAKE Yuko</td><td>JPN</td><td>6.000</td><td>9.050</td><td></td><td>15.050</td></tr>
<tr class="two"><td>24</td><td>BONORA Georgia</td><td>AUS</td><td>6.200</td><td>8.825</td><td></td><td>15.025</td></tr>
<tr class="one"><td>25</td><td>KRASNIANSKA Iryna</td><td>UKR</td><td>6.700</td><td>8.325</td><td></td><td>15.025</td></tr>
<tr class="two"><td>26</td><td>DUGAIN Laetitia</td><td>FRA</td><td>6.300</td><td>8.675</td><td></td><td>14.975</td></tr>
<tr class="one"><td>27</td><td>ZGOBA Dariya</td><td>UKR</td><td>6.200</td><td>8.675</td><td></td><td>14.875</td></tr>
<tr class="two"><td>28</td><td>KURODA Mayu</td><td>JPN</td><td>6.100</td><td>8.750</td><td></td><td>14.850</td></tr>
<tr class="one"><td>29</td><td>PETIT Marine</td><td>FRA</td><td>6.300</td><td>8.500</td><td></td><td>14.800</td></tr>
<tr class="two"><td>30</td><td>MYS Gaelle</td><td>BEL</td><td>6.400</td><td>8.400</td><td></td><td>14.800</td></tr>
<tr class="one"><td>31</td><td>FERRARI Vanessa</td><td>ITA</td><td>6.600</td><td>8.175</td><td></td><td>14.775</td></tr>
<tr class="two"><td>32</td><td>BARBOSA Jade</td><td>BRA</td><td>6.600</td><td>8.100</td><td></td><td>14.700</td></tr>
<tr class="one"><td>33</td><td>KASLIN Ariella</td><td>SUI</td><td>6.700</td><td>7.950</td><td></td><td>14.650</td></tr>
<tr class="two"><td>34</td><td>PROSKURINA Maryna</td><td>UKR</td><td>5.800</td><td>8.825</td><td></td><td>14.625</td></tr>
<tr class="one"><td>35</td><td>DEBAUVE Marine</td><td>FRA</td><td>6.200</td><td>8.425</td><td></td><td>14.625</td></tr>
<tr class="two"><td>36</td><td>KRAMARENKO Ekaterina</td><td>RUS</td><td>6.500</td><td>8.125</td><td></td><td>14.625</td></tr>
<tr class="one"><td>37</td><td>GREBENKOVA Lyudmila</td><td>RUS</td><td>6.700</td><td>7.900</td><td></td><td>14.600</td></tr>
<tr class="two"><td>38</td><td>UEMURA Miki</td><td>JPN</td><td>6.000</td><td>8.575</td><td></td><td>14.575</td></tr>
<tr class="one"><td>39</td><td>WING Rebecca</td><td>GBR</td><td>6.100</td><td>8.475</td><td></td><td>14.575</td></tr>
<tr class="two"><td>40</td><td>LINDOR Katheleen</td><td>FRA</td><td>6.100</td><td>8.475</td><td></td><td>14.575</td></tr>
<tr class="one"><td>41</td><td>BISMPIKOU Stefani</td><td>Greece</td><td>6.400</td><td>8.075</td><td></td><td>14.475</td></tr>
<tr class="two"><td>42</td><td>FRANCO Ethiene</td><td>BRA</td><td>5.600</td><td>8.800</td><td></td><td>14.400</td></tr>
<tr class="one"><td>43</td><td>CHUSOVITINA Oksana</td><td>GER</td><td>6.200</td><td>8.200</td><td></td><td>14.400</td></tr>
<tr class="two"><td>44</td><td>BERGAMELLI Monica</td><td>ITA</td><td>5.600</td><td>8.750</td><td></td><td>14.350</td></tr>
<tr class="one"><td>45</td><td>WHELAN Hannah</td><td>GBR</td><td>6.100</td><td>8.225</td><td></td><td>14.325</td></tr>
<tr class="two"><td>46</td><td>KING Marissa</td><td>GBR</td><td>6.100</td><td>8.225</td><td></td><td>14.325</td></tr>
<tr class="one"><td>47</td><td>OSHIMA Kyoko</td><td>JPN</td><td>5.900</td><td>8.400</td><td></td><td>14.300</td></tr>
<tr class="two"><td>48</td><td>HOLENKOVA Valentyna</td><td>UKR</td><td>6.400</td><td>7.875</td><td></td><td>14.275</td></tr>
<tr class="one"><td>49</td><td>DAMIANOVA Nansy</td><td>CAN</td><td>6.100</td><td>8.150</td><td></td><td>14.250</td></tr>
<tr class="two"><td>50</td><td>DOWNIE Becky</td><td>GBR</td><td>6.200</td><td>8.025</td><td></td><td>14.225</td></tr>
<tr class="one"><td>51</td><td>DO Thi Ngan Thuong</td><td>VIE</td><td>6.300</td><td>7.925</td><td></td><td>14.225</td></tr>
<tr class="two"><td>52</td><td>CAIRNS Imogen</td><td>GBR</td><td>5.800</td><td>8.375</td><td></td><td>14.175</td></tr>
<tr class="one"><td>53</td><td>ACATRINEI Andreea</td><td>ROU</td><td>6.100</td><td>8.075</td><td></td><td>14.175</td></tr>
<tr class="two"><td>54</td><td>GALIULINA Luiza</td><td>UZB</td><td>6.300</td><td>7.875</td><td></td><td>14.175</td></tr>
<tr class="one"><td>55</td><td>BRENNAN Ashleigh</td><td>AUS</td><td>6.300</td><td>7.850</td><td></td><td>14.150</td></tr>
<tr class="two"><td>56</td><td>SAJN Adela</td><td>Slovenia</td><td>6.000</td><td>8.100</td><td></td><td>14.100</td></tr>
<tr class="one"><td>57</td><td>DE SIMONE Lenika</td><td>ESP</td><td>6.200</td><td>7.900</td><td></td><td>14.100</td></tr>
<tr class="two"><td>58</td><td>MITCHELL Lauren</td><td>AUS</td><td>6.700</td><td>7.400</td><td></td><td>14.100</td></tr>
<tr class="one"><td>59</td><td>ABEL Katja</td><td>GER</td><td>5.700</td><td>8.375</td><td></td><td>14.075</td></tr>
<tr class="two"><td>60</td><td>ERCEG Tina</td><td>CRO</td><td>5.900</td><td>8.175</td><td></td><td>14.075</td></tr>
<tr class="one"><td>61</td><td>LOPEZ AROCHA Jessica Brizeida</td><td>VEN</td><td>5.800</td><td>8.250</td><td></td><td>14.050</td></tr>
<tr class="two"><td>62</td><td>HYPOLITO Daniele</td><td>BRA</td><td>6.300</td><td>7.700</td><td></td><td>14.000</td></tr>
<tr class="one"><td>63</td><td>CAMPOS Laura</td><td>ESP</td><td>6.300</td><td>7.675</td><td></td><td>13.975</td></tr>
<tr class="two"><td>64</td><td>BOCZOGO Dorina</td><td>HUN</td><td>5.400</td><td>8.550</td><td></td><td>13.950</td></tr>
<tr class="one"><td>65</td><td>MOEBIUS Joeline</td><td>GER</td><td>6.000</td><td>7.925</td><td></td><td>13.925</td></tr>
<tr class="two"><td>66</td><td>GIOVANNINI Carlotta</td><td>ITA</td><td>5.400</td><td>8.500</td><td></td><td>13.900</td></tr>
<tr class="one"><td>67</td><td>BENOLLI FRAsca</td><td>ITA</td><td>5.300</td><td>8.550</td><td></td><td>13.850</td></tr>
<tr class="two"><td>68</td><td>HARMES Suzanne</td><td>NED</td><td>5.300</td><td>8.525</td><td></td><td>13.825</td></tr>
<tr class="one"><td>69</td><td>SANCHEZ Nathalia</td><td>COL</td><td>6.100</td><td>7.725</td><td></td><td>13.825</td></tr>
<tr class="two"><td>70</td><td>MOREL Pauline</td><td>FRA</td><td>6.700</td><td>7.050</td><td></td><td>13.750</td></tr>
<tr class="one"><td>71</td><td>MARACHKOUSKAYA Anastasia</td><td>BLR</td><td>5.800</td><td>7.800</td><td></td><td>13.600</td></tr>
<tr class="two"><td>72</td><td>SOUZA Lais</td><td>BRA</td><td>5.700</td><td>7.875</td><td></td><td>13.575</td></tr>
<tr class="one"><td>73</td><td>PIHAN Marta</td><td>POL</td><td>6.300</td><td>7.225</td><td></td><td>13.525</td></tr>
<tr class="two"><td>74</td><td>SILVA Ana</td><td>BRA</td><td>5.500</td><td>7.975</td><td></td><td>13.475</td></tr>
<tr class="one"><td>75</td><td>HINDERMANN Marie-Sophie</td><td>GER</td><td>6.200</td><td>7.225</td><td></td><td>13.425</td></tr>
<tr class="two"><td>76</td><td>JO Hyunjoo</td><td>KOR</td><td>6.300</td><td>7.100</td><td></td><td>13.400</td></tr>
<tr class="one"><td>77</td><td>ZANEVSKAJA Jelena</td><td>LTU</td><td>5.600</td><td>7.775</td><td></td><td>13.375</td></tr>
<tr class="two"><td>78</td><td>EL ZEINY Sherine</td><td>EGY</td><td>5.500</td><td>7.500</td><td></td><td>13.000</td></tr>
<tr class="one"><td>79</td><td>HONG Un Jong</td><td>PRK</td><td>6.200</td><td>6.625</td><td></td><td>12.825</td></tr>
<tr class="two"><td>80</td><td>CANTU MATA Maricela</td><td>MEX</td><td>5.900</td><td>6.800</td><td></td><td>12.700</td></tr>
<tr class="one"><td>81</td><td>JOURA Daria</td><td>AUS</td><td>5.000</td><td>7.475</td><td></td><td>12.475</td></tr>
<tr class="two"><td>82</td><td>KOVACOVA Ivana</td><td>SVK</td><td>5.700</td><td>6.650</td><td></td><td>12.350</td></tr>
<tr class="one"><td>83</td><td>TANKOUCHEVA Nikolina</td><td>BUL</td><td>4.900</td><td>7.175</td><td></td><td>12.075</td></tr>
<tr class="two"><td>84</td><td>BIJAK Daria</td><td>GER</td><td>4.700</td><td>6.450</td><td></td><td>11.150</td></tr>
</table>
</div>

<a href="documents/wag/q3bb.pdf" target="_blank" class="pdf">Official Results</a>

<h2 class="wom">Women’s Floor Exercise Qualification - 2008 Aug 10</h2>
<div class="table-scroll" tabindex="-1">	
<table class="waa">
	<colgroup span=1 width=30 align="center">
	<colgroup span=1 width=250>
	<colgroup span=5 width=85 align="center">
<tr class="wom"><th colspan=3>Gymnast</th><th>A</th><th>B</th><th>Pen</th><th>Score</td></tr>
<tr class="one"><td>1</td><td>CHENG Fei</td><td>CHN</td><td>6.600</td><td>9.150</td><td></td><td>15.750 Q</td></tr>
<tr class="two"><td>2</td><td>IZBASA Sandra</td><td>ROU</td><td>6.500</td><td>8.975</td><td></td><td>15.475 Q</td></tr>
<tr class="one"><td>3</td><td>JOHNSON Shawn</td><td>USA</td><td>6.300</td><td>9.125</td><td></td><td>15.425 Q</td></tr>
<tr class="two"><td>4</td><td>LIUKIN Nastia</td><td>USA</td><td>6.200</td><td>9.150</td><td></td><td>15.350 Q</td></tr>
<tr class="one"><td>5</td><td>SANTOS Daiane</td><td>BRA</td><td>6.400</td><td>8.975</td><td>0.100</td><td>15.275 Q</td></tr>
<tr class="two"><td>6</td><td>KRAMARENKO Ekaterina</td><td>RUS</td><td>6.100</td><td>9.050</td><td></td><td>15.150 Q</td></tr>
<tr class="one"><td>7</td><td>PAVLOVA Anna</td><td>RUS</td><td>5.900</td><td>9.225</td><td></td><td>15.125 Q</td></tr>
<tr class="two"><td>8</td><td>JIANG Yuyuan</td><td>CHN</td><td>6.200</td><td>8.850</td><td></td><td>15.050 Q</td></tr>
<tr class="one"><td>9</td><td>AFANASYEVA Ksenia</td><td>RUS</td><td>6.100</td><td>8.925</td><td></td><td>15.025</td></tr>
<tr class="two"><td>10</td><td>YANG Yilin</td><td>CHN</td><td>6.200</td><td>8.800</td><td></td><td>15.000</td></tr>
<tr class="one"><td>11</td><td>TWEDDLE Beth</td><td>GBR</td><td>6.400</td><td>8.850</td><td>0.300</td><td>14.950 R</td></tr>
<tr class="two"><td>12</td><td>DENG Linlin</td><td>CHN</td><td>6.200</td><td>8.750</td><td></td><td>14.950</td></tr>
<tr class="one"><td>13</td><td>BARBOSA Jade BRA 6.</td><td>000</td><td>9.000</td><td>0.100</td><td></td><td>14.900 R</td></tr>
<tr class="two"><td>14</td><td>SLOAN Bridget</td><td>USA</td><td>6.200</td><td>8.950</td><td>0.300</td><td>14.850</td></tr>
<tr class="one"><td>15</td><td>SILVA Ana</td><td>BRA</td><td>5.900</td><td>8.900</td><td></td><td>14.800</td></tr>
<tr class="two"><td>16</td><td>ACATRINEI Andreea</td><td>ROU</td><td>6.200</td><td>8.575</td><td></td><td>14.775 R</td></tr>
<tr class="one"><td>17</td><td>MITCHELL Lauren</td><td>AUS</td><td>6.100</td><td>8.850</td><td>0.300</td><td>14.650</td></tr>
<tr class="two"><td>18</td><td>FERRARI Vanessa</td><td>ITA</td><td>6.000</td><td>8.650</td><td></td><td>14.650</td></tr>
<tr class="one"><td>19</td><td>BRENNAN Ashleigh</td><td>AUS</td><td>6.000</td><td>8.725</td><td>0.100</td><td>14.625</td></tr>
<tr class="two"><td>20</td><td>MOREL Pauline</td><td>FRA</td><td>5.900</td><td>8.725</td><td></td><td>14.625</td></tr>
<tr class="one"><td>21</td><td>HARMES Suzanne</td><td>NED</td><td>6.000</td><td>8.600</td><td></td><td>14.600</td></tr>
<tr class="two"><td>22</td><td>PAROLARI Lia</td><td>ITA</td><td>5.700</td><td>8.875</td><td></td><td>14.575</td></tr>
<tr class="one"><td>23</td><td>CAIRNS Imogen</td><td>GBR</td><td>5.800</td><td>8.750</td><td></td><td>14.550</td></tr>
<tr class="two"><td>24</td><td>NISTOR Steliana</td><td>ROU</td><td>6.000</td><td>8.550</td><td></td><td>14.550</td></tr>
<tr class="one"><td>25</td><td>MORGAN Shona</td><td>AUS</td><td>5.800</td><td>8.725</td><td></td><td>14.525</td></tr>
<tr class="two"><td>26</td><td>BONORA Georgia</td><td>AUS</td><td>5.900</td><td>8.625</td><td></td><td>14.525</td></tr>
<tr class="one"><td>27</td><td>TAMIRJAN Anamaria</td><td>ROU</td><td>5.800</td><td>8.700</td><td></td><td>14.500</td></tr>
<tr class="two"><td>28</td><td>BIJAK Daria</td><td>GER</td><td>5.800</td><td>8.675</td><td></td><td>14.475</td></tr>
<tr class="one"><td>29</td><td>SEMENOVA Ksenia</td><td>RUS</td><td>5.800</td><td>8.675</td><td></td><td>14.475</td></tr>
<tr class="two"><td>30</td><td>CHUSOVITINA Oksana</td><td>GER</td><td>5.800</td><td>8.750</td><td>0.100</td><td>14.450</td></tr>
<tr class="one"><td>31</td><td>SACRAMONE Alicia</td><td>USA</td><td>6.100</td><td>8.825</td><td>0.500</td><td>14.425</td></tr>
<tr class="two"><td>32</td><td>PETIT Marine</td><td>FRA</td><td>5.600</td><td>8.775</td><td></td><td>14.375</td></tr>
<tr class="one"><td>33</td><td>DUGAIN Laetitia</td><td>FRA</td><td>5.600</td><td>8.725</td><td></td><td>14.325</td></tr>
<tr class="two"><td>34</td><td>TSURUMI Koko</td><td>JPN</td><td>5.700</td><td>8.625</td><td></td><td>14.325</td></tr>
<tr class="one"><td>35</td><td>FRANCO Ethiene</td><td>BRA</td><td>5.700</td><td>8.575</td><td></td><td>14.275</td></tr>
<tr class="two"><td>36</td><td>MOEBIUS Joeline</td><td>GER</td><td>5.900</td><td>8.375</td><td></td><td>14.275</td></tr>
<tr class="one"><td>37</td><td>HYPOLITO Daniele</td><td>BRA</td><td>5.500</td><td>8.750</td><td></td><td>14.250</td></tr>
<tr class="two"><td>38</td><td>DRAGOI Gabriela</td><td>ROU</td><td>5.900</td><td>8.350</td><td></td><td>14.250</td></tr>
<tr class="one"><td>39</td><td>BELLEMARE Rose-Eliandre</td><td>FRA</td><td>5.600</td><td>8.625</td><td></td><td>14.225</td></tr>
<tr class="two"><td>40</td><td>LI Shanshan</td><td>CHN</td><td>5.700</td><td>8.500</td><td></td><td>14.200</td></tr>
<tr class="one"><td>41</td><td>SHINTAKE Yuko</td><td>JPN</td><td>5.500</td><td>8.675</td><td></td><td>14.175</td></tr>
<tr class="two"><td>42</td><td>OSHIMA Kyoko</td><td>JPN</td><td>5.800</td><td>8.375</td><td></td><td>14.175</td></tr>
<tr class="one"><td>43</td><td>DOWNIE Becky</td><td>GBR</td><td>5.700</td><td>8.450</td><td></td><td>14.150</td></tr>
<tr class="two"><td>44</td><td>HOLENKOVA Valentyna</td><td>UKR</td><td>5.400</td><td>8.725</td><td></td><td>14.125</td></tr>
<tr class="one"><td>45</td><td>PIHAN Marta</td><td>POL</td><td>5.600</td><td>8.525</td><td></td><td>14.125</td></tr>
<tr class="two"><td>46</td><td>WHELAN Hannah</td><td>GBR</td><td>5.700</td><td>8.525</td><td>0.100</td><td>14.125</td></tr>
<tr class="one"><td>47</td><td>MYS Gaelle</td><td>BEL</td><td>5.600</td><td>8.525</td><td></td><td>14.125</td></tr>
<tr class="two"><td>48</td><td>DAMIANOVA Nansy</td><td>CAN</td><td>5.500</td><td>8.600</td><td></td><td>14.100</td></tr>
<tr class="one"><td>49</td><td>DEBAUVE Marine</td><td>FRA</td><td>5.500</td><td>8.600</td><td></td><td>14.100</td></tr>
<tr class="two"><td>50</td><td>CANTU MATA Maricela</td><td>MEX</td><td>5.400</td><td>8.625</td><td></td><td>14.025</td></tr>
<tr class="one"><td>51</td><td>MARACHKOUSKAYA Anastasia</td><td>BLR</td><td>5.800</td><td>8.325</td><td>0.100</td><td>14.025</td></tr>
<tr class="two"><td>52</td><td>LOPEZ AROCHA Jessica Brizeida</td><td>VEN</td><td>5.600</td><td>8.450</td><td>0.100</td><td>13.950</td></tr>
<tr class="one"><td>53</td><td>KLYUKINA Svetlana</td><td>RUS</td><td>5.600</td><td>8.450</td><td>0.100</td><td>13.950</td></tr>
<tr class="two"><td>54</td><td>BOCZOGO Dorina</td><td>HUN</td><td>5.500</td><td>8.525</td><td>0.100</td><td>13.925</td></tr>
<tr class="one"><td>55</td><td>KASLIN Ariella</td><td>SUI</td><td>5.600</td><td>8.375</td><td>0.100</td><td>13.875</td></tr>
<tr class="two"><td>56</td><td>HOPFNER-HIBBS Elyse</td><td>CAN</td><td>5.900</td><td>8.275</td><td>0.300</td><td>13.875</td></tr>
<tr class="one"><td>57</td><td>DE SIMONE Lenika</td><td>ESP</td><td>5.600</td><td>8.250</td><td></td><td>13.850</td></tr>
<tr class="two"><td>58</td><td>HONG Un Jong</td><td>PRK</td><td>5.900</td><td>8.050</td><td>0.100</td><td>13.850</td></tr>
<tr class="one"><td>59</td><td>MINOBE Yu</td><td>JPN</td><td>5.400</td><td>8.425</td><td></td><td>13.825</td></tr>
<tr class="two"><td>60</td><td>MACRI' Federica</td><td>ITA</td><td>5.100</td><td>8.700</td><td></td><td>13.800</td></tr>
<tr class="one"><td>61</td><td>CAMPOS Laura</td><td>ESP</td><td>5.600</td><td>8.275</td><td>0.100</td><td>13.775</td></tr>
<tr class="two"><td>62</td><td>KING Marissa</td><td>GBR</td><td>5.500</td><td>8.250</td><td></td><td>13.750</td></tr>
<tr class="one"><td>63</td><td>SAJN Adela</td><td>Slovenia</td><td>5.300</td><td>8.400</td><td></td><td>13.700</td></tr>
<tr class="two"><td>64</td><td>ERCEG Tina</td><td>CRO</td><td>5.500</td><td>8.200</td><td></td><td>13.700</td></tr>
<tr class="one"><td>65</td><td>PROSKURINA Maryna</td><td>UKR</td><td>5.300</td><td>8.375</td><td></td><td>13.675</td></tr>
<tr class="two"><td>66</td><td>BENOLLI FRAsca</td><td>ITA</td><td>4.900</td><td>8.700</td><td></td><td>13.600</td></tr>
<tr class="one"><td>67</td><td>BISMPIKOU Stefani</td><td>GRE</td><td>5.600</td><td>8.275</td><td>0.300</td><td>13.575</td></tr>
<tr class="two"><td>68</td><td>GIOVANNINI Carlotta</td><td>ITA</td><td>5.700</td><td>7.875</td><td></td><td>13.575</td></tr>
<tr class="one"><td>69</td><td>ABEL Katja</td><td>GER</td><td>5.600</td><td>8.275</td><td>0.400</td><td>13.475</td></tr>
<tr class="two"><td>70</td><td>JOURA Daria</td><td>AUS</td><td>6.200</td><td>7.250</td><td></td><td>13.450</td></tr>
<tr class="one"><td>71</td><td>JO Hyunjoo</td><td>KOR</td><td>5.700</td><td>7.775</td><td>0.100</td><td>13.375</td></tr>
<tr class="two"><td>72</td><td>ZANEVSKAJA Jelena</td><td>LTU</td><td>5.100</td><td>8.250</td><td></td><td>13.350</td></tr>
<tr class="one"><td>73</td><td>PALESOVA Kristyna</td><td>CZE</td><td>5.600</td><td>7.700</td><td></td><td>13.300</td></tr>
<tr class="two"><td>74</td><td>KOVAL Anastasiia</td><td>UKR</td><td>5.000</td><td>8.000</td><td></td><td>13.000</td></tr>
<tr class="one"><td>75</td><td>SANCHEZ Nathalia</td><td>COL</td><td>5.300</td><td>7.700</td><td></td><td>13.000</td></tr>
<tr class="two"><td>76</td><td>UEMURA Miki</td><td>JPN</td><td>5.300</td><td>7.575</td><td></td><td>12.875</td></tr>
<tr class="one"><td>77</td><td>TANKOUCHEVA Nikolina</td><td>BUL</td><td>4.700</td><td>8.250</td><td>0.100</td><td>12.850</td></tr>
<tr class="two"><td>78</td><td>EL ZEINY Sherine</td><td>EGY</td><td>5.400</td><td>7.350</td><td>0.100</td><td>12.650</td></tr>
<tr class="one"><td>79</td><td>HINDERMANN Marie-Sophie</td><td>GER</td><td>4.800</td><td>7.900</td><td>0.300</td><td>12.400</td></tr>
<tr class="two"><td>80</td><td>GALIULINA Luiza</td><td>UZB</td><td>4.700</td><td>7.975</td><td>0.300</td><td>12.375</td></tr>
<tr class="one"><td>81</td><td>KOZICH Alina</td><td>UKR</td><td>4.900</td><td>7.600</td><td>0.500</td><td>12.000</td></tr>
<tr class="two"><td>82</td><td>DO Thi Ngan Thuong</td><td>VIE</td><td>4.600</td><td>7.700</td><td>0.400</td><td>11.900</td></tr>
</table>
</div>

<a href="documents/wag/q4fx.pdf" target="_blank" class="pdf">Official Results</a>
