---
title: "32nd European Championships Men Senior and Junior Bern"
year: 2016
startdate: 2016-05-25
enddate: 2016-05-29
country: "SUI"
category: "euros"
layout: results
redirect_from: /euro/2016/bernmag.html
---

{% include resultsheader.html title="32nd European Championships<br>Men Senior and Junior<br>Bern (SUI) 2016 May 25-29" %}

<img src="images/logo.jpg" alt="event logo">
<!-- SEN AF -->
<h2 class="men">Apparatus Finals Senior</h2>
	<img src="images/magsen/podium1.jpg" alt="Floor Exercise Final Medalists" /><br>
	<a href="documents/magsen/af1fx.pdf" target="_blank" class="pdf">Apparatus Final Men Senior Floor Exercise</a>
	<br><img src="images/magsen/podium2.jpg" alt="Pommel Horse Final Medalists" /><br>
	<a href="documents/magsen/af2ph.pdf" target="_blank" class="pdf">Apparatus Final Men Senior Pommel Horse</a>
	<br><img src="images/magsen/podium3.jpg" alt="Rings Final Medalists" /><br>
	<a href="documents/magsen/af3sr.pdf" target="_blank" class="pdf">Apparatus Final Men Senior Rings</a>
	<br><img src="images/magsen/podium4.jpg" alt="Vault Final Medalists" /><br>
	<a href="documents/magsen/af4vt.pdf" target="_blank" class="pdf">Apparatus Final Men Senior Vault</a>
	<br><img src="images/magsen/podium5.jpg" alt="Parallel Bars Final Medalists" /><br>
	<a href="documents/magsen/af5pb.pdf" target="_blank" class="pdf">Apparatus Final Men Senior Parallel Bars</a>
	<br><img src="images/magsen/podium6.jpg" alt="Horizontal Bar Final Medalists" /><br>
	<a href="documents/magsen/af6hb.pdf" target="_blank" class="pdf">Apparatus Final Men Senior Horizontal Bar</a><br>
	<a href="documents/magsen/afsl.pdf" target="_blank" class="pdf">Start List Apparatus Final Senior</a>
<!-- JUN AF -->
<h2 class="men">Apparatus Finals Junior</h2>
	<a href="documents/magjun/af1fx.pdf" target="_blank" class="pdf">Apparatus Final Men Junior Floor Exercise</a>
	<a href="documents/magjun/af2ph.pdf" target="_blank" class="pdf">Apparatus Final Men Junior Pommel Horse</a>
	<a href="documents/magjun/af3sr.pdf" target="_blank" class="pdf">Apparatus Final Men Junior Rings</a>
	<a href="documents/magjun/af4vt.pdf" target="_blank" class="pdf">Apparatus Final Men Junior Vault</a>
	<a href="documents/magjun/af5pb.pdf" target="_blank" class="pdf">Apparatus Final Men Junior Parallel Bars</a>
	<a href="documents/magjun/af6hb.pdf" target="_blank" class="pdf">Apparatus Final Men Junior Horizontal Bar</a><br>
	<a href="documents/magjun/afsl.pdf" target="_blank" class="pdf">Start List Apparatus Final Junior</a>
<!-- SEN TF -->
<h2 class="men">Teams Final Senior</h2>
	<img src="images/magsen/rusteam.jpg" alt="European Champions Artistic Gymnastic Teams Men - Russian Federation" /><br>
<div class="table-scroll" tabindex="-1">
<table class="maa" align="center">
<tr class="men"><th colspan=3>Teams Finals Men</th>
	<td><img src="/assets/images/icons/1fx50x50.gif" width=50 height=50 alt="floor exercise" align="center"></td>
	<td><img src="/assets/images/icons/2ph50x50.gif" width=50 height=50 alt="pommel horse" align="center"></td>
	<td><img src="/assets/images/icons/3sr50x50.gif" width=50 height=50 alt="rings" align="center"></td>
	<td><img src="/assets/images/icons/4vt50x50.gif" width=50 height=50 alt="vault" align="center"></td>
	<td><img src="/assets/images/icons/5pb50x50.gif" width=50 height=50 alt="parallel bars" align="center"></td>
	<td><img src="/assets/images/icons/6hb50x50.gif" width=50 height=50 alt="horizontal bar" align="center"></td>
	<th>Total</th></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan="10"></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">1</td><td style="width:150px; vertical-align:top;">Russian Fed.</td>
	<td style="width:30px; text-align:center; vertical-align:top;">RUS</td>
	<td style="width:50px; text-align:center; vertical-align:top;">45.866</td>
	<td style="width:50px; text-align:center; vertical-align:top;">45.099</td>
	<td style="width:50px; text-align:center; vertical-align:top;">45.283</td>
	<td style="width:50px; text-align:center; vertical-align:top;">46.199</td>
	<td style="width:50px; text-align:center; vertical-align:top;">45.665</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.266</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><b>271.378</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">2</td><td style="width:150px; vertical-align:top;">Great Britain</td>
	<td style="width:30px; text-align:center; vertical-align:top;">GBR</td>
	<td style="width:50px; text-align:center; vertical-align:top;">45.132</td>
	<td style="width:50px; text-align:center; vertical-align:top;">44.566</td>
	<td style="width:50px; text-align:center; vertical-align:top;">45.499</td>
	<td style="width:50px; text-align:center; vertical-align:top;">44.899</td>
	<td style="width:50px; text-align:center; vertical-align:top;">44.966</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.365</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><b>268.427</b></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">3</td><td style="width:150px; vertical-align:top;">Switzerland</td>
	<td style="width:30px; text-align:center; vertical-align:top;">SUI</td>
	<td style="width:50px; text-align:center; vertical-align:top;">44.832</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.566</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.566</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.316</td>
	<td style="width:50px; text-align:center; vertical-align:top;">45.532</td>
	<td style="width:50px; text-align:center; vertical-align:top;">42.466</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><b>263.278</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">4</td><td style="width:150px; vertical-align:top;">Ukraine</td>
	<td style="width:30px; text-align:center; vertical-align:top;">UKR</td>
	<td style="width:50px; text-align:center; vertical-align:top;">42.298</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.233</td>
	<td style="width:50px; text-align:center; vertical-align:top;">44.333</td>
	<td style="width:50px; text-align:center; vertical-align:top;">44.466</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.300</td>
	<td style="width:50px; text-align:center; vertical-align:top;">40.066</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><b>257.696</b></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">5</td><td style="width:150px; vertical-align:top;">Germany</td>
	<td style="width:30px; text-align:center; vertical-align:top;">GER</td>
	<td style="width:50px; text-align:center; vertical-align:top;">41.599</td>
	<td style="width:50px; text-align:center; vertical-align:top;">44.165</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.966</td>
	<td style="width:50px; text-align:center; vertical-align:top;">42.800</td>
	<td style="width:50px; text-align:center; vertical-align:top;">44.749</td>
	<td style="width:50px; text-align:center; vertical-align:top;">39.132</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><b>256.411</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">6</td><td style="width:150px; vertical-align:top;">France</td>
	<td style="width:30px; text-align:center; vertical-align:top;">FRA</td>
	<td style="width:50px; text-align:center; vertical-align:top;">40.799</td>
	<td style="width:50px; text-align:center; vertical-align:top;">42.299</td>
	<td style="width:50px; text-align:center; vertical-align:top;">44.166</td>
	<td style="width:50px; text-align:center; vertical-align:top;">44.233</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.332</td>
	<td style="width:50px; text-align:center; vertical-align:top;">39.216</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><b>254.045</b></td></tr>
<tr class="one"><td style="width:30px; text-align:center; vertical-align:top;">7</td><td style="width:150px; vertical-align:top;">Italy</td>
	<td style="width:30px; text-align:center; vertical-align:top;">ITA</td>
	<td style="width:50px; text-align:center; vertical-align:top;">41.766</td>
	<td style="width:50px; text-align:center; vertical-align:top;">41.082</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.399</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.798</td>
	<td style="width:50px; text-align:center; vertical-align:top;">41.700</td>
	<td style="width:50px; text-align:center; vertical-align:top;">41.632</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><b>253.377</b></td></tr>
<tr class="two"><td style="width:30px; text-align:center; vertical-align:top;">8</td><td style="width:150px; vertical-align:top;">Spain</td>
	<td style="width:30px; text-align:center; vertical-align:top;">ESP</td>
	<td style="width:50px; text-align:center; vertical-align:top;">42.066</td>
	<td style="width:50px; text-align:center; vertical-align:top;">40.199</td>
	<td style="width:50px; text-align:center; vertical-align:top;">42.700</td>
	<td style="width:50px; text-align:center; vertical-align:top;">43.198</td>
	<td style="width:50px; text-align:center; vertical-align:top;">38.199</td>
	<td style="width:50px; text-align:center; vertical-align:top;">38.333</td>
	<td style="width:50px; text-align:center; vertical-align:top;"><b>244.695</b></td></tr>
<tr bgcolor="#000000"><td style="height:1px; padding:0px;" colspan="10"></td></tr>
</table>
</div>
	<a href="documents/magsen/teamsfinal.pdf" target="_blank" class="pdf">Official Results</a>
	<a href="documents/magsen/teamsfinalsl.pdf" target="_blank" class="pdf">Start List Teams Final Senior</a>
<!-- JUN AAF -->
<h2 class="men">All-Around Final Junior</h2>
	<a href="documents/magjun/aafinal.pdf" target="_blank" class="pdf">Results All-Around Final Junior</a>
	<a href="documents/magjun/aafmedalists.pdf" target="_blank" class="pdf">Medalists All-Around Final Junior</a>
<!-- SEN Q -->
<h2 class="men">Qualification Senior</h2>
	<a href="documents/magsen/teamsqual.pdf" target="_blank" class="pdf">Results Qualification Teams Men Senior</a>
	<a href="documents/magsen/aaqual.pdf" target="_blank" class="pdf">All-Around Men Senior</a>
	<a href="documents/magsen/indqual.pdf" target="_blank" class="pdf">Individuals Men Senior</a><br>
	<a href="documents/magsen/q1fx.pdf" target="_blank" class="pdf">Qualification Men Senior Floor Exercise</a>
	<a href="documents/magsen/q2ph.pdf" target="_blank" class="pdf">Qualification Men Senior Pommel Horse</a>
	<a href="documents/magsen/q3sr.pdf" target="_blank" class="pdf">Qualification Men Senior Rings</a>
	<a href="documents/magsen/q4vt.pdf" target="_blank" class="pdf">Qualification Men Senior Vault</a>
	<a href="documents/magsen/q4vt2.pdf" target="_blank" class="pdf">Qualification Men Senior Two Vaults</a>
	<a href="documents/magsen/q5pb.pdf" target="_blank" class="pdf">Qualification Men Senior Parallel Bars</a>
	<a href="documents/magsen/q6hb.pdf" target="_blank" class="pdf">Qualification Men Senior Horizontal Bar</a><br>
	<a href="documents/magsen/afqualifiers.pdf" target="_blank" class="pdf">Men Senior Apparatus Finals Qualifiers</a>
	<a href="documents/magsen/teamsqualifiers.pdf" target="_blank" class="pdf">Men Senior Teams Final Qualifiers</a>
<!-- Jun C1 -->
<h2 class="men">Qualification Junior</h2>
	<a href="documents/magjun/teams_opt.pdf" target="_blank" class="pdf">Results Teams Men Junior</a>
	<a href="documents/magjun/aaqual_opt.pdf" target="_blank" class="pdf">Results All-Around Men Junior</a>
	<a href="documents/magjun/indqual_opt.pdf" target="_blank" class="pdf">Individual Results Men Junior</a><br>
	<a href="documents/magjun/q1fx.pdf" target="_blank" class="pdf">Qualification Men Junior Floor Exercise</a>
	<a href="documents/magjun/q2ph.pdf" target="_blank" class="pdf">Qualification Men Junior Pommel Horse</a>
	<a href="documents/magjun/q3sr.pdf" target="_blank" class="pdf">Qualification Men Junior Rings</a>
	<a href="documents/magjun/q4vt.pdf" target="_blank" class="pdf">Qualification Men Junior Vault</a>
	<a href="documents/magjun/q4vt2.pdf" target="_blank" class="pdf">Qualification Men Junior Two Vaults</a>
	<a href="documents/magjun/q5pb.pdf" target="_blank" class="pdf">Qualification Men Junior Parallel Bars</a>
	<a href="documents/magjun/q6hb.pdf" target="_blank" class="pdf">Qualification Men Junior Horizontal Bar</a><br>
	<a href="documents/magjun/aafqualifiers.pdf" target="_blank" class="pdf">Men Junior All-Around Final Qualifiers</a>
	<a href="documents/magjun/afqualifiers.pdf" target="_blank" class="pdf">Men Junior Apparatus Finals Qualifiers</a><br>
	<a href="documents/magjun/slqual.pdf" target="_blank" class="pdf">Start List C1 Qualification Men Junior</a>
<h2 class="men">Drawing of Lots</h2>
	<a href="documents/magsen/draw.pdf" target="_blank" class="pdf">Drawing of Lots Men Senior</a>
	<a href="documents/magjun/draw.pdf" target="_blank" class="pdf">Drawing of Lots Men Junior</a>
<br><img src="images/hala.jpg" alt="European Championships Men Senior and Junior Bern (SUI) 2016 May 25-29">
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday May 25</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">10:00 - 12:30<br>14:00 - 16:30<br>17:20 - 17:50<br>18:00 - 20:30<br>20:30 - 20:40<br></td>
		<td style="width:460px; vertical-align:top;">
Qualification Juniors Subdivision 1<br>
Qualification Juniors Subdivision 2<br>
Opening Ceremony<br> 
Qualification Juniors Subdivision 3<br>
Award Ceremony Team Juniors<br>
</td></tr>		
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday May 26</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">10:00 - 12:40<br>14:00 - 16:15<br>18:00 - 20:15<br></td>
		<td style="width:460px; vertical-align:top;">
Qualification Seniors Subdivision 1<br>
Qualification Seniors Subdivision 2<br>
Qualification Seniors Subdivision 3<br>
</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday May 27</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">18:30 - 20:45<br>20:45 - 20:55<br></td>
		<td style="width:460px; vertical-align:top;">All-around Final Juniors<br>Award Ceremony All-around Juniors</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday May 28</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">14:30 - 17:00<br>17:00 - 17:10<br></td>
		<td style="width:460px; vertical-align:top;">Team-Final Seniors<br>Award Ceremony Team Seniors<br></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday May 29</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">10:30 - 14:10<br><br>14:45 - 17:45<br><br>17:45 - 17:50<br></td>
		<td style="width:460px; vertical-align:top;">
Apparatus Finals Seniors<br>
Award Ceremonies Apparatus Finals Seniors<br>
Apparatus Finals Juniors<br>
Award Ceremonies Apparatus Finals Juniors<br>
Closing Ceremony<br>
</td></tr>
</table>
<h2 class="men">Information</h2>
	<a href="documents/magsen/nomreg.pdf" target="_blank" class="pdf">Nominative Registration Men Senior</a>
	<a href="documents/magjun/nomreg.pdf" target="_blank" class="pdf">Nominative Registration Men Junior</a><br>
	<a href="documents/magsen/defentries.pdf" target="_blank" class="pdf">Definitive Registration Men Senior</a>
	<a href="documents/magjun/defentries.pdf" target="_blank" class="pdf">Definitive Registration Men Junior</a><br>
	<a href="documents/workplanmag.pdf" target="_blank" class="pdf">Work Plan Men</a>
	<a href="documents/directivesmag.pdf" target="_blank" class="pdf">Directives</a>
<br><img src="images/postfinancearena.png" alt="Post Finance Arena Bern (SUI)">
