---
title: "2016 Jesolo Trophy"
year: 2016
startdate: 2016-03-19
enddate: 2016-03-20
country: "ITA"
category: "jesolo"
layout: results
redirect_from: /2016/eu/ita/jesolo-trophy.html
---

{% include resultsheader.html title="2016 Jesolo Trophy<br>IX Trofeo di Jesolo<br>Jesolo (ITA)<br>2016 March 19-20" %}

<img src="images/senpodium.jpg" alt="2016 Jesolo senior team podium">
<h2 class="wom">Results Apparatus Finals Senior</h2>
	<a href="documents/senaf1vt.pdf" target="_blank" class="pdf">Results Vault Final Senior</a>
	<a href="documents/senaf2ub.pdf" target="_blank" class="pdf">Results Uneven Bars Final Senior</a>
	<a href="documents/senaf3bb.pdf" target="_blank" class="pdf">Results Beam Final Senior</a>
	<a href="documents/senaf4fx.pdf" target="_blank" class="pdf">Results Floor Exercise Final Senior</a>
<h2 class="men">Results Apparatus Finals Junior</h2>
	<a href="documents/junaf1vt.pdf" target="_blank" class="pdf">Results Vault Final Junior</a>
	<a href="documents/junaf2ub.pdf" target="_blank" class="pdf">Results Uneven Bars Final Junior</a>
	<a href="documents/junaf3bb.pdf" target="_blank" class="pdf">Results Beam Final Junior</a>
	<a href="documents/junaf4fx.pdf" target="_blank" class="pdf">Results Floor Exercise Final Junior</a>
<h2 class="wom">Results All-Around Senior</h2>
	<a href="documents/senteams.pdf" target="_blank" class="pdf">Results Teams Women Senior</a>
	<a href="documents/senaa.pdf" target="_blank" class="pdf">Results All-Around Women Senior</a>
<h2 class="men">Results All-Around Junior</h2>
	<a href="documents/junaa.pdf" target="_blank" class="pdf">Results All-Around Women Junior</a>
	<a href="documents/junafqualifiers.pdf" target="_blank" class="pdf">Apparatus Finals Women Junior Qualifiers</a>
<br><img src="images/poster.png" alt="2016 Jesolo Trophy Jesolo poster">