---
title: "Youth Olympic Games	Buenos Aires"
year: 2018
startdate: 2018-10-06
enddate: 2018-10-18
country: "ARG"
category: "yog"
layout: results
redirect_from: /olympics/2018yog/gymn.html
---
	
{% include resultsheader.html title="Youth Olympic Games of the III Olympiad<br>Buenos Aires (ARG)<br>2018 Oct 6-18" %}

<img src="images/logo.jpg" alt="Youth Olympic Games of the III Olympiad Buenos Aires (ARG) 2018 Oct 6-18">
<!--MAG AF-->
<h2 class="men">Men Apparatus Final</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Rings Final Men</a>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<!--WAG AF-->
<h2 class="wom">Women Apparatus Final</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<!--MAG AA-->
<h2 class="men">Men All-Around Final</h2>
	<a href="documents/magaaf.pdf" target="_blank" class="pdf">All-Around Final Men</a>
<!--WAG AA-->
<h2 class="wom">Women All-Around Final</h2>
	<a href="documents/wagaaf.pdf" target="_blank" class="pdf">All-Around Final Women</a>
<!--MAG Qual-->
<h2 class="men">Men Qualification</h2>
	<a href="documents/magqaa.pdf" target="_blank" class="pdf">Qualification All-Around Men</a>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">2 Vaults Qualification Men</a>
	<a href="documents/magq4vtaa.pdf" target="_blank" class="pdf">1 Vault Qualification Men</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<!--WAG Qual-->
<h2 class="wom">Women Qualification</h2>
	<a href="documents/wagqaa.pdf" target="_blank" class="pdf">Qualification All-Around Women</a>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">2 Vaults Qualification Women</a>
	<a href="documents/wagq1vtaa.pdf" target="_blank" class="pdf">1 Vault Qualification Women</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<br>
<img src="images/logo.png" alt="Youth Olympic Games of the III Olympiad Buenos Aires (ARG) 2018 Oct 6-18">