---
title: "Pacific Rim Championships 2016 Everett"
year: 2016
startdate: 2016-04-08
enddate: 2016-04-10
country: "USA"
category: "pacific-rim"
layout: results
redirect_from: /2016/usa/pacific-rim-championships.html
---

{% include resultsheader.html title="Pacific Rim Championships 2016<br>Everett (USA)<br>2016 April 8-10" %}

<img src="images/logo.jpg" alt="Pacific Rim Championships 2016 Everett (USA) 2016 April 8-10"></td></tr>
<h2 class="wom">Results Apparatus Finals Women</h2>
	<a href="documents/wagaf.pdf" target="_blank" class="pdf">Results Apparatus Finals Women Seniors</a>
	<a href="documents/wagjunaf.pdf" target="_blank" class="pdf">Results Apparatus Finals Women Juniors</a>
<h2 class="men">Results Apparatus Finals Men</h2>
	<a href="documents/magaf.pdf" target="_blank" class="pdf">Results Apparatus Finals Men Seniors</a>
	<a href="documents/magjunaf.pdf" target="_blank" class="pdf">Results Apparatus Finals Men Juniors</a>
<h2 class="wom">Results Women</h2>
<img src="images/wagteams1.jpg" alt="Pacific Rim Championships 2016 Everett (USA) 2016 April 8-10">
<br>
	<a href="documents/wagteams.pdf" target="_blank" class="pdf">Results Teams Women</a>
	<a href="documents/wagaa.pdf" target="_blank" class="pdf">Results All-Around Women</a>
	<a href="documents/wagafqualifiers.pdf" target="_blank" class="pdf">Apparatus Finals Qualifiers Women</a><br>
	<a href="documents/wagjunaa.pdf" target="_blank" class="pdf">Results All-Around Women Junior</a>
	<a href="documents/wagjunafqualifiers.pdf" target="_blank" class="pdf">Apparatus Finals Qualifiers Women Junior</a>
<h2 class="men">Results Men</h2>
<img src="images/magteams.jpg" alt="Pacific Rim Championships 2016 Everett (USA) 2016 April 8-10">
<br>
	<a href="documents/magteams.pdf" target="_blank" class="pdf">Results Teams Men</a>
	<a href="documents/magaa.pdf" target="_blank" class="pdf">Results All-Around Men</a>
	<a href="documents/magafqualifiers.pdf" target="_blank" class="pdf">Apparatus Finals Qualifiers Men</a><br>
	<a href="documents/magjunaa.pdf" target="_blank" class="pdf">Results All-Around Men Junior</a>
	<a href="documents/magjunafqualifiers.pdf" target="_blank" class="pdf">Apparatus Finals Qualifiers Men Junior</a>
<h2 class="men">Information</h2>
	<a href="documents/Directives.pdf" target="_blank" class="pdf">Directives</a>
	