---
title: "2018 European Women's Championships Glasgow"
year: 2018
startdate: 2018-08-02
enddate: 2018-08-05
country: "GBR"
category: "euros"
layout: results
redirect_from: /euro/2018/women.html
---
	
{% include resultsheader.html title="2018 European Artistic Gymnastics Championships Women<br>Glasgow 2018 August 2-5" %}

<img src="images/logo.png" alt="2018 European Artistic Gymnastics Championships Women Glasgow 2018 August 2-5">
<!--AF-->
<h2 class="men">Apparatus Finals Women August 5</h2>
	<a href="documents/wag/senaf1vt.pdf" target="_blank" class="pdf">Results Senior Vault Final</a>
	<a href="documents/wag/senaf2ub.pdf" target="_blank" class="pdf">Results Senior Uneven Bars Final</a>
	<a href="documents/wag/senaf3bb.pdf" target="_blank" class="pdf">Results Senior Beam Final</a>
	<a href="documents/wag/senaf4fx.pdf" target="_blank" class="pdf">Results Senior Floor Exercise Final</a>
	<br>
	<a href="documents/wag/junaf1vt.pdf" target="_blank" class="pdf">Results Junior Vault Final</a>
	<a href="documents/wag/junaf2ub.pdf" target="_blank" class="pdf">Results Junior Uneven Bars Final</a>
	<a href="documents/wag/junaf3bb.pdf" target="_blank" class="pdf">Results Junior Beam Final</a>
	<a href="documents/wag/junaf4fx.pdf" target="_blank" class="pdf">Results Junior Floor Exercise Final</a>
	<br>
	<a href="documents/wag/senafsl.pdf" target="_blank" class="pdf">Start List Apparatus Finals Senior</a>
	<a href="documents/wag/junafsl.pdf" target="_blank" class="pdf">Start List Apparatus Finals Junior</a>
<!--Teams Sen-->
<h2 class="wom">Team Final Women Senior August 4</h2>
	<a href="documents/wag/senteams.pdf" target="_blank" class="pdf">Results Senior Teams Final</a>
	<a href="documents/wag/sentfsl.pdf" target="_blank" class="pdf">Start List Senior Teams Final</a>
<!--Jun Q-->
<h2 class="men">Qualification Women Junior August 3</h2>
	<a href="documents/wag/junteams.pdf" target="_blank" class="pdf">Results Junior Teams</a>
	<a href="documents/wag/junaa.pdf" target="_blank" class="pdf">Results Junior All-Around</a>
	<a href="documents/wag/junqaa.pdf" target="_blank" class="pdf">Results Junior All-Around Qualification</a>
	<a href="documents/wag/junq1vt.pdf" target="_blank" class="pdf">Results Junior Vault Qualification</a>
	<a href="documents/wag/junq2ub.pdf" target="_blank" class="pdf">Results Junior Uneven Bars Qualification</a>
	<a href="documents/wag/junq3bb.pdf" target="_blank" class="pdf">Results Junior Beams Qualification</a>
	<a href="documents/wag/junq4fx.pdf" target="_blank" class="pdf">Results Junior Floor Exercise Qualification</a>
	<br>
	<a href="documents/wag/junqsl.pdf" target="_blank" class="pdf">Start List Qualification Junior</a>
<!--Q Sen-->
<h2 class="wom">Qualification Women Senior August 2</h2>
	<a href="documents/wag/senqual.pdf" target="_blank" class="pdf">Results Senior Teams Qualification</a>
	<a href="documents/wag/senq1vt.pdf" target="_blank" class="pdf">Results Senior Vault Qualification</a>
	<a href="documents/wag/senq1vtaa.pdf" target="_blank" class="pdf">Results Senior Vault for AA</a>
	<a href="documents/wag/senq2ub.pdf" target="_blank" class="pdf">Results Senior Uneven Bars Qualification</a>
	<a href="documents/wag/senq3bb.pdf" target="_blank" class="pdf">Results Senior Beams Qualification</a>
	<a href="documents/wag/senq4fx.pdf" target="_blank" class="pdf">Results Senior Floor Exercise Qualification</a>
	<br>
	<a href="documents/wag/senq3.pdf" target="_blank" class="pdf">Intermediate results after subdivision 3</a>
	<a href="documents/wag/senq2.pdf" target="_blank" class="pdf">Intermediate results after subdivision 2</a>
	<a href="documents/wag/senq1.pdf" target="_blank" class="pdf">Intermediate results after subdivision 1</a>
	<br>
	<a href="documents/wag/senqsl.pdf" target="_blank" class="pdf">Start List</a>
<br>
<img src="images/ssehydro.jpg" alt="SSE Hydro Arena">