---
title: "Sokol Grand Prix de Gymnastique Brno "
year: 2016
startdate: 2016-11-26
country: "CZE"
category: "grand-prix-brno"
layout: results
redirect_from: /2016/eu/cze/sokol-grand-prix-brno.html
---

{% include resultsheader.html title="Sokol Grand Prix de Gymnastique<br>Brno (CZE)<br>2016 Nov 26" %}
<img src="images/logo.jpg" alt="event logo">
<h2 class="men">Results</h2>
	<a href="documents/results.pdf" target="_blank" class="pdf">Sokol Grand Prix Brno Results</a>
	<a href="documents/finals.pdf" target="_blank" class="pdf">Results Finals</a>
	<a href="documents/semi.pdf" target="_blank" class="pdf">Results Semi-Finals</a>
	<a href="documents/qual.pdf" target="_blank" class="pdf">Results Qualification</a>
<br>
<img src="images/poster.jpg" alt="event poster">
<h3>Thanks to Stanislav Vyzina for sending results</h3>
