---
layout: default
title: Gymnastics Results at the European Artistic Championships
redirect_from: /europe.html
---

<div class="rounded event-header">
	<h1>European Artistic Gymnastics Championships</h1>
	<p>Additional European championships results can be found in the <a href="/archive/europe.html">Archive</a>.</p>
</div>

<table class="results-list">
	{% assign results = site.results | where: "category", "euros" | sort: 'startdate' | reverse %}
	{% for result in results limit:8 %}
	<tr>
		<td>{{result.year}} <span class="hide-small">{{result.startdate | date: "%b %e"}}{% if result.enddate %} - {{result.enddate | date: "%b %e"}}</span>{% endif %}</td>
		<td><a href="{{result.url}}">{{result.title}} ({{result.country}})</a></td>
	</tr>
	{% endfor %}
</table>