---
title: "2000 European Women's Junior Championships Paris"
year: 2000
startdate: 2000-05-12
enddate: 2000-05-14
country: "FRA"
category: "euros"
layout: results
redirect_from: /2000/e2000wjun.html
---
	
{% include resultsheader.html title="2000 European Championships<br> Junior Women's Artistic Gymnastics<br>Paris (FRA) May 12 - 14 2000" %}

<!-- Author: Stanislav Mikulas -->
<!-- Date: Feb 20 2004 -->

<table><tr><td valign=top width=540>

	<table cellpadding=10>
	<tr>
	   <td bgcolor="#FF9999" valign=top>
   		<a href="e2000w.html"><b>Women's Results</b></a><br>
   		<div style="background:#ffff66; width:100%; font-weight:bold; color:red;">
		<a href="#tf">Juniors Teams</a><br>
		<a href="#if">Juniors AA Finals</a><br>
		<a href="#vt">Juniors VT + UB Finals</a><br>
		<a href="#bb">Juniors BB + FX Finals</a><br>
		<a href="#g1">Juniors Qualification: &nbsp; Rank 001-050</a><br>
		<a href="#g51">Juniors Qualification: &nbsp; Rank 051-100</a><br>
		<a href="#g101">Juniors Qualification: &nbsp; Rank 101-114</a>
		</div><br>
		</td></tr>
	</table>

</td>
</tr>
</table>

<!--TEAMS-->

<p>
<li><span class="rb"><a name="tf">Juniors Women's Teams</a></span><br>

<table class="waa">
	<col width="20" align="right">
	<col width="200">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
<tr class="wom">
	<th align=center colspan=2>2000 Europeans<br>Juniors Women's Teams</th>
	<th align=center>Fed</th>
	<th align=center>VT</th>
	<th align=center>UB</th>
	<th align=center>BB</th>
	<th align=center>FX</th>
	<th align=center>Total</th></tr>
<tr class="one"><td>1</td><td>Russia</td><td>RUS</td><td>28.148</td><td>28.324</td><td>29.137</td><td>28.500</td><td>114.109</td></tr>
<tr class="two"><td>2</td><td>Romania</td><td> ROM</td><td>27.980</td><td>27.637</td><td>28.824</td><td>29.037</td><td>113.478</td></tr>
<tr class="one"><td>3</td><td>Netherlands</td><td>NED</td><td>27.648</td><td>27.999</td><td>27.912</td><td>28.525</td><td>112.084</td></tr>
<tr class="two"><td>4</td><td>France</td><td>FRA</td><td>27.754</td><td>27.236</td><td>27.024</td><td>28.649</td><td>110.663</td></tr>
<tr class="one"><td>5</td><td>Ukraine</td><td>UKR</td><td>27.604</td><td>28.662</td><td>26.125</td><td>28.062</td><td>110.453</td></tr>
<tr class="two"><td>6</td><td>Spain</td><td>ESP</td><td>27.423</td><td>28.087</td><td>25.949</td><td>27.449</td><td>108.908</td></tr>
<tr class="one"><td>7</td><td>Italy</td><td>ITA</td><td>27.217</td><td>27.449</td><td>26.537</td><td>27.512</td><td>108.715</td></tr>
<tr class="two"><td>8</td><td>Great Britain</td><td>GBR</td><td>27.379</td><td>27.574</td><td>26.299</td><td>25.686</td><td>106.938</td></tr>
<tr class="one"><td>9</td><td>Germany</td><td>GER</td><td>27.449</td><td>26.225</td><td>24.774</td><td>27.374</td><td>105.822</td></tr>
<tr class="two"><td>10</td><td>HUngary</td><td>HUN</td><td>27.073</td><td>24.524</td><td>24.574</td><td>27.937</td><td>104.108</td></tr>
<tr class="one"><td>11</td><td>Belgium</td><td>BEL</td><td>27.374</td><td>24.636</td><td>22.237</td><td>27.200</td><td>101.447</td></tr>
<tr class="two"><td>12</td><td>Greece</td><td>GRE</td><td>25.536</td><td>25.612</td><td>23.399</td><td>26.699</td><td>101.246</td></tr>
<tr class="one"><td>13</td><td>Slovenia</td><td>SLO</td><td>26.148</td><td>25.262</td><td>23.137</td><td>26.637</td><td>101.184</td></tr>
<tr class="two"><td>14</td><td>Poland</td><td>POL</td><td>26.611</td><td>24.949</td><td>23.649</td><td>25.900</td><td>101.109</td></tr>
<tr class="one"><td>15</td><td>Belarus</td><td>BLR</td><td>25.930</td><td>25.725</td><td>24.074</td><td>25.224</td><td>100.953</td></tr>
<tr class="two"><td>16</td><td>Finland</td><td>FIN</td><td>26.055</td><td>24.074</td><td>24.399</td><td>25.374</td><td>99.902</td></tr>
<tr class="one"><td>17</td><td>Israel</td><td>ISR</td><td>26.060</td><td>24.749</td><td>23.812</td><td>24.712</td><td>99.333</td></tr>
<tr class="two"><td>18</td><td>Latvia</td><td>LAT</td><td>26.085</td><td>24.211</td><td>23.724</td><td>25.249</td><td>99.269</td></tr>
<tr class="one"><td>19</td><td>Czech Republic</td><td>CZE</td><td>25.999</td><td>24.400</td><td>23.261</td><td>25.287</td><td>98.947</td></tr>
<tr class="two"><td>20</td><td>Switzerland</td><td>SUI</td><td>25.661</td><td>23.949</td><td>23.099</td><td>25.074</td><td>97.783</td></tr>
<tr class="one"><td>21</td><td>Norway</td><td>NOR</td><td>25.792</td><td>23.487</td><td>22.300</td><td>24.562</td><td>96.141</td></tr>
<tr class="two"><td>22</td><td>Luxenburg</td><td>LUX</td><td>25.036</td><td>22.149</td><td>22.337</td><td>24.124</td><td>93.646</td></tr>
<tr class="one"><td>23</td><td>Austria</td><td>AUT</td><td>25.299</td><td>21.987</td><td>22.012</td><td>23.862</td><td>93.160</td></tr>
<tr class="two"><td>24</td><td>Iceland</td><td>ISL</td><td>25.386</td><td>22.161</td><td>20.950</td><td>24.387</td><td>92.884</td></tr>
<tr class="one"><td>25</td><td>Turkey</td><td>TUR</td><td>25.349</td><td>21.861</td><td>20.712</td><td>22.525</td><td>90.447</td></tr>
<tr class="two"><td>26</td><td>Lithuania</td><td>LTU</td><td>25.186</td><td>24.187</td><td>14.787</td><td>24.749</td><td>88.909</td></tr>
</table>

<br><a href="#top"><img src="totop.gif" width=100 height=15 border=0></a><p>

<!--AA FIN-->

<p>
<li><span class="rb"><a name="if">Juniors Women's All Around Final</a></span><br>

<table class="waa">
	<col width="20" align="right">
	<col width="200">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
<tr class="wom">
	<th align=center colspan=2>2000 Europeans<br>Juniors Women's AA Finals</th>
	<th align=center>Fed</th>
	<th align=center>VT</th>
	<th align=center>UB</th>
	<th align=center>BB</th>
	<th align=center>FX</th>
	<th align=center>Total</th></tr>
</td></tr>
<tr class="one"><td>1</td><td>COJOCAR Sabina</td><td>ROM</td><td>9.568</td><td>9.500</td><td>9.662</td><td>9.712</td><td>38.442</td></tr>
<tr class="two"><td>2</td><td>STROESCU Silvia</td><td>ROM</td><td>9.299</td><td>9.262</td><td>9.675</td><td>9.737</td><td>37.973</td></tr>
<tr class="one"><td>3</td><td>ZIGANSHIVA Natalia</td><td>RUS</td><td>9.012</td><td>9.662</td><td>9.687</td><td>9.462</td><td>37.823</td></tr>
<tr class="two"><td>4</td><td>YAROTSKA Iryna</td><td>UKR</td><td>9.118</td><td>9.612</td><td>9.587</td><td>9.475</td><td>37.792</td></tr>
<tr class="one"><td>5</td><td>PAVLOVA Anna</td><td>RUS</td><td>9.118</td><td>9.662</td><td>9.100</td><td>8.862</td><td>36.742</td></tr>
<tr class="two"><td>6</td><td>GOMEZ Elena</td><td>ESP</td><td>8.881</td><td>9.075</td><td>9.325</td><td>9.325</td><td>36.606</td></tr>
<tr class="one"><td>7</td><td>VALENTIJN Rikst</td><td>NED</td><td>9.100</td><td>8.750</td><td>9.550</td><td>9.137</td><td>36.537</td></tr>
<tr class="two"><td>8</td><td>COLOMBO Ilaria</td><td>ITA</td><td>9.137</td><td>8.650</td><td>8.937</td><td>9.587</td><td>36.311</td></tr>
<tr class="one"><td>9</td><td>PLANAS Alba</td><td>ESP</td><td>9.068</td><td>9.500</td><td>8.225</td><td>9.375</td><td>36.168</td></tr>
<tr class="two"><td>10</td><td>MASON Rebecca</td><td>GBR</td><td>8.831</td><td>9.325</td><td>8.862</td><td>9.150</td><td>36.168</td></tr>
<tr class="one"><td>11</td><td>VAN DE LEUR Verona</td><td>NED</td><td>9.093</td><td>9.562</td><td>7.887</td><td>9.450</td><td>35.992</td></tr>
<tr class="two"><td>12</td><td>SKIBKO Joanna</td><td>POL</td><td>9.037</td><td>8.600</td><td>8.837</td><td>9.375</td><td>35.849</td></tr>
<tr class="one"><td>13</td><td>BIJAK Darla</td><td>GER</td><td>9.018</td><td>9.287</td><td>9.125</td><td>8.300</td><td>35.730</td></tr>
<tr class="two"><td>14</td><td>TWEDDLE Elizabeth</td><td>GBR</td><td>8.949</td><td>9.200</td><td>8.175</td><td>9.212</td><td>35.536</td></tr>
<tr class="one"><td>15</td><td>SIROBABA Nataliya</td><td>UKR</td><td>8.937</td><td>9.687</td><td>8.275</td><td>8.500</td><td>35.399</td></tr>
<tr class="two"><td>16</td><td>ANDO Csilla</td><td>HUN</td><td>8.981</td><td>8.687</td><td>8.712</td><td>9.000</td><td>35.380</td></tr>
<tr class="one"><td>17</td><td>CAVALLI Cristina</td><td>ITA</td><td>8.937</td><td>9.200</td><td>7.700</td><td>9.362</td><td>35.199</td></tr>
<tr class="two"><td>18</td><td>TARASENKA Yuliya</td><td>BLR</td><td>8.806</td><td>7.862</td><td>8.762</td><td>9.137</td><td>34.567</td></tr>
<tr class="one"><td>19</td><td>JANECKOVA Lucie</td><td>CZE</td><td>8.412</td><td>8.475</td><td>8.600</td><td>8.550</td><td>34.037</td></tr>
<tr class="two"><td>20</td><td>DIKINA Natalia</td><td>LAT</td><td>8.581</td><td>8.450</td><td>8.187</td><td>8.712</td><td>33.930</td></tr>
<tr class="one"><td>21</td><td>ISAAKIDOU Anna</td><td>GRE</td><td>8.481</td><td>8.962</td><td>7.637</td><td>8.575</td><td>33.655</td></tr>
<tr class="two"><td>22</td><td>JEWORUTZKI Janina</td><td>GER</td><td>8.768</td><td>8.400</td><td>7.550</td><td>8.725</td><td>33.443</td></tr>
<tr class="one"><td>23</td><td>ZAROUG Stefany</td><td>ISR</td><td>8.531</td><td>8.775</td><td>7.462</td><td>7.600</td><td>32.368</td></tr>
<tr class="two"><td>24</td><td>HRIBAR Maja</td><td>SLO</td><td>-</td><td>9.225</td><td>8.062</td><td>5.925</td><td>23.212</td></tr>
</table> 
<br><a href="#top"><img src="totop.gif" width=100 height=15 border=0></a><p>

<table cellspacing=5>
<tr>
<td width=350 valign=top>	

<!--VT-->

	<li><span class="rb"><a name="vt">Vault Juniors Women Finals</a></span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="wom">
	<th colspan=2>2000 Europeans<br>VT Finals Juniors</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>COJOCAR Sabina</td><td>ROM</td><td>9.456</td></tr>
<tr class="two"><td>2</td><td>SIROBABA Nataliya</td><td>UKR</td><td>9.424</td></tr>
<tr class="one"><td>3</td><td>ZASSYPKINA Maria</td><td>RUS</td><td>9.362</td></tr>
<tr class="two"><td>4</td><td>HARMES Suzanne</td><td>NED</td><td>9.300</td></tr>
<tr class="one"><td>5</td><td>ZIGANSHIVA Natalia</td><td>RUS</td><td>9.206</td></tr>
<tr class="two"><td>6</td><td>JEWORUTZKI Janina</td><td>GER</td><td>9.175</td></tr>
<tr class="one"><td>6</td><td>JANS Jessica</td><td>BEL</td><td>9.175</td></tr>
<tr class="two"><td>8</td><td>COUTZAC Clelia</td><td>FRA</td><td>9.062</td></tr>
<tr class="one"><td>9</td><td>STROESCU Silvia</td><td>ROM</td><td>8.937</td></tr></td></tr>
</table><br><br>

</td><td width=350 valign=top>	

<!--UB-->

<li><span class="rb">Uneven Bars Finals Juniors</span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col width="50" align="center">
	<tr class="wom">
	<th colspan=2>2000 Europeans<br>UB Finals Juniors </th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>PAVLOVA Anna</td><td>RUS</td><td>9.687</td></tr>
<tr class="two"><td>2</td><td>ZIGANSHIVA Natalia</td><td>RUS</td><td>9.675</td></tr>
<tr class="one"><td>3</td><td>VAN DE LEUR Verona</td><td>NED</td><td>9.662</td></tr>
<tr class="two"><td>4</td><td>YAROTSKA Iryna</td><td>UKR</td><td>9.637</td></tr>
<tr class="one"><td>5</td><td>PLANAS Alba</td><td>ESP</td><td>9.625</td></tr>
<tr class="two"><td>6</td><td>TWEDDLE Elizabeth</td><td>GBR</td><td>9.537</td></tr>
<tr class="one"><td>7</td><td>IONESCU Carmen</td><td>ROM</td><td>9.337</td></tr>
<tr class="two"><td>8</td><td>SIROBABA Nataliya</td><td>UKR</td><td>9.150</td></tr>
</table><br><br>

</td></tr>
<tr><td width=350 valign=top>

<!--BB-->

	<li><span class="rb"><a name="bb">Balance Beam Finals Juniors</a></span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="wom">
	<th colspan=2>2000 Europeans<br>BB Finals Juniors</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>COJOCAR Sabina</td><td>ROM</td><td>9.600</td></tr>
<tr class="two"><td>1</td><td>STROESCU Silvia</td><td>ROM</td><td>9.600</td></tr>
<tr class="one"><td>3</td><td>YAROTSKA Iryna</td><td>UKR</td><td>9.575</td></tr>
<tr class="two"><td>4</td><td>VAN DE LEUR Verona</td><td>NED</td><td>9.437</td></tr>
<tr class="one"><td>5</td><td>PERON Marlene</td><td>FRA</td><td>9.325</td></tr>
<tr class="two"><td>6</td><td>ZASSYPKINA Maria</td><td>RUS</td><td>8.900</td></tr>
<tr class="one"><td>7</td><td>ZIGANSHIVA Natalia</td><td>RUS</td><td>8.837</td></tr>
<tr class="two"><td>8</td><td>COLOMBO Ilaria</td><td>ITA</td><td>8.762</td></tr>
</table><br><br>

</td><td width=350 valign=top>

<!--FX-->

<li><span class="rb">Floor Exercise Finals Juniors</span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="wom">
	<th colspan=2>2000 Europeans<br>FX Finals Juniors</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>STROESCU Silvia</td><td>ROM</td><td>9.725</td></tr>
<tr class="two"><td>2</td><td>COJOCAR Sabina</td><td>ROM</td><td>9.712</td></tr>
<tr class="one"><td>3</td><td>PERON Marlene</td><td>FRA</td><td>9.675</td></tr>
<tr class="two"><td>4</td><td>ZIGANSHIVA Natalia</td><td>RUS</td><td>9.587</td></tr>
<tr class="one"><td>5</td><td>VALENTIJN Rikst</td><td>NED</td><td>9.525</td></tr>
<tr class="two"><td>6</td><td>MOURIER Marion</td><td>FRA</td><td>9.500</td></tr>
<tr class="one"><td>7</td><td>YAROTSKA Iryna</td><td>UKR</td><td>9.487</td></tr>
<tr class="two"><td>8</td><td>ZASSYPKINA Maria</td><td>RUS</td><td>9.287</td></tr>
</table>

</td></tr></table>

<p><a href="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--1-->

<p>
<li><span class="rb"><a name="g1">Juniors Women's Individual Qualification - Rank: 1 - 50</a></span><br>
<table class="waa">
	<col width="20" align="right">
	<col width="200">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
<tr class="wom">
	<th align=center colspan=2>2000 Europeans<br>Juniors Women's Qualification</th>
	<th align=center>Fed</th>
	<th align=center>VT</th>
	<th align=center>UB</th>
	<th align=center>BB</th>
	<th align=center>FX</th>
	<th align=center>Total</th></tr>
<tr class="one"><td>1</td><td>ZIGANSHIVA Natalia</td><td>RUS</td><td>9.418</td><td>9.550</td><td>9.762</td><td>9.600</td><td>38.330</td></tr>
<tr class="two"><td>2</td><td>COJOCAR Sabina</td><td>ROM</td><td>9.518</td><td>9.387</td><td>9.687</td><td>9.700</td><td>38.292</td></tr>
<tr class="one"><td>3</td><td>PAVLOVA Anna</td><td>RUS</td><td>9.274</td><td>9.687</td><td>9.675</td><td>9.325</td><td>37.961</td></tr>
<tr class="two"><td>4</td><td>YAROTSKA Iryna</td><td>UKR</td><td>9.137</td><td>9.612</td><td>9.625</td><td>9.562</td><td>37.936</td></tr>
<tr class="one"><td>5</td><td>ZASSYPKINA Maria</td><td>RUS</td><td>9.456</td><td>9.087</td><td>9.700</td><td>9.575</td><td>37.818</td></tr>
<tr class="two"><td>6</td><td>IONESCU Carmen</td><td>ROM</td><td>9.062</td><td>9.550</td><td>9.475</td><td>9.650</td><td>37.737</td></tr>
<tr class="one"><td>7</td><td>VAN DE LEUR Verona</td><td>NED</td><td>9.112</td><td>9.562</td><td>9.612</td><td>9.450</td><td>37.736</td></tr>
<tr class="two"><td>8</td><td>STROESCU Silvia</td><td>ROM</td><td>9.400</td><td>8.700</td><td>9.662</td><td>9.687</td><td>37.449</td></tr>
<tr class="one"><td>9</td><td>VALENTIJN Rikst</td><td>NED</td><td>9.268</td><td>9.400</td><td>9.025</td><td>9.575</td><td>37.268</td></tr>
<tr class="two"><td>10</td><td>HARMES Suzanne</td><td>NED</td><td>9.268</td><td>9.037</td><td>9.275</td><td>9.500</td><td>37.080</td></tr>
<tr class="one"><td>11</td><td>PLANAS Alba</td><td>ESP</td><td>9.237</td><td>9.525</td><td>8.962</td><td>9.325</td><td>37.049</td></tr>
<tr class="two"><td>12</td><td>BIJAK Darla</td><td>GER</td><td>9.131</td><td>9.325</td><td>8.837</td><td>9.537</td><td>36.830</td></tr>
<tr class="one"><td>13</td><td>SIROBABA Nataliya</td><td>UKR</td><td>9.393</td><td>9.675</td><td>8.600</td><td>9.100</td><td>36.768</td></tr>
<tr class="two"><td>14</td><td>COLOMBO Ilaria</td><td>ITA</td><td>9.162</td><td>9.087</td><td>9.400</td><td>8.900</td><td>36.549</td></tr>
<tr class="one"><td>15</td><td>TWEDDLE Elizabeth</td><td>GBR</td><td>9.124</td><td>9.612</td><td>8.587</td><td>8.862</td><td>36.185</td></tr>
<tr class="two"><td>16</td><td>MASON Rebecca</td><td>GBR</td><td>9.168</td><td>9.362</td><td>9.012</td><td>8.537</td><td>36.079</td></tr>
<tr class="one"><td>17</td><td>CAVALLI Cristina</td><td>ITA</td><td>8.981</td><td>9.175</td><td>8.437</td><td>9.387</td><td>35.980</td></tr>
<tr class="two"><td>18</td><td>TARASENKA Yuliya</td><td>BLR</td><td>8.987</td><td>8.750</td><td>8.975</td><td>9.262</td><td>35.974</td></tr>
<tr class="one"><td>19</td><td>GOMEZ Elena</td><td>ESP</td><td>8.993</td><td>9.262</td><td>8.475</td><td>9.212</td><td>35.942</td></tr>
<tr class="two"><td>20</td><td>SKIBKO Joanna</td><td>POL</td><td>8.987</td><td>8.512</td><td>8.875</td><td>9.150</td><td>35.524</td></tr>
<tr class="one"><td>21</td><td>ANDO Csilla</td><td>HUN</td><td>9.062</td><td>8.462</td><td>8.150</td><td>9.262</td><td>34.936</td></tr>
<tr class="two"><td>22</td><td>HRIBAR Maja</td><td>SLO</td><td>8.868</td><td>9.225</td><td>7.100</td><td>9.200</td><td>34.393</td></tr>
<tr class="one"><td>23</td><td>DIKINA Natalia</td><td>LAT</td><td>8.668</td><td>8.287</td><td>8.362</td><td>8.962</td><td>34.279</td></tr>
<tr class="two"><td>24</td><td>ISAAKIDOU Anna</td><td>GRE</td><td>8.431</td><td>8.500</td><td>8.237</td><td>9.087</td><td>34.255</td></tr>
<tr class="one"><td>25</td><td>JEWORUTZKI Janina</td><td>GER</td><td>9.375</td><td>8.450</td><td>7.562</td><td>8.775</td><td>34.162</td></tr>
<tr class="two"><td>26</td><td>JANECKOVA Lucie</td><td>CZE</td><td>8.393</td><td>8.700</td><td>8.337</td><td>8.350</td><td>33.780</td></tr>
<tr class="one"><td>27</td><td>ZAROUG Stefany</td><td>ISR</td><td>8.643</td><td>8.200</td><td>8.600</td><td>8.312</td><td>33.755</td></tr>
<tr class="two"><td>28</td><td>KISS Renata</td><td>HUN</td><td>8.868</td><td>7.750</td><td>7.787</td><td>9.300</td><td>33.705</td></tr>
<tr class="one"><td>29</td><td>TSEGEKI Sophia</td><td>GRE</td><td>8.743</td><td>8.837</td><td>7.487</td><td>8.575</td><td>33.642</td></tr>
<tr class="two"><td>30</td><td>LEVIC Taja</td><td>SLO</td><td>8.612</td><td>8.362</td><td>7.950</td><td>8.700</td><td>33.624</td></tr>
<tr class="one"><td>31</td><td>BURLINETTO Sabrina</td><td>BEL</td><td>8.962</td><td>8.387</td><td>7.587</td><td>8.625</td><td>33.561</td></tr>
<tr class="two"><td>32</td><td>OSTIJN Tamara</td><td>BEL</td><td>9.081</td><td>7.837</td><td>7.500</td><td>9.100</td><td>33.518</td></tr>
<tr class="one"><td>33</td><td>KAMNAR Julja</td><td>SLO</td><td>8.668</td><td>7.675</td><td>8.087</td><td>8.737</td><td>33.167</td></tr>
<tr class="two"><td>34</td><td>PERRIERE Johanna</td><td>SUI</td><td>8.462</td><td>7.987</td><td>8.262</td><td>8.287</td><td>32.998</td></tr>
<tr class="one"><td>35</td><td>WAGNER Veronica</td><td>SWE</td><td>8.550</td><td>7.762</td><td>8.150</td><td>8.525</td><td>32.987</td></tr>
<tr class="two"><td>36</td><td>KUNCOVA Nela</td><td>CZE</td><td>8.831</td><td>7.750</td><td>7.837</td><td>8.500</td><td>32.918</td></tr>
<tr class="one"><td>37</td><td>SACHA Dorota</td><td>POL</td><td>8.962</td><td>8.162</td><td>7.487</td><td>8.275</td><td>32.886</td></tr>
<tr class="two"><td>38</td><td>LEVY Anat</td><td>ISR</td><td>8.618</td><td>8.187</td><td>7.300</td><td>8.750</td><td>32.855</td></tr>
<tr class="one"><td>39</td><td>SKYTTA Maria</td><td>FIN</td><td>8.706</td><td>8.287</td><td>7.712</td><td>8.062</td><td>32.767</td></tr>
<tr class="two"><td>40</td><td>HANSSON Henriette</td><td>NOR</td><td>8.662</td><td>7.912</td><td>7.775</td><td>8.350</td><td>32.699</td></tr>
<tr class="one"><td>41</td><td>HOMOLOVA Maria</td><td>SVK</td><td>8.362</td><td>7.537</td><td>8.000</td><td>8.775</td><td>32.674</td></tr>
<tr class="two"><td>42</td><td>KONDRAL Aksana</td><td>BLR</td><td>8.231</td><td>8.275</td><td>8.262</td><td>7.725</td><td>32.493</td></tr>
<tr class="one"><td>43</td><td>LUPTAKOVA Jana</td><td>SVK</td><td>8.518</td><td>7.900</td><td>7.375</td><td>8.600</td><td>32.393</td></tr>
<tr class="two"><td>44</td><td>PRAXMARER Sefanie</td><td>AUT</td><td>8.475</td><td>7.762</td><td>7.750</td><td>8.050</td><td>32.037</td></tr>
<tr class="one"><td>45</td><td>SINKUNAITE Joana</td><td>LTU</td><td>8.112</td><td>8.012</td><td>7.737</td><td>8.162</td><td>32.023</td></tr>
<tr class="two"><td>46</td><td>TALBI Feriel</td><td>LUX</td><td>8.487</td><td>7.250</td><td>7.825</td><td>8.412</td><td>31.974</td></tr>
<tr class="one"><td>47</td><td>LOOW Jenny</td><td>SWE</td><td>8.599</td><td>7.550</td><td>7.575</td><td>8.212</td><td>31.936</td></tr>
<tr class="two"><td>48</td><td>PALSDOTTIR Sif</td><td>ISL</td><td>8.456</td><td>7.712</td><td>7.250</td><td>8.400</td><td>31.818</td></tr>
<tr class="one"><td>49</td><td>ARNESEN Line</td><td>NOR</td><td>8.562</td><td>7.550</td><td>7.750</td><td>7.900</td><td>31.762</td></tr>
<tr class="two"><td>50</td><td>TANKOUSHEVA Nikolina</td><td>BUL</td><td>8.750</td><td>7.300</td><td>8.100</td><td>7.550</td><td>31.700</td></tr>
</table>

<p><a href="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--51-->

<p>
<li><span class="rb"><a name="g51">Juniors Women's Individual Qualification - Rank: 51 - 100</a></span><br>

<table class="waa">
	<col width="20" align="right">
	<col width="200">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
<tr class="wom">
	<th align=center colspan=2>2000 Europeans<br>Juniors Women's Qualification</th>
	<th align=center>Fed</th>
	<th align=center>VT</th>
	<th align=center>UB</th>
	<th align=center>BB</th>
	<th align=center>FX</th>
	<th align=center>Total</th></tr>
<tr class="one"><td>51</td><td>LINLOKKEN Sandra</td><td>NOR</td><td>8.568</td><td>8.025</td><td>6.775</td><td>8.312</td><td>31.680</td></tr>
<tr class="two"><td>52</td><td>THORDARDOTTIR Tinna</td><td>ISL</td><td>8.499</td><td>7.862</td><td>7.025</td><td>8.137</td><td>31.523</td></tr>
<tr class="one"><td>53</td><td>MICHAEL Elpida</td><td>CYP</td><td>8.749</td><td>7.050</td><td>7.087</td><td>8.475</td><td>31.361</td></tr>
<tr class="two"><td>54</td><td>DETAILLE Conny</td><td>LUX</td><td>8.425</td><td>7.787</td><td>7.112</td><td>7.937</td><td>31.261</td></tr>
<tr class="one"><td>55</td><td>BADIC Aida</td><td>CRO</td><td>8.312</td><td>7.437</td><td>7.412</td><td>8.025</td><td>31.186</td></tr>
<tr class="two"><td>56</td><td>CIRAKMAN Dilber</td><td>TUR</td><td>8.431</td><td>7.462</td><td>7.000</td><td>8.200</td><td>31.093</td></tr>
<tr class="one"><td>57</td><td>NIKONOVIC Jelena</td><td>LTU</td><td>8.375</td><td>7.400</td><td>7.050</td><td>8.212</td><td>31.037</td></tr>
<tr class="two"><td>58</td><td>CURA Melike</td><td>TUR</td><td>8.512</td><td>7.462</td><td>7.587</td><td>7.425</td><td>30.986</td></tr>
<tr class="one"><td>59</td><td>PEKOVSEK Raphaela</td><td>AUT</td><td>8.512</td><td>7.575</td><td>7.025</td><td>7.787</td><td>30.899</td></tr>
<tr class="two"><td>60</td><td>KRINGS Nora</td><td>LUX</td><td>8.124</td><td>7.112</td><td>7.400</td><td>7.775</td><td>30.411</td></tr>
<tr class="one"><td>61</td><td>TEODOROVIC Jovana</td><td>YUG</td><td>8.012</td><td>6.500</td><td>7.862</td><td>7.875</td><td>30.249</td></tr>
<tr class="two"><td>62</td><td>KAMENOVA Galabina</td><td>BUL</td><td>7.668</td><td>7.387</td><td>6.487</td><td>7.075</td><td>28.617</td></tr>
<tr class="one"><td>63</td><td>PERON Marlene</td><td>FRA</td><td>9.243</td><td>-</td><td>9.537</td><td>9.625</td><td>28.405</td></tr>
<tr class="two"><td>64</td><td>MOURIER Marion</td><td>FRA</td><td>-</td><td>9.137</td><td>9.200</td><td>9.662</td><td>27.999</td></tr>
<tr class="one"><td>65</td><td>SOLIGO Erika</td><td>ITA</td><td>9.074</td><td>9.187</td><td>-</td><td>9.225</td><td>27.486</td></tr>
<tr class="two"><td>66</td><td>MEDINA Cayetana</td><td>ESP</td><td>9.193</td><td>9.300</td><td>-</td><td>8.912</td><td>27.405</td></tr>
<tr class="one"><td>67</td><td>DREMLYGA Oksana</td><td>UKR</td><td>9.074</td><td>-</td><td>7.900</td><td>9.400</td><td>26.374</td></tr>
<tr class="two"><td>68</td><td>ALMENOKSA Annukka</td><td>FIN</td><td>8.706</td><td>8.187</td><td>-</td><td>9.075</td><td>25.968</td></tr>
<tr class="one"><td>69</td><td>ERMERT Camilla</td><td>GER</td><td>-</td><td>8.450</td><td>8.375</td><td>9.062</td><td>25.887</td></tr>
<tr class="two"><td>70</td><td>ZANEVSKAJA Jelena</td><td>LTU</td><td>8.699</td><td>8.775</td><td>-</td><td>8.375</td><td>25.849</td></tr>
<tr class="one"><td>71</td><td>SOLOMOU Panagiota</td><td>GRE</td><td>8.362</td><td>-</td><td>7.675</td><td>9.037</td><td>25.074</td></tr>
<tr class="two"><td>72</td><td>TOLKUNOVA Yekaterina</td><td>LAT</td><td>8.774</td><td>-</td><td>7.950</td><td>7.600</td><td>24.324</td></tr>
<tr class="one"><td>73</td><td>MARTI Melanie</td><td>SUI</td><td>-</td><td>7.825</td><td>7.962</td><td>8.362</td><td>24.149</td></tr>
<tr class="two"><td>74</td><td>CEPOVA Yekaterina</td><td>LAT</td><td>-</td><td>7.887</td><td>7.412</td><td>8.687</td><td>23.986</td></tr>
<tr class="one"><td>75</td><td>ENGLERT Danielle</td><td>SUI</td><td>8.862</td><td>8.137</td><td>6.875</td><td>-</td><td>23.874</td></tr>
<tr class="two"><td>76</td><td>SHIMA Egla</td><td>ALB</td><td>3.543</td><td>4.612</td><td>6.187</td><td>6.075</td><td>20.417</td></tr>
<tr class="one"><td>77</td><td>JANS Jessica</td><td>BEL</td><td>9.331</td><td>-</td><td>-</td><td>9.475</td><td>18.806</td></tr>
<tr class="two"><td>78</td><td>HEDOUIN Aurelie</td><td>FRA</td><td>9.243</td><td>-</td><td>-</td><td>9.362</td><td>18.605</td></tr>
<tr class="one"><td>79</td><td>PENTEK Tunde</td><td>HUN</td><td>9.143</td><td>-</td><td>-</td><td>9.375</td><td>18.518</td></tr>
<tr class="two"><td>80</td><td>COUTZAC Clelia</td><td>FRA</td><td>9.268</td><td>9.012</td><td>-</td><td>-</td><td>18.280</td></tr>
<tr class="one"><td>81</td><td>OWEN Rebecca</td><td>GBR</td><td>9.087</td><td>-</td><td>8.700</td><td>-</td><td>17.787</td></tr>
<tr class="two"><td>82</td><td>NOVIKAVA Aksana</td><td>BLR</td><td>8.712</td><td>8.700</td><td>-</td><td>-</td><td>17.412</td></tr>
<tr class="one"><td>83</td><td>VAUDABLE Melodie</td><td>FRA</td><td>-</td><td>9.087</td><td>8.287</td><td>-</td><td>17.374</td></tr>
<tr class="two"><td>84</td><td>PALMU Jaana</td><td>FIN</td><td>-</td><td>-</td><td>8.775</td><td>8.237</td><td>17.012</td></tr>
<tr class="one"><td>85</td><td>STRIFLER Angela</td><td>HUN</td><td>-</td><td>8.312</td><td>8.637</td><td>-</td><td>16.949</td></tr>
<tr class="two"><td>86</td><td>ZUERCHER Janine</td><td>SUI</td><td>8.337</td><td>-</td><td>-</td><td>8.425</td><td>16.762</td></tr>
<tr class="one"><td>87</td><td>OZANOVA Veronika</td><td>CZE</td><td>8.775</td><td>7.950</td><td>-</td><td>-</td><td>16.725</td></tr>
<tr class="two"><td>88</td><td>LAITILA Mira</td><td>FIN</td><td>8.643</td><td>-</td><td>7.912</td><td>-</td><td>16.555</td></tr>
<tr class="one"><td>89</td><td>ARAMA Nitzan</td><td>ISR</td><td>8.799</td><td>-</td><td>-</td><td>7.650</td><td>16.449</td></tr>
<tr class="two"><td>90</td><td>Gudmundsdottir Asdis</td><td>ISL</td><td>8.431</td><td>-</td><td>-</td><td>7.850</td><td>16.281</td></tr>
<tr class="one"><td>91</td><td>SHEMESH Liza</td><td>ISR</td><td>-</td><td>8.362</td><td>7.912</td><td>-</td><td>16.274</td></tr>
<tr class="two"><td>92</td><td>PAWLOWICZ Marta</td><td>POL</td><td>-</td><td>8.275</td><td>7.287</td><td>-</td><td>15.562</td></tr>
<tr class="one"><td>93</td><td>RISSELIN Aude</td><td>BEL</td><td>-</td><td>8.412</td><td>7.150</td><td>-</td><td>15.562</td></tr>
<tr class="two"><td>94</td><td>CHYTILOVA Petra</td><td>CZE</td><td>-</td><td>-</td><td>7.087</td><td>8.437</td><td>15.524</td></tr>
<tr class="one"><td>95</td><td>OBERHAUSER Verena</td><td>AUT</td><td>-</td><td>-</td><td>7.237</td><td>8.025</td><td>15.262</td></tr>
<tr class="two"><td>96</td><td>MILKO Iryna</td><td>BLR</td><td>-</td><td>-</td><td>6.837</td><td>8.237</td><td>15.074</td></tr>
<tr class="one"><td>97</td><td>BASKAN Ozge</td><td>TUR</td><td>8.406</td><td>-</td><td>6.125</td><td>-</td><td>14.531</td></tr>
<tr class="two"><td>98</td><td>SUVEREN Ceren</td><td>TUR</td><td>-</td><td>6.937</td><td>-</td><td>6.900</td><td>13.837</td></tr>
<tr class="one"><td>99</td><td>PROSKURINA Maryna</td><td>UKR</td><td>-</td><td>9.375</td><td>-</td><td>-</td><td>9.375</td></tr>
<tr class="two"><td>100</td><td>KOCH Anja</td><td>GER</td><td>8.943</td><td>-</td><td>-</td><td>-</td><td>8.943</td></tr>
</table>

<p><a href="#top"><img src="totop.gif" width=100 height=15 border=0></a></p>

<!--101-->

<p>
<li><span class="rb"><a name="g101">Juniors Women's Individual Qualification - Rank: 101 - 114</a></span><br>

<table class="waa">
	<col width="20" align="right">
	<col width="200">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
<tr class="wom">
	<th align=center colspan=2>2000 Europeans<br>Juniors Women's Qualification</th>
	<th align=center>Fed</th>
	<th align=center>VT</th>
	<th align=center>UB</th>
	<th align=center>BB</th>
	<th align=center>FX</th>
	<th align=center>Total</th></tr>
<tr class="one"><td>101</td><td>SARKHOSH Daria</td><td>ITA</td><td>-</td><td>-</td><td>8.700</td><td>-</td><td>8.700</td></tr>
<tr class="two"><td>102</td><td>BROG Ewelina</td><td>POL</td><td>8.662</td><td>-</td><td>-</td><td>-</td><td>8.662</td></tr>
<tr class="one"><td>103</td><td>GLUSHAKA Natalia</td><td>LAT</td><td>8.643</td><td>-</td><td>-</td><td>-</td><td>8.643</td></tr>
<tr class="two"><td>104</td><td>JOHNSTONE Asthone</td><td>GBR</td><td>-</td><td>8.600</td><td>-</td><td>-</td><td>8.600</td></tr>
<tr class="one"><td>105</td><td>DOMINGUEZ Angela</td><td>ESP</td><td>-</td><td>-</td><td>8.512</td><td>-</td><td>8.512</td></tr>
<tr class="two"><td>106</td><td>NAUMOWICZ Sylwia</td><td>POL</td><td>-</td><td>-</td><td>-</td><td>8.475</td><td>8.475</td></tr>
<tr class="one"><td>107</td><td>GMEIER Tanya</td><td>AUT</td><td>8.312</td><td>-</td><td>-</td><td>-</td><td>8.312</td></tr>
<tr class="two"><td>108</td><td>GIMBLETT Selene</td><td>GBR</td><td>-</td><td>-</td><td>-</td><td>8.287</td><td>8.287</td></tr>
<tr class="one"><td>109</td><td>SIORA Nikoleta</td><td>GRE</td><td>-</td><td>8.275</td><td>-</td><td>-</td><td>8.275</td></tr>
<tr class="two"><td>110</td><td>RENCE Ilze</td><td>LAT</td><td>-</td><td>8.037</td><td>-</td><td>-</td><td>8.037</td></tr>
<tr class="one"><td>111</td><td>PALO-OJA Petra</td><td>FIN</td><td>-</td><td>7.600</td><td>-</td><td>-</td><td>7.600</td></tr>
<tr class="two"><td>112</td><td>GUNNARSDOTTIR Inga Ros</td><td>ISL</td><td>-</td><td>-</td><td>6.675</td><td>-</td><td>6.675</td></tr>
<tr class="one"><td>113</td><td>KUTTMON Martina</td><td>AUT</td><td>-</td><td>6.650</td><td>-</td><td>-</td><td>6.650</td></tr>
<tr class="two"><td>114</td><td>JONSDOTTIR Tanja Bjork</td><td>ISL</td><td>-</td><td>6.587</td><td>-</td><td>-</td><td>6.587</td></tr>
</table>

<br><br>
