---
title: "2000 European Women's Senior Championships Paris"
year: 2000
startdate: 2000-05-12
enddate: 2000-05-14
country: "FRA"
category: "euros"
layout: results
redirect_from: /2000/e2000w.html
---
	
{% include resultsheader.html title="23<sup>rd</sup> European Championships<br> Women's Artistic Gymnastics<br>Paris (FRA) May 12 - 14 2000" %}

<!-- Author: Stanislav Mikulas -->
<!-- Date: Feb 20 2004 -->


<table><tr><td valign=top width=540>
	<table cellpadding=10>
	<tr>
    <td bgcolor="#FF9999" width=250><span class="wom">Women</span></td>
	</tr>
	<tr>
	   <td bgcolor="#FF9999" valign=top>
   		<div style="background:#ffff66; width:100%; font-weight:bold; color:red;">
		<a href="#tf">Women's Teams Finals</a><br>
		<a href="#if">Women's Individual Finals</a><br>
		<a href="#vt">Women's VT + UB Finals</a><br>
		<a href="#bb">Women's BB + FX Finals</a><br>
		<a href="#g1">Women's Qualification: &nbsp; Rank 01-50</a><br>
		<a href="#g51">Women's Qualification: &nbsp; Rank 51-100</a>
		</div>
		</td></tr>
	</table>

</td>
</tr>
</table>

<!--TEAMS-->

<p>
<li><span class="rb"><a name="tf">Women's Team Final</a></span><br>

<table class="waa">
	<col width="20" align="right">
	<col width="200">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
<tr class="wom">
	<th align=center colspan=2>2000 Europeans<br> Women's Teams</th>
	<th align=center>Fed</th>
	<th align=center>VT</th>
	<th align=center>UB</th>
	<th align=center>BB</th>
	<th align=center>FX</th>
	<th align=center>Total</th></tr>
<tr class="one"><td>1</td><td>Russia</td><td>RUS</td><td>28.661</td><td>29.262</td><td>28.637</td><td>29.200</td><td>115.760</td></tr>
<tr class="two"><td>2</td><td>Ukraine</td><td>UKR</td><td>28.142</td><td>29.024</td><td>29.062</td><td>29.074</td><td>115.302</td></tr>
<tr class="one"><td>3</td><td>Romania</td><td>ROM</td><td>28.305</td><td>28.487</td><td>28.700</td><td>29.211</td><td>114.703</td></tr>
<tr class="two"><td>4</td><td>Spain</td><td>ESP</td><td>28.273</td><td>28.874</td><td>27.212</td><td>28.449</td><td>112.808</td></tr>
<tr class="one"><td>5</td><td>Italy</td><td>ITA</td><td>27.205</td><td>28.386</td><td>27.924</td><td>28.150</td><td>111.665</td></tr>
<tr class="two"><td>6</td><td>France</td><td>FRA</td><td>26.774</td><td>28.112</td><td>27.375</td><td>28.836</td><td>111.097</td></tr>
<tr class="one"><td>7</td><td>Great Britain</td><td>GBR</td><td>26.785</td><td>28.249</td><td>27.287</td><td>28.161</td><td>110.482</td></tr>
<tr class="two"><td>8</td><td>Belorus</td><td>BLR</td><td>27.555</td><td>28.186</td><td>26.749</td><td>27.787</td><td>110.277</td></tr>
<tr class="one"><td>9</td><td>Germany</td><td>GER</td><td>26.942</td><td>28.512</td><td>26.600</td><td>27.849</td><td>109.903</td></tr>
<tr class="two"><td>10</td><td>Poland</td><td>POL</td><td>27.211</td><td>35.824</td><td>17.937</td><td>26.950</td><td>107.922</td></tr>
<tr class="one"><td>11</td><td>Netherlands</td><td>NED</td><td>27.155</td><td>26.812</td><td>26.024</td><td>27.699</td><td>107.690</td></tr>
<tr class="two"><td>12</td><td>Hungary</td><td>HUN</td><td>27.724</td><td>28.599</td><td>23.850</td><td>27.261</td><td>107.434</td></tr>
<tr class="one"><td>13</td><td>Czech Republic</td><td>CZE</td><td>27.205</td><td>27.687</td><td>25.499</td><td>26.174</td><td>106.565</td></tr>
<tr class="two"><td>14</td><td>Belgium</td><td>BEL</td><td>27.136</td><td>26.461</td><td>25.249</td><td>26.199</td><td>105.045</td></tr>
<tr class="one"><td>15</td><td>Slovakia</td><td>SVK</td><td>25.648</td><td>25.775</td><td>26.037</td><td>26.687</td><td>104.147</td></tr>
<tr class="two"><td>16</td><td>Norway</td><td>NOR</td><td>26.367</td><td>25.524</td><td>23.612</td><td>25.600</td><td>101.103</td></tr>
<tr class="one"><td>17</td><td>Slovenia</td><td>SLO</td><td>25.661</td><td>24.749</td><td>24.562</td><td>25.337</td><td>100.309</td></tr>
<tr class="two"><td>18</td><td>Latvia</td><td>LAT</td><td>25.623</td><td>25.550</td><td>24.037</td><td>25.037</td><td>100.247</td></tr>
<tr class="one"><td>19</td><td>Israel</td><td>ISR</td><td>26.092</td><td>24.350</td><td>23.499</td><td>24.074</td><td>98.015</td></tr>
<tr class="two"><td>20</td><td>Lithuania</td><td>LTU</td><td>25.312</td><td>24.862</td><td>21.812</td><td>24.287</td><td>96.273</td></tr>
<tr class="one"><td>21</td><td>Finland</td><td>FIN</td><td>24.517</td><td>24.587</td><td>22.449</td><td>23.450</td><td>95.003</td></tr>
</table>

<br><a href="#top"><img src="../totop.gif" width=100 height=15 border=0></a><p>

<!--AA FIN-->

<p>
<li><span class="rb"><a name="if">Women's All Around Final</a></span><br>

<table class="waa">
	<col width="20" align="right">
	<col width="200">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
<tr class="wom">
	<th align=center colspan=2>2000 Europeans<br> Women's AA Finals</th>
	<th align=center>Fed</th>
	<th align=center>VT</th>
	<th align=center>UB</th>
	<th align=center>BB</th>
	<th align=center>FX</th>
	<th align=center>Total</th></tr>
<tr class="one"><td>1</td><td>Khorkina Svetlana</td><td>RUS</td><td>9.362</td><td>9.875</td><td>9.737</td><td>9.775</td><td>38.749</td></tr>
<tr class="two"><td>2</td><td>Zamolodchikova Elena</td><td>RUS</td><td>9.612</td><td>9.662</td><td>9.675</td><td>9.675</td><td>38.624</td></tr>
<tr class="one"><td>3</td><td>Karpenko Viktoria</td><td>UKR</td><td>9.531</td><td>9.800</td><td>9.350</td><td>9.775</td><td>38.456</td></tr>
<tr class="two"><td>4</td><td>Moya Ester</td><td>ESP</td><td>9.593</td><td>9.587</td><td>9.662</td><td>9.600</td><td>38.442</td></tr>
<tr class="one"><td>5</td><td>Roschupkina Olga</td><td>UKR</td><td>9.418</td><td>9.637</td><td>9.712</td><td>9.637</td><td>38.404</td></tr>
<tr class="two"><td>6</td><td>Raducan Andreea</td><td>ROM</td><td>9.331</td><td>9.600</td><td>9.750</td><td>9.650</td><td>38.331</td></tr>
<tr class="one"><td>7</td><td>Moro Sara</td><td>ESP</td><td>9.181</td><td>9.600</td><td>9.700</td><td>9.575</td><td>38.056</td></tr>
<tr class="two"><td>8</td><td>Amanar Simona</td><td>ROM</td><td>9.650</td><td>8.887</td><td>9.762</td><td>9.750</td><td>38.049</td></tr>
<tr class="one"><td>9</td><td>Komrskova Jana</td><td>CZE</td><td>9.237</td><td>9.575</td><td>9.337</td><td>9.350</td><td>37.499</td></tr>
<tr class="two"><td>10</td><td>Mason Lisa</td><td>GBR</td><td>9.281</td><td>9.500</td><td>9.025</td><td>9.562</td><td>37.368</td></tr>
<tr class="one"><td>11</td><td>Bergamelli Monica</td><td>ITA</td><td>9.250</td><td>9.487</td><td>9.137</td><td>9.425</td><td>37.299</td></tr>
<tr class="two"><td>12</td><td>Schweigert Birgit</td><td>GER</td><td>9.162</td><td>9.437</td><td>9.137</td><td>9.175</td><td>36.911</td></tr>
<tr class="one"><td>13</td><td>Sekerova Zuzana</td><td>SVK</td><td>9.000</td><td>9.187</td><td>9.300</td><td>9.187</td><td>36.674</td></tr>
<tr class="two"><td>14</td><td>Nuijten Monique</td><td>NED</td><td>9.218</td><td>9.350</td><td>9.262</td><td>8.750</td><td>36.580</td></tr>
<tr class="one"><td>15</td><td>Maresova Katerina</td><td>CZE</td><td>8.943</td><td>9.575</td><td>8.537</td><td>9.075</td><td>36.130</td></tr>
<tr class="two"><td>16</td><td>Fehrenschild Dagmar</td><td>GER</td><td>8.981</td><td>9.562</td><td>8.537</td><td>9.050</td><td>36.130</td></tr>
<tr class="one"><td>17</td><td>Skowronska Joanna</td><td>POL</td><td>9.131</td><td>9.325</td><td>8.750</td><td>8.900</td><td>36.106</td></tr>
<tr class="two"><td>18</td><td>Crisci Adriana</td><td>ITA</td><td>9.299</td><td>8.012</td><td>9.487</td><td>9.300</td><td>36.098</td></tr>
<tr class="one"><td>19</td><td>Nyeste Adrienn</td><td>HUN</td><td>9.187</td><td>9.687</td><td>8.000</td><td>9.012</td><td>35.886</td></tr>
<tr class="two"><td>20</td><td>Polozkova Alena</td><td>BLR</td><td>9.062</td><td>8.862</td><td>8.787</td><td>9.025</td><td>35.736</td></tr>
<tr class="one"><td>21</td><td>Persoon Sigrid</td><td>BEL</td><td>9.156</td><td>9.412</td><td>7.687</td><td>9.362</td><td>35.617</td></tr>
<tr class="two"><td>22</td><td>Salzmann Annik</td><td>SUI</td><td>8.750</td><td>8.987</td><td>8.237</td><td>9.237</td><td>35.211</td></tr>
<tr class="one"><td>23</td><td>Mavric Mojca</td><td>SLO</td><td>8.831</td><td>8.387</td><td>8.575</td><td>9.062</td><td>34.855</td></tr>
<tr class="two"><td>24</td><td>Reho Laetitia</td><td>BEL</td><td>8.956</td><td>8.612</td><td>7.625</td><td>8.950</td><td>34.143</td></tr>
</table> 
<br><a href="#top"><img src="../totop.gif" width=100 height=15 border=0></a><p>

<table cellspacing=5>
<tr>
<td width=350 valign=top>	

<!--VT-->

	<li><span class="rb"><a name="vt">Vault Women Finals</a></span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="wom">
	<th colspan=2>2000 Europeans VT Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>AMANAR Simona</td><td>ROM</td><td>9.674</td></tr>
<tr class="two"><td>2</td><td>Zamolodchikova Elena</td><td>RUS</td><td>9.668</td></tr>
<tr class="one"><td>3</td><td>MOYA Esther</td><td>ESP</td><td>9.574</td></tr>
<tr class="two"><td>4</td><td>PRODUNOVA Elena</td><td>RUS</td><td>9.543</td></tr>
<tr class="one"><td>5</td><td>KARPENKO Viktoriya</td><td>UKR</td><td>9.512</td></tr>
<tr class="two"><td>6</td><td>KVASHA Alona</td><td>UKR</td><td>9.418</td></tr>
<tr class="one"><td>7</td><td>BREMINI Martina</td><td>ITA</td><td>9.337</td></tr>
<tr class="two"><td>8</td><td>MARTINEZ Laura</td><td>ESP</td><td>8.618</td></tr>
</table><br><br>

</td><td width=350 valign=top>	

<!--UB-->

<li><span class="rb">Uneven Bars Finals</span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col width="50" align="center">
	<tr class="wom">
	<th colspan=2>2000 Europeans UB Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>KHORKINA Svetlana</td><td>RUS</td><td>9.837</td></tr>
<tr class="two"><td>2</td><td>KARPENKO Viktoriya</td><td>UKR</td><td>9.800</td></tr>
<tr class="one"><td>3</td><td>PRODUNOVA Elena</td><td>RUS</td><td>9.775</td></tr>
<tr class="two"><td>4</td><td>ISARESCU Andreea</td><td>ROM</td><td>9.725</td></tr>
<tr class="one"><td>5</td><td>MARTINEZ Laura</td><td>ESP</td><td>9.612</td></tr>
<tr class="two"><td>6</td><td>JARGANOVA Tatiana</td><td>BLR</td><td>9.550</td></tr>
<tr class="one"><td>7</td><td>CRISCI Adriana</td><td>ITA</td><td>9.325</td></tr>
<tr class="two"><td>8</td><td>NYESTE Adrienn</td><td>HUN</td><td>9.287</td></tr>
</table><br><br>

</td></tr>
<tr><td width=350 valign=top>

<!--BB-->

	<li><span class="rb"><a name="bb">Balance Beam Finals</a></span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="wom">
	<th colspan=2>2000 Europeans BB Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>KHORKINA Svetlana</td><td>RUS</td><td>9.837</td></tr>
<tr class="two"><td>2</td><td>AMANAR Simona</td><td>ROM</td><td>9.800</td></tr>
<tr class="one"><td>3</td><td>Zamolodchikova Elena</td><td>RUS</td><td>9.762</td></tr>
<tr class="two"><td>4</td><td>KARPENKO Viktoriya</td><td>UKR</td><td>9.587</td></tr>
<tr class="one"><td>5</td><td>RADUCAN Andreea</td><td>ROM</td><td>9.475</td></tr>
<tr class="two"><td>6</td><td>ROCHCHUPKINA Olga</td><td>UKR</td><td>9.350</td></tr>
<tr class="one"><td>7</td><td>MASON Lisa</td><td>GBR</td><td>9.275</td></tr>
<tr class="two"><td>8</td><td>OLIVETTI Elena</td><td>ITA</td><td>8.625</td></tr>
</table><br><br>

</td><td width=350 valign=top>

<!--FX-->

<li><span class="rb">Floor Exercise Finals</span><br>
	<table class="resf" width=100%>
		<col width="30" align="right">
		<col width="200">
		<col width="50" align="center">
		<col  width="50" align="center">
	<tr class="wom">
	<th colspan=2>2000 Europeans FX Finals</th>
	<th>Fed</th>
	<th>Total</th></tr>
<tr class="one"><td>1</td><td>FURNON Ludivine</td><td>FRA</td><td>9.875</td></tr>
<tr class="two"><td>2</td><td>KARPENKO Viktoriya</td><td>UKR</td><td>9.812</td></tr>
<tr class="one"><td>2</td><td>RADUCAN Andreea</td><td>ROM</td><td>9.812</td></tr>
<tr class="two"><td>2</td><td>PRODUNOVA Elena</td><td>RUS</td><td>9.812</td></tr>
<tr class="one"><td>5</td><td>AMANAR Simona</td><td>ROM</td><td>9.800</td></tr>
<tr class="two"><td>6</td><td>ROCHCHUPKINA Olga</td><td>UKR</td><td>9.737</td></tr>
<tr class="one"><td>7</td><td>CRISCI Adriana</td><td>ITA</td><td>9.600</td></tr>
<tr class="two"><td>8</td><td>ZAMOLODCHIKOVA Elena</td><td>RUS</td><td>9.437</td></tr>
</table>

</td></tr></table>

<p><a href="#top"><img src="../totop.gif" width=100 height=15 border=0></a></p>

<!--1-->

<p>
<li><span class="rb"><a name="g1">Women's Individual Qualification - Rank: 1 - 50</a></span><br>
<table class="waa">
	<col width="20" align="right">
	<col width="200">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
<tr class="wom">
	<th align=center colspan=2>2000 Europeans<br> Women's Qualification</th>
	<th align=center>Fed</th>
	<th align=center>VT</th>
	<th align=center>UB</th>
	<th align=center>BB</th>
	<th align=center>FX</th>
	<th align=center>Total</th></tr>
<tr class="one"><td>1</td><td>KARPENKO Viktoriya</td><td>UKR</td><td>9.518</td><td>9.812</td><td>9.737</td><td>9.800</td><td>38.867</td></tr>
<tr class="two"><td>2</td><td>KHORKINA Svetlana</td><td>RUS</td><td>9.468</td><td>9.850</td><td>9.775</td><td>9.725</td><td>38.818</td></tr>
<tr class="one"><td>3</td><td>Zamolodchikova Elena</td><td>RUS</td><td>9.662</td><td>9.650</td><td>9.662</td><td>9.650</td><td>38.624</td></tr>
<tr class="two"><td>4</td><td>RADUCAN Andreea</td><td>ROM</td><td>9.387</td><td>9.600</td><td>9.850</td><td>9.787</td><td>38.624</td></tr>
<tr class="one"><td>5</td><td>PRODUNOVA Elena</td><td>RUS</td><td>9.531</td><td>9.762</td><td>9.200</td><td>9.825</td><td>38.318</td></tr>
<tr class="two"><td>6</td><td>RACHCHUPKINA Olga</td><td>UKR</td><td>9.212</td><td>9.637</td><td>9.675</td><td>9.687</td><td>38.211</td></tr>
<tr class="one"><td>7</td><td>AMANAR Simona</td><td>ROM</td><td>9.637</td><td>9.162</td><td>9.650</td><td>9.762</td><td>38.211</td></tr>
<tr class="two"><td>8</td><td>CRISCI Adriana</td><td>ITA</td><td>9.368</td><td>9.662</td><td>9.412</td><td>9.675</td><td>38.117</td></tr>
<tr class="one"><td>9</td><td>MOYA Esther</td><td>ESP</td><td>9.618</td><td>9.600</td><td>9.037</td><td>9.437</td><td>37.692</td></tr>
<tr class="two"><td>10</td><td>MORO Sara</td><td>ESP</td><td>9.249</td><td>9.587</td><td>9.250</td><td>9.550</td><td>37.636</td></tr>
<tr class="one"><td>11</td><td>MARTINEZ Laura</td><td>ESP</td><td>9.406</td><td>9.687</td><td>8.925</td><td>9.462</td><td>37.480</td></tr>
<tr class="two"><td>12</td><td>MASON Lisa</td><td>GBR</td><td>9.074</td><td>9.487</td><td>9.437</td><td>9.412</td><td>37.410</td></tr>
<tr class="one"><td>13</td><td>KOMRSKOVA Jana</td><td>CZE</td><td>9.337</td><td>9.587</td><td>9.375</td><td>8.987</td><td>37.286</td></tr>
<tr class="two"><td>14</td><td>FEHRENSCHILD Dagmar</td><td>GER</td><td>8.874</td><td>9.600</td><td>9.225</td><td>9.337</td><td>37.036</td></tr>
<tr class="one"><td>15</td><td>SCHWEIGERT Birgit</td><td>GER</td><td>9.043</td><td>9.475</td><td>9.050</td><td>9.437</td><td>37.005</td></tr>
<tr class="two"><td>16</td><td>PERSOON Sigrid</td><td>BEL</td><td>9.275</td><td>9.537</td><td>8.887</td><td>9.062</td><td>36.761</td></tr>
<tr class="one"><td>17</td><td>SEKEROVA Zuzana</td><td>SVK</td><td>9.024</td><td>9.175</td><td>9.037</td><td>9.312</td><td>36.548</td></tr>
<tr class="two"><td>18</td><td>SKOWRONSKA Joanna</td><td>POL</td><td>8.699</td><td>9.375</td><td>9.225</td><td>9.075</td><td>36.374</td></tr>
<tr class="one"><td>19</td><td>POLOZKOVA Alena</td><td>BLR</td><td>9.137</td><td>9.212</td><td>8.400</td><td>9.512</td><td>36.261</td></tr>
<tr class="two"><td>20</td><td>BERGAMELLI Monica</td><td>ITA</td><td>8.331</td><td>9.237</td><td>9.062</td><td>9.250</td><td>35.880</td></tr>
<tr class="one"><td>21</td><td>BRUGGEMANN Lisa</td><td>GER</td><td>9.025</td><td>9.437</td><td>8.325</td><td>9.075</td><td>35.862</td></tr>
<tr class="two"><td>22</td><td>NUIJTEN Monique</td><td>NED</td><td>8.993</td><td>9.325</td><td>8.512</td><td>9.025</td><td>35.855</td></tr>
<tr class="one"><td>23</td><td>REUBL Tunde</td><td>HUN</td><td>9.206</td><td>9.612</td><td>7.925</td><td>9.037</td><td>35.780</td></tr>
<tr class="two"><td>24</td><td>NYESTE Adrienn</td><td>HUN</td><td>9.256</td><td>9.700</td><td>7.675</td><td>9.112</td><td>35.743</td></tr>
<tr class="one"><td>25</td><td>MARESOVA Katerina</td><td>CZE</td><td>8.975</td><td>9.450</td><td>8.012</td><td>9.212</td><td>35.649</td></tr>
<tr class="two"><td>26</td><td>SALZMANN Annik</td><td>SUI</td><td>8.849</td><td>8.400</td><td>9.300</td><td>9.050</td><td>35.599</td></tr>
<tr class="one"><td>27</td><td>REHO Laetitia</td><td>BEL</td><td>8.949</td><td>8.662</td><td>9.025</td><td>8.637</td><td>35.273</td></tr>
<tr class="two"><td>28</td><td>MAVRIC Mojca</td><td>SLO</td><td>8.637</td><td>8.375</td><td>8.775</td><td>8.762</td><td>34.549</td></tr>
<tr class="one"><td>29</td><td>KOVALIOVA Julija</td><td>LTU</td><td>8.650</td><td>8.937</td><td>8.350</td><td>8.587</td><td>34.524</td></tr>
<tr class="two"><td>30</td><td>LUND Siri Szetne</td><td>NOR</td><td>8.743</td><td>8.362</td><td>8.575</td><td>8.800</td><td>34.480</td></tr>
<tr class="one"><td>31</td><td>MILLOUSI Vasiliki</td><td>GRE</td><td>7.956</td><td>9.425</td><td>7.900</td><td>9.137</td><td>34.418</td></tr>
<tr class="two"><td>32</td><td>MARKUS Janja</td><td>SLO</td><td>8.668</td><td>8.212</td><td>8.975</td><td>8.450</td><td>34.305</td></tr>
<tr class="one"><td>33</td><td>MORELI Michal</td><td>ISR</td><td>8.675</td><td>9.000</td><td>8.025</td><td>8.587</td><td>34.287</td></tr>
<tr class="two"><td>34</td><td>NOSENKO Yana</td><td>LAT</td><td>8.624</td><td>8.525</td><td>8.375</td><td>8.487</td><td>34.011</td></tr>
<tr class="one"><td>35</td><td>ADAMSKA Veronika</td><td>SVK</td><td>8.831</td><td>8.175</td><td>7.975</td><td>8.875</td><td>33.856</td></tr>
<tr class="two"><td>36</td><td>STASTNA Darina</td><td>CZE</td><td>8.893</td><td>8.650</td><td>8.112</td><td>7.975</td><td>33.630</td></tr>
<tr class="one"><td>37</td><td>NILSSON Anna</td><td>SWE</td><td>8.906</td><td>8.012</td><td>7.600</td><td>8.687</td><td>33.205</td></tr>
<tr class="two"><td>38</td><td>MEHOLM Therese</td><td>NOR</td><td>8.568</td><td>8.500</td><td>7.512</td><td>8.450</td><td>33.030</td></tr>
<tr class="one"><td>39</td><td>BOHMAN Karolina</td><td>SWE</td><td>8.756</td><td>7.825</td><td>8.275</td><td>8.137</td><td>32.993</td></tr>
<tr class="two"><td>40</td><td>HEIN Sonja</td><td>AUT</td><td>8.550</td><td>7.775</td><td>8.337</td><td>7.950</td><td>32.612</td></tr>
<tr class="one"><td>41</td><td>JADIN Tina</td><td>LUX</td><td>8.225</td><td>8.087</td><td>7.512</td><td>8.700</td><td>32.524</td></tr>
<tr class="two"><td>42</td><td>OKSANEN Riina</td><td>FIN</td><td>8.156</td><td>8.287</td><td>7.687</td><td>8.275</td><td>32.405</td></tr>
<tr class="one"><td>43</td><td>BENZIONI Enbal</td><td>ISR</td><td>8.668</td><td>7.850</td><td>7.987</td><td>7.650</td><td>32.155</td></tr>
<tr class="two"><td>44</td><td>AKYUZ Elif</td><td>TUR</td><td>8.118</td><td>8.000</td><td>7.900</td><td>7.800</td><td>31.818</td></tr>
<tr class="one"><td>45</td><td>MAYER Ayelet</td><td>ISR</td><td>8.749</td><td>7.500</td><td>7.487</td><td>7.837</td><td>31.573</td></tr>
<tr class="two"><td>46</td><td>ISOMAKI Kaisa</td><td>FIN</td><td>8.143</td><td>8.625</td><td>7.187</td><td>7.450</td><td>31.405</td></tr>
<tr class="one"><td>47</td><td>Hoetzmannseder Sandra</td><td>AUT</td><td>8.362</td><td>7.912</td><td>7.462</td><td>7.600</td><td>31.336</td></tr>
<tr class="two"><td>48</td><td>RAJALA Annette</td><td>FIN</td><td>8.218</td><td>7.675</td><td>7.575</td><td>7.725</td><td>31.193</td></tr>
<tr class="one"><td>49</td><td>Kazdaileviciute Ingrida</td><td>LTU</td><td>8.287</td><td>7.875</td><td>6.950</td><td>7.975</td><td>31.087</td></tr>
<tr class="two"><td>50</td><td>ERLENDSDOTTIR Lilja</td><td>ISL</td><td>8.274</td><td>6.812</td><td>7.137</td><td>7.262</td><td>29.485</td></tr>
</table>

<p><a href="#top"><img src="../totop.gif" width=100 height=15 border=0></a></p>

<!--51-->

<p>
<li><span class="rb"><a name="g51">Women's Individual Qualification - Rank: 51 - 100</a></span><br>

<table class="waa">
	<col width="20" align="right">
	<col width="200">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
	<col width="80" align="center">
<tr class="wom">
	<th align=center colspan=2>2000 Europeans<br>Women's Qualification</th>
	<th align=center>Fed</th>
	<th align=center>VT</th>
	<th align=center>UB</th>
	<th align=center>BB</th>
	<th align=center>FX</th>
	<th align=center>Total</th></tr>
<tr class="one"><td>51</td><td>GULSES Reyhan</td><td>TUR</td><td>8.024</td><td>7.925</td><td>5.612</td><td>6.725</td><td>28.286</td></tr>
<tr class="two"><td>52</td><td>FURNON Ludivine</td><td>FRA</td><td>-</td><td>9.550</td><td>8.875</td><td>9.787</td><td>28.212</td></tr>
<tr class="one"><td>53</td><td>PAKLONSKAYA Ina</td><td>BLR</td><td>9.262</td><td>-</td><td>9.412</td><td>9.475</td><td>28.149</td></tr>
<tr class="two"><td>54</td><td>KESANSKI Bojana</td><td>YUG</td><td>7.906</td><td>7.237</td><td>6.437</td><td>6.375</td><td>27.955</td></tr>
<tr class="one"><td>55</td><td>TEZA Elvire</td><td>FRA</td><td>8.875</td><td>9.650</td><td>9.300</td><td>-</td><td>27.825</td></tr>
<tr class="two"><td>56</td><td>STOJKOVSKA Brankica</td><td>MKD</td><td>8.712</td><td>4.937</td><td>6.212</td><td>7.700</td><td>27.561</td></tr>
<tr class="one"><td>57</td><td>JARGANOVA Tatiana</td><td>BLR</td><td>-</td><td>9.662</td><td>8.937</td><td>8.800</td><td>27.399</td></tr>
<tr class="two"><td>58</td><td>SOLER Alexandra</td><td>FRA</td><td>8.937</td><td>8.912</td><td>-</td><td>9.462</td><td>27.311</td></tr>
<tr class="one"><td>59</td><td>LUCKE Anneke</td><td>NED</td><td>9.106</td><td>-</td><td>8.912</td><td>9.187</td><td>27.205</td></tr>
<tr class="two"><td>60</td><td>SZTETNER Anna</td><td>POL</td><td>9.375</td><td>9.150</td><td>-</td><td>8.675</td><td>27.200</td></tr>
<tr class="one"><td>61</td><td>ONODI Gabriella</td><td>HUN</td><td>-</td><td>9.287</td><td>8.250</td><td>9.112</td><td>26.649</td></tr>
<tr class="two"><td>62</td><td>SKOWRONSKA Malgorzata</td><td>POL</td><td>9.137</td><td>7.987</td><td>-</td><td>9.200</td><td>26.324</td></tr>
<tr class="one"><td>63</td><td>TIHONOVA Olga</td><td>LAT</td><td>8.737</td><td>-</td><td>8.337</td><td>8.375</td><td>25.449</td></tr>
<tr class="two"><td>64</td><td>SOUSHITCKA Anna</td><td>LAT</td><td>8.262</td><td>8.550</td><td>-</td><td>8.175</td><td>24.987</td></tr>
<tr class="one"><td>65</td><td>BARDARDOTTIR Harpa Hlif</td><td>ISL</td><td>3.731</td><td>6.662</td><td>6.925</td><td>7.425</td><td>24.743</td></tr>
<tr class="two"><td>66</td><td>BALZ Alexandra</td><td>SUI</td><td>8.843</td><td>6.787</td><td>-</td><td>8.862</td><td>24.492</td></tr>
<tr class="one"><td>67</td><td>MIJALESKA Ane</td><td>MKD</td><td>6.962</td><td>5.237</td><td>5.825</td><td>6.025</td><td>24.049</td></tr>
<tr class="two"><td>68</td><td>JEFISOVA Diana</td><td>LTU</td><td>8.375</td><td>-</td><td>6.512</td><td>7.725</td><td>22.612</td></tr>
<tr class="one"><td>69</td><td>YAROSH Tatiana</td><td>UKR</td><td>-</td><td>-</td><td>9.650</td><td>9.587</td><td>19.237</td></tr>
<tr class="two"><td>70</td><td>ISARESCU Andreea</td><td>ROM</td><td>9.281</td><td>9.725</td><td>-</td><td>-</td><td>19.006</td></tr>
<tr class="one"><td>71</td><td>BREMINI Martina</td><td>ITA</td><td>9.506</td><td>9.487</td><td>-</td><td>-</td><td>18.993</td></tr>
<tr class="two"><td>72</td><td>BOBOC Loredana</td><td>ROM</td><td>-</td><td>-</td><td>9.200</td><td>9.662</td><td>18.862</td></tr>
<tr class="one"><td>73</td><td>WILLIAMS Emma</td><td>GBR</td><td>9.349</td><td>-</td><td>-</td><td>9.337</td><td>18.686</td></tr>
<tr class="two"><td>74</td><td>OLIVETTI Elena</td><td>ITA</td><td>-</td><td>-</td><td>9.450</td><td>9.225</td><td>18.675</td></tr>
<tr class="one"><td>75</td><td>MURRAY Sharna</td><td>GBR</td><td>-</td><td>9.525</td><td>9.125</td><td>-</td><td>18.650</td></tr>
<tr class="two"><td>76</td><td>MARZOUK Leonie</td><td>NED</td><td>9.056</td><td>-</td><td>-</td><td>9.487</td><td>18.543</td></tr>
<tr class="one"><td>77</td><td>ZARJITSKAIA Marina</td><td>BLR</td><td>9.156</td><td>9.312</td><td>-</td><td>-</td><td>18.468</td></tr>
<tr class="two"><td>78</td><td>RAMASSAMY Nelly</td><td>FRA</td><td>8.962</td><td>-</td><td>9.200</td><td>-</td><td>18.162</td></tr>
<tr class="one"><td>79</td><td>GARNEK Iwona</td><td>POL</td><td>-</td><td>9.312</td><td>8.712</td><td>-</td><td>18.024</td></tr>
<tr class="two"><td>80</td><td>HACKMAN Kelly</td><td>GBR</td><td>-</td><td>9.237</td><td>8.725</td><td>-</td><td>17.962</td></tr>
<tr class="one"><td>81</td><td>THOMAS Paula</td><td>GBR</td><td>8.362</td><td>-</td><td>-</td><td>9.412</td><td>17.774</td></tr>
<tr class="two"><td>82</td><td>BOISVERT Marie-Eve</td><td>NOR</td><td>9.056</td><td>8.662</td><td>-</td><td>-</td><td>17.718</td></tr>
<tr class="one"><td>83</td><td>MESARKINOVA Anna</td><td>SVK</td><td>-</td><td>-</td><td>9.025</td><td>8.500</td><td>17.525</td></tr>
<tr class="two"><td>84</td><td>WILLEMS Fieke</td><td>NED</td><td>-</td><td>8.475</td><td>8.600</td><td>-</td><td>17.075</td></tr>
<tr class="one"><td>85</td><td>SAMARDZIC Alma</td><td>SLO</td><td>-</td><td>8.162</td><td>-</td><td>8.125</td><td>16.287</td></tr>
<tr class="two"><td>86</td><td>DEL PUPPO Melanie</td><td>BEL</td><td>8.912</td><td>-</td><td>7.337</td><td>-</td><td>16.249</td></tr>
<tr class="one"><td>87</td><td>BERGER Lotte</td><td>NOR</td><td>-</td><td>-</td><td>7.525</td><td>8.350</td><td>15.875</td></tr>
<tr class="two"><td>88</td><td>MISYOUGINA Irina</td><td>LAT</td><td>-</td><td>8.475</td><td>7.325</td><td>-</td><td>15.800</td></tr>
<tr class="one"><td>89</td><td>BLATNIK Iva</td><td>SLO</td><td>8.356</td><td>-</td><td>6.812</td><td>-</td><td>15.168</td></tr>
<tr class="two"><td>90</td><td>OKERI Erjola</td><td>ALB</td><td>-</td><td>-</td><td>7.600</td><td>6.637</td><td>14.237</td></tr>
<tr class="one"><td>91</td><td>REGEASE Delphine</td><td>FRA</td><td>-</td><td>-</td><td>-</td><td>9.587</td><td>9.587</td></tr>
<tr class="two"><td>92</td><td>HORODNIY Nataliya</td><td>UKR</td><td>-</td><td>9.575</td><td>-</td><td>-</td><td>9.575</td></tr>
<tr class="one"><td>93</td><td>KVASHA Alona</td><td>UKR</td><td>9.412</td><td>-</td><td>-</td><td>-</td><td>9.412</td></tr>
<tr class="two"><td>94</td><td>VARGA Adrienn</td><td>HUN</td><td>9.262</td><td>-</td><td>-</td><td>-</td><td>9.262</td></tr>
<tr class="one"><td>95</td><td>JONG Anouk</td><td>NED</td><td>-</td><td>9.012</td><td>-</td><td>-</td><td>9.012</td></tr>
<tr class="two"><td>96</td><td>DEWULF Ludivine</td><td>BEL</td><td>-</td><td>-</td><td>-</td><td>8.500</td><td>8.500</td></tr>
<tr class="one"><td>97</td><td>LEHOTSKA Dobroslava</td><td>SVK</td><td>-</td><td>8.425</td><td>-</td><td>-</td><td>8.425</td></tr>
<tr class="two"><td>98</td><td>DE MAERE Kira</td><td>BEL</td><td>-</td><td>8.262</td><td>-</td><td>-</td><td>8.262</td></tr>
<tr class="one"><td>99</td><td>Konstantinovaite Inga</td><td>LTU</td><td>-</td><td>8.050</td><td>-</td><td>-</td><td>8.050</td></tr>
<tr class="two"><td>100</td><td>TONKOVICOVA Adriana</td><td>SVK</td><td>7.793</td><td>-</td><td>-</td><td>-</td><td>7.793</td></tr>
</table>

<br><br>

