---
title: "Dutch Championships &amp; Open Rotterdam"
year: 2016
startdate: 2016-06-25
enddate: 2016-06-26
country: "NED"
category: "dutch-open"
layout: results
redirect_from: /2016/eu/ned/dutch-open.html
---

{% include resultsheader.html title="Dutch Championships &amp; Open<br>Nederlands Kampioenschap<br>Rotterdam (NED) 2016 June 25-26" %}

<img src="/assets/images/logos/ned.gif" alt="Dutch gymnastics logo">
<h2 class="men">Results Men</h2>
	<a href="documents/magqual.pdf" target="_blank" class="pdf">Men All-Around Results</a>
	<a href="documents/magaf.pdf" target="_blank" class="pdf">Men Apparatus Finals Results</a>
<h2 class="wom">Results Women</h2>
	<a href="documents/wagqual.pdf" target="_blank" class="pdf">Women All-Around Results</a>
	<a href="documents/wagaf.pdf" target="_blank" class="pdf">Women Apparatus Finals Results</a>
<h3>Thanks to Kameron Coleman for sending results</h3>