---
title: "Pan American Championships Cochabamba"
year: 2016
startdate: 2016-09-14
enddate: 2016-09-18
country: "BOL"
category: "pan-american"
layout: results
redirect_from: /2016/am/bol/pan-american-championships.html
---

{% include resultsheader.html title="Junior Pan American Championship<br>Senior Specialist Pan American Championship<br>Sucre Chuquisaca Bolivia (BOL)<br>2016 September 14-18" %}

<img src="images/gym.jpg" alt="Pan American Championships Cochabamba (BOL) 2016 Sep 14-18">
<h2 class="wom">Women Senior</h2>
	<a href="documents/panamsen/wagaf1vt.pdf" target="_blank" class="pdf">Apparatus Finals Women Senior Vault</a>
	<a href="documents/panamsen/wagaf2ub.pdf" target="_blank" class="pdf">Apparatus Finals Women Senior Uneven Bars</a>
	<a href="documents/panamsen/wagaf3bb.pdf" target="_blank" class="pdf">Apparatus Finals Women Senior Beam</a>
	<a href="documents/panamsen/wagaf4fx.pdf" target="_blank" class="pdf">Apparatus Finals Women Senior Floor Exercise</a><br>
	<a href="documents/panamsen/wagq1vt.pdf" target="_blank" class="pdf">Qualification Women Senior Vault</a>
	<a href="documents/panamsen/wagq2ub.pdf" target="_blank" class="pdf">Qualification Women Senior Uneven Bars</a>
	<a href="documents/panamsen/wagq3bb.pdf" target="_blank" class="pdf">Qualification Women Senior Beam</a>
	<a href="documents/panamsen/wagq4fx.pdf" target="_blank" class="pdf">Qualification Women Senior Floor Exercise</a>
<h2 class="men">Men Senior</h2>
	<a href="documents/panamsen/magaf1fx.pdf" target="_blank" class="pdf">Apparatus Finals Men Senior Floor Exercise</a>
	<a href="documents/panamsen/magaf2ph.pdf" target="_blank" class="pdf">Apparatus Finals Men Senior Pommel Horse</a>
	<a href="documents/panamsen/magaf3sr.pdf" target="_blank" class="pdf">Apparatus Finals Men Senior Rings</a>
	<a href="documents/panamsen/magaf4vt.pdf" target="_blank" class="pdf">Apparatus Finals Men Senior Vault</a>
	<a href="documents/panamsen/magaf5pb.pdf" target="_blank" class="pdf">Apparatus Finals Men Senior Parallel Bars</a>
	<a href="documents/panamsen/magaf6hb.pdf" target="_blank" class="pdf">Apparatus Finals Men Senior Horizontal Bar</a><br>
	<a href="documents/panamsen/magq1fx.pdf" target="_blank" class="pdf">Qualification Men Senior Floor Exercise</a>
	<a href="documents/panamsen/magq2ph.pdf" target="_blank" class="pdf">Qualification Men Senior Pommel Horse</a>
	<a href="documents/panamsen/magq3sr.pdf" target="_blank" class="pdf">Qualification Men Senior Rings</a>
	<a href="documents/panamsen/magq4vt.pdf" target="_blank" class="pdf">Qualification Men Senior Vault</a>
	<a href="documents/panamsen/magq5pb.pdf" target="_blank" class="pdf">Qualification Men Senior Parallel Bars</a>
	<a href="documents/panamsen/magq6hb.pdf" target="_blank" class="pdf">Qualification Men Senior Horizontal Bar</a>
<!--JUN-->
<h2 class="wom">Women Junior</h2>
	<a href="documents/panamjun/wagteams.pdf" target="_blank" class="pdf">Teams Women Junior</a>
	<a href="documents/panamjun/wagaa.pdf" target="_blank" class="pdf">All-Around Women Junior</a><br>
	<a href="documents/panamjun/wagaf1vt.pdf" target="_blank" class="pdf">Apparatus Finals Women Junior Vault</a>
	<a href="documents/panamjun/wagaf2ub.pdf" target="_blank" class="pdf">Apparatus Finals Women Junior Uneven Bars</a>
	<a href="documents/panamjun/wagaf3bb.pdf" target="_blank" class="pdf">Apparatus Finals Women Junior Beam</a>
	<a href="documents/panamjun/wagaf4fx.pdf" target="_blank" class="pdf">Apparatus Finals Women Junior Floor Exercise</a><br>
	<a href="documents/panamjun/wagq1vt.pdf" target="_blank" class="pdf">Qualification Women Junior Vault</a>
	<a href="documents/panamjun/wagq2ub.pdf" target="_blank" class="pdf">Qualification Women Junior Uneven Bars</a>
	<a href="documents/panamjun/wagq3bb.pdf" target="_blank" class="pdf">Qualification Women Junior Beam</a>
	<a href="documents/panamjun/wagq4fx.pdf" target="_blank" class="pdf">Qualification Women Junior Floor Exercise</a>
<h2 class="men">Men Junior</h2>
	<a href="documents/panamjun/magteams.pdf" target="_blank" class="pdf">Teams Men Junior</a>
	<a href="documents/panamjun/magaa.pdf" target="_blank" class="pdf">All-Around Men Junior</a><br>
	<a href="documents/panamjun/magaf1fx.pdf" target="_blank" class="pdf">Apparatus Finals Men Junior Floor Exercise</a>
	<a href="documents/panamjun/magaf2ph.pdf" target="_blank" class="pdf">Apparatus Finals Men Junior Pommel Horse</a>
	<a href="documents/panamjun/magaf3sr.pdf" target="_blank" class="pdf">Apparatus Finals Men Junior Rings</a>
	<a href="documents/panamjun/magaf4vt.pdf" target="_blank" class="pdf">Apparatus Finals Men Junior Vault</a>
	<a href="documents/panamjun/magaf5pb.pdf" target="_blank" class="pdf">Apparatus Finals Men Junior Parallel Bars</a>
	<a href="documents/panamjun/magaf6hb.pdf" target="_blank" class="pdf">Apparatus Finals Men Junior Horizontal Bar</a><br>
	<a href="documents/panamjun/magq1fx.pdf" target="_blank" class="pdf">Qualification Men Junior Floor Exercise</a>
	<a href="documents/panamjun/magq2ph.pdf" target="_blank" class="pdf">Qualification Men Junior Pommel Horse</a>
	<a href="documents/panamjun/magq3sr.pdf" target="_blank" class="pdf">Qualification Men Junior Rings</a>
	<a href="documents/panamjun/magq4vt.pdf" target="_blank" class="pdf">Qualification Men Junior Vault</a>
	<a href="documents/panamjun/magq5pb.pdf" target="_blank" class="pdf">Qualification Men Junior Parallel Bars</a>
	<a href="documents/panamjun/magq6hb.pdf" target="_blank" class="pdf">Qualification Men Junior Horizontal Bar</a>
	
<h3>Thanks to Yazaira Cabrera-Davila for sending results!</h3>

