---
title: "2016 U.S. Women's P&amp;G Championships"
year: 2016
startdate: 2016-06-24
enddate: 2016-06-26
country: "USA"
category: "usa-nationals"
layout: results
---

{% include resultsheader.html title="2016 U.S. Women's P&amp;G Championships<br>St. Louis (USA)<br>2016 June 24-26" %}

<h2 class="wom">Results Women Senior Day 2</h2>
	<img src="images/wagsenaa.jpg" alt="P&amp;G Championships Women St. Louis (USA) 2016 Jun 23-26" /><br>
	<a href="documents/wagsenaa.pdf" target="_blank" class="pdf">Results Women Senior All-Around</a>
	<a href="documents/wagsenaf.pdf" target="_blank" class="pdf">Results Women Senior Events</a>
<h2 class="wom">Results Women Junior Day 2</h2>
	<a href="documents/wagjunaa.pdf" target="_blank" class="pdf">Results Women Junior All-Around</a>
	<a href="documents/wagjunaf.pdf" target="_blank" class="pdf">Results Women Junior Events</a>
<h2 class="wom">Results Women Senior Day 1</h2>
	<a href="documents/wagsend1.pdf" target="_blank" class="pdf">Results Women Senior Day 1</a>
<h2 class="wom">Results Women Junior Day 1</h2>
	<a href="documents/wagjund1.pdf" target="_blank" class="pdf">Results Women Junior Day 1</a>
<h2 class="wom">Start Lists Women</h2>
	<a href="documents/wagsend1sl.pdf" target="_blank" class="pdf">Women Senior Day 1 Start List</a>
	<a href="documents/wagsend2sl.pdf" target="_blank" class="pdf">Women Senior Final Day Start List</a><br>
	<a href="documents/wagjund1sl.pdf" target="_blank" class="pdf">Women Junior Day 1 Start List</a>
	<a href="documents/wagjund2sl.pdf" target="_blank" class="pdf">Women Junior Final Day Start List</a>
<h2 class="wom">Schedule</h1>
	<table class="waa" cellpadding="6">
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday June 24</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">1:00 pm<br>7:30 pm</td>
			<td style="width:460px; vertical-align:top;">Junior Women&rsquo;s Competition - Day 1<br>Senior Women&rsquo;s Competition - Day 1</td></tr>
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday June 26</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">1:00 pm<br>7:30 pm</td>
			<td style="width:460px; vertical-align:top;">Junior Women&rsquo;s Competition - Final Day<br>Senior Women&rsquo;s Competition - Final Day</td></tr>
	<tr><td colspan=2>All times are Central and subject to change</td></tr>
	</table>