---
title: "EnBW DTB-POKAL World Cup 2016 Stuttgart"
year: 2016
startdate: 2016-03-19
enddate: 2016-03-20
country: "GER"
category: "world-cup"
layout: results
redirect_from: /2016/eu/ger/dtb-pokal-stuttgart.html
---

{% include resultsheader.html title="EnBW DTB-POKAL<br>World Cup 2016 Stuttgart (GER)<br>2016 March 19-20" %}

<img src="images/logo.jpg" alt="EnBW DTB-POKAL World Cup 2016 C II Stuttgart (GER) 2016 March 19-20">
<h2 class="men">Results World Cup Men</h2>
	<a href="documents/magaa.pdf" target="_blank" class="pdf">All-Around</a>
	<a href="documents/mag1fx.pdf" target="_blank" class="pdf">Floor Exercise</a>
	<a href="documents/mag2ph.pdf" target="_blank" class="pdf">Pommel Horse</a>
	<a href="documents/mag3sr.pdf" target="_blank" class="pdf">Rings</a>
	<a href="documents/mag4vt.pdf" target="_blank" class="pdf">Vault</a>
	<a href="documents/mag5pb.pdf" target="_blank" class="pdf">Parallel Bars</a>
	<a href="documents/mag6hb.pdf" target="_blank" class="pdf">Horizontal Bar</a>
<h2 class="wom">Results World Cup Women</h2>
	<a href="documents/wagaa.pdf" target="_blank" class="pdf">All-Around</a>
	<a href="documents/wag1vt.pdf" target="_blank" class="pdf">Vault</a>
	<a href="documents/wag2ub.pdf" target="_blank" class="pdf">Uneven Bars</a>
	<a href="documents/wag3bb.pdf" target="_blank" class="pdf">Beam</a>
	<a href="documents/wag4fx.pdf" target="_blank" class="pdf">Floor Exercise</a>
<h2 class="men">Results Team Challenge Men</h2>
	<a href="documents/tchmagaf1fx.pdf" target="_blank" class="pdf">Floor Exercise Final</a>
	<a href="documents/tchmagaf2ph.pdf" target="_blank" class="pdf">Pommel Horse Final</a>
	<a href="documents/tchmagaf3sr.pdf" target="_blank" class="pdf">Rings Final</a>
	<a href="documents/tchmagaf4vt.pdf" target="_blank" class="pdf">Vault Final</a>
	<a href="documents/tchmagaf5pb.pdf" target="_blank" class="pdf">Parallel Bars Final</a>
	<a href="documents/tchmagaf6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final</a>
	<a href="documents/tchmagteams.pdf" target="_blank" class="pdf">Teams Final</a>
	<br>
	<a href="documents/tchmagq1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>
	<a href="documents/tchmagq2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification</a>
	<a href="documents/tchmagq3sr.pdf" target="_blank" class="pdf">Rings Qualification</a>
	<a href="documents/tchmagq4vt.pdf" target="_blank" class="pdf">Vault Qualification</a>
	<a href="documents/tchmagq5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification</a>
	<a href="documents/tchmagq6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification</a>
<h2 class="wom">Results Team Challenge Women</h2>
	<a href="documents/tchwagaf1vt.pdf" target="_blank" class="pdf">Vault Final</a>
	<a href="documents/tchwagaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final</a>
	<a href="documents/tchwagaf3bb.pdf" target="_blank" class="pdf">Beam Final</a>
	<a href="documents/tchwagaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final</a>
	<a href="documents/tchwagteams.pdf" target="_blank" class="pdf">Teams Final</a>
	<br>
	<a href="documents/tchwagq1vt.pdf" target="_blank" class="pdf">Vault Qualification</a>
	<a href="documents/tchwagq2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification</a>
	<a href="documents/tchwagq3bb.pdf" target="_blank" class="pdf">Beam Qualification</a>
	<a href="documents/tchwagq4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>

<h2 class="men">Draw</h2>
<img src="images/draw.jpg" alt="Drawing of Lots"><br>
	<div style="padding: 16px;">
		<b>Disciplines, categories and age:</b><br>
		<ul>
			<li>Men&rsquo;s Artistic Gymnastics - Senior 18 years and older</li>
			<li>Women&rsquo;s Artistic Gymnastics - Senior 16 years and older</li>
		</ul>
	</div>
<h2 class="wom">Information</h2>
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
	<a href="documents/qualifiers.pdf" target="_blank" class="pdf">2016 FIG Artistic Gymnastics All-around World Cup series qualifiers</a><br>
<img src="images/logo2.jpg" alt="EnBW DTB-POKAL World Cup 2016 C II Stuttgart (GER) 2016 March 19-20">
