---
title: "2020 Melbourne World Cup"
year: 2020
startdate: 2020-02-20
enddate: 2020-02-23
country: "AUS"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="FIG Individual Apparatus World Cup Melbourne<br>Melbourne Arena (AUS)<br>2020 Feb 20-23" %}

<img src="images/banner.png" alt="Melbourne world Cup logo">

<h2 class="men">Men Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Ryu Sunghyun (KOR)</li>
		<li><b>Pommel Horse</b> 🥇Gold -  Stephen Nedoroscik (USA)</li>
		<li><b>Rings</b> 🥇Gold - Eleftherios Petrounias (GRE)</li>
		<li><b>Vault</b> 🥇Gold - Shin Jeahwan (KOR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Vladislav Poliashov (RUS)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Epke Zonderland (NED)</li>
	</ul>

	<a href="documents/magfx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magsr.pdf" target="_blank" class="pdf">Rings Final Men</a>
	<a href="documents/magvt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magpb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/maghb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<!--WAG Final-->
<h2 class="wom">Women Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Jade Carey (USA)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Diana Varinska (UKR)</li>
		<li><b>Beam</b> 🥇Gold - Urara Ashikawa (JPN)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Jade Carey (USA)</li>
	</ul>

	<a href="documents/wagvt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/wagbb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagfx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<h2 class="men">Men Qualification</h2>
	<a href="documents/magqfx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magqph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magqsr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magqvt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magqpb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magqhb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<!--WAG Qual-->
<h2 class="wom">Women Qualification</h2>
	<a href="documents/wagqvt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagqub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagqbb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagqfx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>




