---
title: "40th Turnier der Meister World Challenge Cup 2016 Cottbus"
year: 2016
startdate: 2016-03-31
enddate: 2016-04-04
country: "GER"
category: "turnier-der-meister"
layout: results
redirect_from: /2016/eu/ger/turnier-der-meister.html
---

{% include resultsheader.html title="40th Turnier der Meister<br>World Challenge Cup 2016<br>Cottbus (GER) 2016 March 31 - April 4" %}

<img src="images/logo.jpg" alt="40th Turnier der Meister World Challenge Cup 2016 Cottbus (GER) 2016 March 31 - April 4">
<h2 class="men">Apparatus Finals Men Day 2</h2>
	<a href="documents/magaf4vt.pdf" target="_blank" class="pdf">Results Finals Men Vault</a>
	<a href="documents/magaf5pb.pdf" target="_blank" class="pdf">Results Finals Men Parallel Bars</a>
	<a href="documents/magaf6hb.pdf" target="_blank" class="pdf">Results Finals Men Horizontal Bar</a>
<h2 class="wom">Apparatus Finals Women Day 2</h2>
	<a href="documents/wagaf3bb.pdf" target="_blank" class="pdf">Results Finals Women Beam</a>
	<a href="documents/wagaf4fx.pdf" target="_blank" class="pdf">Results Finals Women Floor Exercise</a>
<h2 class="men">Apparatus Finals Men Day 1</h2>
	<a href="documents/magaf1fx.pdf" target="_blank" class="pdf">Results Finals Men Floor Exercise</a>
	<a href="documents/magaf2ph.pdf" target="_blank" class="pdf">Results Finals Men Pommel Horse</a>
	<a href="documents/magaf3sr.pdf" target="_blank" class="pdf">Results Finals Men Rings</a>
<h2 class="wom">Apparatus Finals Women Day 1</h2>
	<a href="documents/wagaf1vt.pdf" target="_blank" class="pdf">Results Finals Women Vault</a>
	<a href="documents/wagaf2ub.pdf" target="_blank" class="pdf">Results Finals Women Uneven Bars</a>
<h2 class="men">Qualification Men Day 2</h2>
	<a href="documents/magq4vt.pdf" target="_blank" class="pdf">Results Qualification Men Vault</a>
	<a href="documents/magq5pb.pdf" target="_blank" class="pdf">Results Qualification Men Parallel Bars</a>
	<a href="documents/magq6hb.pdf" target="_blank" class="pdf">Results Qualification Men Horizontal Bar</a>
<h2 class="wom">Qualification Women Day 2</h2>
	<a href="documents/wagq3bb.pdf" target="_blank" class="pdf">Results Qualification Women Beam</a>
	<a href="documents/wagq4fx.pdf" target="_blank" class="pdf">Results Qualification Women Floor Exercise</a>
<h2 class="men">Qualification Men Day 1</h2>
	<a href="documents/magq1fx.pdf" target="_blank" class="pdf">Results Qualification Men Floor Exercise</a>
	<a href="documents/magq2ph.pdf" target="_blank" class="pdf">Results Qualification Men Pommel Horse</a>
	<a href="documents/magq3sr.pdf" target="_blank" class="pdf">Results Qualification Men Rings</a>
<h2 class="wom">Qualification Women Day 1</h2>
	<a href="documents/wagq1vt.pdf" target="_blank" class="pdf">Results Qualification Women Vault</a>
	<a href="documents/wagq2ub.pdf" target="_blank" class="pdf">Results Qualification Women Uneven Bars</a>
<h2 class="men">Nominative Registration</h2>
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday March 30</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">14:30-19:30<br>20:00</td>
		<td style="width:460px; vertical-align:top;">Arrival of the Delegations<br>Official training<br>Technical Meeting</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday March 31</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-11:30<br>13:30<br>14:30-16:25<br>16:30-19:30</td>
		<td style="width:460px; vertical-align:top;">Individual Training<br>Judges&rsquo; instruction<br>Warm up<br>Qualifications I MAG &amp; WAG</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday April 1</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-11:30<br>13:30<br>14:30-16:25<br>16:30-19:30</td>
		<td style="width:460px; vertical-align:top;">Individual Training<br>Judges&rsquo; instruction<br>Warm up<br>Qualifications II MAG &amp; WAG</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday April 2</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:30-10:00<br>11:30<br>12:30-13:55<br>14:00-17:00</td>
		<td style="width:460px; vertical-align:top;">Individual Training<br>Judges&rsquo; instruction<br>Warm-up<br>Final I MAG &amp; WAG (5 apparatus)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:30-10:00<br>11:30<br>12:30-13:55<br>14:00-17:00</td>
		<td style="width:460px; vertical-align:top;">Individual Training<br>Judges&rsquo; instruction<br>Warm-up<br>Final II MAG &amp; WAG (5 apparatus)</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday April 4</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure of the Delegations</td></tr>
</table>
<h2 class="wom">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a><br>
<img src="images/poster2.jpg" alt="40th Turnier der Meister World Challenge Cup">