---
title: "2021 European Men's and Women's Artistic Gymnastics Championships Basel"
year: 2021
startdate: 2021-04-21
enddate: 2021-04-25
country: "SUI"
category: "euros"
layout: results
---

{% include resultsheader.html title="2021 European Men&rsquo;s and Women&rsquo;s Artistic Gymnastics Championships<br>Basel (SUI)<br>2021 April 21-25" %}

<img src="images/logo.jpeg" alt="event logo">

<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Igor Radivilov (UKR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - Ferhat Arican (TUR)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - David Belyavskiy (RUS)</li>
	</ul>
	<br>
	<a href="documents/magvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/magpbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/maghbfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Melanie De Jesus Dos Santos (FRA)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Jessica Gadirova (GBR)</li>
	</ul>
	<br>
	<a href="documents/wagbbfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wagfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>

<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Nikita Nagornyy (RUS)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Artur Davtyan (ARM)</li>
		<li><b>Rings</b> 🥇Gold - Eleftherios Petrounias (GRE)</li>
	</ul>
	<br>
	<a href="documents/magfxfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/magphfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/magsrfinal.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>

<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Giulia Steingruber (SUI)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Angelina Melnikova (RUS)</li>
	</ul>
	<br>
	<a href="documents/wagvtfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wagubfinal.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>

<h2 class="men">Results All-Around Final Men</h2>
	<ul class="podium-list">
		<li>🥇Gold - Nikita Nagornyy (RUS)</li>
		<li>🥈Silver - David Belyavskiy (RUS)</li>
		<li>🥉Bronze - Illia Kovtun (UKR)</li>
	</ul>
	<br>
	<a href="documents/magaafinal.pdf" target="_blank" class="pdf">Results All-Around Final Men</a>
	<a href="documents/magaasl.pdf" target="_blank" class="pdf">Start List All-Around Final Men</a>

<h2 class="wom">Results All-Around Final Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Viktoria Listunova (RUS)</li>
		<li>🥈Silver - Angelina Melnikova (RUS)</li>
		<li>🥉Bronze - Jessica Gadirova (GBR)</li>
	</ul>
	<br>
	<a href="documents/wagaafinal.pdf" target="_blank" class="pdf">Results All-Around Final Women</a>
	<a href="documents/wagaasl.pdf" target="_blank" class="pdf">Start List All-Around Final Women</a>

<h2 class="men">Results Qualification Men</h2>
<p>The two Olympic qualification spots from the All-Around qualification go to Russia (earned by Aleksandr Kartsev but can be filled by any gymnast from Russia), and Adem Asil of Turkey (cannot be transferred to another Turkish gymnast). If Russia instead earns a spot via the Individual Apparatus World Cup Series, the second spot will go to Nicola Bartolini of Italy (cannot be transferred to another Italian gymnast).</p>

	<a href="documents/magaaqual.pdf" target="_blank" class="pdf">All-Around Qualification Men</a>
	<a href="documents/magfxqual.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magphqual.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magsrqual.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magvtqual.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magpbqual.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/maghbqual.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>

<h2 class="wom">Results Qualification Women</h2>
	<p>The two Olympic qualification spots from the All-Around qualification go to Russia (earned by Viktoria Listunova but can be filled by any gymnast from Russia), and Larisa Iordache of Romania (cannot be transferred to another Romanian gymnast).</p>
	<a href="documents/wagaaqual.pdf" target="_blank" class="pdf">All Around Qualification Women</a>
	<a href="documents/wagvtqual.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagubqual.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagbbqual.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagfxqual.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>

<h2 class="men">Documents</h2>

	<a href="documents/wagsl.pdf" target="_blank" class="pdf">WAG Start List</a>
	<a href="documents/magsl.pdf" target="_blank" class="pdf">MAG Start List</a>
	<a href="documents/resultbook.pdf" target="_blank" class="pdf">Full Results Book</a>

