---
title: "Swiss Cup 2016 Zurich"
year: 2016
startdate: 2016-11-06
country: "SUI"
category: "swiss-cup"
layout: results
redirect_from: /2016/eu/sui/swiss-cup.html
---

{% include resultsheader.html title="Swiss Cup 2016 Zurich (SUI)<br>2016 Nov 6" %}

<img src="images/logo.jpg" alt="logo">
<h2 class="men">Results</h2>
	<a href="documents/results.pdf" target="_blank" class="pdf">Results</a>
<h2 class="men">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
<br><img src="images/poster.jpg" alt="event poster">