---
title: "48th FIG AG World Championships Doha"
year: 2018
startdate: 2018-10-25
enddate: 2018-11-03
country: "QAT"
category: "worlds"
layout: results
redirect_from: /worlds/2018/doha.html
---

{% include resultsheader.html title="48th FIG Artistic Gymnastics World Championships<br>Doha (QAT)<br>2018 Oct 25 - Nov 3" %}
 
<img src="images/logo.jpg" alt="48th FIG Artistic Gymnastics World Championships Doha (QAT) 2018 Oct 25 - Nov 3">
<!--WAG AF-->
<h2 class="wom">Apparatus Final Women Day 2</h2>
	<a href="documents/wag/af3bb.pdf" target="_blank" class="pdf">Beam Final Results</a>
	<a href="documents/wag/af4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Results</a>
<!--MAG AF-->
<h2 class="men">Apparatus Final Men Day 2</h2>
	<a href="documents/mag/af4vt.pdf" target="_blank" class="pdf">Vault Final Results</a>
	<a href="documents/mag/af5pb.pdf" target="_blank" class="pdf">Parallel Bars Final Results</a>
	<a href="documents/mag/af6hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Results</a>
<!--WAG AF-->
<h2 class="wom">Apparatus Final Women</h2>
	<a href="documents/wag/af1vt.pdf" target="_blank" class="pdf">Vault Final Results</a>
	<a href="documents/wag/af2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Results</a>
<!--MAG AF-->
<h2 class="men">Apparatus Final Men</h2>
	<a href="documents/mag/af1fx.pdf" target="_blank" class="pdf">Floor Exercise Final Results</a>
	<a href="documents/mag/af2ph.pdf" target="_blank" class="pdf">Pommel Horse Final Results</a>
	<a href="documents/mag/af3sr.pdf" target="_blank" class="pdf">Rings Final Results</a>
<!--WAG AAF-->
<h2 class="wom">All-Around Final Women</h2>
	<img src="images/wag/aafpodium.jpg"/>
	<a href="documents/wag/aafinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/wag/aafsl.pdf" target="_blank" class="pdf">Start List</a>
<!--MAG AAF-->
<h2 class="men">All-Around Final Men</h2>
	<img src="images/mag/aafpodium.jpg" alt="Artur Dalaloyan (RUS) wins the world all-around title, Xiao Ruoteng (CHN) took silver and Nagornyy takes bronze" />
	<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Results</a>
<!--WAG TF-->
<h2 class="wom">Teams Final Women</h2>
	<h3>USA is World Champion!</h3>
	<img src="images/wag/tfr4.jpg" />
	<a href="documents/wag/teamsfinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/wag/tfsl.pdf" target="_blank" class="pdf">Start List</a>
<!--MAG TF-->
<h2 class="men">Teams Final Men</h2>
	<h3>China is World Champion!</h3>
	<img src="images/mag/tfr6.jpg" />
	<a href="documents/mag/teamfinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/mag/tfsl.pdf" target="_blank" class="pdf">Start List</a>
<!--WAG Q-->
<h2 class="wom">Qualification Women</h2>
	<a href="documents/wag/qteams.pdf" target="_blank" class="pdf">Teams Women Qualification</a>
	<a href="documents/wag/qaa.pdf" target="_blank" class="pdf">All-Around Women Qualification</a><br>
	<a href="documents/wag/q1vt.pdf" target="_blank" class="pdf">One Vault Qualification Women</a>
	<a href="documents/wag/q1vt2.pdf" target="_blank" class="pdf">Both Vaults Qualification Women</a>
	<a href="documents/wag/q2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wag/q3bb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wag/q4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<!--MAG Q-->
<h2 class="men">Qualification Men</h2>
	<a href="documents/mag/qteams.pdf" target="_blank" class="pdf">Qualification Teams</a>
	<a href="documents/mag/qual.pdf" target="_blank" class="pdf">Qualification All-Around</a><br>
	<a href="documents/mag/q1fx.pdf" target="_blank" class="pdf">Qualification Floor Exercise</a>
	<a href="documents/mag/q2ph.pdf" target="_blank" class="pdf">Qualification Pommel Horse</a>
	<a href="documents/mag/q3sr.pdf" target="_blank" class="pdf">Qualification Rings</a>
	<a href="documents/mag/q4vt.pdf" target="_blank" class="pdf">Qualification One Vault</a>
	<a href="documents/mag/q4vt2.pdf" target="_blank" class="pdf">Qualification Both Vaults</a>
	<a href="documents/mag/q5pb.pdf" target="_blank" class="pdf">Qualification Parallel Bars</a>
	<a href="documents/mag/q6hb.pdf" target="_blank" class="pdf">Qualification Horizontal Bar</a>
<!--Draw-->
<h2 class="men">Drawing of Lots</h2>
	<a href="documents/mag/draw.pdf" target="_blank" class="pdf">Drawing of Lots Men</a>
	<a href="documents/wag/draw.pdf" target="_blank" class="pdf">Drawing of Lots Women</a>
<!--AF-->
<h2 class="men">Schedule</h2>
<table class="schedule-table" cellpadding="2">
	<tr><th colspan=4>Thursday October 25</th></tr>
	<tr><td>09:00</td>
		<td>MAG Qualification Sub 1</td>
		<td><a href="documents/mag/qualsl.pdf" target="_blank" class="pdf">Start List</a></td>
		<td><a href="documents/mag/quals1.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>11:30</td>
		<td>MAG Qualification Sub 2</td>
		<td></td>
		<td><a href="documents/mag/quals2.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>14:30</td>
		<td>MAG Qualification Sub 3</td>
		<td></td>
		<td><a href="documents/mag/quals3.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>17:00</td>
		<td>MAG Qualification Sub 4</td>
		<td></td>
		<td><a href="documents/mag/quals4.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>19:30 </td>
		<td>MAG Qualification Sub 5</td>
		<td></td>
		<td><a href="documents/mag/quals6.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><th colspan=4>Friday October 26</th></tr>
	<tr><td>09:00</td>
		<td>MAG Qualification Sub 6</td>
		<td></td>
		<td><a href="documents/mag/quals6.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>11:30</td>
		<td>MAG Qualification Sub 7</td>
		<td></td>
		<td><a href="documents/mag/quals7.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>14:30 </td>
		<td>MAG Qualification Sub 8</td>
		<td></td>
		<td><a href="documents/mag/quals8.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>17:00</td>
		<td>MAG Qualification Sub 9</td>
		<td></td>
		<td><a href="documents/mag/quals9.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>19:30</td>
		<td>MAG Qualification Sub 10</td>
		<td></td>
		<td><a href="documents/mag/qual.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><th colspan=4>Saturday October 27</th></tr>
	<tr><td>09:00</td>
		<td>WAG Qualification Sub 1</td>
		<td><a href="documents/wag/qsl1.pdf" target="_blank" class="pdf">Start List</a></td>
		<td><a href="documents/wag/quals1.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>11:00</td>
		<td>WAG Qualification Sub 2</td>
		<td></td>
		<td><a href="documents/wag/quals2.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>13:30</td>
		<td>WAG Qualification Sub 3</td>
		<td></td>
		<td><a href="documents/wag/quals3.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>15:30</td>
		<td>WAG Qualification Sub 4</td>
		<td></td>
		<td><a href="documents/wag/quals4.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>18:00</td>
		<td>WAG Qualification Sub 5</td>
		<td></td>
		<td><a href="documents/wag/quals5.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>20:00</td>
		<td>WAG Qualification Sub 6</td>
		<td></td>
		<td><a href="documents/wag/quald1.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><th colspan=4>Sunday October 28</th></tr>
	<tr><td>09:30</td>
		<td>WAG Qualification Sub 7</td>
		<td><a href="documents/wag/qsl2.pdf" target="_blank" class="pdf">Start List</a></td>
		<td><a href="documents/wag/quals7.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>11:30</td>
		<td>WAG Qualification Sub 8</td>
		<td></td>
		<td><a href="documents/wag/quals8.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>14:00</td>
		<td>WAG Qualification Sub 9</td>
		<td></td>
		<td><a href="documents/wag/quals9.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>16:00</td>
		<td>WAG Qualification Sub 10</td>
		<td></td>
		<td><a href="documents/wag/quals10.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td>18:30</td>
		<td>WAG Qualification Sub 11</td>
		<td></td>
		<td><a href="documents/wag/qteams.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><th colspan=4>Monday October 29</th></tr>
	<tr><td>16:00</td>
		<td>MAG Team Final</td>
		<td><a href="documents/mag/tfqualifiers.pdf" target="_blank" class="pdf">Qualifiers</a></td>
		<td><a href="documents/mag/teamfinal.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><td colspan=4>Tuesday October 30</th></tr>
	<tr><td>16:00</td>
		<td>WAG Team Final</td>
		<td><a href="documents/wag/tfqualifiers.pdf" target="_blank" class="pdf">Qualifiers</a></td>
		<td><a href="documents/wag/teamsfinal.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><th colspan=4>Wednesday October 31</th></tr>
	<tr><td>16:00</td>
		<td>MAG Individual AA Final</td>
		<td><a href="documents/mag/aafqualifiers.pdf" target="_blank" class="pdf">Qualifiers</a></td>
		<td><a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Results</a></td></tr>
	<tr><th colspan=4>Thursday November 1</th></tr>
	<tr><td>16:00</td>
		<td>WAG Individual AA Final</td>
		<td><a href="documents/wag/aafqualifiers.pdf" target="_blank" class="pdf">Qualifiers</a></td>
		<td></td></tr>
	<tr><th colspan=4>Friday November 2</th></tr>
	<tr><td>16:00</td>
		<td>Apparatus Finals (Day 1)<br>MAG Floor Exercise<br>WAG Vault<br>MAG Pommel Horse<br>WAG Uneven Bars<br>MAG Rings</td>
		<td><a href="documents/mag/afqualifiers.pdf" target="_blank" class="pdf">MAG Q</a><br>
		<a href="documents/wag/afqualifiers.pdf" target="_blank" class="pdf">WAG Q</a><br></td>
		<td></td></tr>
	<tr><th colspan=4>Saturday November 3</th></tr>
	<tr><td>16:00</td>
		<td>Apparatus Finals (Day 2)<br>MAG Vault<br>WAG Balance Beam<br>MAG Parallel Bars<br>WAG Floor Exercise<br>MAG Horizontal Bar</td>
		<td><a href="documents/mag/afqualifiers.pdf" target="_blank" class="pdf">MAG Q</a><br>
		<a href="documents/wag/afqualifiers.pdf" target="_blank" class="pdf">WAG Q</a><br></td>
		<td></td></tr>
</table>

<h2 class="men">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
	<a href="documents/regdef.pdf" target="_blank" class="pdf">Definitive Registration</a>
	<a href="documents/regprov.pdf" target="_blank" class="pdf">Provisional Registration</a>

<br>
<img src="images/hala.jpg" alt="48th FIG Artistic Gymnastics World Championships Doha (QAT) 2018 Oct 25 - Nov 3">
