---
title: "Second Olympic Qualification Test Event Rio De Janeiro"
year: 2016
startdate: 2016-04-16
enddate: 2016-04-24
country: "BRA"
category: "olympic-test-event"
layout: results
redirect_from: /2016/am/bra/second-olympic-qualification.html
---

{% include resultsheader.html title="Second Olympic Qualification<br>Test Event<br>Rio De Janeiro 2016 April 16-24" %}

<img src="images/riowreath.jpg" alt="olympic wreath">
<h2 class="wom">Rhythmic Gymnastics</h2>
	<a href="documents/rg/qualifiers2016.pdf" target="_blank" class="pdf">List of the Rhythmic Gymnastics 2016 Olympic Qualifiers</a><br>
	<a href="documents/rg/aafinal.pdf" target="_blank" class="pdf">All-Around Final</a>
	<a href="documents/rg/aa.pdf" target="_blank" class="pdf">All-Around Qualification</a>
	<a href="documents/rg/groups.pdf" target="_blank" class="pdf">Groups</a>
<h2 class="men">Trampolines</h2>
	<a href="documents/tra/qualifiers2016.pdf" target="_blank" class="pdf">List of the Trampoline Gymnastics 2016 Olympic Qualifiers</a><br>
	<a href="documents/tra/menfinal.pdf" target="_blank" class="pdf">Men Final</a>
	<a href="documents/tra/womfinal.pdf" target="_blank" class="pdf">Women Final</a>
	<a href="documents/tra/menqual.pdf" target="_blank" class="pdf">Men Qualification</a>
	<a href="documents/tra/womqual.pdf" target="_blank" class="pdf">Women Qualification</a>
<h2 class="wom">Apparatus Finals Women</h2>
	<a href="documents/wag/af1vt.pdf" target="_blank" class="pdf">Results Vault Final Women</a>
	<a href="documents/wag/af2ub.pdf" target="_blank" class="pdf">Results Uneven Bars Final Women</a>
	<a href="documents/wag/af3bb.pdf" target="_blank" class="pdf">Results Balance Beam Final Women</a>
	<a href="documents/wag/af4fx.pdf" target="_blank" class="pdf">Results Floor Exercise Final Women</a>
<h2 class="men">Apparatus Finals Men</h2>
	<a href="documents/mag/af1fx.pdf" target="_blank" class="pdf">Results Floor Exercise Final Men</a>
	<a href="documents/mag/af2ph.pdf" target="_blank" class="pdf">Results Pommel Horse Final Men</a>
	<a href="documents/mag/af3sr.pdf" target="_blank" class="pdf">Results Rings Final Men</a>
	<a href="documents/mag/af4vt.pdf" target="_blank" class="pdf">Results Vault Final Men</a>
	<a href="documents/mag/af5pb.pdf" target="_blank" class="pdf">Results Parallel Bars Final Men</a>
	<a href="documents/mag/af6hb.pdf" target="_blank" class="pdf">Results Horizontal Bar Final Men</a>
<h2 class="wom">Qualification Women</h2>
	<a href="documents/wag/ogqualifiers.pdf" target="_blank" class="pdf">List of the Women's Artistic Gymnastics 2016 Olympic Qualifiers</a><br>
<img src="images/brazil2.jpg" alt="Women Team Brazil"><br>
	<a href="documents/wag/teams.pdf" target="_blank" class="pdf">Teams Women Results</a>
	<a href="documents/wag/aa.pdf" target="_blank" class="pdf">All-Around Women Results</a><br>
	<a href="documents/wag/q1vt.pdf" target="_blank" class="pdf">Results Qualification Women Vault</a>
	<a href="documents/wag/q2ub.pdf" target="_blank" class="pdf">Results Qualification Women Uneven Bars</a>
	<a href="documents/wag/q3bb.pdf" target="_blank" class="pdf">Results Qualification Women Beam</a>
	<a href="documents/wag/q4fx.pdf" target="_blank" class="pdf">Results Qualification Women Floor Exercise</a><br>
	<a href="documents/wag/qualsl_opt.pdf" target="_blank" class="pdf">Qualification Women Start List</a>
<h2 class="men">Qualification Men</h2>
	<a href="documents/mag/ogqualifiers.pdf" target="_blank" class="pdf">List of the Men's Artistic Gymnastics 2016 Olympic Qualifiers</a><br>
<img src="images/teams3.jpg" alt="Men Teams podium"><br>
	<a href="documents/mag/teams.pdf" target="_blank" class="pdf">Results Men Teams</a>
	<a href="documents/mag/aa.pdf" target="_blank" class="pdf">Results Men All-Around</a><br>
	<a href="documents/mag/q1fx.pdf" target="_blank" class="pdf">Results Qualification Men Floor Exercise</a>
	<a href="documents/mag/q2ph.pdf" target="_blank" class="pdf">Results Qualification Men Pommel Horse</a>
	<a href="documents/mag/q3sr.pdf" target="_blank" class="pdf">Results Qualification Men Rings</a>
	<a href="documents/mag/q4vt.pdf" target="_blank" class="pdf">Results Qualification Men Vault</a>
	<a href="documents/mag/q5pb.pdf" target="_blank" class="pdf">Results Qualification Men Parallel Bars</a>
	<a href="documents/mag/q6hb.pdf" target="_blank" class="pdf">Results Qualification Men Horizontal Bar</a><br>
	<a href="documents/mag/qual1sl.pdf" target="_blank" class="pdf">Qualification Subdivision 1 Men Start List</a>
	<a href="documents/mag/qual2sl.pdf" target="_blank" class="pdf">Qualification Subdivision 2 Men Start List</a>
	<a href="documents/mag/qual3sl.pdf" target="_blank" class="pdf">Qualification Subdivision 3 Men Start List</a>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday April 14</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">10:30 - 13:00<br>14:30 - 17:00<br>18:30 - 21:00</td>
		<td style="width:460px; vertical-align:top;">MAG Podium Training<br>MAG Podium Training<br>MAG Podium Training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday April 15</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">09:30 - 11:30<br>13:00 - 15:00<br>16:30 - 18:30<br>20:00 - 22:00<br></td>
		<td style="width:460px; vertical-align:top;">WAG Podium Training<br>WAG Podium Training<br>WAG Podium Training<br>WAG Podium Training<br></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday April 16</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">10:30 - 13:00<br><br><br>14:30 - 17:00<br><br><br>18:30 - 21:00<br><br><br>21:00 - 21:15<br></td>
		<td style="width:460px; vertical-align:top;">
<b>C1 MAG Subdivision 1</b><br>Teams: GER, CAN; Individuals: COL, JPN, GBR, AZE, LTU, POR, ARM, AUS, GRE, HKG, ARG, SUI, CRC, CRO<br>
<b>C1 MAG Subdivision 2</b><br>Teams: ROU, ESP, FRA; Individuals: TPE, HUN, BEL, USA, UZB, RSA, CZE, ALG, KOR, PUR, BRA<br>
<b>C1 MAG Subdivision 3</b><br>Teams: UKR, NED, BLR; Individuals: MEX, CHI, IRL, TUR, ITA, NOR, CYP, NZL, VIE, CHN, JAM, ISR, CUB, FIN<br>
Men Teams Award Ceremony<br></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday April 17</th></tr>
	<tr><td style="width:140px; vertical-align:top; text-align:center;">09:30 - 11:30<br><br><br>13:00 - 15:00<br><br><br>16:30 - 18:30<br><br><br>20:00 - 22:00<br><br><br>22:00 - 22:15<br></td>
		<td style="width:460px; vertical-align:top;">
<b>C1 WAG Subdivision 1</b><br>Teams: AUS, ROU; Individuals: HUN, CHN, POL, CRO, COL, IND, JPN, BLR<br>		
<b>C1 WAG Subdivision 2</b><br>Teams: BRA, SUI; Individuals: AZE, SVK, UKR, MAS, VEN, ARG, ARM, GRE, BED, GBR, UZB<br>
<b>C1 WAG Subdivision 3</b><br>Teams: GER, KOR; Individuals: ESP, SWE, CUB, TTO, NZL, PER, POR, GUA, CHI, VIE<br>
<b>C1 WAG Subdivision 4</b><br>Teams: BEL, FRA; Individuals: CAN, SLO, IRL, ALG, JAM, ISL, MEX, ITA, AUT, TUR<br>
Women Teams Award Ceremony<br></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday April 18</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">
13:10 - 13:40<br>13:40 - 14:10<br>14:10 - 14:25<br>14:25 - 14:55<br>14:55 - 15:25<br>15:25 - 15:40<br><br>
17:10 - 17:40<br>17:40 - 17:50<br>18:00 - 18:30<br>18:30 - 18:40<br>18:40 - 19:10<br>19:10 - 19:20<br><br>
20:30 - 21:00<br>21:00 - 21:30<br>21:30 - 22:00<br>22:00 - 22:20<br>
	</td>
		<td style="width:460px; vertical-align:top;">
MAG Floor Exercise<br>WAG Vault<br>Award Ceremonies MAG FX, WAG VT<br>MAG Pommel Horse<br>WAG Uneven Bars<br>Award Ceremonies MAG PH, WAG UB<br><br>
MAG Still Rings<br>Award Ceremony MAG SR<br>MAG Vault<br>Award Ceremony MAG VT<br>WAG Balance Beam<br>Award Ceremony BB<br><br>
MAG Parallel Bars<br>WAG Floor Exercise<br>MAG Horizontal Bar<br>Award Ceremonies MAG PB, WAG FX, MAG HB<br> 	
</td></tr>
</table>

<h2 class="men">Drawing of Lots Men</h2>
	<a href="documents/mag/draw.pdf" target="_blank" class="pdf">Drawing of Lots Men</a>
<h2 class="wom">Drawing of Lots Women</h2>
	<a href="documents/wag/draw.pdf" target="_blank" class="pdf">Drawing of Lots Women</a>
<h2 class="men">Qualifiers to Rio Olympics as of 2015 November 1</h2>
	<a href="documents/mag/nomreg.pdf" target="_blank" class="pdf">Nominative Registration Men</a>
	<a href="documents/wag/nomreg.pdf" target="_blank" class="pdf">Nominative Registration Women</a>
	<a href="documents/mag/rioqualifiers.pdf" target="_blank" class="pdf">Qualifiers Men</a>
	<a href="documents/wag/rioqualifiers.pdf" target="_blank" class="pdf">Qualifiers Women</a>
<h2 class="wom">Qualifiers to Test Event as of 2015 November 1</h2>
	<a href="documents/mag/qualifiers.pdf" target="_blank" class="pdf">Qualifiers Men</a>
	<a href="documents/wag/qualifiers.pdf" target="_blank" class="pdf">Qualifiers Women</a>
<h2 class="men">Information</h2>
<p><b>Disciplines, categories and age:</b></p>
<ul>
<li>Men&rsquo;s Artistic Gymnastics- (MAG Senior 18 and older)</li>
<li>Women&rsquo;s Artistic Gymnastics- (WAG Senior 16 and older)</li>
<li>Rhythmic Individual- (RG Individual Senior 16 and older)</li>
<li>Rhythmic Group- (RG Group Senior 16 and older)</li>
<li>Trampoline- (TRA Senior 17 and older)</li>
</ul>
<p>
Venue: Rio Olympic Arena
</p>