---
title: "2020 Friendship and Solidarity Competition, Japan"
year: 2020
startdate: 2020-11-08
enddate: 2020-11-08
country: "JPN"
layout: results
---

{% include resultsheader.html title="2020 Friendship and Solidarity Competition<br>Yoyogi National Stadium, Japan<br>2020 Nov 8" %}

<img src="images/logo.jpg" alt="Event logo">

<h2 class="men">Team Competition</h2>

<p>Participating countries: China, Russia, USA, Japan</p>

	<ul class="podium-list">
		<li>🥇Gold - Team Solidarity</li>
		<li>🥈Silver - Team Friendship</li>
	</ul>

<a href="documents/japan_fs_results.pdf" target="_blank" class="pdf">Full Results</a>


