---
title: "7th TGW Austrian Team Open 2016 Linz"
year: 2016
startdate: 2016-03-04
enddate: 2016-03-05
country: "AUT"
category: "austrian-team-open"
layout: results
redirect_from: /2016/eu/aut/team-open.html
---

{% include resultsheader.html title="7th TGW Austrian Team Open 2016<br>Linz (AUT)<br>2016 March 4-5" %}

<img src="images/linz2016a.jpg" alt="7th TGW Austrian Team Open 2016 Linz (AUT) 2016 March 4-5">

<h2 class="men">Results Men</h2>
	<a href="documents/magintteams.pdf" target="_blank" class="pdf">Results International Men Teams</a>
	<a href="documents/magintaa.pdf" target="_blank" class="pdf">Results International Men All-Around</a><br>
	<a href="documents/magautteams.pdf" target="_blank" class="pdf">Results National Men Teams</a>
	<a href="documents/magautaa.pdf" target="_blank" class="pdf">Results National Men All-Around</a>
<h2 class="wom">Results Women</h2>
	<a href="documents/wagintteams.pdf" target="_blank" class="pdf">Results International Women Teams</a>
	<a href="documents/wagintaa.pdf" target="_blank" class="pdf">Results International Women All-Around</a><br>
	<a href="documents/wagautteams.pdf" target="_blank" class="pdf">Results National Women Teams</a>
	<a href="documents/wagautaa.pdf" target="_blank" class="pdf">Results National Women All-Around</a>
	<br>
<img src="images/logo2.jpg" alt="7th TGW Austrian Team Open 2016 Linz (AUT) 2016 March 4-5">
<h2 class="men">Information</h2>
	<div style="padding: 10px;">
		<b>Disciplines, categories and age:</b><br>
		<ul>
			<li>Women&rsquo;s Artistic Gymnastics - Senior 16 years (2000 or before)</li>
			<li>Women&rsquo;s Artistic Gymnastics - Junior 13-15 years (2003-2001)</li>
		</ul>
	</div>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>

<h2 class="men">Schedule</h2>
	<table class="waa" cellpadding="6">
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday March 4</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">10:00-12:00<br>14:00-19:00<br>19:30-20:30</td>
			<td style="width:460px; vertical-align:top;">Free Training<br>Free Training<br>Technical Meeting</td></tr>
	<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday March 5</th></tr>
		<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-11:30<br>13:30-15:30<br>17:30-19:30<br>19:45-20:15</td>
			<td style="width:460px; vertical-align:top;">Competition, Subdivision A<br>Competition, Subdivision B<br>Competition, Subdivision C<br>Award Ceremony</td></tr>
	</table>
