---
title: "13th Austrian TGW Future Cup Linz"
year: 2016
startdate: 2016-11-26
country: "AUT"
category: "austrian-future-cup"
layout: results
redirect_from: /2016/eu/aut/austrian-future-cup-linz.html
---

{% include resultsheader.html title="13th Austrian TGW Future Cup<br>Linz (AUT)<br>2016 Nov 26" %}

<img src="images/logo.jpg" alt="event logo">
<h2 class="men">Results</h2>
	<a href="documents/teams.pdf" target="_blank" class="pdf">Results Teams</a>
	<a href="documents/group1.pdf" target="_blank" class="pdf">Results Age Group 1</a>
	<a href="documents/group2.pdf" target="_blank" class="pdf">Results Age Group 2</a>
	<a href="documents/group3.pdf" target="_blank" class="pdf">Results Age Group 3</a>
<br><img src="images/poster.jpg" alt="event poster">