---
title: "2019 American Cup"
year: 2019
startdate: 2019-03-02
country: "USA"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="2019 American Cup<br>Greensboro, NC (USA)<br> 2019 March 2" %}

<img src="images/logo.png" alt="American Cup logo">
<h2 class="men">Results Men</h2>
	<ul class="podium-list">
		<li>🥇Gold - Yul Moldauer (USA)</li>
		<li>🥈Silver - Sam Mikulak (USA)</li>
		<li>🥉Bronze - Ma Yue (CHN)</li>
	</ul>
	<br>
	<a href="documents/mag.pdf" target="_blank" class="pdf">Men All-Around Results</a>

<h2 class="wom">Results Women</h2>
	<ul class="podium-list">
		<li>🥇Gold - Leanne Wong (USA)</li>
		<li>🥈Silver - Grace McCallum (USA)</li>
		<li>🥉Bronze - Elsabeth Black (CAN)</li>
		<li>🥉Bronze - Mai Murakami (JPN)</li>
	</ul>
	<br>
	<a href="documents/wag.pdf" target="_blank" class="pdf">Women All-Around Results</a>




