---
title: "49th Salamunov memorial 2016 Maribor"
year: 2016
startdate: 2016-10-23
enddate: 2016-10-24
country: "SLO"
category: "salamunov-memorial"
layout: results
redirect_from: /2016/eu/slo/salamunov-memorial.html
---

{% include resultsheader.html title="49th Salamunov memorial 2016 Maribor (SLO)<br>2016 Oct 23-24" %}

<img src="images/logo.jpg" alt="event logo">
<h2 class="men">Results</h2>
	<a href="documents/results.pdf" target="_blank" class="pdf">Results</a>
<h2 class="men">Information</h2>
<p><b>Disciplines, categories and age:</b></p>
<ul>
<li>Men&rsquo;s Artistic Gymnastics<br>
MAG: Juniors: 14-17 years old (born in 1999 - 2002)<br>
Seniors: 18 years old and more (born in 1998 or before)</li>
<li>Women&rsquo;s Artistic Gymnastics<br>
Juniors: 13-15 years old (born in 2001 – 2003)<br>
Seniors: 16 years old and more (born in 2000 or before)</li>
</ul>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday Oct 22</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>20:00</td>
		<td style="width:460px; vertical-align:top;">Arrival day and training (late afternoon)<br>Orientation meeting WAG, MAG</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday Oct 23</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">9:00<br></td>
		<td style="width:460px; vertical-align:top;">Judge&rsquo;s meeting<br>
Competition WAG (juniors and seniors)<br>
Competition  MAG (juniors and seniors)
</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday Oct 24</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
	<td style="width:460px; vertical-align:top;">Departure day</td></tr>
</table>
<h2 class="men">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>

