---
title: "46th FIG AG World Championships Glasgow"
year: 2015
startdate: 2015-10-23
enddate: 2015-11-01
country: "GBR"
category: "worlds"
layout: results
redirect_from: /worlds/2015/glasgow.html
---

{% include resultsheader.html title="46th FIG Artistic Gymnastics World Championships<br>Glasgow (GBR)<br>2015 Oct 23 - Nov 1" %}
 
<img src="images/logo2.jpg" alt="World Championships Glasgow logo">
<br>
<a href="documents/resultbook.pdf" target="_blank" class="pdf">Full Result Book</a>

<h2 class="men">Results Apparatus Finals Men Day 2</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Ri Se Gwang (PRK)</li>
		<li><b>Parallel Bars</b> 🥇Gold - You Hao (CHN)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Kohei Uchimura (JPN)</li>
	</ul>
	<br>
	<a href="documents/mag/af4vt.pdf" target="_blank" class="pdf">Apparatus Final Men Vault</a>
	<a href="documents/mag/af5pb.pdf" target="_blank" class="pdf">Apparatus Final Men Parallel Bars</a>
	<a href="documents/mag/af6hb.pdf" target="_blank" class="pdf">Apparatus Final Men Horizontal Bar</a>

<h2 class="wom">Result Apparatus Finals Women Day 2</h2>
	<ul class="podium-list">
		<li><b>Beam</b> 🥇Gold - Simone Biles (USA)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Simone Biles (USA)</li>
	</ul>
	<br>
	<a href="documents/wag/af3bb.pdf" target="_blank" class="pdf">Apparatus Final Women Beam</a>
	<a href="documents/wag/af4fx.pdf" target="_blank" class="pdf">Apparatus Final Women Floor Exercise</a>

<h2 class="men">Results Apparatus Finals Men Day 1</h2>
	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Kenzo Shirai (JPN)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Max Whitlock (GBR)</li>
		<li><b>Rings</b> 🥇Gold - Eleftherios Petrounias (GRE)</li>
	</ul>
	<br>
	<a href="documents/mag/af1fx.pdf" target="_blank" class="pdf">Apparatus Final Men Floor Exercise</a>
	<a href="documents/mag/af2ph.pdf" target="_blank" class="pdf">Apparatus Final Men Pommel Horse</a>
	<a href="documents/mag/af3sr.pdf" target="_blank" class="pdf">Apparatus Final Men Rings</a>

<h2 class="wom">Result Apparatus Finals Women Day 1</h2>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Maria Paseka (RUS)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Fan Yilin (CHN), Viktoria Komova (RUS), Daria Spiridonova (RUS), Madison Kocian (USA)</li>
	</ul>
	<br>
	<a href="documents/wag/af1vt.pdf" target="_blank" class="pdf">Apparatus Final Women Vault</a>
	<a href="documents/wag/af2ub.pdf" target="_blank" class="pdf">Apparatus Final Women Uneven Bars</a>

<h2 class="men">All-Around Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - Kohei Uchimura (JPN)</li>
	<li>🥈Silver - Manrique Larduet (CUB)</li>
	<li>🥉Bronze - Deng Shudi (CHN)</li>
</ul>
	<a href="documents/mag/aafinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/mag/aafinalsl.pdf" target="_blank" class="pdf">Start List</a>

<h2 class="wom">All-Around Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - Simone Biles (USA)</li>
	<li>🥈Silver - Gabrielle Douglas (USA)</li>
	<li>🥉Bronze - Larisa Iordache (ROU)</li>
</ul>
	<a href="documents/wag/aafinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/wag/aafinalsl.pdf" target="_blank" class="pdf">Start List</a>

<h2 class="men">Team Final Men</h2>
<ul class="podium-list">
	<li>🥇Gold - Japan</li>
	<li>🥈Silver - Great Britain</li>
	<li>🥉Bronze - People's Republic of China</li>
</ul>
	<a href="documents/mag/teamsfinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/mag/teamsfinalsl.pdf" target="_blank" class="pdf">Start List</a>


<h2 class="wom">Team Final Women</h2>
<ul class="podium-list">
	<li>🥇Gold - United States of America</li>
	<li>🥈Silver - People's Republic of China</li>
	<li>🥉Bronze - Great Britain</li>
</ul>
	<a href="documents/wag/teamsfinal.pdf" target="_blank" class="pdf">Results</a>
	<a href="documents/wag/tfstartlist.pdf" target="_blank" class="pdf">Start List</a>

<!--MAG TF-->

<h2 class="wom">Qualification Women</h2>
<a href="documents/wag/qteams.pdf" target="_blank" class="pdf">Team Qualification Women</a>
<a href="documents/wag/qaa.pdf" target="_blank" class="pdf">All-Around Qualification</a><br>
<a href="documents/wag/q1vt2.pdf" target="_blank" class="pdf">Vault Qualification</a>
<a href="documents/wag/q2ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification</a>
<a href="documents/wag/q3bb.pdf" target="_blank" class="pdf">Beam Qualification</a>
<a href="documents/wag/q4fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>

<br>
<a href="documents/wag/c1startlist.pdf" target="_blank" class="pdf">WAG Qualification Start List</a>

<!--MAG Q-->
<h2 class="men">Qualification Men</h2>
<a href="documents/mag/c1teams.pdf" target="_blank" class="pdf">Team Qualification Men</a>
<a href="documents/mag/c1aa.pdf" target="_blank" class="pdf">All-Around Qualification</a><br>
<a href="documents/mag/c1ind.pdf" target="_blank" class="pdf">Individual Qualification</a><br>
<a href="documents/mag/q1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification</a>
<a href="documents/mag/q2ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification</a>
<a href="documents/mag/q3sr.pdf" target="_blank" class="pdf">Rings Qualification</a>
<a href="documents/mag/q4vt2.pdf" target="_blank" class="pdf">Vault Qualification</a>
<a href="documents/mag/q5pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification</a>
<a href="documents/mag/q6hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification</a>

<br>
<a href="documents/mag/c1startlist.pdf" target="_blank" class="pdf">MAG Qualification Start List</a>

<h2 class="wom">Documents</h2>

<a href="documents/afsl1.pdf" target="_blank" class="pdf">Apparatus Final Start List Day 1</a>
<a href="documents/afsl2.pdf" target="_blank" class="pdf">Apparatus Final Start List Day 2</a>
<br>
<a href="documents/schedule.pdf" target="_blank" class="pdf">Schedule</a>
<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
<a href="documents/entries.pdf" target="_blank" class="pdf">Number of Entries by NOC</a>

<br>
<img src="images/medals.jpg" alt="World Championships Glasgow medals">
