---
title: "13th African Championships 2016 Alger"
year: 2016
startdate: 2016-03-23
enddate: 2016-03-26
country: "ALG"
category: "african-championships"
layout: results
redirect_from: /2016/af/alg/african-championships.html
---

{% include resultsheader.html title="13th African Championships 2016<br>Coupole Alger Alger (ALG)<br>2016 Mar 23-26" %}

<img src="images/logo.png" alt="13th African Championships 2016 Alger (ALG) 2016 Mar 23-26">
<h2 class="wom">Women Senior - Finals</h2>
	<a href="documents/wagsen/c2aa.pdf" target="_blank" class="pdf">All-Around Final Women Senior</a>
	<a href="documents/wagsen/c1teams.pdf" target="_blank" class="pdf">Team Final Women Senior</a>
	<br>
	<a href="documents/wagsen/c3vt.pdf" target="_blank" class="pdf">Vault Final Women Senior</a>
	<a href="documents/wagsen/c3ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women Senior</a>
	<a href="documents/wagsen/c3bb.pdf" target="_blank" class="pdf">Beam Final Women Senior</a>
	<a href="documents/wagsen/c3fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women Senior</a>
<h2 class="wom">Women Senior - Qualification</h2>
	<a href="documents/wagsen/c1aa.pdf" target="_blank" class="pdf">All Around Qualification Women Senior</a>
	<a href="documents/wagsen/c1vt.pdf" target="_blank" class="pdf">Vault Qualification Women Senior</a>
	<a href="documents/wagsen/c1vt2.pdf" target="_blank" class="pdf">2 Vaults Qualification Women Senior</a>
	<a href="documents/wagsen/c1ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women Senior</a>
	<a href="documents/wagsen/c1bb.pdf" target="_blank" class="pdf">Beam Qualification Women Senior</a>
	<a href="documents/wagsen/c1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women Senior</a>
<h2 class="men">Men Senior - Finals</h2>
	<a href="documents/magsen/c2aa.pdf" target="_blank" class="pdf">All-Around Final Men Senior</a>
	<a href="documents/magsen/c1teams.pdf" target="_blank" class="pdf">Team Final Men Senior</a>
	<br>
	<a href="documents/magsen/c3fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men Senior</a>
	<a href="documents/magsen/c3ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men Senior</a>
	<a href="documents/magsen/c3sr.pdf" target="_blank" class="pdf">Rings Final Men Senior</a>
	<a href="documents/magsen/c3vt.pdf" target="_blank" class="pdf">Vault Final Men Senior</a>
	<a href="documents/magsen/c3pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men Senior</a>
	<a href="documents/magsen/c3hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men Senior</a>
<h2 class="men">Men Senior - Qualification</h2>
	<a href="documents/magsen/c1aa.pdf" target="_blank" class="pdf">All Around Qualification Men Senior</a>
	<a href="documents/magsen/c1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men Senior</a>
	<a href="documents/magsen/c1ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men Senior</a>
	<a href="documents/magsen/c1sr.pdf" target="_blank" class="pdf">Rings Qualification Men Senior</a>
	<a href="documents/magsen/c1vt.pdf" target="_blank" class="pdf">Vault Qualification Men Senior</a>
	<a href="documents/magsen/c1vt2.pdf" target="_blank" class="pdf">2 Vaults Qualification Men Senior</a>
	<a href="documents/magsen/c1pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men Senior</a>
	<a href="documents/magsen/c1hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men Senior</a>
<h2 class="wom">Women Junior - Finals</h2>
	<a href="documents/wagjun/c2aa.pdf" target="_blank" class="pdf">All-Around Final Women Junior</a>
	<a href="documents/wagjun/c1teams.pdf" target="_blank" class="pdf">Team Final Women Junior</a>
	<br>
	<a href="documents/wagjun/c3vt.pdf" target="_blank" class="pdf">Vault Final Women Junior</a>
	<a href="documents/wagjun/c3ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women Junior</a>
	<a href="documents/wagjun/c3bb.pdf" target="_blank" class="pdf">Beam Final Women Junior</a>
	<a href="documents/wagjun/c3fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women Junior</a>
<h2 class="wom">Women Junior - Qualification</h2>
	<a href="documents/wagjun/c1aa.pdf" target="_blank" class="pdf">All Around Qualification Women Junior</a>
	<a href="documents/wagjun/c1vt.pdf" target="_blank" class="pdf">Vault Qualification Women Junior</a>
	<a href="documents/wagjun/c1vt2.pdf" target="_blank" class="pdf">2 Vaults Qualification Women Junior</a>
	<a href="documents/wagjun/c1ub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women Junior</a>
	<a href="documents/wagjun/c1bb.pdf" target="_blank" class="pdf">Beam Qualification Women Junior</a>
	<a href="documents/wagjun/c1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women Junior</a>
<h2 class="men">Men Junior - Finals</h2>
	<a href="documents/magjun/c2aa.pdf" target="_blank" class="pdf">All-Around Final Men Junior</a>
	<a href="documents/magjun/c1teams.pdf" target="_blank" class="pdf">Team Final Men Junior</a>
	<br>
	<a href="documents/magjun/c3fx.pdf" target="_blank" class="pdf">Floor Exercise Final Men Junior</a>
	<a href="documents/magjun/c3ph.pdf" target="_blank" class="pdf">Pommel Horse Final Men Junior</a>
	<a href="documents/magjun/c3sr.pdf" target="_blank" class="pdf">Rings Final Men Junior</a>
	<a href="documents/magjun/c3vt.pdf" target="_blank" class="pdf">Vault Final Men Junior</a>
	<a href="documents/magjun/c3pb.pdf" target="_blank" class="pdf">Parallel Bars Final Men Junior</a>
	<a href="documents/magjun/c3hb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men Junior</a>
<h2 class="men">Men Junior - Qualification</h2>
	<a href="documents/magjun/c1aa.pdf" target="_blank" class="pdf">All Around Qualification Men Junior</a>
	<a href="documents/magjun/c1fx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men Junior</a>
	<a href="documents/magjun/c1ph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men Junior</a>
	<a href="documents/magjun/c1sr.pdf" target="_blank" class="pdf">Rings Qualification Men Junior</a>
	<a href="documents/magjun/c1vt.pdf" target="_blank" class="pdf">Vault Qualification Men Junior</a>
	<a href="documents/magjun/c1vt2.pdf" target="_blank" class="pdf">2 Vaults Qualification Men Junior</a>
	<a href="documents/magjun/c1pb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men Junior</a>
	<a href="documents/magjun/c1hb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men Junior</a>
<h2 class="men">Information</h2>
<div style="padding: 16px;">
	<b>Disciplines, categories and age:</b><br>
	<ul>
		<li>Men&rsquo;s Artistic Gymnastics - Senior 18 years and older</li>
		<li>Women&rsquo;s Artistic Gymnastics - Senior 16 years and older</li>
		<li>Men&rsquo;s Artistic Gymnastics - Junior 17 years and younger</li>
		<li>Women&rsquo;s Artistic Gymnastics - Junior 15 years and younger</li>
		<li>Aerobic Gymnastics (Age Group 1, Age Group 2, Senior)</li>
	</ul>
</div>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
<h2 class="men">Schedule</h2>

<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday March 19</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Arrival of delegationse</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday March 20</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Arrival of delegations<br>Neutrals judges and representatives UAG-FIG<br>Free training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday March 21</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>17:00-18:00<br>18:00-20:00<br></td>
		<td style="width:460px; vertical-align:top;">Free training<br>Orientation Meeting<br>Technical Meeting (MAG, WAG, AER)<br></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Tuesday March 22</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:00-12:00<br>16:00-20:00<br></td>
		<td style="width:460px; vertical-align:top;">
Podium Training Juniors MAG/WAG, AER (Individuals, Mixed Pair, Trio)<br>
Podium Training Seniors MAG/WAG, AER (Individuals, Mixed Pair, Trio)
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday March 23</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-12:00<br><br>16:00-17:00<br>17:00-20:00<br></td>
		<td style="width:460px; vertical-align:top;">
Competition : I-II WAG Juniors<br>
Competition qualification AER Juniors<br>
Opening ceremony<br>
Competition I-II MAG Juniors<br>
Competition AER Seniors
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday March 24</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-12:00<br>16:00-19:00<br></td>
		<td style="width:460px; vertical-align:top;">
Competition I-II WAG Seniors<br>
Competition I-II MAG Seniors<br>
Competition AER Final Juniors
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday March 25</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-12:00<br>16:00-20:00<br></td>
		<td style="width:460px; vertical-align:top;">
Apparatus Final Juniors (MAG 3, WAG 2)<br>
Apparatus Final Seniors  (MAG 3, WAG 2)<br>
Competition AER Finale Seniors
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday March 26</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-12:00<br>16:00-18:00<br></td>
		<td style="width:460px; vertical-align:top;">
Apparatus Final Juniors (MAG 3, WAG 2)<br>
Apparatus Final Seniors  (MAG 3, WAG 2)<br>
		</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday March 27</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure of delegations</td></tr>
</table>

<br>
<img src="images/coupole.png" alt="13th African Championships 2016 Alger (ALG) 2016 Mar 23-26"></td></tr>
	