---
title: "2019 Melbourne World Cup"
year: 2019
startdate: 2019-02-21
enddate: 2019-02-24
country: "AUS"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="FIG Individual Apparatus World Cup Melbourne<br>Melbourne Arena (AUS)<br>2019 Feb 21-24" %}

<img src="images/logo.png" alt="Melbourne world Cup logo">

<h2 class="men">Men Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Carlos Edriel Yulo (PHI)</li>
		<li><b>Pommel Horse</b> 🥇Gold - Lee Chih Kai (TPE)</li>
		<li><b>Rings</b> 🥇Gold - Liu Yang (CHN)</li>
		<li><b>Vault</b> 🥇Gold - Igor Radivilov (UKR)</li>
		<li><b>Parallel Bars</b> 🥇Gold - You Hao (CHN)</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Hidetaka Miyachi (JPN)</li>
	</ul>

	<a href="documents/magfx.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a>
	<a href="documents/magph.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a>
	<a href="documents/magsr.pdf" target="_blank" class="pdf">Rings Final Men</a>
	<a href="documents/magvt.pdf" target="_blank" class="pdf">Vault Final Men</a>
	<a href="documents/magpb.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a>
	<a href="documents/maghb.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a>
<!--WAG Final-->
<h2 class="wom">Women Apparatus Finals</h2>

	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Yeo Seojeong (KOR)</li>
		<li><b>Uneven Bars</b> 🥇Gold - Fan Yilin (CHN)</li>
		<li><b>Beam</b> 🥇Gold - Zhao Shiting (CHN)</li>
		<li><b>Floor Exercise</b> 🥇Gold - Vanessa Ferrari (ITA)</li>
	</ul>

	<a href="documents/wagvt.pdf" target="_blank" class="pdf">Vault Final Women</a>
	<a href="documents/wagub.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a>
	<a href="documents/wagbb.pdf" target="_blank" class="pdf">Beam Final Women</a>
	<a href="documents/wagfx.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a>
<h2 class="men">Men Qualification</h2>
	<a href="documents/magqfx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magqph.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magqsr.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magqvt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magqpb.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magqhb.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<!--WAG Qual-->
<h2 class="wom">Women Qualification</h2>
	<a href="documents/wagqvt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagqub.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagqbb.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagqfx.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>




