---
title: "AUT - CZE - ISR - POL - SVK Praha"
year: 2016
startdate: 2016-05-07
country: "CZE"
category: "bohemians-praha"
layout: results
redirect_from: /2016/eu/cze/praha.html
---

{% include resultsheader.html title="AUT - CZE - ISR - POL - SVK<br>TJ Bohemians Praha (CZE)<br>2016 May 7" %}

<h2 class="men">Results</h2>
	<a href="documents/results.pdf" target="_blank" class="pdf">Results</a><br>
<img src="images/czeaa.jpg" alt="All around Czech gymnasts"><br>
<img src="images/czejun2.jpg" alt="Juniors"><br>
<img src="images/poster.jpg" alt="event poster">