---
title: "2019 Winter Cup Challege Las Vegas, NV"
year: 2019
startdate: 2019-02-15
enddate: 2019-02-17
country: "USA"
category: "winter-cup"
layout: results
---

{% include resultsheader.html title="Winter Cup Challenge<br>Las Vegas, Nevada (USA)<br>2019 Feb 15-17" %}

<img src="images/logo.jpg" alt="Winter Cup logo">

<h2 class="men">Senior All Around Medallists</h2>

	<ul class="podium-list">
		<li>🥇Gold - Yul Moldauer</li>
		<li>🥈Silver - Sam Mikulak</li>
		<li>🥉Bronze - Allan Bower</li>
	</ul>

<h2 class="wom">Junior All Around Medallists</h2>

	<ul class="podium-list">
		<li>🥇Gold - Colt Walker</li>
		<li>🥈Silver - Isaiah Drake</li>
		<li>🥉Bronze - J.R. Chou</li>
	</ul>

<h2 class="men">Senior Results</h2>

	<a href="documents/sraa.pdf" target="_blank" class="pdf">Senior Men's All Around and Qualifications</a>
	<a href="documents/sref.pdf" target="_blank" class="pdf">Senior Men's Event Finals</a>


<h2 class="wom">Junior Results</h2>

	<a href="documents/jraa.pdf" target="_blank" class="pdf">Junior Men's All Around</a>
	<a href="documents/jref.pdf" target="_blank" class="pdf">Junior Men's Event Finals</a>
	<a href="documents/jrquals.pdf" target="_blank" class="pdf">Junior Men's Day 1 (Qualification)</a>
