---
title: "Youth Olympic Games Qualifying Competition Baku"
year: 2018
startdate: 2018-06-23
country: "AZE"
category: "yog"
layout: results
redirect_from: /2018/eu/aze/yogqualification.html
---
	
{% include resultsheader.html title="Youth Olympic Games Qualifying Competition in Artistic Gymnastics<br>Baku (AZE)<br>2018 June 23" %}
 
<img src="images/logo.jpg" alt="Youth Olympic Games Qualifying Competition in Artistic Gymnastics. Baku (AZE) 2018 June 23">
<!--MAG Final-->
<h2 class="men">Men</h2>
	<a href="documents/mag.pdf" target="_blank" class="pdf">All Around Men</a>
<!--WAG Final-->
<h2 class="wom">Women</h2>
	<a href="documents/wag.pdf" target="_blank" class="pdf">All Around Women</a>

<br>
<img src="images/magqual.png" alt="MAG Qualifiers for Youth Olympic Games of the III Olympiad Buenos Aires (ARG)" />
<br>
<img src="images/wagqual.png" alt="MAG Qualifiers for Youth Olympic Games of the III Olympiad Buenos Aires (ARG)" />

<h3>Artistic Gymnastics YOG qualifying events</h3> 
<table style="width:80%; padding-left:20px;">
<tr><td style="width:33%; font-size:16px;">Asia</td><td style="width:33%; font-size:16px;">2018 April 25-28</td><td style="width:34%; font-size:16px;">Jakarta (INA)</td></tr>
<tr><td style="font-size:16px;">Africa</td><td style="font-size:16px;">2018 May 9-12</td><td style="font-size:16px;">Swakopmund (NAM)</td></tr>
<tr><td style="font-size:16px;">Oceania</td><td style="font-size:16px;">2018 May 25</td><td style="font-size:16px;">Melbourne (AUS)</td></tr>
<tr><td style="font-size:16px;">America</td><td style="font-size:16px;">2018 June 13-15</td><td style="font-size:16px;">Buenos Aires (ARG)</td></tr>
<tr><td style="font-size:16px;">Europe</td><td style="font-size:16px;">2018 June 23</td><td style="font-size:16px;">Baku (AZE)</td></tr>
</table>	


