---
---

BODY {
	background: url(/assets/images/bg4.gif);
    font-size: 16px;
	color: Black;
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	font-weight: normal;
}


.small {  font-size: 12px; /* 75% of the baseline */ }
.large {   font-size: 20px; /* 125% of the baseline */ }

A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
#navigacia a {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: Yellow;
	text-decoration: none;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0px 1px 0px 0px;
	background: #3300CC;
	width: 100%;
}
#navigacia a:hover {
	color: Black; 
	background: Yellow;
	width: 100%;
	}	
#nav2 a {
	width: 100%;
	display: block;
	text-align: right;
	font-size: 12px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	padding: 0px 2px 0px 0px; 
	background: #ffffff;
}
#nav2 a:hover {
	color: Red;
}	

#nav2 a {
	display: inline;
	font-size: 10px;
	text-decoration: none;
	text-align: center;
	margin: 5 0 5 0;
	padding: 0.2em 1em 0.2em 1em;
	background: #ccccff;
	}
#nav2 a:hover {
	color: Fuchsia;
	background: #ffffcc;
	}

#nav3 a {
	display: inline;
	font-size: 12px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0.2em 1em 0.2em 1em;
	background: #ccccff;
}
#nav3 a:hover {
	color: Fuchsia;
	background: #ffffcc;
	}		 
h1 { 	
	font-family: Comic Sans MS;
	font-size: 20px;
	font-weight: bold;
	color: Red;
	margin: 0px 0px 0px 0px;
	}
h2 { font-family: Comic Sans MS;
	font-size: 15px;
	font-weight: bold;
	color: Red;
	margin: 0px 5px 0px 5px;
	}
h3 {
	font-family: Comic Sans MS;
	font-size: 12px;
	font-weight: bold;
	color: Navy;
	margin: 0px 5px 0px 5px;
}

/*h1 {
	color: Red;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h2 {
	color: Red;
	font-size: 22px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h3 {
	color: Red;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px 5px 5px;
}		
h4 {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 0px 5px 5px;
}


h1 {
	color: Blue;
	font-size: 20px;
	font-weight: bold;
	}		

h2 {
	color: Blue;
	font-size: 15px;
	font-weight: bold;
	}	*/	


.men { background-color : #99CCFF; }	 
.wom { background-color: #ffb6c1; }
.wom th, .men th {
	border-top: 1px solid black;
   	border-bottom: 1px solid black;
   	padding: 3px;
	}	
.tra { font-size: 14px;
	color: Green;
	font-weight: bold;
	}	
.rhy { font-size: 14px;
	color: Fuchsia;
	font-weight: bold;
	}

LI {
	font-size: 12px;
	vertical-align: middle;
	list-style: disc;
	color: #330000;
	font-weight: normal;
	}

LI { text-align: left;
	list-style-position: inside;
}

LI {
	font-size: 16px;
	color: Black;
}

LI {
	color: Red;
}

.skrt { text-decoration: line-through; }	 
.black { color: Black; }
.green {	color: Green;}
.red { color: Red; }
.rb25 { color: Red;
	font-weight: bold;
	font-size: 25px;
	 }
.rb20 { color: Red;
	font-weight: bold;
	font-size: 20px;
	 }
.rb15 { color: Red;
	font-weight: bold;
	font-size: 15px;
	 }
.r15 {
	color: Red;
	font-weight: normal;
	font-size: 15px;
	}
.rb12 { color: Red;
	font-weight: bold;
	font-size: 12px;
	 }
.r12 {
	color: Red;
	font-weight: normal;
	font-size: 12px;
	}
.rb10 { color: Red;
	font-weight: bold;
	font-size: 10px;
	 }
.r10 {
	color: Red;
	font-weight: normal;
	font-size: 10px;
	}
.blue { color: Blue; }
.bb25 { color: Blue;
	font-weight: bold;
	font-size: 25px;
	 }
.bb20 { color: Blue;
	font-weight: bold;
	font-size: 20px;
	 }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 15px;
	 }
.b15 {
	color: Blue;
	font-weight: normal;
	font-size: 15px;
	}
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 12px;
	 }
.b12 {
	color: Blue;
	font-weight: normal;
	font-size: 12px;
	}
.bb10 { color: Blue;
	font-weight: bold;
	font-size: 10px;
	 }
.b10 {
	color: Blue;
	font-weight: normal;
	font-size: 10px;
	}
.yel { color: Yellow; }
.yb15 { color: Yellow;
	font-weight: bold;
	font-size: 15px;
	 }
.yb12 { color: Yellow;
	font-weight: bold;
	font-size: 12px;
	 }
.y12 {
	color: Yellow;
	font-weight: normal;
	font-size: 12px;
}
.ab25 {color: Black;
	font-weight: bold;
	font-size: 25px; }
.ab20 { color: Black;
	font-weight: bold;
	font-size: 20px; }
.ab15 { color: Black;
	font-weight: bold;
	font-size: 15px;	 }
.a15 { color: Black;
	font-weight: normal;
	font-size: 15px;}
.ab12 { color: Red;
	font-weight: bold;
	font-size: 12px; }
.a12 {color: Black;
	font-weight: normal;
	font-size: 12px; }
.ab10 { color: Black;
	font-weight: bold;
	font-size: 10px; }
.a10 {color: Black;
	font-weight: normal;
	font-size: 10px; 	}
.bold { font-weight: bold; }
.rb { color: Red;
	font-size: 12px;
	font-weight: bold;
	 }		
.bb {
	color: Blue;
	font-size: 18px;
	font-weight: bold;
}
.bb {
	color: Blue;
	font-size: 15px;
	font-weight: bold;
	}	

.bbb {
	color: Blue;
	font-size: 20px;
	font-weight: bold;
	}	

.bub { color: Blue;
	font-weight: bold;
	text-decoration: underline;
	 }
.bu { 
	font-weight: bold;
	text-decoration: underline;
	 }	
.boldu { font-weight: bold;
	text-decoration: underline; }
.white { color: White; }
.y15 { color: Yellow;
	font-weight: normal;
	font-size: 15px; }	 	 
.ab18 { color: Black;
	font-weight: bold;
	font-size: 18px;
	 }
.ab12 { color: Black;
	font-weight: bold;
	font-size: 12px;
	 }
.bb20 { color: Blue;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
	border: 1px solid #84aae7;
	border-radius: 10px;
	 }
.yb25 {
	color: Yellow;
	font-weight: bold;
	font-size: 25px;
}
.yb20 {
	color: Yellow;
	font-weight: bold;
	font-size: 20px;
}
.yb10 { 
	color: Yellow;
	font-weight: bold;
	font-size: 10px;
}
.y10 { 
	color: Yellow;
	font-weight: normal;
	font-size: 10px;
}

TABLE.maa {
	background: #ffffff;
	border: 1px solid Navy;
	}
TABLE.resw {
	width: 630px;
	background: #99FFFF;
	border: medium double Navy;
	}
TABLE.waa {
	background: #ffffff;
	border: 1px solid Navy;
	}

TABLE.waa {
	text-indent: 3px;
	background: #99FFFF;
	border: medium double Navy;
	}

TABLE.resf {
	background: #99FFFF;
	border: medium double Navy;
	}

TH { font-size : 12px;
		font-weight : bolder }

th { 
	font-weight : "bold";
	text-align: center; }

TH {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 16px;
	vertical-align: middle;
}

TH { 
	font-weight: bold; 
}

TD {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: Black;
}

TD {
	font-family: Arial, Helvetica, sans-serif;
}

/*TD {
	background: White;
	text-align: right;
	padding: 2px;
	font-size: 12px;
}*/

.list-table {
	border:2px #84aae7 solid;
	background-color: #fffcff;

	th {
		text-align: left;
		padding: 2px;
		background-color: #ffffcc;
		border-bottom: 1px solid black;
	}

	tr:nth-child(odd) {
		background: #f5f5f5;
	}

}

CAPTION {
	font-size: 12px;
	color: #0000FF;
	font-family: "Tahoma", "Verdana";
	font-weight: bold;
}

CAPTION {
	font-size: 15px;
	color: Red;
	font-weight: bold;
	}		
CAPTION.NOW {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #ffccff 100%;
}

CAPTION {
	font-size: 16px;
	color: Purple;
	background: #E6E6FA 100%;
}		
CAPTION.NOW {
	font-size: 16px;
}	

.one { background: #f5f5f5; }
.two { background: #ffffff; }
.team {background: #FFFF99 !important; 
		td {
			font-weight: 700;
			}
		}
.hlav { background: #FF9CFF; }
.ona { background: #FFFF99; }
.ine { background: #FFFFCC; }
.svk { background: #E8F3FF;	}
.np { padding: 0px 0px 0px 0px;}


.pdf {
	display: block;
	margin: 4px 0;
}

.pdf::before {
    content: " ";
    background-image: url(/assets/images/ar.gif);
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 15px;
}

.uline { text-decoration: underline; }
.nol { text-decoration: none; }	 
.maa { background: #ffffff;
	border: 1px solid #339900; }
.waa { background: #ffffff;
	border: 1px solid Black; }
.just { text-align: justify; }	
.res {
	background: #ffffff;
	border: medium double Navy;
	}
.resw {
	background: #ffeaff;
	border: medium double Navy;
	}
.resm {
	background: #dbffff;
	border: medium double Navy;
	}
.men { background-color : #e6e6fa; }
.two { background: #ffffff; }
.team {background: #ffffcc; }
.team {background: #FFFF99; }

.bg1 { 
	background: #fafafa; 
	}
.bg2 { 
	background: #f0f0f0; 
	}
.our { 
	background: #FFF0F5; 
	}

h1.results {
	font-family: Arial, Helvetica, sans-serif;
	color: Blue;
	font-size: 25px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}			

.qualifications-table {
	th {
		color: blue;
		font-weight: bold;
		text-align: left;
		font-size: 16px;
		background-color: #e6e8ff;
	}
	tr td {
		&:first-child {
			width: 100px;
			text-align: center;
		}
		&:nth-child(2){
			width: 260px;
		}
		&:nth-child(3), &:nth-child(4){
			width: 120px;
		}
		vertical-align: top;
	}
	.pdf {
		margin: 0;
	}
}	


SUP { color: Blue; }	
SUP { color: Red; }	 

.maa { 
	border: 1px solid Navy; }
.waa { 
	border: 1px solid Navy; }
		
table.waa TH {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 20px;
	vertical-align: middle;
}

.siva { background: #d4d4d4; }		
.oddel {	border-right: medium solid #d4d4d4; }		
table.waa TD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: Black;
}
td.cal { font-size : "25px";
   text-decoration:none;
   text-align:center; 
   width:40px; 
   height:30px;   
   border: #D0D0D0 1px solid;
   color: #C8C8C8;
   font-weight:bold;   
   }
		
.slabo { color : #99CCFF; }
.slabow { color : #FFCCCC; }




