---
title: "2019 Doha World Cup"
year: 2019
startdate: 2019-03-20
enddate: 2019-03-23
country: "QAT"
category: "world-cup"
layout: results
---

{% include resultsheader.html title="FIG World Cup<br>Doha (QAT) 2019 March 20-23" %}

<img src="images/banner-2019.png" alt="Doha world cup logo">

<h2 class="wom">Finals Day 2</h2>
	<ul class="podium-list">
		<li><b>Men's Vault</b> 🥇Gold - Yang Hakseon (KOR)</li>
		<li><b>Men's Parallel Bars</b> 🥇Gold - Zou Jingyuan (CHN)</li>
		<li><b>Men's Horizontal Bar</b> 🥇Gold - Tin Srbic (CRO)</li>
		<li><b>Women's Beam</b> 🥇Gold - Li Qi (CHN)</li>
		<li><b>Women's Floor Exercise</b> 🥇Gold - Jade Carey (USA)</li>
	</ul>
	<br>
	<a href="documents/magvt.pdf" target="_blank" class="pdf">Men's Vault Final Results</a>
	<a href="documents/magpb.pdf" target="_blank" class="pdf">Men's Parallel Bars Final Results</a>
	<a href="documents/maghb.pdf" target="_blank" class="pdf">Men's Horizontal Bar Final Results</a>
	<a href="documents/wagbb.pdf" target="_blank" class="pdf">Women's Beam Final Results</a>
	<a href="documents/wagfx.pdf" target="_blank" class="pdf">Women's Floor Final Results</a>
	<br>

<h2 class="men">Finals Day 1</h2>
	<ul class="podium-list">
		<li><b>Men's Floor Exercise</b> 🥇Gold - Alexander Shatilov (ISR)</li>
		<li><b>Men's Pommel Horse</b> 🥇Gold - Lee Chih Kai (TPE)</li>
		<li><b>Men's Rings</b> 🥇Gold - Lan Xingyu (CHN)</li>
		<li><b>Women's Vault</b> 🥇Gold - Jade Carey (USA)</li>
		<li><b>Women's Uneven Bars</b> 🥇Gold - Nina Derwael (BEL)</li>
	</ul>
	<br>
	<a href="documents/magfx.pdf" target="_blank" class="pdf">Men's Floor Final Results</a>
	<a href="documents/magph.pdf" target="_blank" class="pdf">Men's Pommel Horse Final Results</a>
	<a href="documents/magsr.pdf" target="_blank" class="pdf">Men's Rings Final Results</a>
	<a href="documents/wagvt.pdf" target="_blank" class="pdf">Women's Vault Final Results</a>
	<a href="documents/wagub.pdf" target="_blank" class="pdf">Women's Uneven Bars Final Results</a>
	<br>

<h2 class="wom">Qualifications</h2>
	<a href="documents/magqfx.pdf" target="_blank" class="pdf">Men's Floor Qualification</a>
	<a href="documents/magqph.pdf" target="_blank" class="pdf">Men's Pommel Horse Qualification</a>
	<a href="documents/magqsr.pdf" target="_blank" class="pdf">Men's Rings Qualification</a>
	<a href="documents/wagqvt.pdf" target="_blank" class="pdf">Women's Vault Qualification</a>
	<a href="documents/wagqub.pdf" target="_blank" class="pdf">Women's Uneven Bars Qualification</a>
	<br>

	<a href="documents/magqvt.pdf" target="_blank" class="pdf">Men's Vault Qualification</a>
	<a href="documents/magqpb.pdf" target="_blank" class="pdf">Men's Parallel Bars Qualification</a>
	<a href="documents/magqhb.pdf" target="_blank" class="pdf">Men's Horizontal Bar Qualification</a>
	<a href="documents/wagqbb.pdf" target="_blank" class="pdf">Women's Beam Qualification</a>
	<a href="documents/wagqfx.pdf" target="_blank" class="pdf">Women's Floor Qualification</a>