---
title: "29th Gym-Festival 2016 Trnava"
year: 2016
startdate: 2016-05-14
enddate: 2016-05-15
country: "SVK"
category: "gym-festival-trnava"
layout: results
redirect_from: /2016/eu/svk/gym-festival.html
---

{% include resultsheader.html title="29th Gym Festival 2016<br>Trnava (SVK)<br>2016 May 14-15" %}

<img src="images/logo.jpg" alt="Event logo">
<h2 class="wom">Results Apparatus Finals Senior</h2>
	<a href="documents/senaf1vt.pdf" target="_blank" class="pdf">Vault Final Senior</a>
	<a href="documents/senaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Senior</a>
	<a href="documents/senaf3bb.pdf" target="_blank" class="pdf">Beam Final Senior</a>
	<a href="documents/senaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Senior</a>
<h2 class="men">Results Apparatus Finals Junior</h2>
	<a href="documents/junaf1vt.pdf" target="_blank" class="pdf">Vault Final Junior</a>
	<a href="documents/junaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Junior</a>
	<a href="documents/junaf3bb.pdf" target="_blank" class="pdf">Beam Final Junior</a>
	<a href="documents/junaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Junior</a>
<h2 class="wom">Results Saturday</h2>
	<a href="documents/aasen.pdf" target="_blank" class="pdf">All-Around Senior</a>
	<a href="documents/aajun.pdf" target="_blank" class="pdf">All-Around Junior</a>
	<a href="documents/satpst.pdf" target="_blank" class="pdf">Pohar Starobylej Trnavy</a>
<h2 class="men">Information</h2>
<p><b>Disciplines, categories and age:</b></p>
<ul>
<li>Women&rsquo;s Artistic Gymnastics - Senior (born in 2000 or before)</li>
<li>Women&rsquo;s Artistic Gymnastics - Junior (born in 2001 - 2002)</li>
</ul>
<p>
Qualification and Apparatus finals according FIG rules as follows:<br>
Seniors: according FIG rules<br>
Juniors: WAG COP modifications for Junior Competitions<br><br>
<b>Qualifications:</b><br>
The maximum number for the qualification is 2 gymnasts per country and per category<br><br>
<b>Apparatus finals:</b><br>
Each final (senior, junior): the best 8 gymnasts at the apparatus, max. 2 from federation and min.1 from SVK<br><br>
<b>Memorial of Jan Novak</b><br>The best results in senior category<br><br>
<b>Memorial of Vojtech Schon</b><br>The best results in junior category<br><br>
<b>Memorial of Helena Novak</b><br>The best results on the beam CI + CIII (seniors and juniors)<br><br>
</p>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday May 13</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">13:00-15:00<br>14:00-18:00<br>18:30<br></td>
		<td style="width:460px; vertical-align:top;">Arrival, accreditations<br>Free training<br>Technical meeting<br></td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday May 14</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">
	08:30-09:00<br>12:30-13:00<br>13:00-14:00<br>14:10-14:25<br>14:30-16:30<br>16:45<br><br>
	16:30-17:00<br>17:00-18:00<br>18:00-20:00<br>20:15
General warm up</td>
		<td style="width:460px; vertical-align:top;">
Judges meeting<br>
General warm up Juniors<br>
Organized warm up Juniors<br>
Opening ceremony<br>
The Slovak open Championships Juniors<br>
Award Ceremony Juniors<br><br>
General warm up Seniors<br>
Organized warm up Seniors<br>
The Slovak open Championships Seniors<br>
Award Ceremony Seniors<br><br>
</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday May 15</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">08:30-09:30<br>09:30-12:30</td>
		<td style="width:460px; vertical-align:top;">Warm up for finalists<br>Apparatus Final</td></tr>
</table>
<h2 class="wom">Information</h2>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a><br>
<img src="images/poster2.jpg" alt="event poster">