BODY {
	background: url("bgmen.jpg") repeat fixed;
	font-size : 10px;
	color: Black;
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	font-weight: "normal";
	width: 750px;
	}
A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
h1 {
	color: Blue;
	font-size: 20px;
	font-weight: bold;
	}		
h2 {
	color: Blue;
	font-size: 15px;
	font-weight: bold;
	}		

LI {
	font-size: 10px;
	vertical-align: middle;
	list-style: disc;
	color: Blue;
	font-weight: normal;
}
.red { color: Red; }
.rb15 { color: Red;
	font-weight: bold;
	font-size: 15px;
	 }
.rb12 { color: Red;
	font-weight: bold;
	font-size: 12px;
	 }
.blue { color: Blue; }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 15px;
	 }
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 12px;
	 }
TABLE.maa {
	text-indent: 3px;
	background: #ffffff;
	border: 1px solid Navy;
}
TABLE.resf {
	background: #99FFFF;
	border: medium double Navy;
	}
CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
	}		
TH {
	color: #000000;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}
TR.men {
	background-color : #e6e6fa;
	}
TR.one { background: #f5f5f5; }
TR.two { background: #ffffff; }
TR.team {background: #FFFF99; }
TR.svk { background: #E8F3FF; }
TD {
	padding: 2px 2px 0px 2px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: Black;
	}
