BODY {
	background: url("bgtramp.jpg") repeat;
	font-size : 14px;
	color: Black;
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	font-weight: "normal";
	width: 800px;
	}
A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
SUP { color: Blue; }
LI {
	font-size: 12px;
	vertical-align: middle;
	list-style: disc;
	color: Red;
	font-weight: normal;
}
.red { color: Red; }
.rbb { color: Red;
	font-size: 20px;
	font-weight: bold;
	 }	
.rb { color: Red;
	font-size: 15px;
	font-weight: bold;
	 }	
.blue { color: Blue; }
.bbb {
	color: Blue;
	font-size: 20px;
	font-weight: bold;
	}		
.bb {
	color: Blue;
	font-size: 15px;
	font-weight: bold;
	}		
.bu { 
	font-weight: bold;
	text-decoration: underline;
	 }	
TABLE.waa {
	text-indent: 3px;
	background: #99FFFF;
	border: medium double Navy;
	}
TABLE.resf {
	background: #99FFFF;
	border: medium double Navy;
	}
CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
}		
TH {
	color: #000080; 
	text-align: center;
	font-size : 14px;
	font-weight : bold
	 }
TR.men {
	background-color : #99CCFF;
	}	 
TR.wom { 
	background-color: #ff9cff; 
	}	
TR.one { background: #FFFFE0; }
TR.two { background: #FFFACD; }
TR.team { background: #FFFF99; }
TR.svk { background: #E8F3FF; }
TD {
	padding: 2px 2px 0px 2px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: Black;
	}
.men{ font-size: 16px;
	color: Blue;
	font-weight: bold;
	 }	
.wom{
	font-size: 16px;
	color: Red;
	font-weight: bold;
	}	
.tra{
	font-size: 16px;
	color: Green;
	font-weight: bold;
	}	
.rhy{
	font-size: 16px;
	color: Fuchsia;
	font-weight: bold;
	}		
