BODY {
	background: url(pic/bg4.gif);
    font-size: 16px;
	color: Black;
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	font-weight: normal;
}
.small {  font-size: 12px; /* 75% of the baseline */ }
.large {   font-size: 20px; /* 125% of the baseline */ }

A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
#navigacia a {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: Yellow;
	text-decoration: none;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0px 1px 0px 0px;
	background: #3300CC;
	width: 100%;
}
#navigacia a:hover {
	color: Black; 
	background: Yellow;
	width: 100%;
	}	
#nav2 a {
	width: 100%;
	display: block;
	text-align: right;
	font-size: 12px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	padding: 0px 2px 0px 0px; 
	background: #ffffff;
}
#nav2 a:hover {
	color: Red;
}		 
#nav3 a {
	display: inline;
	font-size: 12px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0.2em 1em 0.2em 1em;
	background: #ccccff;
}
#nav3 a:hover {
	color: Fuchsia;
	background: #ffffcc;
	}		 
h1 { 	
	font-family: Comic Sans MS;
	font-size: 20px;
	font-weight: bold;
	color: Red;
	margin: 0px 0px 0px 0px;
	}
h2 { font-family: Comic Sans MS;
	font-size: 15px;
	font-weight: bold;
	color: Red;
	margin: 0px 5px 0px 5px;
	}
h3 {
	font-family: Comic Sans MS;
	font-size: 12px;
	font-weight: bold;
	color: Navy;
	margin: 0px 5px 0px 5px;
}
.men { background-color : #99CCFF; }	 
.wom { background-color: #ffb6c1; }	
.tra { font-size: 14px;
	color: Green;
	font-weight: bold;
	}	
.rhy { font-size: 14px;
	color: Fuchsia;
	font-weight: bold;
	}	
LI {
	font-size: 12px;
	vertical-align: middle;
	list-style: disc;
	color: #330000;
	font-weight: normal;
	}
.red { color: Red; }
.rb25 { color: Red;
	font-weight: bold;
	font-size: 25px;
	 }
.rb20 { color: Red;
	font-weight: bold;
	font-size: 20px;
	 }
.rb15 { color: Red;
	font-weight: bold;
	font-size: 15px;
	 }
.r15 {
	color: Red;
	font-weight: normal;
	font-size: 15px;
	}
.rb12 { color: Red;
	font-weight: bold;
	font-size: 12px;
	 }
.r12 {
	color: Red;
	font-weight: normal;
	font-size: 12px;
	}
.rb10 { color: Red;
	font-weight: bold;
	font-size: 10px;
	 }
.r10 {
	color: Red;
	font-weight: normal;
	font-size: 10px;
	}
.blue { color: Blue; }
.bb25 { color: Blue;
	font-weight: bold;
	font-size: 25px;
	 }
.bb20 { color: Blue;
	font-weight: bold;
	font-size: 20px;
	 }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 15px;
	 }
.b15 {
	color: Blue;
	font-weight: normal;
	font-size: 15px;
	}
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 12px;
	 }
.b12 {
	color: Blue;
	font-weight: normal;
	font-size: 12px;
	}
.bb10 { color: Blue;
	font-weight: bold;
	font-size: 10px;
	 }
.b10 {
	color: Blue;
	font-weight: normal;
	font-size: 10px;
	}
.yel { color: Yellow; }
.yb15 { color: Yellow;
	font-weight: bold;
	font-size: 15px;
	 }
.yb12 { color: Yellow;
	font-weight: bold;
	font-size: 12px;
	 }
.y12 {
	color: Yellow;
	font-weight: normal;
	font-size: 12px;
}
.ab25 {color: Black;
	font-weight: bold;
	font-size: 25px; }
.ab20 { color: Black;
	font-weight: bold;
	font-size: 20px; }
.ab15 { color: Black;
	font-weight: bold;
	font-size: 15px;	 }
.a15 { color: Black;
	font-weight: normal;
	font-size: 15px;}
.ab12 { color: Red;
	font-weight: bold;
	font-size: 12px; }
.a12 {color: Black;
	font-weight: normal;
	font-size: 12px; }
.ab10 { color: Black;
	font-weight: bold;
	font-size: 10px; }
.a10 {color: Black;
	font-weight: normal;
	font-size: 10px; 	}
.bold { font-weight: bold; }
.rb { color: Red;
	font-size: 12px;
	font-weight: bold;
	 }		
.bb {
	color: Blue;
	font-size: 18px;
	font-weight: bold;
}		
.bub { color: Blue;
	font-weight: bold;
	text-decoration: underline;
	 }
.bu { 
	font-weight: bold;
	text-decoration: underline;
	 }	
TABLE.maa {
	background: #ffffff;
	border: 1px solid Navy;
	}
TABLE.resw {
	width: 630px;
	background: #99FFFF;
	border: medium double Navy;
	}
CAPTION {
	font-size: 12px;
	color: #0000FF;
	font-family: "Tahoma", "Verdana";
	font-weight: bold;
}
TH { font-size : 12px;
		font-weight : bolder }
.one { background: #f5f5f5; }
.two { background: #ffffff; }
.team {background: #FFFF99; }
.hlav { background: #FF9CFF; }
.ona { background: #FFFF99; }
.ine { background: #FFFFCC; }
.svk { background: #E8F3FF;	}
.np { padding: 0px 0px 0px 0px;}
TD {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: Black;
}
