BODY {
	background: url("bgtramp.jpg") repeat fixed;
	font-size : 12px;
	color: Black;
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	font-weight: "normal";
	width: 800px;
	}
A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
#nav a {
	display: list-item;
	font-size: 10px;
	font-weight: normal;
	color: #000080;
	text-decoration: none;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0.2em 0.2em 0.1em 0.1em;
	background: #ccccff;
	width: 100%;
}
#nav a:hover {
	color: Fuchsia;
	background: Aqua;
	width: 100%;
	}		 
#nav2 a {
	display: inline;
	font-size: 10px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	text-align: center;
	margin: 5 0 5 0;
	padding: 0.2em 1em 0.2em 1em;
	background: #ccccff;
	}
#nav2 a:hover {
	color: Fuchsia;
	background: #ffffcc;
	}		 

h1 {
	color: Green;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
}		
h2 {
	color: Green;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
}		
h3 {
	color: Green;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0px 5px 5px;
}		
h4 {
	color: Blue;
	font-size: 12px;
	font-weight: bold;
	margin: 2px 0px 2px 5px;
}		
LI {
	font-size: 10px;
	vertical-align: middle;
	list-style: disc;
	color: Blue;
	font-weight: normal; }
.skrt { text-decoration: line-through; }	
.slabo { color : #99CCFF; }
.slabow { color : #FFCCCC; }
.sep { background-color: #fffafa;
	width: 100%;
	text-align: right;
	}
.red { color: Red; }
.rb15 { color: Red;
	font-weight: bold;
	font-size: 15px;
	 }
.rb12 { color: Red;
	font-weight: bold;
	font-size: 12px;
	 }
.rb10 { color: Red;
	font-weight: bold;
	font-size: 10px;
	 }
.blue { color: Blue; }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 15px;
	 }
.b15 { color: Blue;
	font-size: 15px;
	 }
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 12px;
	 }
.b12 { color: Blue;
	font-size: 12px;
	 }
.bb10 { color: Blue;
	font-weight: bold;
	font-size: 10px;
	 }
.b10 { color: Blue;
	font-size: 10px;
	 }
.a12 {
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	}	 
.a10 {
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	}	 	 
SUP { color: Blue; }	 
.resf { background: #99FFFF;
	border: medium double Navy; }
CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
	}		
TH {
	color: #000000;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
}
.maa { background: #ffffff;
	border: 1px solid Navy; }
.waa { background: #ffffff;
	border: 1px solid Navy; }
.men { background-color : #e6e6fa; }
.wom { background-color: #ffb6c1; }	
.one { background: #f5f5f5; }
.two { background: #ffffff; }
.team {background: #ffffcc; }
.svk { background: #E8F3FF; }
TD {
	padding: 1px 1px 1px 1px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: Black;
}
TD.top {	vertical-align: top;	}
