BODY {
	background: url("bgwom.jpg") repeat fixed;
	font-size: 16px;
	color: Black;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-weight: "normal";
	width: 800px;
}
.small {  font-size: 16px; /* 75% of the baseline */ }
.large {   font-size: 20px; /* 125% of the baseline */ }

A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
h1 {
	color: Red;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h2 {
	color: Red;
	font-size: 22px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h3 {
	color: Red;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px 5px 5px;
}		
h4 {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 0px 5px 5px;
}		
LI {
	font-size: 16px;
	vertical-align: middle;
	list-style: disc;
	color: Red;
	font-weight: normal;
}
.red { color: Red; }
.rb15 { color: Red;
	font-weight: bold;
	font-size: 16px;
	 }
.rb12 { color: Red;
	font-weight: bold;
	font-size: 16px;
	 }
.r12 { color: Red;
	font-size: 16px;  }
.r10 { color: Red;
	font-size: 10px;
	font-weight: normal; }
.blue { color: Blue; }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 16px;
	 }
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 16px;
	 }
.b12 { color: Blue;
	font-size: 16px;  }
.b10 { color: Blue;
	font-size: 10px;
	font-weight: normal; }
.a12 {
	font-size: 16px;
	color: #000000;
	font-weight: normal;
	}	 
.a10 {
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	}	 
SUP { color: Red; }	 
TABLE.waa {
	background: #ffffff;
	border: 1px solid Navy;
	}
TABLE.resf {
	background: #99FFFF;
	border: medium double Navy;
	}
CAPTION {
	font-size: 16px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
}		
CAPTION.NOW {
	font-size: 16px;
	color: Purple;
	font-weight: bold;
	background: #ffccff 100%;
}		
TH {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
	font-size: 16px;
	vertical-align: middle;
	font-weight: bold;}
.slabo { color : #99CCFF; }
.slabow { color : #FFCCCC; }
.red { color: Red;}
.men { background-color : #99CCFF; }	 
.wom { background-color: #ffb6c1; }	
.one { background: #e6e8ff; }
.two { background: #ffffff; }
.team {background: #FFFFCC; }
.svk { background: #E8F3FF; }
TD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: Black;
}

