BODY {
	background: url("bgmen.jpg") repeat fixed;
	font-size: 16px;
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.small {  font-size: 12px; /* 75% of the baseline */ }
.large {   font-size: 20px; /* 125% of the baseline */ }

A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
h1 {
	color: Blue;
	font-size: 25px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h2 {
	color: Blue;
	font-size: 22px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h3 {
	color: Blue;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px 5px 5px;
}		
h4 {
	color: Red;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0px 5px 5px;
}		
LI {
	font-size: 16px;
	vertical-align: middle;
	list-style: disc;
	color: Black;
	font-weight: normal;
}
#nav2 a {
	display: inline;
	font-size: 10px;
	font-weight: normal;
	color: Navy;
	text-decoration: none;
	text-align: center;
	margin: 5 0 5 0;
	padding: 0.2em 1em 0.2em 1em;
	background: #ccccff;
	}
#nav2 a:hover {
	color: Fuchsia;
	background: #ffffcc;
	}	
.skrt { text-decoration: line-through; }	 
.red { color: Red; }
.blue { color: Blue; }
.black { color: Black; }
.green {	color: Green;}
.rb15 { color: Red;
	font-weight: bold;
	font-size: 16px;
	 }
.rb12 { color: Red;
	font-weight: bold;
	font-size: 12px;
	 }
.r12 { color: Red;
	font-size: 12px;
	 }
.rb10 { color: Red;
	font-weight: bold;
	font-size: 10px;
	 }
.r10 { color: Red;
	font-weight: normal;
	font-size: 10px; }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 16px;
	 }
.b15 {
	color: Blue;
	font-weight: normal;
	font-size: 15px;
}
.b12 { color: Blue;
	font-size: 12px;
	 }
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 12px;
	 }
.bb10 { color: Blue;
	font-weight: bold;
	font-size: 10px; 	 }
.b10 { color: Blue;
	font-weight: normal;
	font-size: 10px; }
.yb15 {color: Yellow;
	font-weight: bold;
	font-size: 15px; }
.y15 { color: Yellow;
	font-weight: normal;
	font-size: 15px; }
.yb12 { color: Yellow;
	font-weight: bold;
	font-size: 12px;  }
.a12 {
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	}	 
.a10 {
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	}	 	 
.ab20 { color: Black;
	font-weight: bold;
	font-size: 20px; }
.ab15 { color: Black;
	font-weight: bold;
	font-size: 15px; }
SUP { color: Blue; }	 
.maa { background: #ffffff;
	border: 1px solid Navy; }
.waa { background: #ffffff;
	border: 1px solid Navy; }
CAPTION {
	font-size: 15px;
	color: Red;
	font-weight: bold;
	}		
CAPTION.NOW {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #ffccff 100%;
}		
TH {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 20px;
	vertical-align: middle;
}
.men { background-color : #99CCFF; }	 
.wom { background-color: #ffb6c1; }	
.one { background-color: #e6e8ff; }
.two { background-color: #ffffff; }
.team {background: #ffffcc; }
.svk { background: #E8F3FF; }
.siva { background: #d4d4d4; }		
.oddel {	border-right: medium solid #d4d4d4; }		
TD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: Black;
}
td.cal { font-size : "25px";
   text-decoration:none;
   text-align:center; 
   width:40px; 
   height:30px;   
   border: #D0D0D0 1px solid;
   color: #C8C8C8;
   font-weight:bold;   
   }
