BODY {
	background: url("bgrh.jpg") repeat fixed;
	font-size : 12px;
	color: Black;
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	font-weight: "normal";
	width: 800px;
	}
A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
h1 {
	color: Red;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h2 {
	color: Red;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 10px 5px;
	}		
h3 {
	color: Red;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0px 5px 5px;
}		
LI {
	font-size: 10px;
	vertical-align: middle;
	list-style: disc;
	color: Red;
	font-weight: normal;
}
.red { color: Red; }
.rb15 { color: Red;
	font-weight: bold;
	font-size: 15px;
	 }
.rb12 { color: Red;
	font-weight: bold;
	font-size: 12px;
	 }
.blue { color: Blue; }
.bb15 { color: Blue;
	font-weight: bold;
	font-size: 15px;
	 }
.bb12 { color: Blue;
	font-weight: bold;
	font-size: 12px;
	 }
.a12 {
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	}	 
.a10 {
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	}	 
SUP { color: Red; }	 
.slabo { color : #99CCFF; }
.slabow { color : #FFCCCC; }
TABLE.waa {
	text-indent: 3px;
	background: #ffffff;
	border: 1px solid Navy;
	}
TABLE.resf {
	background: #99FFFF;
	border: medium double Navy;
	}
CAPTION {
	font-size: 15px;
	color: Purple;
	font-weight: bold;
	background: #E6E6FA 100%;
}		
TH {
	color: #000000;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
}
TR.men {	background-color : #99CCFF;
	}	 
TR.wom { 
	background-color: #ffb6c1; 
	}	
TR.one { background: #f5f5f5; }
TR.two { background: #ffffff; }
TR.team {background: #FFFF99; }
TR.svk { background: #E8F3FF; }
TD {
	padding: 2px 2px 0px 2px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: Black;
	}
