---
title: "Sokol Grand Prix de Gymnastique 2017 Brno"
year: 2017
startdate: 2017-11-11
country: "CZE"
category: "grand-prix"
layout: results
redirect_from: /2017/eu/cze/gpxbrno.html
---

{% include resultsheader.html title="Sokol Grand Prix de Gymnastique 2017<br>Brno (CZE) November 11" %}

<img src="images/gpxbrno1.jpg" alt="Sokol Grand Prix de Gymnastique 2017 Brno (CZE) November 11">
<h2 class="wom">Results</h2>
<img src="images/gpxbrno3.jpg" alt="Sokol Grand Prix de Gymnastique 2017 Brno (CZE) November 11">
<br>
<a href="documents/gpxbrno.pdf" target="_blank" class="pdf">Detailed Results</a>
	<br>

<h3>Thanks to Jan Caska for sending these results!</h3>

