---
title: "Elite Gym Massilia 2016 Marseille"
year: 2016
startdate: 2016-11-10
enddate: 2016-11-13
country: "FRA"
category: "elite-gym-massilia"
layout: results
redirect_from: /2016/eu/fra/elite-gym-massilia-2016.html
---

{% include resultsheader.html title="Elite Gym Massilia 2016<br>Marseille (FRA)<br>2016 Nov 10-13" %}

<img src="images/logo.jpg" alt="Elite Gym Massilia 2016 Marseille (FRA) 2016 Nov 10-13">
<h2 class="wom">Top Massilia</h2>
	<a href="documents/top1vt.pdf" target="_blank" class="pdf">Top Massilia Vault</a>
	<a href="documents/top2ub.pdf" target="_blank" class="pdf">Top Massilia Uneven Bars</a>
	<a href="documents/top3bb.pdf" target="_blank" class="pdf">Top Massilia Beam</a>
	<a href="documents/top4fx.pdf" target="_blank" class="pdf">Top Massilia Floor Exercise</a>
<h2 class="wom">Master Massilia</h2>
	<a href="documents/masterteamsaa.pdf" target="_blank" class="pdf">Master Teams AA</a>
	<a href="documents/masterteams1vt.pdf" target="_blank" class="pdf">Master Teams Vault</a>
	<a href="documents/masterteams2ub.pdf" target="_blank" class="pdf">Master Teams Uneven Bars</a>
	<a href="documents/masterteams3bb.pdf" target="_blank" class="pdf">Master Teams Beam</a>
	<a href="documents/masterteams4fx.pdf" target="_blank" class="pdf">Master Teams Floor Exercise</a><br>
	<a href="documents/masteraa.pdf" target="_blank" class="pdf">Master Individuals AA</a>
	<a href="documents/master1vt.pdf" target="_blank" class="pdf">Master Individuals Vault</a>
	<a href="documents/master2ub.pdf" target="_blank" class="pdf">Master Individuals Uneven Bars</a>
	<a href="documents/master3bb.pdf" target="_blank" class="pdf">Master Individuals Beam</a>
	<a href="documents/master4fx.pdf" target="_blank" class="pdf">Master Individuals Floor Exercise</a>
<h2 class="wom">Open Massilia</h2>
	<a href="documents/openteamsaa.pdf" target="_blank" class="pdf">Open Teams AA</a>
	<a href="documents/openteams1vt.pdf" target="_blank" class="pdf">Open Teams Vault</a>
	<a href="documents/openteams2ub.pdf" target="_blank" class="pdf">Open Teams Uneven Bars</a>
	<a href="documents/openteams3bb.pdf" target="_blank" class="pdf">Open Teams Beam</a>
	<a href="documents/openteams4fx.pdf" target="_blank" class="pdf">Open Teams Floor Exercise</a><br>
	<a href="documents/openaa.pdf" target="_blank" class="pdf">Open Individuals AA</a>
	<a href="documents/open1vt.pdf" target="_blank" class="pdf">Open Individuals Vault</a>
	<a href="documents/open2ub.pdf" target="_blank" class="pdf">Open Individuals Uneven Bars</a>
	<a href="documents/open3bb.pdf" target="_blank" class="pdf">Open Individuals Beam</a>
	<a href="documents/open4fx.pdf" target="_blank" class="pdf">Open Individuals Floor Exercise</a>
<h2 class="men">Tournoi des cigales</h2>
	<a href="documents/cigalesavenir2007.pdf" target="_blank" class="pdf">Cigales Avenir 2007</a>
	<a href="documents/cigalesavenir2006.pdf" target="_blank" class="pdf">Cigales Avenir 2006</a>
	<a href="documents/cigalesespoir2005.pdf" target="_blank" class="pdf">Cigales Espoir 2005</a>
	<a href="documents/cigalesespoir2004.pdf" target="_blank" class="pdf">Cigales Espoir 2004</a>
<br><img src="images/poster.jpg" alt="Elite Gym Massilia 2016 Marseille (FRA) 2016 Nov 10-13">