---
title: "13th Cancun Gymnastics Classic"
year: 2016
startdate: 2016-01-03
enddate: 2016-01-04
country: "MEX"
category: "cancun-classic"
layout: results
redirect_from: /2016/am/mex/cancun-classic.html
---

{% include resultsheader.html title="13th Cancun Gymnastics Classic 2016<br>Cancun (MEX)<br>2016 Jan 3-4" %}

<img src="images/logo3.jpg" alt="Cancun Gymnastics Classic Cancun(MEX) 2016 Jan 3-4">
<h2 class="wom">Results NCAA</h2>
	<a href="documents/s1ncaa.pdf" target="_blank" class="pdf">Women NCAA</a>
<h2 class="wom">Results Level 3</h2>
	<a href="documents/s1lev3child.pdf" target="_blank" class="pdf">Women Level 3 Child</a>
	<a href="documents/s1lev3juna.pdf" target="_blank" class="pdf">Women Level 3 Junior A</a>
	<a href="documents/s1lev3junb.pdf" target="_blank" class="pdf">Women Level 3 Junior B</a>
<h2 class="wom">Results Level 4</h2>
	<a href="documents/s1lev4child.pdf" target="_blank" class="pdf">Women Level 4 Child</a>
	<a href="documents/s1lev4juna.pdf" target="_blank" class="pdf">Women Level 4 Junior A</a>
	<a href="documents/s1lev4junb.pdf" target="_blank" class="pdf">Women Level 4 Junior B</a>
<h2 class="wom">Results Level 5</h2>
	<a href="documents/s1lev5child.pdf" target="_blank" class="pdf">Women Level 5 Child</a>
	<a href="documents/s1lev5juna.pdf" target="_blank" class="pdf">Women Level 5 Junior A</a>
	<a href="documents/s1lev5junb.pdf" target="_blank" class="pdf">Women Level 5 Junior B</a>
<h2 class="wom">Results Level 6</h2>
	<a href="documents/s2lev6child.pdf" target="_blank" class="pdf">Women Level 6 Child</a>
	<a href="documents/s2lev6jun.pdf" target="_blank" class="pdf">Women Level 6 Junior</a>
	<a href="documents/s2lev6sen.pdf" target="_blank" class="pdf">Women Level 6 Senior</a>
<h2 class="wom">Results Level 7</h2>
	<a href="documents/s2lev7aa.pdf" target="_blank" class="pdf">Women Level 7</a>
<h2 class="wom">Results Level 8</h2>
	<a href="documents/s3lev8child.pdf" target="_blank" class="pdf">Women Level 8 Child</a>
	<a href="documents/s3lev8jun.pdf" target="_blank" class="pdf">Women Level 8 Junior</a>
	<a href="documents/s3lev8sen.pdf" target="_blank" class="pdf">Women Level 8 Senior</a>
	<a href="documents/s3lev8teams.pdf" target="_blank" class="pdf">Women Level 8 Teams</a>
<h2 class="wom">Results Level 9</h2>
	<a href="documents/s4lev9juna.pdf" target="_blank" class="pdf">Women Level 9 Junior A</a>
	<a href="documents/s4lev9junb.pdf" target="_blank" class="pdf">Women Level 9 Junior B</a>
	<a href="documents/s4lev9sena.pdf" target="_blank" class="pdf">Women Level 9 Senior</a>
	<a href="documents/s4lev9teams.pdf" target="_blank" class="pdf">Women Level 9 Teams</a>
<h2 class="wom">Results Level 10</h2>
	<a href="documents/s5lev10juna.pdf" target="_blank" class="pdf">Women Level 10 Junior A</a>
	<a href="documents/s5lev10junb.pdf" target="_blank" class="pdf">Women Level 10 Junior B</a>
	<a href="documents/s5lev10sen.pdf" target="_blank" class="pdf">Women Level 10 Senior</a>
	<a href="documents/s5lev10teams.pdf" target="_blank" class="pdf">Women Level 10 Teams</a>
<br>
<img src="images/poster2.jpg" alt="Cancun Gymnastics Classic Cancun(MEX) 2016 Jan 1-4">
<h3>Thanks to Crystal Savage for sending results!</h3>
	