---
title: "2019 U.S. National Championships"
year: 2019
startdate: 2019-08-08
enddate: 2019-08-11
country: "USA"
category: "usa-nationals"
layout: results
---

{% include resultsheader.html title="2019 U.S. National Championships<br>Kansas City, Missouri (USA)<br>2019 August 8-11" %}

<img src="images/logo.png" alt="2019 US Championships logo">

<h2 class="wom">Results Women Senior Day 2</h2>
	<a href="documents/wagsenaa.pdf" target="_blank" class="pdf">Results Women Senior All-Around</a><ul class="podium-list">
		<li>🥇Gold - Simone Biles</li>
		<li>🥈Silver - Sunisa Lee</li>
		<li>🥉Bronze - Grace McCallum</li>
	</ul>
	<br>
	<a href="documents/wagsenaf.pdf" target="_blank" class="pdf">Results Women Senior Events</a>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Simone Biles</li>
		<li><b>Uneven Bars</b> 🥇Gold - Sunisa Lee</li>
		<li><b>Beam</b> 🥇Gold - Simone Biles</li>
		<li><b>Floor Exercise</b> 🥇Gold - Simone Biles</li>
	</ul>
<h2 class="men">Results Men Senior Day 2</h2>
	<a href="documents/magsenaa.pdf" target="_blank" class="pdf">Results Men Senior All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Sam Mikulak</li>
		<li>🥈Silver - Yul Moldauer</li>
		<li>🥉Bronze - Akash Modi</li>
	</ul>
	<br>
	<a href="documents/magsenaf.pdf" target="_blank" class="pdf">Results Men Senior Events</a>
		<ul class="podium-list">
		<li><b>Floor Exercise</b> 🥇Gold - Sam Mikulak</li>
		<li><b>Pommel Horse</b> 🥇Gold - Sam Mikulak</li>
		<li><b>Rings</b> 🥇Gold - Alex Diab</li>
		<li><b>Vault</b> 🥇Gold - Shane Wiskus</li>
		<li><b>Parallel Bars</b> 🥇Gold - Sam Mikulak</li>
		<li><b>Horizontal Bar</b> 🥇Gold - Sam Mikulak</li>
	</ul>
<h2 class="wom">Results Women Junior Day 2</h2>
	<a href="documents/wagjunaa.pdf" target="_blank" class="pdf">Results Women Junior All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Kayla DiCello</li>
		<li>🥈Silver - Konnor McClain</li>
		<li>🥉Bronze - Olivia Greaves</li>
	</ul>
	<br>
	<a href="documents/wagjunaf.pdf" target="_blank" class="pdf">Results Women Junior Events</a>
	<ul class="podium-list">
		<li><b>Vault</b> 🥇Gold - Kayla DiCello</li>
		<li><b>Uneven Bars</b> 🥇Gold - Olivia Greaves</li>
		<li><b>Beam</b> 🥇Gold - Konnor McClain</li>
		<li><b>Floor Exercise</b> 🥇Gold - Kayla DiCello</li>
	</ul>
<h2 class="men">Results Men Junior Day 2</h2>
	<a href="documents/mag1718aa.pdf" target="_blank" class="pdf">Results Men 17-18 All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Colt Walker</li>
		<li>🥈Silver - Garrett Braunton</li>
		<li>🥉Bronze - Crew Bold</li>
	</ul>
	<br>
	<a href="documents/mag1516aa.pdf" target="_blank" class="pdf">Results Men 15-16 All-Around</a>
	<ul class="podium-list">
		<li>🥇Gold - Taylor Burkhart</li>
		<li>🥈Silver - Nicolas Kuebler</li>
		<li>🥉Bronze - Asher Hong</li>
	</ul>
	<br>
	<a href="documents/mag1718af.pdf" target="_blank" class="pdf">Results Men 17-18 Events</a>	
	<a href="documents/mag1516af.pdf" target="_blank" class="pdf">Results Men 15-16 Events</a>	
<h2 class="wom">Results Women Senior Day 1</h2>
	<a href="documents/wagsend1.pdf" target="_blank" class="pdf">Results Women Senior Day 1</a>
<h2 class="wom">Results Women Junior Day 1</h2>
	<a href="documents/wagjund1.pdf" target="_blank" class="pdf">Results Women Junior Day 1</a>
<h2 class="men">Results Men Senior Day 1</h2>
	<a href="documents/magsend1.pdf" target="_blank" class="pdf">Results Men Senior Day 1</a>
<h2 class="men">Results Men Junior Day 1</h2>
<a href="documents/mag1718d1.pdf" target="_blank" class="pdf">Results Men 17-18 Day 1</a>
<a href="documents/mag1516d1.pdf" target="_blank" class="pdf">Results Men 15-16 Day 1</a>