---
title: "31st Gym-Festival 2018 Trnava"
year: 2018
startdate: 2018-06-09
enddate: 2018-06-10
country: "SVK"
category: "gym-festival-trnava"
layout: results
redirect_from: /2018/eu/svk/gym-festival.html
---

{% include resultsheader.html title="31st Gym-Festival Trnava 2018<br>Trnava (SVK)<br>2018 June 9-10" %}

<img src="images/gftrnava.jpg" alt="31st Gym-Festival Trnava 2018 Trnava (SVK) 2018 June 9-10">
<h2 class="wom">International Championships Women Senior</h2>
	<a href="documents/aa.pdf" target="_blank" class="pdf">All Around Women Senior</a>
	<a href="documents/af1vt.pdf" target="_blank" class="pdf">Vault Final Women Senior</a>
	<a href="documents/af2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women Senior</a>
	<a href="documents/af3bb.pdf" target="_blank" class="pdf">Beam Final Women Senior</a>
	<a href="documents/af4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women Senior</a>
<!-- Jun -->
<h2 class="wom">International Championships Women Junior</h2>
	<a href="documents/junaa.pdf" target="_blank" class="pdf">All Around Women Junior</a>
<h2 class="wom">Pohar Starobylej Trnavy Girls</h2>
	<a href="documents/pstteam.pdf" target="_blank" class="pdf">Teams Girls</a>
	<a href="documents/pstaa.pdf" target="_blank" class="pdf">All-Around Girls</a>
<h2 class="men">Slovak Championships Women Senior</h2>
	<a href="documents/svkaa.pdf" target="_blank" class="pdf">All Around Women Senior</a>
	<a href="documents/svkaf1vt.pdf" target="_blank" class="pdf">Vault Final Women Senior</a>
	<a href="documents/svkaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women Senior</a>
	<a href="documents/svkaf3bb.pdf" target="_blank" class="pdf">Beam Final Women Senior</a>
	<a href="documents/svkaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women Senior</a>
<h2 class="men">Slovak Championships Women Junior</h2>
	<a href="documents/junsvkaa.pdf" target="_blank" class="pdf">All Around Women Junior</a>
	<a href="documents/junsvkaf1vt.pdf" target="_blank" class="pdf">Vault Final Women Junior</a>
	<a href="documents/junsvkaf2ub.pdf" target="_blank" class="pdf">Uneven Bars Final Women Junior</a>
	<a href="documents/junsvkaf3bb.pdf" target="_blank" class="pdf">Beam Final Women Junior</a>
	<a href="documents/junsvkaf4fx.pdf" target="_blank" class="pdf">Floor Exercise Final Women Junior</a>
