---
title: "12th Ljubljana FIG World Challenge Cup"
year: 2016
startdate: 2016-04-08
enddate: 2016-04-10
country: "SLO"
category: "world-challenge-cup"
layout: results
redirect_from: /2016/eu/slo/ljubljana-challenge-cup.html
---

{% include resultsheader.html title="12th Ljubljana FIG World Challenge Cup<br>Ljubljana (SLO)<br>2016 April 8-10" %}

<img src="images/logo.jpg" alt="12th Ljubljana FIG World Challenge Cup Ljubljana (SLO) 2016 April 8-10">
<h2 class="wom">Apparatus Finals Day 2</h2>
<img src="images/magaf6hb.jpg"><br><a href="documents/magaf6hb_opt.pdf" target="_blank" class="pdf">Horizontal Bar Final Men</a><br>
<img src="images/wagaf4fx.jpg"><br>
	<a href="documents/wagaf4fx_opt.pdf" target="_blank" class="pdf">Floor Exercise Final Women</a><br>
<img src="images/magaf5pb.jpg"><br>
	<a href="documents/magaf5pb_opt.pdf" target="_blank" class="pdf">Parallel Bars Final Men</a><br>
<img src="images/wagaf3bb.jpg"><br>
	<a href="documents/wagaf3bb_opt.pdf" target="_blank" class="pdf">Beam Final Women</a><br>
<img src="images/magaf4vt.jpg"><br>
	<a href="documents/magaf4vt_opt.pdf" target="_blank" class="pdf">Vault Final Men</a>
<h2 class="men">Apparatus Finals Day 1</h2>
<img src="images/magaf3sr.jpg"><br>
	<a href="documents/magaf3sr_opt.pdf" target="_blank" class="pdf">Rings Final Men</a><br>
<img src="images/wagaf2ub.jpg"><br>
	<a href="documents/wagaf2ub_opt.pdf" target="_blank" class="pdf">Uneven Bars Final Women</a><br>
<img src="images/magaf2ph.jpg"><br>
	<a href="documents/magaf2ph_opt.pdf" target="_blank" class="pdf">Pommel Horse Final Men</a><br>
<img src="images/wagaf1vt.jpg"><br>
	<a href="documents/wagaf1vt_opt.pdf" target="_blank" class="pdf">Vault Final Women</a><br>
<img src="images/magaf1fx.jpg"><br>
	<a href="documents/magaf1fx_opt.pdf" target="_blank" class="pdf">Floor Exercise Final Men</a><br>
	<a href="documents/afday1sl.pdf" target="_blank" class="pdf">Start List</a>
<h2 class="men">Results Qualification Men</h2>
	<a href="documents/magq1fx_opt.pdf" target="_blank" class="pdf">Floor Exercise Qualification Men</a>
	<a href="documents/magq2ph_opt.pdf" target="_blank" class="pdf">Pommel Horse Qualification Men</a>
	<a href="documents/magq3sr_opt.pdf" target="_blank" class="pdf">Rings Qualification Men</a>
	<a href="documents/magq4vt_opt.pdf" target="_blank" class="pdf">Vault Qualification Men</a>
	<a href="documents/magq5pb_opt.pdf" target="_blank" class="pdf">Parallel Bars Qualification Men</a>
	<a href="documents/magq6hb_opt.pdf" target="_blank" class="pdf">Horizontal Bar Qualification Men</a>
<h2 class="wom">Results Qualification Women</h2>
	<a href="documents/wagq1vt_opt.pdf" target="_blank" class="pdf">Vault Qualification Women</a>
	<a href="documents/wagq2ub_opt.pdf" target="_blank" class="pdf">Uneven Bars Qualification Women</a>
	<a href="documents/wagq3bb_opt.pdf" target="_blank" class="pdf">Beam Qualification Women</a>
	<a href="documents/wagq4fx_opt.pdf" target="_blank" class="pdf">Floor Exercise Qualification Women</a>
<h2 class="men">Information</h2>
	<a href="documents/nomreg.pdf" target="_blank" class="pdf">Nominative Registration</a>
	<a href="documents/defreg.pdf" target="_blank" class="pdf">Definitive Registration</a>
	<a href="documents/directives.pdf" target="_blank" class="pdf">Directives</a>
	<div style="padding: 10px;">
	<b>Disciplines, categories and age:</b><br>
		<ul>
			<li>Men&rsquo;s Artistic Gymnastics - Senior 18 years and older</li>
			<li>Women&rsquo;s Artistic Gymnastics - Senior 16 years and older</li>
		</ul>
	</div>
<h2 class="men">Schedule</h2>
<table class="waa" cellpadding="6">
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Wednesday April 6</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"><br>16:30-19:30</td>
		<td style="width:460px; vertical-align:top;">Arrival of delegations<br>Training</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Thursday April 7</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-12:30<br>16:00-19:30<br>20:30-21:30</td>
		<td style="width:460px; vertical-align:top;">Training<br>Official Training<br>Technical meeting</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Friday April 8</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">09:00-11:50<br>10:30<br>10:30<br>12:00-19:15</td>
		<td style="width:460px; vertical-align:top;">Warm-up<br>MAG judges meeting<br>WAG judges meeting<br>Qualification</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Saturday April 9</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">12:00-13:45<br>12:30<br>12:30<br>14:00-16:30</td>
		<td style="width:460px; vertical-align:top;">Warm-up<br>MAG judges meeting<br>WAG judges meeting<br>Final MAG FX, PH, SR &amp WAG VT, UB</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Sunday April 10</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;">12:00-13:45<br>12:30<br>12:30<br>14:00-16:52</td>
		<td style="width:460px; vertical-align:top;">Warm-up<br>MAG judges meeting<br>WAG judges meeting<br>Final MAG VT, PB, HB &amp; WAG BB, FX</td></tr>
<tr class="one"><td colspan=2 style="font-weight:bold; color:blue;">Monday April 11</th></tr>
	<tr><td style="width:120px; vertical-align:top; text-align:center;"></td>
		<td style="width:460px; vertical-align:top;">Departure of delegations</td></tr>
</table>
