---
title: "Games of the 27th Olympiad, Sydney"
year: 2000
startdate: 2000-09-18
enddate: 2000-09-25
country: "AUS"
category: "olympics"
layout: results
---

{% include resultsheader.html title="Games of the XXVII Olympiad<br>Sydney (AUS) September 18-25, 2000" %}

<img src="/assets/images/logos/p2000og.jpg">

<h2 class="men">Full Results</h2>
<ul>
	<li><a href="/results/2000/olympics/women.html">Women's Artistic Gymnastics</a></li>
	<li><a href="/results/2000/olympics/men.html">Men's Artistic Gymnastics</a></li>
	<li><a href="/results/2000/olympics/rhythmic.html">Rhythmic Gymnastics</a></li>
	<li><a href="/results/2000/olympics/tramp.html">Trampoline</a></li>
	<br>
	<li><a href="/results/2000/olympics/menqualteams.html">Men's Artistic Gymnastics - Team Qualifications</a></li>	
	<li><a href="/results/2000/olympics/menqualaa.html">Men's Artistic Gymnastics - All Around Qualifications</a></li>	
	<li><a href="/results/2000/olympics/womenqualteams.html">Women's Artistic Gymnastics - Team Qualifications</a></li>	
	<li><a href="/results/2000/olympics/womenqualaa.html">Women's Artistic Gymnastics - All Around Qualifications</a></li>	
</ul>
<br>
<a href="documents/GA2000book.pdf" target="_blank" class="pdf">Detailed Results Book</a>

<h2 class="wom">Women's Artistic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Simona Amanar (ROU)</li>
	<li>🥈Silver - Maria Olaru (ROU)</li>
	<li>🥉Bronze - Liu Xuan (CHN)</li>
</ul>

<h3 class="left">Team Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Romania</li>
	<li>🥈Silver - Russian Federation</li>
	<li>🥉Bronze - United States of America</li>
</ul>

<h3 class="left">Apparatus Finals</h3>
<ul class="podium-list">
	<li><b>Vault</b> 🥇Gold - Elena Zamolodtchikova (RUS)</li>
	<li><b>Uneven Bars</b> 🥇Gold - Svetlana Khorkina (RUS)</li>
	<li><b>Beam</b> 🥇Gold - Liu Xuan (CHN)</li>
	<li><b>Floor Exercise</b> 🥇Gold - Elena Zamolodtchikova (RUS)</li>
</ul>

<h2 class="men">Men's Artistic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Alexei Nemov (RUS)</li>
	<li>🥈Silver - Yang Wei (CHN)</li>
	<li>🥉Bronze - Oleksandr Beresh (UKR)</li>
</ul>

<h3 class="left">Team Final</h3>
<ul class="podium-list">
	<li>🥇Gold - China</li>
	<li>🥈Silver - Ukraine</li>
	<li>🥉Bronze - Russian Federation</li>
</ul>

<h3 class="left">Apparatus Finals</h3>
<ul class="podium-list">
	<li><b>Floor Exercise</b> 🥇Gold - Igors Vihrovs (LAT)</li>
	<li><b>Pommel Horse</b> 🥇Gold - Marius Daniel Urzică (ROM)</li>
	<li><b>Rings</b> 🥇Gold - Szilveszter Csollány (HUN)</li>
	<li><b>Vault</b> 🥇Gold - Gervasio Deferr (ESP)</li>
	<li><b>Parallel Bars</b> 🥇Gold - Li Xiaopeng (CHN)</li>
	<li><b>Horizontal Bar</b> 🥇Gold - Alexei Nemov (RUS)</li>
</ul>

<h2 class="wom">Rhythmic Gymnastics - Summary</h2>

<h3 class="left">All Around Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Yulia Barsoukova (RUS)</li>
	<li>🥈Silver - Yulia Raskina (BLR)</li>
	<li>🥉Bronze - Alina Kabaeva (RUS)</li>
</ul>

<h3 class="left">Group Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Russia</li>
	<li>🥈Silver - Belarus</li>
	<li>🥉Bronze - Greece</li>
</ul>


<h2 class="wom">Trampoline - Summary</h2>

<h3 class="left">Women Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Irina Karavaeva (RUS)</li>
	<li>🥈Silver - Oxana Tsyhuleva (UKR)</li>
	<li>🥉Bronze - Karen Cockburn (CAN)</li>
</ul>

<h3 class="left">Men Final</h3>
<ul class="podium-list">
	<li>🥇Gold - Alexandre Moskalenko (RUS)</li>
	<li>🥈Silver - Ji Wallace (AUS)</li>
	<li>🥉Bronze - Mathieu Turgeon (CAN)</li>
</ul>
