---
title: "Sydney 2000 Olympics Men's Artistic Gymnastics"
year: 2000
startdate: 2000-09-18
enddate: 2000-09-25
country: "AUS"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2000/o2000m.html
- /olympics/2000/mag.html
---
	
{% include resultsheader.html title="Games of the 27th Olympiad<br>Men's Artistic Gymnastics<br>Sydney (AUS) September 18-25, 2000<br>Finals Men" %}

<!-- Author: Stanislav Mikulas -->
<!-- Date:   Nov 22 2003 -->

<a href="/results/2000/olympics/index.html"><img src="/assets/images/logos/p2000og.jpg"></a>

<!--Teams-->
<h2 class="men">Men's Team Final</h2>

<a href="documents/magteamfinal.pdf" target="_blank" class="pdf">Official Results - Men's Team Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="200">
	<col width="40" align="center">
	<colgroup span=6 align="center" width=60>
	<colgroup span=1 align="center" width=70>
<tr class="men">
	<th colspan=2>Team</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>CHINA</td><td>38.524</td><td>38.874</td><td>38.487</td><td>38.574</td><td>38.849</td><td>38.611</td><td>231.919</td></tr>
<tr class="two"><td>2</td><td>UKRAINE</td><td>37.750</td><td>38.811</td><td>38.249</td><td>38.461</td><td>38.261</td><td>38.774</td><td>230.306</td></tr>
<tr class="one"><td>3</td><td>RUSSIA</td><td>38.037</td><td>37.974</td><td>38.487</td><td>38.736</td><td>38.411</td><td>38.374</td><td>230.019</td></tr>
<tr class="two"><td>4</td><td>JAPAN</td><td>37.849</td><td>38.324</td><td>38.425</td><td>38.724</td><td>37.711</td><td>38.824</td><td>229.857</td></tr>
<tr class="one"><td>5</td><td>USA</td><td>37.600</td><td>38.099</td><td>38.111</td><td>37.937</td><td>39.024</td><td>38.212</td><td>228.983</td></tr>
<tr class="two"><td>6</td><td>ROMANIA</td><td>37.386</td><td>38.299</td><td>37.836</td><td>38.661</td><td>37.999</td><td>37.362</td><td>227.543</td></tr>
</table>
</div>

<!--AA-->
<h2 class="men">Men's Individual All Around Final</h2>

<a href="documents/magaafinal.pdf" target="_blank" class="pdf">Official Results - Men's All Around Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="200">
	<col width="40" align="center">
	<colgroup span=6 align="center" width=60>
	<colgroup span=1 align="center" width=70>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>NEMOV Alexei</td><td>RUS</td><td>9.800</td><td>9.775</td><td>9.687</td><td>9.650</td><td>9.775</td><td>9.787</td><td>58.474</td></tr> 
<tr class="two"><td>2</td><td>YANG Wei</td><td>CHN</td><td>9.700</td><td>9.750</td><td>9.712</td><td>9.712</td><td>9.750</td><td>9.737</td><td>58.361</td></tr> 
<tr class="one"><td>3</td><td>BERESH Oleksandr</td><td>UKR</td><td>9.675</td><td>9.762</td><td>9.550</td><td>9.675</td><td>9.750</td><td>9.800</td><td>58.212</td></tr> 
<tr class="two"><td>4</td><td>IVANKOV Ivan</td><td>BLR</td><td>9.575</td><td>9.725</td><td>9.762</td><td>9.500</td><td>9.700</td><td>9.762</td><td>58.024</td></tr> 
<tr class="one"><td>5</td><td>SVITLYCHNYY Oleksandr</td><td>UKR</td><td>9.600</td><td>9.675</td><td>9.525</td><td>9.725</td><td>9.725</td><td>9.700</td><td>57.950</td></tr> 
<tr class="two"><td>6</td><td>WILSON Blaine</td><td>USA</td><td>9.700</td><td>9.587</td><td>9.612</td><td>9.800</td><td>9.712</td><td>9.525</td><td>57.936</td></tr> 
<tr class="one"><td>7</td><td>BONDARENKO Alexey</td><td>RUS</td><td>9.637</td><td>9.725</td><td>9.712</td><td>9.400</td><td>9.675</td><td>9.775</td><td>57.924</td></tr> 
<tr class="two"><td>8</td><td>IOVTCHEV Iordan</td><td>BUL</td><td>9.550</td><td>9.737</td><td>9.750</td><td>9.475</td><td>9.675</td><td>9.700</td><td>57.887</td></tr> 
<tr class="one"><td>9</td><td>ZHENG Lihui</td><td>CHN</td><td>9.612</td><td>9.650</td><td>9.575</td><td>9.612</td><td>9.675</td><td>9.350</td><td>57.474</td></tr> 
<tr class="two"><td>10</td><td>LEE Joo-Hyung</td><td>KOR</td><td>9.237</td><td>9.650</td><td>9.600</td><td>9.525</td><td>9.750</td><td>9.700</td><td>57.462</td></tr> 
<tr class="one"><td>11</td><td>ORZATA Rares</td><td>ROM</td><td>9.312</td><td>9.612</td><td>9.637</td><td>9.662</td><td>9.462</td><td>9.700</td><td>57.385</td></tr> 
<tr class="two"><td>12</td><td>SAITO Yoshihiro</td><td>JPN</td><td>9.512</td><td>9.600</td><td>9.662</td><td>9.437</td><td>9.425</td><td>9.725</td><td>57.361</td></tr> 
<tr class="one"><td>13</td><td>DRAGULESCU Marian</td><td>ROM</td><td>9.637</td><td>9.300</td><td>9.562</td><td>9.562</td><td>9.487</td><td>9.550</td><td>57.098</td></tr> 
<tr class="two"><td>14</td><td>HAMM Paul</td><td>USA</td><td>9.675</td><td>9.612</td><td>9.550</td><td>9.587</td><td>9.750</td><td>8.875</td><td>57.049</td></tr> 
<tr class="one"><td>15</td><td>KARBANENKO Dimitri</td><td>FRA</td><td>9.450</td><td>9.125</td><td>9.425</td><td>9.612</td><td>9.712</td><td>9.637</td><td>56.961</td></tr> 
<tr class="two"><td>16</td><td>CUCHERAT Yann</td><td>FRA</td><td>9.262</td><td>9.662</td><td>9.575</td><td>9.212</td><td>9.612</td><td>9.600</td><td>56.923</td></tr> 
<tr class="one"><td>17</td><td>LOPEZ Eric</td><td>CUB</td><td>8.662</td><td>9.600</td><td>9.675</td><td>9.687</td><td>9.612</td><td>9.575</td><td>56.811</td></tr> 
<tr class="two"><td>18</td><td>TSUKAHARA Naoya</td><td>JPN</td><td>9.362</td><td>8.425</td><td>9.650</td><td>9.562</td><td>9.662</td><td>9.762</td><td>56.423</td></tr> 
<tr class="one"><td>19</td><td>ALECHINE Maxim</td><td>RUS</td><td>9.325</td><td>9.000</td><td>9.412</td><td>9.412</td><td>9.550</td><td>9.700</td><td>56.399</td></tr> 
<tr class="two"><td>20</td><td>VARONIAN Benjamin</td><td>FRA</td><td>9.500</td><td>8.887</td><td>9.550</td><td>8.987</td><td>9.725</td><td>9.712</td><td>56.361</td></tr> 
<tr class="one"><td>21</td><td>NONIN Dimitrij</td><td>GER</td><td>8.937</td><td>9.437</td><td>9.587</td><td>9.012</td><td>9.587</td><td>9.750</td><td>56.310</td></tr> 
<tr class="two"><td>22</td><td>CHO Seong-Min</td><td>KOR</td><td>9.262</td><td>9.250</td><td>9.550</td><td>9.600</td><td>9.662</td><td>8.900</td><td>56.224</td></tr> 
<tr class="one"><td>23</td><td>SINKEVICH Aleksei</td><td>BLR</td><td>8.750</td><td>9.587</td><td>9.500</td><td>9.137</td><td>9.575</td><td>9.512</td><td>56.061</td></tr> 
<tr class="two"><td>24</td><td>LOUNTCHEV Dimitar</td><td>BUL</td><td>9.037</td><td>9.562</td><td>9.075</td><td>9.375</td><td>9.437</td><td>9.525</td><td>56.011</td></tr> 
<tr class="one"><td>25</td><td>FUJITA Kenichi</td><td>JPN</td><td>9.512</td><td>9.637</td><td>9.600</td><td>9.575</td><td>8.750</td><td>8.800</td><td>55.874</td></tr> 
<tr class="two"><td>26</td><td>CORTES Omar</td><td>ESP</td><td>8.112</td><td>9.675</td><td>9.550</td><td>9.325</td><td>9.537</td><td>9.650</td><td>55.849</td></tr> 
<tr class="one"><td>27</td><td>ZOZULYA Roman</td><td>UKR</td><td>8.812</td><td>9.625</td><td>9.687</td><td>9.162</td><td>8.925</td><td>9.600</td><td>55.811</td></tr> 
<tr class="two"><td>28</td><td>SUCIU Ioan</td><td>ROM</td><td>8.712</td><td>9.725</td><td>9.325</td><td>9.212</td><td>9.400</td><td>9.412</td><td>55.786</td></tr> 
<tr class="one"><td>29</td><td>RIZZO Philippe</td><td>AUS</td><td>9.350</td><td>9.637</td><td>8.775</td><td>9.087</td><td>9.187</td><td>9.750</td><td>55.786</td></tr> 
<tr class="two"><td>30</td><td>LAMELAS Lazaro</td><td>CUB</td><td>8.775</td><td>9.262</td><td>9.437</td><td>9.262</td><td>9.275</td><td>9.575</td><td>55.586</td></tr> 
<tr class="one"><td>31</td><td>CANO Victor</td><td>ESP</td><td>9.087</td><td>9.650</td><td>9.462</td><td>8.825</td><td>8.875</td><td>9.662</td><td>55.561</td></tr> 
<tr class="two"><td>32</td><td>HEAP Craig</td><td>GBR</td><td>9.112</td><td>9.262</td><td>9.450</td><td>9.037</td><td>9.275</td><td>9.212</td><td>55.348</td></tr> 
<tr class="one"><td>33</td><td>PAVLOVSKY Ivan</td><td>BLR</td><td>8.925</td><td>9.500</td><td>9.312</td><td>9.437</td><td>8.375</td><td>9.362</td><td>54.911</td></tr> 
<tr class="two"><td>34</td><td>BARRENECHEA Alejandro</td><td>ESP</td><td>8.162</td><td>8.612</td><td>9.575</td><td>9.237</td><td>9.587</td><td>9.237</td><td>54.410</td></tr> 
<tr class="one"><td>35</td><td>BUSNARI Alberto</td><td>ITA</td><td>8.300</td><td>9.550</td><td>8.400</td><td>8.362</td><td>9.537</td><td>9.662</td><td>53.811</td></tr> 
<tr class="two"><td>36</td><td>CASSINA Igor</td><td>ITA</td><td>7.937</td><td>9.350</td><td>8.412</td><td>9.175</td><td>8.812</td><td>9.687</td><td>53.373</td></tr> 
</table>
</div>

<h2 class="men">Men's Apparatus Finals</h2>
<a href="documents/magef.pdf" target="_blank" class="pdf">Official Results - Men's Apparatus Finals</a>

<h2 class="men">Men's Floor Exercise Final</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="180">
	<col width="30" align="center">
	<colgroup span=9 align="center" width=50>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>SV</th><th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>J6</th><th>Pen</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>VIHROVS Igors</td><td>LAT</td><td>10.000</td><td>9.850</td><td>9.850</td>
	<td>9.800</td><td>9.800</td><td>9.800</td><td>9.800</td><td></td><td>9.812</td></tr> 
<tr class="two"><td>2</td><td>NEMOV Alexei</td><td>RUS</td><td>10.000</td><td>9.800</td><td>9.750</td>
	<td>9.800</td><td>9.850</td><td>9.750</td><td>9.850</td><td></td><td>9.800</td></tr> 
<tr class="one"><td>3</td><td>IOVTCHEV Iordan</td><td>BUL </td><td>10.000</td><td>9.800</td><td>9.800</td>
	<td>9.750</td><td>9.800</td><td>9.650</td><td>9.800</td><td></td><td>9.787</td></tr> 
<tr class="two"><td>4</td><td>YANG Wei</td><td>CHN</td><td>10.000</td><td>9.700</td><td>9.650</td>
	<td>9.800</td><td>9.800</td><td>9.750</td><td>9.750</td><td></td><td>9.750</td></tr> 
<tr class="one"><td>5</td><td>LI Xiaopeng</td><td>CHN</td><td>10.000</td><td>9.750</td><td>9.650</td>
	<td>9.750</td><td>9.750</td><td>9.700</td><td>9.800</td><td></td><td>9.737</td></tr> 
<tr class="two"><td>6</td><td>DRAGULESCU Mar.</td><td>ROM</td><td>10.000</td><td>9.700</td><td>9.500</td>
	<td>9.750</td><td>9.750</td><td>9.650</td><td>9.750</td><td></td><td>9.712</td></tr> 
<tr class="one"><td>7</td><td>HAMM Morgan</td><td>USA</td><td>9.900</td><td>9.450</td><td>9.100</td>
	<td>9.250</td><td>9.200</td><td>9.200</td><td>9.400</td><td></td><td>9.262</td></tr> 
<tr class="two"><td>8</td><td>PODGORNYI Evg.</td><td>RUS</td><td>9.600</td><td>8.600</td><td>8.400</td>
	<td>8.600</td><td>8.950</td><td>8.600</td><td>8.800</td><td>0.1</td><td>8.550</td></tr> 
</table>
</div>

<!--PH-->
<h2 class="men">Men's Pommel Horse Final</a></h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="180">
	<col width="30" align="center">
	<colgroup span=9 align="center" width=50>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>SV</th><th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>J6</th><th>Pen</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>URZICA Marius</td><td>ROM</td><td>10.000</td><td>9.850</td><td>9.850</td>
	<td>9.900</td><td>9.850</td><td>9.900</td><td>9.850</td><td></td><td>9.862</td></tr> 
<tr class="two"><td>2</td><td>POUJADE Eric</td><td>FRA</td><td>10.000</td><td>9.800</td><td>9.800</td>
	<td>9.850</td><td>9.850</td><td>9.850</td><td>9.750</td><td></td><td>9.825</td></tr> 
<tr class="one"><td>3</td><td>NEMOV Alexei</td><td>RUS</td><td>10.000</td><td>9.800</td><td>9.800</td>
	<td>9.800</td><td>9.800</td><td>9.800</td><td>9.800</td><td></td><td>9.800</td></tr> 
<tr class="two"><td>4</td><td>LEE Jang-Hyung</td><td>KOR</td><td>10.000</td><td>9.800</td><td>9.750</td>
	<td>9.750</td><td>9.800</td><td>9.750</td><td>9.800</td><td></td><td>9.775</td></tr> 
<tr class="one"><td>5</td><td>PAE Kil-Su</td><td>PRK</td><td>10.000</td><td>9.800</td><td>9.850</td>
	<td>9.750</td><td>9.700</td><td>9.750</td><td>9.750</td><td></td><td>9.762</td></tr> 
<tr class="two"><td>6</td><td>SUPOLA Zoltan</td><td>HUN</td><td>10.000</td><td>9.750</td><td>9.800</td>
	<td>9.800</td><td>9.750</td><td>9.750</td><td>9.700</td><td></td><td>9.762</td></tr> 
<tr class="one"><td>7</td><td>BERESH Oleksandr</td><td>UKR</td><td>10.000</td><td>9.700</td><td>9.750</td>
	<td>9.700</td><td>9.750</td><td>9.650</td><td>9.700</td><td></td><td>9.712</td></tr> 
<tr class="two"><td>8</td><td>KRIOUKOV Nikolai</td><td>RUS</td><td>10.000</td><td>9.650</td><td>9.700</td>
<td>9.700</td><td>9.750</td><td>9.700</td><td>9.700</td><td></td><td>9.700</td></tr> 
</table>
</div>

<!--SR-->
<h2 class="men">Men's Rings Final</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="180">
	<col width="30" align="center">
	<colgroup span=9 align="center" width=50>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>SV</th><th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>J6</th><th>Pen</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>CSOLLANY Szilveszter</td><td>HUN</td><td>10.000</td><td>9.850</td><td>9.850</td>
	<td>9.750</td><td>9.850</td><td>9.850</td><td>9.900</td><td></td><td>9.850</td></tr> 
<tr class="two"><td>2</td><td>TAMPAKOS Dimosthenis</td><td>GRE</td><td>10.000</td><td>9.800</td><td>9.700</td>
	<td>9.850</td><td>9.750</td><td>9.750</td><td>9.750</td><td></td><td>9.762</td></tr> 
<tr class="one"><td>3</td><td>IOVTCHEV Iordan</td><td>BUL</td><td>10.000</td><td>9.800</td><td>9.700</td>
	<td>9.750</td><td>9.750</td><td>9.750</td><td>9.700</td><td></td><td>9.737</td></tr> 
<tr class="two"><td>4</td><td>YANG Wei</td><td>CHN</td><td>10.000</td><td>9.750</td><td>9.700</td>
	<td>9.700</td><td>9.700</td><td>9.700</td><td>9.800</td><td></td><td>9.712</td></tr> 
<tr class="one"><td>5</td><td>IVANKOV Ivan</td><td>BLR</td><td>10.000</td><td>9.700</td><td>9.600</td>
	<td>9.800</td><td>9.650</td><td>9.750</td><td>9.700</td><td></td><td>9.700</td></tr> 
<tr class="two"><td>6</td><td>TOBA Marius</td><td>GER</td><td>10.000</td><td>9.650</td><td>9.650</td>
	<td>9.600</td><td>9.650</td><td>9.750</td><td>9.750</td><td></td><td>9.675</td></tr> 
<tr class="one"><td>7</td><td>IWAI Norimasa</td><td>JPN</td><td>10.000</td><td>9.700</td><td>9.600</td>
	<td>9.700</td><td>9.650</td><td>9.650</td><td>9.650</td><td></td><td>9.662</td></tr> 
<tr class="two"><td>8</td><td>ZOZULYA Roman</td><td>UKR</td><td>10.000</td><td>9.650</td><td>9.600</td>
	<td>9.650</td><td>9.650</td><td>9.650</td><td>9.600</td><td></td><td>9.637</td></tr> 
</table>
</div>

<!--VT-->
<h2 class="men">Men's Vault Final</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="180">
	<col width=10>
	<col width="30" align="center">
	<colgroup span=10 align="center" width=42>
<tr class="men">
	<th colspan=4>Gymnast</th>
	<th>SV</th><th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>J6</th><th>Pen</th><th>Score</th><th>Final</th></tr>
<tr class="one"><td rowspan=2 valign=top>1</td>
	<td rowspan=2 valign=top>DEFERR Gervasio</td>
	<td rowspan=2 valign=top>ESP</td>
	<td>1</td><td>10.000</td><td>9.800</td>
	<td>9.800</td><td>9.800</td><td>9.800</td><td>9.800</td><td>9.800</td><td></td>
	<td>9.800</td><td rowspan=2 valign=bottom>9.712</td></tr>
	<tr class="one"><td>2</td><td>9.800</td><td>9.600</td><td>9.600</td>
	<td>9.650</td><td>9.650</td><td>9.600</td><td>9.650</td><td></td><td>9.625</td></tr>
<tr class="two"><td rowspan=2 valign=top>2</td>
	<td rowspan=2 valign=top>BONDARENKO Alexey</td>
	<td rowspan=2 valign=top>RUS</td><td>1</td><td>10.000</td><td>9.600</td>
	<td>9.600</td><td>9.500</td><td>9.600</td><td>9.600</td><td>9.600</td><td></td>
	<td>9.600</td><td rowspan=2 valign=bottom>9.587</td></tr>
	<tr class="two"><td>2</td><td>10.000</td><td>9.500</td><td>9.550</td>
	<td>9.600</td><td>9.550</td><td>9.600</td><td>9.600</td><td></td><td>9.575</td></tr>       
<tr class="one"><td rowspan=2 valign=top>3</td>
	<td rowspan=2 valign=top>BLANIK Leszek</td>
	<td rowspan=2 valign=top>POL</td>
	<td>1</td><td>10.000</td><td>9.100</td>
	<td>9.300</td><td>9.200</td><td>9.350</td><td>9.100</td><td>9.300</td><td></td>
	<td>9.225</td><td rowspan=2 valign=bottom>9.475</td></tr>
	<tr class="one"><td>2</td><td>10.000</td><td>9.750</td><td>9.750</td>
	<td>9.750</td><td>9.700</td><td>9.700</td><td>9.700</td><td></td><td>9.725</td></tr>
<tr class="two"><td rowspan=2 valign=top>4</td>
	<td rowspan=2 valign=top>NEMOV Alexei</td>
	<td rowspan=2 valign=top>RUS</td>
	<td>1</td><td>10.000</td><td>9.100</td>
	<td>9.200</td><td>9.300</td><td>9.250</td><td>9.300</td><td>9.300</td><td></td>
	<td>9.262</td><td rowspan=2 valign=bottom>9.456</td></tr>
	<tr class="two"><td>2</td><td>10.000</td><td>9.550</td><td>9.650</td>
	<td>9.650</td><td>9.650</td><td>9.650</td><td>9.750</td><td></td><td>9.650</td></tr>
<tr class="one"><td rowspan=2 valign=top>5</td>
	<td rowspan=2 valign=top>FEDORCHENKO Sergey</td>
	<td rowspan=2 valign=top>KAZ</td>
	<td>1</td><td>10.000</td><td>9.200</td>
	<td>9.200</td><td>9.250</td><td>9.300</td><td>9.200</td><td>9.200</td><td></td>
	<td>9.212</td><td rowspan=2 valign=bottom>9.399</td></tr>
	<tr class="one"><td>2</td><td>10.000</td><td>9.550</td><td>9.600</td>
	<td>9.600</td><td>9.600</td><td>9.600</td><td>9.500</td><td></td><td>9.587</td></tr>
<tr class="two"><td rowspan=2 valign=top>6</td>
	<td rowspan=2 valign=top>WILSON Blaine</td>
	<td rowspan=2 valign=top>USA</td>
	<td>1</td><td>10.000</td><td>9.550</td>
	<td>9.300</td><td>9.650</td><td>9.450</td><td>9.400</td><td>9.200</td><td></td>
	<td>9.425</td><td rowspan=2 valign=bottom>9.362</td></tr>
	<tr class="two"><td>2</td><td>9.600</td><td>9.200</td><td>9.350</td>
	<td>9.300</td><td>9.400</td><td>9.200</td><td>9.350</td><td></td><td>9.300</td></tr>
<tr class="one"><td rowspan=2 valign=top>7</td>
	<td rowspan=2 valign=top>MELISSANIDIS Ioannis</td>
	<td rowspan=2 valign=top>GRE</td>
	<td>1</td><td>10.000</td><td>9.300</td>
	<td>9.200</td><td>9.100</td><td>9.200</td><td>9.200</td><td>9.250</td><td></td>
	<td>9.212</td><td rowspan=2 valign=bottom>9.262</td></tr>
	<tr class="one"><td>2</td><td>10.000</td><td>9.200</td><td>9.300</td>
	<td>9.400</td><td>9.350</td><td>9.300</td><td>9.300</td><td></td><td>9.312</td></tr>
<tr class="two"><td rowspan=2 valign=top>8</td>
	<td rowspan=2 valign=top>REHM Dieter</td>
	<td rowspan=2 valign=top>SUI</td>
	<td>1</td><td>10.000</td><td>9.200</td><td>9.200</td>
	<td>9.300</td><td>9.250</td><td>9.200</td><td>9.200</td><td></td>
	<td>9.212</td><td rowspan=2 valign=bottom>9.006</td></tr>
	<tr class="two"><td>2</td><td>9.800</td><td>8.800</td><td>9.100</td>
	<td>8.900</td><td>8.600</td><td>8.700</td><td>8.800</td><td></td><td>8.800</td></tr>
</table>
</div>

<!--PB-->
<h2 class="men">Men's Parallel Bars Final</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="180">
	<col width="30" align="center">
	<colgroup span=9 align="center" width=50>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>SV</th><th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>J6</th><th>Pen</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>LI Xiaopeng</td><td>CHN</td><td>10.000</td><td>9.800</td><td>9.700</td>
	<td>9.850</td><td>9.850</td><td>9.800</td><td>9.850</td><td></td><td>9.825</td></tr>
<tr class="two"><td>2</td><td>LEE Joo-Hyung</td><td>KOR</td><td>10.000</td><td>9.800</td><td>9.800</td>
	<td>9.800</td><td>9.850</td><td>9.850</td><td>9.800</td><td></td><td>9.812</td></tr>
<tr class="one"><td>3</td><td>NEMOV Alexei</td><td>RUS</td><td>10.000</td><td>9.850</td><td>9.800</td>
	<td>9.850</td><td>9.750</td><td>9.750</td><td>9.800</td><td></td><td>9.800</td></tr>
<tr class="two"><td>4</td><td>JUNG Jin-Soo</td><td>KOR</td><td>10.000</td><td>9.750</td><td>9.800</td>
	<td>9.750</td><td>9.850</td><td>9.800</td><td>9.800</td><td></td><td>9.787</td></tr>
<tr class="one"><td>5</td><td>IVANKOV Ivan</td><td>BLR</td><td>10.000</td><td>9.800</td><td>9.800</td>
	<td>9.750</td><td>9.750</td><td>9.750</td><td>9.800</td><td></td><td>9.775</td></tr>
<tr class="two"><td>6</td><td>CUCHERAT Yann</td><td>FRA</td><td>10.000</td><td>9.750</td><td>9.650</td>
	<td>9.550</td><td>9.750</td><td>9.750</td><td>9.750</td><td></td><td>9.725</td></tr>
<tr class="one"><td>7</td><td>HUANG Xu</td><td>CHN</td><td>10.000</td><td>9.750</td><td>9.600</td>
	<td>9.600</td><td>9.550</td><td>9.650</td><td>9.750</td><td></td><td>9.650</td></tr>
<tr class="two"><td>8</td><td>URZICA Marius</td><td>ROM</td><td>9.600</td><td>9.150</td><td>8.800</td>
	<td>8.850</td><td>8.900</td><td>8.900</td><td>8.900</td><td></td><td>8.887</td></tr>
</table>
</div>

<!--HB-->
<h2 class="men">Men's Horizontal Bar Final</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="180">
	<col width="30" align="center">
	<colgroup span=9 align="center" width=50>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>SV</th><th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>J6</th><th>Pen</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>NEMOV Alexei</td><td>RUS</td><td>10.000</td><td>9.800</td><td>9.850</td>
	<td>9.700</td><td>9.800</td><td>9.750</td><td>9.800</td><td></td><td>9.787</td></tr>
<tr class="two"><td>2</td><td>VARONIAN Benjam.</td><td>FRA</td><td>10.000</td><td>9.800</td><td>9.800</td>
	<td>9.750</td><td>9.800</td><td>9.800</td><td>9.750</td><td></td><td>9.787</td></tr>
<tr class="one"><td>3</td><td>LEE Joo-Hyung</td><td>KOR</td><td>10.000</td><td>9.750</td><td>9.650</td>
	<td>9.750</td><td>9.800</td><td>9.800</td><td>9.800</td><td></td><td>9.775</td></tr>
<tr class="two"><td>4</td><td>BONDARENKO Alex.</td><td>RUS</td><td>10.000</td><td>9.750</td><td>9.750</td>
	<td>9.750</td><td>9.800</td><td>9.800</td><td>9.750</td><td></td><td>9.762</td></tr>
<tr class="one"><td>5</td><td>BERESH Oleksandr</td><td>UKR</td><td>10.000</td><td>9.750</td><td>9.800</td>
	<td>9.650</td><td>9.750</td><td>9.750</td><td>9.750</td><td></td><td>9.750</td></tr>
<tr class="two"><td>6</td><td>GIORGADZE Ilia</td><td>GEO</td><td>10.000</td><td>9.500</td><td>9.650</td>
	<td>9.550</td><td>9.700</td><td>9.700</td><td>9.600</td><td></td><td>9.625</td></tr>
<tr class="one"><td>7</td><td>REHM Dieter</td><td>SUI</td><td>9.900</td><td>8.500</td><td>8.900</td>
	<td>8.900</td><td>9.000</td><td>9.000</td><td>8.900</td><td></td><td>8.925</td></tr>
<tr class="two"><td>8</td><td>TSUKAHARA Naoya</td><td>JPN</td><td>10.000</td><td>8.900</td><td>8.700</td>
	<td>8.800</td><td>8.900</td><td>8.900</td><td>8.700</td><td></td><td>8.825</td></tr>
</table>
</div>