---
title: "Sydney 2000 Olympics Men's All Around Qualifications"
year: 2000
startdate: 2000-09-18
enddate: 2000-09-25
country: "AUS"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2000/o2000mq.html
- /olympics/2000/magqual.html
---
	
{% include resultsheader.html title="Games of the 27th Olympiad<br>Men's Artistic Gymnastics<br>Sydney (AUS) September 18-25, 2000<br>All Around Qualifications Men" %}

<a href="/results/2000/olympics/index.html"><img src="/assets/images/logos/p2000og.jpg"></a>

<!--01-->
<h2 class="men">Men's All Around Qualification - Ranks 1-30</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="200">
	<col width="40" align="center">
	<colgroup span=6 align="center" width=60>
	<colgroup span=1 align="center" width=70>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>NEMOV Alexei</td><td>RUS</td><td>9.800</td><td>9.787</td><td>9.600</td><td>9.712</td><td>9.675</td><td>9.787</td><td>58.361</td></tr>
<tr class="two"><td>2</td><td>BERESH Oleksandr</td><td>UKR</td><td>9.612</td><td>9.775</td><td>9.550</td><td>9.675</td><td>9.650</td><td>9.787</td><td>58.049</td></tr>
<tr class="one"><td>3</td><td>BONDARENKO Alexey</td><td>RUS</td><td>9.475</td><td>9.712</td><td>9.600</td><td>9.750</td><td>9.525</td><td>9.750</td><td>57.812</td></tr>
<tr class="two"><td>4</td><td>IOVTCHEV Iordan</td><td>BUL</td><td>9.650</td><td>9.587</td><td>9.775</td><td>9.350</td><td>9.612</td><td>9.625</td><td>57.599</td></tr>
<tr class="one"><td>5</td><td>YANG Wei</td><td>CHN</td><td>9.612</td><td>9.687</td><td>9.650</td><td>9.675</td><td>9.225</td><td>9.600</td><td>57.449</td></tr>
<tr class="two"><td>6</td><td>HAMM Paul</td><td>USA</td><td>9.475</td><td>9.562</td><td>9.512</td><td>9.700</td><td>9.575</td><td>9.612</td><td>57.436</td></tr>
<tr class="one"><td>7</td><td>DRAGULESCU Marian</td><td>ROM</td><td>9.700</td><td>9.500</td><td>9.575</td><td>9.637</td><td>9.625</td><td>9.312</td><td>57.349</td></tr>
<tr class="two"><td>8</td><td>ZHENG Lihui</td><td>CHN</td><td>9.587</td><td>9.675</td><td>9.575</td><td>9.512</td><td>9.550</td><td>9.412</td><td>57.311</td></tr>
<tr class="one"><td>9</td><td>SVITLYCHNYY Oleksandr</td><td>UKR</td><td>9.225</td><td>9.712</td><td>9.562</td><td>9.512</td><td>9.575</td><td>9.700</td><td>57.286</td></tr>
<tr class="two"><td>10</td><td>TSUKAHARA Naoya</td><td>JPN</td><td>9.162</td><td>9.637</td><td>9.625</td><td>9.612</td><td>9.200</td><td>9.750</td><td>56.986</td></tr>
<tr class="one"><td>11</td><td>IVANKOV Ivan</td><td>BLR</td><td>8.925</td><td>9.625</td><td>9.675</td><td>9.350</td><td>9.662</td><td>9.712</td><td>56.949</td></tr>
<tr class="two"><td>12</td><td>GIORGADZE Ilia</td><td>GEO</td><td>9.337</td><td>9.525</td><td>9.450</td><td>9.262</td><td>9.637</td><td>9.737</td><td>56.948</td></tr>
<tr class="one"><td>13</td><td>CHO Seong-Min</td><td>KOR</td><td>9.350</td><td>9.675</td><td>9.512</td><td>9.700</td><td>9.675</td><td>9.025</td><td>56.937</td></tr>
<tr class="two"><td>14</td><td>WILSON Blaine</td><td>USA</td><td>9.025</td><td>9.462</td><td>9.612</td><td>9.800</td><td>9.312</td><td>9.650</td><td>56.861</td></tr>
<tr class="one"><td>15</td><td>SUCIU Ioan</td><td>ROM</td><td>9.437</td><td>9.712</td><td>9.425</td><td>9.350</td><td>9.612</td><td>9.237</td><td>56.773</td></tr>
<tr class="two"><td>16</td><td>SINKEVICH Aleksei</td><td>BLR</td><td>9.462</td><td>9.587</td><td>9.462</td><td>9.312</td><td>9.287</td><td>9.512</td><td>56.622</td></tr>
<tr class="one"><td>17</td><td>JUNG Jin-Soo</td><td>KOR</td><td>8.850</td><td>9.500</td><td>9.512</td><td>9.650</td><td>9.775</td><td>9.287</td><td>56.574</td></tr>
<tr class="two"><td>18</td><td>FUJITA Kenichi</td><td>JPN</td><td>9.425</td><td>9.587</td><td>9.487</td><td>9.662</td><td>8.812</td><td>9.587</td><td>56.560</td></tr>
<tr class="one"><td>19</td><td>ORZATA Rares</td><td>ROM</td><td>9.337</td><td>9.500</td><td>9.637</td><td>9.637</td><td>9.162</td><td>9.287</td><td>56.560</td></tr>
<tr class="two"><td>20</td><td>SAITO Yoshihiro</td><td>JPN</td><td>9.150</td><td>9.525</td><td>9.575</td><td>9.562</td><td>8.975</td><td>9.700</td><td>56.487</td></tr>
<tr class="one"><td>21</td><td>KARBANENKO Dimitri</td><td>FRA</td><td>9.600</td><td>9.050</td><td>9.300</td><td>9.275</td><td>9.537</td><td>9.662</td><td>56.424</td></tr>
<tr class="two"><td>22</td><td>PAVLOVSKY Ivan</td><td>BLR</td><td>9.350</td><td>9.325</td><td>9.337</td><td>9.350</td><td>9.462</td><td>9.550</td><td>56.374</td></tr>
<tr class="one"><td>23</td><td>CUCHERAT Yann</td><td>FRA</td><td>8.512</td><td>9.550</td><td>9.537</td><td>9.312</td><td>9.712</td><td>9.700</td><td>56.323</td></tr>
<tr class="two"><td>24</td><td>ALECHINE Maxim</td><td>RUS</td><td>9.287</td><td>9.100</td><td>9.575</td><td>9.575</td><td>8.950</td><td>9.787</td><td>56.274</td></tr>
<tr class="one"><td>25</td><td>PODGORNYI Evgueni</td><td>RUS</td><td>9.625</td><td>9.125</td><td>9.462</td><td>9.387</td><td>9.512</td><td>9.162</td><td>56.273</td></tr>
<tr class="two"><td>26</td><td>VIHROVS Igors</td><td>LAT</td><td>9.662</td><td>8.462</td><td>9.375</td><td>9.587</td><td>9.500</td><td>9.600</td><td>56.186</td></tr>
<tr class="one"><td>27</td><td>VARONIAN Benjamin</td><td>FRA</td><td>9.287</td><td>9.100</td><td>9.525</td><td>8.987</td><td>9.525</td><td>9.737</td><td>56.161</td></tr>
<tr class="two"><td>28</td><td>LOPEZ Eric</td><td>CUB</td><td>8.975</td><td>9.500</td><td>9.637</td><td>9.537</td><td>9.062</td><td>9.412</td><td>56.123</td></tr>
<tr class="one"><td>29</td><td>NONIN Dimitrij</td><td>GER</td><td>8.900</td><td>9.500</td><td>9.550</td><td>8.975</td><td>9.437</td><td>9.687</td><td>56.049</td></tr>
<tr class="two"><td>30</td><td>WECKER Andreas</td><td>GER</td><td>8.962</td><td>9.675</td><td>9.250</td><td>8.912</td><td>9.550</td><td>9.662</td><td>56.011</td></tr>
</table>
</div>

<!--31-->
<h2 class="men">Men's All Around Qualification - Ranks 31-60</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="200">
	<col width="40" align="center">
	<colgroup span=6 align="center" width=60>
	<colgroup span=1 align="center" width=70>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>31</td><td>LEE Joo-Hyung</td><td>KOR</td><td>8.712</td><td>9.650</td><td>9.050</td><td>9.012</td><td>9.800</td><td>9.762</td><td>55.986</td></tr>
<tr class="two"><td>32</td><td>ZOZULYA Roman</td><td>UKR</td><td>8.687</td><td>9.637</td><td>9.650</td><td>9.562</td><td>8.800</td><td>9.587</td><td>55.923</td></tr>
<tr class="one"><td>33</td><td>PESCARU Florentin</td><td>ROM</td><td>8.850</td><td>9.562</td><td>9.237</td><td>9.587</td><td>9.375</td><td>9.212</td><td>55.823</td></tr>
<tr class="two"><td>34</td><td>CANO Victor</td><td>ESP</td><td>8.725</td><td>9.737</td><td>9.337</td><td>9.037</td><td>9.412</td><td>9.500</td><td>55.748</td></tr>
<tr class="one"><td>35</td><td>LAMELAS Lazaro</td><td>CUB</td><td>9.137</td><td>9.437</td><td>9.387</td><td>9.312</td><td>8.887</td><td>9.562</td><td>55.722</td></tr>
<tr class="two"><td>36</td><td>McCAIN Stephen</td><td>USA</td><td>9.225</td><td>8.850</td><td>9.462</td><td>8.987</td><td>9.500</td><td>9.662</td><td>55.686</td></tr>
<tr class="one"><td>37</td><td>CORTES Omar</td><td>ESP</td><td>8.237</td><td>9.125</td><td>9.537</td><td>9.350</td><td>9.300</td><td>9.512</td><td>55.061</td></tr>
<tr class="two"><td>38</td><td>LOUNTCHEV Dimitar</td><td>BUL</td><td>9.012</td><td>8.725</td><td>9.075</td><td>9.337</td><td>9.312</td><td>9.487</td><td>54.948</td></tr>
<tr class="one"><td>39</td><td>BARRENECHEA Alejandro</td><td>ESP</td><td>9.225</td><td>8.912</td><td>9.562</td><td>9.212</td><td>8.750</td><td>9.250</td><td>54.911</td></tr>
<tr class="two"><td>40</td><td>BUSNARI Alberto</td><td>ITA</td><td>9.162</td><td>9.650</td><td>8.362</td><td>8.637</td><td>9.175</td><td>9.700</td><td>54.686</td></tr>
<tr class="one"><td>41</td><td>HEAP Craig</td><td>GBR</td><td>9.137</td><td>8.800</td><td>9.462</td><td>8.825</td><td>9.075</td><td>9.212</td><td>54.511</td></tr>
<tr class="two"><td>42</td><td>REHM Dieter</td><td>SUI</td><td>8.025</td><td>8.587</td><td>8.862</td><td>9.725</td><td>9.487</td><td>9.737</td><td>54.423</td></tr>
<tr class="one"><td>43</td><td>COFINO Saul</td><td>ESP</td><td>9.462</td><td>9.637</td><td>9.175</td><td>9.275</td><td>7.600</td><td>9.137</td><td>54.286</td></tr>
<tr class="two"><td>44</td><td>RIZZO Philippe</td><td>AUS</td><td>9.312</td><td>9.225</td><td>8.837</td><td>9.037</td><td>9.237</td><td>8.475</td><td>54.123</td></tr>
<tr class="one"><td>45</td><td>CASSINA Igor</td><td>ITA</td><td>8.387</td><td>9.500</td><td>8.537</td><td>9.300</td><td>8.737</td><td>9.650</td><td>54.111</td></tr>
<tr class="two"><td>46</td><td>SOLBERG Flemming</td><td>NOR</td><td>8.300</td><td>8.875</td><td>8.625</td><td>9.400</td><td>9.325</td><td>9.450</td><td>53.975</td></tr>
<tr class="one"><td>47</td><td>ISTRIA Damian</td><td>AUS</td><td>9.012</td><td>8.175</td><td>9.462</td><td>9.275</td><td>8.937</td><td>9.112</td><td>53.973</td></tr>
<tr class="two"><td>48</td><td>KIM Dong-Hwa</td><td>KOR</td><td>8.112</td><td>9.300</td><td>8.187</td><td>9.225</td><td>9.250</td><td>9.050</td><td>53.124</td></tr>
<tr class="one"><td>49</td><td>LIZARDI Diego</td><td>PUR</td><td>8.537</td><td>8.000</td><td>9.162</td><td>9.137</td><td>8.275</td><td>9.150</td><td>52.261</td></tr>
<tr class="two"><td>50</td><td>ALEXANDERSSON Runar</td><td>ISL</td><td>8.225</td><td>7.975</td><td>8.312</td><td>8.600</td><td>9.462</td><td>9.575</td><td>52.149</td></tr>
<tr class="one"><td>51</td><td>LIN Yung-Hsi</td><td>TPE</td><td>9.225</td><td>8.387</td><td>8.150</td><td>9.287</td><td>8.650</td><td>7.975</td><td>51.674</td></tr>
<tr class="two"><td>52</td><td>PHILLIPS David</td><td>NZL</td><td>8.650</td><td>6.725</td><td>7.962</td><td>9.087</td><td>8.450</td><td>8.587</td><td>49.461</td></tr>
<tr class="one"><td>53</td><td>PAE Kil-Su</td><td>PRK</td><td>7.550</td><td>9.762</td><td>6.375</td><td>8.537</td><td>8.237</td><td>7.950</td><td>48.411</td></tr>
<tr class="two"><td>54</td><td>LI Xiaopeng</td><td>CHN</td><td>9.725</td><td></td><td>9.600</td><td>9.225</td><td>9.762</td><td>9.650</td><td>47.962</td></tr>
<tr class="one"><td>55</td><td>XING Aowei</td><td>CHN</td><td>9.500</td><td>9.725</td><td></td><td>9.237</td><td>9.575</td><td>9.537</td><td>47.574</td></tr>
<tr class="two"><td>56</td><td>KRIOUKOV Nikolai</td><td>RUS</td><td></td><td>9.750</td><td>9.537</td><td>9.612</td><td>8.812</td><td>9.625</td><td>47.336</td></tr>
<tr class="one"><td>57</td><td>HAMM Morgan</td><td>USA</td><td>9.612</td><td>9.400</td><td>9.425</td><td>9.350</td><td>9.475</td><td></td><td>47.262</td></tr>
<tr class="two"><td>58</td><td>HARADA Mutsumi</td><td>JPN</td><td>9.175</td><td>9.450</td><td>9.487</td><td></td><td>9.262</td><td>9.600</td><td>46.974</td></tr>
<tr class="one"><td>59</td><td>GONCHAROV Valeriy</td><td>UKR</td><td></td><td>9.550</td><td>9.337</td><td>9.537</td><td>9.162</td><td>9.025</td><td>46.611</td></tr>
<tr class="two"><td>60</td><td>NIKIFEROW Jan-Peter</td><td>GER</td><td>8.962</td><td>9.700</td><td></td><td>9.625</td><td>8.975</td><td>9.325</td><td>46.587</td></tr>
</table>
</div>

<!--61-->
<h2 class="men">Men's All Around Qualification - Ranks 61-97</h2>
<div class="table-scroll" tabindex="-1">
<table class="maa">
	<col width="20" align="right">
	<col width="200">
	<col width="40" align="center">
	<colgroup span=6 align="center" width=60>
	<colgroup span=1 align="center" width=70>
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>FX</th><th>PH</th><th>SR</th><th>VT</th><th>PB</th><th>HB</th><th>Total</th></tr>
<tr class="one"><td>61</td><td>PFEIFER Sergej</td><td>GER</td><td>9.137</td><td>9.200</td><td>9.600</td><td></td><td>9.600</td><td>9.012</td><td>46.549</td></tr>
<tr class="two"><td>62</td><td>YORDANOV Deyan</td><td>BUL</td><td>8.200</td><td>9.237</td><td></td><td>8.950</td><td>9.237</td><td>8.650</td><td>44.274</td></tr>
<tr class="one"><td>63</td><td>MAREE Florent</td><td>FRA</td><td>8.550</td><td></td><td>9.162</td><td>9.050</td><td>9.650</td><td>7.675</td><td>44.087</td></tr>
<tr class="two"><td>64</td><td>VETZEV Vassil</td><td>BUL</td><td>8.325</td><td>8.875</td><td>8.325</td><td></td><td>9.150</td><td>8.687</td><td>43.362</td></tr>
<tr class="one"><td>65</td><td>TOWNSEND Sean</td><td>USA</td><td>9.350</td><td></td><td></td><td>9.650</td><td>9.625</td><td>9.712</td><td>38.337</td></tr>
<tr class="two"><td>66</td><td>KASAMATSU Akihiro</td><td>JPN</td><td>9.350</td><td>9.662</td><td></td><td>9.662</td><td></td><td>9.637</td><td>38.311</td></tr>
<tr class="one"><td>67</td><td>PERESHKURA Valeriy</td><td>UKR</td><td>9.462</td><td></td><td></td><td>9.562</td><td>9.512</td><td>9.700</td><td>38.236</td></tr>
<tr class="two"><td>68</td><td>HUANG Xu</td><td>CHN</td><td></td><td>9.687</td><td>9.012</td><td></td><td>9.675</td><td>9.625</td><td>37.999</td></tr>
<tr class="one"><td>69</td><td>SHOSTAK Aleksandr</td><td>BLR</td><td></td><td>9.462</td><td>9.537</td><td></td><td>9.412</td><td>9.562</td><td>37.973</td></tr>
<tr class="two"><td>70</td><td>XIAO Junfeng</td><td>CHN</td><td>9.475</td><td>9.675</td><td>9.350</td><td>9.212</td><td></td><td></td><td>37.712</td></tr>
<tr class="one"><td>71</td><td>VIVO Andreu</td><td>ESP</td><td></td><td>9.662</td><td>9.500</td><td></td><td>9.600</td><td>8.850</td><td>37.612</td></tr>
<tr class="two"><td>72</td><td>SUPOLA Zoltan</td><td>HUN</td><td></td><td>9.787</td><td></td><td>9.187</td><td>9.025</td><td>9.587</td><td>37.586</td></tr>
<tr class="one"><td>73</td><td>RUDNITSKY Vitaly</td><td>BLR</td><td>9.525</td><td></td><td>9.487</td><td>9.125</td><td>9.262</td><td></td><td>37.399</td></tr>
<tr class="two"><td>74</td><td>TOBA Marius</td><td>GER</td><td></td><td>9.375</td><td>9.700</td><td>9.187</td><td>9.075</td><td></td><td>37.337</td></tr>
<tr class="one"><td>75</td><td>KRUZHILOV Aleksandr</td><td>BLR</td><td>9.462</td><td>9.237</td><td></td><td>9.025</td><td></td><td>9.500</td><td>37.224</td></tr>
<tr class="two"><td>76</td><td>IVANOV Christian</td><td>BUL</td><td></td><td></td><td>9.312</td><td>8.900</td><td>9.312</td><td>9.687</td><td>37.211</td></tr>
<tr class="one"><td>77</td><td>TSCHERNITSCHEK Rene</td><td>GER</td><td>9.037</td><td></td><td>9.362</td><td>9.212</td><td></td><td>9.387</td><td>36.998</td></tr>
<tr class="two"><td>78</td><td>BLANIK Leszek</td><td>POL</td><td></td><td>8.575</td><td>9.275</td><td>9.700</td><td>8.775</td><td></td><td>36.325</td></tr>
<tr class="one"><td>79</td><td>STEFANOV Mladen</td><td>BUL</td><td>9.087</td><td>8.975</td><td>8.837</td><td>9.387</td><td></td><td></td><td>36.286</td></tr>
<tr class="two"><td>80</td><td>ABDELRAOUF Raouf</td><td>EGY</td><td></td><td>8.300</td><td>9.100</td><td>9.462</td><td>8.350</td><td></td><td>35.212</td></tr>
<tr class="one"><td>81</td><td>FEDORCHENKO Sergey</td><td>KAZ</td><td></td><td>9.662</td><td></td><td>9.775</td><td></td><td>9.725</td><td>29.162</td></tr>
<tr class="two"><td>82</td><td>URZICA Marius</td><td>ROM</td><td></td><td>9.812</td><td></td><td></td><td>9.662</td><td>9.575</td><td>29.049</td></tr>
<tr class="one"><td>83</td><td>LEE Jang-Hyung</td><td>KOR</td><td></td><td>9.737</td><td></td><td></td><td>9.575</td><td>9.537</td><td>28.849</td></tr>
<tr class="two"><td>84</td><td>CASIMIR Eric</td><td>FRA</td><td></td><td>9.725</td><td></td><td></td><td>9.425</td><td>9.687</td><td>28.837</td></tr>
<tr class="one"><td>85</td><td>YEO Hong-Chul</td><td>KOR</td><td>9.575</td><td></td><td>9.500</td><td>9.687</td><td></td><td></td><td>28.762</td></tr>
<tr class="two"><td>86</td><td>IWAI Norimasa</td><td>JPN</td><td></td><td></td><td>9.687</td><td>9.450</td><td>9.562</td><td></td><td>28.699</td></tr>
<tr class="one"><td>87</td><td>MYEZYENTSEV Ruslan</td><td>UKR</td><td>9.337</td><td>9.700</td><td>9.425</td><td></td><td></td><td></td><td>28.462</td></tr>
<tr class="two"><td>88</td><td>ROETHLISBERGER John</td><td>USA</td><td></td><td>9.600</td><td>9.625</td><td></td><td></td><td>9.187</td><td>28.412</td></tr>
<tr class="one"><td>89</td><td>SHEWFELT Kyle</td><td>CAN</td><td>9.575</td><td></td><td></td><td>9.575</td><td></td><td></td><td>19.150</td></tr>
<tr class="two"><td>90</td><td>DEFERR Gervasio</td><td>ESP</td><td>9.375</td><td></td><td></td><td>9.712</td><td></td><td></td><td>19.087</td></tr>
<tr class="one"><td>91</td><td>TAMPAKOS Dimosthenis</td><td>GRE</td><td></td><td></td><td>9.762</td><td></td><td>8.812</td><td></td><td>18.574</td></tr>
<tr class="two"><td>92</td><td>JELTKOV Sasha</td><td>CAN</td><td>8.037</td><td></td><td></td><td></td><td></td><td>9.662</td><td>17.699</td></tr>
<tr class="one"><td>93</td><td>POUJADE Eric</td><td>FRA</td><td></td><td>9.787</td><td></td><td></td><td></td><td></td><td>9.787</td></tr>
<tr class="two"><td>94</td><td>CSOLLANY Szilveszter</td><td>HUN</td><td></td><td></td><td>9.775</td><td></td><td></td><td></td><td>9.775</td></tr>
<tr class="one"><td>95</td><td>MELISSANIDIS Ioannis</td><td>GRE</td><td></td><td></td><td></td><td>9.737</td><td></td><td></td><td>9.737</td></tr>
<tr class="two"><td>96</td><td>DREVINE Dmitri</td><td>RUS</td><td>9.225</td><td></td><td></td><td></td><td></td><td></td><td>9.225</td></tr>
<tr class="one"><td>97</td><td>PETKOVSEK Mitja</td><td>SLO</td><td></td><td></td><td></td><td></td><td>8.687</td><td></td><td>8.687</td></tr>
</table>
</div>
