---
title: "Sydney 2000 Olympics Trampoline"
year: 2000
startdate: 2000-09-18
enddate: 2000-09-25
country: "AUS"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2000/o2000tramp.html
- /olympics/2000/tra.html
---
	
{% include resultsheader.html title="Games of the 27th Olympiad<br>Trampoline<br>Sydney (AUS) September 18-25, 2000" %}

<a href="/results/2000/olympics/index.html"><img src="/assets/images/logos/p2000og.jpg"></a>

<!--Men-->
<h2 class="men">Men's Trampoline Final</h2>

<a href="documents/tramp_men.pdf" target="_blank" class="pdf">Official Results - Men's Trampoline Final</a><br>

<div class="table-scroll" tabindex="-1">
	<table class="maa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<col width="180">
	<colgroup span=8 align="center">
<tr class="men">
	<th colspan=3>Gymnast</th>
	<th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>Diff</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>MOSKALENKO Alexandre</td><td>RUS</td>
	<td>9.0</td><td>9.0</td><td>9.3</td><td>9.4</td><td>9.4</td><td>14.00</td><td>41.70</td></tr>
<tr class="two"><td>2</td><td>WALLACE Ji</td><td>AUS</td>
	<td>8.5</td><td>8.7</td><td>8.3</td><td>8.4</td><td>8.4</td><td>14.00</td><td>39.30</td></tr>
<tr class="one"><td>3</td><td>TURGEON Mathieu</td><td>CAN</td>
	<td>8.3</td><td>8.2</td><td>8.4</td><td>8.5</td><td>8.4</td><td>14.00</td><td>39.10</td></tr>
<tr class="two"><td>4</td><td>MARTIN David</td><td>FRA</td>
	<td>8.8</td><td>8.8</td><td>8.9</td><td>9.1</td><td>9.1</td><td>12.00</td><td>38.80</td></tr> 
<tr class="one"><td>5</td><td>POLYARUSH Dimitri</td><td>BLR</td>
	<td>8.4</td><td>8.4</td><td>8.6</td><td>8.4</td><td>8.5</td><td>12.80</td><td>38.10</td></tr> 
<tr class="two"><td>6</td><td>BREARLEY Lee</td><td>GBR</td>
	<td>8.4</td><td>8.5</td><td>8.3</td><td>8.3</td><td>8.4</td><td>12.80</td><td>37.90</td></tr> 
<tr class="one"><td>7</td><td>VILLAFUERTE Alan</td><td>NED</td>
	<td>5.6</td><td>5.5</td><td>5.5</td><td>5.6</td><td>5.7</td><td>10.90</td><td>27.60</td></tr> 
<tr class="two"><td>8</td><td>CHERNONOS Olexander</td><td>UKR</td>
	<td>1.5</td><td>1.6</td><td>1.5</td><td>1.5</td><td>1.5</td><td>3.00</td><td>7.50</td></tr> 
</table>
</div>

<!--Wom-->
<h2 class="wom">Women's Trampoline Final</h2>

<a href="documents/tramp_women.pdf" target="_blank" class="pdf">Official Results - Women's Trampoline Final</a><br>

<div class="table-scroll" tabindex="-1">
<table class="maa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<col width="180">
	<colgroup span=8 align="center">
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>J1</th><th>J2</th><th>J3</th><th>J4</th><th>J5</th><th>Diff</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>KARAVAEVA Irina</td><td>RUS</td>
	<td>9.0</td><td>9.0</td><td>8.8</td><td>8.8</td><td>8.8</td><td>12.30</td><td>38.90</td></tr> 
<tr class="two"><td>2</td><td>TSYHULEVA Oxana</td><td>UKR</td>
	<td>8.6</td><td>8.6</td><td>8.5</td><td>8.6</td><td>8.6</td><td>11.90</td><td>37.70</td></tr> 
<tr class="one"><td>3</td><td>COCKBURN Karen</td><td>CAN</td>
	<td>8.5</td><td>8.3</td><td>8.5</td><td>8.3</td><td>8.2</td><td>12.30</td><td>37.40</td></tr> 
<tr class="two"><td>4</td><td>KHILKO Ekaterina</td><td>UZB</td>
	<td>8.4</td><td>8.4</td><td>8.2</td><td>8.3</td><td>8.2</td><td>11.70</td><td>36.60</td></tr> 
<tr class="one"><td>5</td><td>KARPENKOVA Natalia</td><td>BLR</td>
	<td>8.3</td><td>8.5</td><td>8.3</td><td>8.2</td><td>8.1</td><td>11.00</td><td>35.80</td></tr> 
<tr class="two"><td>6</td><td>FURU Akiko</td><td>JPN</td>
	<td>8.2</td><td>8.5</td><td>8.3</td><td>8.0</td><td>8.0</td><td>10.80</td><td>35.30</td></tr> 
<tr class="one"><td>7</td><td>KHOPERIA Rusudan</td><td>GEO</td>
	<td>7.5</td><td>7.4</td><td>7.1</td><td>7.2</td><td>7.4</td><td>12.10</td><td>34.10</td></tr> 
<tr class="two"><td>8</td><td>DOGONADZE Anna</td><td>GER</td>
	<td>0.9</td><td>1.0</td><td>0.8</td><td>0.8</td><td>0.8</td><td>2.50</td><td>5.00</td></tr> 
</table>
</div>