---
title: "Sydney 2000 Olympics Women's Team Qualifications"
year: 2000
startdate: 2000-09-18
enddate: 2000-09-25
country: "AUS"
category: "olympics"
layout: results
homepage: false
redirect_from: /olympics/2000/wagqualteams.html
---
	
{% include resultsheader.html title="Games of the 27th Olympiad<br>Women's Artistic Gymnastics<br>Sydney (AUS) September 18-25, 2000<br>Team Qualifications Women" %}

<a href="/results/2000/olympics/index.html"><img src="/assets/images/logos/p2000og.jpg"></a>

<!--Teams-->
<h2 class="wom">Women's Teams Qualification - 2000 Sep 17</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<colgroup span=6 align="center">
<tr class="wom">
	<th colspan=2>Team</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="team"><td align="center" valign="top">1 </td><td valign="top">RUSSIA </td><td align="center">38.454 	<br>1 </td><td align="center">38.974 	<br>2 </td><td align="center">38.773 	<br>2 </td><td align="center">38.673 	<br>1 </td><td align="center">154.874<br>1</td></tr>
<tr class="one"><td align="center">1</td><td>KHORKINA Svetlana</td><td align="center">9.731</td><td align="center">9.850</td><td align="center">9.662</td><td align="center">9.762</td><td align="center">39.005</td></tr>
<tr class="two"><td align="center">4</td><td>LOBAZNIOUK Ekaterina</td><td align="center">9.637</td><td align="center">9.675</td><td align="center">9.762</td><td align="center">9.612</td><td align="center">38.686</td></tr>
<tr class="one"><td align="center">5</td><td>PRODOUNOVA Elena</td><td align="center">9.368</td><td align="center">9.762</td><td align="center">9.762</td><td align="center">9.637</td><td align="center">38.529</td></tr>
<tr class="two"><td align="center">7</td><td>ZAMOLODTCHIKOVA Elena</td><td align="center">9.612</td><td align="center">9.687</td><td align="center">9.375</td><td align="center">9.662</td><td align="center">38.336</td></tr>
<tr class="one"><td align="center">81</td><td>KOLESNIKOVA Anastassia</td><td align="center"></td><td align="center">9.625</td><td align="center">9.587</td><td align="center"></td><td align="center">19.212</td></tr>
<tr class="two"><td align="center">84</td><td>TCHEPELEVA Anna</td><td align="center">9.474</td><td align="center"></td><td align="center"></td><td align="center">9.425</td><td align="center">18.899</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">2</td><td valign="top">ROMANIA </td><td align="center">38.343 	<br>2 </td><td align="center">38.287 	<br>8 </td><td align="center">38.912 	<br>1 </td><td align="center">38.449 	<br>2 </td><td align="center">153.991<br>2</td></tr>
<tr class="one"><td align="center">2</td><td>RADUCAN Andreea</td><td align="center">9.743</td><td align="center">9.562</td><td align="center">9.675</td><td align="center">9.737</td><td align="center">38.717</td></tr>
<tr class="two"><td align="center">3</td><td>AMANAR Simona</td><td align="center">9.725</td><td align="center">9.550</td><td align="center">9.625</td><td align="center">9.800</td><td align="center">38.700</td></tr>
<tr class="one"><td align="center">10</td><td>OLARU Maria</td><td align="center">9.625</td><td align="center">9.225</td><td align="center">9.787</td><td align="center">9.575</td><td align="center">38.212</td></tr>
<tr class="two"><td align="center">17</td><td>BOBOC Loredana</td><td align="center">9.250</td><td align="center">9.550</td><td align="center">9.675</td><td align="center">9.337</td><td align="center">37.812</td></tr>
<tr class="one"><td align="center">86</td><td>ISARESCU Andreea</td><td align="center">9.193</td><td align="center">9.625</td><td align="center"></td><td align="center"></td><td align="center">18.818</td></tr>
<tr class="two"><td align="center">88</td><td>PRESACAN Claudia</td><td align="center"></td><td align="center"></td><td align="center">9.775</td><td align="center">8.925</td><td align="center">18.700</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">3</td><td valign="top">CHINA </td><td align="center">37.529 	<br>5 </td><td align="center">39.036 	<br>1 </td><td align="center">38.461 	<br>4 </td><td align="center">38.362 	<br>3 </td><td align="center">153.388<br>3</td></tr>
<tr class="one"><td align="center">6</td><td>YANG Yun</td><td align="center">9.299</td><td align="center">9.775</td><td align="center">9.700</td><td align="center">9.650</td><td align="center">38.424</td></tr>
<tr class="two"><td align="center">9</td><td>DONG Fangxiao</td><td align="center">9.581</td><td align="center">9.687</td><td align="center">9.287</td><td align="center">9.675</td><td align="center">38.230</td></tr>
<tr class="one"><td align="center">21</td><td>LIU Xuan</td><td align="center">8.893</td><td align="center">9.650</td><td align="center">9.712</td><td align="center">9.337</td><td align="center">37.592</td></tr>
<tr class="two"><td align="center">65</td><td>LING Jie</td><td align="center">9.268</td><td align="center">9.812</td><td align="center">9.762</td><td align="center">0.000</td><td align="center">28.842</td></tr>
<tr class="one"><td align="center">80</td><td>HUANG Mandan</td><td align="center"></td><td align="center">9.762</td><td align="center"></td><td align="center">9.487</td><td align="center">19.249</td></tr>
<tr class="two"><td align="center">83</td><td>KUI Yuanyuan</td><td align="center">9.381</td><td align="center"></td><td align="center"></td><td align="center">9.550</td><td align="center">18.931</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">4</td><td valign="top">UKRAINE </td><td align="center">37.067 	<br>7 </td><td align="center">38.836 	<br>3 </td><td align="center">38.524 	<br>3 </td><td align="center">37.487 	<br>6 </td><td align="center">151.914<br>4</td></tr>
<tr class="one"><td align="center">11</td><td>ROSHCHUPKINA Olga</td><td align="center">9.262</td><td align="center">9.712</td><td align="center">9.625</td><td align="center">9.575</td><td align="center">38.174</td></tr>
<tr class="two"><td align="center">16</td><td>KARPENKO Viktoriya</td><td align="center">9.250</td><td align="center">9.787</td><td align="center">9.537</td><td align="center">9.300</td><td align="center">37.874</td></tr>
<tr class="one"><td align="center">25</td><td>TYRYK Halyna</td><td align="center">8.974</td><td align="center">9.650</td><td align="center">9.500</td><td align="center">9.337</td><td align="center">37.461</td></tr>
<tr class="two"><td align="center">29</td><td>YAROSH Tetyana</td><td align="center">8.818</td><td align="center">9.512</td><td align="center">9.712</td><td align="center">9.275</td><td align="center">37.317</td></tr>
<tr class="one"><td align="center">67</td><td>TESLENKO Olha</td><td align="center"></td><td align="center">9.687</td><td align="center">9.650</td><td align="center">9.162</td><td align="center">28.499</td></tr>
<tr class="two"><td align="center">93</td><td>KVASHA Alona</td><td align="center">9.581</td><td align="center"></td><td align="center"></td><td align="center"></td><td align="center">9.581</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">5</td><td valign="top">SPAIN </td><td align="center">38.097 	<br>3 </td><td align="center">38.612 	<br>4 </td><td align="center">36.987 	<br>11 </td><td align="center">37.862 	<br>5 </td><td align="center">151.558<br>5</td></tr>
<tr class="one"><td align="center">8</td><td>MOYA Esther</td><td align="center">9.768</td><td align="center">9.637</td><td align="center">9.175</td><td align="center">9.700</td><td align="center">38.280</td></tr>
<tr class="two"><td align="center">12</td><td>MARTINEZ Laura</td><td align="center">9.649</td><td align="center">9.650</td><td align="center">9.250</td><td align="center">9.612</td><td align="center">38.161</td></tr>
<tr class="one"><td align="center">19</td><td>MORO Sara</td><td align="center">9.243</td><td align="center">9.625</td><td align="center">9.562</td><td align="center">9.275</td><td align="center">37.705</td></tr>
<tr class="two"><td align="center">71</td><td>GARCIA Susana</td><td align="center"></td><td align="center">9.700</td><td align="center">9.000</td><td align="center">9.275</td><td align="center">27.975</td></tr>
<tr class="one"><td align="center">76</td><td>CUSIDO Marta</td><td align="center">9.100</td><td align="center">9.050</td><td align="center">8.962</td><td align="center"></td><td align="center">27.112</td></tr>
<tr class="two"><td align="center">90</td><td>MORO Paloma</td><td align="center">9.437</td><td align="center"></td><td align="center"></td><td align="center">8.625</td><td align="center">18.062</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">6</td><td valign="top">UNITED STATES </td><td align="center">37.654 	<br>4 </td><td align="center">38.562 	<br>5 </td><td align="center">37.861 	<br>6 </td><td align="center">37.362 	<br>8 </td><td align="center">151.439<br>6</td></tr>
<tr class="one"><td align="center">13</td><td>RAY Elise</td><td align="center">9.468</td><td align="center">9.687</td><td align="center">9.687</td><td align="center">9.225</td><td align="center">38.067</td></tr>
<tr class="two"><td align="center">14</td><td>CHOW Amy</td><td align="center">9.468</td><td align="center">9.400</td><td align="center">9.625</td><td align="center">9.525</td><td align="center">38.018</td></tr>
<tr class="one"><td align="center">20</td><td>MALONEY Kristin</td><td align="center">9.225</td><td align="center">9.575</td><td align="center">9.312</td><td align="center">9.525</td><td align="center">37.637</td></tr>
<tr class="two"><td align="center">41</td><td>DAWES Dominique</td><td align="center">9.393</td><td align="center">9.675</td><td align="center">8.600</td><td align="center">9.087</td><td align="center">36.755</td></tr>
<tr class="one"><td align="center">85</td><td>SCHWIKERT-WARREN Tasha</td><td align="center"></td><td align="center">9.625</td><td align="center">9.237</td><td align="center"></td><td align="center">18.862</td></tr>
<tr class="two"><td align="center">89</td><td>DANTZSCHER Jamie</td><td align="center">9.325</td><td align="center"></td><td align="center"></td><td align="center">8.987</td><td align="center">18.312</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">7</td><td valign="top">AUSTRALIA </td><td align="center">36.423 	<br>12 </td><td align="center">38.561 	<br>6 </td><td align="center">37.736 	<br>8 </td><td align="center">38.337 	<br>4 </td><td align="center">151.057<br>7</td></tr>
<tr class="one"><td align="center">18</td><td>SKINNER Lisa</td><td align="center">9.156</td><td align="center">9.687</td><td align="center">9.162</td><td align="center">9.725</td><td align="center">37.730</td></tr>
<tr class="two"><td align="center">39</td><td>SLATER Allana</td><td align="center">8.268</td><td align="center">9.675</td><td align="center">9.387</td><td align="center">9.625</td><td align="center">36.955</td></tr>
<tr class="one"><td align="center">44</td><td>WALKER Brooke</td><td align="center">8.368</td><td align="center">9.562</td><td align="center">9.175</td><td align="center">9.375</td><td align="center">36.480</td></tr>
<tr class="two"><td align="center">66</td><td>McINTOSH Trudy</td><td align="center">9.506</td><td align="center"></td><td align="center">9.612</td><td align="center">9.612</td><td align="center">28.730</td></tr>
<tr class="one"><td align="center">70</td><td>CROAK Alexandra</td><td align="center"></td><td align="center">9.275</td><td align="center">9.562</td><td align="center">9.250</td><td align="center">28.087</td></tr>
<tr class="two"><td align="center">82</td><td>CLELAND Melinda</td><td align="center">9.393</td><td align="center">9.637</td><td align="center"></td><td align="center"></td><td align="center">19.030</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">8</td><td valign="top">FRANCE </td><td align="center">36.823 	<br>9 </td><td align="center">37.912 	<br>9 </td><td align="center">38.100 	<br>5 </td><td align="center">37.249 	<br>9 </td><td align="center">150.084<br>8</td></tr>
<tr class="one"><td align="center">24</td><td>REGEASE Delphine</td><td align="center">9.150</td><td align="center">9.212</td><td align="center">9.625</td><td align="center">9.562</td><td align="center">37.549</td></tr>
<tr class="two"><td align="center">30</td><td>SOLER Alexandra</td><td align="center">9.318</td><td align="center">9.475</td><td align="center">9.375</td><td align="center">9.050</td><td align="center">37.218</td></tr>
<tr class="one"><td align="center">35</td><td>RAMASSAMY Nelly</td><td align="center">9.212</td><td align="center">9.212</td><td align="center">9.550</td><td align="center">9.050</td><td align="center">37.024</td></tr>
<tr class="two"><td align="center">37</td><td>TEZA Elvire</td><td align="center">8.950</td><td align="center">9.700</td><td align="center">9.550</td><td align="center">8.762</td><td align="center">36.962</td></tr>
<tr class="one"><td align="center">69</td><td>ENDELER Anne-Sophie</td><td align="center">9.143</td><td align="center"></td><td align="center">9.375</td><td align="center">9.587</td><td align="center">28.105</td></tr>
<tr class="two"><td align="center">94</td><td>FURNON Ludivine</td><td align="center"></td><td align="center">9.525</td><td align="center"></td><td align="center"></td><td align="center">9.525</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">9</td><td valign="top">CANADA </td><td align="center">36.654 	<br>10 </td><td align="center">38.311 	<br>7 </td><td align="center">37.811 	<br>7 </td><td align="center">37.111 	<br>10 </td><td align="center">149.887<br>9<br>
<tr class="one"><td align="center">15</td><td>TOUSEK Yvonne</td><td align="center">9.131</td><td align="center">9.662</td><td align="center">9.537</td><td align="center">9.550</td><td align="center">37.880</td></tr>
<tr class="two"><td align="center">28</td><td>RICHARDSON Kate</td><td align="center">9.287</td><td align="center">9.612</td><td align="center">9.075</td><td align="center">9.362</td><td align="center">37.336</td></tr>
<tr class="one"><td align="center">51</td><td>LEVEILLE Lise</td><td align="center">8.912</td><td align="center">9.400</td><td align="center">9.425</td><td align="center">8.587</td><td align="center">36.324</td></tr>
<tr class="two"><td align="center">52</td><td>BEAULIEU Julie</td><td align="center">9.093</td><td align="center">9.587</td><td align="center">9.412</td><td align="center">7.912</td><td align="center">36.004</td></tr>
<tr class="one"><td align="center">68</td><td>CONWAY Michelle</td><td align="center">9.143</td><td align="center">9.450</td><td align="center"></td><td align="center">9.612</td><td align="center">28.205</td></tr>
<tr class="two"><td align="center">95</td><td>GILMORE Crystal</td><td align="center"></td><td align="center"></td><td align="center">9.437</td><td align="center"></td><td align="center">9.437</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">10</td><td valign="top">GREAT BRITAIN </td><td align="center">37.086 	<br>6 </td><td align="center">37.449 	<br>12 </td><td align="center">37.536 	<br>9 </td><td align="center">37.412 	<br>7 </td><td align="center">149.483<br>10</td></tr>
<tr class="one"><td align="center">22</td><td>MASON Lisa</td><td align="center">9.231</td><td align="center">9.350</td><td align="center">9.662</td><td align="center">9.337</td><td align="center">37.580</td></tr>
<tr class="two"><td align="center">27</td><td>REEDER Annika</td><td align="center">9.331</td><td align="center">9.437</td><td align="center">9.275</td><td align="center">9.325</td><td align="center">37.368</td></tr>
<tr class="one"><td align="center">38</td><td>WILLIAMS Emma</td><td align="center">9.187</td><td align="center">9.262</td><td align="center">9.237</td><td align="center">9.275</td><td align="center">36.961</td></tr>
<tr class="two"><td align="center">72</td><td>MURRAY Sharna</td><td align="center">9.056</td><td align="center">9.400</td><td align="center">9.362</td><td align="center"></td><td align="center">27.818</td></tr>
<tr class="one"><td align="center">74</td><td>HACKMAN Kelly</td><td align="center"></td><td align="center">9.262</td><td align="center">9.212</td><td align="center">8.900</td><td align="center">27.374</td></tr>
<tr class="two"><td align="center">87</td><td>THOMAS Paula</td><td align="center">9.337</td><td align="center"></td><td align="center"></td><td align="center">9.475</td><td align="center">18.812</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">11</td><td valign="top">ITALY </td><td align="center">36.853 	<br>8 </td><td align="center">37.574 	<br>11 </td><td align="center">37.362 	<br>10 </td><td align="center">36.849 	<br>11 </td><td align="center">148.638<br>11</td></tr>
<tr class="one"><td align="center">26</td><td>BERGAMELLI Monica</td><td align="center">9.449</td><td align="center">9.387</td><td align="center">9.325</td><td align="center">9.300</td><td align="center">37.461</td></tr>
<tr class="two"><td align="center">31</td><td>CRISCI Adriana</td><td align="center">8.937</td><td align="center">9.500</td><td align="center">9.437</td><td align="center">9.312</td><td align="center">37.186</td></tr>
<tr class="one"><td align="center">36</td><td>BREMINI Martina</td><td align="center">9.043</td><td align="center">9.550</td><td align="center">9.275</td><td align="center">9.137</td><td align="center">37.005</td></tr>
<tr class="two"><td align="center">56</td><td>CASTELLI Irene</td><td align="center">9.037</td><td align="center">9.075</td><td align="center">8.812</td><td align="center">8.437</td><td align="center">35.361</td></tr>
<tr class="one"><td align="center">73</td><td>CAPITANI Alice</td><td align="center">9.324</td><td align="center"></td><td align="center">9.325</td><td align="center">9.100</td><td align="center">27.749</td></tr>
<tr class="two"><td align="center">96</td><td>TREFILETTI Laura</td><td align="center"></td><td align="center">9.137</td><td align="center"></td><td align="center"></td><td align="center">9.137</td></tr>
<tr bgcolor="#000000"><td colspan="8"style="height:1px; padding:0px;"></td></tr>
<tr class="team"><td align="center" valign="top">12</td><td valign="top">BELARUS </td><td align="center">36.617 	<br>11 </td><td align="center">37.874 	<br>10 </td><td align="center">36.187 	<br>12 </td><td align="center">35.900 	<br>12 </td><td align="center">146.578<br>12</td></tr>
<tr class="one"><td align="center">23</td><td>POLOZKOVA Alena</td><td align="center">9.106</td><td align="center">9.575</td><td align="center">9.375</td><td align="center">9.500</td><td align="center">37.556</td></tr>
<tr class="two"><td align="center">40</td><td>ZARZHITSKAYA Marina</td><td align="center">9.431</td><td align="center">9.237</td><td align="center">9.050</td><td align="center">9.050</td><td align="center">36.768</td></tr>
<tr class="one"><td align="center">46</td><td>ZHARGANOVA Tatyana</td><td align="center">9.018</td><td align="center">9.712</td><td align="center">9.212</td><td align="center">8.500</td><td align="center">36.442</td></tr>
<tr class="two"><td align="center">75</td><td>NARANOVICH Natalya</td><td align="center">8.949</td><td align="center">9.350</td><td align="center"></td><td align="center">8.850</td><td align="center">27.149</td></tr>
<tr class="one"><td align="center">79</td><td>GRIGORENKO Tatyana</td><td align="center">9.062</td><td align="center"></td><td align="center">8.425</td><td align="center">7.200</td><td align="center">24.687</td></tr>
<tr class="two"><td align="center">91</td><td>MEISAK Anna</td><td align="center"></td><td align="center">8.812</td><td align="center">8.550</td><td align="center"></td><td align="center">17.362</td></tr>
</table>
</div>

