---
title: "Sydney 2000 Olympics Women's All Around Qualifications"
year: 2000
startdate: 2000-09-18
enddate: 2000-09-25
country: "AUS"
category: "olympics"
layout: results
homepage: false
redirect_from: 
- /2000/o2000wq.html
- /olympics/2000/wagqual.html
---
	
{% include resultsheader.html title="Games of the 27th Olympiad<br>Women's Artistic Gymnastics<br>Sydney (AUS) September 18-25, 2000<br>All Around Qualifications Women" %}

<a href="/results/2000/olympics/index.html"><img src="/assets/images/logos/p2000og.jpg"></a>

<!--01-->
<h2 class="wom">Women's All Around Qualification - Ranks 1-30</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<colgroup span=6 align="center">
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>1</td><td>KHORKINA Svetlana</td><td>RUS</td><td>9.731</td><td>9.850</td><td>9.662</td><td>9.762</td><td>39.005</td></tr><tr class="two"><td>2</td><td>RADUCAN Andreea</td><td>ROM</td><td>9.743</td><td>9.562</td><td>9.675</td><td>9.737</td><td>38.717</td></tr><tr class="one"><td>3</td><td>AMANAR Simona</td><td>ROM</td><td>9.725</td><td>9.550</td><td>9.625</td><td>9.800</td><td>38.700</td></tr>
<tr class="two"><td>4</td><td>LOBAZNIOUK Ekaterina</td><td>RUS</td><td>9.637</td><td>9.675</td><td>9.762</td><td>9.612</td><td>38.686</td></tr><tr class="one"><td>5</td><td>PRODOUNOVA Elena</td><td>RUS</td><td>9.368</td><td>9.762</td><td>9.762</td><td>9.637</td><td>38.529</td></tr>
<tr class="two"><td>6</td><td>YANG Yun</td><td>CHN</td><td>9.299</td><td>9.775</td><td>9.700</td><td>9.650</td><td>38.424</td></tr>
<tr class="one"><td>7</td><td>ZAMOLODTCHIKOVA Elena</td><td>RUS</td><td>9.612</td><td>9.687</td><td>9.375</td><td>9.662</td><td>38.336</td></tr>
<tr class="two"><td>8</td><td>MOYA Esther</td><td>ESP</td><td>9.768</td><td>9.637</td><td>9.175</td><td>9.700</td><td>38.280</td></tr>
<tr class="one"><td>9</td><td>DONG Fangxiao</td><td>CHN</td><td>9.581</td><td>9.687</td><td>9.287</td><td>9.675</td><td>38.230</td></tr>
<tr class="two"><td>10</td><td>OLARU Maria</td><td>ROM</td><td>9.625</td><td>9.225</td><td>9.787</td><td>9.575</td><td>38.212</td></tr>
<tr class="one"><td>11</td><td>ROSHCHUPKINA Olga</td><td>UKR</td><td>9.262</td><td>9.712</td><td>9.625</td><td>9.575</td><td>38.174</td></tr>
<tr class="two"><td>12</td><td>MARTINEZ Laura</td><td>ESP</td><td>9.649</td><td>9.650</td><td>9.250</td><td>9.612</td><td>38.161</td></tr>
<tr class="one"><td>13</td><td>RAY Elise</td><td>USA</td><td>9.468</td><td>9.687</td><td>9.687</td><td>9.225</td><td>38.067</td></tr>
<tr class="two"><td>14</td><td>CHOW Amy</td><td>USA</td><td>9.468</td><td>9.400</td><td>9.625</td><td>9.525</td><td>38.018</td></tr>
<tr class="one"><td>15</td><td>TOUSEK Yvonne</td><td>CAN</td><td>9.131</td><td>9.662</td><td>9.537</td><td>9.550</td><td>37.880</td></tr>
<tr class="two"><td>16</td><td>KARPENKO Viktoriya</td><td>UKR</td><td>9.250</td><td>9.787</td><td>9.537</td><td>9.300</td><td>37.874</td></tr>
<tr class="one"><td>17</td><td>BOBOC Loredana</td><td>ROM</td><td>9.250</td><td>9.550</td><td>9.675</td><td>9.337</td><td>37.812</td></tr>
<tr class="two"><td>18</td><td>SKINNER Lisa</td><td>AUS</td><td>9.156</td><td>9.687</td><td>9.162</td><td>9.725</td><td>37.730</td></tr>
<tr class="one"><td>19</td><td>MORO Sara</td><td>ESP</td><td>9.243</td><td>9.625</td><td>9.562</td><td>9.275</td><td>37.705</td></tr>
<tr class="two"><td>20</td><td>MALONEY Kristin</td><td>USA</td><td>9.225</td><td>9.575</td><td>9.312</td><td>9.525</td><td>37.637</td></tr>
<tr class="one"><td>21</td><td>LIU Xuan</td><td>CHN</td><td>8.893</td><td>9.650</td><td>9.712</td><td>9.337</td><td>37.592</td></tr>
<tr class="two"><td>22</td><td>MASON Lisa</td><td>GBR</td><td>9.231</td><td>9.350</td><td>9.662</td><td>9.337</td><td>37.580</td></tr>
<tr class="one"><td>23</td><td>POLOZKOVA Alena</td><td>BLR</td><td>9.106</td><td>9.575</td><td>9.375</td><td>9.500</td><td>37.556</td></tr>
<tr class="two"><td>24</td><td>REGEASE Delphine</td><td>FRA</td><td>9.150</td><td>9.212</td><td>9.625</td><td>9.562</td><td>37.549</td></tr>
<tr class="one"><td>25</td><td>TYRYK Halyna</td><td>UKR</td><td>8.974</td><td>9.650</td><td>9.500</td><td>9.337</td><td>37.461</td></tr>
<tr class="two"><td>26</td><td>BERGAMELLI Monica</td><td>ITA</td><td>9.449</td><td>9.387</td><td>9.325</td><td>9.300</td><td>37.461</td></tr>
<tr class="one"><td>27</td><td>REEDER Annika</td><td>GBR</td><td>9.331</td><td>9.437</td><td>9.275</td><td>9.325</td><td>37.368</td></tr>
<tr class="two"><td>28</td><td>RICHARDSON Kate</td><td>CAN</td><td>9.287</td><td>9.612</td><td>9.075</td><td>9.362</td><td>37.336</td></tr>
<tr class="one"><td>29</td><td>YAROSH Tetyana</td><td>UKR</td><td>8.818</td><td>9.512</td><td>9.712</td><td>9.275</td><td>37.317</td></tr>
<tr class="two"><td>30</td><td>SOLER Alexandra</td><td>FRA</td><td>9.318</td><td>9.475</td><td>9.375</td><td>9.050</td><td>37.218</td></tr>
</table>
</div>

<!--31-->
<h2 class="wom">Women's All Around Qualification - Ranks 31-60</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<colgroup span=6 align="center">
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>31</td><td>CRISCI Adriana</td><td>ITA</td><td>8.937</td><td>9.500</td><td>9.437</td><td>9.312</td><td>37.186</td></tr>
<tr class="two"><td>32</td><td>YAMAWAKI Kana</td><td>JPN</td><td>9.356</td><td>9.500</td><td>9.025</td><td>9.300</td><td>37.181</td></tr>
<tr class="one"><td>33</td><td>KOMRSKOVA Jana</td><td>CZE</td><td>9.500</td><td>9.537</td><td>9.562</td><td>8.525</td><td>37.124</td></tr>
<tr class="two"><td>34</td><td>HYPOLITO Daniele</td><td>BRA</td><td>9.325</td><td>9.062</td><td>9.462</td><td>9.262</td><td>37.111</td></tr>
<tr class="one"><td>35</td><td>RAMASSAMY Nelly</td><td>FRA</td><td>9.212</td><td>9.212</td><td>9.550</td><td>9.050</td><td>37.024</td></tr>
<tr class="two"><td>36</td><td>BREMINI Martina</td><td>ITA</td><td>9.043</td><td>9.550</td><td>9.275</td><td>9.137</td><td>37.005</td></tr>
<tr class="one"><td>37</td><td>TEZA Elvire</td><td>FRA</td><td>8.950</td><td>9.700</td><td>9.550</td><td>8.762</td><td>36.962</td></tr>
<tr class="two"><td>38</td><td>WILLIAMS Emma</td><td>GBR</td><td>9.187</td><td>9.262</td><td>9.237</td><td>9.275</td><td>36.961</td></tr>
<tr class="one"><td>39</td><td>SLATER Allana</td><td>AUS</td><td>8.268</td><td>9.675</td><td>9.387</td><td>9.625</td><td>36.955</td></tr>
<tr class="two"><td>40</td><td>ZARZHITSKAYA Marina</td><td>BLR</td><td>9.431</td><td>9.237</td><td>9.050</td><td>9.050</td><td>36.768</td></tr>
<tr class="one"><td>41</td><td>DAWES Dominique</td><td>USA</td><td>9.393</td><td>9.675</td><td>8.600</td><td>9.087</td><td>36.755</td></tr>
<tr class="two"><td>42</td><td>MOK Un-Ju</td><td>PRK</td><td>9.031</td><td>9.237</td><td>9.475</td><td>8.825</td><td>36.568</td></tr>
<tr class="one"><td>43</td><td>PERSOON Sigrid</td><td>BEL</td><td>9.437</td><td>9.150</td><td>8.862</td><td>9.062</td><td>36.511</td></tr>
<tr class="two"><td>44</td><td>WALKER Brooke</td><td>AUS</td><td>8.368</td><td>9.562</td><td>9.175</td><td>9.375</td><td>36.480</td></tr>
<tr class="one"><td>45</td><td>CHUSOVITINA Oksana</td><td>UZB</td><td>9.375</td><td>8.450</td><td>9.150</td><td>9.475</td><td>36.450</td></tr>
<tr class="two"><td>46</td><td>ZHARGANOVA Tatyana</td><td>BLR</td><td>9.018</td><td>9.712</td><td>9.212</td><td>8.500</td><td>36.442</td></tr>
<tr class="one"><td>47</td><td>YEVDOKIMOVA Irina</td><td>KAZ</td><td>9.131</td><td>9.062</td><td>9.037</td><td>9.187</td><td>36.417</td></tr>
<tr class="two"><td>48</td><td>SIROLLI Melina</td><td>ARG</td><td>9.256</td><td>9.037</td><td>8.950</td><td>9.162</td><td>36.405</td></tr>
<tr class="one"><td>49</td><td>COMIN Camila</td><td>BRA</td><td>9.112</td><td>9.450</td><td>9.200</td><td>8.562</td><td>36.324</td></tr>
<tr class="two"><td>50</td><td>LOVERA Arlen</td><td>VEN</td><td>9.087</td><td>9.362</td><td>9.300</td><td>8.575</td><td>36.324</td></tr>
<tr class="one"><td>51</td><td>LEVEILLE Lise</td><td>CAN</td><td>8.912</td><td>9.400</td><td>9.425</td><td>8.587</td><td>36.324</td></tr>
<tr class="two"><td>52</td><td>BEAULIEU Julie</td><td>CAN</td><td>9.093</td><td>9.587</td><td>9.412</td><td>7.912</td><td>36.004</td></tr>
<tr class="one"><td>53</td><td>KOVALIOVA Julija</td><td>LTU</td><td>8.737</td><td>9.575</td><td>8.462</td><td>9.225</td><td>35.999</td></tr>
<tr class="two"><td>54</td><td>TAKENAKA Miho</td><td>JPN</td><td>9.125</td><td>8.750</td><td>9.300</td><td>8.725</td><td>35.900</td></tr>
<tr class="one"><td>55</td><td>MILLOUSI Vasiliki</td><td>GRE</td><td>8.987</td><td>9.037</td><td>8.612</td><td>8.962</td><td>35.598</td></tr>
<tr class="two"><td>56</td><td>CASTELLI Irene</td><td>ITA</td><td>9.037</td><td>9.075</td><td>8.812</td><td>8.437</td><td>35.361</td></tr>
<tr class="one"><td>57</td><td>ROBERTSON Laura</td><td>NZL</td><td>8.899</td><td>8.600</td><td>8.837</td><td>9.012</td><td>35.348</td></tr>
<tr class="two"><td>58</td><td>CHOI Mi-Sun</td><td>KOR</td><td>9.056</td><td>8.537</td><td>8.662</td><td>9.075</td><td>35.330</td></tr>
<tr class="one"><td>59</td><td>SEKEROVA Zuzana</td><td>SVK</td><td>8.743</td><td>9.087</td><td>9.462</td><td>7.325</td><td>34.617</td></tr>
<tr class="two"><td>60</td><td>SKOWRONSKA Joanna</td><td>POL</td><td>8.750</td><td>8.962</td><td>8.450</td><td>8.425</td><td>34.587</td></tr>
</table>
</div>

<!--61-->
<h2 class="wom">Women's All Around Qualification - Ranks 61-97</h2>
<div class="table-scroll" tabindex="-1">
<table class="waa" width="100%">
	<colgroup span=1 align="right">
	<colgroup span=1>
	<colgroup span=6 align="center">
<tr class="wom">
	<th colspan=3>Gymnast</th>
	<th>VT</th><th>UB</th><th>BB</th><th>FX</th><th>Total</th></tr>
<tr class="one"><td>61</td><td>CHRISTOFORIDOU Aikaterini</td><td>GRE</td><td>9.099</td><td>8.125</td><td>8.525</td><td>8.750</td><td>34.499</td></tr>
<tr class="two"><td>62</td><td>MAVRIC Mojca</td><td>SLO</td><td>8.512</td><td>8.212</td><td>8.525</td><td>8.825</td><td>34.074</td></tr>
<tr class="one"><td>63</td><td>MARESOVA Katerina</td><td>CZE</td><td>8.118</td><td>8.975</td><td>9.387</td><td>7.212</td><td>33.692</td></tr>
<tr class="two"><td>64</td><td>GELDENHUYS Gharde</td><td>NAM</td><td>8.537</td><td>7.662</td><td>7.762</td><td>8.575</td><td>32.536</td></tr>
<tr class="one"><td>65</td><td>LING Jie</td><td>CHN</td><td>9.268</td><td>9.812</td><td>9.762</td><td>0.000</td><td>28.842</td></tr>
<tr class="two"><td>66</td><td>McINTOSH Trudy</td><td>AUS</td><td>9.506</td><td></td><td>9.612</td><td>9.612</td><td>28.730</td></tr>
<tr class="one"><td>67</td><td>TESLENKO Olha</td><td>UKR</td><td></td><td>9.687</td><td>9.650</td><td>9.162</td><td>28.499</td></tr>
<tr class="two"><td>68</td><td>CONWAY Michelle</td><td>CAN</td><td>9.143</td><td>9.450</td><td></td><td>9.612</td><td>28.205</td></tr>
<tr class="one"><td>69</td><td>ENDELER Anne-Sophie</td><td>FRA</td><td>9.143</td><td></td><td>9.375</td><td>9.587</td><td>28.105</td></tr>
<tr class="two"><td>70</td><td>CROAK Alexandra</td><td>AUS</td><td></td><td>9.275</td><td>9.562</td><td>9.250</td><td>28.087</td></tr>
<tr class="one"><td>71</td><td>GARCIA Susana</td><td>ESP</td><td></td><td>9.700</td><td>9.000</td><td>9.275</td><td>27.975</td></tr>
<tr class="two"><td>72</td><td>MURRAY Sharna</td><td>GBR</td><td>9.056</td><td>9.400</td><td>9.362</td><td></td><td>27.818</td></tr>
<tr class="one"><td>73</td><td>CAPITANI Alice</td><td>ITA</td><td>9.324</td><td></td><td>9.325</td><td>9.100</td><td>27.749</td></tr>
<tr class="two"><td>74</td><td>HACKMAN Kelly</td><td>GBR</td><td></td><td>9.262</td><td>9.212</td><td>8.900</td><td>27.374</td></tr>
<tr class="one"><td>75</td><td>NARANOVICH Natalya</td><td>BLR</td><td>8.949</td><td>9.350</td><td></td><td>8.850</td><td>27.149</td></tr>
<tr class="two"><td>76</td><td>CUSIDO Marta</td><td>ESP</td><td>9.100</td><td>9.050</td><td>8.962</td><td></td><td>27.112</td></tr>
<tr class="one"><td>77</td><td>NYESTE Adrienn</td><td>HUN</td><td>9.262</td><td>8.850</td><td></td><td>8.875</td><td>26.987</td></tr>
<tr class="two"><td>78</td><td>SON Un-Hui</td><td>PRK</td><td></td><td>9.425</td><td>8.212</td><td>8.537</td><td>26.174</td></tr>
<tr class="one"><td>79</td><td>GRIGORENKO Tatyana</td><td>BLR</td><td>9.062</td><td></td><td>8.425</td><td>7.200</td><td>24.687</td></tr>
<tr class="two"><td>80</td><td>HUANG Mandan</td><td>CHN</td><td></td><td>9.762</td><td></td><td>9.487</td><td>19.249</td></tr>
<tr class="one"><td>81</td><td>KOLESNIKOVA Anastassia</td><td>RUS</td><td></td><td>9.625</td><td>9.587</td><td></td><td>19.212</td></tr>
<tr class="two"><td>82</td><td>CLELAND Melinda</td><td>AUS</td><td>9.393</td><td>9.637</td><td></td><td></td><td>19.030</td></tr>
<tr class="one"><td>83</td><td>KUI Yuanyuan</td><td>CHN</td><td>9.381</td><td></td><td></td><td>9.550</td><td>18.931</td></tr>
<tr class="two"><td>84</td><td>TCHEPELEVA Anna</td><td>RUS</td><td>9.474</td><td></td><td></td><td>9.425</td><td>18.899</td></tr>
<tr class="one"><td>85</td><td>SCHWIKERT-WARREN Tasha</td><td>USA</td><td></td><td>9.625</td><td>9.237</td><td></td><td>18.862</td></tr>
<tr class="two"><td>86</td><td>ISARESCU Andreea</td><td>ROM</td><td>9.193</td><td>9.625</td><td></td><td></td><td>18.818</td></tr>
<tr class="one"><td>87</td><td>THOMAS Paula</td><td>GBR</td><td>9.337</td><td></td><td></td><td>9.475</td><td>18.812</td></tr>
<tr class="two"><td>88</td><td>PRESACAN Claudia</td><td>ROM</td><td></td><td></td><td>9.775</td><td>8.925</td><td>18.700</td></tr>
<tr class="one"><td>89</td><td>DANTZSCHER Jamie</td><td>USA</td><td>9.325</td><td></td><td></td><td>8.987</td><td>18.312</td></tr>
<tr class="two"><td>90</td><td>MORO Paloma</td><td>ESP</td><td>9.437</td><td></td><td></td><td>8.625</td><td>18.062</td></tr>
<tr class="one"><td>91</td><td>MEISAK Anna</td><td>BLR</td><td></td><td>8.812</td><td>8.550</td><td></td><td>17.362</td></tr>
<tr class="two"><td>92</td><td>LOPEZ Denisse</td><td>MEX</td><td>9.631</td><td></td><td></td><td></td><td>9.631</td></tr>
<tr class="one"><td>93</td><td>KVASHA Alona</td><td>UKR</td><td>9.581</td><td></td><td></td><td></td><td>9.581</td></tr>
<tr class="two"><td>94</td><td>FURNON Ludivine</td><td>FRA</td><td></td><td>9.525</td><td></td><td></td><td>9.525</td></tr>
<tr class="one"><td>95</td><td>GILMORE Crystal</td><td>CAN</td><td></td><td></td><td>9.437</td><td></td><td>9.437</td></tr>
<tr class="two"><td>96</td><td>TREFILETTI Laura</td><td>ITA</td><td></td><td>9.137</td><td></td><td></td><td>9.137</td></tr>
<tr class="one"><td>97</td><td>YEN Au Li</td><td>MAS</td><td></td><td>6.525</td><td></td><td></td><td>6.525</td></tr>
</table>
</div>